#cal_display_panel{
	height: 125px;
	text-align: center;
}
	.display_year{
		font-size: 20px;
		margin-right: 10px;
	}
	.display_month{
		font-size: 35px;
		line-height: 40px;
		font-weight: bold;
		color: #fe4e65;
	}
.pages{
	position: absolute;
	top: 125px;
	transition: 0.2s ease-in-out;
	background-color: #ffffff;
	/* transition-timing-function: ease; */
}


.cal_week_line{
	display: table;
	width: 100%;
	text-align: center;
	height: 58px;
	line-height: 40px;
	border-bottom: 1px solid #cccccc;
	border-collapse: collapse;
	table-layout: fixed;
}
.cal_week_line > div{
	display: table-cell;
	width: 14.285%;
	padding: 0px 10px;
}


.week_time_line{
	width: 100%;
	display: table;
}
.week_time_line > div{
	display: table;
	width: 12.5%;
}

.week_cal_time_text{
	font-size: 11px;
}
.week_row{
	width: 100%;
	display: table;
	border-collapse: collapse;
}
.week_row > div{
	position: relative;
	display: table-cell;
	width: 12.5%;
}
.week_row article{
	height: 40px;
	text-align: center;
	font-size: 12px;
	border-top: 1px solid #cccccc;
	box-sizing: border-box;
}
.week_row article:first-child{
	border-color: transparent
}

.cal_font_color_grey{
	color: #cccccc;
}
.cal_font_color_black{
	color: #1e1e1e;
}


/* 스케쥴 표시 */
.calendar_schedule_display_month{
	font-size: 12px;
	height: 15px;
	line-height: 15px;
	width: 15px;
	margin: 0 auto;
	border: 1px solid transparent;
}
.has_schedule{
	border-color: #fe4e65;
	border-radius: 50%;
}

.calendar_schedule_display_week{
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #fe4e65;
	border: 1px solid #ffffff;
}
.week_group_schedule{
	background-color: #fe4e65;
}
.week_private_schedule{
	background-color: green;
}
/* 스케쥴 표시 */
