    {
        "push_lecture_id":
      [{% for push_lecture_id_info in push_lecture_id %}"{{ push_lecture_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "push_title":
      [{% for push_title_info in push_title %}"{{ push_title_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "push_message":
      [{% for push_message_info in push_message %}"{{ push_message_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}],
      "RepeatDuplicationDateArray" :
      [""],
      "lecture_schedule_info" :
      ["{{ lecture_schedule_info }}"],
      "repeatArray" :
      ["{{ request.session.repeat_schedule_id }}"],
      "repeatScheduleCounterArray" :
      ["{{ request.session.repeat_schedule_input_counter }}"]
    }


