{% extends "trainer_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.payment.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
{% endblock %}

{% block content %}

    <div id="ymdText">
        <!--
    <div class='arrowButton'>
     <a style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="width: 7px;"></a>
     <a style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;"></a>
    </div>
  -->
        <div id="ymdTextWrap">
            <div id="menuName">이용권 구매
            </div>
            <div id="menuDescription">나에게 꼭 맞는 추가기능 이용권을 사용해보세요!
            </div>
        </div>
    </div>


    <div id="payment_contents_wrap">
        <div class="payment_function_wrap">
            <label class="function_label">베이직</label>
            <p>- 일정 조회 및 등록 시 기간 자유 선택 (2주 제한 해제) <br>- 강사 및 소속 회원의 화면에서 광고 제거</p>
            <div class="payment_monthly">
                <label class="inner_label">정기 결제</label>
                <p class="inner_explain"><span class="price_before">6,000원</span>
                                        <span class="price_after"> → 매월 5,000원</span>
                </p>
                <button id="pay_basic_function_monthly">정기 결제 구매</button>
            </div>
            <div class="seperator"></div>
            <div class="payment_instant">
                <label class="inner_label">1개월 이용권</label>
                <p class="inner_explain"><span class="price_instant">1회 1개월 이용  6,000원</span></p>
                <button id="pay_basic_function_instant">구매</button>
            </div>
        </div>


        <div class="payment_function_wrap">
            <label class="function_label">엘리트</label>
            <p>- 베이직 기능 <br>- <span style="color:#fe4e65;text-decoration: underline;">지점 1개</span> 관리자 기능 (지점 관리 및 통계, 직원 관리, 직원 수업 배정)</p>
            <div class="payment_monthly">
                <label class="inner_label">정기 결제</label>
                <p class="inner_explain"><span class="price_before">12,000원</span>
                                        <span class="price_after"> → 매월 9,000원</span>
                </p>
                <button id="pay_elite_function_monthly">정기 결제 구매</button>
            </div>
            <div class="seperator"></div>
            <div class="payment_instant">
                <label class="inner_label">1개월 이용권</label>
                <p class="inner_explain"><span class="price_instant">1회 1개월 이용  12,000원</span></p>
                <button id="pay_elite_function_instant">구매</button>
            </div>
        </div>

        <div class="payment_function_wrap">
            <label class="function_label">프리미엄</label>
            <p>- 베이직 기능 <br>- <span style="color:#fe4e65;text-decoration: underline;">지점 3개</span> 관리자 기능 (지점 관리 및 통계, 직원 관리, 직원 수업 배정)</p>
            <div class="payment_monthly">
                <label class="inner_label">정기 결제</label>
                <p class="inner_explain"><span class="price_before">24,900원</span>
                                        <span class="price_after"> → 매월 20,000원</span>
                </p>
                <button id="pay_premium_function_monthly">정기 결제 구매</button>
            </div>
            <div class="seperator"></div>
            <div class="payment_instant">
                <label class="inner_label">1개월 이용권</label>
                <p class="inner_explain"><span class="price_instant">1회 1개월 이용  24,900원</span></p>
                <button id="pay_premium_function_instant">구매</button>
            </div>
        </div>

        <div class="payment_function_wrap">
            <label class="function_label">광고 제거</label>
            <p>강사 및 소속 회원의 화면에서 광고 제거</p>
            <div class="payment_monthly">
                <label class="inner_label">정기 결제</label>
                <p class="inner_explain"><span class="price_before">2,000원</span>
                                        <span class="price_after"> → 매월 1,000원</span>
                </p>
                <button id="pay_ads_remove_monthly">정기 결제 구매</button>
            </div>
            <div class="seperator"></div>
            <div class="payment_instant">
                <label class="inner_label">1개월 이용권</label>
                <p class="inner_explain"><span class="price_instant">1회 1개월 이용  2,000원</span></p>
                <button id="pay_ads_remove_instant">구매</button>
            </div>
        </div>
    </div>


    <div id="purchase_popup">
        <label style="font-size: 18px;" id="purchase_popup_product">피터스 이용권 구매하기</label>

        <div id="purchase_popup_page1">
            <div id="purchase_price_preview">
                <label>이용권 금액</label>
                <div>
                    <div><p id="price_preview"></p></div>
                    <p id="price_preview_vat">부가세(VAT) 10% 별도</p>
                </div>
            </div>
            <div id="purchase_appointment">
                <div class="ptersCheckbox"><div></div></div>
                <p style="display: inline-block;vertical-align: middle;">이용약관 및 하단 결제 안내사항에 동의합니다.</p>
                <div id="view_appointment_btn">약관 보기</div>
            </div>

            <div class="popupBtn_mini">
                <button class="submitBtn _button_Prev">결제취소</button>
                <button class="submitBtn _button_Next">다음</button>
            </div>

            <div id="purchase_caution">
                <p>피터스의 모든 이용권은 국내에서만 구매 가능하며, 사용이 가능합니다.</p>
                <p>본 이용권 구매 시 부가세 10%가 별로도 청구됩니다.</p>
                <p>구입하신 이용권은 마이페이지의 이용권 내역에서 확인 할 수 있습니다.</p>
                <p>본 이용권은 이용 시작일 기준 7일이내 청약철회 가능한 이용권 입니다.</p>
                <p>단, 이용내역이 있는 경우 이용금액 공제, 이벤트등의 할인 혜택을 받으신 경우 해당금액 공제 후 환불 가능합니다.</p>
                <p>이용 시작일 기준 7일 경과후에는 이용금액 공제 후 해지 가능합니다.</p>
                <p>이용 금액은 결제일 이후 피터스에 접속한 기간에 상응하는 금액을 말합니다.</p>
                <p>미성년자가 법정대리인 동의 없이 계약을 체결한 경우, 미성년자 또는 법정 대리인이 이를 취소할 수 있습니다.</p>
                <p>이용권 구매내역을 타인에게 양도하거나 다른 아이디로 이전하는 기능은 제공하지 않습니다.</p>
                <p>이용권은 PC, 모바일, 앱에서 이용이 가능합니다.</p>
            </div>
        </div>

        <div id="purchase_popup_page2">
            <div id="view_purchase_summary">
                <div id="purchase_product" class="purchase_popup_content_wrap">
                    <div class="purchase_popup_innerlabel">상품명</div>
                    <div class="purchase_popup_innercontent"></div>
                </div>

                <div id="purchase_functions" class="purchase_popup_content_wrap">
                    <div class="purchase_popup_innerlabel">상품 제공 상세 품목</div>
                    <div class="purchase_popup_innercontent"></div>
                </div>

                <div id="purchase_type" class="purchase_popup_content_wrap">
                    <div class="purchase_popup_innerlabel">결제유형</div>
                    <div class="purchase_popup_innercontent"></div>
                </div>

                <div id="purchase_price" class="purchase_popup_content_wrap">
                    <div class="purchase_popup_innerlabel">상품 가격</div>
                    <div class="purchase_popup_innercontent"></div>
                </div>
            </div>

            <div id="select_method_wrap">
                <label>결제 방법</label>
                <div class="select_method_table_cell">
                    <div class="ptersCheckbox" data-method="card"><div></div></div>
                    <p class="purchase_method_name">신용/체크카드</p>
                </div>
                <div class="select_method_table_cell">
                    <div class="ptersCheckbox" data-method="trans"><div></div></div>
                    <p class="purchase_method_name">실시간 계좌이체</p>
                </div>
            </div>
            <div class="popupBtn_mini">
                <button class="submitBtn _button_Prev">결제취소</button>
                <button class="submitBtn _button_Next"">결제하기</button>
            </div>
        </div>

    </div>


    <form id="modify-member-id-form" method="post">
        {% csrf_token %}
        <div style="display: none">
            {{ form.as_p }}
        </div>
        <input type="hidden" name="member_id" id="userDbId" value="">

    </form>

{% endblock %}

{% block local_js_footer %}

    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script>

        var IMP = window.IMP; // 생략가능
        IMP.init('{{ payment_id }}'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용

        if($('body').width()<600){
            $('#page-base').css('display','block');
            //$('#page-base-modifystyle').css('display','block')
            $('#uptext3').text('이용권 구매');
            $('#uptext').text("이용권 구매");
            $('#upbutton-modify').hide();
        }

        $('#upbutton-x-modify').click(function(){
            location.href="/trainer/trainer_setting/"
        });

        $('#pay_basic_function_monthly').click(function(e){
            e.preventDefault();
            purchase_popup_show('Basic(베이직) - 정기 결제', 'PERIOD', 'CLA/GRO/ADV', 5000);
            //check_payment('클래스 + 그룹 레슨 - 정기 결제', 'card', 'PERIOD', 'CLA/GRO/ADV', 13200);
            //클래스 + 그룹 레슨 정기결제 버튼
        });
        $('#pay_basic_function_instant').click(function(e){
            e.preventDefault();
            purchase_popup_show('Basic(베이직) - 1개월 이용권', 'SINGLE', 'CLA/GRO/ADV', 6000);
            //check_payment('클래스 + 그룹 레슨 - 1개월 이용권', 'card', 'SINGLE', 'CLA/GRO/ADV', 16500);
            //클래스 + 그룹 레슨 1개월 결제 버튼
        });
        $('#pay_elite_function_monthly').click(function(e){
            e.preventDefault();
            purchase_popup_show('Elite(엘리트) - 정기 결제', 'PERIOD', 'GRO/ADV', 9000);
            //check_payment('그룹 레슨 - 정기 결제', 'card', 'PERIOD', 'GRO/ADV', 9900);
            //그룹 레슨 정기결제 버튼
        });
        $('#pay_elite_function_instant').click(function(e){
            e.preventDefault();
            purchase_popup_show('Elite(엘리트) - 1개월 이용권', 'SINGLE', 'GRO/ADV', 12000);
            //check_payment('그룹 레슨 - 1개월 이용권', 'card', 'SINGLE', 'GRO/ADV', 13200);
            //그룹 레슨 1개월 결제 버튼
        });
        $('#pay_premium_function_monthly').click(function(e){
            e.preventDefault();
            purchase_popup_show('Premium(프리미엄) - 정기 결제', 'PERIOD', 'GRO/ADV', 20000);
            //check_payment('그룹 레슨 - 정기 결제', 'card', 'PERIOD', 'GRO/ADV', 9900);
            //그룹 레슨 정기결제 버튼
        });
        $('#pay_premium_function_instant').click(function(e){
            e.preventDefault();
            purchase_popup_show('Premium(프리미엄) - 1개월 이용권', 'SINGLE', 'GRO/ADV', 24900);
            //check_payment('그룹 레슨 - 1개월 이용권', 'card', 'SINGLE', 'GRO/ADV', 13200);
            //그룹 레슨 1개월 결제 버튼
        });
        $('#pay_ads_remove_monthly').click(function(e){
            e.preventDefault();
            purchase_popup_show('광고 제거 - 정기 결제', 'PERIOD', 'ADV', 1000);
            //check_payment('광고 제거 - 정기 결제', 'card', 'PERIOD', 'ADV', 1100);
            //광고 제거 정기 결제 버튼
        });
        $('#pay_ads_remove_instant').click(function(e){
            e.preventDefault();
            purchase_popup_show('광고 제거 - 1개월 이용권', 'SINGLE', 'ADV', 2000);
            //check_payment('광고 제거 - 1개월 이용권', 'card', 'SINGLE', 'ADV', 2200);
            //광고 제거 1개월 결제 버튼
        });

        function purchase_popup_show(product, type, functions, price){
            shade_index(100)
            $('#purchase_popup').fadeIn('fast')
                                .css({'top':(($(window).height()-$('#purchase_popup').outerHeight())/2),
                                      'left':(($(window).width()-$('#purchase_popup').outerWidth())/2+$(window).scrollLeft())})
                                .attr({'data-product':product,
                                        'data-type':type,
                                        'data-function':functions,
                                        'data-price':price});
            var type_name;
            var functions_name;
            if(type=='SINGLE'){
                type_name='1개월 이용권';
            }else{
                type_name='정기 결제';
            }
            if(functions=='CLA/GRO/ADV'){
                functions_name='클래스/그룹 레슨/광고제거';
            }else if(functions=='GRO/ADV'){
                functions_name='그룹 레슨/광고제거';
            }else{
                functions_name='광고제거';
            }
            $('#purchase_popup_product').text(product);
            $('#purchase_product').find('.purchase_popup_innercontent').text(product);
            $('#purchase_functions').find('.purchase_popup_innercontent').text(functions_name);
            $('#purchase_type').find('.purchase_popup_innercontent').text(type_name);
            $('#purchase_price').find('.purchase_popup_innercontent').text(numberWithCommas(price));
            $('#price_preview').text(numberWithCommas(price)+' 원');
        }
        function numberWithCommas(x) { //천단위 콤마 찍기
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function check_payment(name, pay_method, payment_type_cd, merchandise_type_cd, price){
            var error_check = true;

            $.ajax({
                url: "/payment/check_before_billing/", // 서비스 웹서버
                type: "POST",
                headers: { "Content-Type": "application/json" },
                data: JSON.stringify({
                    payment_type_cd: payment_type_cd,
                    merchandise_type_cd: merchandise_type_cd,
                    price : price
                }),

                beforeSend:function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    beforeSend();
                },

                success:function(data){
                    var jsondata = JSON.parse(data);
                    initialJSON = jsondata;
                    if(jsondata.messageArray.length>0){
                        error_check = false;
                        alert(jsondata.messageArray);
                        shade_index(-100)
                    }else {
                        if(jsondata.billing_info != ''){
                            alert(jsondata.billing_info);
                        }
                        payment(name, pay_method, payment_type_cd, merchandise_type_cd, price, jsondata.next_start_date[0]);
                    }

                },

                complete:function(){
                    completeSend();
                },

                error:function(){
                    console.log('server error');
                }
            });

            return error_check;
        }


        function payment(name, pay_method, payment_type_cd, merchandise_type_cd, price, start_date){
            var date = new Date();
            var merchant_uid_data = 'm_{{request.user.id}}_'+merchandise_type_cd+'_' + date.getTime();
            var customer_uid_data = 'c_{{request.user.id}}_'+merchandise_type_cd+'_' + date.getTime();
            var billing_data;
            var month = date.getMonth()+1;
            var day = date.getDate();
            if(month <10){
                month = '0'+month;
            }
            if(day <10){
                day = '0'+day;
            }
            var payment_date = date.getFullYear()+'-'+month+'-'+day;

            if(start_date != ''){
                if(payment_date != start_date){
                    if(payment_type_cd == 'PERIOD'){
                        price = 0;
                    }
                }
                payment_date = start_date;
            }
            console.log(payment_date);
            var request_pay_period_data = {
                pg : 'danal', // version 1.1.0부터 지원.
                pay_method : pay_method,
                merchant_uid : merchant_uid_data,
                customer_uid : customer_uid_data, // 카드(빌링키)와 1:1로 대응하는 값
                name : name,
                amount : price,
                custom_data: {
                    "user_id":{{ request.user.id }},
                    "merchandise_type_cd":merchandise_type_cd,
                    "payment_type_cd":payment_type_cd,
                    "customer_uid":customer_uid_data,
                    "start_date":  payment_date
                },
                buyer_email : '{{ request.user.email }}',
                buyer_name : '{{ request.user.last_name }} {{ request.user.first_name }}',
            };
            var request_pay_single_data = {
                pg : 'danal', // version 1.1.0부터 지원.
                pay_method : pay_method,
                merchant_uid : merchant_uid_data,
                name : name,
                amount : price,
                custom_data: {
                    "user_id":{{ request.user.id }},
                    "merchandise_type_cd":merchandise_type_cd,
                    "payment_type_cd":payment_type_cd,
                    "start_date":  payment_date
                },
                buyer_email : '{{ request.user.email }}',
                buyer_name : '{{ request.user.last_name }} {{ request.user.first_name }}',
                {#                    buyer_tel : '',#}
                {#                    buyer_addr : '서울특별시 강남구 삼성동',#}
                {#                    buyer_postcode : '123-456',#}
            };

            if(payment_type_cd=='PERIOD'){
                billing_data = request_pay_period_data;
            }
            else{
                billing_data = request_pay_single_data;
            }

            IMP.request_pay(billing_data, function(rsp) {
                    var msg;
                    if ( rsp.success ) {
                        console.log(rsp);

                        $.ajax({
                            url: "/payment/check_finish_billing/", // 서비스 웹서버
                            type: "POST",
                            headers: { "Content-Type": "application/json" },
                            data: JSON.stringify({
                                merchandise_type_cd : merchandise_type_cd,
                                payment_type_cd:payment_type_cd,
                                paid_amount: rsp.paid_amount,
                                start_date: payment_date
                            }),

                            beforeSend:function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                                beforeSend();
                            },

                            success:function(data){
                                var jsondata = JSON.parse(data);
                                initialJSON = jsondata;
                                if(jsondata.messageArray.length>0){
                                    msg = '결제에 실패하였습니다.';
                                    msg += '에러내용 : ' + jsondata.messageArray;
                                    url_move = "/payment/";
                                }else {
                                    msg = '결제가 완료되었습니다.';
                                    url_move = "/payment/payment_history/";
            {#                        msg += '고유ID : ' + rsp.imp_uid;#}
            {#                        msg += '상점 거래ID : ' + rsp.merchant_uid;#}
{#                                    msg += '결제 금액 : ' + rsp.paid_amount;#}
            {#                        msg += '카드 승인번호 : ' + rsp.apply_num;#}
                                }
                                alert(msg);
                                location.href=url_move;

                            },

                            complete:function(){
                                completeSend();
                            },

                            error:function(){
                                console.log('server error');
                            }
                        });

                    } else {
                        msg = '결제에 실패하였습니다.';
                        msg += '에러내용 : ' + rsp.error_msg;
                        shade_index(-100)
                        alert(msg);
                    }
                });

        }

        $('#purchase_popup_page1 .ptersCheckbox').click(function(){
            $(this).addClass('checked')
            $(this).find('div').addClass('ptersCheckboxInner');


            if($('#purchase_appointment .ptersCheckbox').hasClass('checked') && $('#purchase_popup_page1').css('display')=='block' ){
                $('#purchase_popup_page1 ._button_Next').addClass('appoint_checked')
            }
        });

        $('#purchase_popup_page1 ._button_Next').click(function(){
            if($(this).hasClass('appoint_checked') && $('#purchase_popup_page1').css('display')=='block' ){
                $('#purchase_popup_page1').hide();
                $('#purchase_popup_page2').show();
            }
        });

        $('#purchase_popup_page2 .ptersCheckbox').click(function(){
            $('.checked').removeClass('checked');
            $('.ptersCheckboxInner').removeClass('ptersCheckboxInner');

            $(this).addClass('checked');
            $(this).find('div').addClass('ptersCheckboxInner');



            if($('#purchase_popup_page2 .checked').length > 0 && $('#purchase_popup_page2').css('display')=='block' ){
                $('#purchase_popup_page2 ._button_Next').addClass('appoint_checked');
            }
        });

        $('#purchase_popup_page2 ._button_Next').click(function(){
            if($(this).hasClass('appoint_checked') && $('#purchase_popup_page2').css('display')=='block' ){

                var product = $('#purchase_popup').attr('data-product');
                var pay_method = $('#purchase_popup_page2 .checked').attr('data-method');
                var payment_type_cd = $('#purchase_popup').attr('data-type');
                var functions = $('#purchase_popup').attr('data-function');
                var price = parseInt(Number($('#purchase_popup').attr('data-price'))*1.1); 
                console.log(pay_method);
{#                console.log(product, method, type, functions, price)#}
                check_payment(product, pay_method, payment_type_cd, functions, price);
                purchase_popup_close();
                shade_index(100)
            }
        });
        $('#view_appointment_btn').click(function(){
            window.open('/policy_charge/', '_blank');

        });

        $('._button_Prev').click(function(){
            purchase_popup_close();
        });

        function purchase_popup_close(){
            shade_index(-100);
            $('#purchase_popup, #purchase_popup_page2').hide();
            $('#purchase_popup_page1').show();
            $('.checked').removeClass('checked');
            $('.ptersCheckboxInner').removeClass('ptersCheckboxInner');
            $('.appoint_checked').removeClass('appoint_checked');
            $('#purchase_popup').attr({'data-product':'',
                                        'data-type':'',
                                        'data-function':'',
                                        'data-price':''})
        }



    </script>

{% endblock %}

