{% extends "trainer_base.html" %}
{% load static_url %}
{% load background_data %}
{% load humanize %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.payment.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
{% endblock %}

{% block content %}

    <div id="ymdText">
        <!--
    <div class='arrowButton'>
     <a style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="width: 7px;"></a>
     <a style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;"></a>
    </div>
  -->
        <div id="ymdTextWrap">
            <div id="menuName">PTERS 패스 구매
            </div>
            <div id="menuDescription">나에게 꼭 맞는 추가기능 PTERS 패스를 사용해보세요!
            </div>
        </div>
    </div>


    <!-- <div id="payment_contents_wrap">
    {% autoescape off %}
        {% for product_info in product_data %}
            <div class="payment_function_wrap">
                <label class="function_label"> {{ product_info.name }} </label>
                <p> {{ product_info.contents }} </p>
                {% for price_info in product_info.price_list %}
                    <div class="payment_monthly">
                        <label class="inner_label">{{ price_info.name }}</label>
                        {% if price_info.price != price_info.sale_price %}
                            <p class="inner_explain"><span class="price_before"> {% if price_info.payment_type_cd == 'PERIOD' %}매{% if price_info.period_month == 1 %}월{% else %}년{% endif %}{% endif %} {{ price_info.price|multiply:1.1|intcomma }}원</span>
                                                    <span class="price_after"> → {% if price_info.payment_type_cd == 'PERIOD' %}매{% if price_info.period_month == 1 %}월{% else %}년{% endif %}{% endif %} {{ price_info.sale_price|multiply:1.1|intcomma }}원</span>
                            </p>
                        {% else %}
                            <p class="inner_explain"> <span class="price_after"> {% if price_info.payment_type_cd == 'PERIOD' %}매{% if price_info.period_month == 1 %}월{% else %}년{% endif %}{% endif %} {{ price_info.sale_price|multiply:1.1|intcomma }}원</span>
                            </p>
                        {% endif %}

                        {% if price_info.price != 0 %}
                            {% if price_info.payment_type_cd == 'PERIOD' %}
                                <button class="pay_product_function" data-product-name="{{ product_info.name }} - {{ price_info.name }}" data-payment-type="{{ price_info.payment_type_cd }}"
                                        data-product-price="{{ price_info.sale_price }}" data-product-contents="{{ product_info.contents }}"
                                        data-product-id="{{ product_info.product_id }}" data-period-month="{{ price_info.period_month }}">정기 결제 구매</button>
                            {% else %}
                                <button class="pay_product_function" data-product-name="{{ product_info.name }} - {{ price_info.name }}" data-payment-type="{{ price_info.payment_type_cd }}"
                                        data-product-price="{{ price_info.sale_price }}" data-product-contents="{{ product_info.contents }}"
                                        data-product-id="{{ product_info.product_id }}" data-period-month="{{ price_info.period_month }}">구매</button>
                            {% endif %}
                        {% endif %}
                    </div>
                    {%if forloop.last == False%}
                        <div class="seperator"></div>
                    {% endif %}
                {% endfor %}
                {% for sub_product_info in product_info.sub_product_list %}
                    {{ sub_product_info.name }}
                    {% for sub_price_info in sub_product_info.sub_price_list %}
                        <div class="payment_monthly">
                            <label class="inner_label">{{ sub_price_info.name }}</label>
                            {% if sub_price_info.price != sub_price_info.sale_price %}
                                <p class="inner_explain"><span class="price_before"> {% if sub_price_info.payment_type_cd == 'PERIOD' %}매{% if sub_price_info.period_month == 1 %}월{% else %}년{% endif %}{% endif %} {{ sub_price_info.price|multiply:1.1|intcomma }}원</span>
                                                        <span class="price_after"> → {% if sub_price_info.payment_type_cd == 'PERIOD' %}매{% if sub_price_info.period_month == 1 %}월{% else %}년{% endif %}{% endif %} {{ sub_price_info.sale_price|multiply:1.1|intcomma }}원</span>
                                </p>
                            {% else %}
                                <p class="inner_explain"> <span class="price_after"> {% if sub_price_info.payment_type_cd == 'PERIOD' %}매{% if sub_price_info.period_month == 1 %}월{% else %}년{% endif %}{% endif %} {{ sub_price_info.sale_price|multiply:1.1|intcomma }}원</span>
                                </p>
                            {% endif %}

                            {% if sub_price_info.price != 0 %}
                                {% if sub_price_info.payment_type_cd == 'PERIOD' %}
                                    <button class="pay_product_function" data-product-name="{{ sub_product_info.name }} - {{ sub_price_info.name }}" data-payment-type="{{ sub_price_info.payment_type_cd }}"
                                            data-product-price="{{ sub_price_info.sale_price }}" data-product-contents="{{ sub_product_info.contents }}"
                                            data-product-id="{{ sub_product_info.product_id }}" data-period-month="{{ sub_price_info.period_month }}">정기 결제 구매</button>
                                {% else %}
                                    <button class="pay_product_function" data-product-name="{{ sub_product_info.name }} - {{ sub_price_info.name }}" data-payment-type="{{ sub_price_info.payment_type_cd }}"
                                            data-product-price="{{ sub_price_info.sale_price }}" data-product-contents="{{ sub_product_info.contents }}"
                                            data-product-id="{{ sub_product_info.product_id }}" data-period-month="{{ sub_price_info.period_month }}">구매</button>
                                {% endif %}
                            {% endif %}
                        </div>
                        {%if forloop.last == False%}
                            <div class="seperator"></div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endautoescape %}
    </div> -->

    <p style="font-size: 25px;font-weight: 500;text-align: center;color:#ffffff;margin-top: 40px;">PTERS 패스 안내</p>
    <div id="payment_contents_wrap">
        
        <div id="my_auth">
            <div id="my_status" class="my_auth_inner_block">
                <p><span class="my_status_text">{{ request.user.first_name }}</span>님은 현재</p>
                <p><span class="my_status_text pters_pink_text">{{ request.session.product_type_name }}</span><br>이용자입니다.</p>
                <p style="font-size: 13px;">다음 혜택을 제공해드리고 있습니다.</p>
            </div>
            <div id="my_status_auth" class="my_auth_inner_block">
            {% if request.session.product_id == 6 %}
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">일정</div><div class="my_auth_tbc2">매일 오늘 기준 전/후 7일 등록,취소</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">회원</div><div class="my_auth_tbc2">최대 20명 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">그룹</div><div class="my_auth_tbc2">최대 5개 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">수강권</div><div class="my_auth_tbc2">최대 10개 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">통계</div><div class="my_auth_tbc2">최대 1개월씩 조회</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">프로그램</div><div class="my_auth_tbc2">최대 2개</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">설정</div><div class="my_auth_tbc2">부분 제한</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">광고</div><div class="my_auth_tbc2">서비스 내 노출</div>
                </div>
            {% elif request.session.product_id == 7 or request.session.product_id == 10 %}
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">일정</div><div class="my_auth_tbc2">매일 오늘 기준 전후 1년 등록,취소</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">회원</div><div class="my_auth_tbc2">최대 500명 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">그룹</div><div class="my_auth_tbc2">최대 200개 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">수강권</div><div class="my_auth_tbc2">최대 400개 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">통계</div><div class="my_auth_tbc2">최대 1년씩 조회</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">프로그램</div><div class="my_auth_tbc2">최대 10개</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">설정</div><div class="my_auth_tbc2">제한 없음</div>
                </div>
            {% elif request.session.product_id == 8%}
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">일정</div><div class="my_auth_tbc2">매일 오늘 기준 전후 1년 등록,취소</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">회원</div><div class="my_auth_tbc2">최대 500명 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">그룹</div><div class="my_auth_tbc2">최대 200개 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">수강권</div><div class="my_auth_tbc2">최대 400개 (진행중)</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">통계</div><div class="my_auth_tbc2">최대 1년씩 조회 가능</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">프로그램</div><div class="my_auth_tbc2">최대 10개</div>
                </div>
                <div class="my_auth_tb">
                    <div class="my_auth_tbc1">설정</div><div class="my_auth_tbc2">제한 없음</div>
                </div>
            {% endif %}
            </div>
        </div>
        <p style="color:#ffffff;font-size:13px;font-weight:300;margin-top:40px;margin-bottom:5px;text-align: center;">
            <span style="font-size:20px;font-weight: 500">맞춤형 PTERS 패스</span>  <span style="font-size: 20px;font-weight: 500;">구매</span>는 어떠신가요?</p>
        <p style="color:#ffffff;font-size:14px;font-weight:300;margin-bottom:40px;text-align: center">클릭하면 상세 안내를 확인하실 수 있습니다.</p>


        <div id="product_list_wrap">

            <div class="product_wrap">
                <!--상품-->
                <div class="product productstyle_standard" data-product-id="7">
                    <p class="product_name_tag">PTERS 패스</p>
                    <p class="product_name textstyle_standard">스탠다드</p>
                    <p class="product_price_tag" id="id_standard_product_price_tag">정기 결제</p>
                    <p class="product_price" id="id_standard_product_price">매월 9,900원</p>
                    <p class="product_name_background">STANDARD</p>
                </div>
                <!--상품-->

                 <!--상품-->
                <div class="product productstyle_premium product_disable" data-product-id="8">
                    <div class="under_construction">
                        <span>서비스 준비중</span>
                    </div>
                    <p class="product_name_tag">스탠다드+지점관리</p>
                    <p class="product_name textstyle_premium">프리미엄</p>
                    <p class="product_price_tag">정기 결제</p>
                    <p class="product_price">준비중</p>
                    <p class="product_name_background textstyle_premium">PREMIUM</p>
                </div>
                <!--상품-->

                <div class="product_detail">
                    <div class="product_detail_triangle"></div>
                    <div class="product_detail_upper">
                        <div id="my_status" class="my_auth_inner_block">
                            <p><span class="my_status_text">{{ request.user.first_name }}</span>님,</p>
                            <p><span class="my_status_text product_to_buy">${상품명}</span>상품으로<br>구매 됩니다.</p>
                            <p style="font-size: 13px;">다음 혜택을 제공해드립니다.</p>
                        </div>

                        <div id="my_status_auth" class="my_auth_inner_block">
                            <div class="my_auth_tb">
                                <div class="my_auth_tbc1">일정</div><div class="my_auth_tbc2">매일 오늘 기준 전후 1년 등록,취소</div>
                            </div>
                            <div class="my_auth_tb">
                                <div class="my_auth_tbc1">회원</div><div class="my_auth_tbc2">최대 500명 (진행중)</div>
                            </div>
                            <div class="my_auth_tb">
                                <div class="my_auth_tbc1">그룹</div><div class="my_auth_tbc2">최대 200개 (진행중)</div>
                            </div>
                            <div class="my_auth_tb">
                                <div class="my_auth_tbc1">수강권</div><div class="my_auth_tbc2">최대 400개 (진행중)</div>
                            </div>
                            <div class="my_auth_tb">
                                <div class="my_auth_tbc1">통계</div><div class="my_auth_tbc2">최대 1년씩 조회 가능</div>
                            </div>
                            <div class="my_auth_tb">
                                <div class="my_auth_tbc1">프로그램</div><div class="my_auth_tbc2">최대 10개</div>
                            </div>
                            <div class="my_auth_tb">
                                <div class="my_auth_tbc1">설정</div><div class="my_auth_tbc2">제한 없음</div>
                            </div>
                        </div>
                    </div>
                    <p style="color:#ffffff;text-align: center;margin-top:20px;margin-bottom:20px;">하루 330원으로 더 편리하게 레슨을 관리 하세요.</p>

                    <div class="ticket_wrap">
                        <div class="ticket_left pay_product_function">
                            <i class="big_arrow right"></i>
                            <p class="ticket_comment1"><span class="">1개월</span> 정기 결제</p>
                            <p class="ticket_original_price">24,200원</p>
                            <p class="ticket_new_price">매월 19,900원</p>
                            <p class="ticket_name_background">MONTH<br>STANDARD</p>
                            <a class="icono-arrow1-left"></a>
                        </div>

                        <div id="purchase_caution_ios" style="display: none; color:#ffffff;text-align: center;margin-top:20px;margin-bottom:20px;">
                            <p>피터스의 모든 이용권은 국내에서만 구매 가능하며, 사용이 가능합니다.</p>
                            <p>본 이용권 구매 시 부가세 10%가 포함되어 청구됩니다.</p>
                            <p>구입하신 이용권은 마이페이지의 이용권 내역에서 확인 할 수 있습니다.</p>
                            <!--<p>본 이용권은 이용 시작일 기준 7일이내 청약철회 가능한 이용권 입니다.</p>-->
                            <p>단, 이용내역이 있는 경우 이용금액 공제, 이벤트등의 할인 혜택을 받으신 경우 해당금액 공제 후 환불 가능합니다.</p>
                            <!--<p>이용 시작일 기준 7일 경과후에는 이용금액 공제 후 해지 가능합니다.</p>-->
                            <p>이용 금액은 결제일 이후 피터스에 접속한 기간에 상응하는 금액을 말합니다.</p>
                            <p>미성년자가 법정대리인 동의 없이 계약을 체결한 경우, 미성년자 또는 법정 대리인이 이를 취소할 수 있습니다.</p>
                            <p>이용권 구매내역을 타인에게 양도하거나 다른 아이디로 이전하는 기능은 제공하지 않습니다.</p>
                            <p>이용권은 앱, PC, 모바일 웹에서 이용이 가능합니다.</p>
                            <p>App Store 결제는 현재 사용하고 있는 App Store계정을 통해 결제됩니다.</p>
                            <p>결제 금액에 대한 확인 및 환불은 Apple을 틍해 가능합니다. 결제내역 및 환불 관련 문의는 Apple 고객센터(080-333-4000)으로 부탁드립니다.</p>
                        </div>
{#                        <div class="ticket_right pay_product_function ticket_disable">#}
{##}
{#                        </div>#}
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div id="purchase_popup">
        <label style="font-size: 18px;" id="purchase_popup_product">피터스 이용권 구매하기</label>

        <div id="purchase_popup_page1">
            <div id="purchase_price_preview">
                <label>이용권 금액</label>
                <div>
                    <div><p id="price_preview"></p></div>
                    <p id="price_preview_vat">부가세(VAT) 10% 포함</p>
                </div>
            </div>
            <div id="purchase_appointment">
                <div class="ptersCheckbox"><div></div></div>
                <p style="display: inline-block;vertical-align: middle;">이용약관 및 하단 결제 안내사항에 동의합니다.</p>
                <div id="view_appointment_btn">약관 보기</div>
            </div>

            <div class="popupBtn_mini">
                <button class="submitBtn _button_Prev">결제취소</button>
                <button class="submitBtn _button_Next">다음</button>
            </div>

            <div id="purchase_caution">
                <p>피터스의 모든 이용권은 국내에서만 구매 가능하며, 사용이 가능합니다.</p>
                <p>본 이용권 구매 시 부가세 10%가 포함되어 청구됩니다.</p>
                <p>구입하신 이용권은 마이페이지의 이용권 내역에서 확인 할 수 있습니다.</p>
                <!--<p>본 이용권은 이용 시작일 기준 7일이내 청약철회 가능한 이용권 입니다.</p>-->
                <p>단, 이용내역이 있는 경우 이용금액 공제, 이벤트등의 할인 혜택을 받으신 경우 해당금액 공제 후 환불 가능합니다.</p>
                <!--<p>이용 시작일 기준 7일 경과후에는 이용금액 공제 후 해지 가능합니다.</p>-->
                <p>이용 금액은 결제일 이후 피터스에 접속한 기간에 상응하는 금액을 말합니다.</p>
                <p>미성년자가 법정대리인 동의 없이 계약을 체결한 경우, 미성년자 또는 법정 대리인이 이를 취소할 수 있습니다.</p>
                <p>이용권 구매내역을 타인에게 양도하거나 다른 아이디로 이전하는 기능은 제공하지 않습니다.</p>
                <p>이용권은 앱, PC, 모바일 웹에서 이용이 가능합니다.</p>
                <p class="app_store_info" style="display: none">App Store 결제는 현재 사용하고 있는 App Store계정을 통해 결제됩니다.</p>
                <p class="app_store_info" style="display: none">결제 금액에 대한 확인 및 환불은 Apple을 틍해 가능합니다. 결제내역 및 환불 관련 문의는 Apple 고객센터(080-333-4000)으로 부탁드립니다.</p>
            </div>
        </div>

        <div id="purchase_popup_page2">
            <div id="view_purchase_summary">
                <div id="purchase_product" class="purchase_popup_content_wrap">
                    <div class="purchase_popup_innerlabel">상품명</div>
                    <div class="purchase_popup_innercontent"></div>
                </div>

                <div id="purchase_functions" class="purchase_popup_content_wrap">
                    <div class="purchase_popup_innerlabel">상품 제공 상세 품목</div>
                    <div class="purchase_popup_innercontent"></div>
                </div>

                <div id="purchase_type" class="purchase_popup_content_wrap">
                    <div class="purchase_popup_innerlabel">결제유형</div>
                    <div class="purchase_popup_innercontent"></div>
                </div>

                <div id="purchase_price" class="purchase_popup_content_wrap">
                    <div class="purchase_popup_innerlabel">상품 가격</div>
                    <div class="purchase_popup_innercontent"></div>
                </div>
            </div>

            <div id="select_method_wrap">
                <label>결제 방법</label>
                <div class="select_method_table_cell">
                    <div class="ptersCheckbox" data-method="card"><div></div></div>
                    <p class="purchase_method_name">신용/체크카드</p>
                </div>
                <!-- <div class="select_method_table_cell">
                    <div class="ptersCheckbox" data-method="trans"><div></div></div>
                    <p class="purchase_method_name">실시간 계좌이체</p>
                </div> -->
            </div>
            <div class="popupBtn_mini">
                <button class="submitBtn _button_Prev">결제취소</button>
                <button class="submitBtn _button_Next">결제하기</button>
            </div>
        </div>
    </div>


    <form id="modify-member-id-form" method="post">
        {% csrf_token %}
        <div style="display: none">
            {{ form.as_p }}
        </div>
        <input type="hidden" name="member_id" id="userDbId" value="">

    </form>

{% endblock %}

{% block local_js_footer %}

    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script>

        var IMP = window.IMP; // 생략가능
        IMP.init('{{ payment_id }}'); // 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
        var device_type = 'pc';
        var varUA = navigator.userAgent.toLowerCase();
        var ios_version = '1.4';

        if (varUA.match('android') != null) {
            device_type = 'android';
        } else if (varUA.match('iphone') != null || varUA.match('ipad') != null || varUA.match('ipod') != null) {
            device_type = 'ios';
        }

        //if((platform_check == 'mobile') && (device_type=='ios') && (ios_version!='1.4')) {
        //    $('#id_standard_product_price_tag').text('30일권');
        //    $('#id_standard_product_price').text('9900원');
        //    $('.ptersCheckbox').attr('data-method', 'iap');
        //}
        //else{
        //    $('#id_standard_product_price_tag').text('정기 결제');
        //    $('#id_standard_product_price').text('매월 9900원');
        //    $('.ptersCheckbox').attr('data-method', 'card')
        //}

        $('a.text-payment').css('color','#fe4e65;');
        if($('body').width()<600){
            $('#page-base-addstyle').css('display','block');
            $('#page-base').css('display','none');
            $('#uptext2').text('PTERS 패스 구매');
            $('#uptext').text("PTERS 패스 구매");
            $('#upbutton-check').hide();
        }

        $('#upbutton-x').click(function(){
            if($('#purchase_popup').css('display') == "block"){
                purchase_popup_close();
            }else{
                location.href="/trainer/trainer_setting/";
            }
        });

        $(document).on('click', '.product', function(e){
            var product_id = $(this).attr("data-product-id");
            if(!$(this).hasClass("product_disable") && $(".product_detail").attr('data-product-id') != product_id){
                e.stopPropagation();
                get_product_detail_from_server(product_id);

                var this_index= $(this).index();
                var triangle_loc;
                if(this_index == 0 ){
                    triangle_loc = "22%";
                }
                else if(this_index == 1){
                    triangle_loc = "72%";
                }
                var product_detail_window = $(this).siblings("div.product_detail");
                product_detail_window.css({"display":"block"}).attr("data-product-id", product_id);
                product_detail_window.find(".product_detail_triangle").css({"left":triangle_loc});

                var classlist = product_detail_window.find(".product_to_buy").attr("class").split(" ");
                for(var i=0; i<classlist.length; i++){
                    if(classlist[i].match("textstyle_")){
                        product_detail_window.find(".product_to_buy").removeClass(classlist[i]);
                    }
                }

                product_detail_window.find(".product_to_buy").text($(this).find(".product_name").text()).addClass("textstyle_"+$(this).find(".product_name_background").text().toLowerCase());
                $('.product_selected').removeClass("product_selected");
                $(this).addClass("product_selected");
            }
        });

        $('.pay_product_function').click(function(e){

            if (!$(this).hasClass("ticket_disable")) {
                e.stopPropagation();
                e.preventDefault();

                if (platform_check == "mobile_browser") {
                    alert("스마트폰 브라우저로 접속하신 경우\n시크릿모드(개인정보보호 모드)로 접속시 결제가 정상적으로 진행되지 않습니다.\n결제전 다시한번 모드를 확인후 진행해주세요.");
                }


                purchase_popup_show($(this).attr('data-product-name') + ' - ' + $(this).attr('data-product-price-name'),
                    $(this).attr('data-payment-type'), $(this).attr('data-product-contents'),
                    $(this).attr('data-product-price'), $(this).attr('data-product-id'), $(this).attr('data-period-month'));

            }
        });

        $('#pay_basic_function_monthly').click(function(e){
            e.preventDefault();
            purchase_popup_show('Basic(베이직) - 정기 결제', 'PERIOD', 'CLA/GRO/ADV', 5000);
            //check_payment('클래스 + 그룹 레슨 - 정기 결제', 'card', 'PERIOD', 'CLA/GRO/ADV', 13200);
            //클래스 + 그룹 레슨 정기결제 버튼
        });
        $('#pay_basic_function_instant').click(function(e){
            e.preventDefault();
            purchase_popup_show('Basic(베이직) - 1개월 이용권', 'SINGLE', 'CLA/GRO/ADV', 6000);
            //check_payment('클래스 + 그룹 레슨 - 1개월 이용권', 'card', 'SINGLE', 'CLA/GRO/ADV', 16500);
            //클래스 + 그룹 레슨 1개월 결제 버튼
        });
        $('#pay_elite_function_monthly').click(function(e){
            e.preventDefault();
            purchase_popup_show('Elite(엘리트) - 정기 결제', 'PERIOD', 'GRO/ADV', 9000);
            //check_payment('그룹 레슨 - 정기 결제', 'card', 'PERIOD', 'GRO/ADV', 9900);
            //그룹 레슨 정기결제 버튼
        });
        $('#pay_elite_function_instant').click(function(e){
            e.preventDefault();
            purchase_popup_show('Elite(엘리트) - 1개월 이용권', 'SINGLE', 'GRO/ADV', 12000);
            //check_payment('그룹 레슨 - 1개월 이용권', 'card', 'SINGLE', 'GRO/ADV', 13200);
            //그룹 레슨 1개월 결제 버튼
        });
        $('#pay_premium_function_monthly').click(function(e){
            e.preventDefault();
            purchase_popup_show('Premium(프리미엄) - 정기 결제', 'PERIOD', 'GRO/ADV', 20000);
            //check_payment('그룹 레슨 - 정기 결제', 'card', 'PERIOD', 'GRO/ADV', 9900);
            //그룹 레슨 정기결제 버튼
        });
        $('#pay_premium_function_instant').click(function(e){
            e.preventDefault();
            purchase_popup_show('Premium(프리미엄) - 1개월 이용권', 'SINGLE', 'GRO/ADV', 24900);
            //check_payment('그룹 레슨 - 1개월 이용권', 'card', 'SINGLE', 'GRO/ADV', 13200);
            //그룹 레슨 1개월 결제 버튼
        });
        $('#pay_ads_remove_monthly').click(function(e){
            e.preventDefault();
            purchase_popup_show('광고 제거 - 정기 결제', 'PERIOD', 'ADV', 1000);
            //check_payment('광고 제거 - 정기 결제', 'card', 'PERIOD', 'ADV', 1100);
            //광고 제거 정기 결제 버튼
        });
        $('#pay_ads_remove_instant').click(function(e){
            e.preventDefault();
            purchase_popup_show('광고 제거 - 1개월 이용권', 'SINGLE', 'ADV', 2000);
            //check_payment('광고 제거 - 1개월 이용권', 'card', 'SINGLE', 'ADV', 2200);
            //광고 제거 1개월 결제 버튼
        });

        function purchase_popup_show(product, type, functions, price, product_id, period_month){
            shade_index(100);
            // $('#payment_contents_wrap').css({"height":"100%", "overflow":"hidden"});
            if(bodywidth < 600){
                $('#payment_contents_wrap').hide();
            }
            $('#purchase_popup').fadeIn('fast')
                                .css({'top':(($(window).height()-$('#purchase_popup').outerHeight())/2),
                                      'left':(($(window).width()-$('#purchase_popup').outerWidth())/2+$(window).scrollLeft())})
                                .attr({'data-product':product,
                                        'data-type':type,
                                        'data-product-id':product_id,
                                        'data-price':price,
                                        'data-period-month':period_month});
            var type_name;
            var functions_name;
            if(type=='SINGLE'){
                type_name='30일권';
            }else{
                type_name='정기 결제';
            }
{#            if(functions=='CLA/GRO/ADV'){#}
{#                functions_name='클래스/그룹 레슨/광고제거';#}
{#            }else if(functions=='GRO/ADV'){#}
{#                functions_name='그룹 레슨/광고제거';#}
{#            }else{#}
{#                functions_name='광고제거';#}
{#            }#}
            functions_name = functions;
            $('#purchase_popup_product').text(product);
            $('#purchase_product').find('.purchase_popup_innercontent').text(product);
            $('#purchase_functions').find('.purchase_popup_innercontent').html(functions_name);
            $('#purchase_type').find('.purchase_popup_innercontent').text(type_name);
            $('#purchase_price').find('.purchase_popup_innercontent').text(numberWithCommas(parseInt(price))+'원 (부가세 포함)');
            $('#price_preview').text(numberWithCommas(parseInt(price))+'원 (부가세 포함)');
        }
        function numberWithCommas(x) { //천단위 콤마 찍기
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function check_payment(name, pay_method, payment_type_cd, product_id, price, period_month){
            var error_check = true;
            var date = new Date();
            var month = date.getMonth()+1;
            var day = date.getDate();
            if(month <10){
                month = '0'+month;
            }
            if(day <10){
                day = '0'+day;
            }
            var payment_date = date.getFullYear()+'-'+month+'-'+day;

            $.ajax({
                url: "/payment/check_before_billing/", // 서비스 웹서버
                type: "POST",
                headers: { "Content-Type": "application/json" },
                data: JSON.stringify({
                    payment_type_cd: payment_type_cd,
                    product_id: product_id,
                    price : price,
                    period_month : period_month,
                    pay_method : pay_method
                }),

                beforeSend:function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    beforeSend();
                },

                success:function(data){
                    var jsondata = JSON.parse(data);
                    initialJSON = jsondata;
                    if(jsondata.messageArray.length>0){
                        error_check = false;
                        alert(jsondata.messageArray);
                        shade_index(-100)
                        purchase_popup_close();
                    }else {
                       //if(jsondata.billing_info != ''){
                       //     alert(jsondata.billing_info);
                        //}

                        var con_test;
                        var confirm_message = jsondata.next_start_date[0]+" ~ "+jsondata.next_end_date[0]+
                            " 이용권 결제를 진행하시겠습니까?";
                        if(payment_date != jsondata.next_start_date[0]){
                            if(payment_type_cd == 'PERIOD'){
                                confirm_message = jsondata.next_start_date[0]+" ~ "+jsondata.next_end_date[0]+
                                    " 이용권 결제를 예약하시겠습니까? \n " +
                                    "실제 결제는 "+jsondata.next_start_date[0]+"에 진행됩니다.";
                            }
                        }
                        con_test = confirm(confirm_message);

                        if(con_test == true){
                            payment(name, pay_method, payment_type_cd, product_id, price,
                                jsondata.next_start_date[0], period_month);
                        }
                        else if(con_test == false){
                            shade_index(-100)
                            purchase_popup_close();
                        }

                    }

                },

                complete:function(){
                    completeSend();
                },

                error:function(){
                    console.log('server error');
                }
            });

            return error_check;
        }


        function payment(name, pay_method, payment_type_cd, product_id, price, start_date, period_month){
            var date = new Date();
            var member_id = '{{ request.user.id }}';
            var merchant_uid_data = 'm_{{request.user.id}}_'+product_id+'_' + date.getTime();
            var customer_uid_data = 'c_{{request.user.id}}_'+product_id+'_' + date.getTime();
            var billing_data;
            var month = date.getMonth()+1;
            var day = date.getDate();
            if(month <10){
                month = '0'+month;
            }
            if(day <10){
                day = '0'+day;
            }
            var payment_date = date.getFullYear()+'-'+month+'-'+day;

            if(start_date != ''){
                if(payment_date != start_date){
                    if(payment_type_cd == 'PERIOD'){
                        price = 0;
                    }
                }
                payment_date = start_date;
            }

            var message = "9";
            if((platform_check == 'mobile') && (device_type=='ios') && (ios_version!='1.4')) {
                //alert("test")
                window.webkit.messageHandlers.payment_method.postMessage(message);
            }
            else if((platform_check == 'mobile') && (device_type=='android') && (ios_version!='1.4')) {
                window.android_payment_function.callMethodName(message);

            }
            else {
                if(('428' == member_id) && (platform_check == 'mobile') && (device_type=='ios')){
                    window.webkit.messageHandlers.payment_method.postMessage(message);
                }else if(('428' == member_id) && (platform_check == 'mobile') && (device_type=='android')){
                    window.android_payment_function.callMethodName(message);
                }else{
                    var request_pay_period_data = {
                        pg: 'danal', // version 1.1.0부터 지원.
                        pay_method: pay_method,
                        merchant_uid: merchant_uid_data,
                        customer_uid: customer_uid_data, // 카드(빌링키)와 1:1로 대응하는 값
                        name: name,
                        amount: price,
                        custom_data: {
                            "user_id":{{ request.user.id }},
                            "product_id": product_id,
                            "payment_type_cd": payment_type_cd,
                            "customer_uid": customer_uid_data,
                            "start_date": payment_date,
                            "period_month": period_month
                        },
                        buyer_email: '{{ request.user.email }}',
                        buyer_name: '{{ request.user.first_name }}',
                    };
                    var request_pay_single_data = {
                        pg: 'danal', // version 1.1.0부터 지원.
                        pay_method: pay_method,
                        merchant_uid: merchant_uid_data,
                        name: name,
                        amount: price,
                        custom_data: {
                            "user_id":{{ request.user.id }},
                            "product_id": product_id,
                            "payment_type_cd": payment_type_cd,
                            "start_date": payment_date,
                            "period_month": period_month
                        },
                        buyer_email: '{{ request.user.email }}',
                        buyer_name: '{{ request.user.first_name }}',
                        {#                    buyer_tel : '',#}
                        {#                    buyer_addr : '서울특별시 강남구 삼성동',#}
                        {#                    buyer_postcode : '123-456',#}
                    };

                    if (payment_type_cd == 'PERIOD') {
                        billing_data = request_pay_period_data;
                    }
                    else {
                        billing_data = request_pay_single_data;
                    }

                    IMP.request_pay(billing_data, function (rsp) {
                        var msg;
                        if (rsp.success) {
                            console.log(rsp);

                            $.ajax({
                                url: "/payment/check_finish_billing/", // 서비스 웹서버
                                type: "POST",
                                headers: {"Content-Type": "application/json"},
                                data: JSON.stringify({
                                    product_id: product_id,
                                    payment_type_cd: payment_type_cd,
                                    paid_amount: rsp.paid_amount,
                                    start_date: payment_date,
                                    period_month: period_month
                                }),

                                beforeSend: function (xhr, settings) {
                                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                    }
                                    beforeSend();
                                },

                                success: function (data) {
                                    var jsondata = JSON.parse(data);
                                    initialJSON = jsondata;
                                    if (jsondata.messageArray.length > 0) {
                                        msg = '결제에 실패하였습니다.';
                                        msg += ' : ' + jsondata.messageArray;
                                        url_move = "/payment/";
                                    } else {
                                        msg = '결제가 완료되었습니다.';
                                        url_move = "/payment/payment_history/";
                                        {#                        msg += '고유ID : ' + rsp.imp_uid;#}
                                        {#                        msg += '상점 거래ID : ' + rsp.merchant_uid;#}
                                        {#                                    msg += '결제 금액 : ' + rsp.paid_amount;#}
                                        {#                        msg += '카드 승인번호 : ' + rsp.apply_num;#}
                                    }
                                    alert(msg);
                                    location.href = url_move;

                                },

                                complete: function () {
                                    completeSend();
                                },

                                error: function () {
                                    console.log('server error');
                                }
                            });

                        } else {
                            msg = '결제에 실패하였습니다.';
                            msg += ' : ' + rsp.error_msg;
                            shade_index(-100)
                            alert(msg);
                            location.href = "/payment/";
                        }
                    });
                }
            }

        }

        $('#purchase_popup_page1 .ptersCheckbox').click(function(){

            $(this).addClass('checked')
            $(this).find('div').addClass('ptersCheckboxInner');


            if ($('#purchase_appointment .ptersCheckbox').hasClass('checked') && $('#purchase_popup_page1').css('display') == 'block') {
                $('#purchase_popup_page1 ._button_Next').addClass('appoint_checked')
            }
        });

        $('#purchase_popup_page1 ._button_Next').click(function(){
            if($(this).hasClass('appoint_checked') && $('#purchase_popup_page1').css('display')=='block' ) {

                $('#purchase_popup_page1').hide();
                $('#purchase_popup_page2').show();
                $('#purchase_popup_page2 .ptersCheckbox').addClass('checked');
                if((platform_check == 'mobile') && (device_type=='ios') && (ios_version!='1.4')) {
                    //alert("test")
                    var product = $('#purchase_popup').attr('data-product');
                    var pay_method = $('#purchase_popup_page2 .checked').attr('data-method');
                    var payment_type_cd = $('#purchase_popup').attr('data-type');
                    var product_id = $('#purchase_popup').attr('data-product-id');
                    var price = parseInt(Number($('#purchase_popup').attr('data-price')));
                    var period_month = $('#purchase_popup').attr('data-period-month');
                    check_payment(product, pay_method, payment_type_cd, product_id, price, period_month);
                    purchase_popup_close("do_not_show_background");
                    shade_index(100);
                }
            }else{
                alert('이용약관에 동의 체크를 해주세요.')
            }
        });

        $('#purchase_popup_page2 .ptersCheckbox').click(function(){
            $('.checked').removeClass('checked');
            $('.ptersCheckboxInner').removeClass('ptersCheckboxInner');

            $(this).addClass('checked');
            $(this).find('div').addClass('ptersCheckboxInner');

            if($('#purchase_popup_page2 .checked').length > 0 && $('#purchase_popup_page2').css('display')=='block' ){
                $('#purchase_popup_page2 ._button_Next').addClass('appoint_checked');
            }
        });

        set_list_overflow_scrolling('#purchase_popup_page1', '#purchase_popup_page1');
        $('#purchase_popup_page2 ._button_Next').click(function(){
            if($(this).hasClass('appoint_checked') && $('#purchase_popup_page2').css('display')=='block' ){

                var product = $('#purchase_popup').attr('data-product');
                var pay_method = $('#purchase_popup_page2 .checked').attr('data-method');
                var payment_type_cd = $('#purchase_popup').attr('data-type');
                var product_id = $('#purchase_popup').attr('data-product-id');
                var price = parseInt(Number($('#purchase_popup').attr('data-price')));
                var period_month = $('#purchase_popup').attr('data-period-month');
                check_payment(product, pay_method, payment_type_cd, product_id, price, period_month);
                purchase_popup_close("do_not_show_background");
                shade_index(100);

            }
        });
        $('#view_appointment_btn').click(function(){
            window.open('/policy_charge/', '_blank');

        });

        $('._button_Prev').click(function(){
            purchase_popup_close();
        });

        function purchase_popup_close(option){
            if(option == "do_not_show_background"){
            }else{
                $('#payment_contents_wrap').show();
            }
            shade_index(-100);
            $('#purchase_popup, #purchase_popup_page2').hide();
            $('#purchase_popup_page1').show();
            $('.checked').removeClass('checked');
            $('.ptersCheckboxInner').removeClass('ptersCheckboxInner');
            $('.appoint_checked').removeClass('appoint_checked');
            $('#purchase_popup').attr({'data-product':'',
                                        'data-type':'',
                                        'data-product-id':'',
                                        'data-price':'',
                                        'data-period-month':''})
        }

        function get_product_detail_from_server(product_id){
                $.ajax({
                url: '/payment/get_product_info/',
                type: 'GET',
                dataType : 'html',
                data:{"product_id": product_id},

                beforeSend:function(){
                    beforeSend();
                },

                success:function(data){
                    var jsondata = JSON.parse(data);
                    console.log(jsondata);
                    fill_product_detail(jsondata, product_id);
                },

                complete:function(){
                    completeSend();
                },

                error:function(){
                    console.log('server error');
                }
            });
        }

        function fill_product_detail(jsondata, product_id){
            var product_color_class_find = $(`div.product_detail[data-product-id="${product_id}"]`).find(".product_to_buy").attr("class").split(" ");
            var product_color;
            for(var i=0; i<product_color_class_find.length; i++){
                if(product_color_class_find[i].match("textstyle_")){
                    product_color = product_color_class_find[i];
                }
            }

            var $left_ticket = $(`div.product_detail[data-product-id="${product_id}"]`).find("div.ticket_left");
            var $right_ticket = $(`div.product_detail[data-product-id="${product_id}"]`).find("div.ticket_right");

            var $left_ticket_comment = $left_ticket.find("p.ticket_comment1");
            var $left_ticket_ori_price = $left_ticket.find("p.ticket_original_price");
            var $left_ticket_new_price = $left_ticket.find("p.ticket_new_price");
            var $left_ticket_name_bg = $left_ticket.find("p.ticket_name_background");

            var $right_ticket_comment = $right_ticket.find("p.ticket_comment1");
            var $right_ticket_ori_price = $right_ticket.find("p.ticket_original_price");
            var $right_ticket_new_price = $right_ticket.find("p.ticket_new_price");
            var $right_ticket_name_bg = $right_ticket.find("p.ticket_name_background");
            var payment_type_cd = jsondata.product_price_type_cd;
            var product_price_name = jsondata.product_price_name;
            find_class_and_delete_it($(`div.product_detail[data-product-id="${product_id}"]`), $left_ticket_name_bg, "textstyle_");

            if((platform_check == 'mobile') && (ios_version != '1.4')) {
                payment_type_cd = 'SINGLE';
                product_price_name = '30일권';
                $('.purchase_method_name').text('인앱 결제');
                if(device_type=='ios'){
                    $('.app_store_info').css({"display":"block"});
                    $('#purchase_caution_ios').css({"display":"block"});
                }
            }
            $left_ticket.attr({"data-product-name":jsondata.product_name,
                               "data-product-price-name":product_price_name,
                               "data-payment-type":payment_type_cd,
                               "data-product-price":jsondata.product_price_sale_price,
                               "data-product-contents":jsondata.product_contents,
                               "data-product-id":product_id,
                               "data-period-month":jsondata.product_price_period_month,});

            if((platform_check == 'mobile') && (ios_version != '1.4')) {
                //alert("test")
                $left_ticket_comment.html(`<span class="${product_color}">30일권</span>`);
                $left_ticket_new_price.text(`${numberWithCommas(jsondata.product_price_sale_price)}원`).addClass(product_color);
            }else{
                $left_ticket_comment.html(`<span class="${product_color}">${jsondata.product_price_period_month}개월</span> 정기 결제`);
                $left_ticket_new_price.text(`매월 ${numberWithCommas(jsondata.product_price_sale_price)}원`).addClass(product_color);
            }
            $left_ticket_ori_price.html(`${numberWithCommas(jsondata.product_price_price)}원 <i class="small_arrow right"></i>`).css({"text-decoration":"line-through"});
            if(product_color != "textstyle_standard"){
                $left_ticket_name_bg.addClass(product_color);
            }
            
        }


        function find_class_and_delete_it(parent ,whose, targetClass_text){
            var $whose = $(whose);
            var classlist = $whose.attr("class").split(" ");
            for(var i=0; i<classlist.length; i++){
                if(classlist[i].match(targetClass_text)){
                    $(parent).find('.'+classlist[i]).removeClass(classlist[i]);
                }
            }
        }

        $('div.bottomfooter2 > span > img').attr("src","/static/user/res/spooner.png");

    function payment_for_iap(payment_date , product_price_id, os_info){
{#        alert(payment_date);#}
{#        shade_index(-100);#}
{#        alert(product_price_id);#}
        $.ajax({
            url: "/payment/payment_for_iap/", // 서비스 웹서버
            type: "POST",
            headers: {"Content-Type": "application/json"},
            data: JSON.stringify({
                product_price_id: product_price_id,
                start_date: payment_date,
                os_info: os_info
            }),

            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
                beforeSend();
            },

            success: function (data) {
                var jsondata = JSON.parse(data);
                if (jsondata.messageArray.length > 0) {
                    msg = '결제에 실패하였습니다.';
                    msg += ' : ' + jsondata.messageArray;
                    url_move = "/payment/";
                    alert(msg);
                } else {
{#                    msg = '결제가 완료되었습니다.';#}
                    url_move = "/payment/payment_history/";
                }
                location.href = url_move;

            },

            complete: function () {
                completeSend();
            },

            error: function () {
                console.log('server error');
            }
        });
    }

    function payment_for_ios(receipt_data , ios_data, product_id, transaction_id){
{#        alert(payment_date);#}
{#        shade_index(-100);#}
{#        alert(product_price_id);#}
        var url_move = "";
        $.ajax({
            url: "/payment/payment_for_ios/", // 서비스 웹서버
            type: "POST",
            headers: {"Content-Type": "application/json"},
            data: JSON.stringify({
                receipt_data: receipt_data,
                ios_data: ios_data,
                product_id: product_id,
                transaction_id: transaction_id
            }),

            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
                beforeSend();
            },

            success: function (data) {
                var jsondata = JSON.parse(data);
                if (jsondata.messageArray.length > 0) {
                    var msg = '';
                    msg = '결제에 실패하였습니다.';
                    msg += ' : ' + jsondata.messageArray;
                    url_move = "/payment/";
                    alert(msg);
                } else {
{#                    msg = '결제가 완료되었습니다.';#}
                    if(jsondata.test_info != ''){
                        alert(jsondata.test_info);
                    }
                    url_move = "/payment/payment_history/";
                }
                location.href = url_move;

            },

            complete: function () {
                completeSend();
            },

            error: function () {
                alert('결제에 실패하였습니다.');
                location.href = "/payment/";
                console.log('server error');
            }
        });
    }

    function set_app_version(version){
        if(version != ''){
            ios_version = version;
            $('#id_standard_product_price_tag').text('30일권');
            $('#id_standard_product_price').text('9900원');
            $('.ptersCheckbox').attr('data-method', 'iap');
        }
    }

    </script>

    <script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.payment.js" %}></script>
{% endblock %}

