#qna_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.qna_upper_box{
		position: relative;
		height: 68px;
		line-height: 28px;
		background-color: #ffffff;
		/* border-bottom: 1px solid #cccccc; */
		/* background-image: linear-gradient(180deg, #ffffff, transparent); */
		padding: 20px 16px;
		box-sizing: border-box;
	}
	.qna_upper_box .qna_right_button{
		float: right;
		width: 30px;
		height: 30px;
	}
	.qna_upper_box .qna_right_button > img{
		width: 100%;
		border-radius: 50%;
	}

#qna_content_wrap{
	padding: 16px;
	box-sizing: border-box;
}

#qna_content_wrap .contents{
	border-radius: 4px;
	box-shadow: 0 0 16px 0 #e6e6e6;
	border: solid 1px #f5f2f3;
	background-color: #ffffff;
	margin-bottom: 12px;
	padding: 4px 0;
}



#section_admin_qna_content .qa_article_wrapper{
	display: flex;
	flex-direction: column-reverse;
}

#section_admin_qna_content .qa_article{
	padding: 10px 16px;
	box-sizing: border-box;
	border-bottom: 1px solid #cccccc;
}

#section_admin_qna_content .qa_article_upper{
	display: flex;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
#section_admin_qna_content .qa_article_bottom{
	display: flex;
	font-size: 13px;
}

#section_admin_qna_content .qa_article_id{
	flex-basis: 40px;
}
#section_admin_qna_content .qa_article_title{
	flex: 1 1 0;
}

#section_admin_qna_content .qa_article_type{
 	flex-basis: 70px;
}

#section_admin_qna_content .qa_article_contents{
	flex: 1 1 0;
}
#section_admin_qna_content .qa_article_member_name{
	flex: 1 1 0;
}
#section_admin_qna_content .qa_article_reg_date{
	flex: 1 1 0;
}
#section_admin_qna_content .qa_article_reg_status{
	flex: 1 1 0;
}
