#notice_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.notice_upper_box{
		position: relative;
		height: 68px;
		line-height: 28px;
		background-color: var(--bg-main);
		/* border-bottom: 1px solid #cccccc; */
		/* background-image: linear-gradient(180deg, #ffffff, transparent); */
		padding: 20px 16px;
		box-sizing: border-box;
	}
	.notice_upper_box .notice_right_button{
		float: right;
		width: 30px;
		height: 30px;
	}
	.notice_upper_box .notice_right_button > img{
		width: 100%;
		border-radius: 50%;
	}

#notice_content_wrap{
	padding: 16px;
	box-sizing: border-box;
}

#notice_content_wrap .contents{
	border-radius: 4px;
	box-shadow: var(--box-shadow-article);
	border: var(--border-article);
	background-color: var(--bg-main);
	margin-bottom: 12px;
	padding: 4px 0;
}



#section_admin_notice_content .notice_article_wrapper{
	display: flex;
	flex-direction: column-reverse;
}

#section_admin_notice_content .notice_article{
	padding: 10px 16px;
	box-sizing: border-box;
	border-bottom: var(--border-article-dark);
	cursor: pointer;
}

#section_admin_notice_content .notice_article_upper{
	display: flex;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
#section_admin_notice_content .notice_article_bottom{
	display: flex;
	font-size: 13px;
}
#section_admin_notice_content .notice_contents{
	font-size: 13px;
	margin-top: 10px;
}
#section_admin_notice_content .notice_contents > div:first-child{
	padding: 10px 5px;
	background-color: var(--bg-light);
}

#section_admin_notice_content .notice_article_id{
	flex-basis: 40px;
}
#section_admin_notice_content .notice_article_title{
	flex: 1 1 0;
}

#section_admin_notice_content .notice_article_use{
 	flex-basis: 50px;
}

#section_admin_notice_content .notice_article_target{
	flex: 1 0 0;
}
#section_admin_notice_content .notice_article_type{
	flex-basis: 80px;
}

#section_admin_notice_content .notice_article_reg_date{
	flex-basis: 150px;
	text-align: right;
}