{% extends "popup/trainer_base_popup_pagetype.html" %}
{% load static_url %}
{% load background_trainee_data %}

{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_view.css" %}>
{% endblock %}

{% block popup_base_wrapper_top_center %}
<span id="plan_name_in_popup">&nbsp;</span>
{% endblock %}

{% block popup_base_wrapper_top_right %}

{% endblock %}

{% block popup_base_contents %}
    <div class="popup_plan_view">
    
        <section id="wrapper_box_plan_view_toolbox" class="obj_box_full">

        </section>

        <section id="wrapper_box_plan_view_upper" class="obj_box_full">
            
        </section>

        <div class="gap"></div>
        <div class="gap"></div>

    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    {% now "Y-m-d" as todays_date %}

    {% if date_format|date:"Y-m-d" >= todays_date and avail_end_date|date:"Y-m-d" >= date_format|date:"Y-m-d"%}
        <!-- <div class="obj_button_big obj_font_bg_white_coral" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_calendar_plan_reserve', 90, POPUP_FROM_BOTTOM, {'select_date':'{{ date_format| date:'Y-m-d' }}'})">예약 추가하기</div> -->
    {% else %}
        <!-- <div class="obj_button_big obj_font_bg_pink_white" onclick="layer_popup.all_close_layer_popup()">확인</div> -->
    {% endif %}
{% endblock %}

{% block popup_base_js %}

<script>
    {% autoescape off %}
    let member_info;
    {% endautoescape %}


    let data;
    if(current_page == "calendar"){
        data = calendar.user_data.user_selected_plan;
    }

    class Plan_view{
        constructor(targetHTML, data, instance){
            this.targetHTML = targetHTML;
            this.instance = instance;
            this.data = data;

            this.user_selected_plan = data.user_selected_date
        }


        request_data(callback){
            Plan_func.read_plan(this.data.schedule_id, (data)=>{
                callback(data);
            })
        }
    }
    
    let plan_view_popup = new Plan_view('#wrapper_box_plan_view_toolbox', data, "plan_view_popup");
    plan_view_popup.request_data(()=>{console.log(data)})

    func_set_webkit_overflow_scrolling('.popup_plan_view');
</script>
{% endblock %}
