{% extends "popup/trainer_base_popup_pagetype.html" %}
{% load static_url %}
{% load background_trainee_data %}

{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.lecture_edit.css" %}>
{% endblock %}

{% block popup_base_wrapper_top_center %}
<span id="ticket_name_in_popup">수업 설정</span>
{% endblock %}

{% block popup_base_wrapper_top_right %}

{% endblock %}

{% block popup_base_contents %}
    <div class="popup_lecture_edit">
    
        <div id="wrapper_box_lecture_settings" class="obj_box_full">
            
        </div>

        <div class="gap"></div>
        <div class="gap"></div>

    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    {% now "Y-m-d" as todays_date %}

    {% if date_format|date:"Y-m-d" >= todays_date and avail_end_date|date:"Y-m-d" >= date_format|date:"Y-m-d"%}
        <!-- <div class="obj_button_big obj_font_bg_white_coral" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_calendar_plan_reserve', 90, POPUP_FROM_BOTTOM, {'select_date':'{{ date_format| date:'Y-m-d' }}'})">예약 추가하기</div> -->
    {% else %}
        <!-- <div class="obj_button_big obj_font_bg_pink_white" onclick="layer_popup.all_close_layer_popup()">확인</div> -->
    {% endif %}
{% endblock %}

{% block popup_base_js %}

<script>

    {% autoescape off %}
    let lecture_info = {{ lecture_info }};
    {% endautoescape %}

    function open_user_input_popup(prev_value, callback_after_input){
        layer_popup.open_layer_popup(POPUP_BASIC, 'popup_basic_user_input', POPUP_SIZE_WINDOW, POPUP_FROM_PAGE,
                                                {'popup_title':'', 'popup_comment':prev_value,
                                                'onclick_function':`${callback_after_input};layer_popup.close_layer_popup(POPUP_SIZE_WINDOW)`})
    }


    class Lecture_edit{
        constructor(targetHTML, data, instance){
            this.targetHTML = targetHTML;
            this.instance = instance;
            this.data = data;
            
            this.lecture_id;
            this.lecture_name;
            this.lecture_max_num;
            this.lecture_operating_time;
            this.lecture_color;
            this.lecture_repeat_schedule;
            this.lecture_fixed_member;
            this.lecture_status_cd;

            this.items;
        }

        init(){
            this.reform_data(this.data);
            this.render_setting_list();
        }

        reform_data(data){
            this.data = data;
            
            this.lecture_id = this.data.lecture_id;
            this.lecture_name = this.data.lecture_name;
            this.lecture_note = this.data.lecture_note;
            this.lecture_max_num = this.data.lecture_max_num;
            this.lecture_operating_time = "% 90분";
            this.lecture_color = "#fe4e65";
            this.lecture_repeat_schedule = "% 반복 안함";
            this.lecture_fixed_member = "% 1";
            this.lecture_status_cd = this.data.lecture_state_cd;

            this.items =    {    
                                lecture_name: {visible: true, title:"수업명", value:this.lecture_name, input_type:"text"},
                                lecture_note: {visible: true, title:"수업 설명", value: this.lecture_note, input_type:"text"},
                                lecture_member_num: {visible: true, title:"정원", value: this.lecture_max_num, input_type:"number"},
                                lecture_operating_time: {visible: true, title:"진행 시간", value: this.lecture_operating_time, input_type:"time"},
                                lecture_ing_color_cd: {visible: true, title:"색상 태그", value: this.lecture_color, input_type:"color"},
                                lecture_repeat_schedule: {visible: true, title:"반복 일정", value: this.lecture_repeat_schedule, input_type:"link"},
                                lecture_fixed_member: {visible: true, title:"고정 회원", value: this.lecture_fixed_member, input_type:"link"},
                                lecture_finished_members: {visible: true, title:"수업 종료된 회원", value:"", input_type:"link"},
                                lecture_history: {visible: true, title:"수업 이력", value:"", input_type:"link"},
                                lecture_deactivate: {visible: this.lecture_status_cd == "IP" ? true : false, title:"수업 비활성화", value:"", input_type:"option", option_data:
                                    {"비활성화":{value: 0, callback: ()=>{this.data_state('lecture_state_cd', 'PE')}}}
                                },
                                lecture_activate: {visible: this.lecture_status_cd != "IP" ? true : false, title:"수업 활성화", value:"", input_type:"option", option_data:
                                    {"활성화":{value: 0, callback: ()=>{this.data_state('lecture_state_cd', 'IP')}}}
                                },
                                lecture_delete: {visible: this.lecture_status_cd != "IP" ? true : false, title:"수업 삭제", value:"", input_type:"option", option_data:
                                    {"완전 삭제":{value: 0, callback: ()=>{this.data_delete()}}}
                                }
                            };
        }

        render_setting_list(target, options){
            if(target == undefined || target == ""){
                target = this.targetHTML;
            }
            if(options != undefined){
                for(let item in options){
                    this.menu_items[item].visible = options[item].visible;
                }
            }

            let html_to_join = [];
            for(let item in this.items){
                let item_el = this.items[item];
                if(item_el.visible == false){
                    continue;
                }
                if(item_el.value == ""){
                    item_el.value = "&nbsp;"
                }

                let if_it_is_color = false;
                let if_it_is_delete =false;
                switch(item){
                    //색상이 값인 경우 색상 표기를 위해
                    case "lecture_ing_color_cd":
                        if_it_is_color = true;
                        break;

                    //삭제 버튼의 경우 빨간색으로 글자 표기를 위해서
                    case "lecture_delete":
                        if_it_is_delete = true;
                        break;
                }


                let html = CComponent.setting_row(`${item}`, item_el.title, item_el.value, item_el.input_type, if_it_is_color, if_it_is_delete); 
                html_to_join.push(html);
            }
            document.querySelector(target).innerHTML = `<ul>${html_to_join.join('')}</ul>`;
            this.attach_events();
        }

        attach_events(){
            for(let item in this.items){
                let item_el = this.items[item];
                if(item_el.visible == false){
                    continue;
                }
                
                let onclick;
                let click_type = document.getElementById(`${item}`).dataset.click;
                switch(click_type){
                    case "text":
                        onclick = ()=>{show_user_input_popup(click_type, event.target.innerText, ()=>{lecture_edit.data_update(event, item)} )};
                        break;
                    case "number":
                        onclick = ()=>{show_user_input_popup(click_type, event.target.innerText, ()=>{lecture_edit.data_update(event, item)} )};
                        break;
                    case "option":
                        let option_data = item_el.option_data
                        onclick = ()=>{option_select_popup.open(option_data)};
                        break;
                    case "time":
                        // onclick = ()=>{time_select_popup.open(`${this.instance}.data_update(this, '${item}')`)};
                        onclick = ()=>{time_select_popup.open(`${this.instance}.data_update(this, '${item}')`)};
                        break;
                    case "date":
                        // onclick = ()=>{date_select_popup.open(`${this.instance}.data_update(this, '${item}')`)};
                        onclick = ()=>{date_select_popup.open(`${this.instance}.data_update(this, '${item}')`)};
                        break;
                    case "datepicker":
                        onclick = function(event){
                            if($(`#${event.target.id} input`).length == 0){
                                $(`#${event.target.id}`).append('<input type="text" readonly>')
                            }
                            $(`#${event.target.id} input`).datepicker();$(`#${event.target.id} input`).datepicker('show'); }
                        break;
                    case "color":
                        onclick = ()=>{show_user_input_popup(click_type, event.target.innerText, `${this.instance}.data_update(this, '${item}')`)};
                        break;
                    case "disabled":
                        onclick = ()=>{show_error_message("수정 할 수 없는 항목입니다.")}
                        break;    
                }
                document.getElementById(`${item}`).onclick = onclick;
            }
        }

        data_update(context, item_name){
            //데이터 형태 {"lecture_id":"", "member_num":"", "name":"", "note":"", "ing_color_cd":"", "end_color_cd":"", "ing_font_color_cd":"", "end_font_color_cd":""};
            let user_input = $(context.target).parent().siblings('div').find('.popup_basic_user_input_data').val();
            let data_to_send = {};
            data_to_send["lecture_id"] = this.lecture_id;
            data_to_send[item_name.replace(/lecture_/gi,"")] = user_input;

            Lecture_func.update(data_to_send, () => {
                this.data_refresh();
            }) 
        }

        data_state(item_name, external_input){
            let data_to_send = {};
            data_to_send["lecture_id"] = this.lecture_id;
            data_to_send[item_name.replace(/lecture_/gi,"")] = external_input;
            
            Lecture_func.status(data_to_send, () => {
                this.data_refresh();
            }) 
        }

        data_delete(){
            let data_to_send = {};
            data_to_send["lecture_id"] = this.lecture_id;

            Lecture_func.delete(data_to_send, () => {
                // this.data_refresh(); 
                layer_popup.all_close_layer_popup();
                lecture.init();
            }) 
        }

        data_refresh(){
            Lecture_func.read({"lecture_id":this.lecture_id}, (data)=>{
                this.reform_data(data);
                this.render_setting_list();
                lecture_info_popup.refresh(data);
                lecture.init();
            })
        }

    }

    var lecture_edit = new Lecture_edit("#wrapper_box_lecture_settings", lecture_info, "lecture_edit");
    lecture_edit.init();

    func_set_webkit_overflow_scrolling('.popup_ticket_view');
</script>
{% endblock %}
