{% extends "popup/trainer_base_popup_regtype.html" %}
{% load static_url %}
{% load background_trainee_data %}

{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_add.css" %}>
{% endblock %}

{% block popup_base_wrapper_top_center %}
<span id="plan_add_name_in_popup">&nbsp;</span>
{% endblock %}

{% block popup_base_wrapper_top_right %}
<img src="/static/common/icon/icon_done.png" alt="" class="obj_icon_basic">
{% endblock %}

{% block popup_base_contents %}
    <div class="popup_plan_add">
        
        <section id="wrapper_box_plan_add_toobox" class="obj_box_full">

        </section>
        
        <section id="wrapper_box_plan_add_upper" class="obj_box_full">
            
        </section>

        <section id="wrapper_box_plan_add_middle" class="obj_box_full">
            
        </section>

        <section id="wrapper_box_plan_add_bottom" class="obj_box_full">
            
        </section>

        <div class="gap"></div>
        <div class="gap"></div>

    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    {% now "Y-m-d" as todays_date %}

    {% if date_format|date:"Y-m-d" >= todays_date and avail_end_date|date:"Y-m-d" >= date_format|date:"Y-m-d"%}
        <!-- <div class="obj_button_big obj_font_bg_white_coral" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_calendar_plan_reserve', 90, POPUP_FROM_BOTTOM, {'select_date':'{{ date_format| date:'Y-m-d' }}'})">예약 추가하기</div> -->
    {% else %}
        <!-- <div class="obj_button_big obj_font_bg_pink_white" onclick="layer_popup.all_close_layer_popup()">확인</div> -->
    {% endif %}
{% endblock %}

{% block popup_base_js %}

<script>
    {% autoescape off %}
    let member_info;
    {% endautoescape %}

    class Plan_add{
        constructor(targetHTML_toolbox, targetHTML_u, targetHTML_m, targetHTML_b, data, instance){
            this.targetHTML_toolbox = targetHTML_toolbox;
            this.targetHTML_upper = targetHTML_u;
            this.targetHTML_middle = targetHTML_m;
            this.targetHTML_bottom = targetHTML_b;
            this.instance = instance;
            this.data = data;

            this.list_type = "lecture";

            let d = new Date();
            this.current_year = d.getFullYear();
            this.current_month = d.getMonth();
            this.current_date = d.getDate();
            this.current_hour = d.getHours() > 12 ? d.getHours() - 12 : d.getHours();
            this.current_minute = Math.round(d.getMinutes()/5)*5
            this.current_zone = d.getHours() > 12 ? 1 : 0;


            this.data_to_send = {
                    lecture_id:"",
                    member_id:"",
                    date:"",
                    start_time:"",
                    end_time:"",
                    repeat:{
                                day:"",
                                time:"",
                                repeat_start:"",
                                repeat_end:""
                    },
                    memo:""
            };

            this.init();
        }

        init(type){
            if(type == undefined){
                type = this.list_type;
            }
            this.list_type = type;

            this.render_toolbox();

            if(type == "off"){
                this.render_off_add_set();
            }else if(type == "lecture"){
                this.render_lecture_add_set();
            }

            
            this.request_lecture(()=>{

            })
        }

        render_toolbox(){
            let component = this.static_component();
            let html = component.plan_add_upper_box;
            document.querySelector(this.targetHTML_toolbox).innerHTML = html;
        }

        render_lecture_add_set(){
            this.render_upper();
            this.render_middle();
            this.render_bottom();
        }

        render_off_add_set(){
            this.render_upper('delete');
            this.render_middle();
            this.render_bottom();
        }



        render_upper(del){
            // html = CComponent.create_row(id, title, value, onclick);
            
            let html_lecture_select = CComponent.create_row('select_lecture', '수업', '/static/common/icon/icon_lecture.png', SHOW, (data)=>{ 
                // layer_popup.open_layer_popup(POPUP_AJAX_CALL, POPUP_ADDRESS_LECTURE_SELECT, 100, POPUP_FROM_RIGHT, {'member_id':this.data.basic_info.member_id});
                layer_popup.open_layer_popup(POPUP_AJAX_CALL, POPUP_ADDRESS_LECTURE_SELECT, 100, POPUP_FROM_RIGHT, {'member_id':null});
            });
            let html_member_select = CComponent.create_row('select_member', '회원', '/static/common/icon/icon_lecture.png', SHOW, (data)=>{
                layer_popup.open_layer_popup(POPUP_AJAX_CALL, POPUP_ADDRESS_MEMBER_SELECT, 100, POPUP_FROM_RIGHT, {'member_id':null});
            });
            let html = html_lecture_select + html_member_select;

            if(del != undefined){
                html = "";
            }

            document.querySelector(this.targetHTML_upper).innerHTML = html;
        }

        render_middle(del){
            //등록하는 행을 만든다.
            let html_date_select = CComponent.create_row('select_date', '날짜', '/static/common/icon/icon_lecture.png', HIDE, (data)=>{ 
                //행을 클릭했을때 실행할 내용
                let date_select_on_plan_add = new DateSelector('#date_select_on_plan_add', '#select_date .cell_text', "date_select_on_plan_add", {
                                                                        year_start : this.current_year - 5,
                                                                        year_end : this.current_year + 5,
                                                                        init_year : data != undefined ? data.split('.')[0] : this.current_year,
                                                                        init_month : data != undefined ? data.split('.')[1] : this.current_month + 1,
                                                                        init_date : data != undefined ? data.split('.')[2] : this.current_date,
                                                                        //DateSelector에서 값을 정했을때 실행할 함수
                                                                        callback_when_set : (data)=>{
                                                                            //data는 DateSelector의 set_selected_data로부터 넘어온 유저의 선택값
                                                                            //DateSelector에서 선택된 값을 서버에 보낼 값에 저장한다.
                                                                            this.data_to_send.date = data;
                                                                        }
                                                                    });
            }) +`<div id="date_select_on_plan_add"></div>`;
            let html_start_select = CComponent.create_row('select_start', '시작 시간', '/static/common/icon/icon_lecture.png', HIDE, (data)=>{ 
                let time_start_select_on_plan_add = new TimeSelector('#time_start_select_on_plan_add', '#select_start .cell_text', "time_start_select_on_plan_add", {
                                                                        init_zone : data != undefined ? data.split('.')[0] : this.current_zone,
                                                                        init_hour : data != undefined ? data.split('.')[1] : this.current_hour,
                                                                        init_minute : data != undefined ? data.split('.')[2] : this.current_minute,
                                                                        callback_when_set : (data)=>{
                                                                            let selected_hour = Number(data.split('.')[0])*12 + Number(data.split('.')[1]);
                                                                            let selected_min = Number(data.split('.')[2])
                                                                            this.data_to_send.start_time = `${selected_hour}:${selected_min}`;
                                                                        }
                                                                    });
                })  +`<div id="time_start_select_on_plan_add"></div>`;
            let html_end_select = CComponent.create_row('select_end', '종료 시간', '/static/common/icon/icon_lecture.png', HIDE, (data)=>{ 
                let time_end_select_on_plan_add = new TimeSelector('#time_end_select_on_plan_add', '#select_end .cell_text', "time_end_select_on_plan_add", {
                                                                        init_zone : data != undefined ? data.split('.')[0] : this.current_zone,
                                                                        init_hour : data != undefined ? data.split('.')[1] : this.current_hour,
                                                                        init_minute : data != undefined ? data.split('.')[2] : this.current_minute,
                                                                        callback_when_set : (data)=>{
                                                                            let selected_hour = Number(data.split('.')[0])*12 + Number(data.split('.')[1]);
                                                                            let selected_min = Number(data.split('.')[2])
                                                                            this.data_to_send.end_time = `${selected_hour}:${selected_min}`;
                                                                        }
                                                                    });
            })  +`<div id="time_end_select_on_plan_add"></div>`;
            let html_repeat_select = CComponent.create_row('select_repeat', '반복 일정', '/static/common/icon/icon_lecture.png', SHOW, (data)=>{ console.log(data);});

            let html = html_date_select + html_start_select + html_end_select + html_repeat_select;

            if(del != undefined){
                html = "";
            }

            document.querySelector(this.targetHTML_middle).innerHTML = html;
        }

        render_bottom(del){
            //메모 입력 행을 생성한다. 메모입력 행을 클릭했을때 실행할 함수를 전달한다.
            let html_memo_select = CComponent.create_row('select_memo', '메모', '/static/common/icon/icon_lecture.png', HIDE, (data)=>{ 
                let memo_row = event.target; //event.target은 메모 행
                show_user_input_popup("text", memo_row.innerText, ()=>{  //메모행을 클릭했을때 실행될 함수. 메모행에서 입력후 확인을 눌렀을때 실행할 함수를 전달한다.
                    //메모행에서 입력후 확인을 눌렀을때, 입력값을 저장한다. 
                    let user_input = $(event.target).parent().siblings('div').find('.popup_basic_user_input_data').val(); //event.target은 메모행의 확인버튼
                    $(memo_row).find('.cell_text').text(user_input);
                    $(memo_row).find('.cell_text').siblings('input').val(user_input);

                    this.data_to_send.memo = user_input;
                })
            });

            let html = html_memo_select;

            if(del != undefined){
                html = "";
            }

            document.querySelector(this.targetHTML_bottom).innerHTML = html;
        }


        switch_type(){
            switch(this.list_type){
                case "lecture":
                    this.init("off");
                break;

                case "off":
                    this.init("lecture");
                break;
            }
        }

        request_member(callback){
            let data_reproduced;
            member.request_member_list("ing", (data)=>{
                data_reproduced = this.data_reproduce(data.current_member_data);
                callback(data_reproduced);
            })
            
        }

        request_lecture(callback){
            let data_reproduced;
            lecture.request_lecture_list("ing", (data)=>{
                data_reproduced = this.data_reproduce(data.current_lecture_data);
                callback(data_reproduced);
            })
            
        }

        data_reproduce(ajax_json_data){
            let length = ajax_json_data.length;
            for(let i=0; i<length; i++){
                let data = ajax_json_data[i];
                Object.keys(ajax_json_data[i]).forEach(function(key) {
                    var newkey = key.replace(/member_/gi, "").replace(/lecture_/gi, "").replace(/id/gi, "value");
                    data[newkey] = data[key];
                    delete data[key];
                });
            }
            return ajax_json_data;
        }


        static_component(){
            return {
                "plan_add_upper_box":`   <div class="plan_add_upper_box">
                                            <div style="display:inline-block;width:200px;">
                                                <div style="display:inline-block;width:200px;">
                                                    <span style="font-size:20px;font-weight:bold;">일정 등록</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="plan_add_bottom_tools_wrap">
                                            <div class="list_type_tab_wrap">
                                                <div onclick="${this.instance}.switch_type();" class="${this.list_type == "lecture" ? "tab_selected" : ""}">수업</div>
                                                <div onclick="${this.instance}.switch_type();" class="${this.list_type == "off" ? "tab_selected" : ""}">OFF</div>
                                            </div>
                                        </div>
                                            `
            }
        }

    }

    var plan_add = new Plan_add('#wrapper_box_plan_add_toobox', '#wrapper_box_plan_add_upper', '#wrapper_box_plan_add_middle', '#wrapper_box_plan_add_bottom', "", "plan_add")
    

    func_set_webkit_overflow_scrolling('.popup_plan_add');
</script>
{% endblock %}
