{% extends "popup/trainer_base_popup_pagetype.html" %}
{% load static_url %}
{% load background_trainee_data %}

{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.ticket_edit.css" %}>
{% endblock %}

{% block popup_base_wrapper_top_center %}
<span id="ticket_name_in_popup">수강권 설정</span>
{% endblock %}

{% block popup_base_wrapper_top_right %}

{% endblock %}

{% block popup_base_contents %}
    <div class="popup_ticket_edit">
    
        <div id="wrapper_box_ticket_settings" class="obj_box_full">
            
        </div>

        <div class="gap"></div>
        <div class="gap"></div>

    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    {% now "Y-m-d" as todays_date %}

    {% if date_format|date:"Y-m-d" >= todays_date and avail_end_date|date:"Y-m-d" >= date_format|date:"Y-m-d"%}
        <!-- <div class="obj_button_big obj_font_bg_white_coral" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_calendar_plan_reserve', 90, POPUP_FROM_BOTTOM, {'select_date':'{{ date_format| date:'Y-m-d' }}'})">예약 추가하기</div> -->
    {% else %}
        <!-- <div class="obj_button_big obj_font_bg_pink_white" onclick="layer_popup.all_close_layer_popup()">확인</div> -->
    {% endif %}
{% endblock %}

{% block popup_base_js %}

<script>

    {% autoescape off %}
    let ticket_info = {{ ticket_info }};
    {% endautoescape %}


    class Ticket_edit{
        constructor(targetHTML, data, instance){
            this.targetHTML = targetHTML;
            this.instance = instance;
            this.data = data;
            
            this.ticket_id = this.data.package_id;
            this.ticket_name = this.data.package_name;
            this.ticket_description = this.data.package_note;
            this.ticket_include_lectures = this.data.package_group_list;
            this.ticket_count = "% 100";
            this.ticket_expiry = "% 3개월";
            this.ticket_price = "% 1,200,000원";
            

            this.items =    {    
                                ticket_name: {visible: true, title:"수강권명", value:this.ticket_name},
                                // ticket_description: {visible: true, title:"수강권 설명", value: this.ticket_description},
                                package_note: {visible: true, title:"수강권 설명", value: this.ticket_description},
                                ticket_include_lectures: {visible: true, title:"포함된 수업", value: this.ticket_include_lectures.length},
                                ticket_count: {visible: true, title:"횟수", value: this.ticket_count},
                                ticket_expiry: {visible: true, title:"유효 기간", value: this.ticket_expiry},
                                ticket_price: {visible: true, title:"가격", value: this.ticket_price},
                                ticket_finished_members: {visible: true, title:"수강 종료된 회원", value:""},
                                ticket_history: {visible: true, title:"수강권 이력", value:""},
                                ticket_deactivate: {visible: true, title:"수강권 비활성화", value:""}
                            };
        }

        init(){
            this.render_setting_list();
        }

        render_setting_list(target, options){
            if(target == undefined || target == ""){
                target = this.targetHTML;
            }
            if(options != undefined){
                for(let item in options){
                    this.menu_items[item].visible = options[item].visible;
                }
            }

            let html_to_join = [];
            for(let item in this.items){
                let item_el = this.items[item];
                if(item_el.visible == false){
                    continue;
                }
                let item_name = String(item);
                let onclick = `show_user_input_popup(event.target.innerText, '${this.instance}.send_data(this, \\'${item_name}\\' )')`
                let html = 
                            `<li class="">
                                <div class="obj_table_raw">
                                    <div class="cell_title">${item_el.title}</div>
                                    <div class="cell_value" onclick="${onclick}">${item_el.value}</div>
                                    <div class="cell_icon"><img src="/static/common/icon/navigate_next_black.png" class="obj_icon_basic"></div>
                                </div>
                            </li>`;
                html_to_join.push(html);
            }
            document.querySelector(target).innerHTML = `<ul>${html_to_join.join('')}</ul>`; 
        }

        send_data(context, item_name){
            let user_input = $(context).parent().siblings('div').find('.popup_basic_user_input_full').val();
            let data_to_send = `{"package_id": ${this.ticket_id}, "${item_name}": ${user_input}}`;
            console.log(data_to_send);

            Ticket_func.update(data_to_send, () => {
                Ticket_func.read({"ticket_id":this.ticket_id}, ()=>{
                    this.render_setting_list();
                })
            }) 
        }
    }

    var ticket_edit = new Ticket_edit("#wrapper_box_ticket_settings", ticket_info, "ticket_edit");
    ticket_edit.init();

    func_set_webkit_overflow_scrolling('.popup_ticket_view');
</script>
{% endblock %}
