{% load static_url %}

<link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.basic.css" %}>
<style>
    
</style>

<div class="popup_mobile popup_mobile_basic">
    <div class="popup_basic_user_select obj_font_size_15_weight_500">
        <div class="wrapper_popup_basic_comment obj_font_size_13_weight_500"></div>
        <div class="wrapper_popup_basic_buttons obj_table_raw">
            <div class="popup_basic_cancel obj_table_cell_x2" onclick="layer_popup.close_layer_popup(POPUP_SIZE_WINDOW)">취소</div>
            <div class="popup_basic_confirm obj_table_cell_x2">확인</div>
        </div>
    </div>
</div>

<div class="popup_mobile popup_mobile_basic">
	<div class="popup_basic_user_confirm obj_font_size_15_weight_500">
        <div class="wrapper_popup_basic_comment obj_font_size_13_weight_500"></div>
        <div class="wrapper_popup_basic_buttons obj_table_raw">
            <div class="popup_basic_confirm obj_table_cell_x2">확인</div>
        </div>
    </div>
</div>


<script type="text/javascript">

</script>
