{% load static_url %}

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.member_view.css" %}>
    <div class="popup_member_view">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.member_add.css" %}>
    <div class="popup_member_add">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.lecture_view.css" %}>
    <div class="popup_lecture_view">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.lecture_list.css" %}>
    <div class="popup_lecture_list">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.lecture_add.css" %}>
    <div class="popup_lecture_add">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.ticket_view.css" %}>
    <div class="popup_ticket_view">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.ticket_add.css" %}>
    <div class="popup_ticket_add">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.ticket_list.css" %}>
    <div class="popup_ticket_list">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_view.css" %}>
    <div class="popup_plan_view">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_add.css" %}>
    <div class="popup_plan_add">
    </div>
</div>


<div class="popup_mobile popup_full">
    <div class="popup_member_simple_view"></div>
</div>

<div class="popup_mobile popup_full">
    <div class="popup_ticket_simple_view"></div>
</div>

<div class="popup_mobile popup_full">
    <div class="popup_lecture_simple_view"></div>
</div>


<div class="popup_mobile">
    <!-- <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_add.css" %}> -->
    <div class="popup_member_schedule_history">
    </div>
</div>

<div class="popup_mobile">
    <!-- <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_add.css" %}> -->
    <div class="popup_member_ticket_history">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.member_ticket_modify.css" %}>
    <div class="popup_member_ticket_modify">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.member_ticket_refund.css" %}>
    <div class="popup_member_ticket_refund">
    </div>
</div>

<div class="popup_mobile">
    <div class="popup_member_attend">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.statistics.css" %}>
    <div class="popup_statistics">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.statistics_detail.css" %}>
    <div class="popup_statistics_detail">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.program_list.css" %}>
    <div class="popup_program_list">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.program_add.css" %}>
    <div class="popup_program_add">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.program_view.css" %}>
    <div class="popup_program_view">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.setting_worktime.css" %}>
    <div class="popup_setting_worktime">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.setting_autocomplete.css" %}>
    <div class="popup_setting_autocomplete">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.setting_reserve.css" %}>
    <div class="popup_setting_reserve">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.setting_alarm.css" %}>
    <div class="popup_setting_alarm">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.setting_attendmode.css" %}>
    <div class="popup_setting_attendmode">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.service_notice.css" %}>
    <div class="popup_service_notice">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.service_inquiry_menu.css" %}>
    <div class="popup_service_inquiry_menu">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.service_inquiry.css" %}>
    <div class="popup_service_inquiry">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.service_inquiry_history.css" %}>
    <div class="popup_service_inquiry_history">
    </div>
</div>


<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.mypage.css" %}>
    <div class="popup_mypage">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.mypage_modify.css" %}>
    <div class="popup_mypage_modify">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.mypage_photo_update.css" %}>
    <div class="popup_mypage_photo_update">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.password_modify.css" %}>
    <div class="popup_password_modify">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.pters_pass_main.css" %}>
    <div class="popup_pters_pass_main">
    </div>
</div>

<div class="popup_mobile">
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.pters_pass_pay_info.css" %}>
    <div class="popup_pters_pass_pay_info">
    </div>
</div>

<script>
window.onload = function(){
    // func_set_webkit_overflow_scrolling('.wrapper_middle');
}
</script>
