{% load static_url %}

<link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.basic.css" %}>
<style>
    .wrapper_popup_time_selector_function{
        text-align: center;
        /* background-image: linear-gradient(#8e8e8e, white 35%, white 65%, #8e8e8e); */
    }
    .select_wrapper{
        display: inline-block;
        width: 45%;
        position: relative;
        overflow: hidden;
        height: 170px;
    }
    .selector_title{
        position: absolute;
        width: 100%;
        top: 0px;
        height: 20px;
        line-height: 20px;
        background-color: #ffffff;
        z-index: 2;
    }
    .select_wrapper_child{
        position: absolute;
        top: 20px;
        width: 100%;
        height: 150px;
        z-index: 1;
        /* background-image: linear-gradient(#8e8e8e, transparent 35%, transparent 65%, #8e8e8e); */
    }
    .selector_indicator{
        position: absolute;
        top: 70px;
        width: 100%;
        height: 50px;
        /* border-top: 1px solid #fe4e65;
        border-bottom: 1px solid #fe4e65; */
        box-shadow: 0px 0px 2px 0px #545454;
    }

    .select_wrapper ul{
        /* color: #1e1e1e; */
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .select_wrapper ul > li{
        color: #cccccc;
        background-color: transparent;
        height: 50px;
        line-height: 50px;
    }
</style>

<div class="popup_mobile popup_mobile_basic">
    <div class="popup_basic_user_input popup_basic_user_input_text obj_font_size_15_weight_500">
        <div class="wrapper_popup_basic_comment obj_font_size_18_weight_bold"></div>
        <div><input type="text" placeholder="입력 해주세요." class="popup_basic_user_input_full"></div>
        <div class="wrapper_popup_basic_buttons obj_table_raw">
            <div class="popup_basic_cancel obj_table_cell_x2" onclick="layer_popup.close_layer_popup(POPUP_SIZE_WINDOW)">취소</div>
            <div class="popup_basic_confirm obj_table_cell_x2">확인</div>
        </div>
    </div>
</div>

<div class="popup_mobile popup_mobile_basic">
    <div class="popup_basic_user_input popup_basic_user_input_number obj_font_size_15_weight_500">
        <div class="wrapper_popup_basic_comment obj_font_size_18_weight_bold"></div>
        <div><input type="tel" placeholder="입력 해주세요." class="popup_basic_user_input_full"></div>
        <div class="wrapper_popup_basic_buttons obj_table_raw">
            <div class="popup_basic_cancel obj_table_cell_x2" onclick="layer_popup.close_layer_popup(POPUP_SIZE_WINDOW)">취소</div>
            <div class="popup_basic_confirm obj_table_cell_x2">확인</div>
        </div>
    </div>
</div>

<div class="popup_mobile popup_full" style="background-color:transparent;padding:0 20px;box-sizing: border-box;">
        <div class="popup_basic_user_select_multi obj_font_size_15_weight_500">
            <div class="wrapper_popup_basic_comment obj_font_size_18_weight_bold"></div>
            <div id="option_wrap" class="wrapper_popup_basic_user_select_options" style="margin-bottom: 30px;">
    
            </div>
            <div class="wrapper_popup_basic_buttons obj_table_raw  obj_font_bg_black_white" style="border-radius:5px;">
                <div class="popup_basic_cancel obj_table_cell_x2" onclick="layer_popup.close_layer_popup(POPUP_SIZE_WINDOW)">취소</div>
            </div>
        </div>
    </div>

<div class="popup_mobile popup_full">
	<div class="popup_basic_time_selector obj_font_size_15_weight_500">
        <div class="wrapper_popup_basic_comment obj_font_size_13_weight_500" onclick='time_select_popup.show_selected_time()'></div>

        <div class="wrapper_popup_time_selector_function">

            <div class="select_wrapper">
                <div class="selector_title">시작 시간</div>
                <div id="hour_wrap" class="select_wrapper_child">
                    
                </div>
                <div class="selector_indicator"></div>
            </div>

            <div class="select_wrapper">
                <div class="selector_title">종료 시간</div>
                <div id="hour2_wrap" class="select_wrapper_child">
                    
                </div>
                <div class="selector_indicator"></div>
            </div>

        </div>

        <div class="wrapper_popup_basic_buttons obj_table_raw">
            <div class="popup_basic_cancel obj_table_cell_x2" onclick="time_select_popup.set_selected_data();layer_popup.close_layer_popup(POPUP_SIZE_WINDOW)">선택 완료</div>
            <!-- <div class="popup_basic_confirm obj_table_cell_x2">확인</div> -->
        </div>
    </div>
</div>

<script type="text/javascript">

// 시간 선택 팝업++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// 시간 선택 팝업++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    class TwoTimeSelector{
        constructor(target1, target2, instance){
            this.target_time1 = target1;
            this.target_time2 = target2;
            this.result_target_time1;
            this.result_target_time2;
            this.data;
            this.instance = instance;
            this.hour_scroll;
            this.hour2_scroll;
            this.user_scroll_hour = false;
            this.user_scroll_minute = false;
            this.hour_scroll_snapped = 0;

            this.init();
        }

        init(){
            this.render_time1_list();
            this.render_time2_list();
            this.set_iscroll();
        }

        reset(result_target1, result_target2, init_hour, init_minute){
            this.result_target_time1 = result_target1;
            this.result_target_time2 = result_target2;
            let d = new Date();
            let h = d.getHours();
            let m = d.getMinutes();
            this.go_snap(init_hour == undefined? h : init_hour, init_minute == undefined? m : init_minute);
        }

        render_time1_list(){
            let html_to_join = [];
            let pos = 0;
            for(let i=0; i<24; i++){
                for(let j=0; j<60; j=j+5){
                    html_to_join.push(`<li data-spos=${pos}>${i < 10 ? '0'+i : i }:${j < 10 ? '0'+j : j}</li>`);
                    pos = pos + 50;
                }
            }
            document.querySelector(this.target_time1).innerHTML = `<ul><li></li>${html_to_join.join('')}<li></li></ul>`;
        }

        render_time2_list(){
            let html_to_join = [];
            let pos = 0;
            for(let i=0; i<24; i++){
                for(let j=0; j<60; j=j+5){
                    html_to_join.push(`<li data-epos=${pos}>${i < 10 ? '0'+i : i }:${j < 10 ? '0'+j : j}</li>`);
                    pos = pos + 50;
                }
            }

            document.querySelector(this.target_time2).innerHTML = `<ul><li></li>${html_to_join.join('')}<li></li></ul>`;
        }


        check(data){

        }

        set_iscroll(){
            this.hour_scroll = new IScroll('#hour_wrap',{
                                mouseWheel : true,
                                // snap: 'li'
                            })

            this.hour2_scroll = new IScroll('#hour2_wrap',{
                                mouseWheel : true,
                                // snap: 'li'
            })
            this.set_scroll_snap();
        }

        set_scroll_snap(){
            let self = this;
            
            self.hour_scroll.on('scrollEnd', function (){
                if(self.user_scroll_hour == true){
                    self.user_scroll_hour = false;
                    let posY = this.y;
                    let min = posY-posY%50;
                    let max = min - 50;

                    let snap;
                    
                    if(Math.abs(posY - max) < Math.abs(posY - min)){
                        snap = max;
                    }else{
                        snap = min;
                    }
                    self.hour_scroll.scrollTo(0, snap, 0, IScroll.utils.ease.bounce);
                    $(`li[data-spos="${Math.abs(self.hour_scroll.y)}"]`).siblings('li').css('color', '#cccccc');
                    $(`li[data-spos="${Math.abs(self.hour_scroll.y)}"]`).css('color', '#1e1e1e');
                    self.hour_scroll_snapped = snap;
                    self.hour2_scroll.scrollTo(0, snap, 0, IScroll.utils.ease.bounce);
                    $(`li[data-epos="${Math.abs(self.hour2_scroll.y)}"]`).siblings('li').css('color', '#cccccc');
                    $(`li[data-epos="${Math.abs(self.hour2_scroll.y)}"]`).css('color', '#1e1e1e');
                }
            })

            self.hour_scroll.on('beforeScrollStart', function (){
                self.user_scroll_hour = true;
            })

            
            self.hour2_scroll.on('scrollEnd', function (){
                if(self.user_scroll_minute == true){
                    self.user_scroll_minute = false;
                    let posY = this.y;
                    let min = posY-posY%50;
                    let max = min - 50;

                    let snap;
                    
                    if(Math.abs(posY - max) < Math.abs(posY - min)){
                        snap = max;
                    }else{
                        snap = min;
                    }
                    if(snap > self.hour_scroll_snapped){
                        self.hour2_scroll.scrollTo(0, self.hour_scroll_snapped, 0, IScroll.utils.ease.bounce);
                        show_error_message('종료시간이 시작시간보다 빠릅니다.')
                    }else{
                        self.hour2_scroll.scrollTo(0, snap, 0, IScroll.utils.ease.bounce);
                    }
                    
                    $(`li[data-epos="${Math.abs(self.hour2_scroll.y)}"]`).siblings('li').css('color', '#cccccc');
                    $(`li[data-epos="${Math.abs(self.hour2_scroll.y)}"]`).css('color', '#1e1e1e');
                    
                }
            })

            self.hour2_scroll.on('beforeScrollStart', function (){
                self.user_scroll_minute = true;
            })
        }

        go_snap(hour, minute){
            let initial_pos = -(Number(hour)*600 + Math.round(Number(minute)/5)*5*10);
            this.hour_scroll.scrollTo(0, initial_pos, 0, IScroll.utils.ease.bounce);
            this.hour2_scroll.scrollTo(0, initial_pos, 0, IScroll.utils.ease.bounce);
            this.hour_scroll_snapped = initial_pos;

            $(`li[data-spos="${Math.abs(this.hour_scroll.y)}"]`).css('color', '#1e1e1e');
            $(`li[data-epos="${Math.abs(this.hour2_scroll.y)}"]`).css('color', '#1e1e1e');
            $(`li[data-spos="${Math.abs(this.hour_scroll.y)}"]`).siblings('li').css('color', '#cccccc');
            $(`li[data-epos="${Math.abs(this.hour2_scroll.y)}"]`).siblings('li').css('color', '#cccccc');
        }

        show_selected_time(){
            let start = $(`li[data-spos="${Math.abs(this.hour_scroll.y)}"]`);
            let end = $(`li[data-epos="${Math.abs(this.hour2_scroll.y)}"]`);

            let start_text = start.text();
            let end_text = end.text();

            if(start_text == undefined || start_text == ''){
                alert('시작시간 입력을 다시 해주세요.')
            }
            else if(end_text == undefined || end_text == ''){
                alert('종료시간 입력을 다시 해주세요.')
            }
            else{
                alert('시작:' + start_text + ' ~ ' + '종료:'+ end_text)
            }
        }

        get_selected_data(){
            let start = $(`li[data-spos="${Math.abs(this.hour_scroll.y)}"]`);
            let end = $(`li[data-epos="${Math.abs(this.hour2_scroll.y)}"]`);

            let start_text = start.text();
            let end_text = end.text();

            return {
                start : start_text,
                end : end_text
            };
        }

        set_selected_data(){
            let $target1 = $(this.result_target_time1);
            let $target2 = $(this.result_target_time2);

            let result = this.get_selected_data();

            $target1.val(result.start).text(result.start);
            $target2.val(result.end).text(result.end);
        }

        open(target1, target2){
            let top_comment_height = 65;
            let time_selector_height = 175;
            let close_button_height = 46;
            let sum = top_comment_height + time_selector_height + close_button_height;

            let popup_height = 100*sum/windowHeight;

            layer_popup.open_layer_popup(POPUP_BASIC, 'popup_basic_time_selector', popup_height, POPUP_FROM_BOTTOM,
                {'popup_title':'', 'popup_comment':'시간을 선택해주세요'});

            time_select_popup.reset(target1, target2);
        }
    }

    var time_select_popup = new TwoTimeSelector('#hour_wrap', '#hour2_wrap', "time_select_popup");
    // time_select_popup.init();


    class OptionSelector{
        constructor(target, instance){
            this.html_target = target;
            this.instance = instance;
            this.data;
        }

        init(){

        }

        reset(option_data){
            this.data = option_data;
            this.render_option_list();
        }

        render_option_list(){
            // let length = Object.keys(this.data).length;
            let $target = $(this.html_target);
            let html_to_join = [];
            for(let option in this.data){
                let option_name = option;
                let option_value = this.data[option].value;
                    html_to_join.push(

                        `
                        <div id="option_select_${option_value}" class="wrapper_popup_basic_buttons obj_font_bg_black_white option_select" style="border-radius:5px;margin-bottom:5px;">
                            ${option_name}
                        </div>
                        `
                    );
            }
            this.attach_events();
            document.querySelector(this.html_target).innerHTML = html_to_join.join('');
        }

        attach_events(){
            // $("option_select").off('click');
            for(let option in this.data){
                let option_name = option;
                let option_value = this.data[option].value;
                let option_callback = this.data[option].callback;

                $(document).off('click', `#option_select_${option_value}`).on('click', `#option_select_${option_value}`, function (){
                    option_callback();
                    layer_popup.close_layer_popup(POPUP_SIZE_WINDOW);
                })

            }
        }


        open(option_data){
            this.reset(option_data);
            let option_length = Object.keys(this.data).length;
            let button_height = 45;
            let popup_height = 100*(button_height*(option_length+4))/windowHeight;
            layer_popup.open_layer_popup(POPUP_BASIC, 'popup_basic_user_select_multi', popup_height, POPUP_FROM_BOTTOM);
        }

        //data 형태
        // `{
        //     사과:{value: 'apple', callback: ()=>{console.log('사과 Apple')} }, 
        //     수박:{value: 'water_melon', callback: ()=>{console.log('수박 Water melon')} }, 
        //     바나나:{value: 'banana', callback: ()=>{console.log('바나나 Banana')} }
        // }`;


    }
    
    var option_select_popup = new OptionSelector('#option_wrap', 'option_select_popup');

// 시간 선택 팝업++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// 시간 선택 팝업++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


</script>
