{% load static_url %}

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.member_view.css" %}>
    <div class="popup_member_view">
    </div>
</div>

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.member_add.css" %}>
    <div class="popup_member_add">
    </div>
</div>

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.lecture_view.css" %}>
    <div class="popup_lecture_view">
    </div>
</div>

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.lecture_add.css" %}>
    <div class="popup_lecture_add">
    </div>
</div>

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.ticket_view.css" %}>
    <div class="popup_ticket_view">
    </div>
</div>

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.ticket_add.css" %}>
    <div class="popup_ticket_add">
    </div>
</div>

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_view.css" %}>
    <div class="popup_plan_view">
    </div>
</div>

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_add.css" %}>
    <div class="popup_plan_add">
    </div>
</div>


<div class="popup_mobile popup_full">
    <div class="popup_member_simple_view"></div>
</div>

<div class="popup_mobile popup_full">
    <div class="popup_ticket_simple_view"></div>
</div>

<div class="popup_mobile popup_full">
    <div class="popup_lecture_simple_view"></div>
</div>


<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_add.css" %}>
    <div class="popup_member_schedule_history">
    </div>
</div>

<div class="popup_mobile">
        <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_add.css" %}>
    <div class="popup_member_ticket_history">
    </div>
</div>

<script>
window.onload = function(){
    // func_set_webkit_overflow_scrolling('.wrapper_middle');
}
</script>
