{% extends "popup/trainer_base_popup_regtype.html" %}
{% load static_url %}
{% load background_trainee_data %}

{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.plan_add.css" %}>
{% endblock %}

{% block popup_base_wrapper_top_center %}
<span id="plan_add_name_in_popup">&nbsp;</span>
{% endblock %}

{% block popup_base_wrapper_top_right %}
<img src="/static/common/icon/icon_done.png" alt="" class="obj_icon_basic">
{% endblock %}

{% block popup_base_contents %}
    <div class="popup_plan_add">
        
        <section id="wrapper_box_plan_add_toobox" class="obj_box_full">

        </section>
        
        <section id="wrapper_box_plan_add_upper" class="obj_box_full">
            
        </section>

        <section id="wrapper_box_plan_add_middle" class="obj_box_full">
            
        </section>

        <section id="wrapper_box_plan_add_bottom" class="obj_box_full">
            
        </section>

        <div class="gap"></div>
        <div class="gap"></div>

    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    {% now "Y-m-d" as todays_date %}

    {% if date_format|date:"Y-m-d" >= todays_date and avail_end_date|date:"Y-m-d" >= date_format|date:"Y-m-d"%}
        <!-- <div class="obj_button_big obj_font_bg_white_coral" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_calendar_plan_reserve', 90, POPUP_FROM_BOTTOM, {'select_date':'{{ date_format| date:'Y-m-d' }}'})">예약 추가하기</div> -->
    {% else %}
        <!-- <div class="obj_button_big obj_font_bg_pink_white" onclick="layer_popup.all_close_layer_popup()">확인</div> -->
    {% endif %}
{% endblock %}

{% block popup_base_js %}

<script>
    {% autoescape off %}
    let member_info;
    {% endautoescape %}

    class Plan_add{
        constructor(targetHTML_toolbox, targetHTML_u, targetHTML_m, targetHTML_b, data, instance){
            this.targetHTML_toolbox = targetHTML_toolbox;
            this.targetHTML_upper = targetHTML_u;
            this.targetHTML_middle = targetHTML_m;
            this.targetHTML_bottom = targetHTML_b;
            this.instance = instance;
            this.data = data;

            this.list_type = "lecture";
            
            this.init();
        }

        init(type){
            if(type == undefined){
                type = this.list_type;
            }
            this.list_type = type;

            this.render_toolbox();

            if(type == "off"){
                this.render_off_add_set();
            }else if(type == "lecture"){
                this.render_lecture_add_set();
            }
        }

        render_toolbox(){
            let component = this.static_component();
            let html = component.plan_add_upper_box;
            document.querySelector(this.targetHTML_toolbox).innerHTML = html;
        }

        render_lecture_add_set(){
            console.log('lll')
            this.render_upper();
            this.render_middle();
            this.render_bottom();
        }

        render_off_add_set(){
            console.log('off')
            this.render_upper('delete');
            this.render_middle();
            this.render_bottom();
        }



        render_upper(del){
            // html = CComponent.create_row(id, title, value, onclick);
            
            let html_lecture_select = CComponent.create_row('select_lecture', '수업', '&nbsp;', (data)=>{ console.log(data);}, '/static/common/icon/icon_lecture.png');
            let html_member_select = CComponent.create_row('select_lecture', '회원', '&nbsp;', (data)=>{ console.log(data);}, '/static/common/icon/icon_lecture.png');

            let html = html_lecture_select + html_member_select;

            if(del != undefined){
                html = "";
            }

            document.querySelector(this.targetHTML_upper).innerHTML = html;
        }

        render_middle(del){
            let html_date_select = CComponent.create_row('select_lecture', '날짜', '&nbsp;', (data)=>{ console.log(data);}, '/static/common/icon/icon_lecture.png');
            let html_start_select = CComponent.create_row('select_lecture', '시작 시간', '&nbsp;', (data)=>{ console.log(data);}, '/static/common/icon/icon_lecture.png');
            let html_end_select = CComponent.create_row('select_lecture', '종료 시간', '&nbsp;', (data)=>{ console.log(data);}, '/static/common/icon/icon_lecture.png');
            let html_repeat_select = CComponent.create_row('select_lecture', '반복 일정', '&nbsp;', (data)=>{ console.log(data);}, '/static/common/icon/icon_lecture.png');

            let html = html_date_select + html_start_select + html_end_select + html_repeat_select;

            if(del != undefined){
                html = "";
            }

            document.querySelector(this.targetHTML_middle).innerHTML = html;
        }

        render_bottom(del){
            let html_memo_select = CComponent.create_row('select_lecture', '메모', '&nbsp;', (data)=>{ console.log(data);}, '/static/common/icon/icon_lecture.png');

            let html = html_memo_select;

            if(del != undefined){
                html = "";
            }

            document.querySelector(this.targetHTML_bottom).innerHTML = html;
        }


        switch_type(){
            switch(this.list_type){
                case "lecture":
                    this.init("off");
                break;

                case "off":
                    this.init("lecture");
                break;
            }
        }
        static_component(){
            return {
                "plan_add_upper_box":`   <div class="plan_add_upper_box">
                                            <div style="display:inline-block;width:200px;">
                                                <div style="display:inline-block;width:200px;">
                                                    <span style="font-size:20px;font-weight:bold;">일정 등록</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="plan_add_bottom_tools_wrap">
                                            <div class="list_type_tab_wrap">
                                                <div onclick="${this.instance}.switch_type();" class="${this.list_type == "lecture" ? "tab_selected" : ""}">수업</div>
                                                <div onclick="${this.instance}.switch_type();" class="${this.list_type == "off" ? "tab_selected" : ""}">OFF</div>
                                            </div>
                                        </div>
                                            `
            }
        }



    }

    var plan_add = new Plan_add('#wrapper_box_plan_add_toobox', '#wrapper_box_plan_add_upper', '#wrapper_box_plan_add_middle', '#wrapper_box_plan_add_bottom', "", "plan_add")

    func_set_webkit_overflow_scrolling('.popup_plan_add');
</script>
{% endblock %}
