.idea/workspace.xml
pters_project/pters/__pycache__/
pters_project/mobile/__pycache__/
pters_project/mobile/migrations/__pycache__/
pters_project/schedule/__pycache__/
pters_project/trainer/__pycache__/
pters_project/trainee/__pycache__/
pters_project/schedule/migrations/__pycache__/
pters_project/trainer/migrations/__pycache__/
pters_project/trainee/migrations/__pycache__/
