    {
      "classTimeArray_start_date" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_end_date" : 
      [{% for schedule_info in schedule_data %}"{{ schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleIdArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleFinishArray":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.finish_check }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedulePermissionStateArray":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.permission_state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_member_name" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.member_ticket_tb.member.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleNoteArray":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleIdxArray":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.idx }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedule_lecture_name":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.lecture_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedule_lecture_current_member_num":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.lecture_current_member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedule_lecture_max_member_num":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.lecture_tb.member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "class_lecture_schedule_id":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.lecture_schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "class_repeat_schedule_id":
      [{% for schedule_info in schedule_data %}"{{ schedule_info.repeat_schedule_tb_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "offTimeArray_start_date" :
      [{% for off_schedule_info in off_schedule_data %}"{{ off_schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offTimeArray_end_date" :
      [{% for off_schedule_info in off_schedule_data %}"{{ off_schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "lecture_schedule_id":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_lecture_id":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.lecture_tb.lecture_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_lecture_name":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.lecture_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_max_member_num":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.lecture_tb.member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_current_member_num":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.lecture_current_member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_start_datetime":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_end_datetime":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_finish_check":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.finish_check }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_note":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_ing_color_cd":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.lecture_tb.ing_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_schedule_end_color_cd":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.lecture_tb.end_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_member_ticket_avail_count":
      [{% for lecture_schedule_info in lecture_schedule_data %}"{{ lecture_schedule_info.lecture_member_ticket_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

{#      "ticket_type_cd_name":#}
{#      [{% for ticket_info in ticket_data %}"{{ ticket_info.ticket_tb.ticket_type_cd_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],#}
      "ticket_name":
      [{% for ticket_info in ticket_data %}"{{ ticket_info.ticket_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "avail_date_data":
      [{% for avail_date_info in avail_date_data %}"{{ avail_date_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "member_ticket_flag":
      ["{{ member_ticket_flag }}"],
      "member_ticket_avail_count" :
      [{{ member_ticket_avail_count }}],
      "member_ticket_reg_count" :
      [{{ member_ticket_reg_count }}],
      "member_ticket_finish_count" :
      [{{ member_ticket_finish_count }}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
