    {
      "classTimeArray_start_date" :
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_end_date" : 
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleIdArray" :
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleFinishArray":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.finish_check }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_member_name" :
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.lecture_tb.member.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleNoteArray":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleIdxArray":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.idx }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedule_group_type_cd_name":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.group_type_cd_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedule_group_name":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.group_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedule_group_current_member_num":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.group_current_member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedule_group_max_member_num":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.group_tb.member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "offTimeArray_start_date" :
      [{% for off_schedule_info in off_schedule_data %}"{{ off_schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offTimeArray_end_date" :
      [{% for off_schedule_info in off_schedule_data %}"{{ off_schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "group_schedule_id":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_group_id":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.group_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_group_name":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_max_member_num":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_current_member_num":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_current_member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_start_datetime":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_end_datetime":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_finish_check":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.finish_check }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_note":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_type_cd":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.group_type_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_group_type_cd_name":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_type_cd_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],


      "package_type_cd_name":
      [{% for package_info in package_data %}"{{ package_info.package_tb.package_type_cd_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_name":
      [{% for package_info in package_data %}"{{ package_info.package_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_lecture_reg_count":
      [{% for package_info in package_data %}"{{ package_info.lecture_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_lecture_rem_count":
      [{% for package_info in package_data %}"{{ package_info.lecture_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_lecture_avail_count":
      [{% for package_info in package_data %}"{{ package_info.lecture_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "lecture_flag":
      ["{{ lecture_flag }}"],
      "group_lecture_flag":
      ["{{ group_lecture_flag }}"],
      "class_lecture_flag":
      ["{{ class_lecture_flag }}"],

      "lecture_avail_count" :
      [{{ lecture_avail_count }}],
      "lecture_reg_count" :
      [{{ lecture_reg_count }}],
      "lecture_finish_count" :
      [{{ lecture_finish_count }}],
      "group_lecture_avail_count" :
      [{{ group_lecture_avail_count }}],
      "group_lecture_reg_count" :
      [{{ group_lecture_reg_count }}],
      "group_lecture_finish_count" :
      [{{ group_lecture_finish_count }}],
      "class_lecture_avail_count" :
      [{{ class_lecture_avail_count }}],
      "class_lecture_reg_count" :
      [{{ class_lecture_reg_count }}],
      "class_lecture_finish_count" :
      [{{ class_lecture_finish_count }}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
