
    {% autoescape off %}
    {
      "messageArray" :
      [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "ptScheduleIdArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleLectureIdArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.member_ticket_tb_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleStartDtArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleEndDtArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleStateCdArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptSchedulePermissionStateCdArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.permission_state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleNoteArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.note | linebreaks }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleIdxArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.idx }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleRegDtArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleModDtArray" :
      [{% for schedule_info in schedule_data %}"{{ schedule_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}]

    }
    {% endautoescape %}