    {
      "class_id_array":
      [{% for class_info in class_data %}"{{ class_info.class_tb.class_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "teacher_name_array":
      [{% for class_info in class_data %}"{{ class_info.class_tb.member.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "class_name_array":
      [{% for class_info in class_data %}"{{ class_info.class_type_name}}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "class_hour_array":
      [{% for class_info in class_data %}"{{ class_info.class_hour }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lecture_counts_array":
      [{% for class_info in class_data %}"{{ class_info.lecture_counts }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "np_lecture_counts_array":
      [{% for class_info in class_data %}"{{ class_info.np_lecture_counts }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "message_array" :
      [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
