    {
      "group_id":
      [{% for group_info in group_data %}"{{ group_info.group_tb.group_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_type_cd":
      [{% for group_info in group_data %}"{{ group_info.group_tb.group_type_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "member_num":
      [{% for group_info in group_data %}"{{ group_info.group_tb.member_num  }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "name":
      [{% for group_info in group_data %}"{{ group_info.group_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "note":
      [{% for group_info in group_data %}"{{ group_info.group_tb.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "reg_dt":
      [{% for group_info in group_data %}"{{ group_info.group_tb.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "mod_dt":
      [{% for group_info in group_data %}"{{ group_info.group_tb.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "state_cd":
      [{% for group_info in group_data %}"{{ group_info.group_tb.state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "state_cd_name":
      [{% for group_info in group_data %}"{{ group_info.group_tb.state_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_member_num":
      [{% for group_info in group_data %}"{{ group_info.group_member_num }}"{% if forloop.last == False %},{% endif %}{% endfor %}],
      "group_ing_color_cd":
      [{% for group_info in group_data %}"{{ group_info.group_tb.ing_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_end_color_cd":
      [{% for group_info in group_data %}"{{ group_info.group_tb.end_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
