{
    "finishScheduleIdArray" :
    [{% for finish_schedule_info in finish_schedule_list %}"{{ finish_schedule_info.schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishScheduleStartDTArray" :
    [{% for finish_schedule_info in finish_schedule_list %}"{{ finish_schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishScheduleEndDTArray" :
    [{% for finish_schedule_info in finish_schedule_list %}"{{ finish_schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishScheduleNoteArray" :
    [{% for finish_schedule_info in finish_schedule_list %}"{{ finish_schedule_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}]


}