{% extends "base.html" %}
{% load static %}

{% block local_css %}

        <link rel="stylesheet" href={% static "user/css/pters.month.cal.css" %}>
{% endblock %}

{% block content %}

  <!--플로팅 버튼-->
    <div id="float_btn">
      <img src={% static "user/res/floatbtn/btn-plus.png" %} alt=""> <!--2017.10.2-->
    </div>
    <div id="float_inner1" class="float_inner" onclick="location.href='{% url 'trainer:add_pt' %}'">
    <a href="{% url 'trainer:add_pt' %}">PT<br/>일정</a>
    <img src="" alt="">
    </div>
    <div id="float_inner2" class="float_inner" onclick="location.href='{% url 'trainer:add_off' %}'">
    <a href="{% url 'trainer:add_off' %}">OFF<br/>일정</a>
    <img src="" alt="">
    </div>

    <div id="shade">
    </div>
  <!--플로팅 버튼-->


    <div id="ymdText">
        <img src={% static "user/res/bg.png" %} alt="bg-image" style="width: 100%;height:auto;position: relative;z-index: -1;">
        <div id="yearText">
        </div>
        <div id="monthText">
        </div>
    </div>

    <div id="gapbox">  
    </div>
  
    <div id="date" class="container-fluid week-style"> <!--월화수목금토일-->
            <table class="calendar-style calendar-day-style">
                <tr>
                    <td id="sunday"><p class="calendar_image weekday_style sunday">일</p></td>
                    <td id="monday"><p class="calendar_image weekday_style weekdays">월</p></td>
                    <td id="tuesday"><p class="calendar_image weekday_style weekdays">화</p></td>
                    <td id="wednesday"><p class="calendar_image weekday_style weekdays">수</p></td>
                    <td id="thursday"><p class="calendar_image weekday_style weekdays">목</p></td>
                    <td id="friday"><p class="calendar_image weekday_style weekdays">금</p></td>
                    <td id="saturday"><p class="calendar_image weekday_style saturday">토</p></td>
                </tr>
            </table>
        </div> <!--월화수목금토일-->

     <div id="gapbox" style="padding-bottom: 12.5%;">    
    </div>
    
    <div id="calendar" class="container" > <!-- Calendar container-->
        
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="slide0"></div> <!--Index0-->
                <div class="swiper-slide"></div> <!--Index1-->
                <div class="swiper-slide" id="slide2"></div> <!--Index2-->
            </div>  <!--Swiper-wrapper-->
        </div> <!--Swiper-container-->
        <!--Swiper-->
        <!-- <div class="swiper-pagination"></div> -->
        <div id="cal_box" class="cal_box"></div>

    </div>
{% endblock %}

{% block local_js_footer %}
        <!-- for db by hk.kim 170805-->
        <script>
            var krHolidayList = new Array('_1_1','_3_1','_4_8','_5_5','_6_6','_8_15','_10_3','_10_9','_12_25') //대한민국 공휴일 (구정, 추석 제외)
            var disabledDates = new Array('2017_7_3','2017_7_11','2017_7_20','2017_7_25','2017_7_31','2017_8_2','2017_8_13','2017_8_21');
            var mytimeDates = new Array('2017_7_5','2017_7_7','2017_7_10','2017_7_12','2017_7_14','2017_7_17','2017_7_19','2017_7_21','2017_7_24','2017_7_26','2017_7_28','2017_8_3','2017_8_11','2017_8_20','2017_8_30');
        </script>

        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src={% static "user/js/pters.month.cal.js" %}></script>
        <script>
            var myswiper = new Swiper('.swiper-container',{
                initialSlide : 1,
                speed : 50,
                preventClicks : true,
                keyboardControl : true,
                pagination : '.swiper-pagination'
            });
        </script>

{% endblock %}
