    {% if messages %}
        {% for message in messages %}
            <div id="inputError">
                    <div id="errorMsg" class="inputErrorInner"><p style="line-height: 35px;vertical-align: middle;margin:0;">{{ message }}</p></div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'trainer:add_pt_logic' %}" id="pt-add-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="lecture_id"    id="id_lecture_id">
        <input type="hidden" name="member_name"   id="id_member_name">
        <input type="hidden" name="training_date" id="id_training_date">
        <input type="hidden" name="time_duration" id="id_time_duration">
        <input type="hidden" name="training_time" id="id_training_time">
        <input type="hidden" name="next_page">
    </form>


    <div id="memberName" class="ptaddbox">
      <div class="ptaddboxtext"> <img class="icons" src={% static_url "user/res/ptadd/icon-name.png" %}> 회원명</div>
      <div id="membersSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">회원명 선택<span class="caret"></span></button>
        <ul id="members" class="dropdown-menu pters_dropdown_custom">
          <!-- 회원명 DB연동 필요-->
            {% for lecture in trainer_member %}
            <li><a data-lecturecount="{{ lecture.lecture_count }}" data-lectureid="{{ lecture.lecture_id}}">
                {{ lecture.trainer_member.name }}</a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>


    <div id="remainCount" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" style="width:13px;" src={% static_url "user/res/ptadd/icon-count.png" %}> 잔여 횟수</div>
      <!-- 남은 횟수 DB연동 필요 -->
            <div id="countsSelected" class="dropdown" placeholder="자동으로 입력됩니다."></div>
    </div>


    <div id="dateSelector" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static_url "user/res/ptadd/icon-cal.png" %}> 날짜</div>
      <p class="datepicktext dropdown"><input type="text" id="datepicker" placeholder="-" readonly></p>  
    </div>

    <div id="timeGraph" class="ptaddbox" style="display: none;">
      <table class="timegraphtext">
        <tbody>
          <tr>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
          </tr>
          <tr>
            <td id="5g" class="tdgraph"></td>
            <td id="6g" class="tdgraph"></td>
            <td id="7g" class="tdgraph"></td>
            <td id="8g" class="tdgraph"></td>
            <td id="9g" class="tdgraph"></td>
            <td id="10g" class="tdgraph"></td>
            <td id="11g" class="tdgraph"></td>
            <td id="12g" class="tdgraph"></td>
            <td id="13g" class="tdgraph"></td>
            <td id="14g" class="tdgraph"></td>
            <td id="15g" class="tdgraph"></td>
            <td id="16g" class="tdgraph"></td>
            <td id="17g" class="tdgraph"></td>
            <td id="18g" class="tdgraph"></td>
            <td id="19g" class="tdgraph"></td>
            <td id="20g" class="tdgraph"></td>
            <td id="21g" class="tdgraph"></td>
            <td id="22g" class="tdgraph"></td>
            <td id="23g" class="tdgraph"></td>
            <td id="24g" class="tdgraph"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="classStartTime" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static_url "user/res/ptadd/icon-start.png" %}> 시작 시각</div>
      <div id="starttimesSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
        <ul id="starttimes" class="dropdown-menu pters_dropdown_custom">
       
       </ul>
      </div>
    </div>

    <div id="classDuration" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static_url "user/res/ptadd/icon-clock.png" %}> 진행 시간</div>
      <div id="durationsSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
        <ul id="durations" class="dropdown-menu pters_dropdown_custom">

        </ul>
      </div>
    </div> 