@import url(/static/common/fonts/notosanskr.css);

html{
	font-family: 'Noto Sans KR',sans-serif !important;
	overflow-x:hidden;
	height: 100%;
}

select{
	-webkit-appearance:none;
	background:#ffffff;
	height: 33px;
	width: 80px;
	color: #282828;
	padding-bottom: 2px;
}

.ajaxloadingPC{
	position: fixed;
	display: none;
	width: 62px;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 202;
}

body{
	font-family: 'Noto Sans KR',sans-serif !important;
	margin: 0;
	background-image: url("/static/user/res/main/bg-image-basic2-mobile.jpg");
	background-size:cover;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling:touch;
	user-select: none;
}
.registration_select_button{
	width: 300px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	margin-top: 15px;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
}
	.registration_select_button:hover{
		background-color: #282828;
		color: #fe4e65;
	}

#page1_label{

}
#page1_content{
	display: none;
}

#global_error_msg{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: red;
	color: #ffffff;
	font-size: 13px;
	padding-left: 20px;
}

.registerbox_add{
	position: absolute;
	max-width: 500px;
	width: 95%;
	padding: 0 30px 15px 30px;
	
	top: 0;
	left: 50%;
	color: #ffffff;
	transform: translateX(250%);
	background: rgba(40, 40, 40, 0.87);

	-webkit-transform: translateX(250%);
	margin-top: 160px;
	transition: 1s;
	-webkit-transition: 1s;
	text-align: left;
}

._step1_label{
	position: absolute;
	width: 90%;
	max-width: 900px;
	top: 0;
	left: 50%;
	margin-top: 0;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transition: 1s;
	-webkit-transition: 1s;
	z-index: -1;
}

._step2_label{
	position: absolute;
	width: 90%;
	max-width: 560px;
	top: 0;
	left: 50%;
	margin-top: 0;
	transform: translateX(250%);
	-webkit-transform: translateX(250%);
	transition: 1s;
	-webkit-transition: 1s;
}
._step2_label span{
	color: #ffffff;
}

._step3_label{
	position: absolute;
	width: 90%;
	max-width: 660px;
	top: 0;
	left: 50%;
	margin-top: 0;
	transform: translateX(250%);
	-webkit-transform: translateX(250%);
	transition: 1s;
	-webkit-transition: 1s;
}

div._step1_label, div._step2_label, div._step3_label{
	top: 50px;
}


.promise_wrap{
	position: absolute;
	max-width: 600px;
	width: 95%;
	padding: 30px;
	top: 0;
	left: 50%;
	transform: translateX(250%);
	-webkit-transform: translateX(250%);
	margin-top: 125px;
	transition: 1s;
	-webkit-transition: 1s;
	color: #ffffff;
	background-color: rgba(40, 40, 40, 0.87);
}



.registerbox{
	max-width: 900px;
	padding: 30px;
	margin: 0 auto;
}
.registerbox_label{
	position: absolute;
	height: 125px;
	font-weight: bold;
	font-size: 23px;
	margin-top: 0;
	margin-bottom: 20px;
	color: #ffffff;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 90%;
	max-width: 1080px;
}
.registerbox_label span{

}

.back_arrow{
	width: 10px;
	float: left;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}
.registerbox_label p img{
	float: none;
	width: 90px;
	margin-bottom: -3px;
	margin-right: 7px;
	cursor: pointer;
}

.registerbox_sublabel{
	font-size: 15px;
	color: #ffffff;
	text-align: center;
}

#city-KOR{
	display: none;
}
.outerbox{
	margin-top: 30px;
}
.outerbox input{
	line-height: 25px;
	width: 110px;
	background-color: rgba(255, 255, 255, 0.0784313725490196);
	color: #ffffff;
	border: 0;
	border-radius: 0;
	border-bottom: 0;
	border-bottom: 1px solid #ffffff;
	-webkit-appearance:none;
}
.outerbox input::-webkit-input-placeholder{
	color: #adadad;
}

.outerbox_horizontal{
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	display: inline-block;
	width: 90%;
	margin:125px 0 10px 0;
	text-align:center;
	transition: 1s;
	-webkit-transition: 1s;
}
.outerbox_horizontal button{
	position: relative;
	background-color: transparent;
	bottom: 0;
	width: 90%;
	min-width: 78px;
	height: 40px;
	border-top: 1px solid #adadad;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Noto Sans KR' !important;
	cursor: pointer;
	opacity: 1;
	margin-bottom: 10px;
}
.outerbox_horizontal button:hover{
	opacity: 1;
	color: #fe4e65;
}
.outerbox_horizontal div{
	border: 0.5px solid #adadad;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Noto Sans KR' !important;
	margin: 0 50px 0 50px;
	margin: 0 auto;
	margin-top: 5px;
	background-color: rgba(40, 40, 40, 0.5803921568627451);
}

.selector_button{
	background-color: #ffffff;
	border: 1px solid rgb(238, 238, 238);
	line-height: 23px;
}
.selector_button_checked{
	background-color: #fe4e65;
	color: #ffffff;
}

.pw_confirm,.id_confirm,.email_confirm{
	display: none;
	font-size: 12px;
}

.pw_notice{
	margin-top: 3px;
	font-size: 11px;
	color:#ffffff;
}

.register_button{
	margin-top:9px;
	margin-left: 5px;
	line-height: 27px;
	background: #ffffff;
	color: #282828;
	border:1px solid #cccccc;
}

.login_dropdown{

}

.registerbox_smalllabel{
	margin:0 auto;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 5px;
}

.contractread{
	width: 100%;
	margin: 0 auto;
	height: 250px;
	font-size: 11px;
	border: 1px solid #282828;
	overflow-y: scroll;
	background-color: #282828c7;
}
.contractread_check{
	font-size: 13px;
}

.explainbox{
	position: relative;
	width: 100%;
	word-break: break-all;
}
.explainbox > p{
	color: #ffffff;
	line-height: 22px;
	font-weight: 500;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.explainbox img{
	display: none;
	height: 25px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.explainbox .font-pink{
	font-size: 18px;
}
.explaintype{
	height: 0px;
	height: auto;
	overflow-y:hidden;
	transition: 1s;
	-webkit-transition: 1s;
}
.explaintype button{
	/*visibility: hidden;*/
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.explaintype p{
	text-align: center;
	color: #ffffff;
}
.explain_subject{
	font-weight: 500;
	font-size: 17px;
	padding-left: 10px;
}
.explain_descript{
	font-size: 13px;
	font-weight: 400;
	margin-top: 0;
	padding-left: 13px;
}


.buttongroup{
	text-align: center;
	margin-top: 30px;
}
.buttongroup button{
	border-radius: 0;
	width: 75px;
	height: 28px;
	font-weight: bold;
	border: 1px solid #cccccc;
}
.buttongroup img{
	width: 8px;
}
.buttongroup #registerMember, .buttongroup #registerMemberFinal{
	background:#ffffff;
	color: #282828;
}
.buttongroup #cancelMember{
	background:#282828;
	color: #fe4e65;
}

.bg-pink{
	background-color: #fe4e65;
	color: #ffffff;
}
.bg-yellow{
	background-color: #ffe466;
}
.bg-grey{
	background-color: #282828;
	color: #ffffff;
}
.font-pink{
	color: #fe4e65;
}


.fixfooter{
	display: none;
}

.bottomzero{
	bottom: 0;
}





@media(min-width: 600px){
	body{
		background-image: url("/static/user/res/main/bg-image-basic2-pc.jpg");
	}

	.registerbox{
		width: 900px;
		margin-top: 50px;
		margin-bottom: 66px;
	}
	.registerbox_label{
		height: 50px;
	}

	.outerbox_horizontal{
		display: inline-block;
		width: 900px;
		margin:150px 0 10px 0;
		text-align:center;
	}
	.outerbox_horizontal button{
		height: 40px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform:translateX(-50%);
	}

	.explainbox{
		display: inline-block;
		width: 275px;
		margin: 0 8px 0 8px !important;
	}
	.explaintype{
		display: block;
		height: 300px;
	}
	.explaintype button{
		visibility: visible;
	}
	.explainbox > p{
		line-height: 30px;
		margin-top : 13px;
	}
	.explainbox img{
		display: block;
		margin-top: 15px;
	}
	.explaintype p{
		text-align: left;
		color: #ffffff;
	}
	.explain_subject{
		font-weight: 500;
		font-size: 16px;
		margin-bottom: 5px;
		margin-top: 30px;
	}
	.explain_descript{
		font-size: 13px;
		font-weight: 400;
		margin-top: 0;
	}

	.registerbox_add{
		margin-top: 230px;
	}
	.outerbox{
		margin-top: 30px;
	}
	.outerbox input{
		line-height: 28px;
		width: 140px;
		font-size: 15px;
	}

	.promise_wrap{
		margin-top: 230px;
		margin-bottom: 200px;
	}

	.contractread{
		height: 200px;
	}

	.fixfooter{
		position: fixed;
		display: block;
		background: rgba(40, 40, 40, 0.50);
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		padding: 15px 0 15px 0;
	}
	.fixfooter p{
		margin-top: 0px;
	}
	.bottomfooter1{
		color: #7d7d7d;
		color:#ffffff;
		font-size: 12px;
		font-weight: 400;
		width: 535px;
		max-width: 1000px;
		margin:0 auto;
		height: 50px;
	}
	.bottomfooter1 span{
		line-height: 50px;
		margin-left: 0px;
	}
	.bottomfooter2{
		width: 535px;
		max-width: 1000px;
		margin:0 auto;
		color: #282828;
		color: #ffffff;
		font-size: 10px;
	}
	.bottomfooter2 p{
		margin-bottom:1px;
	}
	.bottomfooter2 a{
		color: #ffffff;
		text-decoration: none;
	}.bottomfooter2 a:hover{
		color: #fe4e65;
	}
}

@media(max-height: 890px){
	.fixfooter{
		visibility: hidden;
	}
}