body{
	padding-top: 50px;
}

._NORMAL_ADD_wrap{
	position: relative;
	transition: 1s;
}

._REPEAT_ADD_wrap{
	position: relative;
	transition: 1s;
	display: none;
}

.rotate_90{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

#repeatSchedule{
	cursor: pointer;
}

#repeatSchedule:hover{
	color:#fe4e65 !important;
}

#offRepeatSummary{
	position: relative;
	background: #282828;
	padding-top: 40px;
	padding-bottom: 16px;
	margin-top: 0px;
}

#repeatSetting, #dateSelector, #dateSelector2, #daySelect, #classStartTime, #classDuration, #submitBtnWrap{
	/*margin-top: 10px;
	margin-left: auto;
	margin-right: auto;*/
}

#summaryText{
	position: absolute;
	font-size: 90%;
	color: #ffffff;
	top: 14px;
	left: 3.5%;
}

.summaryInnerBox{
	margin-top: 1px;
	position: relative;
	background:#ffffff;
	width: 100%;
	height: 40px;
	padding-left: 5px;
}

.summaryInnerBoxText{
	/*line-height: 35px;*/
	margin-left: 3%;
	font-size: 87%;
	font-weight: 500;
	letter-spacing: -0.3px;
	color: #282828;
}

.summaryInnerBoxText2{
	position: absolute;
	right: 0;
	top: 3px;
	margin-right: 20px;
	font-size: 75%;
	letter-spacing: -0.2px;
	color: #666666;
}

.summaryInnerBoxText3{
	position: absolute;
	right: 0;
	bottom: 3px;
	margin-right: 20px;
	font-size: 75%;
	letter-spacing: -0.2px;
	color: #666666;
}


.dateButtonGroup{
	display: table;
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	color: #cccccc;
	margin-top: 10px;
}


.dateButton{
	display: table-cell;
	height: 100%;
	width: 14.285%;
	font-size: 14.5px;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}
.dateButton:first-child{

}
.dateButton:last-child{
	border-right: 1px solid #cccccc;
}

.dateButton_selected{
	background-color: #282828;
	color: #fe4e65;
}


#submitBtn{
	width: 100%;
	background: #eeeeee;
	color: #ffffff;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;
}

.submitBtnActivated{
	background: #fe4e65 !important;
}

@media(min-width:300px){
	.summaryInnerBoxText{
		font-size:11px;
		margin-left: 1%;
	}

	.summaryInnerBoxText_Repeatendtext{
		display: none;
	}

	.summaryInnerBoxText_Repeatendtext_small{
		display: inline;
	}
}

@media(min-width:350px){
	.summaryInnerBoxText{
		font-size:12px;
		margin-left: 2%;
	}
}

@media(min-width:440px){
	.summaryInnerBoxText{
		font-size:13px;
		margin-left: 1%;
	}

	.summaryInnerBoxText_Repeatendtext{
		display: inline;
	}

	.summaryInnerBoxText_Repeatendtext_small{
		display: none;
	}
}