/*
@font-face{
	font-family:'NotoBlack';
	src:url('../fonts/NotoSansCJKkr-Black.otf') format('opentype');
}



@font-face{
	font-family:'NotoDemiLight';
	src:url('../fonts/NotoSansCJKkr-DemiLight.otf') format('opentype');
}

@font-face{
	font-family:'NotoLight';
	src:url('../fonts/NotoSansCJKkr-Light.otf') format('opentype');
}

@font-face{
	font-family:'NotoMedium';
	src:url('../fonts/NotoSansCJKkr-Medium.otf') format('opentype');
}

@font-face{
	font-family:'NotoRegular';
	src:url('../fonts/NotoSansCJKkr-Regular.otf') format('opentype');
}


@font-face{
	font-family:'NotoBold';
	src:url('../fonts/NotoSansCJKkr-Bold.otf') format('opentype');
}

@font-face{
	font-family:'NotoThin';
	src:url('../fonts/NotoSansCJKkr-Thin.otf') format('opentype');
}
*/



#shade{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: -1;
}

#float_btn{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	background-color: grey;
	opacity: 0.5;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
}

#float_btn img{
	width: 30px;
	height: 30px;
	margin: 10px;
}

.rotate_btn{
	-webkit-transform: rotate(47deg);
	transform: rotate(47deg);
}



.float_inner{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	background-color: grey;
	opacity: 0;
	border-radius: 50%;
	z-index: 9;	
}

#monthText{
	color : #fe4e65;
	font-size: 19.5px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
}

#yearText{
	color : #ffffff;
	font-size: 15px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 25%;
}

#ymdText{
	position: fixed;
	height: auto;
	z-index: 3;
}

#gapbox{
	width: 100%;
	height: 0px;
	position: relative;
	padding-bottom: 23.5%;
	overflow-y: hidden;
	background-color: #ffffff;
}


.calendar-style{  /*week 스타일하위 */
	width: 100%;
	height: 100%;
	text-align: center;
}


body{
	padding-top: 50px;
	width: 100%;
}

.arrowButton{
	position: absolute;
	width: 100%;
	height: 100%;
}

.arrowButton a{
	position: absolute;
	top: 20%;
	font-size: 35px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
}

.time-style{ /*week 스타일*/
	background-color: transparent;
	position: relative;
	width: 100%;
	font-size: 14.4px;
	height: 35px;
}

.hour{
	text-align: center;
	width: 10%;
	background-color: #ffffff;
}

td{
	width: 40%;
	height: 50%;
	color : #282828;
}


#calendar{
	background-color: #f4f4f4;
	padding-right: 0;
	padding-left: 0;
}

.classTime{
	position: absolute;
	top: 0;
	left: 25px;
	width: 84%;
	height: 20px;
	background: #ffdce0;
}

.classTimeIndicator{
	position: absolute;
	top: 17.5px;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe4e65;
}