{% extends "popup/trainer_base_popup_pagetype.html" %}
{% load static_url %}
{% load background_trainee_data %}

{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.member_view.css" %}>
{% endblock %}

{% block popup_base_wrapper_top_center %}
<span id="member_name_in_popup">&nbsp;</span>
{% endblock %}

{% block popup_base_wrapper_top_right %}
<img src={%static_url "common/icon/icon_pencil.png" %} class="obj_icon_basic" style="margin-right:10px;" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, POPUP_ADDRESS_MEMBER_EDIT, 100, POPUP_FROM_RIGHT, {'member_id':member_view_popup.member_id}, ()=>{
    member_edit_popup = new Member_edit('.popup_member_edit', member_view_popup.member_id, 'member_edit_popup');});">
<img src={%static_url "common/icon/icon_more_horizontal.png" %} class="obj_icon_basic" onclick="member_view_popup.upper_right_menu();">
{% endblock %}

{% block popup_base_contents %}
    <div class="popup_member_view">
        

    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    {% now "Y-m-d" as todays_date %}

    {% if date_format|date:"Y-m-d" >= todays_date and avail_end_date|date:"Y-m-d" >= date_format|date:"Y-m-d"%}
        <!-- <div class="obj_button_big obj_font_bg_white_coral" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_calendar_plan_reserve', 90, POPUP_FROM_BOTTOM, {'select_date':'{{ date_format| date:'Y-m-d' }}'})">예약 추가하기</div> -->
    {% else %}
        <!-- <div class="obj_button_big obj_font_bg_pink_white" onclick="layer_popup.all_close_layer_popup()">확인</div> -->
    {% endif %}
{% endblock %}

{% block popup_base_js %}

<script>
    func_set_webkit_overflow_scrolling('.popup_member_view');
</script>
{% endblock %}
