/*(현재 페이지 한해) 현재 페이지에서만 사용하는 커스텀 css*/
.trainee > .content_page > .textbox_title{
	margin-top: 35px;
    margin-bottom: 35px;
    padding: 0 20px;
}

/* box */
.trainee .box_full{
    margin-top: 10px;
    margin-bottom: 30px;
}
.trainee .box_card{
    margin-top: 10px;
    margin-bottom: 10px;
}
	.trainee .box_card .textbox_box_title{
		text-align: left;
		margin-bottom: 15px;
	}
	.trainee .box_card .wrapper_card_content .textbox_card_type{
		display: inline-block;
    	color: #fe4e65;
	}
	.trainee .box_card .wrapper_card_content .icon_arrow{
		transform: rotate(180deg);
		float: right;
	}
	.trainee .box_card .textbox_card_title{
		margin-bottom: 15px;
	}

	/* 확인 필요 */
	/*.trainee .box_card .wrapper_card_detail2, */
	/*.trainee .box_card .wrapper_card_detail_pocket,*/
	/*.trainee .box_card .wrapper_card_detail_teacher{*/
		/*display: none;*/
	/*}*/

	.trainee .box_card .wrapper_card_detail{
		padding-top: 10px;
		border-top: 1px solid #f5f5f5;
	}
	.trainee .box_card .wrapper_card_detail .textbox_data{
		text-align: left;
	}
	.trainee .box_card .wrapper_card_detail .textbox_notice{
		display: block;
		height: 20px;
		line-height: 20px;
	}
	.trainee .box_card .wrapper_card_detail2{
		padding: 15px 0;
		border-top: 1px solid #f5f5f5;
	}
	.trainee .box_card .wrapper_card_detail2 .textbox_article{
		display: inline-block;
		width: 48%;
		max-width: 147px;
		text-align: left;
	}
	.trainee .box_card .wrapper_card_detail2 .textbox_data{
		display: inline-block;
		width: 48%;
		max-width: 147px;
		text-align: left;
	}

.trainee .textbox_subtitle{
    padding: 0 20px 0 20px;
    color: #808080;
}
.trainee .textbox_article{
    color: #b3b3b3;
}


/* wrapper */
.trainee .wrapper_card_detail_pocket{
	padding: 15px 0;
	border-top: 1px solid #f5f5f5;
}
	.trainee .wrapper_card_detail_pocket .wrapper_card_detail_row{
		width: 100%;
		height: 30px;
	}
	.trainee .wrapper_card_detail_pocket .wrapper_card_detail_row .textbox_article{
		display: inline-block;
		width: 80px;
		text-align: left;
		height: 30px;
		line-height: 30px;
	}
	.trainee .wrapper_card_detail_pocket .wrapper_card_detail_row .textbox_data{
		display: inline-block;
		width: 60px;
		text-align: right;
		height: 30px;
		line-height: 30px;
	}

.trainee .wrapper_card_detail_teacher{
	border-top:  1px solid #efefef;
	padding-top: 15px;
}
	.trainee .wrapper_card_detail_teacher .wrapper_teacher_name{
		display: inline-block;
		height: 40px;
		vertical-align: top;
	}
	.trainee .wrapper_card_detail_teacher .wrapper_teacher_name .textbox_data, 
	.trainee .wrapper_card_detail_teacher .wrapper_teacher_name .textbox_article{
		text-align: left;
	} 
	.trainee .wrapper_card_detail_teacher .textbox_phone{
		display: inline-block;
		height: 40px;
		vertical-align: top;
		float: right;
	}
	.trainee .wrapper_card_detail_teacher .photo_box{
		vertical-align: top;
		margin-right: 10px;
	}


/*(현재 페이지 한해) 현재 페이지에서만 사용하는 커스텀 css*/