/*(현재 페이지 한해) 현재 페이지에서만 사용하는 커스텀 css*/
	.trainee_main .obj_font_size_20_weight_bold{
		height: 35px;
		line-height: 35px;
	}
	.trainee_main .obj_font_size_11_weight_bold{
		height: 20px;
		line-height: 20px;
	}
	.trainee_main .obj_font_size_12_weight_500{
		height: 24px;
		line-height: 24px;
	}
	.trainee_main .obj_font_size_14_weight_500{
		height: 25px;
		line-height: 25px;
	}
	.trainee_main .obj_font_size_11_weight_normal{
		height: 20px;
		line-height: 20px;
	}

/* box */
	.trainee_main .obj_box_full{
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.trainee_main .obj_box_card{
		margin-top: 10px;
		margin-bottom: 10px;
	}

/* wrapper */
	.trainee_main .wrapper_program_title{
		margin: 35px 0;
		padding: 0 20px;
	}
	.trainee_main .wrapper_sub_title{
		padding: 0 20px;
	}
	.trainee_main .wrapper_my_ticket_type{
		height: 24px;
		line-height: 24px;
	}
		.trainee_main .wrapper_my_ticket_type .obj_table_cell_x2{
			width: auto;
		}
		.trainee_main .wrapper_my_ticket_type .obj_icon_expand{
			/*transform: rotate(180deg);*/
			float: right;
		}
	.trainee_main .wrapper_my_ticket_title{
		margin-bottom: 15px;
	}
	.trainee_main #wrapper_my_ticket_detail_close{
		padding-top: 10px;
		border-top: 1px solid #f5f5f5
	}
	.trainee_main #wrapper_my_ticket_detail_open{
		padding-top: 15px;
		border-top: 1px solid #f5f5f5
	}
	.trainee_main .wrapper_my_ticket_detail_date{
		padding-bottom: 15px;
		border-bottom: 1px solid #f5f5f5;
	}
	.trainee_main .wrapper_my_ticket_detail_count{
		padding: 15px 0;
		width: 140px;
	}
		.trainee_main .wrapper_my_ticket_detail_count .obj_table_raw{
			height: 30px;
			line-height: 30px;
		}
	.trainee_main .wrapper_my_ticket_detail_teacher{
		border-top:  1px solid #efefef;
		padding-top: 15px;
		height: 40px;

	}
		.trainee_main .wrapper_my_ticket_detail_teacher .obj_table_cell_x3{
			width: auto;
		}
		.trainee_main .wrapper_my_ticket_detail_teacher .obj_box_photo{
			width: 40px;
		}
		.trainee_main .wrapper_my_ticket_detail_teacher .wrapper_teacher_name{
			padding-left: 10px;
		}
		.trainee_main .wrapper_my_ticket_detail_teacher .wrapper_teacher_name .obj_font_size_14_weight_500{
			height: 20px;
			line-height: 20px;
		}
		.trainee_main .wrapper_my_ticket_detail_teacher .text_button_phone{
			text-align: right;
		}
/*(현재 페이지 한해) 현재 페이지에서만 사용하는 커스텀 css*/