/*(현재 페이지 한해) 현재 페이지에서만 사용하는 커스텀 css*/
.trainee_main .fullbox_mb{
    margin-top: 10px;
    margin-bottom: 30px;
}
.trainee_main .shadowbox_mb{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*(현재 페이지 한해) 현재 페이지에서만 사용하는 커스텀 css*/