@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,body{
	/*height: 100%;*/
}

body{
	font-family: 'Noto Sans KR',sans-serif !important;
	padding-top: 0px;
	margin: 0;
	background-color: black;
	/*
	background-image: url("/static/user/res/main/bg-image.png");
	background-repeat: no-repeat;
	background-position-x:center;
	background-size:100%;
	background-color: black !important;
	*/
}

nav.upperbar{
	position: fixed;
	width: 100%;
	height: 60px;
	background:transparent;
	z-index: 1500;
}
nav.upperbar div{
	max-width: 1900px;
	margin: 0 auto;
	width: 90%;
}
nav.upperbar img{
	height: 20px;
	margin-top:20px;
	display: none;
}
nav.upperbar span{
	float: right;
	height: 30px;
	margin-top: 18px;
	color: #ffffff;
	font-weight: 100;
}
nav.upperbar span:hover{
	color: #fe4e65;
}

.paginationMobile{
	display: none;
	position: fixed;
	bottom: 100px;
	right: 0;
	margin-right: 15px;
	height: 10px;
	z-index: 1500;
}
.paginationMobile_bar{
	display: table-cell;
	border-left:1.5px solid #ffffff;
	width: 8px;
}
.paginationMobile_active{
	border-left:4px solid #fe4e65;
}

.pagination{
	display: none;
}

img.next_page{
	position: absolute;
	right: 15px;
	bottom: 150px;
	width: 12px;
	animation: blink 2s;
	animation-iteration-count: infinite;
}
img.prev_page{
	position: absolute;
	left: 15px;
	bottom: 150px;
	width: 12px;
	transform: rotate(180deg);
	animation: blink 2s;
	animation-iteration-count: infinite;
}

@keyframes blink{
	0%{
		opacity: 0.8;
	}
	50%{
		opacity: 0.4;
	}
	100%{
		opacity: 0.8;
	}

}


.__teacher{
	display: none;
}
.__student{
	display: none;
}
#promote_2, #promote_3, #promote_4, #promote_5, #promote_6{
	display: none;
}

.album_wrap{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.album{
	position: relative;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

body{
	background-image: url('/static/common/promote_mobile/1.jpg');
	background-repeat: repeat-y;
	background-position-x: center;
	background-size: cover;
	left: 0%;
}


@media(min-width:1024px){
	body{
		background-image: url('/static/common/promote_pc/1.jpg');
		background-repeat: no-repeat;
		left: unset;
	}


	img.next_page{
		position: absolute;
		width: 12px;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		transform: rotate(90deg);
		animation: blink 2s;
		animation-iteration-count: infinite;
	}
	img.prev_page{
		position: absolute;
		width: 12px;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		transform: rotate(-90deg);
		animation: blink 2s;
		animation-iteration-count: infinite;
	}
}


.logo_label{
	margin-top: 50px;
	margin-bottom: 50px;
}
.logo_label img{
	height: 51px;
}

.pters_logo_text{
	color: #fe4e65;
	font-size: 36px;
	font-weight: bold;
}

.explain_wrap{
	position: relative;
	top: 45%;
	left: 50%;
	transform: translateX(-50%);
	color: #ffffff;
	width: 90%;
}

.explain_main{
	position: relative;
	width: 100%;
	height: 305px;
	padding: 30px 0 0px 0;
	/*border-top:1px solid #ffffff;
	border-bottom: 1px solid #ffffff;*/
	text-align: center;
}
.explain_main h1{
	margin: 0;
	font-size:27px;
	font-weight:500;
}
.explain_main h2{
	margin: 0;
	font-size: 14px;
	font-weight: 500;
}
.explain_main p{
	font-size: 15px;
	margin: 0;
	font-weight: 400;
}
.gotoSignIn_pc{
	display: none;
}
.gotoSignIn{
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform:translateX(-50%);
	width: 90%;
	height: 70px;
	margin-top: 45px;
	margin-bottom: 25px;
}
.gotoSignIn button{
	background:#fe4e65;
	box-shadow: 1px 1px 1px 1px #fe4e65;
	border:0;
	color: #ffffff;
	height: 50px;
	width: 100%;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
}
.brower_site{
	background:#f4f4f4 !important;
	box-shadow: unset !important;
	border: 1px solid #fe4e65 !important;
	color: #fe4e65 !important;
	height: 50px;
	width: 130px !important;
	margin: 5px;
	font-weight: 300 !important;
	font-size: 15px;
	cursor: pointer;
}

.pink_strong{
	color: #fe4e65;
}

.mode_explain_button{
	font-size: 14px !important;
	margin-bottom: 5px !important;
	height: 35px !important;
	background:transparent !important;
	color: #ffffff !important;
	box-shadow: unset !important;
	display: inline-block;
	width: 48% !important;
	border: 1px solid #f4f4f4 !important;
}
.mode_explain_button:nth-child(1){
	float: left;
}
.mode_explain_button:nth-child(2){
	float: right;
}

@media(min-width: 1024px){

	nav.upperbar div{
		max-width: 1900px;
		margin: 0 auto;
	}
	nav.upperbar img{
		display: inline-block;
		height: 30px;
		margin-left: 40px;
		margin-top:20px;
	}

	nav.upperbar span{
		float: right;
		height: 30px;
		margin-top: 25px;
		margin-right: 40px;
		color: #ffffff;
	}

	.paginationMobile{
		display: none;
	}

	.pagination{
		/*display: block;*/
		position: fixed;
		width: 100%;
		max-width: 1900px;
		height: 100px;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: 1500;
	}
	.pagination_bar{
		width: 15px;
		height: 15px;
		border-top:1px solid #eaeaea;
		margin-left: 40px;
	}
	.pagination_active{
		border-top:4px solid #fe4e65;
	}

	.album_wrap{
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		overflow: unset;
	}

	.album{
		position: relative;
		width: 100%;
		height: 100%;
	}

	.logo_label img{
		height: 51px;
	}

	.pters_logo_text{
		color: #fe4e65;
		font-size: 49px;
		font-weight: bold;
	}

	.explain_wrap{
		position: absolute;
		top: 50%;
		left: 30% !important;
		transform: translateY(-50%);
		color: #ffffff;
		width: 45%;
	}

	.explain_main{
		position: relative;
		width: 75%;
		min-width: 420px;
		height: 305px;
		/*padding: 90px 0 90px 0;*/
		/*border-top:1px solid #ffffff;
		border-bottom: 1px solid #ffffff;*/
		text-align: left;
	}
	.explain_main h1{
		font-size: 27px;
		margin: 0;
		font-weight:500;
	}
	.explain_main h2{
		font-size: 24px;
		margin: 0;
		font-weight: 500;
	}
	.explain_main p{
		font-size: 19px;
		margin: 0;
		font-weight: 400;
	}

	.gotoSignIn{
		display: none;
	}

	.gotoSignIn_pc{
		display: block;
		position: relative;
		width: 75%;
		min-width: 420px;
		height: 70px;
		padding-top: 30px;
		left: unset;
		bottom: unset;
	}
	.gotoSignIn_pc button{
		float: right;
		background:#fe4e65;
		box-shadow: 1px 1px 1px 1px #fe4e65;
		border:0;
		color: #ffffff;
		height: 35px;
		width: 100px;
		font-size: 15px;
		font-weight: bold;
		cursor: pointer;
	}
	.gotoSignIn_pc button:hover{
		opacity: 0.9;
	}
	.mode_explain_button{
		width: 100px !important;
		height: 37px !important;
		font-size: 13px !important;
		margin-right: 15px;
		background:transparent !important;

	}
	.mode_explain_button:hover{
		opacity: 0.8;
		color:#fe4e65 !important;
	}
}

