@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,body{
	/*background-color: #282828;*/
}

html{
	font-family: 'Noto Sans KR',sans-serif !important;
	background-image: url('/static/common/promote_mobile/1.jpg?v=2018-10-30');
	background-size: cover;
}
@media(min-width:600px){
	html{
		background-image: url('/static/common/promote_pc/1.jpg?v=2018-10-30');
		background-size: cover;
	}
}
nav.upperbar img{
	height: 20px;
	margin-top:20px;
	display: none;
}
nav.upperbar span{
	display: none;
	/*float: right;*/
	height: 30px;
	color: #ffffff;
	font-weight: 100;
}

#upper_title_wrap{
	width: 100%;
	height: auto;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 50px;
	color: #ffffff;
}
#upper_title_left{
	display: inline-block;
	width: 50%;
	min-width: 300px;
	padding-left: 30px;
	margin-bottom: 30px;
}
	#upper_title_left > p{
		font-size: 20px;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 5px;
	}
	#upper_title_left > p > span{
		font-size: 28px;
		font-weight: bold;
	}
#upper_title_right{
	display: inline-block;
	width: 40%;
	min-width: 280px;
	padding-left: 30px;
}
	#upper_title_right > p{
		font-size: 14px;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 5px;
	}

#pagination_mobile{
	position: fixed;
	bottom: 20px;
	right: 5px;
	width: 	100%;
	height: 	15px;
	text-align: 	right;
	z-index: 100;
}
	#pagination_mobile > div{
		display: inline-block;
		width: 	2px;
		height: 100%;
		margin-right: 9px;
		background-color: 	#ffffff;
	}
	.pagination_mobile_selected{
		background-color: 	#fe4e65 !important;
		width: 	3px !important;
	}

#pagination_pc{
	display: none;
	margin: 0 auto;
	width: 100%;
	max-width: 1080px;
	font-size: 16px;
	text-align: center;
}
	.pagination_pc_element{
		display: inline-block;
		width: auto;
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 30px;
		color: #a7a7a7;
		cursor: pointer;
	}
	.pagination_pc_element:hover{
		color: #fe4e65;
	}
	.pagination_pc_element_selected{
		color: #ffffff;
		font-weight: 500;
	}
@media(min-width: 600px){
	#pagination_pc{
		display: block;
	}
	#pagination_mobile{
		display: none;
	}

}
.text_pink{
	color: #fe4e65;
	font-weight: 500;
}
#content_wrap{
	position: relative;
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 0px;
	height: 720px;
	background-color: #282828;
}
	.content_page{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.content_page_left{
		display: inline-block;
		width: 100%;
		height: 100%;
		background-color: #f4f4f4;
	}
		.content_page_left > p{
			position: absolute;
			margin: 60px;
			color: #282828;
			font-size: 30px;
			font-weight: bold;

			display: 	none;
		}
	.content_page_right{
		position: 	absolute;
		top: 	0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		background-color: rgba(40, 40, 40, 0.86);
		color: #ffffff;
	}
		.content_page_right label{
			font-size: 28px;
			font-weight: bold;
		}
		.content_page_right > .content_page_right_wrapper{
			position: absolute;
			padding: 60px 0 30px 15px;
		}
		.content_page_right > .content_page_right_wrapper > div{
			margin-top: 30px;
			font-size: 15px;
		}
		.content_page_right > .content_page_right_wrapper p{
			margin: 0;
			margin-top: 10px;
		}
		.content_page_right > .content_page_right_wrapper p > span{
			display: 	inline-block;
		}




	.page_1{
		/*transition: 1s;*/
	}
	.page_2, .page_3, .page_4, .page_5, .page_6, .page_7{
		/*position: absolute;
		right: 0;
		top: 0;
		width: 0;
		transition: 1s;*/
	}

	.page_1 > .content_page_left{
		background-image: url("/static/user/res/promotion/promote_1.jpg");
		background-size: cover;
	}
	.page_2 > .content_page_left{
		background-image: url("/static/user/res/promotion/promote_2.jpg");
		background-size: cover;
	}
	.page_3 > .content_page_left ,.page_4 > .content_page_left, .page_5 > .content_page_left,.page_6 > .content_page_left, .page_7 > .content_page_left{
		background-image: url("/static/user/res/promotion/promote_1.jpg");
		background-size: cover;
	}

@media(min-width:600px){
	.content_page_right > .content_page_right_wrapper{
		padding-left: 80px;
	}
}
@media(min-width:1024px){
	nav.upperbar img{
		display: inline-block;
		height: 30px;
		margin-left: 40px;
		margin-top:20px;
	}
	nav.upperbar span{
		/*float: right;*/
		display: inline-block;
		height: 30px;
		margin-left: 40px;
		color: #ffffff;
	}
}
@media(min-width:1080px){
	.content_page_left > p{
		display: 	block;
	}
	.content_page_left{
		width: 	54%;
	}
	.content_page_right{
		position: 	relative;
		top: 	unset;
		background-color: #282828;
		width: 	45%;
	}
	.content_page_right > .content_page_right_wrapper{
		padding: 60px 0 30px 50px;
	}
	#content_wrap{
		height: 	700px;
		margin-top: 	30px;
		margin-bottom: 100px;
	}
}