body{
	padding-top: 0px;
}


#loginimg{
	position: fixed;
	width: 	100%;
	z-index: -1;
}

#login-form img{
	width: 5%;
	margin-right: 2%;
}

#pterstext{
	color: #fe4e65;
}

#logintext{
	color: 	#ffffff;
}

.loginbox{
	position: absolute;
	top: 45%;
	width: 100% !important;
}

.loginbox div{
	width: 300px;
	margin: 0 auto;
	padding-left: 0;
}

.logintext{
	position: absolute;
	top: 25%;
	width: 100%;
}

.logintext div{
	text-align: center;
}

.logintext div{
	font-size: 20px;
	font-weight: bold;
}

.loginboxstyle{
	background-color: transparent !important;
	border: 0px !important;
	border-bottom: 0.5px solid #ffffff !important;
	border-radius: 0px !important;
	width: 90% !important;
	display: inline !important;
}



/*Bootstrap 상속 수정*/

.checkbox{
	color: #ffffff;
	font-size: 13px;
}

.form-control:focus{
	border-color: #fe4e65 !important;
	box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent !important;
}

.btn-primary{
	background-color: transparent !important;
	border-color: #ffffff !important;
	border-radius: 0px !important;
	height: 50px !important;
	font-size: 15px !important;
	font-weight: bold !important;
	margin-top: 50px !important;
}

.btn-primary:hover{
	background-color: transparent !important;
	border-color: #ffffff !important;
	border-radius: 0px !important;
	height: 50px !important;
	font-size: 15px!important;
	font-weight: bold !important;
	margin-top: 50px !important;
}

.form-control{
	color: #ffffff !important;
	font-size: 15px !important;
}

