{% extends "trainer_base.html" %}
{% load static_url %}
{% load static %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.background.setting.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
{% endblock %}

{% block content %}

    <div id="ymdText">
        <!--
    <div class='arrowButton'>
     <a style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="width: 7px;"></a>
     <a style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;"></a>
    </div>
  -->
        <div id="ymdTextWrap">
            <div id="menuName">배경화면 설정
            </div>
            <div id="menuDescription">뒷 배경으로 변경을 원하는 사진을 선택하세요!
            </div>
        </div>
    </div>

    <div id="background_contents_wrap">
        <div class="background_wrap bg_basic">
            <label>기본</label>
            <div class="bg_wrapper"></div>
            <div class="bg_select_button" data-bgcode="{% static "user/res/main/bg-image-basic" %}"><span>적용</span></div>
        </div>

        <div class="background_wrap bg_basic2">
            <label>기본2</label>
            <div class="bg_wrapper"></div>
            <div class="bg_select_button" data-bgcode="{% static "user/res/main/bg-image-basic2" %}"><span>적용</span></div>
        </div>

        <div class="background_wrap bg_pilates">
            <label>필라테스</label>
            <div class="bg_wrapper"></div>
            <div class="bg_select_button" data-bgcode="{% static "user/res/main/bg-image-pilates" %}"><span>적용</span></div>
        </div>

        <div class="background_wrap bg_weight">
            <label>웨이트 트레이닝</label>
            <div class="bg_wrapper"></div>
            <div class="bg_select_button" data-bgcode="{% static "user/res/main/bg-image-weight" %}"><span>적용</span></div>
        </div>

        <div class="background_wrap bg_ballet">
            <label>발레</label>
            <div class="bg_wrapper"></div>
            <div class="bg_select_button" data-bgcode="{% static "user/res/main/bg-image-ballet" %}"><span>적용</span></div>
        </div>

        <div class="background_wrap bg_yoga">
            <label>요가</label>
            <div class="bg_wrapper"></div>
            <div class="bg_select_button" data-bgcode="{% static "user/res/main/bg-image-yoga" %}"><span>적용</span></div>
        </div>

        <div class="background_wrap bg_golf">
            <label>골프</label>
            <div class="bg_wrapper"></div>
            <div class="bg_select_button" data-bgcode="{% static "user/res/main/bg-image-golf" %}"><span>적용</span></div>
        </div>

        <div class="background_wrap bg_billiard">
            <label>당구</label>
            <div class="bg_wrapper"></div>
            <div class="bg_select_button" data-bgcode="{% static "user/res/main/bg-image-billiards" %}"><span>적용</span></div>
        </div>
    </div>


    <!--
    <div class="popupBtn_mini">
        <button class="submitBtn _button_Prev">이전</button>
        <button class="submitBtn _button_Next" style="display: none;">등록</button>
    </div>
-->

    <form id="update_background_image" method="post" action="{% url 'trainer:update_background_img_info' %}" >
        {% csrf_token %}
        <input type="hidden" name="background_img_id" id="form_background_img_id" value="">
        <input type="hidden" name="background_img_type_cd" id="form_background_img_type_cd" value="">
        <input type="hidden" name="url" id="form_bg_url" value="">
    </form>

{% endblock %}

{% block local_js_footer %}
    <!-- for db by hk.kim 170805-->
    <script>
        var background_img_type_code = [{% for common_cd_info in common_cd_data %}'{{ common_cd_info.common_cd }}'{% if forloop.last == False %},{% endif %}{% endfor %}];
        var background_img_type_code_name = [{% for common_cd_info in common_cd_data %}'{{ common_cd_info.common_cd_nm }}'{% if forloop.last == False %},{% endif %}{% endfor %}];

    </script>

    <!-- Placed at the end of the document so the pages load faster -->

    <script>
        var bodywidth = $('body').width();
        if(bodywidth < 600){
            $('#page-base').css('display','none');
            $('#page-base-addstyle').css('display','block');
            $('#uptext, #uptext2, #uptext3').text('배경화면 설정');
            $('#upbutton-check').hide();
        }


        $('#upbutton-x, ._button_Prev').click(function(){
            location.href="/trainer/trainer_setting/";
        });

        $(document).on('click','.bg_select_button' , function(){
            if(!$(this).hasClass('disabled_button')){
                $('#upbutton-check img').attr('src','/static/user/res/ajax/loading.gif');
                $('.ajaxloadingPC').css('display','block');
                let bg_code = $(this).attr('data-bgcode');
                /*
                var url = $(this).parents('.background_wrap').css('background-image');
                var urlsplit = url.split('/');
                var staticindex = urlsplit.indexOf('static');
                var imageurlarray = [];
                for(var i=staticindex; i<urlsplit.length; i++){
                    imageurlarray.push(urlsplit[i]);
                }
                var imageurl = '/'+imageurlarray.join("/");
                var url_pc = imageurl.replace(/-mobile\.jpg/gi,"-pc.jpg").replace(/"\)/gi,"");
                var url_mobile = imageurl.replace(/-pc\.jpg/gi,"-mobile.jpg").replace(/"\)/gi,"");
                var url_ymdText = imageurl.replace(/-pc\.jpg/gi,"-ymdText.png").replace(/-mobile\.jpg/gi,"-ymdText.png").replace(/"\)/gi,"");
                var url_ymdText_mobile = imageurl.replace(/-pc\.jpg/gi,"-ymdText-mobile.jpg").replace(/-mobile\.jpg/gi,"-ymdText-mobile.jpg").replace(/"\)/gi,"");
                */
                for(i=0; i<background_img_type_code.length; i++) {
                    let img_url = bg_code;
                    if(background_img_type_code[i] == 'BACKGROUND_IMG_URL_PC'){
                         img_url += '-pc.jpg';
                    }
                    else if(background_img_type_code[i] == 'BACKGROUND_IMG_URL_MOBILE'){
                         img_url += '-mobile.jpg';
                    }
                    else if(background_img_type_code[i] == 'YMD_IMG_URL'){
                         img_url += '-ymdText.png';
                    }
                    else if(background_img_type_code[i] == 'YMD_IMG_URL_MOBILE'){
                         img_url += '-ymdText-mobile.jpg';
                    }
                    send_user_bg_set(img_url, background_img_type_code[i]);
                }
            }
            
            
        });

        function send_user_bg_set(img_url, type_code){

            $.ajax({
                url: ' /trainer/update_background_img_info/',
                type:'POST',
                data:{"background_img_id":"", "background_img_type_cd":type_code, "url":img_url},
                dataType : 'html',


                beforeSend:function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },

                success:function(data){
                    var jsondata = JSON.parse(data);
                    if(jsondata.messageArray.length>0){
                        $('#errorMessageBar').show();
                        $('#errorMessageText').text(jsondata.messageArray);
                    }else{
                       
                    }
                },

                complete:function(){
                    window.location.reload();
                },

                error:function(){
                    console.log('server error');
                }
            });

        }

        var len = $('.bg_wrapper').length;
        for(var i=1; i<=len; i++){
            var $loc = $('#background_contents_wrap .background_wrap:nth-of-type('+i+')');
            var wrapperimgurl = $loc.css('background-image');
            for(let j=0; j<class_background_img_url.length; j++){
                console.log(wrapperimgurl+':'+class_background_img_url[j]);
                if(wrapperimgurl.includes(class_background_img_url[j])){
                    let $bg_select_button = $loc.find('div.bg_select_button');
                    $bg_select_button.find('span').text('현재 배경');
                    $bg_select_button.addClass('disabled_button');
                    break;
                }
            }
        }





    </script>

{% endblock %}
