{% extends "trainer_base_setting_inner.html" %}
{% load static_url %}

{% block local_css %}
        <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.sales.setting.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
{% endblock %}



{% block content %}

<form action="{% url 'trainer:update_setting_sales' %}" id="update-setting-push-form" method="post">
    {% csrf_token %}
  <input type="hidden" name="setting_sales_10" id="id_setting_sales_10" value="100000"> <!--min 00:00 max 23:59  -->
  <input type="hidden" name="setting_sales_20" id="id_setting_sales_20" value="200000"> <!--min 00:00 max 23:59  -->
  <input type="hidden" name="setting_sales_30" id="id_setting_sales_30" value="300000"> <!--min 00:00 max 23:59  -->
  <input type="hidden" name="setting_sales_40" id="id_setting_sales_40" value="400000"> <!--min 00:00 max 23:59  -->
  <input type="hidden" name="setting_sales_50" id="id_setting_sales_50" value="500000"> <!--min 00:00 max 23:59  -->
  <input type="hidden" name="setting_sales" id="id_setting_sales" value="0"> <!--min 00:00 max 23:59  -->
  <input type="hidden" name="setting_sales_type" id="id_setting_sales_type" value="0">
  <input type="hidden" name="next_page" value = '{% url 'trainer:sales_setting' %}'>
</form>

<div id="defaultFeeSettingText" class="settingMenu">
  <p class="settingText">강의 기본 금액</p>
  <p class="settingText2">강의의 금액을 설정합니다. 업무 관리의 매출 계산에 활용됩니다.</p>
</div>
<div id="defaultFeeSetting" class="settingBox">
 <table>
   <tbody>
     <tr id="ten"><td class="countText">10회</td><td class="tablegap"></td><td><input type="tel"><span> 원</span><div id="tenOneTime" class="divideonetext">(1회당 ,000원)</div></td></tr>

     <tr id="twenty"><td class="countText">20회</td><td class="tablegap"></td><td><input type="tel"><span> 원</span><div id="twentyOneTime" class="divideonetext">(1회당 ,000원)</div></td></tr>

     <tr id="thirty"><td class="countText">30회</td><td class="tablegap"></td><td><input type="tel"><span> 원</span><div id="thirtyOneTime" class="divideonetext">(1회당 ,000원)</div></td></tr>


     <tr id="fourty"><td class="countText">40회</td><td class="tablegap"></td><td><input type="tel"><span> 원</span><div id="fourtyOneTime" class="divideonetext">(1회당 ,000원)</div></td></tr>

     <tr id="fifty"><td class="countText">50회</td><td class="tablegap"></td><td><input type="tel"><span> 원</span><div id="fiftyOneTime" class="divideonetext">(1회당 ,000원)</div></td></tr>

   </tbody>
 </table>
 <div id="moreBtn"><img src="/static/user/res/icon-down-grey.png" alt=""></div>
</div>




<div id="trainerPushSettingText" class="settingMenu" style="padding:0;">
      <p class="settingText">기타 강의 금액</p>
      <p class="settingText2">1회당 강의 금액을 설정합니다.</p>
      <p class="settingText2">(강의 기본금액과 동시 설정이 불가합니다.)</p><div id="switch" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
</div>
<div id="defaultFeeSetting" class="settingBox">
 <table>
   <tbody>
     <tr id="one"><td class="countText">강의 1회당</td><td class="tablegap"></td><td><input type="tel"><span> 원</span><div id="oneTime" class="divideonetext">(10회당)</div><div id="oneTime1" class="divideonetext">(10회당)</div><div id="oneTime2" class="divideonetext">(10회당)</div></td></tr>
   </tbody>
 </table>
</div>
{% endblock %}


{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script>
          var Options = { "stoptimeStart":21,     //강사가 설정한 예약불가 시간 (시작)
                          "stoptimeEnd":8,        //강사가 설정한 예약불가 시간 (종료)
                          "rsvDisableSet" : 'on', //현재시간으로부터 몇시간뒤에 일정 추가가능하게 할지 셋팅 on/off
                          "limit":4,              //현재시간으로부터 몇시간뒤에 일정 추가가능하게 할지 셋팅
                          "reserve":"disable",     //회원 일정 기능을 enable/disable
          }
        </script>
        <script>
              var lt_sal_01 =  ['{{ lt_sal_01 }}'];
              var lt_sal_02 =  ['{{ lt_sal_02 }}'];
              var lt_sal_03 =  ['{{ lt_sal_03 }}'];
              var lt_sal_04 =  ['{{ lt_sal_04 }}'];
              var lt_sal_05 =  ['{{ lt_sal_05 }}'];
              var lt_sal_00 =  ['{{ lt_sal_00 }}'];
        </script>
        <script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.setting.sales.js" %}></script>
        
{% endblock %}