{% extends "trainer_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.help.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
    <style type="text/css">

        .subtitle{
            font-size: 16px;
            font-weight: 500;
        }
        .subsubtitle{
            font-size: 14px;
            padding-left: 20px !important;
            color: #fe4e65;
            font-weight: 500;
        }
        .contents{
            font-size: 12px;
            padding-left: 10px !important;
            font-weight: 500;
            color: #fe4e65;
        }
            .contents span{
                margin-left: 5px;
                margin-right: 10px;
                display: inline-block;
                font-weight: 400;
                color: #282828;
            }
            #spooner_logo{
                height: 18px;
                margin-right: 15px;
            }
        .fixfooter{
            position: relative;
            border-bottom: 0;
        }
        @media(min-width:600px){
            .fixfooter{
                position: relative;
                border-bottom: 0;
            }
            .bottomfooter3 span{
                color: #282828;
            }
        }
    </style>
{% endblock %}


{% block content %}
    <form action="{% url 'board:add_question_info' %}" id="update-setting-inquire-form" method="post">
    {% csrf_token %}
        <input type="hidden" name="next_page" value="{% url 'trainer:help_setting' %}">
        <input type="hidden" name="inquire_type" id="id_inquire_type">
        <div id="help_label" class="settingMenu wrap800">
            <p class="settingText">About us</p>
            <p class="settingText2">Spooner 피터스팀</p>
        </div>
        <div id="help_setting" class="settingBox wrap800">
            <div id="go_to_faq">
                <!--<label><img src="/static/user/res/icon-info.png">공지사항</label>-->
                <div class="label_explain">
                    <p style="font-weight: 500;margin-bottom: 20px;">피터스는 Spooner에서 개발 및 관리하고 있습니다.</p>
                    <p class="subtitle"></p>
                        <p class="contents"><img src="/static/user/res/spooner_b.png" id="spooner_logo"></p>
                        <p class="contents">대표<span>김선겸</span>개인정보담당<span>김현기</span>대표번호<span>02-3474-3508</span></p>
                        <p class="contents">기획<span>HR.Lee</span>디자인<span>SJ.Kim</span>개발<span>HK.Kim, SK.Kim 외</span></p>
                        <p class="contents">사업자등록<span>463-56-00284</span>통신판매신고<span>2017-서울동작-0672</span></p>
                        <p class="contents">사업장소재지<span>서울시 동작구 보라매로 5가길 7 캐릭터그린빌 820</span></p>
                        <p class="contents">기술 및 일반 문의<span>support@pters.co.kr</span></p><p class="contents">운영시간<span>10:00~18:00 (주말/공휴일 제외, 12:00~13:00 점심시간)</span></p>
                    <br>
                    <p style="font-weight: 500;margin-bottom: 20px;">피터스팀은 언제나 이용자분들의 성공적인 비즈니스를 응원합니다.</p>
                </div>
            </div>
        </div>

        <div class="popupBtn_mini" style="margin-bottom: 50px;">
            <button class="submitBtn _button_Prev">이전</button>
            <!--<button class="submitBtn _button_Next">등록</button>-->
        </div>
    </form>
{% endblock %}


{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        $('#upbutton-check').css('display','none')
        $('a.__help').css('color','#fe4e65;')
        if($('body').width()<600){
            $('#page-base-addstyle').css('display','block')
            $('#page-base').css('display','none')
            $('#uptext2').text("About us")
        }

        $('select').change(function(){
            $('#id_inquire_type').val($(this).val())
            $('#id_inquire_type').attr('value',$(this).val())
        })




        $('#upbutton-x, ._button_Prev').click(function(e){
            e.preventDefault();
            location.href="/trainer/trainer_setting/"
        })



        var messageArray = [{% for message in messages %}{% if message.tags == "error" %}'{{ message }}'{%if forloop.last == False%},{% endif %}{% endif %}{% endfor %}];
        var helpInfoArray = [{% for message in messages %}{% if message.tags == "info" %}'{{ message }}'{%if forloop.last == False%},{% endif %}{% endif %}{% endfor %}];

    </script>

{% endblock %}