{% load el_pagination_tags %}
{% paginate 20 log_data %}
{% for log_info in log_data %}
    {# your code to show the entry #}
    <div style="margin-top:5px;margin-bottom:5px;" class="log_wrap">
        {% if log_info.log_read == 0 %}
            <div class="new_alarm">
                    <p> 
                        <img src="/static/user/res/alarm/icon-alarm-new.png">
                        <span class="new_who">{{ log_info.from_member_name }}</span>님이
                                {% if log_info.to_member_name %}
                                    <span class="new_whose">{{ log_info.to_member_name }}</span>님의
                                {% endif %}
                                <span class="new_what">{{log_info.log_info}}을</span>
                                <span class="new_how">{{ log_info.log_how }}</span> 했습니다.
                    </p>
                    <span class="new_log_wrap">
                        {% if log_info.log_detail %}
                            <span>{{ log_info.log_how }} :</span>
                            {{ log_info.log_detail }}{% endif %}&nbsp
                    </span>
                    <span class="new_time_ago">
                        <img src="/static/user/res/alarm/icon_time.png">
                        {{ log_info.time_ago }}
                    </span>
                    <br>
                    <!--
                    <p style="padding-left: 20px;margin:3px 0 3px 0;color:#7d7d7d;">
                        {% if log_info.log_detail %}
                            <span style="color:#fe4e65;font-weight: bold;">{{ log_info.log_how }} :</span>
                            {{ log_info.log_detail }}{% endif %}

                    </p>
                    -->
            </div>
        {% else %}
            <div class="old_alarm">
                    <p> 
                        <img src="/static/user/res/alarm/icon-alarm-new.png">
                        <span class="old_who">{{ log_info.from_member_name }}</span>님이
                                {% if log_info.to_member_name %}
                                    <span class="old_whose">{{ log_info.to_member_name }}</span>님의
                                {% endif %}
                                <span class="old_what">{{log_info.log_info}}을</span>
                                <span class="old_how">{{ log_info.log_how }}</span> 했습니다.
                    </p>
                    <span class="old_log_wrap">
                        {% if log_info.log_detail %}
                            <span>{{ log_info.log_how }} :</span>
                            {{ log_info.log_detail }}{% endif %}&nbsp
                    </span>
                    <span class="old_time_ago">
                        <img src="/static/user/res/alarm/icon_time.png">
                        {{ log_info.time_ago }}
                    </span>
                    <br>
                   <!--
                    <p style="padding-left: 20px;margin:3px 0 3px 0;color:#7d7d7d;">
                        {% if log_info.log_detail %}
                            <span style="font-weight: bold;">{{ log_info.log_how }} :</span>
                            {{ log_info.log_detail }}{% endif %}

                    </p>
                    -->
            </div>
        {% endif %}


    </div>
    <input type="hidden" name="log_id_array[]" class="log_id_array" value ="{{ log_info.log_id }}">
{% endfor %}

{% show_more "더보기" %}
