{% load el_pagination_tags %}
{% paginate 20 log_data %}
{% for log_info in log_data %}
    {# your code to show the entry #}
    <div style="margin-top:5px;margin-bottom:5px;">
    {% if log_info.log_read == 0 %}
    <div style="color:#282828;background:#f4f4f4">
        <img src="/static/user/res/main/alarm-on.png" style="width: 15px;">
    {% else %}
    <div style="color:#656565;background:#f4f4f4">
        <img src="/static/user/res/main/alarm-off.png" style="width: 15px;">
    {% endif %}
        <span style="line-height: 20px;font-size: 12px;">
            <span style="font-weight: bold;font-size: 13px;">{{ log_info.from_member_name }}</span>님이 
            {% if log_info.to_member_name %}
            <span style="font-weight: bold;font-size: 13px;">{{ log_info.to_member_name }}</span>님의
            {% endif %}
            <span style="font-weight: bold;color:#fe4e65;font-size: 13px;">{{ log_info.log_info }}를
            {{ log_info.log_how }}</span> 했습니다.
            {{ log_info.reg_dt }}
        </span>
    </div>

    </div>
    <input type="hidden" name="log_id_array[]" class="log_id_array" value ="{{ log_info.log_id }}">
{% endfor %}

{% show_more "더보기" %}
