{% extends "trainer_base.html" %}

{% block content %}

<form action="{% url 'trainer:alarm_delete' %}" name="alarm-delete-form" id="alarm-delete-form" method="post" style="padding:10px;background: #ffffff;">
    {% csrf_token %}
    <input type="hidden" name="log_id_size" id="log_id_size">
    <input type="hidden" name="next_page" value = '{% url 'trainer:alarm' %}'>
    {% include page_template %}
</form>
{% load static_url %}

{% block js %}
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static_url "common/js/el-pagination.js" %}"></script>
    <script>
        if($('body').width()<600){
            $('#uptext3').text('일정 알림')
            $('#uptext').html("일정 알림")
            $('#upbutton-modify').hide()
        }

        $.endlessPaginate({
            paginateOnScrollMargin: 10,
            paginateOnScroll: true
        });


    </script>
{% endblock %}

{% endblock %}