
{% load static_url %}

{% block local_css %}
    <meta name="description" content="cal">
    <link rel="stylesheet" href={% static_url "user/css/trainer/func/pters.trainer.func.calendar.css" %}>
    <style>
        div.cal_page{
            font-size: 18px;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="calendar">
        <div id="calendar_">

        </div>
    </div>

{% endblock %}


{% block local_js_footer %}
    <!-- 일정 페이지 스크립트 -->
    <!-- <script type="text/javascript" src={% static_url "user/js/trainer/func/pters.trainer.func.calendar.js" %} async></script> -->
    <!-- 일정 페이지 스크립트 -->
    <script>

        // var calendar;
        // dynamic_added_script_exe(`{% static_url "user/js/trainer/func/pters.trainer.func.calendar.js" %}`, function(){
        //     calendar = new Calendar('#calendar_', 'calendar');
        //     calendar.get_prev_month();
        //     calendar.get_current_month();
        //     calendar.get_next_month();
        // })
        

        var calendar = new Calendar('#calendar_', 'calendar');
        calendar.get_prev_month();
        calendar.get_current_month();
        calendar.get_next_month();
        



    </script>
{% endblock %}