{% extends "trainer_base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/trainer/pters.trainer.week.cal.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.mini.cal.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
        <meta name="description" content="weekcal">
{% endblock %}

{% block content %}
<img src="/static/user/res/ajax/loading.gif" alt="" class="ajaxloadingPC">

<form action="{% url 'trainer:delete_schedule' %}" id="daily-pt-delete-form" method="post">
  <input type="hidden" name="schedule_id" id="id_schedule_id">
  <input type="hidden" name="member_name"   id="id_member_name">
  <input type="hidden" name="en_dis_type" id="en_dis_type" value ='1'>
  <input type="hidden" name="next_page" value = '{% url 'trainer:cal_day_ajax' %}'>
</form>
<form action="{% url 'trainer:delete_schedule' %}" id="daily-off-delete-form" method="post">
  <input type="hidden" name="off_schedule_id" id="id_off_schedule_id">
  <input type="hidden" name="en_dis_type" id="en_dis_type" value ='0'>
  <input type="hidden" name="next_page" value = '{% url 'trainer:cal_day_ajax' %}'>
</form>

<form action="{% url 'trainer:modify_pt' %}" id="pt-modify-form" method="get">
  <input type="hidden" name="schedule_id" id="id_schedule_id_modify">
  <input type="hidden" name="lecture_id"   id="id_lecture_id_modify">
  <input type="hidden" name="next_page" value = '{% url 'trainer:cal_week' %}'>
</form>
<form action="{% url 'trainer:modify_off' %}" id="off-modify-form" method="get">
  <input type="hidden" name="off_schedule_id" id="id_off_schedule_id_modify">
  <input type="hidden" name="next_page" value = '{% url 'trainer:cal_week' %}'>
</form>
<form action="{% url 'trainer:finish_schedule' %}" id="pt-finish-form" method="get">
  <input type="hidden" name="schedule_id" id="id_schedule_id_finish">
  <input type="hidden" name="lecture_id"   id="id_lecture_id_finish">
  <input type="hidden" name="member_name"   id="id_member_name_finish">
  <input type="hidden" name="next_page" value = '{% url 'trainer:cal_day_ajax' %}'>
</form>
<!--팝업메뉴-->
<div id="cal_popup">
  <div id="popup_img">
    <img src="/static/user/res/ptadd/icon-cal.png" id="img_cal">
    <img src="/static/user/res/ptadd/btn-x.png" id="btn_close">
  </div>
  <div id="popup_info" class="popup_info_text"></div>
  <div id="popup_info2" class="popup_info_text"></div>
  <div id="popup_text0" class="popup_inner popup_inner_finish">
    <span class="KRtext">일정 완료</span><span class="JPtext">日程완료</span><span class="ENtext">Finish Schedule</span>
  </div>
  <div id="canvasWrap">
    <span>회원님 완료 서명을 입력해주세요.</span>
    <canvas id="canvas"></canvas>
  </div>
  <div id="popup_text2" class="popup_inner popup_inner_delete">
    <span class="KRtext">일정 삭제</span><span class="JPtext">日程削除</span><span class="ENtext">Delete Schedule</span>
  </div>
</div>




  <!--현재 클릭한 일정의 요소 보기: pters.day.cal.js 19행 console.log 주석 참고-->
<!--팝업메뉴-->

<!--삭제 확인 팝업메뉴-->
<div id="cal_popup3">
  <div id="popup_img"><img src="/static/user/res/ptadd/icon-cal.png" id="img_cal"><img src="/static/user/res/ptadd/btn-x.png" id="btn_close3"></div>
  <div id="popup_info3" class="KRtext popup_info_text">정말 일정을 삭제하시겠습니까?</div>
  <div id="popup_info3" class="JPtext popup_info_text">日程を削除しますか</div>
  <div id="popup_info3" class="ENtext popup_info_text">Are you sure to delete the schedule?</div>
  <div id="popup_text3" class="popup_inner popup_inner_delete"><span style="color:#282828;" class="KRtext">예</span><span style="color:#282828;" class="JPtext">はい</span><span style="color:#282828;" class="ENtext">Yes</span></div>
  <div id="popup_text4" class="popup_inner popup_inner_delete"><span class="KRtext">아니오</span><span class="JPtext">いいえ</span><span class="ENtext">No</span></div>
</div>
    
   <!--플로팅 버튼-->
<div id="float_btn_wrap">
    <div id="float_btn">
      <img src={% static "user/res/floatbtn/btn-plus.png" %} alt="">  <!--2017.10.2-->
    </div>
    <div id="float_inner1" class="float_inner">
    <a class="KRtext">PT<br/>일정</a><a class="JPtext">PT<br/>追加</a><a class="ENtext">Add<br/>PT</a>
    </div>
    <div id="float_inner2" class="float_inner">
    <a class="KRtext">OFF<br/>일정</a><a class="JPtext">OFF<br/>追加</a><a class="ENtext">Add<br/>OFF</a>
    </div>
</div>

<!--shade3는 #f4f4f4 색을 가진 배경(모바일에서 팝업시 뒷배경)-->
<div id="shade3">
</div>
<!--플로팅 버튼-->

<div id="ymdText" class="" style="background-image:url(/static/user/res/bg.png);background-size: 100%;">
    <div class='arrowButton'>
            <a id="leftArrowButton" style="left: 4%">
              <img src={% static "user/res/btn-today-left.png" %} alt="" class="_pinkarrowbefore setunVisible" style="width: 11px;margin-top:1px;margin-right: 10px;">
              <img src={% static "user/res/daycal_arrow.png" %} alt="" style="width: 7px;">
              <span style="position: absolute;top:6px;left:-9px;font-size: 10px;color:#fe4e65;" class="_pinkarrowbefore setunVisible">Today</span>
            </a>
            <a id="rightArrowButton" style="right: 4%">
              <img src={% static "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;">
              <img src={% static "user/res/btn-today-left.png" %} alt="" class="_pinkarrowafter setunVisible" style="-webkit-transform:rotate(180deg);width: 11px;margin-top:1px;margin-left: 10px;">
              <span style="position: absolute;top:6px;right:-8px;font-size: 10px;color:#fe4e65;" class="_pinkarrowafter setunVisible">Today</span>
            </a>
    </div>
    <div id="yearText">
    </div>
    <div id="monthText">
    </div>
    <div id="menuName">주간 일정
    </div>
    <div id="menuDescription">일정을 확인하고 등록 할 수 있습니다.
    </div>
</div>

<div id="hidetoggle" class="wrap" data-type = '0'>
  <img src="/static/user/res/daycal_arrow_pink.png" style="-webkit-transform:rotate(90deg)"><span>일정 넓게 보기</span>
</div>

<div id="ymdText-pc" class="wrap">
    <div class="ymdText-pc-refresh">
      <div class="ymdText-pc-add-refresh">새로고침</div>
    </div>

    <img src="/static/user/res/icon-cal-btn.png" id="ymdText-pc-prev-btn">
    <div class="ymdText-pc-fulldate">
      <span id="ymdText-pc-month-start" class="ymdText-pc-month">1월</span>
      <span id="ymdText-pc-date-start" class="ymdText-pc-date">17일</span>
    </div>
    <span style="font-size: 20px;margin-left:10px;">- </span>
    <div class="ymdText-pc-fulldate">
      <span id="ymdText-pc-month-end" class="ymdText-pc-month"></span>
      <span id="ymdText-pc-date-end" class="ymdText-pc-date">23일</span>
    </div>
    <img src="/static/user/res/icon-cal-btn.png"  id="ymdText-pc-next-btn" style="-webkit-transform:rotate(180deg)">

    <div class="ymdText-pc-add">
      <div class="ymdText-pc-add-off">+ OFF 일정추가</div>
      <div class="ymdText-pc-add-pt">+ PT 일정추가</div>
    </div>

</div>


    
<div id="week" class="time-row">
        <div class="slidegap" style="background:#f4f4f4;"><span></span><span></span></div>
        <div id="weekNum_1" class="weekNum"><span class="weekToday-style"></span><span id="sunDate" class="weekToday-style" style="color:#d21245;"></span><span class="weekToday-style" style="color: #d21245;">일요일</span></div>
        <div id="weekNum_2" class="weekNum"><span class="weekToday-style"></span><span id="monDate" class="weekToday-style"></span><span class="weekToday-style">월요일</span></div>
        <div id="weekNum_3" class="weekNum"><span class="weekToday-style"></span><span id="tueDate" class="weekToday-style"></span><span class="weekToday-style">화요일</span></div>
        <div id="weekNum_4" class="weekNum"><span class="weekToday-style"></span><span id="wedDate" class="weekToday-style"></span><span class="weekToday-style">수요일</span></div>
        <div id="weekNum_5" class="weekNum"><span class="weekToday-style"></span><span id="thrDate" class="weekToday-style"></span><span class="weekToday-style">목요일</span></div>
        <div id="weekNum_6" class="weekNum"><span class="weekToday-style"></span><span id="friDate" class="weekToday-style"></span><span class="weekToday-style">금요일</span></div>
        <div id="weekNum_7" class="weekNum"><span class="weekToday-style"></span><span id="satDate" class="weekToday-style" style="color: #115a8e;"></span><span class="weekToday-style" style="color: #115a8e;">토요일</span></div>
</div>
    

<div id="calendar" class="container">
      <div class="swiper-container">
        <div id="timeIndicatorBar"></div>
          <div class="timeindex">
              <div class="hour" id="hour0"><span class="morningtext">오전</span><span class="timeindex_time">00:00</span></div>
              <div class="hour" id="hour1"><span class="timeindex_time">01:00</span></div>
              <div class="hour" id="hour2"><span class="timeindex_time">02:00</span></div>
              <div class="hour" id="hour3"><span class="timeindex_time">03:00</span></div>
              <div class="hour" id="hour4"><span class="timeindex_time">04:00</span></div>
              <div class="hour" id="hour5"><span class="timeindex_time">05:00</span></div>
              <div class="hour" id="hour6"><span class="timeindex_time">06:00</span></div>
              <div class="hour" id="hour7"><span class="timeindex_time">07:00</span></div>
              <div class="hour" id="hour8"><span class="timeindex_time">08:00</span></div>
              <div class="hour" id="hour9"><span class="timeindex_time">09:00</span></div>
              <div class="hour" id="hour10"><span class="timeindex_time">10:00</span></div>
              <div class="hour" id="hour11"><span class="timeindex_time">11:00</span></div>
              <div class="hour" id="hour12"><span class="morningtext">오후</span><span class="timeindex_time">12:00</span></div>
              <div class="hour" id="hour13"><span class="timeindex_time">13:00</span></div>
              <div class="hour" id="hour14"><span class="timeindex_time">14:00</span></div>
              <div class="hour" id="hour15"><span class="timeindex_time">15:00</span></div>
              <div class="hour" id="hour16"><span class="timeindex_time">16:00</span></div>
              <div class="hour" id="hour17"><span class="timeindex_time">17:00</span></div>
              <div class="hour" id="hour18"><span class="timeindex_time">18:00</span></div>
              <div class="hour" id="hour19"><span class="timeindex_time">19:00</span></div>
              <div class="hour" id="hour20"><span class="timeindex_time">20:00</span></div>
              <div class="hour" id="hour21"><span class="timeindex_time">21:00</span></div>
              <div class="hour" id="hour22"><span class="timeindex_time">22:00</span></div>
              <div class="hour" id="hour23"><span class="timeindex_time">23:00</span></div>
          </div>
          <div class="swiper-wrapper"> 
            <div class="swiper-slide" id="slide1"></div> 
            <div class="swiper-slide" id="slide2"></div> 
            <div class="swiper-slide" id="slide3"></div> 
            <div class="swiper-slide" id="slide4"></div> 
            <div class="swiper-slide" id="slide5"></div>
          </div> 
      </div> 
      <div id="cal_box" class="cal_box"></div>    
</div>



<div id="page-addplan" class="wrap">
    {% if messages %}
        {% for message in messages %}
            <div id="inputError">
                    <div id="errorMsg" class="inputErrorInner"><p style="line-height: 35px;vertical-align: middle;margin:0;">{{ message }}</p></div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'trainer:add_schedule' %}" id="pt-add-form" method="post">
        <input type="hidden" name="lecture_id"    id="id_lecture_id">
        <input type="hidden" name="member_name"   id="id_member_name">
        <input type="hidden" name="training_date" id="id_training_date">
        <input type="hidden" name="time_duration" id="id_time_duration">
        <input type="hidden" name="training_time" id="id_training_time">
        <input type="hidden" name="en_dis_type" id="en_dis_type" value ='1'>
        <input type="hidden" name="next_page" value = '{% url 'trainer:cal_day_ajax' %}'>
        <input type="hidden" name="add_memo" id="id_memo_mini">
    </form>

    <form action="{% url 'trainer:add_schedule' %}" id="off-add-form" method="post">
        <input type="hidden" name="training_date" id="id_training_date_off">
        <input type="hidden" name="time_duration" id="id_time_duration_off">
        <input type="hidden" name="training_time" id="id_training_time_off">
        <input type="hidden" name="en_dis_type" id="en_dis_type" value ='0'>
        <input type="hidden" name="next_page" value = '{% url 'trainer:cal_day_ajax' %}'>
        <input type="hidden" name="add_memo" id="id_memo_mini_off">
    </form>
    
    <div class="ptaddbox" id="pcaddpopup">
      <span class="KRtext">PT 일정 추가</span>
      <span class="JPtext">PT 日程追加</span>
      <span class="ENtext">Add PT Schedule</span>
      <img src="/static/user/res/ptadd/btn-x.png" alt="닫기"  class="icons cancelBtn">
    </div>

    <div class="ptaddbox" id="pcaddpopup_off">
      <span class="KRtext">OFF 일정 추가</span>
      <span class="JPtext">OFF 日程追加</span>
      <span class="ENtext">Add OFF Schedule</span>
      <img src="/static/user/res/ptadd/btn-x.png" alt="닫기"  class="icons cancelBtn">
    </div>

    <div id="memberName" class="ptaddbox">
      <div class="ptaddboxtext"> <img class="icons" src={% static "user/res/ptadd/icon-name.png" %}> <span class="KRtext"> 회원명</span><span class="JPtext"> 姓名</span><span class="ENtext"> Name</span></div>
      <div id="membersSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">회원명 선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span></button>
        <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
        <ul id="members_mobile" class="dropdown-menu pters_dropdown_custom">
          <!-- 회원명 DB연동 필요
            {# {% for lecture in trainer_member %}
            <li><a data-lecturecount="{{ lecture.lecture_avail_count }}" data-lectureid="{{ lecture.lecture_id}}">
                {{ lecture.trainer_member.name }}</a>
            </li>
            {% endfor %}
             #}
            -->
        </ul>
      </div>
    </div>

    <div id="remainCount" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" style="width:13px;" src={% static "user/res/ptadd/icon-count.png" %}> <span class="KRtext"> 남은 횟수</span><span class="JPtext"> 残余回数</span><span class="ENtext"> Remain Counts</span></div>
      <!-- 남은 횟수 DB연동 필요 -->
            <div id="countsSelected" class="dropdown" placeholder="ー"></div>
    </div>


    <div id="dateSelector" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-cal.png" %}> <span class="KRtext"> 날짜</span><span class="JPtext"> 予約日</span><span class="ENtext"> Day Select</span></div>
      <p class="datepicktext dropdown"><input type="text" id="datepicker" placeholder="-" readonly></p>  
    </div>

    <div id="timeGraph" class="ptaddbox" style="display: none;">
      <table class="timegraphtext">
        <tbody>
          <tr>
            <td class="">0</td>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class="">4</td>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class="">13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
          </tr>
          <tr>
            <td id="0g" class="tdgraph"></td>
            <td id="1g" class="tdgraph"></td>
            <td id="2g" class="tdgraph"></td>
            <td id="3g" class="tdgraph"></td>
            <td id="4g" class="tdgraph"></td>
            <td id="5g" class="tdgraph"></td>
            <td id="6g" class="tdgraph"></td>
            <td id="7g" class="tdgraph"></td>
            <td id="8g" class="tdgraph"></td>
            <td id="9g" class="tdgraph"></td>
            <td id="10g" class="tdgraph"></td>
            <td id="11g" class="tdgraph"></td>
            <td id="12g" class="tdgraph"></td>
            <td id="13g" class="tdgraph"></td>
            <td id="14g" class="tdgraph"></td>
            <td id="15g" class="tdgraph"></td>
            <td id="16g" class="tdgraph"></td>
            <td id="17g" class="tdgraph"></td>
            <td id="18g" class="tdgraph"></td>
            <td id="19g" class="tdgraph"></td>
            <td id="20g" class="tdgraph"></td>
            <td id="21g" class="tdgraph"></td>
            <td id="22g" class="tdgraph"></td>
            <td id="23g" class="tdgraph"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="classStartTime" class="ptaddbox">
      <div class="ptaddboxtext">
        <img class="icons" src={% static "user/res/ptadd/icon-start.png" %}> 
        <span class="KRtext"> 시작 시간</span>
        <span class="JPtext"> 開始時間</span>
        <span class="ENtext"> Start Time</span>
      </div>
      <div id="starttimesSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span>
        </button>
        <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
        <ul id="starttimes" class="dropdown-menu pters_dropdown_custom">
        </ul>
      </div>
    </div>

    <div id="classDuration" class="ptaddbox">
      <div class="ptaddboxtext">
        <img class="icons" src={% static "user/res/ptadd/icon-clock.png" %}> 
        <span class="KRtext"> 진행 시간</span>
        <span class="JPtext"> 進行時間</span>
        <span class="ENtext"> Class Time</span>
      </div>
      <div id="durationsSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span>
        </button>
        <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
        <ul id="durations" class="dropdown-menu pters_dropdown_custom">
        </ul>
      </div>
    </div> 

    <div id="repeatSchedule" class="ptaddbox repeatbox">
        <div id="repeatScheduleText" class="ptaddboxtext repeattext">
          <img src={% static "user/res/icon-cal-mini.png" %} class="icons">
           <span onclick="location.href='{% url 'trainer:add_repeat_off' %}'">반복일정</span>
           <img class="icons-next-button" src={% static "user/res/icon-setting-arrow.png" %}>
         </div>
        
        <!--반복일정 박스-->
        <div class="repeatboxinner">
          <span class="repeatstarttext KRtext">매주 월요일 오전 11시</span><span class="repeatfinishtext KRtext">반복종료 : PT 마감시</span>
          <span class="repeatstarttext JPtext">매주 월요일 오전 11시</span><span class="repeatfinishtext JPtext">반복종료 : PT 마감시</span>
          <span class="repeatstarttext ENtext">매주 월요일 오전 11시</span><span class="repeatfinishtext ENtext">반복종료 : PT 마감시</span>
        </div>
        
        <!--반복일정 박스-->
        <div class="repeatboxinner">
          <span class="repeatstarttext">매주 수요일 오후 3시</span><span class="repeatfinishtext">반복종료 : 2017-12-31</span>
        </div>
    </div>

    <div class='popupBtn'>
      <div class="submitBtn" id="submitBtn_pt"><span class="KRtext">일정 등록</span><span class="JPtext">登録</span><span class="ENtext">OK</span></div>
    </div>
</div>







<div id="page-addplan-pc">  
    <div class=" ptaddbox_mini" id="pcaddpopup_mini" style="display: block;width:100%;text-align: left;">
      <span class="datepicktext dropdown_mini" id="datetext_mini"></span>  
      <img src="/static/user/res/ptadd/btn-x.png" alt="닫기"  class="icons cancelBtn_mini">
    </div>
    
    <div id="typeSelector">
      <div id="typeSelector_1" class="toggleBtnWrap">PT</div>
      <div id="typeSelector_2" class="toggleBtnWrap_off">OFF</div>  
    </div>

    <div id="memberName_mini" class="ptaddbox_mini">
      <div class="ptaddboxtext_mini"> <img class="icons" src={% static "user/res/ptadd/icon-name.png" %}> <span class="KRtext"> 회원명</span><span class="JPtext"> 姓名</span><span class="ENtext"> Name</span></div>
      <div id="membersSelected" class="dropdown_mini">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom_mini" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">회원명 선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span></button>
        <ul id="members_pc" class="dropdown-menu dropdownlist_mini">
          <!-- 회원명 DB연동 필요
            {# {% for lecture in trainer_member %}
            <li><a data-lecturecount="{{ lecture.lecture_avail_count }}" data-lectureid="{{ lecture.lecture_id}}">
                {{ lecture.trainer_member.name }}</a>
            </li>
            {% endfor %}
            #}
            -->
        </ul>
      </div>
    </div>

    <div id="remainCount_mini" class="ptaddbox_mini">
      <div class="ptaddboxtext_mini"></div>
      <!-- 남은 횟수 DB연동 필요 -->
      <span id="remainCount_mini_text">예약 가능 횟수 :</span>
      <div id="countsSelected" class="dropdown_mini countsSelected" placeholder="ー"></div>
    </div>

    <div id="timeGraph" class="ptaddbox_mini" style="display: none;">
      <table class="timegraphtext">
        <tbody>
          <tr>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
            <td class="">4</td>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class="">13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
          </tr>
          <tr>
            <td id="1g_mini" class="tdgraph"></td>
            <td id="2g_mini" class="tdgraph"></td>
            <td id="3g_mini" class="tdgraph"></td>
            <td id="4g_mini" class="tdgraph"></td>
            <td id="5g_mini" class="tdgraph"></td>
            <td id="6g_mini" class="tdgraph"></td>
            <td id="7g_mini" class="tdgraph"></td>
            <td id="8g_mini" class="tdgraph"></td>
            <td id="9g_mini" class="tdgraph"></td>
            <td id="10g_mini" class="tdgraph"></td>
            <td id="11g_mini" class="tdgraph"></td>
            <td id="12g_mini" class="tdgraph"></td>
            <td id="13g_mini" class="tdgraph"></td>
            <td id="14g_mini" class="tdgraph"></td>
            <td id="15g_mini" class="tdgraph"></td>
            <td id="16g_mini" class="tdgraph"></td>
            <td id="17g_mini" class="tdgraph"></td>
            <td id="18g_mini" class="tdgraph"></td>
            <td id="19g_mini" class="tdgraph"></td>
            <td id="20g_mini" class="tdgraph"></td>
            <td id="21g_mini" class="tdgraph"></td>
            <td id="22g_mini" class="tdgraph"></td>
            <td id="23g_mini" class="tdgraph"></td>
            <td id="24g_mini" class="tdgraph"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="classStartTime_mini" class="ptaddbox_mini" style="display: none;">
      <div class="ptaddboxtext_mini"><img class="icons" src={% static "user/res/ptadd/icon-start.png" %}> 
        <span class="KRtext"> 시작 시간</span>
        <span class="JPtext"> 開始時間</span>
        <span class="ENtext"> Start Time</span>
      </div>
      <div id="starttimesSelected" class="dropdown_mini">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom_mini" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span>
        </button>
        <ul id="starttimes_mini" class="dropdown-menu dropdownlist_mini">
        </ul>
      </div>
    </div>

    <div id="classDuration_mini" class="ptaddbox_mini">
      <div class="ptaddboxtext_mini"><img class="icons" src={% static "user/res/ptadd/icon-clock.png" %}> <span class="KRtext"> 진행 시간</span><span class="JPtext"> 進行時間</span><span class="ENtext"> Class Time</span></div>
      <div id="durationsSelected" class="dropdown_mini">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom_mini" type="button" data-toggle="dropdown" style="width: 184px;">
          <span class="KRtext" style="color:#cccccc;">선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span>
        </button>
        <ul id="durations_mini" class="dropdown-menu dropdownlist_mini">

        </ul>
      </div>
    </div> 

    <div id="addmemo_mini" class="ptaddbox_mini">
        <div class="ptaddboxtext_mini"> 
          <img class="icons" src={% static "user/res/ptadd/icon-pencil.png" %}> 
          <span class="KRtext"> 메모</span>
          <span class="JPtext"> メモ―</span>
          <span class="ENtext"> Memo</span>
        </div>
        <input type="text" name="memo_mini" maxlength="15" value="" placeholder="15자 이내" id="memo_mini">
    </div>

    <div class='popupBtn_mini'>
      <div class="submitBtn" id="submitBtn_mini">
        <span class="KRtext">등록</span>
        <span class="JPtext">登録</span>
        <span class="ENtext">OK</span>
      </div>
    </div>
</div>


<div id="filterPopup_mini" class="dropdown">
      <div id="offFilter" style="width:45%; height: 50%;display: inline-grid;background: #eaeaea;">OFF타임 필터링</div>
      <div id="filterPopupClose" style="width:45%; height: 50%;display: inline-grid;color:red;">필터링 닫기</div>
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%;height: 50%;">
          <span class="KRtext" style="color:#cccccc;">회원 필터링 뷰</span></button>
        <ul id="members_li" class="dropdown-menu" style="max-height: 300px;overflow: auto;">
          <!-- 회원명 DB연동 필요-->
            <li><a id="viewEntire">전체</a></li>
            {% for lecture in trainer_member %}
            <li><a data-lecturecount="{{ lecture.lecture_avail_count }}" data-lectureid="{{ lecture.lecture_id}}">
                {{ lecture.trainer_member.name }}</a>
            </li>
            {% endfor %}
        </ul>
</div>


{% endblock %}


{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script>
          //front-end에서 다뤄야하는 데이터

          //PT 일정 등록시 필요한 정보
          var memberNameArray = [{% for lecture in lecture_info %}'{{ lecture.member_info.name }}',{% endfor %}];
          var memberAvailCountArray = [{% for lecture in lecture_info %}'{{ lecture.lecture_avail_count }}',{% endfor %}];
          var memberLectureIdArray = [{% for lecture in lecture_info %}'{{ lecture.lecture_id }}',{% endfor %}];

          //OFF 일정 관련 정보
          var offScheduleIdArray = [{% for off_schedule_id_info in off_schedule_id %}'{{ off_schedule_id_info }}', {% endfor %}];
          var offTimeArray_start_date = [{% for off_schedule_start_datetime_info in off_schedule_start_datetime %}'{{ off_schedule_start_datetime_info }}',{% endfor %}];
          var offTimeArray_end_date = [{% for off_schedule_end_datetime_info in off_schedule_end_datetime %}'{{ off_schedule_end_datetime_info }}',{% endfor %}];

          //PT 일정 관련 정보
          //pt schedule id
          var scheduleIdArray = [{% for pt_schedule_id_info in pt_schedule_id %}'{{ pt_schedule_id_info }}',{% endfor %}];
          //pt schedule 에 해당하는 lecture id
          var classArray_lecture_id = [{% for pt_schedule_lecture_id_info in pt_schedule_lecture_id %}'{{ pt_schedule_lecture_id_info }}',{% endfor %}];
          //pt schedule 에 해당하는 회원명
          var classTimeArray_member_name = [{% for pt_schedule_member_name_info in pt_schedule_member_name %}'{{ pt_schedule_member_name_info }}',{% endfor %}];
          var classTimeArray_start_date = [{% for pt_schedule_start_datetime_info in pt_schedule_start_datetime %}'{{ pt_schedule_start_datetime_info }}',{% endfor %}];
          var classTimeArray_end_date = [{% for pt_schedule_end_datetime_info in pt_schedule_end_datetime %}'{{ pt_schedule_end_datetime_info }}',{% endfor %}];
          //pt schedule이 끝났는지 확인
          var scheduleFinishArray =  [{% for pt_schedule_finish_check_info in pt_schedule_finish_check %}'{{ pt_schedule_finish_check_info }}', {% endfor %}];

          var messageArray = [{% for message in messages %}'{{ message }}',{% endfor %}]

          var classTimeArray = [];
          var offTimeArray = [];

          var classDateData = []
          var classTimeData = []
          var offDateData=[]
          var offTimeData = []

          var offAddOkArray = [] //OFF 등록 시작 시간 리스트
          var durAddOkArray = [] //OFF 등록 시작시간 선택에 따른 진행시간 리스트

          var addTypeSelect = "ptadd" //팝업 종류 선택 (PT or OFF)
        </script>
        <script type="text/javascript" src={% static "user/js/trainer/pters.trainer.cal.week.js" %}></script>
        <script>
            var myswiper = new Swiper('.swiper-container',{
                initialSlide : 2,
                //speed : 150,
                preventClicks : true,
                keyboardControl : true, 
                preventClicksPropagation : true,
                threshold : 40,
                resistance: 1,
                onlyExternal: true,
            });
            

            $('#hidetoggle').click(function(){
              if($(this).attr('data-type') == '0'){
                $(this).css({'padding-top':'10px','color':'#282828'}).attr('data-type','1')
                $(this).find('img').css('-webkit-transform','rotate(-90deg)')
                $('#ymdText-pc').css({'padding-top':'17px','background':'#ffffff'})
                $('#week').css({'padding-top':'24px'})
                $('#calendar').css('padding-top','19px')
                $('#ymdText').css('display','none')
              }else{
                $(this).css({'padding-top':'75px','color':'#f4f4f4'}).attr('data-type','0')
                $(this).find('img').css('-webkit-transform','rotate(90deg)')
                $('#ymdText-pc').css({'padding-top':'100px','background':'transparent'})
                $('#week').css({'padding-top':'115px'})
                $('#calendar').css('padding-top','110px')
                $('#ymdText').css('display','block')
              }
            })

            var count = 0 
            var count1 = 0
            $('#ymdText-pc-prev-btn, #leftArrowButton').click(function(){
              if(count==0){
                myswiper.slidePrev(300)
                count++  
                setTimeout(function(){count=0},400)
              }else if(count>0){
                console.log('wait!')
              }
            })

            $('#ymdText-pc-next-btn, #rightArrowButton').click(function(){
              if(count1==0){
                myswiper.slideNext(300)  
                count1++  
                setTimeout(function(){count1=0},400)
              }else if(count>0){
                console.log('wait!')
              }
            })

            /*
            var originX;
            $('#calendar').on("touchstart",function(e){
                originX = e.originalEvent.touches[0].screenX
            })

            $('#calendar').on("touchend",function(e){
                var movedX = e.originalEvent.changedTouches[0].screenX;
                var deltaX = originX - movedX
                if(deltaX>100){
                    if(count1==0){
                      myswiper.slideNext(600)
                      count1++  
                      setTimeout(function(){count1=0},700)
                    }else if(count>0){
                      console.log('wait!')
                    }
                }else if(deltaX<-100){
                    if(count==0){
                      myswiper.slidePrev(600)
                      count++  
                      setTimeout(function(){count=0},700)
                    }else if(count>0){
                      console.log('wait!')
                    }
                }
            })
            */



            /*
            $('#ymdText').click(function(){
              $('#calendar').fadeOut('fast','linear',function(){
                window.location.reload();
              })
            })
            */

            $('footer').css('display','none')


            //sk 테스트중, 클릭 팝업
            $('#commonPopup').click(function(){
              $(this).fadeOut('fast')
            })

            $('.slidegap').click(function(){
                $('#filterPopup_mini').fadeIn();
            })

            $('#filterPopupClose').click(function(){
                $('#filterPopup_mini').fadeOut();
            })

            $('#members_li a').click(function(){
              var selectedMemberID = $(this).attr('data-lectureid')
              if($(this).attr('id')=='viewEntire'){
                $('.classTime').show()
              }else{
                $('.classTime').hide()
                $('.classTime[data-lectureid='+selectedMemberID+']').show();
              }   
            })

            var offVisible = true;
            $('#offFilter').click(function(){
                if(offVisible==true){
                  $('.offTime').hide();
                  $(this).css('background','#fe4e65')
                  offVisible = false;
                }else{
                  $('.offTime').show();
                  $(this).css('background','#eaeaea')
                  offVisible = true;
                }
            })

        </script>
        <script type="text/javascript" src={% static "user/js/trainer/pters.trainer.cal.add.pt.js" %}></script>
{% endblock %}