{% extends "trainer_base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/trainer/pters.trainer.week.cal.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.mini.cal.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
{% endblock %}

{% block content %}

  <form action="/trainer/daily_pt_delete/" id="daily-pt-delete-form" method="post">
    <input type="hidden" name="schedule_id" id="id_schedule_id">
    <input type="hidden" name="member_name"   id="id_member_name">
    <input type="hidden" name="next_page" value = '{% url 'trainer:cal_week' %}'>
  </form>
  <form action="/trainer/daily_off_delete/" id="daily-off-delete-form" method="post">
    <input type="hidden" name="off_schedule_id" id="id_off_schedule_id">
    <input type="hidden" name="next_page" value = '{% url 'trainer:cal_week' %}'>
  </form>

  <form action="{% url 'trainer:modify_pt' %}" id="pt-modify-form" method="get">
    <input type="hidden" name="schedule_id" id="id_schedule_id_modify">
    <input type="hidden" name="lecture_id"   id="id_lecture_id_modify">
    <input type="hidden" name="next_page" value = '{% url 'trainer:cal_week' %}'>
  </form>
  <form action="{% url 'trainer:modify_off' %}" id="off-modify-form" method="get">
    <input type="hidden" name="off_schedule_id" id="id_off_schedule_id_modify">
    <input type="hidden" name="next_page" value = '{% url 'trainer:cal_week' %}'>
  </form>

  <!--팝업메뉴-->
    <div id="cal_popup">
      <div id="popup_img"><img src="/static/user/res/ptadd/icon-cal.png" id="img_cal"><img src="/static/user/res/ptadd/btn-x.png" id="btn_close"></div><div id="popup_info"></div><div id="popup_info2"></div>
      <div id="popup_text1" class="popup_inner popup_inner_change"><span class="KRtext">일정 변경</span><span class="JPtext">日程変更</span><span class="ENtext">Change Schedule</span></div>
      <div id="popup_text2" class="popup_inner popup_inner_delete"><span class="KRtext">일정 삭제</span><span class="JPtext">日程削除</span><span class="ENtext">Delete Schedule</span></div>
    </div>
    <!--현재 클릭한 일정의 요소 보기: pters.day.cal.js 19행 console.log 주석 참고-->
  <!--팝업메뉴-->

  <!--삭제 확인 팝업메뉴-->
    <div id="cal_popup3">
      <div id="popup_img"><img src="/static/user/res/ptadd/icon-cal.png" id="img_cal"><img src="/static/user/res/ptadd/btn-x.png" id="btn_close3"></div>
      <div id="popup_info3" class="KRtext">정말 일정을 삭제하시겠습니까?</div><div id="popup_info3" class="JPtext">日程を削除しますか</div><div id="popup_info3" class="ENtext">Are you sure to delete the schedule?</div>
      <div id="popup_text3" class="popup_inner popup_inner_delete"><span style="color:#282828;" class="KRtext">예</span><span style="color:#282828;" class="JPtext">はい</span><span style="color:#282828;" class="ENtext">Yes</span></div>
      <div id="popup_text4" class="popup_inner popup_inner_delete"><span class="KRtext">아니오</span><span class="JPtext">いいえ</span><span class="ENtext">No</span></div>
    </div>
    
   <!--플로팅 버튼-->
  <div id="float_btn_wrap">
    <div id="float_btn">
      <img src={% static "user/res/floatbtn/btn-plus.png" %} alt="">  <!--2017.10.2-->
    </div>
    <div id="float_inner1" class="float_inner">
    <a class="KRtext">PT<br/>일정</a><a class="JPtext">PT<br/>追加</a><a class="ENtext">Add<br/>PT</a>
    </div>
    <div id="float_inner2" class="float_inner">
    <a class="KRtext">OFF<br/>일정</a><a class="JPtext">OFF<br/>追加</a><a class="ENtext">Add<br/>OFF</a>
    </div>
  </div>
  <div id="shade2">
  </div>
  <div id="shade3">
  </div>
  <!--플로팅 버튼-->

  <!--PC버전 Arrow-->
    <div class="arrowButtonPC">
        <a id="leftarrowPC" style="left: 10%"><img src={% static "user/res/icon-setting-arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 12px;left: 0;"></a>
        <a id="rightarrowPC" style="right: 10%"><img src={% static "user/res/icon-setting-arrow.png" %} alt="" style="width: 12px;right: 0;"></a>
    </div>

    <div id="ymdText" class="wrap" style="background-image:url(/static/user/res/bg.png);background-size: 100%;">
      <div class='arrowButton'>
              <a href="" style="left: 4%">
                <img src={% static "user/res/btn-today-left.png" %} alt="" class="_pinkarrowbefore setunVisible" style="width: 11px;margin-top:1px;margin-right: 10px;">
                <img src={% static "user/res/daycal_arrow.png" %} alt="" style="width: 7px;">
                <span style="position: absolute;top:6px;left:-9px;font-size: 10px;color:#fe4e65;" class="_pinkarrowbefore setunVisible">Today</span>
              </a>
              <a href="" style="right: 4%">
                <img src={% static "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;">
                <img src={% static "user/res/btn-today-left.png" %} alt="" class="_pinkarrowafter setunVisible" style="-webkit-transform:rotate(180deg);width: 11px;margin-top:1px;margin-left: 10px;">
                <span style="position: absolute;top:6px;right:-8px;font-size: 10px;color:#fe4e65;" class="_pinkarrowafter setunVisible">Today</span>
              </a>
            </div>
      <div id="yearText">
      </div>
      <div id="monthText">
      </div>
    </div>
    
    <!--
    <div id="week" class="time-style wrap">
      <table class="calendar-style">
        <tbody>
          <tr id="weekText">
            <td class="slidegap" style="background:#f4f4f4;"><span></span><span></span></td>
            <td id="weekNum_1"><span class="weekToday-style"></span><span class="weekToday-style" style="color: #d21245;">일</span><span id="sunDate" class="weekToday-style" style="color:#d21245;"></span></td>
            <td id="weekNum_2"><span class="weekToday-style"></span><span class="weekToday-style">월</span><span id="monDate" class="weekToday-style"></span></td>
            <td id="weekNum_3"><span class="weekToday-style"></span><span class="weekToday-style">화</span><span id="tueDate" class="weekToday-style"></span></td>
            <td id="weekNum_4"><span class="weekToday-style"></span><span class="weekToday-style">수</span><span id="wedDate" class="weekToday-style"></span></td>
            <td id="weekNum_5"><span class="weekToday-style"></span><span class="weekToday-style">목</span><span id="thrDate" class="weekToday-style"></span></td>
            <td id="weekNum_6"><span class="weekToday-style"></span><span class="weekToday-style">금</span><span id="friDate" class="weekToday-style"></span></td>
            <td id="weekNum_7"><span class="weekToday-style"></span><span class="weekToday-style" style="color: #115a8e;">토</span><span id="satDate" class="weekToday-style" style="color: #115a8e;"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    -->

    <div id="calendar" class="container wrap"> <!-- Calendar container-->
          <div class="swiper-container">
            <div class="timeindex">
                  <table>
                      <tr><td class="hour"><span class="morningtext">오전</span>5:00</td></tr>
                      <tr><td class="hour">6:00</td></tr>
                      <tr><td class="hour">7:00</td></tr>
                      <tr><td class="hour">8:00</td></tr>
                      <tr><td class="hour">9:00</td></tr>
                      <tr><td class="hour">10:00</td></tr>
                      <tr><td class="hour">11:00</td></tr>
                      <tr><td class="hour"><span class="morningtext">오후</span>12:00</td></tr>
                      <tr><td class="hour">13:00</td></tr>
                      <tr><td class="hour">14:00</td></tr>
                      <tr><td class="hour">15:00</td></tr>
                      <tr><td class="hour">16:00</td></tr>
                      <tr><td class="hour">17:00</td></tr>
                      <tr><td class="hour">18:00</td></tr>
                      <tr><td class="hour">19:00</td></tr>
                      <tr><td class="hour">20:00</td></tr>
                      <tr><td class="hour">21:00</td></tr>
                      <tr><td class="hour">22:00</td></tr>
                      <tr><td class="hour">23:00</td></tr>
                      <tr><td class="hour">24:00</td></tr>
                  </table>
              </div>
            <div class="swiper-wrapper"> 
              <div class="swiper-slide" id="slide1"></div> <!--Index0 2주전-->
              <div class="swiper-slide" id="slide2"></div> <!--Index1 1주전-->
              <div class="swiper-slide" id="slide3"></div> <!--Index2 이번주-->
              <div class="swiper-slide" id="slide4"></div> <!--Index3 1주후-->
              <div class="swiper-slide" id="slide5"></div> <!--Index2 2주후-->
            </div>  <!--Swiper-wrapper-->
          </div> <!--Swiper-container-->
  
<!--Swiper-->    
          <!-- <div class="swiper-pagination"></div> -->
          <div id="cal_box" class="cal_box"></div>    
    </div>



<div id="page-ptadd" class="wrap">
    {% if messages %}
        {% for message in messages %}
            <div id="inputError">
                    <div id="errorMsg" class="inputErrorInner"><p style="line-height: 35px;vertical-align: middle;margin:0;">{{ message }}</p></div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'trainer:add_pt_logic' %}" id="pt-add-form" method="post">
        <input type="hidden" name="lecture_id"    id="id_lecture_id">
        <input type="hidden" name="member_name"   id="id_member_name">
        <input type="hidden" name="training_date" id="id_training_date">
        <input type="hidden" name="time_duration" id="id_time_duration">
        <input type="hidden" name="training_time" id="id_training_time">
        <input type="hidden" name="next_page" value = '{% url 'trainer:cal_day' %}'>
    </form>
    
    <div class="ptaddbox" id="pcaddpopup">
      <span class="KRtext">PT 일정 추가</span>
      <span class="JPtext">PT 日程追加</span>
      <span class="ENtext">Add PT Schedule</span>
      <img src="/static/user/res/ptadd/btn-x.png" alt="닫기"  class="icons cancelBtn">
    </div>

    <div id="memberName" class="ptaddbox">
      <div class="ptaddboxtext"> <img class="icons" src={% static "user/res/ptadd/icon-name.png" %}> <span class="KRtext"> 회원명</span><span class="JPtext"> 姓名</span><span class="ENtext"> Name</span></div>
      <div id="membersSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">회원명 선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span></button>
        <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
        <ul id="members" class="dropdown-menu pters_dropdown_custom">
          <!-- 회원명 DB연동 필요-->
            {% for lecture in trainer_member %}
            <li><a data-lecturecount="{{ lecture.lecture_avail_count }}" data-lectureid="{{ lecture.lecture_id}}">
                {{ lecture.trainer_member.name }}</a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>


    <div id="remainCount" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" style="width:13px;" src={% static "user/res/ptadd/icon-count.png" %}> <span class="KRtext"> 남은 횟수</span><span class="JPtext"> 残余回数</span><span class="ENtext"> Remain Counts</span></div>
      <!-- 남은 횟수 DB연동 필요 -->
            <div id="countsSelected" class="dropdown" placeholder="ー"></div>
    </div>


    <div id="dateSelector" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-cal.png" %}> <span class="KRtext"> 날짜</span><span class="JPtext"> 予約日</span><span class="ENtext"> Day Select</span></div>
      <p class="datepicktext dropdown"><input type="text" id="datepicker" placeholder="-" readonly></p>  
    </div>

    <div id="timeGraph" class="ptaddbox" style="display: none;">
      <table class="timegraphtext">
        <tbody>
          <tr>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class="">13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
          </tr>
          <tr>
            <td id="5g" class="tdgraph"></td>
            <td id="6g" class="tdgraph"></td>
            <td id="7g" class="tdgraph"></td>
            <td id="8g" class="tdgraph"></td>
            <td id="9g" class="tdgraph"></td>
            <td id="10g" class="tdgraph"></td>
            <td id="11g" class="tdgraph"></td>
            <td id="12g" class="tdgraph"></td>
            <td id="13g" class="tdgraph"></td>
            <td id="14g" class="tdgraph"></td>
            <td id="15g" class="tdgraph"></td>
            <td id="16g" class="tdgraph"></td>
            <td id="17g" class="tdgraph"></td>
            <td id="18g" class="tdgraph"></td>
            <td id="19g" class="tdgraph"></td>
            <td id="20g" class="tdgraph"></td>
            <td id="21g" class="tdgraph"></td>
            <td id="22g" class="tdgraph"></td>
            <td id="23g" class="tdgraph"></td>
            <td id="24g" class="tdgraph"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="classStartTime" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-start.png" %}> <span class="KRtext"> 시작 시간</span><span class="JPtext"> 開始時間</span><span class="ENtext"> Start Time</span></div>
      <div id="starttimesSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span></button>
        </button>
        <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
        <ul id="starttimes" class="dropdown-menu pters_dropdown_custom">
       
       </ul>
      </div>
    </div>

    <div id="classDuration" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-clock.png" %}> <span class="KRtext"> 진행 시간</span><span class="JPtext"> 進行時間</span><span class="ENtext"> Class Time</span></div>
      <div id="durationsSelected" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span>
        </button>
        <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
        <ul id="durations" class="dropdown-menu pters_dropdown_custom">

        </ul>
      </div>
    </div> 

    <div class='popupBtn'>
      <div class="submitBtn"><span class="KRtext">일정 등록</span><span class="JPtext">登録</span><span class="ENtext">OK</span></div>
    </div>

</div>



<div id="page-offadd" class="wrap">
        {% if messages %}
        {% for message in messages %}
            <div id="inputError">
                    <div id="errorMsg" class="inputErrorInner"><p style="line-height: 35px;vertical-align: middle;margin:0;">{{ message }}</p></div>
            </div>
        {% endfor %}
        {% endif %}

    <form action="{% url 'trainer:add_off_logic' %}" id="off-add-form" method="post">
        <input type="hidden" name="training_date" id="id_training_date_off">
        <input type="hidden" name="time_duration" id="id_time_duration_off">
        <input type="hidden" name="training_time" id="id_training_time_off">
        <input type="hidden" name="next_page" value = '{% url 'trainer:cal_day' %}'>
    </form>
    
    <div class="ptaddbox" id="pcaddpopup">
      <span class="KRtext">OFF 일정 추가</span>
      <span class="JPtext">OFF 日程追加</span>
      <span class="ENtext">Add OFF Schedule</span>
      <img src="/static/user/res/ptadd/btn-x.png" alt="닫기"  class="icons cancelBtn">
    </div>

    <div id="dateSelector_off" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-cal.png" %}> <span class="KRtext"> 날짜</span><span class="JPtext"> 予約日</span><span class="ENtext"> Day Select</span></div>
      <p class="datepicktext dropdown"><input type="text" id="datepicker_off" placeholder="-" readonly></p>  
    </div>

    <div id="timeGraph_off" class="ptaddbox" style="display: none;">
      <table class="timegraphtext">
        <tbody>
          <tr>
            <td class="">5</td>
            <td class="">6</td>
            <td class="">7</td>
            <td class="">8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
            <td class="">12</td>
            <td class="">13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class="">19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
          </tr>
          <tr>
            <td id="5g_off" class="tdgraph"></td>
            <td id="6g_off" class="tdgraph"></td>
            <td id="7g_off" class="tdgraph"></td>
            <td id="8g_off" class="tdgraph"></td>
            <td id="9g_off" class="tdgraph"></td>
            <td id="10g_off" class="tdgraph"></td>
            <td id="11g_off" class="tdgraph"></td>
            <td id="12g_off" class="tdgraph"></td>
            <td id="13g_off" class="tdgraph"></td>
            <td id="14g_off" class="tdgraph"></td>
            <td id="15g_off" class="tdgraph"></td>
            <td id="16g_off" class="tdgraph"></td>
            <td id="17g_off" class="tdgraph"></td>
            <td id="18g_off" class="tdgraph"></td>
            <td id="19g_off" class="tdgraph"></td>
            <td id="20g_off" class="tdgraph"></td>
            <td id="21g_off" class="tdgraph"></td>
            <td id="22g_off" class="tdgraph"></td>
            <td id="23g_off" class="tdgraph"></td>
            <td id="24g_off" class="tdgraph"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="offStartTime" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-start.png" %}> <span class="KRtext"> 시작 시간</span><span class="JPtext"> 開始時間</span><span class="ENtext"> Start Time</span></div>
      <div id="starttimesSelected_off" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span>
        </button>
        <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
        <ul id="starttimes_off" class="dropdown-menu pters_dropdown_custom">

        </ul>
      </div>
    </div>

    <div id="offDuration" class="ptaddbox">
      <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-clock.png" %}> <span class="KRtext"> 진행 시간</span><span class="JPtext"> 進行時間</span><span class="ENtext"> Class Time</span></div>
      <div id="durationsSelected_off" class="dropdown">
        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">
          <span class="KRtext" style="color:#cccccc;">선택</span>
          <span class="JPtext" style="color:#cccccc;">選択</span>
          <span class="ENtext" style="color:#cccccc;">Select</span>
        </button>
        <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
        <ul id="durations_off" class="dropdown-menu pters_dropdown_custom">
        </ul>
      </div>
    </div>

    <div id="repeatSchedule" class="ptaddbox repeatbox">
      <div id="repeatScheduleText" class="ptaddboxtext repeattext">
        <img src={% static "user/res/ptadd/icon-repeat-cal.png" %} class="icons">
         <span onclick="location.href='{% url 'trainer:add_repeat_off' %}'">반복일정</span>
         <img class="icons-next-button" src={% static "user/res/ptadd/btn-next-white.png" %}>
       </div>
      
      <!--반복일정 박스-->
      <div class="repeatboxinner">
        <span class="repeatstarttext KRtext">매주 월요일 오전 11시</span><span class="repeatfinishtext KRtext">반복종료 : PT 마감시</span>
        <span class="repeatstarttext JPtext">매주 월요일 오전 11시</span><span class="repeatfinishtext JPtext">반복종료 : PT 마감시</span>
        <span class="repeatstarttext ENtext">매주 월요일 오전 11시</span><span class="repeatfinishtext ENtext">반복종료 : PT 마감시</span>
      </div>
      
      <!--반복일정 박스-->
      <div class="repeatboxinner">
        <span class="repeatstarttext">매주 수요일 오후 3시</span><span class="repeatfinishtext">반복종료 : 2017-12-31</span>
      </div>
    </div>
    
    <div class='popupBtn'>
      <div class="submitBtn"><span class="KRtext">일정 등록</span><span class="JPtext">登録</span><span class="ENtext">OK</span></div>
    </div>

  </div>


</div>

{% endblock %}


{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script>
          //front-end에서 다뤄야하는 데이터
          var classTimeArray_start_date = [{% for daily_data_start_date in daily_lecture_data_start_date %}"{{ daily_data_start_date }}",{% endfor %}];
          //var classTimeArray_start_date=[]; ajaxtest시 사용
          var classTimeArray_end_date = [{% for daily_data_end_date in daily_lecture_data_end_date %}"{{ daily_data_end_date }}",{% endfor %}];
          var classTimeArray_member_name = [{% for member_name in daily_lecture_data_member %}"{{ member_name }}",{% endfor %}];
          var classArray_lecture_id = [{% for lecture_id in daily_lecture_data_id %}"{{ lecture_id }}",{% endfor %}];
          var offTimeArray_start_date = [{% for daily_off_start_date in daily_off_data_start_date %}"{{ daily_off_start_date }}",{% endfor %}];
          var offTimeArray_end_date = [{% for daily_off_end_date in daily_off_data_end_date %}"{{ daily_off_end_date }}",{% endfor %}];

          var scheduleIdArray = [{% for daily_lecture_schedule_id in daily_lecture_schedule_id %}"{{ daily_lecture_schedule_id }}",{% endfor %}];
          var offScheduleIdArray = [{% for daily_class_schedule_id in class_schedule_data %}"{{ daily_class_schedule_id }}", {% endfor %}];
          var classTimeArray = [];
          var offTimeArray = [];
        </script>
        <script type="text/javascript" src={% static "user/js/trainer/pters.trainer.cal.week.js" %}></script>
        <script>
            var myswiper = new Swiper('.swiper-container',{
                initialSlide : 2,
                speed : 80,
                preventClicks : true,
                keyboardControl : true, 
                preventClicksPropagation : true,

            });

            var count = 0 
            var count1 = 0

            $('.arrowButtonPC a:nth-child(1)').click(function(){
              if(count==0){
                myswiper.slidePrev(100)
                count++  
                setTimeout(function(){count=0},200)
              }else if(count>0){
                console.log('wait!')
              }
            })

            $('.arrowButtonPC a:nth-child(2)').click(function(){
              if(count1==0){
                myswiper.slideNext(100)  
                count1++  
                setTimeout(function(){count1=0},200)
              }else if(count>0){
                console.log('wait!')
              }
            })

            $('#ymdText').click(function(){
              $('#calendar').fadeOut('fast','linear',function(){
                window.location.reload();
              })
              
            })

        </script>
        <script type="text/javascript" src={% static "user/js/trainer/pters.trainer.cal.add.pt.js" %}></script>
        <script type="text/javascript" src={% static "user/js/trainer/pters.trainer.cal.add.off.js" %}></script>
{% endblock %}