{% extends "trainer_base.html" %}


{% load static_url %}
{% block local_css %}

    <meta name="login" content="pwreset_login">
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.pwchange.setting.css" %}>
    <style type="text/css">
        .deleteaccount_wrap{
            margin: 0 auto;
            max-width:430px;
            margin-top: 100px;
            padding: 20px;
        }
        .warningImgWrap{
            text-align: center;
        }
        .warningImgWrap img{
            width: 50px;
        }
        .outLetterWrap{
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
        .ourLetter{
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 15px;
            font-weight: bold;
        }
        @media(min-width: 600px){
            .deleteaccount_wrap{
                border:1px solid #cccccc;
            }
        }
    </style>

    {% load i18n %}


    <div class="deleteaccount_wrap" id="submit_input">
        <div id="inputError_info">
            <div id="errorMsg_info" class="inputErrorInner">
                <p style="line-height: 35px;vertical-align: middle;margin:0;"></p>
            </div>
        </div>

        <div class="warningImgWrap">
            <!--<p><img src="/static/user/res/stopmark.png"></p>-->
            <p><img src="/static/user/res/rejected.png"></p>
        </div>
        <div class="outLetterWrap">
            <p class="ourLetter"><span style="color: #fe4e65;">PTERS.피터스</span>를 탈퇴 하시겠어요?</p>
            <p class="ourLetter">{{user.last_name}} {{user.first_name}}님과의 소중한 인연에 감사드리며,<br> 언제든 다시 방문해주시길 기다릴께요!</p>
            <p class="ourLetter">-PTERS팀 드림 </p>
        </div>

        <div class="button_wrap">
            <p style="font-size:12.5px;color:#fe4e65;margin-top: 10px;">
                <img src="/static/user/res/stopmark.png" style="width: 15px;margin-bottom: 3px;">
                <b>탈퇴하신 아이디와 이메일은 재가입시 사용이 불가능합니다. <b/>
            </p>
            <button class="submitBtn bgwhite" onclick="goPage('back')">돌아가기</button>
            <button class="submitBtn" onclick="goPage('deleteaccount')">탈퇴하기</button>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>


        function beforeSend(){
{#            $('html').css("cursor","wait");#}
            $('#ajaxloadingPC').css('display','block');
            $('#submit_input button').css('visibility','hidden')
        }

        function completeSend(){
{#            $('html').css("cursor","auto");#}
            $('#ajaxloadingPC').css('display','none');
            $('#submit_input button').css('visibility','visible')
        }

        function goPage(option){
            if(option=="back"){
                location.href="{% url 'trainer:trainer_mypage' %}"
            }else if(option == "deleteaccount"){
                location.href="/login/out_member/"
            }
        }
    </script>


{% endblock %}


