
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

{% block local_css %}

    <meta name="login" content="trainer_login">
    <link rel="stylesheet" href={% static "user/css/login/pters.trainer.login.css" %}>
    <link href={% static "common/css/bootstrap.min.css" %} rel="stylesheet">

{% endblock %}

{% block content %}
        
    <div id="imageBox"><img src={% static "user/res/login/pterslogin.png" %} id="loginimg"></div>
    <div class="logintext">
        <div><span id="pterstext">PTERS</span> <span id="logintext">로그인</span></div>
    </div>
    <div class="container loginbox">
        <div>
            <div class="">
                <div>
                    <form action="/trainer/login/" id="login-form" method="post">
                        <div id="idinput">
                            <img src={% static "user/res/login/icon-user.png" %} id="idimg">
                            <input type="text" class="loginboxstyle form-control" name="username" placeholder="아이디" autofocus>
                        </div>
                        <div id="pwinput" style="margin-top:5%;">
                            <img src={% static "user/res/login/icon-lock.png" %} id="pwimg">
                            <input type="password" class="loginboxstyle form-control" name="password" placeholder="비밀번호">
                        </div>
                        <div class="checkbox" style="margin-top:15px;margin-left:15px;">
                            <label><input type="checkbox" value="login">다음부터 자동 로그인</label>
                        </div>
                        <div>
                            <button type="submit" class="form-control btn btn-primary">로그인</button>
                        </div>
                        <input type="hidden" name="next_page" value = '{% url 'home' %}'>
                    </form>
                </div>
           </div>
        </div>
    </div>
{% endblock %}

{% block local_js_footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src={% static "user/js/login/pters.trainer.login.js" %}></script>
{% endblock %}

<!--

2017.8.3업데이트 내역

1.Navigation Bar의 Bell ,메뉴 버튼 크기 및 위치 조정
2.Navigation Bar의 Bell 이미지 변경

3.파일명 변경 및 코드 분리
    skstyle.css ->> pters.month.cal.css 월간 달력 css
    skcalendar.js ->> pters.month.cal.js 월간 달력 js
    sidebar.css ->> pters.base.set.css 상단바,사이드바 css
    skstyle.js ->> pters.base.set.js 상단바, 사이드바 js

-->



