{% extends "trainer_base.html" %}



{% load static_url %}

{% block local_css %}
    <meta name="description" content="main">
    <style>
        div.main_page{
            font-size: 18px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cal_page">
        메인 페이지 <br> 메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>
    </div>
    <div class="cal_page">
        메인 페이지 <br> 메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>
    </div>
    <div class="cal_page">
        메인 페이지 <br> 메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>
    </div>
    <div class="cal_page">
        메인 페이지 <br> 메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>
    </div>
    <div class="cal_page">
        메인 페이지 <br> 메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>
    </div>
    <div class="cal_page">
        메인 페이지 <br> 메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>메인 페이지 <br>
    </div>
{% endblock %}


{% block local_js_footer %}
    <script>
        $('div.main_page').css({'background-color':'#f4f4f4', 'color':'blue'});
    </script>
{% endblock %}