{% extends "trainer_base.html" %}



{% load static_url %}

{% block local_css %}
    <meta name="description" content="main">
    <style>

    </style>
{% endblock %}

{% block content %}
    
{% endblock %}


{% block local_js_footer %}
    <script>
        var class_center_name = `{{ request.session.class_center_name }}`;
        var class_type_name = `{{ request.session.class_type_name }}`;
        var today_schedule_num = `{{ today_schedule_num }}`;
        var total_member_num = `{{total_member_num}}`;
        var new_member_num = `{{ new_member_num }}`;
        var to_be_ended_member_num = `{{ to_be_end_member_num }}`;
        var session_app_version = `{{ APP_VERSION }}`;

    </script>
{% endblock %}