
{% load static_url %}

{% block local_css %}
    <meta name="description" content="lecture">
    <style>
        div.lec_page{
            font-size: 18px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="lec_page">
        수업 페이지 <br> 수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>
    </div>
    <div class="lec_page">
        수업 페이지 <br> 수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>
    </div>
    <div class="lec_page">
        수업 페이지 <br> 수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>
    </div>
    <div class="lec_page">
        수업 페이지 <br> 수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>
    </div>
    <div class="lec_page">
        수업 페이지 <br> 수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>
    </div>
    <div class="lec_page">
        수업 페이지 <br> 수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>수업 페이지 <br>
    </div>
{% endblock %}


{% block local_js_footer %}
    <script>
        $('div.lec_page').css({'background-color':'black', 'color':'orange'});
    </script>
{% endblock %}