{
    "idArray" :
    [{% for member_info in member_data %}"{{ member_info.user }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "emailArray" :
    [{% for member_info in member_data %}"{{ member_info.user.email }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "nameArray" :
    [{% for member_info in member_data %}"{{ member_info.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "phoneArray" :
    [{% for member_info in member_data %}"{{ member_info.phone }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "birthdayArray" :
    [{% for member_info in member_data %}"{{ member_info.birthday_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "sexArray" :
    [{% for member_info in member_data %}"{{ member_info.sex }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "contentsArray" :
    [{% for member_info in member_data %}"{{ member_info.contents }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "emailActiveArray" :
    [{% for member_info in member_data %}"{{ member_info.user.is_active }}"{%if forloop.last == False%},{% endif %}{% endfor %}],


    "countArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_info.lecture_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "startArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_info.start_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "modifyDateArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_info.member_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "endArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_info.end_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "regCountArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_info.lecture_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "availCountArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_info.lecture_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "finishIdArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.user }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishemailArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.user.email }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishnameArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishphoneArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.phone }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishbirthdayArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.birthday_dt }}"{%if forloop.last == False%},{% endif %} {% endfor %}],
    "finishsexArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.sex }}"{%if forloop.last == False%},{% endif %} {% endfor %}],
    "finishContentsArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.contents }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishEmailActiveArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.user.is_active }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "finishcountArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.lecture_info.lecture_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishstartArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.lecture_info.start_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishmodifyDateArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.lecture_info.member_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishendArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.lecture_info.end_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "finishRegCountArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.lecture_info.lecture_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "finishAvailCountArray" :
    [{% for member_finish_info in member_finish_data %}"{{ member_finish_info.lecture_info.lecture_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],


    "messageArray" :
    [{% for message in messages %}"{{ message }}"{%if forloop.last == False%},{% endif %}{% endfor %}]


}