{% extends "trainer_base.html" %}
{% load static_url %}

{% block local_css %}
        <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.manage.member.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/pters.mini.cal.css" %}>
{% endblock %}

{% block content %}

<img src="/static/user/res/ajax/loading.gif" alt="" class="ajaxloadingPC">

 <!--플로팅 버튼-->

   <!--플로팅 버튼-->
<div id="float_btn_wrap">
    <div id="float_btn">
      <img src={% static_url "user/res/memberadd/float_plus_member.png" %} alt="">  <!--2017.10.2-->
    </div>
    <div id="float_inner1" class="float_inner">
        <a class="KRtext">신규<br/>회원</a><a class="JPtext">PT<br/>追加</a><a class="ENtext">Add<br/>PT</a>
    </div>
    <div id="float_inner2" class="float_inner">
        <a class="KRtext">연장<br/>회원</a><a class="JPtext">OFF<br/>追加</a><a class="ENtext">Add<br/>OFF</a>
    </div>
</div>

<div id="instructPopup" class="instructPopup">
    
</div>

<form action="/login/add_member_info/" id="add-member-id-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="username" id="id_username">
    <input type="hidden" name="email" id="id_email">
    <input type="hidden" name="sex" id="form_sex" value="">
    <input type="hidden" name="birthday" id="form_birth" value="">
    <input type="hidden" name="first_name" id="add_member_form_first_name" value="" >
    <input type="hidden" name="last_name" id="add_member_form_last_name" value="" >
    <input type="hidden" name="name" id="add_member_form_name" value="">

</form>

<form action="{% url 'trainer:delete_member_info' %}" method="POST" class="member-form" id="member-delete-form">
    {% csrf_token %}
    <input type="hidden" name="next_page" value="{% url 'trainer:member_manage_ajax' %}">
    <input type="hidden" name="id" id="deleteMemberId">
</form>

<!--
<div class="confirmPopup">
    <div style="height: 40px;"><img src={% static_url "user/res/stopmark.png" %} style="width:35px;margin-top:6px;"></div>
    <div class="KRtext confirmText">정말 회원을 삭제하시겠습니까?<br>되돌릴 수 없습니다.</div>
    <div class="JPtext confirmText">日程を削除しますか</div>
    <div class="ENtext confirmText">Are you sure to delete the schedule?</div>
    <div class="popup_inner popup_inner_delete">
        <span style="color:#282828;" class="KRtext confirmYes">예</span>
        <span style="color:#282828;" class="JPtext confirmYes">はい</span>
        <span style="color:#282828;" class="ENtext confirmYes">Yes</span>
    </div>
    <div class="popup_inner popup_inner_delete">
        <span class="KRtext confirmNo">아니오</span>
        <span class="JPtext confirmNo">いいえ</span>
        <span class="ENtext confirmNo">No</span>
    </div>
</div>
-->

<div class="lectureStateChangePopup popups">
    <div style="height: 50px;">
        <img src={% static_url "user/res/stopmark.png" %} style="width:35px;margin-top:10px;">
        <img src="/static/user/res/member/icon-x-grey.png" id="_btn_close_statechange_PC" class="_btn_close_statechange_PC" title="닫기" style="position:absolute;margin:10px;right:0;cursor:pointer;">
    </div>
    <div class="KRtext confirmText">회원님 등록을 취소하시겠습니까?<br>환불 금액을 입력해 주세요.</div>
    <div class="KRtext confirmText" style="font-size: 12px;height: 35px;color:#fe4e65;font-weight: normal">※환불시 종료된 회원탭으로 회원이 이동됩니다.</div>
    <div class="JPtext confirmText">日程を削除しますか</div>
    <div class="ENtext confirmText">Are you sure to delete the schedule?</div>
    <div style="text-align: center;margin-bottom: 10px;"><input type="number" name="refund_price" style="border:1px solid #fe4e65;"> 원</div>
    <div class="popup_inner popup_inner_resend">
        <span style="color:#fe4e65;" class="KRtext refund">환불</span>
        <span style="color:#fe4e65;" class="JPtext refund">はい</span>
        <span style="color:#fe4e65;" class="ENtext refund">Yes</span>
    </div>
    <div class="popup_inner popup_inner_resend">
        <span class="KRtext cancel_refund">취소</span>
        <span class="JPtext cancel_refund">いいえ</span>
        <span class="ENtext cancel_refund">No</span>
    </div>
</div>

<div class="lectureConnectStateChangePopup popups">
    <div style="height: 50px;">
        <img src={% static_url "user/res/stopmark.png" %} style="width:35px;margin-top:10px;">
        <img src="/static/user/res/member/icon-x-grey.png" id="_btn_close_statechange_PC" class="_btn_close_statechange_PC" title="닫기" style="position:absolute;margin:10px;right:0;cursor:pointer;">
    </div>
    <div class="KRtext confirmText">회원님과의 달력 연동상태를 변경하시겠습니까?<br>변경을 원하는 상태를 선택해주세요.</div>
    <div class="KRtext confirmText" style="font-size: 12px;height: 35px;color:#fe4e65;font-weight: normal">※연결해제시 회원님께서 더이상 달력을 볼 수 없게 됩니다.</div>
    <div class="JPtext confirmText">日程を削除しますか</div>
    <div class="ENtext confirmText">Are you sure to delete the schedule?</div>
    <div class="popup_inner popup_inner_resend" data-stat="DELETE">
        <span style="color:#fe4e65;" class="KRtext connectchange">연결해제</span>
        <span style="color:#fe4e65;" class="JPtext connectchange">はい</span>
        <span style="color:#fe4e65;" class="ENtext connectchange">Yes</span>
    </div>
    <div class="popup_inner popup_inner_resend">
        <span class="KRtext cancel_connectchange">취소</span>
        <span class="JPtext cancel_connectchange">いいえ</span>
        <span class="ENtext cancel_connectchange">No</span>
    </div>
</div>


<div class="resendPopup popups">
    <div style="height: 40px;">
        <img src={% static_url "user/res/stopmark.png" %} style="width:35px;margin-top:5px;">
        <img src="/static/user/res/member/icon-x-grey.png" id="_btn_close_resend_PC" class="_btn_close_resend_PC" title="닫기" style="position:absolute;margin:10px;right:0;cursor:pointer;">
    </div>
    <div class="KRtext confirmText">회원님께서 달력연결을 해제하셨습니다.<br>원하는 추가 작업을 선택해주세요.</div>
    <div class="JPtext confirmText">日程を削除しますか</div>
    <div class="ENtext confirmText">Are you sure to delete the schedule?</div>
    <div class="popup_inner popup_inner_resend">
        <span style="color:#282828;" class="KRtext resend">재전송</span>
        <span style="color:#282828;" class="JPtext resend">はい</span>
        <span style="color:#282828;" class="ENtext resend">Yes</span>
    </div>
    <div class="popup_inner popup_inner_resend">
        <span class="KRtext delete_resend">이력 삭제</span>
        <span class="JPtext delete_resend">いいえ</span>
        <span class="ENtext delete_resend">No</span>
    </div>
</div>


<div id="shade3">
</div>
  <!--플로팅 버튼-->


<div id="page_managemember">
    <div id="upperImg">
        <span>회원 관리</span>
    </div>
    <div id="selectBox" class="btn-group btn-group-justified">
      <div id="btnCallCurrent" href="#" class="btn btn-primary active">진행 중 회원</div>
      <div id="btnCallFinished" href="#" class="btn btn-primary">종료된 회원</div>
    </div> 
    <div id="alignBox">
      <div style="font-size:14px;position: relative;">
        <span class="memberAlign">회원 정렬 기준</span><span id="currentMemberNum" class="memberNum"></span><span id="finishMemberNum" class="memberNum"></span>
      </div>
      <div class="ymdText-pc-add">
          <div class="ymdText-pc-add-member">회원 추가</div>
      </div>

      <select class="alignSelect">
        <option id="name">회원명 가나다 순</option>
        <option id="countH">남은 횟수 많은 순</option>
        <option id="countL">남은 횟수 적은 순</option>
        <option id="startP">시작 일자 과거 순</option>
        <option id="startR">시작 일자 최근 순</option>
        <option id="recent">수정 일자 최근 순</option>
      </select>
      <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown"> 
    </div>

    
    <table id="tableThead" class="table table-bordered centeralign">
        <thead>
          <tr style="border-bottom:0;">
            <th class="_countnum">순번</th>
            <th class="_tdname">회원명</th>
            <th class="_id">회원 ID</th>
            <th class="_email">Email</th> 
            <th class="_regcount">등록 횟수</th>
            <th class="_remaincount">남은 횟수</th>
            <th class="_startdate">시작일</th>
            <th class="_finday">종료일</th>
            <th class="_contact">연락처</th>
            <th class="_manage">관리</th>
            <th class="forscroll"></th>
          </tr>
        </thead>
    </table>


    <div id="currentMemberList" class="centeralign">
      <table id="currentMember" class="table table-bordered">
        
      </table>
    </div>

    <div id="finishedMemberList" class="centeralign">
      <table id="finishedMember" class="table table-bordered">
    
      </table>
    </div> 
</div>



<div id="memberInfoPopup" class="infopopup wrap">

    <div id="inputError_info">
        <div id="errorMsg_info" class="inputErrorInner">
            <p style="line-height: 35px;vertical-align: middle;margin:0;"></p>
        </div>
    </div>

    <div class="ptaddbox" id="pcaddpopup">
       <span id="uptext-pc-modify">회원 정보 조회</span><img src="/static/user/res/ptadd/btn-x.png" alt="닫기"  class="icons cancelBtn">
    </div>

    <div>
       <button id="infoMemberDelete"><img src={% static_url "user/res/member/icon-delete-black.png" %}></button>
       <button id="infoMemberModify" data-type="view"><img src={% static_url "user/res/member/icon-edit.png" %}></button>
    </div>
    
    <form action="{% url 'trainer:update_member_info' %}" method="POST" class="member-form" id="member-add-form-modify">
        {% csrf_token %}
        <input type="hidden" name="next_page" value="{% url 'trainer:member_manage_ajax' %}">
        <input type="hidden" name="sex" id="form_sex_modify">
        <input type="hidden" name="birthday" id="form_birth_modify">

        <div class="ptaddbox form-group">
            <label for="memberName_info" class="ptaddboxtext">
                <img class="icons" src={% static_url "user/res/ptadd/icon-name.png" %}> 회원명
                <span id="npSituationPresent"></span>
            </label>
            <div class="dropdown pters_input_custom">
                <input type="text" class="dropdown form-control" id="memberName_info" name="name" readonly>
            </div>
        </div>


        <div class="ptaddbox form-group">
            <label for="memberId" class="ptaddboxtext">
                <img class="icons" src={% static_url "user/res/ptadd/icon-name.png" %}> 회원 ID
            </label>
            <div class="dropdown pters_input_custom">
                <input type="text" class="dropdown form-control" id="memberId" name="id" readonly>
            </div>
        </div>

        <div class="ptaddbox form-group">
            <label for="memberBirthSex_info" class="ptaddboxtext">
                <img class="icons" src={% static_url "user/res/ptadd/icon-name.png" %}> 회원 부가정보
            </label>
            <div id="memberBirth_info">
                <!--
                <input type="text" class="dropdown form-control" id="memberBirthYear_info" name="birthyear" maxlength="4" readonly>
                <div id="memberBirthMonthSelected_info" class="dropdown">
                    <button class="btn btn-default dropdown-toggle pters_dropdown_custom input_disabled_color" type="button" data-toggle="dropdown" name="birthmonth" disabled></button>
                    <ul id="memberBirthMonth_info" class="dropdown-menu dropdownlist">
                        <li><a value="1">1월</a></li>
                        <li><a value="2">2월</a></li>
                        <li><a value="3">3월</a></li>
                        <li><a value="4">4월</a></li>
                        <li><a value="5">5월</a></li>
                        <li><a value="6">6월</a></li>
                        <li><a value="7">7월</a></li>
                        <li><a value="8">8월</a></li>
                        <li><a value="9">9월</a></li>
                        <li><a value="10">10월</a></li>
                        <li><a value="11">11월</a></li>
                        <li><a value="12">12월</a></li>
                    </ul>
                </div>
                <div id="memberBirthDateSelected_info" class="dropdown">
                    <button class="btn btn-default dropdown-toggle pters_dropdown_custom input_disabled_color" type="button" data-toggle="dropdown" name="birthdate" disabled></button>
                    <ul id="memberBirthDate_info" class="dropdown-menu dropdownlist">
                        
                    </ul>
                </div>
                --> 
                <select class="dropdown_birth dropdown_birth_info" id="birth_year_info" disabled>
                </select>
                <select class="dropdown_birth dropdown_birth_info" id="birth_month_info" disabled>
                </select>
                <select class="dropdown_birth dropdown_birth_info" id="birth_date_info" disabled>
                </select>
            </div>
            <div id="memberSex_info">
                <div id="memberMale_info" class="selectboxopt selectboxopt_left selectbox_disable" value="M">남</div>
                <div id="memberFemale_info" class="selectboxopt selectboxopt_right selectbox_disable" value="W">여</div>
            </div>
        </div>

        <div class="ptaddbox form-group">
            <label for="memberPhone_info" class="ptaddboxtext">
                <img class="icons"  style="width:13px;" src={% static_url "user/res/ptadd/icon-phone.png" %}> 연락처
            </label>
            <div class="dropdown pters_input_custom">
                <input type="tel" class="dropdown form-control" id="memberPhone_info" name="phone" required="required" readonly>
            </div>
        </div>

        <div class="ptaddbox form-group">
            <label for="memberCount_info" class="ptaddboxtext">
                <img class="icons"  style="width:13px;" src={% static_url "user/res/ptadd/icon-count.png" %}> 등록횟수
            </label>
            <div class="dropdown pters_input_custom">
                <input type="tel" class="dropdown form-control" id="memberRegCount_info" name="counts" readonly>
            </div>
        </div>


        <div class="ptaddbox form-group">
            <label for="memberCount_info" class="ptaddboxtext">
                <img class="icons"  style="width:13px;" src={% static_url "user/res/ptadd/icon-count.png" %}> 남은횟수
            </label>
            <div class="dropdown pters_input_custom">
                <input type="tel" class="dropdown form-control" id="memberCount_info" name="counts" readonly>
            </div>
        </div>
            

        <div class="ptaddbox form-group">
            <label for="memberEmail_info" class="ptaddboxtext">
                <img class="icons" src={% static_url "user/res/ptadd/icon-pencil.png" %}> E-mail
            </label>
            <div class="dropdown pters_input_custom">
                <input type="email" class="dropdown form-control" id="memberEmail_info" name="email" readonly>
            </div>
        </div>

            
        <div id="dateSelector_info" class="ptaddbox">
            <label class="ptaddboxtext"><img class="icons" src={% static_url "user/res/ptadd/icon-cal.png" %}> 시작일자</label>
            <p class="datepicktext dropdown"><input type="text" class="input_disabled_color" id="datepicker_info" name="start_date" disabled></p>
        </div>
        <div id="dateSelector2_info"  class="ptaddbox">
            <label class="ptaddboxtext"><img class="icons" src={% static_url "user/res/ptadd/icon-cal.png" %}> 종료일자</label>
            <p class="datepicktext dropdown"><input type="text" class="input_disabled_color" id="datepicker2_info" name="end_date" disabled></p>
        </div>
            
        <div class="ptaddbox form-group">
            <label for="comment_info" class="ptaddboxtext">
                <img class="icons" src={% static_url "user/res/ptadd/icon-pencil.png" %}> 특이사항
            </label>
            <div class="dropdown pters_input_custom">
                <textarea class="dropdown form-control" rows="1" id="comment_info" name="contents" readonly></textarea>
            </div>  
        </div>

        <div id="ptrepeat-btn">
            <span>PT 반복 일정 등록</span>
            <img class="icons-next-button" src={% static_url "user/res/ptadd/btn-next.png" %}>
        </div>
    </form>

    <div id="memberRegHistory_info_wrap" class="member_info_wrap ptaddbox">
            <label class="ptaddboxtext">
                <img src="/static/user/res/member/icon-count-grey.png" style="width: 12px;margin-right: 8px;">등록 이력
            </label>
            <div id="memberRegHistory_info">
                  
            </div>
    </div>
    <div id="member_history" class="history_view ptaddbox">
        <label for="memberHistory" class="ptaddboxtext">
                <img class="icons"  style="width:13px;" src={% static_url "user/res/ptadd/icon-phone.png" %}> 활동 내역
        </label>
        <div><span>history1</span></div>
        <div><span>history2</span></div>
        <div><span>history3</span></div>
    </div>
</div>




<div id="memberInfoPopup_PC" class="infopopup_pc wrap">
    <div id="inputError_info_PC" style="position: absolute;top: 0;left: 0;">
        <div id="errorMsg_info_PC" class="inputErrorInner" style="height: 22px;">
            <p style="line-height: 22px;vertical-align: middle;margin:0;"></p>
        </div>
    </div>

    <label id="memberInfoPopup_PC_label">
        <img src="/static/user/res/member/icon-female-pink.png">
        <img src="/static/user/res/member/icon-x-grey.png" id="btn_close_info_PC" class="_btn_close_info_PC" title="닫기">
    </label>

    <div id="info_shift_base" class="info_shift_wrap">
        <div id="memberId_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-user.png">아이디</label><span id="memberId_info_PC"></span>
        </div>
        <div id="memberBirth_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-birth-grey.png">생년월일</label>
            <span id="memberBirth_Year_info_PC"></span>
            <span id="memberBirth_Month_info_PC"></span>
            <span id="memberBirth_Date_info_PC"></span>
        </div>
        <div id="memberPhone_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-phone-grey.png">연락처</label><span id="memberPhone_info_PC"><span>
        </div>

        <div id="memberEmail_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-mail-grey.png">E-mail</label><span id="memberEmail_info_PC"></span>
        </div>
        <!--
        <div id="memberStart_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-cal-grey.png">시작일자</label><span id="memberStart_info_PC"></span>
        </div>
        <div id="memberEnd_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-cal-grey.png">종료일자</label><span id="memberEnd_info_PC"></span>
        </div>
        
        <div id="memberComment_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-info.png">특이사항</label><input id="memberComment_info_PC" readonly>
        </div>
        -->
    </div> 

    <div id="member_info_type_select">
        <button class="button_shift_info" id="select_info_shift_lecture">수강 정보</button>
        <button class="button_shift_info" id="select_info_shift_schedule">일정 정보</button>
    </div>

    <div id="info_shift_lecture" class="info_shift_wrap">
        <div id="memberRegCount_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-count-grey.png" style="width: 12px;margin-right: 8px;">등록횟수</label>
            <span id="memberRegCount_info_PC" readonly></span>회
        </div>
        <div id="memberRemainCount_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-count-grey.png" style="width: 12px;margin-right: 8px;">남은횟수</label>
            <span id="memberRemainCount_info_PC" readonly></span>회
        </div>

        <div id="memberAvailCount_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-count-grey.png" style="width: 12px;margin-right: 8px;">예약 가능 횟수</label>
            <span id="memberAvailCount_info_PC" readonly></span>회
        </div>
        <div id="memberFinishCount_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-count-grey.png" style="width: 12px;margin-right: 8px;">완료 횟수</label>
            <span id="memberFinishCount_info_PC" readonly></span>회
        </div>
        <div id="memberRegHistory_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-count-grey.png" style="width: 12px;margin-right: 8px;">등록 이력</label>
            <div id="memberRegHistory_info_PC">
                  
            </div>
        </div>
    </div>

    <div id="info_shift_schedule" class="info_shift_wrap">
        <div id="memberRepeat_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-count-grey.png" style="width: 12px;margin-right: 8px;">반복 일정</label>
            <div id="memberRepeat_info_PC">
                  
            </div>
        </div>

        <div id="memberLectureHistory_info_PC_wrap" class="member_info_PC_wrap">
            <label><img src="/static/user/res/member/icon-count-grey.png" style="width: 12px;margin-right: 8px;">활동 이력</label>
        </div>
    </div>


    <div class="member_info_PC_buttons_wrap popupBtn_mini">
        <button class="submitBtn _info_delete">삭제</button>
        <button class="submitBtn _info_modify" data-type="view">수정</button>
        <button class="submitBtn _btn_close_info_PC">닫기</button>
    </div>
</div>



<div id="page_addmember" class="wrap"> 

    <div id="inputError" class="errorMessage">
        <div id="errorMsg" class="inputErrorInner">
            <p style="line-height: 35px;vertical-align: middle;margin:0;"></p>
        </div>
    </div>

    <div class="ptaddbox" id="pcaddpopup">
      <span>신규 회원 추가</span><img src="/static/user/res/ptadd/btn-x.png" alt="닫기"  class="icons cancelBtn">
    </div>

    <form action="{% url 'trainer:add_member_info' %}" method="POST" class="member-form" id="member-add-form-new">
    {% csrf_token %}
        <input type="hidden" name="next_page" value="{% url 'trainer:member_manage_ajax' %}">
        <input type="hidden" name="fast_check" id="fast_check" value="0">
        <input type="hidden" name="name" id="form_name" value="">
        <input type="hidden" name="user_id" id="id_user_id">
        <input type="hidden" name="search_confirm" id="id_search_confirm" value="0">

        <div>
            <div class="ptaddbox form-group">
                <label for="memberSearch" class="ptaddboxtext">
                    <img class="icons"  style="width:13px;" src={% static_url "user/res/icon-earth.png" %}> 회원 아이디 검색
                    <!--<p class="icons_description"> <br>PTERS에 이미 가입되어있는 회원님의 정보를 가져옵니다.</p>-->
                </label>
                <div id="memberSearch" class="dropdown pters_input_custom">
                    <input class="form-control" id="memberSearch_add" name="phone" required="required" placeholder="검색할 아이디를 입력해주세요" value="">
                    <button class="memberSearchButton" id="memberSearchButton">
                    검색
                    </button>
                </div>
                <p class="icons_description"> <br>PTERS에 이미 가입되어있는 회원님의 정보를 가져옵니다.</p>
            </div>

            <div class="ptaddbox form-group">
                <label for="memberNameSex" class="ptaddboxtext">
                    <img class="icons" src={% static_url "user/res/ptadd/icon-name.png" %}> 회원명 <span style="color: #fe4e65;">*</span>
                </label>
                <div id="memberName_reg" class="dropdown pters_input_custom">
                    <input type="text" class="pters_input_namefield form-control" id="memberLastName_add" name="lastname" placeholder="성" maxlength="10">
                    <input type="text" class="pters_input_namefield form-control" id="memberFirstName_add" name="firstname" placeholder="이름" maxlength="10">
                </div>
                <div id="memberSex" class="pters_input_custom">
                    <div id="memberMale" class="selectboxopt selectboxopt_left" value="M">남</div>
                    <div id="memberFemale" class="selectboxopt selectboxopt_right" value="W">여</div>
                </div>
            </div>

            <div class="ptaddbox form-group">
                <label for="memberPhone" class="ptaddboxtext">
                    <img class="icons"  style="width:13px;" src={% static_url "user/res/ptadd/icon-phone.png" %}> 연락처 <span style="color: #fe4e65;">*</span>
                    <!--<p class="icons_description"> 회원님의 초기 접속 ID로 사용됩니다. <br>초기 비밀번호는 전화번호 마지막 네자리이며, 접속하여 ID와 비밀번호 변경이 가능합니다.</p>-->
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="tel" class="form-control" id="memberPhone_add" name="phone" required="required" placeholder="'-'를 제외하고 숫자만 입력해주세요." maxlength="11">
                </div>
                <p class="icons_description"> 회원님의 초기 접속 ID로 사용됩니다. <br>초기 비밀번호는 전화번호 마지막 네자리이며, 접속하여 ID와 비밀번호 변경이 가능합니다.</p>
            </div>

            <div class="ptaddbox form-group">
                <label for="memberBirthSex" class="ptaddboxtext">
                    <img class="icons" src={% static_url "user/res/ptadd/icon-name.png" %}> 생년월일
                </label>
                <div id="memberBirth">
                    <!--
                    <input type="text" class="dropdown form-control" id="memberBirthYear" name="birthyear" placeholder="4자리 연도입력" maxlength="4">
                    <div id="memberBirthMonthSelected" class="dropdown">
                        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown" name="birthmonth"><span style="color:#cccccc">월</span></button>
                        <ul id="memberBirthMonth" class="dropdown-menu dropdownlist">
                            <li><a value="1">1월</a></li>
                            <li><a value="2">2월</a></li>
                            <li><a value="3">3월</a></li>
                            <li><a value="4">4월</a></li>
                            <li><a value="5">5월</a></li>
                            <li><a value="6">6월</a></li>
                            <li><a value="7">7월</a></li>
                            <li><a value="8">8월</a></li>
                            <li><a value="9">9월</a></li>
                            <li><a value="10">10월</a></li>
                            <li><a value="11">11월</a></li>
                            <li><a value="12">12월</a></li>
                        </ul>
                    </div>
                    <div id="memberBirthDateSelected" class="dropdown">
                        <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown" name="birthdate"><span style="color:#cccccc">일</span></button>
                        <ul id="memberBirthDate" class="dropdown-menu dropdownlist">
                            
                        </ul>
                    </div>
                    -->
                   <select class="dropdown_birth" id="birth_year">
                   </select>
                   <select class="dropdown_birth" id="birth_month">
                   </select>
                   <select class="dropdown_birth" id="birth_date">
                   </select>
                </div>
                <!--
                <div id="memberSex">
                    <div id="memberMale" class="selectboxopt selectboxopt_left" value="M">남</div>
                    <div id="memberFemale" class="selectboxopt selectboxopt_right" value="W">여</div>
                </div>
            -->
            </div>

            <!--
            <div class="ptaddbox form-group">
                <label for="memberEmail" class="ptaddboxtext">
                    <img class="icons" src={% static_url "user/res/ptadd/icon-pencil.png" %}> E-mail  <span style="color: #fe4e65;">*</span>
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="email" class="form-control" id="memberEmail_add" name="email" placeholder="이메일 입력">
                </div>
            </div>
            -->

            <label for="" class="ptaddboxtext" style="padding-right: 5%;padding-left: 5%;">
                    <img class="icons" src={% static_url "user/res/ptadd/icon-bell.png" %}> PT등록정보 <span style="color: #fe4e65;">*</span>
            </label>
            <div id="selectBox2" class="selectbox">
                <div id="btnCallSimple" href="#" class="selectboxopt selectboxopt_left selectbox_checked">빠른 입력 방식</div>
                <div id="btnCallManual" href="#" class="selectboxopt selectboxopt_right">세부 설정 방식</div>
            </div>

            <div id="manualReg"> <!-- 세부 설정 방식 -->
                <div class="ptaddbox form-group">
                    <label for="memberCount" class="ptaddboxtext">
                        <img class="icons"  style="width:13px;" src={% static_url "user/res/ptadd/icon-count.png" %}> 등록횟수
                    </label>
                    <div class="dropdown pters_input_custom">
                        <input type="tel" class="form-control" id="memberCount_add" name="counts" placeholder="등록 횟수를 입력해주세요" maxlength="3">
                    </div>
                </div>
                <div class="ptaddbox form-group">
                    <label for="lecturePrice" class="ptaddboxtext">
                        <img class="icons" src={% static_url "user/res/ptadd/icon-card.png" %}> 결제 요금
                    </label>
                    <div class="dropdown pters_input_custom">
                        <input type="hidden" id="lecturePrice_add_value" name="price" value="0">
                        <input type="tel" class="form-control" id="lecturePrice_add" required="required" placeholder="숫자만 입력해주세요." maxlength="11">
                        <span class="inputunit">원</span>
                    </div>
                    <div class="pricebutton">
                        <div class="pricebuttonchild" id="price1">100만원</div>
                        <div class="pricebuttonchild" id="price2">50만원</div>
                        <div class="pricebuttonchild" id="price3">10만원</div>
                        <div class="pricebuttonchild" id="price4">5만원</div>
                        <div class="pricebuttonchild" id="price5">1만원</div>
                        <div class="pricebuttonchild" id="price6" style="width: 7%;color: #fe4e65;">X</div>
                    </div>
                </div>
                <div id="dateSelector" class="ptaddbox">
                    <div class="ptaddboxtext"><img class="icons" src={% static_url "user/res/ptadd/icon-cal.png" %}> 시작일자</div>
                    <p class="datepicktext dropdown"><input type="text" id="datepicker_add" name="start_date" placeholder="선택" readonly></p>
                </div>
                <div id="dateSelector2"  class="ptaddbox">
                    <div class="ptaddboxtext"><img class="icons" src={% static_url "user/res/ptadd/icon-cal.png" %}> 종료일자</div>
                    <p class="datepicktext dropdown"><input type="text" id="datepicker2_add" name="end_date" placeholder="선택"  readonly></p>
                </div>
            </div>

            <div id="simpleReg"> <!-- 빠른 입력 방식 -->
                <div class="ptaddbox form-group _count">
                    <label for="memberCount" class="ptaddboxtext">
                        <input type="hidden" id="memberCount_add_fast" name="counts_fast" >
                        <img class="icons"  style="width:13px;" src={% static_url "user/res/ptadd/icon-count.png" %}> 등록 횟수
                    </label>
                    <div>
                      <table>
                        <tbody>
                          <tr>
                            <td><div class="ptersCheckbox" data-count="10"><div></div></div></td>
                            <td class="checkboxtext">10회</td>
                            <td><div class="ptersCheckbox" data-count="20"><div></div></div></td>
                            <td class="checkboxtext" >20회</td>
                            <td><div class="ptersCheckbox" data-count="30"><div></div></div></td>
                            <td class="checkboxtext">30회</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="ptaddbox form-group">
                    <label for="lecturePrice" class="ptaddboxtext">
                        <img class="icons" src={% static_url "user/res/ptadd/icon-card.png" %}> 결제 요금
                    </label>
                    <div class="dropdown pters_input_custom">
                        <input type="hidden" id="lecturePrice_add_value_fast" name="price_fast" value="0">
                        <input type="tel" class="form-control" id="lecturePrice_add_2" required="required" placeholder="숫자만 입력해주세요." maxlength="11">
                        <span class="inputunit">원</span>
                    </div>
                    <div class="pricebutton">
                        <div class="pricebuttonchild" id="price1_2">100만원</div>
                        <div class="pricebuttonchild" id="price2_2">50만원</div>
                        <div class="pricebuttonchild" id="price3_2">10만원</div>
                        <div class="pricebuttonchild" id="price4_2">5만원</div>
                        <div class="pricebuttonchild" id="price5_2">1만원</div>
                        <div class="pricebuttonchild" id="price6_2" style="width: 7%;color: #fe4e65;">X</div>
                    </div>
                </div>
                <div class="ptaddbox form-group _due">
                    <label for="memberDue" class="ptaddboxtext">
                        <img class="icons" src={% static_url "user/res/ptadd/icon-clock.png" %}> 진행 기간
                    </label>
                    <div>
                      <table>
                        <tbody>
                          <tr>
                            <td data-check="1"><div class="ptersCheckbox"><div></div></div></td>
                            <td class="checkboxtext">1개월</td>
                            <td data-check="2"><div class="ptersCheckbox"><div></div></div></td>
                            <td class="checkboxtext">2개월</td>
                            <td data-check="3"><div class="ptersCheckbox"><div></div></div></td>
                            <td class="checkboxtext">3개월</td>
                          </tr>
                          <tr>
                            <td data-check="6"><div class="ptersCheckbox"><div></div></div></td>
                            <td class="checkboxtext">6개월</td>
                            <td data-check="12"><div class="ptersCheckbox"><div></div></div></td>
                            <td class="checkboxtext">12개월</td>
                            <td data-check="99"><div class="ptersCheckbox"><div></div></div></td>
                            <td class="checkboxtext">소진시까지</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                <div id="dateSelector3" class="ptaddbox">
                    <div class="ptaddboxtext"><img class="icons" src={% static_url "user/res/ptadd/icon-cal.png" %}> 시작일자</div>
                    <p class="datepicktext dropdown"><input type="text" id="datepicker_fast" name="start_date_fast" placeholder="선택" readonly></p>
                </div>
                <div class="ptaddbox form-group">
                    <label for="memberDue" class="ptaddboxtext">
                        <img class="icons"  style="width:13px;" src={% static_url "user/res/ptadd/icon-cal.png" %}> 종료 일자
                    </label>
                    <div class="dropdown pters_input_custom">
                        <input type="hidden" id="memberDue_add_2_fast" name="end_date_fast">
                        <input type="tel" class="form-control" id="memberDue_add_2"  placeholder="자동 입력" maxlength="3" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="ptaddbox form-group">
            <label for="comment" class="ptaddboxtext">
                <img class="icons" src={% static_url "user/res/ptadd/icon-pencil.png" %}> 특이사항
            </label>
            <div class="dropdown pters_input_custom">
                <textarea class="form-control" rows="1" id="comment" name="contents" ></textarea>
            </div>  
        </div>

        <div id="ptrepeat-btn">
            <span>PT 반복 일정 등록</span>
            <img class="icons-next-button" src={% static_url "user/res/ptadd/btn-next.png" %}>
        </div>
        <div id="pcBtn" style="text-align: center;">
            <div class="submitBtn">
                <span class="btnok">등록</span>
            </div>
        </div>
    </form>
</div>

{% endblock %}



{% block local_js_footer %}
         <script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.manage.member.js" %}></script>
         <script>
          $('#uptext').text("회원 관리")
          $('footer').hide()

          var dIdArray =[{% for member_info in member_data %}'{{ member_info.user.id }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var idArray =[{% for member_info in member_data %}'{{ member_info.user }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var emailArray = [{% for member_info in member_data %}'{{ member_info.user.email }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var nameArray =[{% for member_info in member_data %}'{{ member_info.name }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var phoneArray = [{% for member_info in member_data %}'{{ member_info.phone }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var birthdayArray = [{% for member_info in member_data %}'{{ member_info.birthday_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var sexArray = [{% for member_info in member_data %}'{{ member_info.sex }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var contentsArray = [{% for member_info in member_data %}'{{ member_info.contents }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var emailActiveArray = [{% for member_info in member_data %}'{{ member_info.user.is_active }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var lectureCountsArray = [{% for member_info in member_data %}'{{ member_info.lecture_counts }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var npLectureCountsArray = [{% for member_info in member_data %}'{{ member_info.np_lecture_counts }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var rjLectureCountsArray = [{% for member_info in member_data %}'{{ member_info.rj_lecture_counts }}'{%if forloop.last == False%},{% endif %}{% endfor %}];

          var countArray = [{% for member_info in member_data %} '{{ member_info.lecture_rem_count }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var startArray = [{% for member_info in member_data %} '{{ member_info.start_date }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var endArray = [{% for member_info in member_data %} '{{ member_info.end_date }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var modifyDateArray = [{% for member_info in member_data %} '{{ member_info.mod_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var regCountArray = [{% for member_info in member_data %} '{{ member_info.lecture_reg_count }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var availCountArray = [{% for member_info in member_data %} '{{ member_info.lecture_avail_count }}'{%if forloop.last == False%},{% endif %}{% endfor %}];

          var yetCountArray = [{% for member_info in member_data %} '{{ member_info.lecture_rem_count_yet}}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var yetRegCountArray = [{% for member_info in member_data %} '{{ member_info.lecture_reg_count_yet }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var yetAvailCountArray = [{% for member_info in member_data %} '{{ member_info.lecture_avail_count_yet }}'{%if forloop.last == False%},{% endif %}{% endfor %}];

          var finishDidArray =[{% for member_finish_info in member_finish_data %}'{{ member_finish_info.user.id }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishIdArray =[{% for member_finish_info in member_finish_data %}'{{ member_finish_info.user }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishemailArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.user.email }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishnameArray =[{% for member_finish_info in member_finish_data %}'{{ member_finish_info.name }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishphoneArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.phone }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishbirthdayArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.birthday_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishsexArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.sex }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishContentsArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.contents }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishEmailActiveArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.user.is_active }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishLectureCountsArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.lecture_counts }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishNpLectureCountsArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.np_lecture_counts }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishRjLectureCountsArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.rj_lecture_counts }}'{%if forloop.last == False%},{% endif %}{% endfor %}];

          var finishcountArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.lecture_rem_count }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishstartArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.start_date }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishmodifyDateArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.mod_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishendArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.end_date }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishRegCountArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.lecture_reg_count }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishAvailCountArray = [{% for member_finish_info in member_finish_data %}'{{ member_finish_info.lecture_avail_count }}'{%if forloop.last == False%},{% endif %}{% endfor %}];

          var finishYetCountArray = [{% for member_finish_info in member_finish_data %} '{{ member_finish_info.lecture_rem_count_yet}}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishYetRegCountArray = [{% for member_finish_info in member_finish_data %} '{{ member_finish_info.lecture_reg_count_yet }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
          var finishYetAvailCountArray = [{% for member_finish_info in member_finish_data %} '{{ member_finish_info.lecture_avail_count_yet }}'{%if forloop.last == False%},{% endif %}{% endfor %}];

          var messageArray = [{% for message in messages %}'{{ message }}'{%if forloop.last == False%},{% endif %}{% endfor %}]


          var DB = {};
          var DBe = {};

          var deleteTypeSelect;
         </script>


{% endblock %}