{% extends "trainer_base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/pters.manage.member.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.mini.cal.css" %}>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
{% endblock %}



{% block content %}

 <!--플로팅 버튼-->
    <div id="float_btn" onclick="location.href='{% url 'trainer:member_add' %}'">
      <img src={% static "user/res/memberadd/float_plus_member.png" %} alt="">
    </div>


    <div id="shade">
    </div>
  <!--플로팅 버튼-->

<div id="selectBox" class="btn-group btn-group-justified">
  <div id="btnCallCurrent" href="#" class="btn btn-primary active">진행 중 회원</div>
  <div id="btnCallFinished" href="#" class="btn btn-primary">종료된 회원</div>
</div> 
<div id="alignBox">
  <div style="font-size:14px;position: relative;">
    회원 정렬 기준 <span id="currentMemberNum" class="memberNum"></span><span id="finishMemberNum" class="memberNum"></span>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" id="menu1" data-toggle="dropdown">기준 선택</button>
    <img src="/static/user/res/memberadd/icon-down.png" alt="" class="icondown">
    <ul class="dropdown-menu pters_dropdown_custom" role="menu" aria-labelledby="menu1">
      <!-- 회원명 DB연동 필요-->
      <li role="presentation" id="countH"><a href="#" role="menuitem" tabindex="-1">남은 횟수 많은 순</a></li>
      <li role="presentation" id="countL"><a href="#" role="menuitem" tabindex="-1">남은 횟수 적은 순</a></li>
      <li role="presentation" id="startP"><a href="#" role="menuitem" tabindex="-1">시작 일자 과거 순</a></li>
      <li role="presentation" id="startR"><a href="#" role="menuitem" tabindex="-1">시작 일자 최근 순</a></li>
      <li role="presentation" id="recent"><a href="#" role="menuitem" tabindex="-1">수정 일자 최근 순</a></li>
      <li role="presentation" id="name"><a href="#" role="menuitem" tabindex="-1">회원명 가나다 순</a></li>
    </ul>
  </div>
</div>


<div id="currentMemberList" class="container">
  <table id="currentMember" class="table table-bordered">
    <thead>
      <tr>
        <th>회원명</th>
        <th>남은 횟수</th>
        <th>시작 일자</th>
        <th>연락처</th>
      </tr>
    </thead>
  </table>
</div>


<div id="finishedMemberList" class="container">
  <table id="finishedMember" class="table table-bordered">
    <thead>
      <tr>
        <th>회원명</th>
        <th>남은 횟수</th>
        <th>시작 일자</th>
        <th>연락처</th>
      </tr>
    </thead>
  </table>
</div> 


<div id="memberInfoPopup" class="infopopup">
  <div>
    <button id="infoClose" style="display:inline-block;">닫기</button>
    <button id="infoEdit" style="display:inline-block;">수정</button>
  </div>
  <form action="/trainer/member_registration/" method="POST" class="member-form" id="member-add-form">
        <div>
            <div class="ptaddbox form-group">
                <label for="memberEmail" class="ptaddboxtext">
                    <img class="icons" src={% static "user/res/ptadd/icon-pencil.png" %}> E-mail(아이디)
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="email" class="dropdown form-control" id="memberEmail" name="email" placeholder="이메일의 @앞부분은 아이디로 사용됩니다." readonly>
                </div>
            </div>
            <div class="ptaddbox form-group">
                <label for="memberName" class="ptaddboxtext">
                    <img class="icons" src={% static "user/res/ptadd/icon-name.png" %}> 회원명
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="text" class="dropdown form-control" id="memberName" name="name" placeholder="회원분의 성함을 입력해주세요." readonly>
                </div>
            </div>
            <div class="ptaddbox form-group">
                <label for="memberPhone" class="ptaddboxtext">
                    <img class="icons"  style="width:13px;" src={% static "user/res/ptadd/icon-phone.png" %}> 연락처
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="tel" class="dropdown form-control" id="memberPhone" name="phone" required="required" placeholder="'-'를 제외하고 숫자만 입력해주세요." readonly>
                </div>
            </div>
            <div class="ptaddbox form-group">
                <label for="memberCount" class="ptaddboxtext">
                    <img class="icons"  style="width:13px;" src={% static "user/res/ptadd/icon-count.png" %}> 남은횟수
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="tel" class="dropdown form-control" id="memberCount" name="counts" placeholder="등록 횟수를 입력해주세요" readonly>
                </div>
            </div>
        </div>

        <div id="dateSelector" class="ptaddbox">
            <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-cal.png" %}> 시작일자</div>
            <p class="datepicktext dropdown"><input type="text" id="datepicker" name="start_date" placeholder="-" readonly></p>
        </div>
        <div id="dateSelector2"  class="ptaddbox">
            <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-cal.png" %}> 종료일자</div>
            <p class="datepicktext dropdown"><input type="text" id="datepicker2" name="end_date" placeholder="-"  readonly></p>
        </div>

        <div class="ptaddbox form-group">
            <label for="comment" class="ptaddboxtext">
                <img class="icons" src={% static "user/res/ptadd/icon-pencil.png" %}> 특이사항
            </label>
            <div class="dropdown pters_input_custom">
                <textarea class="dropdown form-control" rows="1" id="comment" name="contents"></textarea>    
            </div>  
        </div>

        <div id="ptrepeat-btn">
            <span>PT 반복 일정 등록</span>
            <img class="icons-next-button" src={% static "user/res/ptadd/btn-next.png" %}>
        </div>
        
        <div style="text-align: center;">
            <button id="memberDelete">
              회원 삭제
            </button>
        </div>
    </form>
  
</div>


{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
         <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <script type="text/javascript" src={% static "user/js/pters.manage.member.js" %}></script>
         <script>
          $('#uptext').text("회원 관리")
           
          var nameArray =[{% for lecture in trainer_member %}{% if lecture.lecture_count > 0 %}'{{ lecture.trainer_member.name }}',{% endif %}{% endfor %}]
          var phoneArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count > 0 %}'{{ lecture.trainer_member.phone }}',{% endif %}{% endfor %}]
          var countArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count > 0 %}'{{ lecture.lecture_count }}',{% endif %}{% endfor %}]
          var startArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count > 0 %}'{{ lecture.start_date }}',{% endif %}{% endfor %}]
          var modifyDateArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count > 0 %}'{{ lecture.trainer_member.mod_dt }}',{% endif %}{% endfor %}]
          var emailArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count > 0 %}'{{ lecture.trainer_member.user.email }}',{% endif %}{% endfor %}]
          var endArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count > 0 %}'{{ lecture.end_date }}',{% endif %}{% endfor %}]

          var finishnameArray =[{% for lecture in trainer_member %}{% if lecture.lecture_count == 0 %}'{{ lecture.trainer_member.name }}',{% endif %}{% endfor %}]
          var finishphoneArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count == 0 %}'{{ lecture.trainer_member.phone }}',{% endif %}{% endfor %}]
          var finishcountArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count == 0 %}'{{ lecture.lecture_count }}',{% endif %}{% endfor %}]
          var finishstartArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count == 0 %}'{{ lecture.start_date }}',{% endif %}{% endfor %}]
          var finishmodifyDateArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count == 0 %}'{{ lecture.trainer_member.mod_dt }}',{% endif %}{% endfor %}]
          var finishemailArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count == 0 %}'{{ lecture.trainer_member.user.email }}',{% endif %}{% endfor %}]
          var finishendArray = [{% for lecture in trainer_member %}{% if lecture.lecture_count == 0 %}'{{ lecture.end_date }}',{% endif %}{% endfor %}]
         


          var DB = {};
          var DBe = {};
          var DBlength = nameArray.length;
          for(var i=0; i<DBlength;i++){
            DB[nameArray[i]] = {'email':emailArray[i],'count':countArray[i],'phone':phoneArray[i],'start':startArray[i],'end':endArray[i]};
          }
          var DBendlength = finishnameArray.length;
          for(var j=0; j<DBendlength;j++){
            DBe[finishnameArray[j]] = {'email':finishemailArray[j],'count':finishcountArray[j],'phone':finishphoneArray[j],'start':finishstartArray[j],'end':finishendArray[j]}; 
          }

          $('#currentMemberNum').text("진행중 회원수 : "+DBlength)
          $('#finishMemberNum').text("종료된 회원수 : "+DBendlength)

         </script>

        




{% endblock %}