
{% load static_url %}

{% block local_css %}
    <meta name="description" content="member">
    <style>
        div.mem_page{
            font-size: 18px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="mem_page">
        회원 페이지 <br> 회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>
    </div>
    <div class="mem_page">
        회원 페이지 <br> 회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>
    </div>
    <div class="mem_page">
        회원 페이지 <br> 회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>
    </div>
    <div class="mem_page">
        회원 페이지 <br> 회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>
    </div>
    <div class="mem_page">
        회원 페이지 <br> 회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>
    </div>
    <div class="mem_page">
        회원 페이지 <br> 회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>회원 페이지 <br>
    </div>
{% endblock %}


{% block local_js_footer %}
    <script>
        $('div.mem_page').css({'background-color':'white', 'color':'#fe4e65'});
    </script>
{% endblock %}