{% extends "base.html" %}
{% load static %}

{% block local_css %}
    <link rel="stylesheet" href={% static "user/css/pters.add.member.css" %}>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}



{% block content %}
    {% if messages %}
            <div id="messages">
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
    {% endif %}
    <form action="/trainer/member_registration/" method="POST" class="member-form">
        <div>
            <div class="form-group">
                <label for="memberEmail">E-mail</label>
                <input type="text" class="form-control" id="memberEmail" name="email">
            </div>
            <div class="form-group">
                <label for="memberName">이름</label>
                <input type="text" class="form-control" id="memberName" name="name">
            </div>
            <div class="form-group">
                <label for="memberPhone">연락처</label>
                <input type="text" class="form-control" id="memberPhone" name="phone">
            </div>
            <div class="form-group">
                <label for="memberCount">남은횟수</label>
                <input type="text" class="form-control" id="memberCount" name="counts">
            </div>
        </div>

        <div id="dateSelector">
            <div></div>
            <p>시작일자 <input type="text" id="datepicker" name="start_date"></p>
        </div>
        <div id="dateSelector2">
            <div></div>
            <p>종료일자 <input type="text" id="datepicker2" name="end_date"></p>
        </div>

        <div class="form-group">
              <label for="comment">특이사항</label>
              <textarea class="form-control" rows="5" id="comment" name="contents"></textarea>
        </div>

        <div>
            <div>최근 수정 : <span>2017-08-06 00:00</span></div>
            <div>최초 등록 : <span>2017-05-08 00:00</span></div>
        </div>
        <div>
            <button type="submit" class="form-control btn btn-primary">등록</button>
        </div>
    </form>
    <hr>

    <button type="button" class="btn btn-info" onclick="location.href='{% url 'trainer:add_repeat_off' %}'">OFF 반복 일정 등록</button>

    <hr>

    <div id="repeatSchedule">
    <div>반복 일정</div>
    <div>
        <p style="margin-bottom: 0px;">매주 월요일 오전 11시</p>
        <p>반복종료 : PT 마감시</p>
    </div>
    <div>
        <p style="margin-bottom: 0px;">매주 수요일 오후 3시</p>
        <p>반복종료 : 2017-12-31</p>
    </div>


{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src={% static "user/js/pters.add.member.js" %}></script>






{% endblock %}