{% extends "base_add_member.html" %}
{% load static %}

{% block local_css %}
    <link rel="stylesheet" href={% static "user/css/pters.mini.cal.css" %}>
    <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}



{% block content %}
    {% if messages %}
            <div id="messages">
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
    {% endif %}
    <form action="/trainer/member_registration/" method="POST" class="member-form">
        <div>
            <div class="ptaddbox">
                <label for="memberEmail" class="ptaddboxtext">
                    <img class="icons" src={% static "user/res/ptadd/icon-pencil.png" %}> E-mail(아이디)
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="email" class="dropdown" id="memberEmail" name="email">
                </div>
            </div>
            <div class="ptaddbox">
                <label for="memberName" class="ptaddboxtext">
                    <img class="icons" src={% static "user/res/ptadd/icon-name.png" %}> 회원명
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="text" class="dropdown" id="memberName" name="name">
                </div>
            </div>
            <div class="ptaddbox">
                <label for="memberPhone" class="ptaddboxtext">
                    <img class="icons"  style="width:13px;" src={% static "user/res/ptadd/icon-phone.png" %}> 연락처
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="number" class="dropdown" id="memberPhone" name="phone">
                </div>
            </div>
            <div class="ptaddbox">
                <label for="memberCount" class="ptaddboxtext">
                    <img class="icons"  style="width:13px;" src={% static "user/res/ptadd/icon-count.png" %}> 남은횟수
                </label>
                <div class="dropdown pters_input_custom">
                    <input type="number" class="dropdown" id="memberCount" name="counts">
                </div>
            </div>
        </div>

        <div id="dateSelector" class="ptaddbox">
            <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-cal.png" %}> 시작일자</div>
            <p class="datepicktext dropdown"><input type="text" id="datepicker" name="start_date" readonly></p>
        </div>
        <div id="dateSelector2"  class="ptaddbox">
            <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-cal.png" %}> 종료일자</div>
            <p class="datepicktext dropdown"><input type="text" id="datepicker2" name="end_date"  readonly></p>
        </div>

        <div class="ptaddbox">
            <label for="comment" class="ptaddboxtext">
                <img class="icons" src={% static "user/res/ptadd/icon-pencil.png" %}> 특이사항
            </label>
            <div class="dropdown pters_input_custom">
                <textarea class="dropdown" rows="1" id="comment" name="contents"></textarea>    
            </div>  
        </div>

        <div id="ptrepeat-btn">
            <span>PT 반복 일정 등록</span>
            <img class="icons-next-button" src={% static "user/res/ptadd/btn-next.png" %}>
        </div>


    </form>


{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src={% static "user/js/pters.member.add.js" %}></script>






{% endblock %}