    {
      "memberIdArray":
      [{% for member_info in member_data %}"{{ member_info.user.id  }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberNameArray":
      [{% for member_info in member_data %}"{{ member_info.name  }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberAvailCountArray":
      [{% for member_info in member_data %}"{{ member_info.lecture_avail_count_total }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberLectureIdArray":
      [{% for member_info in member_data %}"{{ member_info.lecture_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}],

      "ptRepeatScheduleIdArray" :
      [{% for pt_repeat_schedule_id_info in pt_repeat_schedule_id_data %}"{{ pt_repeat_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleTypeArray" :
      [{% for pt_repeat_schedule_type_info in pt_repeat_schedule_type_data %}"{{ pt_repeat_schedule_type_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleWeekInfoArray" :
      [{% for pt_repeat_schedule_week_info_info in pt_repeat_schedule_week_info_data %}"{{ pt_repeat_schedule_week_info_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleStartDateArray" :
      [{% for pt_repeat_schedule_start_date_info in pt_repeat_schedule_start_date_data %}"{{ pt_repeat_schedule_start_date_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleEndDateArray" :
      [{% for pt_repeat_schedule_end_date_info in pt_repeat_schedule_end_date_data %}"{{ pt_repeat_schedule_end_date_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleStartTimeArray" :
      [{% for pt_repeat_schedule_start_time_info in pt_repeat_schedule_start_time_data %}"{{ pt_repeat_schedule_start_time_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleTimeDurationArray" :
      [{% for pt_repeat_schedule_time_duration_info in pt_repeat_schedule_time_duration_data %}"{{ pt_repeat_schedule_time_duration_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}]

    }
