    {
      "messageArray" :
      [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "ptScheduleIdArray" :
      [{% for pt_schedule_id_info in pt_schedule_id %}"{{ pt_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleLectureIdArray" :
      [{% for pt_schedule_lecture_id_info in pt_schedule_lecture_id %}"{{ pt_schedule_lecture_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleStartDtArray" :
      [{% for pt_schedule_start_datetime_info in pt_schedule_start_datetime %}"{{ pt_schedule_start_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleEndDtArray" :
      [{% for pt_schedule_end_datetime_info in pt_schedule_end_datetime %}"{{ pt_schedule_end_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleStateCdArray" :
      [{% for pt_schedule_state_cd_info in pt_schedule_state_cd %}"{{ pt_schedule_state_cd_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleNoteArray" :
      [{% for pt_schedule_note_info in pt_schedule_note %}"{{ pt_schedule_note_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleIdxArray" :
      [{% for pt_schedule_idx_info in pt_schedule_idx %}"{{ pt_schedule_idx_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleRegDtArray" :
      [{% for pt_schedule_reg_datetime_info in pt_schedule_reg_datetime %}"{{ pt_schedule_reg_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptScheduleModDtArray" :
      [{% for pt_schedule_mod_datetime_info in pt_schedule_mod_datetime %}"{{ pt_schedule_mod_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}]

    }
