    {
      "messageArray" :
      [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "offScheduleIdArray" :
      [{% for off_schedule_id_info in off_schedule_id %}"{{ off_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offTimeArray_start_date" :
      [{% for off_schedule_start_datetime_info in off_schedule_start_datetime %}"{{ off_schedule_start_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offTimeArray_end_date" :
      [{% for off_schedule_end_datetime_info in off_schedule_end_datetime %}"{{ off_schedule_end_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offScheduleNoteArray":
      [{% for off_schedule_note_info in off_schedule_note %}"{{ off_schedule_note_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}]

    }
