{% extends "base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/pters.off.add.css" %}>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
{% endblock %}



{% block content %}

<div id="dateSelector">
  <div>날짜</div>
  <p>Date: <input type="text" id="datepicker"></p>
</div>
  
<hr>

<div id="classTime">
  <div>진행 시간</div>
  <div>
    <div class="radio">
      <label><input type="radio" name="optradio">1시간</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">2시간</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">3시간</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">4시간</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">5시간</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">6시간</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" disabled>하루종일(불가)</label>
    </div>
  </div>
</div>

<hr>

<div id="classStartTime">
  <div>시작 시각</div>
  <div>
    <div class="radio">
      <label><input type="radio" name="optradio1">오전 9시</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio1">오후 12시</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio1">오후 7시</label>
    </div>
  </div>

<hr>

<button type="button" class="btn btn-info" onclick="location.href='{% url 'trainer:add_repeat_off' %}'">OFF 반복 일정 등록</button>

<hr>

<div id="repeatSchedule">
  <div>반복 일정</div>
  <div>
    <p>매주 월요일 오전 11시</p>
    <p>반복종료 : PT 마감시</p>
  </div>
  <div>
    <p>매주 수요일 오후 3시</p>
    <p>반복종료 : 2017-12-31</p>
  </div>

</div>

</div>


    


{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
         <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <script type="text/javascript" src={% static "user/js/pters.off.add.js" %}></script>

        




{% endblock %}