{% extends "trainer_base_add_off.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/pters.mini.cal.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.off.add.css" %}>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
{% endblock %}



{% block content %}

<form action="{% url 'trainer:add_off_logic' %}" id="off-add-form" method="post">
    <input type="hidden" name="training_date" id="id_training_date">
    <input type="hidden" name="time_duration" id="id_time_duration">
    <input type="hidden" name="training_time" id="id_training_time">
    <input type="hidden" name="next_page">
</form>

<div id="dateSelector" class="ptaddbox">
  <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-cal.png" %}> 날짜</div>
  <p class="datepicktext dropdown"><input type="text" id="datepicker" placeholder="-" readonly></p>  
</div>

<div id="timeGraph" class="ptaddbox" style="display: none;">
  <table class="timegraphtext">
    <tbody>
      <tr>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
      </tr>
      <tr>
        <td id="5g" class="tdgraph"></td>
        <td id="6g" class="tdgraph"></td>
        <td id="7g" class="tdgraph"></td>
        <td id="8g" class="tdgraph"></td>
        <td id="9g" class="tdgraph"></td>
        <td id="10g" class="tdgraph"></td>
        <td id="11g" class="tdgraph"></td>
        <td id="12g" class="tdgraph"></td>
        <td id="13g" class="tdgraph"></td>
        <td id="14g" class="tdgraph"></td>
        <td id="15g" class="tdgraph"></td>
        <td id="16g" class="tdgraph"></td>
        <td id="17g" class="tdgraph"></td>
        <td id="18g" class="tdgraph"></td>
        <td id="19g" class="tdgraph"></td>
        <td id="20g" class="tdgraph"></td>
        <td id="21g" class="tdgraph"></td>
        <td id="22g" class="tdgraph"></td>
        <td id="23g" class="tdgraph"></td>
        <td id="24g" class="tdgraph"></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="offStartTime" class="ptaddbox">
  <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-start.png" %}> 시작 시간</div>
  <div id="starttimesSelected" class="dropdown">
    <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
    <ul id="starttimes" class="dropdown-menu pters_dropdown_custom">

    </ul>
  </div>
</div>

<div id="offDuration" class="ptaddbox">
  <div class="ptaddboxtext"><img class="icons" src={% static "user/res/ptadd/icon-clock.png" %}> 진행 시간</div>
  <div id="durationsSelected" class="dropdown">
    <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
    <ul id="durations" class="dropdown-menu pters_dropdown_custom">
      <!-- 회원명 DB연동 필요-->
      <!--<li><a data-dur="1">1시간</a></li>-->
      <!--<li><a data-dur="2">2시간</a></li>-->
      <!--<li><a data-dur="2">3시간</a></li>
      <li><a data-dur="2">4시간</a></li>
      <li><a data-dur="2">5시간</a></li>
      <li><a data-dur="2">6시간</a></li>
      <li><a data-dur="2">하루종일(불가)</a></li>-->
    </ul>
  </div>
</div>




<div id="repeatSchedule" class="ptaddbox repeatbox">
  <div id="repeatScheduleText" class="ptaddboxtext repeattext">
    <img src={% static "user/res/ptadd/icon-repeat-cal.png" %} class="icons">
     <span onclick="location.href='{% url 'trainer:add_repeat_off' %}'">반복일정</span>
     <img class="icons-next-button" src={% static "user/res/ptadd/btn-next-white.png" %}>
   </div>
  
  <!--반복일정 박스-->
  <div class="repeatboxinner">
    <span class="repeatstarttext">매주 월요일 오전 11시</span><span class="repeatfinishtext">반복종료 : PT 마감시</span>
  </div>
  
  <!--반복일정 박스-->
  <div class="repeatboxinner">
    <span class="repeatstarttext">매주 수요일 오후 3시</span><span class="repeatfinishtext">반복종료 : 2017-12-31</span>
  </div>

</div>

</div>


    


{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
         <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <script>
             var offTimeArray_start_date = [{% for daily_off_start_date in daily_off_data_start_date %}'{{ daily_off_start_date }}',{% endfor %}]
             var offTimeArray_end_date = [{% for daily_off_end_date in daily_off_data_end_date %}'{{ daily_off_end_date }}',{% endfor %}]
             var classTimeArray_start_date = [{% for daily_data_start_date in daily_lecture_data_start_date %}'{{ daily_data_start_date }}',{% endfor %}];
             var classTimeArray_end_date = [{% for daily_data_end_date in daily_lecture_data_end_date %}'{{ daily_data_end_date }}',{% endfor %}];
         </script>
         <script type="text/javascript" src={% static "user/js/pters.off.add.js" %}></script>

        
{% endblock %}