{% extends "base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/pters.pt.add.css" %}>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}



{% block content %}

<div id="memberName" class="ptaddbox">
  <div class="ptaddboxtext">회원명</div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">회원명 선택<span class="caret"></span></button>
    <ul class="dropdown-menu pters_dropdown_custom">
      <!-- 회원명 DB연동 필요-->
      <li><a href="#">김종국</a></li>
      <li><a href="#">유재석</a></li>
      <li><a href="#">하하</a></li>
    </ul>
  </div>
</div>


<div id="remainCount" class="ptaddbox">
  <div class="ptaddboxtext">남은 횟수</div>
  <!-- 남은 횟수 DB연동 필요 -->
  <div></div>
</div>


<div id="dateSelector" class="ptaddbox">
  <div class="ptaddboxtext">날짜</div>
  <p class="datepicktext"><input type="text" id="datepicker"></p>  
</div>


<div id="classTime" class="ptaddbox">
  <div class="ptaddboxtext">진행 시간</div>
  <div>
    <div class="radio">
      <label id="onehour"><input type="radio" name="classtime" value="1">1시간</label>
    </div>
    <div class="radio">
      <label id="twohour"><input type="radio" name="classtime" value="2">2시간</label>
    </div>
    <div class="radio">
      <label id="threehour"><input type="radio" name="classtime" value="3">3시간</label>
    </div>
  </div>
</div> <!--id addPlanModal-->


<div id="classStartTime" class="ptaddbox">
  <div class="ptaddboxtext">시작 시각</div>
  <div id="startTimeSelect">
      <div class="radio">
      <label><input type="radio" name="classstarttime" value="5_00">오전 5시</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="classstarttime" value="9_00">오전 9시</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="classstarttime" value="16_00">오후 4시</label>
    </div>
  </div>
</div>

    


{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src={% static "user/js/pters.pt.add.js" %}></script>
        
{% endblock %}