    {
      "memberIdArray":
      [{% for member_info in member_data %}"{{ member_info.user.id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberUserIdArray":
      [{% for member_info in member_data %}"{{ member_info.user }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberNameArray":
      [{% for member_info in member_data %}"{{ member_info.name  }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberAvailCountArray":
      [{% for member_info in member_data %}"{{ member_info.lecture_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberLectureIdArray":
      [{% for member_info in member_data %}"{{ member_info.lecture_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "offScheduleIdArray" :
      [{% for off_schedule_id_info in off_schedule_id %}"{{ off_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offTimeArray_start_date" :
      [{% for off_schedule_start_datetime_info in off_schedule_start_datetime %}"{{ off_schedule_start_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offTimeArray_end_date" :
      [{% for off_schedule_end_datetime_info in off_schedule_end_datetime %}"{{ off_schedule_end_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offScheduleNoteArray":
      [{% for off_schedule_note_info in off_schedule_note %}"{{ off_schedule_note_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "scheduleIdArray" :
      [{% for pt_schedule_id_info in pt_schedule_id %}"{{ pt_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classArray_lecture_id" :
      [{% for pt_schedule_lecture_id_info in pt_schedule_lecture_id %}"{{ pt_schedule_lecture_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_member_name" :
      [{% for pt_schedule_member_name_info in pt_schedule_member_name %}"{{ pt_schedule_member_name_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_member_id" :
      [{% for pt_schedule_member_id_info in pt_schedule_member_id %}"{{ pt_schedule_member_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_start_date" : 
      [{% for pt_schedule_start_datetime_info in pt_schedule_start_datetime %}"{{ pt_schedule_start_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_end_date" : 
      [{% for pt_schedule_end_datetime_info in pt_schedule_end_datetime %}"{{ pt_schedule_end_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleFinishArray":
      [{% for pt_schedule_finish_check_info in pt_schedule_finish_check %}"{{ pt_schedule_finish_check_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleNoteArray":
      [{% for pt_schedule_note_info in pt_schedule_note %}"{{ pt_schedule_note_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}],
      "RepeatDuplicationDateArray" :
      [{% for message in messages %}"{% if message.tags == "info" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "repeatArray" :
      ["{{ request.session.repeat_schedule_id }}"],
      "repeatScheduleCounterArray" :
      ["{{ request.session.repeat_schedule_input_counter }}"],

      "offRepeatScheduleIdArray" :
      [{% for off_repeat_schedule_id_info in off_repeat_schedule_id_data %}"{{ off_repeat_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offRepeatScheduleTypeArray" :
      [{% for off_repeat_schedule_type_info in off_repeat_schedule_type_data %}"{{ off_repeat_schedule_type_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offRepeatScheduleWeekInfoArray" :
      [{% for off_repeat_schedule_week_info_info in off_repeat_schedule_week_info_data %}"{{ off_repeat_schedule_week_info_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offRepeatScheduleStartDateArray" :
      [{% for off_repeat_schedule_start_date_info in off_repeat_schedule_start_date_data %}"{{ off_repeat_schedule_start_date_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offRepeatScheduleEndDateArray" :
      [{% for off_repeat_schedule_end_date_info in off_repeat_schedule_end_date_data %}"{{ off_repeat_schedule_end_date_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offRepeatScheduleStartTimeArray" :
      [{% for off_repeat_schedule_start_time_info in off_repeat_schedule_start_time_data %}"{{ off_repeat_schedule_start_time_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offRepeatScheduleTimeDurationArray" :
      [{% for off_repeat_schedule_time_duration_info in off_repeat_schedule_time_duration_data %}"{{ off_repeat_schedule_time_duration_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "ptRepeatScheduleIdArray" :
      [{% for pt_repeat_schedule_id_info in pt_repeat_schedule_id_data %}"{{ pt_repeat_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleTypeArray" :
      [{% for pt_repeat_schedule_type_info in pt_repeat_schedule_type_data %}"{{ pt_repeat_schedule_type_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleWeekInfoArray" :
      [{% for pt_repeat_schedule_week_info_info in pt_repeat_schedule_week_info_data %}"{{ pt_repeat_schedule_week_info_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleStartDateArray" :
      [{% for pt_repeat_schedule_start_date_info in pt_repeat_schedule_start_date_data %}"{{ pt_repeat_schedule_start_date_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleEndDateArray" :
      [{% for pt_repeat_schedule_end_date_info in pt_repeat_schedule_end_date_data %}"{{ pt_repeat_schedule_end_date_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleStartTimeArray" :
      [{% for pt_repeat_schedule_start_time_info in pt_repeat_schedule_start_time_data %}"{{ pt_repeat_schedule_start_time_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleTimeDurationArray" :
      [{% for pt_repeat_schedule_time_duration_info in pt_repeat_schedule_time_duration_data %}"{{ pt_repeat_schedule_time_duration_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleStateCdArray" :
      [{% for pt_repeat_schedule_state_cd_info in pt_repeat_schedule_state_cd %}"{{ pt_repeat_schedule_state_cd_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "ptRepeatScheduleStateCdNameArray" :
      [{% for pt_repeat_schedule_state_cd_nm_info in pt_repeat_schedule_state_cd_nm %}"{{ pt_repeat_schedule_state_cd_nm_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "push_server_id" :
      ["{{ push_server_id }}"],
      "pushArray" :
      [{% for push_info in push_data %}"{{ push_info.token }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "badgeCounterArray" :
      [{% for push_info in push_data %}"{{ push_info.badge_counter }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "push_info" :
      ["{{ request.session.push_info }}"]
    }
