{% extends "trainer_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.mypage.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
    <style type="text/css">
        .fixfooter{
            position: relative;
        }
        @media(min-width:600px){
            .fixfooter{
                position: relative;
            }
            .bottomfooter3 span{
                color: #282828;
            }
        }
        
    </style>
{% endblock %}

{% block content %}

    <div id="ymdText">
        <div id="ymdTextWrap">
            <div id="menuName">마이페이지
            </div>
            <div id="menuDescription">나의 정보를 확인할 수 있습니다.
            </div>
        </div>
    </div>


    <div id="summary_wrap">
        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>내 정보 개요</span>
        </div>

        <div id="regCountBoardWrap" class="boardWrap">
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">총 회원</p>
                <p class="countBoard_explain">현재까지 관리한 총 회원수</p>
                <p><span>{{total_member_num}} </span>명</p>
            </div>
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">현재 회원</p>
                <p class="countBoard_explain">현재 진행중인 회원수</p>
                <p><span>{{current_total_member_num}}</span>명</p>
            </div>
        </div>

        <div id="countBoardWrap" class="boardWrap">
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">총 완료</p>
                <p class="countBoard_explain">현재까지 완료한 총 레슨 횟수</p>
                <p><span>{{end_schedule_num}} </span>회</p>
            </div>
            <div class="countBoard"><p><img src="/static/user/res/member/icon-check.png" alt="">신규 회원</p>
                <p class="countBoard_explain">이번달 등록한 신규회원 수</p>
                <p><span>{{new_member_num}} </span>회</p>
            </div>
        </div>

        <div id="planBoardWrap" class="boardWrap">
            <div class="planBoard _Next_Info"><p><img src="/static/user/res/member/icon-bell.png" alt="">다음 레슨 일정</p><p></p></div>
            <div class="planBoard _Repeat_Info">
                <p><img src="/static/user/res/member/icon-repeat.png" alt="">OFF 반복 일정</p>
                <div></div>
            </div>
        </div>

{#        <div id="planBoardWrap" class="boardWrap">#}
{#            <div class="planBoard _My_Purchse">#}
{#                <div style="margin-bottom: 10px;">#}
{#                    <img src="/static/user/res/icon-card@3x.png" alt="" style="width:19px;">내 이용권#}
{#                    <div class="menuButton" style="line-height: 18px;"><button onclick="goPage('payment_history')">내역</button></div>#}
{#                </div>#}
{#                {% for current_payment_info in current_payment_data %}#}
{#                    <p> <span style="color:#fe4e65;font-size: 19px;">{{ current_payment_info.name }} - 사용중</span> </p>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}

        <!--
        <div id="dateBoardWrap" class="boardWrap">
            <div class="dateBoard"><div><p><img src="/static/user/res/member/icon-cal.png" alt="">PT 시작일</p><p style="margin:0;"></p></div></div>
            <div class="dateBoard"><div><p><img src="/static/user/res/member/icon-cal.png" alt="">PT 종료일</p><p style="margin:0;"></p></div></div>
        </div>
        -->

        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>가입 정보</span>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">ID</span>
                    <div class="menuButton"><button onclick="goPage('delAccount')">탈퇴</button></div>
                </div>
                <span>{{ request.user.username }}</span>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div><span class="menuName">비밀번호 변경</span></div>
                <button onclick="goPage(2)">변경</button>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">이름</span>
                    <div class="menuButton">
                        <button class="changeName changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelName cancelMemberInfo">취소</button>
                    </div>
                </div>
                <span class="_nameInfo _originalInfo">{{ member_info.name }}</span>
                <input type="" name="last_name" class="modifyInfoTool" placeholder="성">
                <input type="" name="first_name" class="modifyInfoTool" placeholder="이름">
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">E-mail</span>
                    <div class="menuButton">
                        <button class="changeEmail changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelEmail cancelMemberInfo">취소</button>
                    </div>
                </div>
                <input type="text" name="newemail" class="modifyInfoTool" placeholder="새로운 E-mail 입력">
                <span class="email_confirm" style="position: absolute;"></span>
                <span class="_emailInfo _originalInfo">{{ request.user.email }}</span>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">연락처</span>
                    <div class="menuButton">
                        <button class="changePhone changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelPhone cancelMemberInfo">취소</button>
                    </div>
                </div>
                <input type="tel" name="newphone" class="modifyInfoTool" placeholder="'-'를 제외한 숫자만 입력">
                <span class="_phoneInfo _originalInfo">{{ member_info.phone }}</span>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">생일</span>
                    <div class="menuButton">
                        <button class="changeBirth changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelBirth cancelMemberInfo">취소</button>
                    </div>
                </div>
                <div class="outerbox modifyInfoTool" id="newbirthday">
                    <select class="login_dropdown" id="birth_year">
                    </select>
                    <select class="login_dropdown" id="birth_month">
                    </select>
                    <select class="login_dropdown" id="birth_date">
                    </select>
                    <span class="birth_confirm"></span>
                </div>
                <span class="_birthInfo _originalInfo">{{ member_info.birthday_dt }}</span>
            </div>
        </div>
        <!-- <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">지역</span>
                    <div class="menuButton">
                        <button class="changeRegion changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelRegion cancelMemberInfo">취소</button>
                    </div>
                </div>
                <span class="_regionInfo _originalInfo"></span>
                <div class="modifyInfoTool">
                    <div class="outerbox" id="country">
                        <select class="login_dropdown"  id="country_input">
                            <option selected disabled>선택</option>
                            <option value="USA">United States</option>
                            <option value="KOR">대한민국</option>
                            <option value="JPN">日本</option>
                            <option value="CHN">China</option>
                            <option value="AFG">Afghanistan</option>
                            <option value="ALA">Åland Islands</option>
                            <option value="ALB">Albania</option>
                            <option value="DZA">Algeria</option>
                            <option value="ASM">American Samoa</option>
                            <option value="AND">Andorra</option>
                            <option value="AGO">Angola</option>
                            <option value="AIA">Anguilla</option>
                            <option value="ATA">Antarctica</option>
                            <option value="ATG">Antigua and Barbuda</option>
                            <option value="ARG">Argentina</option>
                            <option value="ARM">Armenia</option>
                            <option value="ABW">Aruba</option>
                            <option value="AUS">Australia</option>
                            <option value="AUT">Austria</option>
                            <option value="AZE">Azerbaijan</option>
                            <option value="BHS">Bahamas</option>
                            <option value="BHR">Bahrain</option>
                            <option value="BGD">Bangladesh</option>
                            <option value="BRB">Barbados</option>
                            <option value="BLR">Belarus</option>
                            <option value="BEL">Belgium</option>
                            <option value="BLZ">Belize</option>
                            <option value="BEN">Benin</option>
                            <option value="BMU">Bermuda</option>
                            <option value="BTN">Bhutan</option>
                            <option value="BOL">Bolivia, Plurinational State of</option>
                            <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                            <option value="BIH">Bosnia and Herzegovina</option>
                            <option value="BWA">Botswana</option>
                            <option value="BVT">Bouvet Island</option>
                            <option value="BRA">Brazil</option>
                            <option value="IOT">British Indian Ocean Territory</option>
                            <option value="BRN">Brunei Darussalam</option>
                            <option value="BGR">Bulgaria</option>
                            <option value="BFA">Burkina Faso</option>
                            <option value="BDI">Burundi</option>
                            <option value="KHM">Cambodia</option>
                            <option value="CMR">Cameroon</option>
                            <option value="CAN">Canada</option>
                            <option value="CPV">Cape Verde</option>
                            <option value="CYM">Cayman Islands</option>
                            <option value="CAF">Central African Republic</option>
                            <option value="TCD">Chad</option>
                            <option value="CHL">Chile</option>
                            <option value="CXR">Christmas Island</option>
                            <option value="CCK">Cocos (Keeling) Islands</option>
                            <option value="COL">Colombia</option>
                            <option value="COM">Comoros</option>
                            <option value="COG">Congo</option>
                            <option value="COD">Congo, the Democratic Republic of the</option>
                            <option value="COK">Cook Islands</option>
                            <option value="CRI">Costa Rica</option>
                            <option value="CIV">Côte d'Ivoire</option>
                            <option value="HRV">Croatia</option>
                            <option value="CUB">Cuba</option>
                            <option value="CUW">Curaçao</option>
                            <option value="CYP">Cyprus</option>
                            <option value="CZE">Czech Republic</option>
                            <option value="DNK">Denmark</option>
                            <option value="DJI">Djibouti</option>
                            <option value="DMA">Dominica</option>
                            <option value="DOM">Dominican Republic</option>
                            <option value="ECU">Ecuador</option>
                            <option value="EGY">Egypt</option>
                            <option value="SLV">El Salvador</option>
                            <option value="GNQ">Equatorial Guinea</option>
                            <option value="ERI">Eritrea</option>
                            <option value="EST">Estonia</option>
                            <option value="ETH">Ethiopia</option>
                            <option value="FLK">Falkland Islands (Malvinas)</option>
                            <option value="FRO">Faroe Islands</option>
                            <option value="FJI">Fiji</option>
                            <option value="FIN">Finland</option>
                            <option value="FRA">France</option>
                            <option value="GUF">French Guiana</option>
                            <option value="PYF">French Polynesia</option>
                            <option value="ATF">French Southern Territories</option>
                            <option value="GAB">Gabon</option>
                            <option value="GMB">Gambia</option>
                            <option value="GEO">Georgia</option>
                            <option value="DEU">Germany</option>
                            <option value="GHA">Ghana</option>
                            <option value="GIB">Gibraltar</option>
                            <option value="GRC">Greece</option>
                            <option value="GRL">Greenland</option>
                            <option value="GRD">Grenada</option>
                            <option value="GLP">Guadeloupe</option>
                            <option value="GUM">Guam</option>
                            <option value="GTM">Guatemala</option>
                            <option value="GGY">Guernsey</option>
                            <option value="GIN">Guinea</option>
                            <option value="GNB">Guinea-Bissau</option>
                            <option value="GUY">Guyana</option>
                            <option value="HTI">Haiti</option>
                            <option value="HMD">Heard Island and McDonald Islands</option>
                            <option value="VAT">Holy See (Vatican City State)</option>
                            <option value="HND">Honduras</option>
                            <option value="HKG">Hong Kong</option>
                            <option value="HUN">Hungary</option>
                            <option value="ISL">Iceland</option>
                            <option value="IND">India</option>
                            <option value="IDN">Indonesia</option>
                            <option value="IRN">Iran, Islamic Republic of</option>
                            <option value="IRQ">Iraq</option>
                            <option value="IRL">Ireland</option>
                            <option value="IMN">Isle of Man</option>
                            <option value="ISR">Israel</option>
                            <option value="ITA">Italy</option>
                            <option value="JAM">Jamaica</option>
                            <option value="JEY">Jersey</option>
                            <option value="JOR">Jordan</option>
                            <option value="KAZ">Kazakhstan</option>
                            <option value="KEN">Kenya</option>
                            <option value="KIR">Kiribati</option>
                            <option value="PRK">Korea, Democratic People's Republic of</option>
                            <option value="KWT">Kuwait</option>
                            <option value="KGZ">Kyrgyzstan</option>
                            <option value="LAO">Lao People's Democratic Republic</option>
                            <option value="LVA">Latvia</option>
                            <option value="LBN">Lebanon</option>
                            <option value="LSO">Lesotho</option>
                            <option value="LBR">Liberia</option>
                            <option value="LBY">Libya</option>
                            <option value="LIE">Liechtenstein</option>
                            <option value="LTU">Lithuania</option>
                            <option value="LUX">Luxembourg</option>
                            <option value="MAC">Macao</option>
                            <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                            <option value="MDG">Madagascar</option>
                            <option value="MWI">Malawi</option>
                            <option value="MYS">Malaysia</option>
                            <option value="MDV">Maldives</option>
                            <option value="MLI">Mali</option>
                            <option value="MLT">Malta</option>
                            <option value="MHL">Marshall Islands</option>
                            <option value="MTQ">Martinique</option>
                            <option value="MRT">Mauritania</option>
                            <option value="MUS">Mauritius</option>
                            <option value="MYT">Mayotte</option>
                            <option value="MEX">Mexico</option>
                            <option value="FSM">Micronesia, Federated States of</option>
                            <option value="MDA">Moldova, Republic of</option>
                            <option value="MCO">Monaco</option>
                            <option value="MNG">Mongolia</option>
                            <option value="MNE">Montenegro</option>
                            <option value="MSR">Montserrat</option>
                            <option value="MAR">Morocco</option>
                            <option value="MOZ">Mozambique</option>
                            <option value="MMR">Myanmar</option>
                            <option value="NAM">Namibia</option>
                            <option value="NRU">Nauru</option>
                            <option value="NPL">Nepal</option>
                            <option value="NLD">Netherlands</option>
                            <option value="NCL">New Caledonia</option>
                            <option value="NZL">New Zealand</option>
                            <option value="NIC">Nicaragua</option>
                            <option value="NER">Niger</option>
                            <option value="NGA">Nigeria</option>
                            <option value="NIU">Niue</option>
                            <option value="NFK">Norfolk Island</option>
                            <option value="MNP">Northern Mariana Islands</option>
                            <option value="NOR">Norway</option>
                            <option value="OMN">Oman</option>
                            <option value="PAK">Pakistan</option>
                            <option value="PLW">Palau</option>
                            <option value="PSE">Palestinian Territory, Occupied</option>
                            <option value="PAN">Panama</option>
                            <option value="PNG">Papua New Guinea</option>
                            <option value="PRY">Paraguay</option>
                            <option value="PER">Peru</option>
                            <option value="PHL">Philippines</option>
                            <option value="PCN">Pitcairn</option>
                            <option value="POL">Poland</option>
                            <option value="PRT">Portugal</option>
                            <option value="PRI">Puerto Rico</option>
                            <option value="QAT">Qatar</option>
                            <option value="REU">Réunion</option>
                            <option value="ROU">Romania</option>
                            <option value="RUS">Russian Federation</option>
                            <option value="RWA">Rwanda</option>
                            <option value="BLM">Saint Barthélemy</option>
                            <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                            <option value="KNA">Saint Kitts and Nevis</option>
                            <option value="LCA">Saint Lucia</option>
                            <option value="MAF">Saint Martin (French part)</option>
                            <option value="SPM">Saint Pierre and Miquelon</option>
                            <option value="VCT">Saint Vincent and the Grenadines</option>
                            <option value="WSM">Samoa</option>
                            <option value="SMR">San Marino</option>
                            <option value="STP">Sao Tome and Principe</option>
                            <option value="SAU">Saudi Arabia</option>
                            <option value="SEN">Senegal</option>
                            <option value="SRB">Serbia</option>
                            <option value="SYC">Seychelles</option>
                            <option value="SLE">Sierra Leone</option>
                            <option value="SGP">Singapore</option>
                            <option value="SXM">Sint Maarten (Dutch part)</option>
                            <option value="SVK">Slovakia</option>
                            <option value="SVN">Slovenia</option>
                            <option value="SLB">Solomon Islands</option>
                            <option value="SOM">Somalia</option>
                            <option value="ZAF">South Africa</option>
                            <option value="SGS">South Georgia and the South Sandwich Islands</option>
                            <option value="SSD">South Sudan</option>
                            <option value="ESP">Spain</option>
                            <option value="LKA">Sri Lanka</option>
                            <option value="SDN">Sudan</option>
                            <option value="SUR">Suriname</option>
                            <option value="SJM">Svalbard and Jan Mayen</option>
                            <option value="SWZ">Swaziland</option>
                            <option value="SWE">Sweden</option>
                            <option value="CHE">Switzerland</option>
                            <option value="SYR">Syrian Arab Republic</option>
                            <option value="TWN">Taiwan, Province of China</option>
                            <option value="TJK">Tajikistan</option>
                            <option value="TZA">Tanzania, United Republic of</option>
                            <option value="THA">Thailand</option>
                            <option value="TLS">Timor-Leste</option>
                            <option value="TGO">Togo</option>
                            <option value="TKL">Tokelau</option>
                            <option value="TON">Tonga</option>
                            <option value="TTO">Trinidad and Tobago</option>
                            <option value="TUN">Tunisia</option>
                            <option value="TUR">Turkey</option>
                            <option value="TKM">Turkmenistan</option>
                            <option value="TCA">Turks and Caicos Islands</option>
                            <option value="TUV">Tuvalu</option>
                            <option value="UGA">Uganda</option>
                            <option value="UKR">Ukraine</option>
                            <option value="ARE">United Arab Emirates</option>
                            <option value="GBR">United Kingdom</option>
                            <option value="UMI">United States Minor Outlying Islands</option>
                            <option value="URY">Uruguay</option>
                            <option value="UZB">Uzbekistan</option>
                            <option value="VUT">Vanuatu</option>
                            <option value="VEN">Venezuela, Bolivarian Republic of</option>
                            <option value="VNM">Viet Nam</option>
                            <option value="VGB">Virgin Islands, British</option>
                            <option value="VIR">Virgin Islands, U.S.</option>
                            <option value="WLF">Wallis and Futuna</option>
                            <option value="ESH">Western Sahara</option>
                            <option value="YEM">Yemen</option>
                            <option value="ZMB">Zambia</option>
                            <option value="ZWE">Zimbabwe</option>
                        </select>
                    </div>
                    <div class="outerbox" id="city-KOR">
                        <select class="login_dropdown"  id="region_input">
                            <option disabled selected>선택</option>
                            <option>서울특별시</option>
                            <option>부산광역시</option>
                            <option>인천광역시</option>
                            <option>대구광역시</option>
                            <option>대전광역시</option>
                            <option>광주광역시</option>
                            <option>울산광역시</option>
                            <option>세종특별자치시</option>
                            <option>제주특별자치도</option>
                            <option>강원도</option>
                            <option>경기도</option>
                            <option>충청남도</option>
                            <option>충청북도</option>
                            <option>전라남도</option>
                            <option>전라북도</option>
                            <option>경상남도</option>
                            <option>경상북도</option>
                        </select>
                    </div>
                </div>

            </div>
        </div> -->
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <span class="menuName" style="line-height: 60px;">가입일</span><span>{{ request.user.date_joined }}</span>
            </div>
        </div>

        {% if center_name != '' %}
            <div class="mypage_label">
                <img src="/static/user/res/member/icon-user.png" alt=""><span>소속 센터</span>
            </div>
            <div id="trainerGymInfoWrap" class="boardWrap">
                <div class="trainerInfo"><span style="line-height: 60px;">{{ center_name }} </span>
                    <!--<img src="/static/user/res/member/icon-call.png" alt=""><img src="/static/user/res/member/icon-message.png" alt="">-->
                </div>
            </div>
        {% endif %}
    </div>



    <!--
<div class="mypage_label _GRAPH_OPEN">
    <img src="/static/user/res/member/icon-user.png" alt=""><span>월별 강의 완료 그래프</span>
</div>

<div id="mygraph" data-open="0">
    <div id="yyyyText">
        <a id="leftArrow" style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/icon-setting-arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 6px;"></a>
        <span id="yy"></span>
        <a id="rightArrow" style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/icon-setting-arrow.png" %} alt="" style="width: 6px;"></a>
    </div>

    <div id="graph" class="pters_graph">
      <div class="graph_main">
        <div class="graph_vertical">
          <div class="verti">30</div>
          <div class="verti">25</div>
          <div class="verti">20</div>
          <div class="verti">15</div>
          <div class="verti">10</div>
          <div class="verti">5</div>
          <div class="verti"></div>
        </div>
      </div>  
      <div class="graph_horizontal">
        <table>
          <tr>
            <td>1월</td>
            <td>2월</td>
            <td>3월</td>
            <td>4월</td>
            <td>5월</td>
            <td>6월</td>
            <td>7월</td>
            <td>8월</td>
            <td>9월</td>
            <td>10월</td>
            <td>11월</td>
            <td>12월</td>
          </tr>
        </table>
      </div>
    </div> 
</div>
-->

    <div class="popupBtn_mini">
        <button class="submitBtn _button_Prev">이전</button>
        <button class="submitBtn _button_Next" style="display: none;">등록</button>
    </div>

    <form id="modify-member-id-form" method="post">
        {% csrf_token %}
        <div style="display: none">
            {{ form.as_p }}
        </div>
        <input type="hidden" name="id" id="userid" value="" >
        <input type="hidden" name="first_name" id="first_name" value="" >
        <input type="hidden" name="last_name" id="last_name" value="" >
        <input type="hidden" name="sex" id="newsex" value="" >
        <input type="hidden" name="birthday" id="newbirth" value="" >
        <input type="hidden" name="country" id="newcountry" value="" >
        <input type="hidden" name="address" id="newcity" value="" >
        <input type="hidden" name="phone" id="newphone" value="" >
        <input type="hidden" name="email" id="newemail" value="" >
        <input type="hidden" name="contents" id="contents" value="" >
        <input type="hidden" name="next_page" id="id_next_page" value="{% url 'trainer:get_trainer_info' %}">
    </form>

{% endblock %}

{% block local_js_footer %}
    <!-- Placed at the end of the document so the pages load faster -->

    <script>

        if($('body').width()<600){
            $('#page-base').css('display', 'none');
            $('#page-base-modifystyle').css('display', 'block');
            $('#uptext3').text('마이페이지');
            $('#uptext').text("마이페이지");
            $('#upbutton-modify').hide();
        }


        $('#upbutton-x-modify, ._button_Prev').click(function(){
            location.href="/trainer/trainer_setting/";
        });

        regionChangeEventGroup();
        birthChangeEventGroup();

        if('{{next_schedule_start_dt }}'.length>0){
            var trainee_next_schedule = date_format_to_user_hangul('{{next_schedule_start_dt }}');

        }else{
            var trainee_next_schedule = "일정이 없습니다.";
        }
        $('._Next_Info p:nth-child(2)').text(trainee_next_schedule);


        $('button.changeMemberInfo').click(function(){
            if($(this).attr('data-type') == "modify"){
                $(this).attr('data-type', 'complete');
                $(this).siblings('button.cancelMemberInfo').show();
                $(this).parents('.trainerInfo').find('._originalInfo').hide();
                $(this).parents('.trainerInfo').find('.modifyInfoTool').show();
            }else if($(this).attr('data-type') == "complete"){
                $(this).attr('data-type', 'modify');
                $(this).siblings('button.cancelMemberInfo').hide();
                $(this).parents('.trainerInfo').find('._originalInfo').show();
                $(this).parents('.trainerInfo').find('.modifyInfoTool').hide();
                if(!$(this).hasClass('changeEmail')){
                    send_modified_member_info();
                }
            }
        });

        $('button.cancelMemberInfo').click(function(){
            $(this).hide();
            $(this).siblings('button.changeMemberInfo').attr('data-type', 'modify');
            $(this).parents('.trainerInfo').find('._originalInfo').show();
            $(this).parents('.trainerInfo').find('.modifyInfoTool').hide();
            $('.email_confirm').hide();
        });

        $('input').keyup(function(){
            var targetID = $('#'+$(this).attr('name'));
            targetID.val($(this).val());
            if($(this).attr('name') == "newemail"){
                check_email($(this).val());
            }
        });

        send_modified_member_info();
        function send_modified_member_info(){
            $.ajax({
                url:'/trainer/update_trainer_info/',
                type:'POST',
                data : $('#modify-member-id-form').serialize(),
                dataType : 'html',

                beforeSend:function(){
                    beforeSend();
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    console.log(jsondata);
                    fill_recieved_member_info(jsondata);
                    completeSend();
                },

                //보내기후 팝업창 닫기
                complete:function(){
                },

                //통신 실패시 처리
                error:function(){

                }
            });
        }

        function fill_recieved_member_info(jsondata){
            $('._nameInfo').text(jsondata.name).attr('data-dbid', jsondata.db_id);
            $('._phoneInfo').text(jsondata.phone);
            $('._birthInfo').text(jsondata.birthday_dt);
            console.log(jsondata);
            if(jsondata.country != ""){
                var countryname = $('option[value='+jsondata.country+']').text();
                $('._regionInfo').text(countryname+' '+jsondata.address);
            }

            var repeat_info_dict= { 'KOR':
                {'DD':'매일', 'WW':'매주', '2W':'격주',
                    'SUN':'일요일', 'MON':'월요일','TUE':'화요일','WED':'수요일','THS':'목요일','FRI':'금요일', 'SAT':'토요일'},
                'JAP':
                    {'DD':'毎日', 'WW':'毎週', '2W':'隔週',
                        'SUN':'日曜日', 'MON':'月曜日','TUE':'火曜日','WED':'水曜日','THS':'木曜日','FRI':'金曜日', 'SAT':'土曜日'},
                'JAP':
                    {'DD':'Everyday', 'WW':'Weekly', '2W':'Bi-weekly',
                        'SUN':'Sun', 'MON':'Mon','TUE':'Tue','WED':'Wed','THS':'Thr','FRI':'Fri', 'SAT':'Sat'}
            };
            var repeatList = [];

            if(jsondata.off_repeat_schedule_type_data.length>0){
                for(var i=0; i<jsondata.off_repeat_schedule_type_data.length; i++){
                    var off_type = repeat_info_dict[Options.language][jsondata.off_repeat_schedule_type_data[0]];
                    var off_day = function(){
                        var repeat_day_info_raw = jsondata.off_repeat_schedule_week_info_data[i].split('/');
                        var repeat_day_info = "";
                        if(repeat_day_info_raw.length>1){
                            for(var j=0; j<repeat_day_info_raw.length; j++){
                                var repeat_day_info = repeat_day_info + '/' + repeat_info_dict['KOR'][repeat_day_info_raw[j]].substr(0,1);
                            }
                        }else if(repeat_day_info_raw.length == 1){
                            var repeat_day_info = repeat_info_dict['KOR'][repeat_day_info_raw[0]];
                        }
                        if(repeat_day_info.substr(0,1) == '/'){
                            var repeat_day_info = repeat_day_info.substr(1,repeat_day_info.length);
                        }
                        return repeat_day_info;
                    };
                    var off_startdate = jsondata.off_repeat_schedule_start_date_data[i];
                    var off_enddate = jsondata.off_repeat_schedule_end_date_data[i];
                    var off_starttime = jsondata.off_repeat_schedule_start_time_data[i];
                    var off_starttimehour = jsondata.off_repeat_schedule_start_time_data[i].split(':')[0];
                    var off_starttimemin = jsondata.off_repeat_schedule_start_time_data[i].split(':')[1];
                    var off_endtime = jsondata.off_repeat_schedule_end_time_data[i];
                    var off_endtimehour = jsondata.off_repeat_schedule_end_time_data[i].split(':')[0];
                    var off_endtimemin = jsondata.off_repeat_schedule_end_time_data[i].split(':')[1];
                    var off_time = jsondata.off_repeat_schedule_start_time_data[i].split(':')[0];
                    //var off_dur = jsondata.off_repeat_schedule_time_duration_data[i]
                    var off_dur = calc_duration_by_start_end(off_startdate, off_starttime, off_enddate, off_endtime);

                    if(off_dur - parseInt(off_dur) == 0.5){
                        if(parseInt(off_dur) != 0){
                            var off_dur = parseInt(off_dur)+'시간' + ' 30분';
                        }else if(parseInt(off_dur) == 0){
                            var off_dur = '30분';
                        }
                    }else{
                        var off_dur = off_dur + '시간';
                    }

                    var offText = '<p style="margin:0px;margin-top:7px;">'+off_type+' '+off_day()+' '+off_starttimehour+':'+off_starttimemin+' ~ '+off_endtimehour+':'+off_endtimemin+'</p>';
                    var offText2 = '<span>'+off_startdate+'부터 ~ '+off_enddate+"까지"+'</span>';
                    repeatList.push(offText+offText2);
                    //$('._Repeat_Info p:nth-child(2)').text(offText)
                    //$('._Repeat_Info span').text(offText2)
                }$('._Repeat_Info div').html(repeatList.join(''));

            }else{
                var offText = '<span style="margin:0px;margin-top:7px;">'+'설정된 반복 일정이 없습니다.'+'</span>';
                $('._Repeat_Info div').html(offText);
            }
        }


        function regionChangeEventGroup(){
            $('#country_input').change(function(){
                if($(this).val() == "KOR"){
                    $('#city-KOR').css('display','inline-block')
                }else{
                    $('#city-KOR').css('display','none')
                    $('#newcity').val('-')
                }
                $('#newcountry').val($(this).val())
            })

            $('#region_input').change(function(){
                $('#newcity').val($(this).val())
            })
        }

        function birthChangeEventGroup(){
            var yearoption = ['<option>연도</option>']
            for(var i=2018; i>=1908; i--){
                if(i == 1990){
                    yearoption.push('<option selected>'+i+'년</option>')
                }else{
                    yearoption.push('<option>'+i+'년</option>')
                }
            }
            var birth_year_options = yearoption.join('')
            $('#birth_year').html(birth_year_options)


            var monthoption = ['<option>월</option>']
            for(var i=1; i<=12; i++){
                if(i == 10){
                    monthoption.push('<option data-month="'+i+'" selected>'+i+'월</option>')
                }else{
                    monthoption.push('<option data-month="'+i+'">'+i+'월</option>')
                }
            }
            var birth_month_options = monthoption.join('')
            $('#birth_month').html(birth_month_options)


            var dateoption = ['<option>일</option>']
            for(var i=1; i<=31; i++){
                if(i == 10){
                    dateoption.push('<option selected>'+i+'일</option>')
                }else{
                    dateoption.push('<option>'+i+'일</option>')
                }

            }
            var birth_date_options = dateoption.join('')
            $('#birth_date').html(birth_date_options)


            $('#birth_month').change(function(){
                var dateoption = []
                $('#birth_date').html("")
                var lastDay = [31,29,31,30,31,30,31,31,30,31,30,31];
                var month = $(this).val().replace(/월/gi,"")
                for(var i=1; i<=lastDay[month-1]; i++){
                    dateoption.push('<option>'+i+'일</option>')
                }
                var birth_date_options = dateoption.join('')
                $('#birth_date').html(birth_date_options)
            })

            $('#birth_year, #birth_month, #birth_date').change(function(){
                input_birth_to_form()
            })
        }

        function input_birth_to_form(){
            var year = $('#birth_year').val().replace(/년/gi, "");
            var month = $('#birth_month').val().replace(/월/gi, "");
            var date = $('#birth_date').val().replace(/일/gi, "");
            var birthdata = year+'-'+month+'-'+date;
            $('#newbirth').attr('value', birthdata);
        }

        $('.changeEmail').click(function(){
            $('.email_confirm').hide();
            if($(this).attr('data-type') == "modify" && email_change_varification == true){
                //이메일 변경을 계속 할건지 예/아니오 팝업 출력
                $('.email_confirm').hide();
                show_caution_popup_yes_or_no(
                                            `<p>이메일 주소를 변경합니다.</p>
                                             <p>${$('._emailInfo').text()} <img src="/static/user/res/btn-today-right.png" style="width:10px;margin-left:6px;margin-right:6px;">
                                                ${$('._emailInfo').siblings('input').val()}</p>
                                             <p>변경후에는 자동으로 <span style="color:#fe4e65;font-weight:500">로그아웃</span>되며,<br> <span style="color:#fe4e65;font-weight:500">이메일 인증</span> 후 계속 사용이 가능합니다.</p>
                                                <p>계속 하시겠습니까?</p>
                                            `
                                            );
                $(document).on('click','#caution_popup_yes', function(e){
                    console.log('yes')
                    e.stopPropagation();
                    send_modified_email_info($('._emailInfo').siblings('input').val());
                    $('#caution_popup_yes').off();
                });
            }
        });

        function send_modified_email_info(newemail){
            var userid = $('._nameInfo').text();
            var db_id = $('._nameInfo').attr('data-dbid');
            console.log({"username":userid, "email":newemail, "member_id":db_id})
            $.ajax({
                    url:'/login/change_resend_email_authentication/',
                    type:'POST',
                    data : {"username":userid, "email":newemail, "member_id":db_id},
                    dataType : 'html',

                    beforeSend:function(xhr, settings){
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        beforeSend();
                    },

                    //통신성공시 처리
                    success:function(data){
                        var jsondata = JSON.parse(data);
                        alert('로그아웃 합니다.\n 이메일 인증 후 재로그인 해주세요.');
                        location.href = '/login/logout/';
                        completeSend();
                    },

                    //보내기후 팝업창 닫기
                    complete:function(){
                    },

                    //통신 실패시 처리
                    error:function(){

                    }
                });
        }

        var email_change_varification = false;
        function check_email(newemail){
            $.ajax({
                url:'/login/check_member_email/',
                type:'GET',
                data:{"email" : newemail },
                dataType : 'html',

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    var id_check_message = jsondata.id_check_result;
                    if(id_check_message[0].length>0){
                        var error_msg = id_check_message[0];
                        $('.email_confirm').text(error_msg).css({'display':'inline-block', 'color':'#fe4e65'});
                        email_change_varification = false;
                    }else{
                        $('.email_confirm').text('사용 가능').css({'display':'inline-block', 'color':'green'});
                        email_change_varification = true;
                    }
                },

                //보내기후 팝업창 닫기
                complete:function(){

                },

                //통신 실패시 처리
                error:function(){
                    alert("에러: 서버 통신 실패");
                }
            });
        }

        function goPage(option){
            if(option == 2){
                location.href= "/accounts/password/change/";

            }else if(option == "delAccount"){
                location.href="/trainer/delete_account/";

            }else if(option == "payment_history"){
                location.href = "/payment/payment_history/";
            }
        }

    </script>

{% endblock %}
