{% extends "trainer_base.html" %}
{% load static_url %}

{% block local_css %}
        <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.select.class.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
        <style type="text/css">
          button.classAdd{
            width: 70px;
            height: 25px;
            float: right;
            background: #fe4e65;
            border-radius: 1px;
            border-color: #fe4e65;
          }
        </style>
{% endblock %}



{% block content %}

<form action="{% url 'trainer:class_processing' %}" id="lecture-check-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="class_id" id="id_class_id">
    <input type="hidden" name="next_page" id="id_next_page" value="{% url 'trainer:index' %}">
</form>
            
<div id="defaultFeeSettingText" class="settingMenu wrap800">
  <p class="settingText">클래스 관리</p>
  <p class="settingText2">나의 전체 클래스 리스트를 관리할 수 있습니다.</p>
</div>
<div id="defaultFeeSetting" class="settingBox wrap800">
  <p><button class="submitBtn classAdd" onclick="location.href='/trainer/add_class'">추가</button></p>
  <div class="pters_table pters_table_at_setting_page">
    <div class="pters_table_cell_head table_center_name">센터</div>
    <div class="pters_table_cell_head table_lecture_name">클래스</div>
    <div class="pters_table_cell_head table_trainee_number">수강생</div>
    <div class="pters_table_cell_head table_start_date">개강일</div>
    <div class="pters_table_cell_head table_lecture_status">상태</div>
    <div class="pters_table_cell_head lecture_selection">관리</div>
    <div class="pters_table_cell_head lecture_selection">이동</div>
  </div>
  <div class="lecture_select_table_list">
  </div>
</div>

{% endblock %}


{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script>
              var lt_sal_01 =  ['{{ lt_sal_01 }}'];
              var lt_sal_02 =  ['{{ lt_sal_02 }}'];
              var lt_sal_03 =  ['{{ lt_sal_03 }}'];
              var lt_sal_04 =  ['{{ lt_sal_04 }}'];
              var lt_sal_05 =  ['{{ lt_sal_05 }}'];
              var lt_sal_00 =  ['{{ lt_sal_00 }}'];

              ajax_read_lecture_info_from_db()

              $(document).on('click','._icon_del',function(){
                  var class_id = $(this).parent('div').attr('data-classid')
                  if(class_id != lec_select_currentClassId[0]){
                    $('#cal_popup_plandelete').fadeIn('fast')
                    $('#popup_delete_question').html("<p>정말 삭제하시겠습니까?<br>현재까지의 데이터가 모두 삭제됩니다.</p>")
                    $('#shade').show()
                  }else{
                    alert('현재 활성화 되어있는 강의는 삭제 불가능합니다.\n 다른 강의로 이동후 현재 강의가 삭제 가능합니다.')
                  }

                  $('#popup_delete_btn_yes').click(function(){
                      ajax_del_lecture_info(class_id)
                      $(this).parents('.popups').hide()
                      $('#shade').hide()
                  })

                  $('#popup_delete_btn_no, .popup_close_x_button').click(function(){
                      $(this).parents('.popups').hide()
                      $('#shade').hide()
                  })
              })
              


            ///********************* 강의 선택*************************************///
            ///********************* 강의 선택*************************************///



            function ajax_del_lecture_info(class_id){
                  $.ajax({
                      url: '/trainer/delete_class_info/',
                      data:{"class_id":class_id},
                      dataType : 'html',
                      type:'POST',

                      beforeSend:function(){
                        
                      },

                      success:function(data){
                        var jsondata = JSON.parse(data);
                        if(jsondata.messageArray.length>0){
                            $('#errorMessageBar').show()
                            $('#errorMessageText').text(jsondata.messageArray)
                        }else{
                            ajax_read_lecture_info_from_db()
                        }
                      },

                      complete:function(){
                        
                      },

                      error:function(){
                          $('#errorMessageBar').show()
                          $('#errorMessageText').text('통신 에러: 관리자 문의')
                      }
                    })
              }


            function fill_lecture_select_popup(){
                var len = lec_select_subjectNameArray.length;
                var list_table_to_join = []
                for(var i=0; i<len; i++){
                  //if(lec_select_npLectureCountsArray[i] == '0'){
                    console.log(lec_select_classIdArray, lec_select_classIdArray[0])
                      if(lec_select_classIdArray[i] == lec_select_currentClassId[0]){
                          var currentClass = 'currentClass'
                          var manageIcon2 = '<img src="/static/user/res/member/icon-delete.png" class="pcmanageicon _icon_del" style="opacity:0.5;">'
                          var selectionText = '<a style="cursor:default;">-</a>'
                      }else{
                          var currentClass = ""
                          var manageIcon2 = '<img src="/static/user/res/member/icon-delete.png" class="pcmanageicon _icon_del">'
                          var selectionText = '<a data="" '+'onclick="lecture_check('+lec_select_classIdArray[i]+')"'+'" style="cursor:pointer;">이동</a>'
                      }
                      var table = '<div class="pters_table pters_table_at_setting_page" style="margin-top:0;" id="classid" data-classid="'+lec_select_classIdArray[i]+'">'
                      var centerName = '<div class="pters_table_cell table_center_name '+currentClass+'">'+lec_select_centerNameArray[i]+'</div>'
                      var lectureName = '<div class="pters_table_cell table_lecture_name '+currentClass+'">'+lec_select_subjectNameArray[i]+'</div>'
                      var traineeNum = '<div class="pters_table_cell table_trainee_num '+currentClass+'">'+lec_select_classInProgressMemberNumArray[i]+'명</div>'
                      var startDate = '<div class="pters_table_cell table_start_date '+currentClass+'">'+date_format_to_yyyymmdd(lec_select_startDateArray[i],'.')+'</div>'
                      var status = '<div class="pters_table_cell table_lecture_status '+currentClass+'">'+lec_select_stateNameArray[i]+'</div>'
                      var manageIcon = '<img src="/static/user/res/member/icon-edit.png" class="pcmanageicon _icon_modify">'
                      
                      var del = '<div class="pters_table_cell lecture_selection"  data-classid="'+lec_select_classIdArray[i]+'">'+manageIcon2+'</div>'
                      var selection = '<div class="pters_table_cell lecture_selection"  data-classid="'+lec_select_classIdArray[i]+'">'+selectionText+'</div>'
                      var sum = table + centerName + lectureName + traineeNum + startDate + status + del + selection +'</div>'
                      list_table_to_join.push(sum)

                }
                var list_table = list_table_to_join.join('')
                $('.lecture_select_table_list').html(list_table)
            }

           

            $('.button_close_popup').click(function(){
                $(this).parents('div.popups').fadeOut('fast')
                $('#shade,#shade3').hide()
            })


            function lecture_check(class_id){
              $('#id_class_id').val(class_id);
              $('#id_next_page').val('{% url 'trainer:index' %}');
              document.getElementById('lecture-check-form').submit();
            }

            ///********************* 강의 선택*************************************///
            ///********************* 강의 선택*************************************///

        </script>
        
{% endblock %}