{% extends "trainer_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.payment.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
{% endblock %}

{% block content %}

    <div id="ymdText">
        <!--
    <div class='arrowButton'>
     <a style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="width: 7px;"></a>
     <a style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;"></a>
    </div>
  -->
        <div id="ymdTextWrap">
            <div id="menuName">이용권 구매
            </div>
            <div id="menuDescription">나에게 꼭 맞는 이용권을 선택하세요!
            </div>
        </div>
    </div>


    <div id="payment_contents_wrap">
        <div class="payment_function_wrap">
            <label class="function_label">그룹 레슨</label>
            <p>그룹 관리 메뉴 사용, 그룹 일정 관리, 강사 및 소속 회원의 화면에서 광고 제거</p>
            <div class="payment_monthly">
                <label class="inner_label">정기 결제</label>
                <p class="inner_explain"><span style="color:#9c9c9c;font-size: 16px;text-decoration: line-through;">12,000원</span><span style="font-weight:bold;font-size: 16px;color:#fe4e65;"> → 매월 9,000원</span></p>
                <button id="pay_group_function_monthly">정기 결제 구매</button>
            </div>
            <div class="seperator"></div>
            <div class="payment_instant">
                <label class="inner_label">1개월 이용권</label>
                <p class="inner_explain"><span style="font-weight:500;font-size: 14px;color:#5f5f5f;">1회 1개월 이용  12,000원</span></p>
                <button id="pay_group_function_instant">구매</button>
            </div>
        </div>

        <div class="payment_function_wrap">
            <label class="function_label">광고 제거</label>
            <p>강사 및 소속 회원의 화면에서 광고 제거</p>
            <div class="payment_monthly">
                <label class="inner_label">정기 결제</label>
                <p class="inner_explain"><span style="color:#9c9c9c;font-size: 16px;text-decoration: line-through;">2,000원</span><span style="font-weight:bold;font-size: 16px;color:#fe4e65;"> → 매월 1,000원</span></p>
                <button id="pay_ads_remove_monthly">정기 결제 구매</button>
            </div>
            <div class="seperator"></div>
            <div class="payment_instant">
                <label class="inner_label">1개월 이용권</label>
                <p class="inner_explain"><span style="font-weight:500;font-size: 14px;color:#5f5f5f;">1회 1개월 이용  2,000원</span></p>
                <button id="pay_ads_remove_instant">구매</button>
            </div>
        </div>
    </div>


    <!--
    <div class="popupBtn_mini">
        <button class="submitBtn _button_Prev">이전</button>
        <button class="submitBtn _button_Next" style="display: none;">등록</button>
    </div>
-->

    <form id="modify-member-id-form" method="post">
        {% csrf_token %}
        <div style="display: none">
            {{ form.as_p }}
        </div>
        <input type="hidden" name="member_id" id="userDbId" value="">

    </form>

{% endblock %}

{% block local_js_footer %}
    <!-- for db by hk.kim 170805-->
    <script>
        var krHolidayList =  [{% for holiday_day in holiday %}'{{ holiday_day.holiday_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];//대한민국 공휴일 (구정, 추석 제외)

        var offRepeatScheduleIdArray =  [{% for off_repeat_schedule_id_info in off_repeat_schedule_id_data %}'{{ off_repeat_schedule_id_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var offRepeatScheduleTypeArray =  [{% for off_repeat_schedule_type_info in off_repeat_schedule_type_data %}'{{ off_repeat_schedule_type_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var offRepeatScheduleWeekInfoArray =  [{% for off_repeat_schedule_week_info_info in off_repeat_schedule_week_info_data %}'{{ off_repeat_schedule_week_info_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var offRepeatScheduleStartDateArray =  [{% for off_repeat_schedule_start_date_info in off_repeat_schedule_start_date_data %}'{{ off_repeat_schedule_start_date_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var offRepeatScheduleEndDateArray =  [{% for off_repeat_schedule_end_date_info in off_repeat_schedule_end_date_data %}'{{ off_repeat_schedule_end_date_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var offRepeatScheduleStartTimeArray =  [{% for off_repeat_schedule_start_time_info in off_repeat_schedule_start_time_data %}'{{ off_repeat_schedule_start_time_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var offRepeatScheduleTimeDurationArray =  [{% for off_repeat_schedule_time_duration_info in off_repeat_schedule_time_duration_data %}'{{ off_repeat_schedule_time_duration_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
    </script>

    <!-- Placed at the end of the document so the pages load faster -->

    <script>

        if($('body').width()<600){
            $('#page-base').css('display','block')
            //$('#page-base-modifystyle').css('display','block')
            $('#uptext3').text('이용권 구매')
            $('#uptext').text("이용권 구매")
            $('#upbutton-modify').hide()
        }


        $('#upbutton-x-modify, ._button_Prev').click(function(){
            location.href="/trainer/trainer_setting/"
        })


        $('#pay_group_function_monthly').click(function(e){
            alert('그룹 정기 결제')
            e.preventDefault()
            //그룹 레슨 정기결제 버튼
        })
        $('#pay_group_function_instant').click(function(e){
            alert('그룹 1개월 이용권 결제')
            e.preventDefault()
            //그룹 레슨 1개월 결제 버튼
        })
        $('#pay_ads_remove_monthly').click(function(e){
            alert('광고 제거 정기 결제')
            e.preventDefault()
            //광고 제거 정기 결제 버튼
        })
        $('#pay_ads_remove_instant').click(function(e){
            alert('광고 제거 1개월 결제')
            e.preventDefault()
            //광고 제거 1개월 결제 버튼
        })

        /*
        function goPage(option){
            if(option == 2){
                location.href= "/accounts/password/change/"
            }else if(option = "delAccount"){
                location.href="/trainer/delete_account/";
            }
        }
        */

    </script>

{% endblock %}
