{% extends "trainer_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.mypage.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
    <style type="text/css">
        .fixfooter{
            position: relative;
        }
        .NAVER{
            font-weight: 500 !important;
            color: #2DB400; 
        }
        .Facebook{
            font-weight: 500 !important;
            color: #3b5998;
        }
        .Google{
            font-weight: 500 !important;
            color: #4285f4;
        }
        @media(min-width:600px){
            .fixfooter{
                position: relative;
            }
            .bottomfooter3 span{
                color: #282828;
            }
            .pters_selectbox_wrapper{
                height: 30px;
            }
            .pters_selectbox_btn{
                line-height: 30px;
            }
        }
        
    </style>
{% endblock %}

{% block content %}

    <div id="popup_how_to_disconnect_sns_login" class="popups">
        <label style="text-align: center;font-size: 18px;margin-left: 15px;margin-top:10px;font-weight: 500;">SNS계정 연동 해제 방법</label><img src="/static/user/res/ptadd/btn-x.png" style="width:32px;padding:10px;float:right;margin:5px;cursor: pointer;" id="btn_close_how_to_disconnect_sns_login">
        <!-- <div id="" class="pters_selectbox_wrapper" style="margin-top: 15px;">
            <div id="how_to_disconnect_naver" onclick="" class="pters_selectbox_btn pters_selectbox_btn_selected">
                <span class="KRtext">네이버</span>
            </div>
            <div id="how_to_disconnect_facebook" onclick="" class="pters_selectbox_btn">
                <span class="KRtext">페이스북</span>
            </div>
        </div> -->
        <div id="how_to_disconnect_naver_explain" class="explain_page">
            <label>네이버 연동 해제 방법</label>
            <p style="color:#fe4e65;font-weight: bold;"><img src="/static/user/res/stopmark.png" style="width: 15px;">주의사항!<br>연동 해제 전 비밀번호를 초기화후 재설정하셔야, <br>연동 해제 후 피터스에 정상적으로 로그인이 가능합니다.</p>
            <p>1. 네이버 사이트에서 로그인 후, 내정보로 이동합니다.</p>
            <img src="/static/user/res/how_to_disconnect_sns/naver/1.png">
            <p>2. 보안 설정 탭으로 이동합니다.</p>
            <img src="/static/user/res/how_to_disconnect_sns/naver/2.png">
            <p>3. 외부 사이트 연결을 확인합니다.</p>
            <img src="/static/user/res/how_to_disconnect_sns/naver/3.png">
            <p>4. 목록에서 PTERS의 연결 여부를 설정합니다.</p>
            <img src="/static/user/res/how_to_disconnect_sns/naver/4.png">
        </div>
        <div id="how_to_disconnect_facebook_explain" class="explain_page">페이스북 연동 해제 방법</div>
    </div>

    <div id="ymdText">
        <div id="ymdTextWrap">
            <div id="menuName">마이페이지
            </div>
            <div id="menuDescription">나의 정보를 확인할 수 있습니다.
            </div>
        </div>
    </div>


    <div id="summary_wrap">
        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>내 정보 개요</span>
        </div>

        <div id="regCountBoardWrap" class="boardWrap">
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">총 회원</p>
                <p class="countBoard_explain">현재까지 관리한 총 회원수</p>
                <p><span>{{total_member_num}} </span>명</p>
            </div>
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">현재 회원</p>
                <p class="countBoard_explain">현재 진행중인 회원수</p>
                <p><span>{{current_total_member_num}}</span>명</p>
            </div>
        </div>

        <div id="countBoardWrap" class="boardWrap">
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">총 완료</p>
                <p class="countBoard_explain">현재까지 완료한 총 레슨 횟수</p>
                <p><span>{{end_schedule_num}} </span>회</p>
            </div>
            <div class="countBoard"><p><img src="/static/user/res/member/icon-check.png" alt="">신규 회원</p>
                <p class="countBoard_explain">이번달 등록한 신규회원 수</p>
                <p><span>{{new_member_num}} </span>명</p>
            </div>
        </div>

        <div id="planBoardWrap" class="boardWrap">
            <div class="planBoard _Next_Info"><p><img src="/static/user/res/member/icon-bell.png" alt="">다음 레슨 일정</p><p></p></div>
            <div class="planBoard _Repeat_Info">
                <p><img src="/static/user/res/member/icon-repeat.png" alt="">OFF 반복 일정</p>
                <div></div>
            </div>
        </div>

        <div id="planBoardWrap" class="boardWrap">
            <div class="planBoard _My_Purchse">
                <div style="margin-bottom: 10px;">
                    <img src="/static/user/res/icon-card@3x.png" alt="" style="width:19px;">내 이용권
                    <div class="menuButton" style="line-height: 18px;"><button onclick="goPage('payment_history')">내역</button></div>
                </div>
{#                {% for current_payment_info in current_payment_data %}#}
                    <p> <span style="color:#fe4e65;font-size: 19px;">{{ request.session.product_type_name}} 이용권 - 사용중</span> </p>
{#                {% endfor %}#}
            </div>
        </div>

        <!--
        <div id="dateBoardWrap" class="boardWrap">
            <div class="dateBoard"><div><p><img src="/static/user/res/member/icon-cal.png" alt="">PT 시작일</p><p style="margin:0;"></p></div></div>
            <div class="dateBoard"><div><p><img src="/static/user/res/member/icon-cal.png" alt="">PT 종료일</p><p style="margin:0;"></p></div></div>
        </div>
        -->

        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>가입 정보</span>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo" style="height: auto;">
                <div>
                    <span class="menuName">ID</span>
                    <div class="menuButton"><button onclick="goPage('delAccount')">탈퇴</button></div>
                </div>
                <span>{{ request.user.username }}</span>
                <div id="is_this_sns_login" style="display: none;padding-bottom: 7px;">
                    <div id="sns_type" style="display: inline-block;"></div>
                    <div class="menuButton" style="position: relative;margin-right: 10px;"><button onclick="naverLogout()" style="width: 40px;">연동해제</button></div>
                    <img src="/static/user/res/icon-info.png" style="width:15px;margin:0;opacity: 0.5;cursor: pointer;" id="btn_how_to_disconnect_sns_login">
                </div>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div><span class="menuName">비밀번호 변경</span></div>
                <button onclick="goPage(2)">변경</button>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">이름</span>
                    <div class="menuButton">
                        <button class="changeName changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelName cancelMemberInfo">취소</button>
                    </div>
                </div>
                <span class="_nameInfo _originalInfo">{{ member_info.name }}</span>
                <input type="" name="last_name" class="modifyInfoTool" placeholder="성">
                <input type="" name="first_name" class="modifyInfoTool" placeholder="이름">
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">E-mail</span>
                    <div class="menuButton">
                        <button class="changeEmail changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelEmail cancelMemberInfo">취소</button>
                    </div>
                </div>
                <input type="text" name="newemail" class="modifyInfoTool" placeholder="새로운 E-mail 입력">
                <span class="email_confirm" style="position: absolute;"></span>
                <span class="_emailInfo _originalInfo">{{ request.user.email }}</span>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">연락처</span>
                    <div class="menuButton">
                        <button class="changePhone changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelPhone cancelMemberInfo">취소</button>
                    </div>
                </div>
                <input type="tel" name="newphone" class="modifyInfoTool" placeholder="'-'를 제외한 숫자만 입력">
                <span class="_phoneInfo _originalInfo">{{ member_info.phone }}</span>
            </div>
        </div>

        <div id="trainerInfoWrap" class="boardWrap" style="display: none;">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">생일</span>
                    <div class="menuButton">
                        <button class="changeBirth changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelBirth cancelMemberInfo">취소</button>
                    </div>
                </div>
                <div class="outerbox modifyInfoTool" id="newbirthday">
                    <select class="login_dropdown" id="birth_year">
                    </select>
                    <select class="login_dropdown" id="birth_month">
                    </select>
                    <select class="login_dropdown" id="birth_date">
                    </select>
                    <span class="birth_confirm"></span>
                </div>
                <span class="_birthInfo _originalInfo">{{ member_info.birthday_dt }}</span>
            </div>
        </div>

        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <span class="menuName" style="line-height: 60px;">가입일</span><span>{{ request.user.date_joined }}</span>
            </div>
        </div>

        {% if center_name != '' %}
            <div class="mypage_label">
                <img src="/static/user/res/member/icon-user.png" alt=""><span>소속 센터</span>
            </div>
            <div id="trainerGymInfoWrap" class="boardWrap">
                <div class="trainerInfo"><span style="line-height: 60px;">{{ center_name }} </span>
                    <!--<img src="/static/user/res/member/icon-call.png" alt=""><img src="/static/user/res/member/icon-message.png" alt="">-->
                </div>
            </div>
        {% endif %}
    </div>



    <div class="popupBtn_mini">
        <button class="submitBtn _button_Prev">이전</button>
        <button class="submitBtn _button_Next" style="display: none;">등록</button>
    </div>

    <form id="modify-member-id-form" method="post">
        {% csrf_token %}
        <div style="display: none">
            {{ form.as_p }}
        </div>
        <input type="hidden" name="id" id="userid" value="" >
        <input type="hidden" name="first_name" id="first_name" value="" >
        <input type="hidden" name="last_name" id="last_name" value="" >
        <input type="hidden" name="sex" id="newsex" value="" >
        <input type="hidden" name="birthday" id="newbirth" value="" >
        <input type="hidden" name="country" id="newcountry" value="" >
        <input type="hidden" name="address" id="newcity" value="" >
        <input type="hidden" name="phone" id="newphone" value="" >
        <input type="hidden" name="email" id="newemail" value="" >
        <input type="hidden" name="contents" id="contents" value="" >
        <input type="hidden" name="next_page" id="id_next_page" value="{% url 'trainer:get_trainer_info' %}">
    </form>

{% endblock %}

{% block local_js_footer %}
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
{#        var social_login_type = '{{ social_login_type }}';#}

        if($('body').width()<600){
            $('#page-base').css('display', 'none');
            $('#page-base-modifystyle').css('display', 'block');
            $('#uptext3').text('마이페이지');
            $('#uptext').text("마이페이지");
            $('#upbutton-modify').hide();
        }

        $('#upbutton-x-modify, ._button_Prev').click(function(){
            location.href="/trainer/trainer_setting/";
        });

        regionChangeEventGroup();
        birthChangeEventGroup();

        if(Number(social_login_check) == 0){

        }else if(Number(social_login_check) == 1){
            $('.changeEmail').parent('.menuButton').hide();
            $('#is_this_sns_login').show();
            $('#sns_type').html(`<span class="${social_login_type}" style="margin:0">${social_login_type}</span> 계정으로 로그인 중`);
        }
        

        $('#btn_how_to_disconnect_sns_login').click(function(){
            height_this_fit_to_display('#popup_how_to_disconnect_sns_login', 60);
            locate_this_to_center('#popup_how_to_disconnect_sns_login');

            $('body').css('overflow-y', 'hidden');
            $('#shade_caution').show();
        });

        $('#btn_close_how_to_disconnect_sns_login').click(function(){
            $('#popup_how_to_disconnect_sns_login').hide();
            $('body').css('overflow-y', 'unset');
            $('#shade_caution').hide();
        });

        $('.pters_selectbox_btn').click(function(){
            var thisID = $(this).attr("id");
            $(`#${thisID}_explain`).show();
            $(`#${thisID}_explain`).siblings('.explain_page').hide();
        });


        if('{{next_schedule_start_dt }}'.length>0){
            var trainee_next_schedule = date_format_to_user_hangul('{{next_schedule_start_dt }}');

        }else{
            var trainee_next_schedule = "일정이 없습니다.";
        }
        $('._Next_Info p:nth-child(2)').text(trainee_next_schedule);


        $('button.changeMemberInfo').click(function(){
            if($(this).attr('data-type') == "modify"){
                $(this).attr('data-type', 'complete');
                $(this).siblings('button.cancelMemberInfo').show();
                $(this).parents('.trainerInfo').find('._originalInfo').hide();
                $(this).parents('.trainerInfo').find('.modifyInfoTool').show();
            }else if($(this).attr('data-type') == "complete"){
                $(this).attr('data-type', 'modify');
                $(this).siblings('button.cancelMemberInfo').hide();
                $(this).parents('.trainerInfo').find('._originalInfo').show();
                $(this).parents('.trainerInfo').find('.modifyInfoTool').hide();
                if(!$(this).hasClass('changeEmail')){
                    send_modified_member_info();
                }
            }
        });

        $('button.cancelMemberInfo').click(function(){
            $(this).hide();
            $(this).siblings('button.changeMemberInfo').attr('data-type', 'modify');
            $(this).parents('.trainerInfo').find('._originalInfo').show();
            $(this).parents('.trainerInfo').find('.modifyInfoTool').hide();
            $('.email_confirm').hide();
        });

        $('input').keyup(function(){
            var targetID = $('#'+$(this).attr('name'));
            targetID.val($(this).val());
            if($(this).attr('name') == "newemail"){
                check_email($(this).val());
            }
        });

        send_modified_member_info();
        function send_modified_member_info(){
            $.ajax({
                url:'/trainer/update_trainer_info/',
                type:'POST',
                data : $('#modify-member-id-form').serialize(),
                dataType : 'html',

                beforeSend:function(){
                    beforeSend();
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    console.log(jsondata);
                    fill_recieved_member_info(jsondata);
                    completeSend();
                },

                //보내기후 팝업창 닫기
                complete:function(){
                },

                //통신 실패시 처리
                error:function(){

                }
            });
        }

        function fill_recieved_member_info(jsondata){
            $('.pcwho').html(jsondata.name + '<span class="text-nameAttach">님</span>');
            $('._nameInfo').text(jsondata.name).attr('data-dbid', jsondata.db_id);
            $('._phoneInfo').text(jsondata.phone);
            $('._birthInfo').text(jsondata.birthday_dt);
            if(jsondata.country != ""){
                var countryname = $('option[value='+jsondata.country+']').text();
                $('._regionInfo').text(countryname+' '+jsondata.address);
            }

            var repeat_info_dict= { 'KOR':
                {'DD':'매일', 'WW':'매주', '2W':'격주',
                    'SUN':'일요일', 'MON':'월요일','TUE':'화요일','WED':'수요일','THS':'목요일','FRI':'금요일', 'SAT':'토요일'},
                'JAP':
                    {'DD':'毎日', 'WW':'毎週', '2W':'隔週',
                        'SUN':'日曜日', 'MON':'月曜日','TUE':'火曜日','WED':'水曜日','THS':'木曜日','FRI':'金曜日', 'SAT':'土曜日'},
                'JAP':
                    {'DD':'Everyday', 'WW':'Weekly', '2W':'Bi-weekly',
                        'SUN':'Sun', 'MON':'Mon','TUE':'Tue','WED':'Wed','THS':'Thr','FRI':'Fri', 'SAT':'Sat'}
            };
            var repeatList = [];

            if(jsondata.off_repeat_schedule_type_data.length>0){
                for(var i=0; i<jsondata.off_repeat_schedule_type_data.length; i++){
                    var off_type = repeat_info_dict[Options.language][jsondata.off_repeat_schedule_type_data[0]];
                    var off_day = function(){
                        var repeat_day_info_raw = jsondata.off_repeat_schedule_week_info_data[i].split('/');
                        var repeat_day_info = "";
                        if(repeat_day_info_raw.length>1){
                            for(var j=0; j<repeat_day_info_raw.length; j++){
                                var repeat_day_info = repeat_day_info + '/' + repeat_info_dict['KOR'][repeat_day_info_raw[j]].substr(0,1);
                            }
                        }else if(repeat_day_info_raw.length == 1){
                            var repeat_day_info = repeat_info_dict['KOR'][repeat_day_info_raw[0]];
                        }
                        if(repeat_day_info.substr(0,1) == '/'){
                            var repeat_day_info = repeat_day_info.substr(1,repeat_day_info.length);
                        }
                        return repeat_day_info;
                    };
                    var off_startdate = jsondata.off_repeat_schedule_start_date_data[i];
                    var off_enddate = jsondata.off_repeat_schedule_end_date_data[i];
                    var off_starttime = jsondata.off_repeat_schedule_start_time_data[i];
                    var off_starttimehour = jsondata.off_repeat_schedule_start_time_data[i].split(':')[0];
                    var off_starttimemin = jsondata.off_repeat_schedule_start_time_data[i].split(':')[1];
                    var off_endtime = jsondata.off_repeat_schedule_end_time_data[i];
                    var off_endtimehour = jsondata.off_repeat_schedule_end_time_data[i].split(':')[0];
                    var off_endtimemin = jsondata.off_repeat_schedule_end_time_data[i].split(':')[1];
                    var off_time = jsondata.off_repeat_schedule_start_time_data[i].split(':')[0];
                    //var off_dur = jsondata.off_repeat_schedule_time_duration_data[i]
                    var off_dur = calc_duration_by_start_end(off_startdate, off_starttime, off_enddate, off_endtime);

                    if(off_dur - parseInt(off_dur) == 0.5){
                        if(parseInt(off_dur) != 0){
                            var off_dur = parseInt(off_dur)+'시간' + ' 30분';
                        }else if(parseInt(off_dur) == 0){
                            var off_dur = '30분';
                        }
                    }else{
                        var off_dur = off_dur + '시간';
                    }

                    var offText = '<p style="margin:0px;margin-top:7px;">'+off_type+' '+off_day()+' '+off_starttimehour+':'+off_starttimemin+' ~ '+off_endtimehour+':'+off_endtimemin+'</p>';
                    var offText2 = '<span>'+off_startdate+'부터 ~ '+off_enddate+"까지"+'</span>';
                    repeatList.push(offText+offText2);
                    //$('._Repeat_Info p:nth-child(2)').text(offText)
                    //$('._Repeat_Info span').text(offText2)
                }$('._Repeat_Info div').html(repeatList.join(''));

            }else{
                var offText = '<span style="margin:0px;margin-top:7px;">'+'설정된 반복 일정이 없습니다.'+'</span>';
                $('._Repeat_Info div').html(offText);
            }
        }


        function regionChangeEventGroup(){
            $('#country_input').change(function(){
                if($(this).val() == "KOR"){
                    $('#city-KOR').css('display','inline-block')
                }else{
                    $('#city-KOR').css('display','none')
                    $('#newcity').val('-')
                }
                $('#newcountry').val($(this).val())
            })

            $('#region_input').change(function(){
                $('#newcity').val($(this).val())
            })
        }

        function birthChangeEventGroup(){
            var yearoption = ['<option>연도</option>']
            for(var i=2018; i>=1908; i--){
                if(i == 1990){
                    yearoption.push('<option selected>'+i+'년</option>')
                }else{
                    yearoption.push('<option>'+i+'년</option>')
                }
            }
            var birth_year_options = yearoption.join('')
            $('#birth_year').html(birth_year_options)


            var monthoption = ['<option>월</option>']
            for(var i=1; i<=12; i++){
                if(i == 10){
                    monthoption.push('<option data-month="'+i+'" selected>'+i+'월</option>')
                }else{
                    monthoption.push('<option data-month="'+i+'">'+i+'월</option>')
                }
            }
            var birth_month_options = monthoption.join('')
            $('#birth_month').html(birth_month_options)


            var dateoption = ['<option>일</option>']
            for(var i=1; i<=31; i++){
                if(i == 10){
                    dateoption.push('<option selected>'+i+'일</option>')
                }else{
                    dateoption.push('<option>'+i+'일</option>')
                }

            }
            var birth_date_options = dateoption.join('')
            $('#birth_date').html(birth_date_options)


            $('#birth_month').change(function(){
                var dateoption = []
                $('#birth_date').html("")
                var lastDay = [31,29,31,30,31,30,31,31,30,31,30,31];
                var month = $(this).val().replace(/월/gi,"")
                for(var i=1; i<=lastDay[month-1]; i++){
                    dateoption.push('<option>'+i+'일</option>')
                }
                var birth_date_options = dateoption.join('')
                $('#birth_date').html(birth_date_options)
            })

            $('#birth_year, #birth_month, #birth_date').change(function(){
                input_birth_to_form()
            })
        }

        function input_birth_to_form(){
            var year = $('#birth_year').val().replace(/년/gi, "");
            var month = $('#birth_month').val().replace(/월/gi, "");
            var date = $('#birth_date').val().replace(/일/gi, "");
            var birthdata = year+'-'+month+'-'+date;
            $('#newbirth').attr('value', birthdata);
        }

        $('.changeEmail').click(function(){
            $('.email_confirm').hide();
            if($(this).attr('data-type') == "modify" && email_change_varification == true){
                //이메일 변경을 계속 할건지 예/아니오 팝업 출력
                $('.email_confirm').hide();
                show_caution_popup_yes_or_no(
                                            `<p>이메일 주소를 변경합니다.</p>
                                             <p>${$('._emailInfo').text()} <img src="/static/user/res/btn-today-right.png" style="width:10px;margin-left:6px;margin-right:6px;">
                                                ${$('._emailInfo').siblings('input').val()}</p>
                                             <p>변경후에는 자동으로 <span style="color:#fe4e65;font-weight:500">로그아웃</span>되며,<br> <span style="color:#fe4e65;font-weight:500">이메일 인증</span> 후 계속 사용이 가능합니다.</p>
                                                <p>계속 하시겠습니까?</p>
                                            `
                                            );
                $(document).on('click', '#caution_popup_yes', function(e){
                    e.stopPropagation();
                    send_modified_email_info($('._emailInfo').siblings('input').val());
                    $('#caution_popup_yes').off();
                });
            }
        });

        function send_modified_email_info(newemail){
            var userid = "{{ request.user.username }}";
            var db_id = $('._nameInfo').attr('data-dbid');
            $.ajax({
                    url:'/login/change_resend_email_authentication/',
                    type:'POST',
                    data : {"username":userid, "email":newemail, "member_id":db_id},
                    dataType : 'html',

                    beforeSend:function(xhr, settings){
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        beforeSend();
                    },

                    //통신성공시 처리
                    success:function(data){
                        var jsondata = JSON.parse(data);
                        alert('로그아웃 합니다.\n 이메일 인증 후 재로그인 해주세요.');
                        location.href = '/login/logout/';
                        completeSend();
                    },

                    //보내기후 팝업창 닫기
                    complete:function(){
                    },

                    //통신 실패시 처리
                    error:function(){

                    }
                });
        }

        var email_change_varification = false;
        function check_email(newemail){
            $.ajax({
                url:'/login/check_member_email/',
                type:'GET',
                data:{"email" : newemail },
                dataType : 'html',

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    var id_check_message = jsondata.id_check_result;
                    if(id_check_message[0].length>0){
                        var error_msg = id_check_message[0];
                        $('.email_confirm').text(error_msg).css({'display':'inline-block', 'color':'#fe4e65'});
                        email_change_varification = false;
                    }else{
                        $('.email_confirm').text('사용 가능').css({'display':'inline-block', 'color':'green'});
                        email_change_varification = true;
                    }
                },

                //보내기후 팝업창 닫기
                complete:function(){

                },

                //통신 실패시 처리
                error:function(){
                    alert("에러: 서버 통신 실패");
                }
            });
        }

        function goPage(option){
            if(option == 2){
                if(Number(social_login_check) == 0){
                    location.href= "/accounts/password/change/";
                }else if(Number(social_login_check) == 1){
                    location.href= "/accounts/password/reset/";
                }
                

            }else if(option == "delAccount"){
                location.href="/trainer/delete_account/";

            }else if(option == "payment_history"){
                location.href = "/payment/payment_history/";
            }
        }

        function naverLogout(){
            if(confirm("네이버 연동해제시 비밀번호를 초기화(변경)하셔야\n 정상적으로 재로그인이 가능합니다.")){
                $.ajax({

                    url:'https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=h5MuvYzSFLlrFTs19g0V&client_secret=fL5b0bMvHH&access_token='+social_accessToken+'&service_provider=NAVER',
                    type:'GET',
                    dataType:'json',

                    beforeSend:function(){
                    },

                    //통신성공시 처리
                    success:function(data){

                    },

                    //보내기후 팝업창 닫기
                    complete:function(){
                    },

                    //통신 실패시 처리
                    error:function(){

                    }
                });

                $.ajax({
                    url:'/login/delete_sns_info/',
                    type:'POST',
                    data : {"sns_id":social_login_id, "sns_type":social_login_type},
                    dataType : 'html',

                    beforeSend:function(xhr, settings){
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        beforeSend();
                    },

                    //통신성공시 처리
                    success:function(data){
                        var jsondata = JSON.parse(data);
                        window.location.reload();
                    },

                    //보내기후 팝업창 닫기
                    complete:function(){

                    },

                    //통신 실패시 처리
                    error:function(){

                    }
                });
            }else{
                
            }
            
        }

    </script>

{% endblock %}
