{% extends "trainer_base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/trainer/pters.trainer.reserve.setting.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
{% endblock %}



{% block content %}

<form action="{% url 'trainer:update_setting_reserve' %}" id="update-setting-reserve-form" method="post">
    {% csrf_token %}
  <input type="hidden" name="setting_trainer_work_time_available" id="id_setting_trainer_work_time" value=""> <!--min 00:00 max 23:59  업무 시간 설정 -->
  <input type="hidden" name="setting_member_reserve_time_available" id="id_setting_member_available_time" value=""> <!--min 00:00 max 23:59   회원 예약 허용 시간대-->
  <input type="hidden" name="setting_member_reserve_time_prohibition"   id="id_setting_member_reserve_time_prohibition" value=""> <!--시간 숫자-->
  <input type="hidden" name="setting_member_reserve_prohibition"   id="id_setting_member_reserve_prohibition" value=""> <!--예약금지 활성 1, 비활성 0-->
  <input type="hidden" name="next_page" value = '{% url 'trainer:reserve_setting' %}'>
</form>


<div id="trainerWorkTimeSettingText" class="settingMenu wrap800">
  <p class="settingText">업무 시간 설정</p>
  <p class="settingText2">설정된 업무 시간만 일정표에 노출됩니다.</p>
</div>
<div id="trainerWorkTimeSetting" class="settingBox wrap800" style="z-index: 10;">
    <div class="iconText">
        <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 시작 시간</span>
      <div id="workTimehourSelect" class="dropdown">
            <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
            <ul id="ulWorkTimes" class="dropdown-menu pters_dropdown_custom ulTimes">
              <li><a data-time="0">오전 0시</a></li>
              <li><a data-time="1">오전 1시</a></li>
              <li><a data-time="2">오전 2시</a></li>
              <li><a data-time="3">오전 3시</a></li>
              <li><a data-time="4">오전 4시</a></li>
              <li><a data-time="5">오전 5시</a></li>
              <li><a data-time="6">오전 6시</a></li>
              <li><a data-time="7">오전 7시</a></li>
              <li><a data-time="8">오전 8시</a></li>
              <li><a data-time="9">오전 9시</a></li>
              <li><a data-time="10">오전 10시</a></li>
              <li><a data-time="11">오전 11시</a></li>
              <li><a data-time="12">오후 12시</a></li>
              <li><a data-time="13">오후 1시</a></li>
              <li><a data-time="14">오후 2시</a></li>
              <li><a data-time="15">오후 3시</a></li>
              <li><a data-time="16">오후 4시</a></li>
              <li><a data-time="17">오후 5시</a></li>
              <li><a data-time="18">오후 6시</a></li>
              <li><a data-time="19">오후 7시</a></li>
              <li><a data-time="20">오후 8시</a></li>
              <li><a data-time="21">오후 9시</a></li>
              <li><a data-time="22">오후 10시</a></li>
              <li><a data-time="23">오후 11시</a></li>
            </ul>
      </div>
    </div>


    <div class="iconText">
          <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 종료 시간</span>
          <div id="workTimehourSelect2" class="dropdown">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="ulWorkTimes2" class="dropdown-menu pters_dropdown_custom ulTimes">
                  <!--
                  <li><a data-time="0">오전 0시</a></li>
                  <li><a data-time="1">오전 1시</a></li>
                  <li><a data-time="2">오전 2시</a></li>
                  <li><a data-time="3">오전 3시</a></li>
                  <li><a data-time="4">오전 4시</a></li>
                  <li><a data-time="5">오전 5시</a></li>
                  <li><a data-time="6">오전 6시</a></li>
                  <li><a data-time="7">오전 7시</a></li>
                  <li><a data-time="8">오전 8시</a></li>
                  <li><a data-time="9">오전 9시</a></li>
                  <li><a data-time="10">오전 10시</a></li>
                  <li><a data-time="11">오전 11시</a></li>
                  <li><a data-time="12">오후 12시</a></li>
                  <li><a data-time="13">오후 1시</a></li>
                  <li><a data-time="14">오후 2시</a></li>
                  <li><a data-time="15">오후 3시</a></li>
                  <li><a data-time="16">오후 4시</a></li>
                  <li><a data-time="17">오후 5시</a></li>
                  <li><a data-time="18">오후 6시</a></li>
                  <li><a data-time="19">오후 7시</a></li>
                  <li><a data-time="20">오후 8시</a></li>
                  <li><a data-time="21">오후 9시</a></li>
                  <li><a data-time="22">오후 10시</a></li>
                  <li><a data-time="23">오후 11시</a></li>
                  <li><a data-time="24">오전 12시</a></li>
                  -->
                </ul>
          </div>
    </div>  
</div>

<div id="memberReserveSettingText" class="settingMenu wrap800">
  <p class="settingText">회원 예약 허용 시간대 설정</p>
  <p class="settingText2">회원이 직접 예약 가능한 시간대를 설정합니다.</p>
</div>
<div id="memberReserveSetting" class="settingBox wrap800">
    <div class="iconText">
        <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 시작 시간</span>
      <div id="hourSelect" class="dropdown">
            <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
            <ul id="ulTimes" class="dropdown-menu pters_dropdown_custom ulTimes">
              <li><a data-time="0">오전 0시</a></li>
              <li><a data-time="1">오전 1시</a></li>
              <li><a data-time="2">오전 2시</a></li>
              <li><a data-time="3">오전 3시</a></li>
              <li><a data-time="4">오전 4시</a></li>
              <li><a data-time="5">오전 5시</a></li>
              <li><a data-time="6">오전 6시</a></li>
              <li><a data-time="7">오전 7시</a></li>
              <li><a data-time="8">오전 8시</a></li>
              <li><a data-time="9">오전 9시</a></li>
              <li><a data-time="10">오전 10시</a></li>
              <li><a data-time="11">오전 11시</a></li>
              <li><a data-time="12">오후 12시</a></li>
              <li><a data-time="13">오후 1시</a></li>
              <li><a data-time="14">오후 2시</a></li>
              <li><a data-time="15">오후 3시</a></li>
              <li><a data-time="16">오후 4시</a></li>
              <li><a data-time="17">오후 5시</a></li>
              <li><a data-time="18">오후 6시</a></li>
              <li><a data-time="19">오후 7시</a></li>
              <li><a data-time="20">오후 8시</a></li>
              <li><a data-time="21">오후 9시</a></li>
              <li><a data-time="22">오후 10시</a></li>
              <li><a data-time="23">오후 11시</a></li>
            </ul>
      </div>
    </div>


    <div class="iconText">
          <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 종료 시간</span>
          <div id="hourSelect2" class="dropdown">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="ulTimes2" class="dropdown-menu pters_dropdown_custom ulTimes">
                  <!--
                  <li><a data-time="0">오전 0시</a></li>
                  <li><a data-time="1">오전 1시</a></li>
                  <li><a data-time="2">오전 2시</a></li>
                  <li><a data-time="3">오전 3시</a></li>
                  <li><a data-time="4">오전 4시</a></li>
                  <li><a data-time="5">오전 5시</a></li>
                  <li><a data-time="6">오전 6시</a></li>
                  <li><a data-time="7">오전 7시</a></li>
                  <li><a data-time="8">오전 8시</a></li>
                  <li><a data-time="9">오전 9시</a></li>
                  <li><a data-time="10">오전 10시</a></li>
                  <li><a data-time="11">오전 11시</a></li>
                  <li><a data-time="12">오후 12시</a></li>
                  <li><a data-time="13">오후 1시</a></li>
                  <li><a data-time="14">오후 2시</a></li>
                  <li><a data-time="15">오후 3시</a></li>
                  <li><a data-time="16">오후 4시</a></li>
                  <li><a data-time="17">오후 5시</a></li>
                  <li><a data-time="18">오후 6시</a></li>
                  <li><a data-time="19">오후 7시</a></li>
                  <li><a data-time="20">오후 8시</a></li>
                  <li><a data-time="21">오후 9시</a></li>
                  <li><a data-time="22">오후 10시</a></li>
                  <li><a data-time="23">오후 11시</a></li>
                  <li><a data-time="24">오전 12시</a></li>
                  -->
                </ul>
          </div>
    </div>  
</div>

<div id="memberDisableSettingText" class="settingMenu wrap800" style="margin-top:10px;">
  <p class="settingText">근접시간 예약 금지 설정</p>
  <p class="settingText2">회원이 근접해서 예약하는 것을 방지하는 설정입니다.</p>
  <div id="switch1" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
</div>
<div id="memberDisableSetting" class="settingBox wrap800" style="display: none;">
    <div class="iconText" style="width: 100%;">
        <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 시간 설정</span>
        <div id="timeSelect" class="dropdown">
              <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
              <ul id="ulTimes3" class="dropdown-menu pters_dropdown_custom ulTimes">
                <li><a data-time="1">1시간 전</a></li>
                <li><a data-time="2">2시간 전</a></li>
                <li><a data-time="3">3시간 전</a></li>
                <li><a data-time="4">4시간 전</a></li>
                <li><a data-time="5">5시간 전</a></li>
                <li><a data-time="6">6시간 전</a></li>
                <li><a data-time="7">7시간 전</a></li>
                <li><a data-time="8">8시간 전</a></li>
                <li><a data-time="9">9시간 전</a></li>
                <li><a data-time="10">10시간 전</a></li>
                <li><a data-time="11">11시간 전</a></li>
                <li><a data-time="12">12시간 전</a></li>
                <li><a data-time="24">1일 전</a></li>
                <li><a data-time="48">2일 전</a></li>
                <li><a data-time="72">3일 전</a></li>
              </ul>
        </div>
    </div> 
</div>

<div id="trainerPushSettingText" class="settingMenu wrap800">
      <span class="settingText">회원 예약 일시 정지</span>
      <p class="settingText2">회원이 예약하는 기능을 일시적으로 정지합니다.</p>
      <div id="switch2" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
</div>

<div class="popupBtn_mini">
  <button class="submitBtn _button_Prev">이전</button>
  <button class="submitBtn _button_Next">등록</button>
</div>



{% endblock %}


{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script>
          $('#page-base-addstyle').css('display','block')
          var select_all_check = false;


          $('#id_setting_member_available_time').val(Options.stoptimeStart+':00-'+Options.stoptimeEnd+':00')
          $('#id_setting_member_reserve_time_prohibition').val(Options.limit)
          $('#id_setting_member_reserve_prohibition').val(Options.reserve)

          $('#id_setting_member_reserve_time_prohibition').val(Options.limit)
          if(Options.limit>0){ //근접시간 예약 금지 설정
            $('#switch1').find('.switchball').removeClass('switchoff').addClass('switchon')
            $('#switch1').find('.switchback').addClass('switchon-back')
            $('#memberDisableSetting').show()
            $("#timeSelect button").addClass("dropdown_selected").text(Options.limit+"시간 전").val(Options.limit);
          }else if(Options.limit==0){
            $('#switch1').find('.switchball').removeClass('switchon')
            $('#switch1').find('.switchback').removeClass('switchon-back')
          }

          $('#id_setting_member_reserve_prohibition').val(Options.reserve)
          if(Options.reserve==1){ //회원 예약 일시 정지
            $('#switch2').find('.switchball').removeClass('switchoff').addClass('switchon')
            $('#switch2').find('.switchback').addClass('switchon-back')
          }else if(Options.reserve==0){
            $('#switch2').find('.switchball').removeClass('switchon').addClass('switchoff')
            $('#switch2').find('.switchback').removeClass('switchon-back')
          }



          

          /*업무 시간 설정 DB저장값으로 초기셋팅*/
          $('#id_setting_trainer_work_time').val(worktime)
          if(Options.workStartTime>12){
            var worktimestart = Number(Options.workStartTime)-12
            $("#workTimehourSelect button").addClass("dropdown_selected").text('오후'+worktimestart+"시").val(Options.workStartTime);
            fill_dropdown_reserve_endtime($('#workTimehourSelect button').val(),$('#ulWorkTimes2'))
          }else{
            $("#workTimehourSelect button").addClass("dropdown_selected").text('오전'+Options.workStartTime+"시").val(Options.workStartTime);
            fill_dropdown_reserve_endtime($('#workTimehourSelect button').val(),$('#ulWorkTimes2'))
          }

          if(Options.workEndTime>12){
            var worktimeend = Number(Options.workEndTime)-12
            $("#workTimehourSelect2 button").addClass("dropdown_selected").text('오후'+worktimeend+"시").val(Options.workEndTime);
          }else{
            $("#workTimehourSelect2 button").addClass("dropdown_selected").text('오전'+Options.workEndTime+"시").val(Options.workEndTime);
          }
          /*업무 시간 설정 DB저장값으로 초기셋팅*/

          /*회원 예약 허용 시간대 설정 DB저장값으로 초기셋팅*/
          $('#id_setting_member_available_time').val(stoptime)
          if(Options.stoptimeStart>12){
            var stoptimestart = Number(Options.stoptimeStart)-12
            $("#hourSelect button").addClass("dropdown_selected").text('오후'+stoptimestart+"시").val(Options.stoptimeStart);
            fill_dropdown_reserve_endtime($('#hourSelect button').val(),$('#ulTimes2'))
          }else{
            $("#hourSelect button").addClass("dropdown_selected").text('오전'+Options.stoptimeStart+"시").val(Options.stoptimeStart);
            fill_dropdown_reserve_endtime($('#hourSelect button').val(),$('#ulTimes2'))
          }

          if(Options.stoptimeEnd>12){
            var stoptimeend = Number(Options.stoptimeEnd)-12
            $("#hourSelect2 button").addClass("dropdown_selected").text('오후'+stoptimeend+"시").val(Options.stoptimeEnd);
          }else{
            $("#hourSelect2 button").addClass("dropdown_selected").text('오전'+Options.stoptimeEnd+"시").val(Options.stoptimeEnd);
          }
          /*회원 예약 허용 시간대 설정 DB저장값으로 초기셋팅*/


          $('#uptext2').text("예약 허용 시간대 설정")
          $('.pters_switch').click(function(){
            if($(this).find('.switchball').hasClass('switchoff')){
              $(this).find('.switchball').removeClass('switchoff').addClass('switchon')
              $(this).find('.switchback').addClass('switchon-back')
            }else{
              $(this).find('.switchball').removeClass('switchon').addClass('switchoff')
              $(this).find('.switchback').removeClass('switchon-back')
            }
          })

          $('#switch1').click(function(){
            if($(this).find('.switchball').hasClass('switchoff')){
              $('#memberDisableSetting').hide('fast','swing')
              $('#id_setting_member_reserve_time_prohibition').val(0)

            }else{
              $('#memberDisableSetting').show('fast','swing')
              $('#id_setting_member_reserve_time_prohibition').val($('#timeSelect button').val())
            }
            check_dropdown_selected();
          })

          $('#switch2').click(function(){
            if($(this).find('.switchball').hasClass('switchoff')){
              $('#id_setting_member_reserve_prohibition').val(0)
            }else{
              $('#id_setting_member_reserve_prohibition').val(1)
            }
            check_dropdown_selected();
          })

          


          function make_available_date_format(hourselect, hourselect2){
              var $hourselect = hourselect
              var $hourselect2 = hourselect2
              var starthour = $hourselect.find('button').val() 
              var endhour = $hourselect2.find('button').val() 
              if(starthour == "24"){
                var starthour = "23:59"
              }else{
                var starthour = $hourselect.find('button').val() + ':00'
              }
              if(endhour == "24"){
                var endhour = "23:59"
              }else{
                var endhour = $hourselect2.find('button').val() + ':00'
              }
              var availableTime = starthour+'-'+endhour
              return availableTime
          }

          

          /*업무 시간 설정*/
          $("#ulWorkTimes li a").click(function(){
                $("#workTimehourSelect button").addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
                var availableTime = make_available_date_format($('#workTimehourSelect'),$('#workTimehourSelect2'))
                $('#id_setting_trainer_work_time').val(availableTime)
                fill_dropdown_reserve_endtime($(this).attr('data-time'),$('#ulWorkTimes2'))

                check_dropdown_selected();
          });
          $(document).on('click',"#ulWorkTimes2 li a",function(){
                $("#workTimehourSelect2 button").addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
                var availableTime = make_available_date_format($('#workTimehourSelect'),$('#workTimehourSelect2'))
                $('#id_setting_trainer_work_time').val(availableTime)
                check_dropdown_selected();
          });
          /*업무 시간 설정*/

          /*회원 예약 허용 시간대 설정*/
          $("#ulTimes li a").click(function(){
                $("#hourSelect button").addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
                var availableTime = make_available_date_format($('#hourSelect'),$('#hourSelect2'))
                $('#id_setting_member_available_time').val(availableTime)
                fill_dropdown_reserve_endtime($(this).attr('data-time'),$('#ulTimes2'))

                check_dropdown_selected();
          });
          $(document).on('click',"#ulTimes2 li a",function(){
                $("#hourSelect2 button").addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
                var availableTime = make_available_date_format($('#hourSelect'),$('#hourSelect2'))
                $('#id_setting_member_available_time').val(availableTime)
                check_dropdown_selected();
          });
          /*회원 예약 허용 시간대 설정*/

          $("#ulTimes3 li a").click(function(){
                $("#timeSelect button").addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
                $('#id_setting_member_reserve_time_prohibition').val($('#timeSelect button').val())
                check_dropdown_selected();
          });

          function fill_dropdown_reserve_endtime(starttime, target){
            var array = []
            for(var i=Number(starttime)+1; i<=24; i++){
              if(i==24){
                array.push('<li><a data-time="'+i+'">오전 12시</a></li>')   
              }else if(i<12){
                array.push('<li><a data-time="'+i+'">오전 '+i+'시</a></li>')   
              }else if(i==12){
                array.push('<li><a data-time="'+i+'">오후 '+i+'시</a></li>')   
              }else if(i>=12){
                array.push('<li><a data-time="'+i+'">오후 '+(i-12)+'시</a></li>')   
              }
            }
            target.siblings('button').val('').text('')
            target.html(array.join(''))
          }



          $("#upbutton-check, ._button_Next").click(function(){
           if(select_all_check==true){
               document.getElementById('update-setting-reserve-form').submit();
           }else{
               
              //입력값 확인 메시지 출력 가능
           }
          })
          $('#upbutton-x, ._button_Prev').click(function(){
            location.href="/trainer/trainer_setting/"
          })

          function check_dropdown_selected(){ //회원명, 날짜, 진행시간, 시작시간을 모두 선택했을때 상단 Bar의 체크 아이콘 활성화(색상변경: 검은색-->초록색)
            var availableTime = $('#id_setting_member_available_time').val()
            var limit = $('#id_setting_member_reserve_time_prohibition').val()
            var reservedisable =  $('#id_setting_member_reserve_prohibition').val()
            var workTime = $('#id_setting_trainer_work_time').val()
            console.log(availableTime, limit, reservedisable)
            console.log(worktime, stoptime, Options.limit, Options.reserve)
            console.log($('#id_setting_trainer_work_time').val(),'asefasef')
            if(availableTime == stoptime && limit == Options.limit && reservedisable == Options.reserve && workTime == worktime){
              $("#upbutton-check").html("<img src='/static/user/res/ptadd/btn-complete.png' style='width:100%;'>");
              select_all_check=false;
              console.log('false')
            }else{
              $("#upbutton-check").html("<img src='/static/user/res/ptadd/btn-complete-checked.png' style='width:100%;'>");
              select_all_check=true;
              console.log('true')
            }
          }
        </script>
        <script>
              var lt_res_01 =  ['{{ lt_res_01 }}'];
              var lt_res_02 =  ['{{ lt_res_02 }}'];
              var lt_res_03 =  ['{{ lt_res_03 }}'];
        </script>
        
{% endblock %}