{% extends "trainer_base_setting_inner.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/pters.trainer.reserve.setting.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}



{% block content %}
<div id="memberReserveSettingText" class="settingMenu">
  <p class="settingText">회원 예약 허용 시간대 설정</p>
  <p class="settingText2">회원이 직접 예약 가능한 시간대를 설정합니다.</p>
</div>
<div id="memberReserveSetting" class="settingBox">
    <div class="iconText">
        <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 시작 시간</span>
        <div id="morningdaySelect" class="dropdown pters_dropdown_setting_custom" style="margin-left:62px;">
              <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
              <ul id="ulMorningDay" class="dropdown-menu pters_dropdown_custom">
                <li><a data-type="morning">오전</a></li>
                <li><a data-type="day">오후</a></li>
              </ul>
        </div>
      <div id="hourSelect" class="dropdown pters_dropdown_setting_custom">
            <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
            <ul id="ulTimes" class="dropdown-menu pters_dropdown_custom ulTimes">
              <li><a data-dur="1">1시</a></li>
              <li><a data-dur="2">2시</a></li>
              <li><a data-dur="3">3시</a></li>
              <li><a data-dur="4">4시</a></li>
              <li><a data-dur="5">5시</a></li>
              <li><a data-dur="6">6시</a></li>
              <li><a data-dur="7">7시</a></li>
              <li><a data-dur="8">8시</a></li>
              <li><a data-dur="9">9시</a></li>
              <li><a data-dur="10">10시</a></li>
              <li><a data-dur="11">11시</a></li>
              <li><a data-dur="12">12시</a></li>
            </ul>
      </div>
    </div>


    <div class="iconText">
          <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 종료 시간</span>
          <div id="morningdaySelect2" class="dropdown pters_dropdown_setting_custom" style="margin-left:62px;">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="ulMorningDay2" class="dropdown-menu pters_dropdown_custom">
                  <li><a data-type="morning">오전</a></li>
                  <li><a data-type="day">오후</a></li>
                </ul>
          </div>
          <div id="hourSelect2" class="dropdown pters_dropdown_setting_custom">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="ulTimes2" class="dropdown-menu pters_dropdown_custom ulTimes">
                  <li><a data-dur="1">1시</a></li>
                  <li><a data-dur="2">2시</a></li>
                  <li><a data-dur="3">3시</a></li>
                  <li><a data-dur="4">4시</a></li>
                  <li><a data-dur="5">5시</a></li>
                  <li><a data-dur="6">6시</a></li>
                  <li><a data-dur="7">7시</a></li>
                  <li><a data-dur="8">8시</a></li>
                  <li><a data-dur="9">9시</a></li>
                  <li><a data-dur="10">10시</a></li>
                  <li><a data-dur="11">11시</a></li>
                  <li><a data-dur="12">12시</a></li>
                </ul>
          </div>
    </div>  
</div>

<div id="memberDisableSettingText" class="settingMenu" style="margin-top:25px;">
  <p class="settingText">근접시간 예약 금지 설정</p>
  <p class="settingText2">회원이 근접해서 예약하는 것을 방지하는 설정입니다.</p>
  <div id="switch1" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
</div>
<div id="memberDisableSetting" class="settingBox" style="display: none;">
    <div class="iconText">
        <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 시간 설정</span>
        <div id="timeSelect" class="dropdown pters_dropdown_setting_custom" style="margin-left:62px;">
              <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
              <ul id="ulTimes3" class="dropdown-menu pters_dropdown_custom ulTimes">
                <li><a data-dur="1">1시간 전</a></li>
                <li><a data-dur="2">2시간 전</a></li>
                <li><a data-dur="3">3시간 전</a></li>
                <li><a data-dur="4">4시간 전</a></li>
                <li><a data-dur="5">5시간 전</a></li>
                <li><a data-dur="6">6시간 전</a></li>
                <li><a data-dur="7">7시간 전</a></li>
                <li><a data-dur="8">8시간 전</a></li>
                <li><a data-dur="9">9시간 전</a></li>
                <li><a data-dur="10">10시간 전</a></li>
                <li><a data-dur="11">11시간 전</a></li>
                <li><a data-dur="12">12시간 전</a></li>
                <li><a data-dur="24">1일 전</a></li>
                <li><a data-dur="48">2일 전</a></li>
                <li><a data-dur="72">3일 전</a></li>
              </ul>
        </div>
        <div class="dropdown pters_dropdown_setting_custom">
              예약 금지
        </div>
    </div> 
</div>

<div id="trainerPushSettingText" class="settingMenu">
      <span class="settingText">회원 예약 일시 정지</span>
      <p class="settingText2">회원이 예약하는 기능을 일시적으로 정지합니다.</p>
      <div id="switch2" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
</div>



{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
          var Options = { "stoptimeStart":21,     //강사가 설정한 예약불가 시간 (시작)
                          "stoptimeEnd":8,        //강사가 설정한 예약불가 시간 (종료)
                          "rsvDisableSet" : 'on', //현재시간으로부터 몇시간뒤에 일정 추가가능하게 할지 셋팅 on/off
                          "limit":4,              //현재시간으로부터 몇시간뒤에 일정 추가가능하게 할지 셋팅
                          "reserve":"disable",     //회원 일정 기능을 enable/disable
          }
        </script>
        <script type="text/javascript" src={% static "user/js/trainer/pters.trainer.setting.reserve.js" %}></script>
        
{% endblock %}