{% extends "trainer_base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/trainer/pters.trainer.setting.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
{% endblock %}



{% block content %}
<div id="upperImg">
        <span class="KRtext">서비스 설정</span><span class="JPtext">サービス設定</span><span class="ENtext">Settings</span>
</div>
<div id="settingMenuBox">
  <div id="myPage" class="settingMenu" onclick="location.href='{% url 'trainer:trainer_mypage' %}'">
    <img src="/static/user/res/icon-user-setting.png" alt="" class="settingImg">
    <span class="settingText"><span class="KRtext">마이페이지</span><span class="JPtext">マイページ</span><span class="ENtext">My page</span></span>
    <img src="/static/user/res/icon-setting-arrow.png" alt="" class="settingArrow">
  </div>

  <div id="pushSetting" class="settingMenu" onclick="location.href='{% url 'trainer:push_setting' %}'">
    <img src="/static/user/res/icon-setting.png" alt="" class="settingImg">
    <span class="settingText"><span class="KRtext">푸시 알림 설정</span><span class="JPtext">プッシュ通知</span><span class="ENtext">Push Alarm</span></span>
    <img src="/static/user/res/icon-setting-arrow.png" alt="" class="settingArrow">
  </div>

  <div id="reserveSetting" class="settingMenu" onclick="location.href='{% url 'trainer:reserve_setting' %}'">
    <img src="/static/user/res/ptadd/icon-clock.png" alt="" class="settingImg">
    <span class="settingText"><span class="KRtext">예약 관련</span><span class="JPtext">予約関連</span><span class="ENtext">Reservation</span></span>
    <img src="/static/user/res/icon-setting-arrow.png" alt="" class="settingArrow">
  </div>

  <div id="salesSetting" class="settingMenu" onclick="location.href='{% url 'trainer:sales_setting' %}'" style="display: none;">
    <img src="/static/user/res/icon-money.png" alt="" class="settingImg">
    <span class="settingText"><span class="KRtext">업무 설정</span><span class="JPtext">業務設定</span><span class="ENtext">Work</span></span>
    <img src="/static/user/res/icon-setting-arrow.png" alt="" class="settingArrow">
  </div>

  <div id="languageSetting" class="settingMenu" onclick="location.href='{% url 'trainer:language_setting' %}'">
    <img src="/static/user/res/icon-earth.png" alt="" class="settingImg">
    <span class="settingText">Language/言語/언어</span>
    <img src="/static/user/res/icon-setting-arrow.png" alt="" class="settingArrow">
  </div>
</div>

<div id="logout">
  <span onclick="location.href='{% url 'login:logout' %}'">로그아웃</span><img src="/static/user/res/icon-setting-arrow.png" alt="" class="logoutArrow">
</div>

{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src={% static "user/js/trainer/pters.trainer.setting.js" %}></script>
        <script>
          
        </script>
{% endblock %}