{% extends "trainer_base_setting_inner.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/pters.trainer.reserve.setting.css" %}>
        <link rel="stylesheet" href={% static "user/css/pters.add.style.css" %}>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}



{% block content %}
<div id="memberReserveSettingText" class="settingMenu">
  <p class="settingText">회원 예약 허용 시간대 설정</p>
  <p class="settingText2">회원이 직접 예약 가능한 시간대를 설정합니다.</p>
</div>
<div id="memberReserveSetting" class="settingBox">
    <div class="iconText">
      <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 시작 시간</span>
      <div id="morningdaySelect" class="dropdown pters_dropdown_setting_custom" style="margin-left:62px;">
            <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
            <ul id="ulMorningDay" class="dropdown-menu pters_dropdown_custom">
              <li><a data-type="morning">오전</a></li>
              <li><a data-type="day">오후</a></li>
            </ul>
      </div>
      <div id="hourSelect" class="dropdown pters_dropdown_setting_custom">
            <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
            <ul id="ulTimes" class="dropdown-menu pters_dropdown_custom ulTimes">
              <li><a data-dur="1">1시</a></li>
              <li><a data-dur="2">2시</a></li>
              <li><a data-dur="2">3시</a></li>
              <li><a data-dur="2">4시</a></li>
              <li><a data-dur="2">5시</a></li>
              <li><a data-dur="2">6시</a></li>
              <li><a data-dur="2">7시</a></li>
              <li><a data-dur="2">8시</a></li>
              <li><a data-dur="2">9시</a></li>
              <li><a data-dur="2">10시</a></li>
              <li><a data-dur="2">11시</a></li>
              <li><a data-dur="2">12시</a></li>
            </ul>
      </div>
    </div>


    <div class="iconText">
          <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 종료 시간</span>
          <div id="morningdaySelect2" class="dropdown pters_dropdown_setting_custom" style="margin-left:62px;">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="ulMorningDay2" class="dropdown-menu pters_dropdown_custom">
                  <li><a data-type="morning">오전</a></li>
                  <li><a data-type="day">오후</a></li>
                </ul>
          </div>
          <div id="hourSelect2" class="dropdown pters_dropdown_setting_custom">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="ulTimes2" class="dropdown-menu pters_dropdown_custom ulTimes">
                  <li><a data-dur="1">1시</a></li>
                  <li><a data-dur="2">2시</a></li>
                  <li><a data-dur="2">3시</a></li>
                  <li><a data-dur="2">4시</a></li>
                  <li><a data-dur="2">5시</a></li>
                  <li><a data-dur="2">6시</a></li>
                  <li><a data-dur="2">7시</a></li>
                  <li><a data-dur="2">8시</a></li>
                  <li><a data-dur="2">9시</a></li>
                  <li><a data-dur="2">10시</a></li>
                  <li><a data-dur="2">11시</a></li>
                  <li><a data-dur="2">12시</a></li>
                </ul>
          </div>
    </div>  
</div>
<div id="trainerPushSettingText" class="settingMenu" style="padding:0;">
      <span class="settingText3">회원 예약 일시 정지</span><div id="switch" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
</div>



{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src={% static "user/js/pters.trainer.reserve.setting.js" %}></script>
        
{% endblock %}