{% extends "trainer_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/pters.trainee.select.teacher.css" %}>
    <style type="text/css">
        body{
            background: #171717;
        }

        #upbutton, #upbutton-alarm{
            opacity: 0.3;
        }


        #myClassCreate{
            display: block;
            background: #f4f4f4;
            border:3px solid #fe4e65;
            border-radius: 9px;
            padding: 20px;
        }
        #myClassSetting{
            display: none;
            background: #f4f4f4;
            border:3px solid #fe4e65;
            border-radius: 9px;
            padding: 20px;
            margin-bottom: 30px;
        }
        #myClassHourSetting{
            display: none;
            background: #f4f4f4;
            border:3px solid #fe4e65;
            border-radius: 9px;
            padding: 20px;
        }
        #myClassHourSetting .detailSelectBox label{
            margin-top: 5px;
        }

        .options_wrap{
            display: table;
            width: 100px;
            height: 40px;
            border:1px solid #cccccc;
            background:#ffffff;
            color: #282828;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .options{
            display: table-cell;
            width: 50px;
            border:1px solid #cccccc;
            cursor: pointer;
        }
        .options span{
            line-height: 40px;
        }
        .active{
            background: #fe4e65;
            color: #ffffff;
        }
        .class_hour_explain{
            display: none;
        }
        .class_hour_explain img{
            width: 100%;
        }
        .class_hour_explain span{
            color: #fe4e65;
            font-weight: bold;
            margin-bottom: 5px;
        }


        .classSettingBox{
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            width: 400px;
        }
        .detailSelectBox{
            background: #fbfbfb;
            border:1px solid #cccccc;
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .detailSelectBox label{
            display: block;
            margin-top: 20px;
        }
        .memberConnectSettingBox{
            display: none;
            transition: 1s;
        }

        .dropdown{
            display: inline-block;
        }
        .dropdown button{
            min-width: 80px;
            height: 35px;
        }
        .dropdown ul{
            max-height: 140px;
            overflow-y: auto;
        }
        .dropdown li{
            cursor: pointer;
        }

        #dropdown_subject_1, #dropdown_subject_2{
            /*display: none;*/
        }
        .sub_subjectlist{
            display: none;
        }
        #id_input_subject_detail_nm_wrap{
            display: none;
        }

        .buttonsWrap{
            margin-top: 10px;
            text-align: center;
        }
        .buttonsWrap button:nth-child(1){
            width: 60px;
            background: #ffffff;
            color: #282828;
            border: 1px solid #282828;
        }
        .buttonsWrap button:nth-child(2){
            width: 60px;
            background: #fe4e65;
            color: #ffffff;
            border:1px solid #fe4e65;
        }


        button:focus{
            outline: unset;
        }
        .selected{
            background: #fe4e65;
            color: #ffffff;
            border-color:#fe4e65;
        }

        .fixfooter{
            display: none;
            z-index: -1;
        }

    </style>
{% endblock %}

{% block content %}

    <form action="{% url 'trainer:add_class_info' %}" id="add-class-info-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="center_id" id="center_id" value=""> <!--강좌 센터 -->
        <input type="hidden" name="subject_cd" id="subject_cd" value=""> <!--강좌 코드-->
        <input type="hidden" name="start_date" id="start_date" value=""> <!--강좌 시작 일자-->
        <input type="hidden" name="end_date" id="end_date" value=""> <!--강좌 종료 일자-->
        <input type="hidden" name="class_hour" id="class_hour" value="60"> <!--강좌 진행 시간 (60:1시간, 30:30분)-->
        <input type="hidden" name="start_hour_unit" id="start_hour_unit" value="1"> <!--강좌 시작 시간-->
        <input type="hidden" name="class_member_num" id="class_member_num" value="1"> <!--강좌 수업별 최대 허용 인원-->
        <input type="hidden" name="subject_detail_nm" id="id_subject_detail_nm" >
    </form>

    <form action="{% url 'trainer:update_setting_reserve' %}" id="update-setting-reserve-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="setting_trainer_work_time_available" id="id_setting_trainer_work_time" value="00:00-23:59"> <!--min 00:00 max 23:59  업무 시간 설정 -->
        <input type="hidden" name="setting_member_reserve_time_available" id="id_setting_member_available_time" value="00:00-23:59"> <!--min 00:00 max 23:59   회원 예약 허용 시간대-->
        <input type="hidden" name="setting_member_reserve_time_prohibition"   id="id_setting_member_reserve_time_prohibition" value="60"> <!--시간 숫자-->
        <input type="hidden" name="setting_member_cancel_time_prohibition"   id="id_setting_member_cancel_time_prohibition" value="60"> <!--시간 숫자-->
        <input type="hidden" name="setting_member_reserve_prohibition"   id="id_setting_member_reserve_prohibition" value="1"> <!--예약금지 활성 1, 비활성 0-->
        <input type="hidden" name="next_page" value = '{% url 'trainer:get_error_info' %}'>
    </form>

    <div id="myClassCreate" class="classSettingBox">
        <label>1. 새로운 프로그램 만들기</label>
        <div>
            <p>나의 프로그램을 추가합니다. <br>
                (예: 웨이트 트레이닝, 요가, 필라테스, 발레, 미술, 과외 등)
            </p>
            <p>프로그램은 설정에서 언제든지 더 추가 할 수 있습니다.</p>
        </div>
        <div>
            <label>만들고자 하는 프로그램명을 입력 해주세요.</label>
        </div>

        {% if center_list %}
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="center_list" class="dropdown-menu">
                    <li><a data-time="">선택 안함</a></li>
                    {% for center_info in center_list %}
                        <li><a data-time="{{ center_info.center_id }}">{{ center_info.center.center_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="dropdown" id="dropdown_subject_{{ forloop.counter }}">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
            <ul id="class_type" class="dropdown-menu">
                {% for class_type_cd_info in class_type_cd_data %}
                    <li><a data-time="{{ class_type_cd_info.common_cd }}" data-count="{{ forloop.counter }}">{{ class_type_cd_info.common_cd_nm }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% for class_type_cd_info in class_type_cd_data %}
            {% if class_type_cd_info.common_cd != 'ETC' %}
                <div class="dropdown sub_subjectlist" id="dropdown_subject_{{ forloop.counter }}">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                    <ul id="subject_type_{{ forloop.counter }}" class="dropdown-menu" display="none">
                        {% for subject_type in class_type_cd_info.subject_type_cd %}
                            <li><a data-time="{{ subject_type.common_cd }}">{{ subject_type.common_cd_nm }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="dropdown" id="id_input_subject_detail_nm_wrap">
                    <input type="text" name="input_subject_detail_nm" id="id_input_subject_detail_nm" maxlength="12" placeholder="상세 프로그램명">
                </div>
            {% endif %}
        {% endfor %}
        <div class="buttonsWrap">
            <button onclick="goNext('home')">취소</button>
            <button onclick="goNext('submit')">다음</button>
        </div>

    </div>

    <div id="myClassSetting" class="classSettingBox">
        <label>2. 프로그램 설정</label>
        <div>
            <p>프로그램의 초기 정보를 설정합니다. <br>
            </p>
            <p>설정에서 언제든 변경할 수 있습니다.</p>
        </div>
        <div class="detailSelectBox">
            <label>a) 나의 업무시간 설정</label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="myWorkTimeStart" class="dropdown-menu">
                    <li><a data-time="0">오전 0시</a></li>
                    <li><a data-time="1">오전 1시</a></li>
                    <li><a data-time="2">오전 2시</a></li>
                    <li><a data-time="3">오전 3시</a></li>
                    <li><a data-time="4">오전 4시</a></li>
                    <li><a data-time="5">오전 5시</a></li>
                    <li><a data-time="6">오전 6시</a></li>
                    <li><a data-time="7">오전 7시</a></li>
                    <li><a data-time="8">오전 8시</a></li>
                    <li><a data-time="9">오전 9시</a></li>
                    <li><a data-time="10">오전 10시</a></li>
                    <li><a data-time="11">오전 11시</a></li>
                    <li><a data-time="12">오후 12시</a></li>
                    <li><a data-time="13">오후 1시</a></li>
                    <li><a data-time="14">오후 2시</a></li>
                    <li><a data-time="15">오후 3시</a></li>
                    <li><a data-time="16">오후 4시</a></li>
                    <li><a data-time="17">오후 5시</a></li>
                    <li><a data-time="18">오후 6시</a></li>
                    <li><a data-time="19">오후 7시</a></li>
                    <li><a data-time="20">오후 8시</a></li>
                    <li><a data-time="21">오후 9시</a></li>
                    <li><a data-time="22">오후 10시</a></li>
                    <li><a data-time="23">오후 11시</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="myWorkTimeEnd" class="dropdown-menu">

                </ul>
            </div>

            <label>b) 나의 회원님 예약 기능 여부</label>
            <p>'회원 예약 기능 끄기'로 설정시 나의 회원님은 스케쥴 확인만 가능하고,<br> 예약 및 취소는 불가능 합니다.</p>
            <button class="reserveOnOffToggle" data-onoff='0'>회원 예약 기능 켜기</button>
            <button class="reserveOnOffToggle" data-onoff='1'>회원 예약 기능 끄기</button>

            <div class="memberConnectSettingBox">
                <label>c) 나의 회원님 예약 가능 시간대</label>
                <p>나의 회원님께서 <span style="color:#fe4e65;font-weight:bold;font-size:12.5px;">일정을 예약하거나 취소할 수 있는 시간대</span>를 설정합니다.</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                    <ul id="myReserveTimeStart" class="dropdown-menu">
                        <li><a data-time="0">오전 0시</a></li>
                        <li><a data-time="1">오전 1시</a></li>
                        <li><a data-time="2">오전 2시</a></li>
                        <li><a data-time="3">오전 3시</a></li>
                        <li><a data-time="4">오전 4시</a></li>
                        <li><a data-time="5">오전 5시</a></li>
                        <li><a data-time="6">오전 6시</a></li>
                        <li><a data-time="7">오전 7시</a></li>
                        <li><a data-time="8">오전 8시</a></li>
                        <li><a data-time="9">오전 9시</a></li>
                        <li><a data-time="10">오전 10시</a></li>
                        <li><a data-time="11">오전 11시</a></li>
                        <li><a data-time="12">오후 12시</a></li>
                        <li><a data-time="13">오후 1시</a></li>
                        <li><a data-time="14">오후 2시</a></li>
                        <li><a data-time="15">오후 3시</a></li>
                        <li><a data-time="16">오후 4시</a></li>
                        <li><a data-time="17">오후 5시</a></li>
                        <li><a data-time="18">오후 6시</a></li>
                        <li><a data-time="19">오후 7시</a></li>
                        <li><a data-time="20">오후 8시</a></li>
                        <li><a data-time="21">오후 9시</a></li>
                        <li><a data-time="22">오후 10시</a></li>
                        <li><a data-time="23">오후 11시</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                    <ul id="myReserveTimeEnd" class="dropdown-menu">

                    </ul>
                </div>

                <label>d) 근접 예약 제한 설정</label>
                <p>내 회원님이 시간에 <span style="color:#fe4e65;font-weight:bold;font-size:12.5px;">임박해서 예약 하는 것을 방지</span>합니다.</p>
                <p>ex)'2시간전' 설정시 17:00에 예약하기 위해서는 <br> 적어도 15:00 전에 예약 해야합니다.</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                    <ul id="myReserveProhibitTime" class="dropdown-menu">
                        <li><a data-time="1">1시간 전</a></li>
                        <li><a data-time="2">2시간 전</a></li>
                        <li><a data-time="3">3시간 전</a></li>
                        <li><a data-time="4">4시간 전</a></li>
                        <li><a data-time="5">5시간 전</a></li>
                        <li><a data-time="6">6시간 전</a></li>
                        <li><a data-time="7">7시간 전</a></li>
                        <li><a data-time="8">8시간 전</a></li>
                        <li><a data-time="9">9시간 전</a></li>
                        <li><a data-time="10">10시간 전</a></li>
                        <li><a data-time="11">11시간 전</a></li>
                        <li><a data-time="12">12시간 전</a></li>
                        <li><a data-time="24">1일 전</a></li>
                        <li><a data-time="48">2일 전</a></li>
                        <li><a data-time="72">3일 전</a></li>
                    </ul>
                </div>

                <label>e) 근접 취소 제한 설정</label>
                <p>내 회원님이 약속된 시간에 <span style="color:#fe4e65;font-weight:bold;font-size:12.5px;">임박해서 취소 하는 것을 방지</span>합니다.</p>
                <p>ex)'2시간전' 설정시 17:00 일정을 취소하기 위해서는 <br> 적어도 15:00 전에 취소 해야합니다.</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                    <ul id="myCancelProhibitTime" class="dropdown-menu">
                        <li><a data-time="1">1시간 전</a></li>
                        <li><a data-time="2">2시간 전</a></li>
                        <li><a data-time="3">3시간 전</a></li>
                        <li><a data-time="4">4시간 전</a></li>
                        <li><a data-time="5">5시간 전</a></li>
                        <li><a data-time="6">6시간 전</a></li>
                        <li><a data-time="7">7시간 전</a></li>
                        <li><a data-time="8">8시간 전</a></li>
                        <li><a data-time="9">9시간 전</a></li>
                        <li><a data-time="10">10시간 전</a></li>
                        <li><a data-time="11">11시간 전</a></li>
                        <li><a data-time="12">12시간 전</a></li>
                        <li><a data-time="24">1일 전</a></li>
                        <li><a data-time="48">2일 전</a></li>
                        <li><a data-time="72">3일 전</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="buttonsWrap">
            <button onclick="goNext('-1')">이전</button>
            <button onclick="goNext('1')">다음</button>
        </div>

    </div>

    <div id="myClassHourSetting" class="classSettingBox">
        <label>3. 시간 단위 설정</label>
        <div>
            <p>프로그램의 기본 시간 단위를 설정합니다. <br>
            </p>
            <p>설정한 단위에 맞춰 달력이 변경 됩니다.</p>
        </div>
        <div class="detailSelectBox">
            <label>시간 단위 선택</label>
            <div class="options_wrap">
                <div class="options" data-unit="30"><span>30분</span></div>
                <div class="options" data-unit="60"><span>1시간</span></div>
            </div>
        </div>
        <div class="detailSelectBox class_hour_explain" id="class_hour_30">
            <img src="/static/user/res/class_hour_30.png">
            <p>레슨을 30분 단위로 입력합니다.</p>
            <span>※횟수 차감 기준</span>
            <p>30분을 개별로 2번 입력하면 횟수가 2회 차감됩니다.</p>
            <p>'진행시간'을 1시간으로 입력해도 횟수는 1회 차감됩니다.</p>
            <p>회원님께서는 1회 30분(기본값)씩만 예약이 가능합니다.<br>회원이 예약할 수 있는 기본 예약시간 단위 기본값은 설정에서 변경할 수 있습니다.</p>
        </div>
        <div class="detailSelectBox class_hour_explain" id="class_hour_60">
            <img src="/static/user/res/class_hour_60.png">
            <p>레슨을 1시간 단위로 입력합니다.</p>
            <span>※횟수 차감 기준</span>
            <p>1시간을 개별로 2번 입력하면 횟수가 2회 차감됩니다.</p>
            <p>'진행시간'을 2시간으로 입력해도 횟수는 1회 차감됩니다.</p>
            <p>회원님께서는 1회 1시간(기본값)씩만 예약이 가능합니다.<br>회원이 예약할 수 있는 예약시간 단위 기본값은 설정에서 변경할 수 있습니다.</p>
        </div>
        <div class="buttonsWrap">
            <button  onclick="goNext('-2')">이전</button>
            <button onclick="goNext('submit')">완료</button>
        </div>
    </div>


{% endblock %}

{% block local_js_footer %}
    <!-- for db by hk.kim 170805-->
    <script>
        $('#uptext').text('프로그램 추가')
        /*
         $('#popup_lecture_select').show().css('top','40%')
         ajax_read_lecture_info_from_db()
         */
        var subject_selected = '';
        $('#pcver').css('background','#e2e2e2')
        $('.centermenu_text').css('color','#b1b1b1').attr('onclick','')
        $('#loginInfo').attr('onclick','')
        $('.button_close_popup').hide()

        $('#upbutton').attr('onclick','')
        $('#upbutton img').css('opacity','0.2')

        $('.reserveOnOffToggle[data-onoff=0]').click(function(){
            $('.memberConnectSettingBox').show()
        })

        $('.reserveOnOffToggle[data-onoff=1]').click(function(){
            $('.memberConnectSettingBox').hide()
        })


        //시간 설정 관련 드랍다운 채우기

        /*드랍다운 설정*/
        $(document).on('click','.dropdown li a',function(){
            var selectedValue = $(this).attr('data-time');
            var selectedName  = $(this).text();
            $(this).parents('ul').siblings('button').val(selectedValue).text(selectedName)
        })
        /*드랍다운 설정*/

        $(document).on('click','#class_type a',function(){
            if($(this).attr('data-time') != "ETC" ){
                var count = $(this).attr('data-count');
                $('.sub_subjectlist').hide();
                $('#id_input_subject_detail_nm_wrap').hide();
                $(`#dropdown_subject_${count}`).css('display','inline-block');
                var sub_subjectlist_selected_val = $(`#dropdown_subject_${count}`).find('button').val();
                $('#subject_cd').val(sub_subjectlist_selected_val);
            }else{
                $('.sub_subjectlist').hide();
                $('#id_input_subject_detail_nm_wrap').css('display','inline-block');
                $('#subject_cd').val('ETC');
            }
        });

        $(document).on('click','#subject_type_1 li a, #subject_type_2 li a',function(){
            var classcode = $(this).attr('data-time');
            $('#subject_cd').val(classcode);
            subject_selected = classcode;
        });

        $(document).on('click','#center_list li a',function(){
            var centercode = $(this).attr('data-time');
            $('#center_id').val(centercode);
        });
        /*과목 선택*/

        $(document).on('click','#class_type li a',function(){
            $('#id_subject_detail_nm').attr('value','');
            $('#id_input_subject_detail_nm').val('');
        });

        /*업무 시간 설정*/
        $("#myWorkTimeStart li a").click(function(){
            $("#myWorkTimeStart").siblings('button').addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
            var availableTime = make_available_date_format($('#myWorkTimeStart'),$('#myWorkTimeEnd'))
            $('#id_setting_trainer_work_time').val(availableTime)
            fill_dropdown_reserve_endtime($(this).attr('data-time'),$('#myWorkTimeEnd'))
        });
        $(document).on('click',"#myWorkTimeEnd li a",function(){
            $("#myWorkTimeEnd").siblings('button').addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
            var availableTime = make_available_date_format($('#myWorkTimeStart'),$('#myWorkTimeEnd'))
            $('#id_setting_trainer_work_time').val(availableTime)
        });
        /*업무 시간 설정*/

        /*회원 예약 허용 시간대 설정*/
        $("#myReserveTimeStart li a").click(function(){
            $("#myReserveTimeStart").siblings('button').addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
            var availableTime = make_available_date_format($('#myReserveTimeStart'),$('#myReserveTimeEnd'))
            $('#id_setting_member_available_time').val(availableTime)
            fill_dropdown_reserve_endtime($(this).attr('data-time'),$('#myReserveTimeEnd'))

        });
        $(document).on('click',"#myReserveTimeEnd li a",function(){
            $("#myReserveTimeEnd").siblings('button').addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-time'));
            var availableTime = make_available_date_format($('#myReserveTimeStart'),$('#myReserveTimeEnd'))
            $('#id_setting_member_available_time').val(availableTime)

        });
        /*회원 예약 허용 시간대 설정*/

        /*회원 근접 예약 금지*/
        $('#myReserveProhibitTime li a').click(function(){
            var prohibit_time = Number($(this).attr('data-time'))*60
            $('#id_setting_member_reserve_time_prohibition').val(prohibit_time)
        })
        /*회원 근접 예약 금지*/

        /*회원 근접 취소 금지*/
        $('#myCancelProhibitTime li a').click(function(){
            var prohibit_time = Number($(this).attr('data-time'))*60
            $('#id_setting_member_cancel_time_prohibition').val(prohibit_time)
        })
        /*회원 근접 취소 금지*/


        $('.reserveOnOffToggle').click(function(){
            $(this).addClass('selected')
            $(this).siblings('.reserveOnOffToggle').removeClass('selected')
            $('#id_setting_member_reserve_prohibition').val($(this).attr('data-onoff'))
        })
        //시간 설정 관련 드랍다운 채우기


        //클래스 시간 단위 설정
        $('.options').click(function(){
            $(this).addClass('active')
            $(this).siblings('.options').removeClass('active')
            var class_hour = $(this).attr('data-unit')
            $('#class_hour_'+class_hour).siblings('.class_hour_explain').hide()
            $('#class_hour_'+class_hour).show()
            $('#class_hour').val(class_hour)
        })
        //클래스 시간 단위 설정


        function make_available_date_format(button1, button2){
            var starthour = button1.siblings('button').val()
            var endhour = button2.siblings('button').val()
            console.log(starthour,endhour)
            if(starthour == "24"){
                var starthour = "23:59"
            }else{
                var starthour = button1.siblings('button').val() + ':00'
            }
            if(endhour == "24"){
                var endhour = "23:59"
            }else{
                var endhour = button2.siblings('button').val() + ':00'
            }
            var availableTime = starthour+'-'+endhour
            return availableTime
        }

        function fill_dropdown_reserve_endtime(starttime, ultarget){
            var array = []
            for(var i=Number(starttime)+1; i<=24; i++){
                if(i==24){
                    array.push('<li><a data-time="'+i+'">오전 12시</a></li>')
                }else if(i<12){
                    array.push('<li><a data-time="'+i+'">오전 '+i+'시</a></li>')
                }else if(i==12){
                    array.push('<li><a data-time="'+i+'">오후 '+i+'시</a></li>')
                }else if(i>=12){
                    array.push('<li><a data-time="'+i+'">오후 '+(i-12)+'시</a></li>')
                }
            }
            ultarget.siblings('button').val('').text('')
            ultarget.html(array.join(''))
        }

        function goNext(option){
            if(option == "0"){
                if($('#subject_cd').val().length>0){
                    $('#myClassCreate').css('display','none')
                    $('#myClassSetting').css('display','block')
                }else{
                    alert('프로그램을 선택 해주세요.')
                }
            }else if(option == "1"){
                if($('#id_setting_trainer_work_time').val().length>0){
                    var stime = $('#id_setting_trainer_work_time').val().split(':')[0]
                    var etime = $('#id_setting_trainer_work_time').val().split('-')[1].split(':')[0]
                    if(stime.length == 0){
                        alert('업무 시작 시각을 입력해주세요.')
                    }else if(etime.length == 0){
                        alert('업무 종료 시각을 입력해주세요.')
                    }else{
                        if($('#id_setting_member_reserve_prohibition').val().length==0){
                            alert('예약 기능 사용 유뮤를 선택 해주세요')
                        }else{
                            if($('#id_setting_member_reserve_prohibition').val()==1){
                                $('#myClassSetting').css('display','none')
                                $('#myClassHourSetting').css('display','block')
                            }else if($('#id_setting_member_reserve_prohibition').val() == 0){ //예약 활성
                                if($('#id_setting_member_available_time').val().length==0){
                                    alert('예약 가능 시간대를 선택 해주세요')
                                }else if($('#id_setting_member_available_time').val().length>0 && $('#id_setting_member_available_time').val().split(':')[0].length == 0){
                                    alert('예약 가능 시작 시각을 입력 해주세요.')
                                }else if($('#id_setting_member_available_time').val().length>0 && $('#id_setting_member_available_time').val().split('-')[1].split(':')[0].length == 0){
                                    alert('예약 가능 종료 시각을 입력 해주세요.')
                                }else{
                                    if($('#id_setting_member_reserve_time_prohibition').val().length==0){
                                        alert('근접 예약 제한 설정을 해주세요')
                                    }else if($('#id_setting_member_cancel_time_prohibition').val().length==0){
                                        alert('근접 취소 제한 설정을 해주세요')
                                    }else{
                                        $('#myClassSetting').css('display','none')
                                        $('#myClassHourSetting').css('display','block')
                                    }
                                }
                            }
                        }
                    }
                }else if($('#id_setting_trainer_work_time').val().length == 0){
                    alert('업무시간을 설정해 주세요.')
                }else if($('#id_setting_member_reserve_prohibition').val().length==0){
                    alert('예약 기능 사용 유뮤를 선택 해주세요')
                }
            }else if(option == "submit"){
                if($('#class_hour').val() == '60' || $('#class_hour').val() == '30'){
                    ajax_send_centercode_subjectcode()
                }else{
                    alert('단위를 선택해 주세요.')
                }
            }else if(option == "-1"){
                $('#myClassCreate').css('display','block')
                $('#myClassSetting').css('display','none')
            }else if(option == "-2"){
                $('#myClassSetting').css('display','block')
                $('#myClassHourSetting').css('display','none')
            }else if(option == "home"){
{#                location.href="{% url 'trainer:index' %}"#}
                location.href="{{ cancel_redirect_url }}"
            }
        }

        function ajax_send_centercode_subjectcode(){
            console.log($('#add-class-info-form').serialize())
            $.ajax({
                url: '/trainer/add_class_info/',
                data: $('#add-class-info-form').serialize(),
                dataType : 'html',
                type : 'POST',

                beforeSend:function(){
                    beforeSend()
                },

                success:function(data){
                    console.log(data)
                    var jsondata = JSON.parse(data)
                    if(jsondata.messageArray.length>0){
                        $('#errorMessageBar').show()
                        $('#errorMessageText').text(jsondata.messageArray)
                    }else{
                        ajax_send_reserve_initial_setting()
                    }
                },
                complete:function(){
                    completeSend()
                },

                error:function(){
                    $('#errorMessageBar').show()
                    $('#errorMessageText').text('통신 에러: 관리자 문의')
                }
            })
        }

        function ajax_send_reserve_initial_setting(){
            $.ajax({
                url: '/trainer/update_setting_reserve/',
                data: $('#update-setting-reserve-form').serialize(),
                dataType : 'html',
                type : 'post',

                beforeSend:function(){
                    beforeSend()
                },

                success:function(data){
                    var jsondata = JSON.parse(data)
                    if(jsondata.messageArray.length>0){
                        $('#errorMessageBar').show()
                        $('#errorMessageText').text(jsondata.messageArray)
                    }else{
                        alert('새로운 프로그램이 등록 되었습니다.')
                        location.href="{% url 'trainer:trainer_main' %}"
                    }
                },
                complete:function(){
                    completeSend()
                },

                error:function(){
                    $('#errorMessageBar').show()
                    $('#errorMessageText').text('통신 에러: 관리자 문의')
                }
            })
        }

        $('#id_input_subject_detail_nm').keyup(function(){
            var userinput = $(this).val();
            $('#id_subject_detail_nm').attr('value',userinput);
            $('#subject_cd').val('ETC')
        });
    </script>

{% endblock %}
