<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>

    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script', 'dataLayer', 'GTM-WG2KK6D');

    </script>
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
    <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 당구, 골프 등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}PTERS{% endblock %}</title>

    <link rel="icon" href={% static_url "common/favicon.ico" %}>
    <link rel="apple-touch-icon" href={% static_url "common/favicon-48.png" %}>
    <link rel="shortcut icon" href={% static_url "common/favicon-48.png" %}>

    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.fundamental.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.object.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.base.css" %}>
    
    
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.component.common.css" %}>
    <link rel="stylesheet" href={% static_url "common/css/swiper.min.css" %}>
    <link rel="stylesheet" href={% static_url "common/css/croppie.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.base.css" %}>

    <!-- 페이지 CSS 로드 -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/page/pters.trainer.func.home.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/page/pters.trainer.func.calendar.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/page/pters.trainer.func.member.css" %}>
    <!-- <link rel="stylesheet" href={% static_url "user/css/trainer/page/pters.trainer.func.ticket.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/page/pters.trainer.func.lecture.css" %}> -->
    <link rel="stylesheet" href={% static_url "user/css/trainer/page/pters.trainer.func.alarm.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/page/pters.trainer.func.menu.css" %}>
    <!-- 페이지 CSS 로드 -->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/iscroll/iscroll-probe.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/croppie.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/swiper.min.js" %}></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>

    <script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.const.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.fundamental.js" %}></script>

    <style>
        
        
    </style>
    <!-- <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.dark_mode.css" %}> -->
    {% block local_css %}
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe async src="https://www.googletagmanager.com/ns.html?id=GTM-WG2KK6D"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<img src={% static_url "common/loading.svg" %} alt="" class="ajax_loading_image">

{% block navbar %}
{% endblock %}
<div id="debug_toolbar" style="position: fixed;;top:0;font-size:13px;background:#fe4e65;background-color:#fe4e65ba;color:blue;width:100%;left:0;z-index:1500"></div>

<div id="base">
    <section id="section_side">
        <div class="top_logo" style="text-align: center;">
            <span style='color:#fe4e65; width:64px; font-size:25px; font-weight:bold; text-align:center;' id="top_logo_image">PTERS</span>
            <!--<img src="/static/common/icon/logo/PTERS_logo_full.png" alt="" style="width: 64px;" id="top_logo_image">-->
        </div>
        <div class="side_menu">
            <div class="side_menu_item" onclick="sideGoPage('home')" id="side_home">
                <img src={% static_url "common/icon/tab_bar/icon_home_off.png" %} alt=""><span class="sidemenu_text">홈</span>
            </div>
            <div class="side_menu_item" onclick="sideGoPage('calendar')" id="side_calendar">
                <img src={% static_url "common/icon/tab_bar/icon_calendar_off.png" %} alt=""><span class="sidemenu_text">일정</span>
            </div>
            <div class="side_menu_item" onclick="sideGoPage('member')" id="side_member">
                <img src={% static_url "common/icon/tab_bar/icon_member_off.png" %} alt=""><span class="sidemenu_text">회원</span>
            </div>
            <div class="side_menu_item" onclick="sideGoPage('lecture_page_type')" id="side_lecture_page_type">
                <img src={% static_url "common/icon/icon_lecture_grey.png" %} alt=""><span class="sidemenu_text">수업</span>
            </div>
            <div class="side_menu_item" onclick="sideGoPage('ticket_page_type')" id="side_ticket_page_type">
                <img src={% static_url "common/icon/icon_ticket_grey.png" %} alt=""><span class="sidemenu_text">수강권</span>
            </div>
            <div class="side_menu_item" onclick="sideGoPopup('statistics')" id="side_statistics">
                <img src={% static_url "common/icon/icon_statistics_grey.png" %} alt=""><span class="sidemenu_text">통계</span>
            </div>
            <div class="side_menu_item" onclick="sideGoPage('settings')" id="side_settings">
                <img src={% static_url "common/icon/icon_setting_worktime_grey.png" %} alt=""><span class="sidemenu_text">설정</span>
            </div>
            <div class="side_menu_item" onclick="sideGoPage('service')" id="side_service">
                <img src={% static_url "common/icon/tab_bar/icon_menu_off.png" %} alt=""><span class="sidemenu_text">서비스</span>
            </div>
        </div>

    </section>
    <section id="section_center">
        <div id="section_up_menu">
            <div style="display:inline-block;line-height:60px;cursor: pointer;" onclick="toggle_sidemenu(this)">
                <img src="/static/common/icon/icon_toggle_sidemenu.png" alt="" style="width:30px;transform:rotate(90deg);vertical-align:middle;padding:15px;transition:0.3s">
            </div>
            <div class="up_menu_tool">
                <div style="flex:1 0 140px" id="up_menu_user_info" onclick="sideGoPopup('mypage')"><img src={% static_url "common/loading.svg" %} alt="" class="up_menu_img"><span>불러오는 중</span></div>
                <div style="flex:1 0 0;position:relative"><img src="/static/common/icon/tab_bar/icon_alarm_off.png" alt="" class="up_menu_img" onclick="sideGoPage('alarm')"><div class="new_alarm_indicator" style="top:15px;right:5px;"></div></div>
                <div style="flex:1 0 0"><img src="/static/common/icon/icon_help_black.png" alt="" class="up_menu_img" onclick="sideGoPopup('helper')"></div>
            </div>
        </div>
        <div id="section_content">
            <div id="shade_for_popup_basic" style="position: absolute;;top:0;left:0;height:100%;width:100%;background-color:#282828;opacity:0.5; display: none;" 
            onclick="layer_popup.close_layer_popup();"></div>
            <div id="content_wrapper">
                {% include 'popup/trainer_popup_basic.html' %}
                {% include 'popup/trainer_popup_pages.html' %}
                {% include 'popup/trainer_popup_user_input.html' %}
                <div id="root_content">
                    {% block content %}
                    {% endblock %}
                </div>
                <nav id="root_nav">
                    <div class="obj_table_raw" style="height:100%;position:relative;">
                        <!-- <div id="nav_indicator" style="position:absolute;left:0px;top:0px;height:3px;background-color:#fe4e65;width:20%"></div> -->
                        <div class="obj_table_cell_x5 nav_item" onclick="sideGoPage('home', this)" id="home">
                            <div class="nav_img"><img src={% static_url "common/icon/tab_bar/icon_home_off.png" %} alt=""></div>
                            <!-- <div class="nav_text">홈</div> -->
                        </div>
                        <div class="obj_table_cell_x5 nav_item" onclick="sideGoPage('calendar', this)" id="calendar">
                            <div class="nav_img"><img src={% static_url "common/icon/tab_bar/icon_calendar_off.png" %} alt=""></div>
                            <!-- <div class="nav_text">일정</div> -->
                        </div>
                        <div class="obj_table_cell_x5 nav_item" onclick="sideGoPage('member', this)" id="member">
                            <div class="nav_img"><img src={% static_url "common/icon/tab_bar/icon_member_off.png" %} alt=""></div>
                            <!-- <div class="nav_text">회원</div> -->
                        </div>
                        <div class="obj_table_cell_x5 nav_item" onclick="sideGoPage('alarm', this)" id="alarm">
                            <div class="nav_img"><img src={% static_url "common/icon/tab_bar/icon_alarm_off.png" %} alt=""><div class="new_alarm_indicator"></div></div>
                            
                            <!-- <div class="nav_text">알림</div> -->
                        </div>
                        <div class="obj_table_cell_x5 nav_item" onclick="sideGoPage('menu', this)" id="menu">
                            <div class="nav_img"><img src={% static_url "common/icon/tab_bar/icon_menu_off.png" %} alt=""></div>
                            <!-- <div class="nav_text">전체</div> -->
                        </div>
                    </div>
                </nav>
                <nav id="root_nav_quick">
                    <div onclick="root_content_quick_up();"><img src={% static_url "common/icon/icon_arrow_up.png" %}></div>
                </nav>
            </div>
        </div>
    </section>
</div>

<footer>

</footer>


{% block footer %}

{% endblock %}

{% block local_js_footer %}
{% endblock %}


<!-- 페이지 스크립트 로드-->
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.home.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.calendar.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.ticket.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.lecture.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.member.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.menu.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.menu_settings.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.menu_service.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/page/pters.trainer.func.alarm.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.component.common.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.base.js" %}></script>
<!-- 페이지 스크립트 로드-->

<!-- ajax 팝업 JS 로드 -->
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.plan_view.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.plan_add.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.plan_repeat_list.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.member_add.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.member_search.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.member_view.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.lecture_list.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.lecture_add.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.lecture_view.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.ticket_list.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.ticket_add.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.ticket_view.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.program_list.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.program_add.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.program_view.js" %}></script>

<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.member_schedule_history.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.member_ticket_history.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.member_ticket_modify.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.member_ticket_refund.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.member_attend.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.statistics.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.statistics_detail.js" %}></script>

<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.setting_calendar.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.setting_worktime.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.setting_autocomplete.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.setting_reserve.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.setting_alarm.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.setting_attendmode.js" %}></script>

<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.service_notice.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.service_inquiry.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.service_inquiry_menu.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.service_inquiry_history.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.service_inquiry_faq.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.mypage.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.mypage_modify.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.mypage_photo_update.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.password_modify.js" %}></script>

<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.pters_pass_main.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.pters_pass_pay_info.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.pters_pass_shop.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.pters_pass_shop_agreement.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.pters_pass_pay_cancel.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.service_about_us.js" %}></script>
<script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.service_helper.js" %}></script>
<!-- ajax 팝업 JS 로드 -->
<!-- 각종 셀렉터 -->
<script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.selectors.js" %}></script>
<!-- 각종 셀렉터 -->
<!-- POPUP Behavior -->
<script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.popup.behavior.js" %}></script>
<!-- POPUP Behavior -->


<script>

    var user_email = '{{ request.user.email }}';
    var user_name = '{{ request.user.first_name }}';
    var session_app_version = `{{ APP_VERSION }}`;
    var user_username = '{{ request.user.username }}';
    //기기종류 판단
    const varUA = navigator.userAgent.toLowerCase();
    let device = PC;
    let os = IOS;
    let browser = CHROME;
    let device_info = '{{ request.session.device_info }}';
    if (varUA.match(/android/) != null) {
        device = MOBILE;
        os = ANDROID;
    }else if (varUA.match(/iphone/) != null || varUA.match(/ipad/) != null || varUA.match(/ipod/) != null) {
        device = MOBILE;
        os = IOS;
    }else if (varUA.match(/macintosh/) != null){
        device = PC;
        os = IOS;
    }else{
        device = PC;
        os = WINDOW;
    }

    if (varUA.match(/firefox/) != null) {
        browser = FIREFOX;
    }else if (varUA.match(/chrome/) != null || varUA.match(/chromium/) != null) {
        browser = CHROME;
    }else if (varUA.match(/safari/) != null) {
        browser = SAFARI;
    }else if (varUA.match(/edge/) != null) {
        browser = EDGE;
    }

    const windowHeight = window.innerHeight;
    const windowWidth = window.innerWidth;
    const $root_content = $('#root_content');
    var current_page = "";
    var current_page_text = "home";

    // input_adjust_location_for_android();
    pc_keyboard_event();
    func_set_webkit_overflow_scrolling('#root_content');
    
    // $root_content.css('height', `calc(100% - 56px)`);
    // $root_content.scroll(function(){
    //     let scroll_loc = $(this).scrollTop();
    //     let element_height = $(this).innerHeight();
    //     let scroll_height = $(this).prop('scrollHeight');
   
    //     let scroll_loc_percent = 100*(scroll_loc)/(scroll_height-element_height);
    //     if( scroll_loc_percent > 10 && scroll_loc_percent > 90){
    //         nav_bar('off');
    //     }else{
    //         nav_bar('on');
    //     }
    // });
    //팝업이 떠있을때, 팝업을 스크롤하면, 뒤의 root_content 항목이 스크롤되서 위치에서 벗어난 현상 해결
    $(document).on('touchstart', '.popup_mobile', function(){
        $('#root_content').css({'overflow-y':'hidden'})
    });

    $(document).on('touchend', '.popup_mobile', function(){
        $('#root_content').css({'overflow-y':'auto'})
    });

    function nav_bar(action){
        switch(action){
            case 'on':
                $('#root_nav').css({'transform':'translate(-50%, 0px)'})
                $('#root_nav_quick').css({'transform':'translateY(40px)'})
            break;
            case 'off':
                $('#root_nav').css({'transform':'translate(-50%, 60px)'})
                $('#root_nav_quick').css({'transform':'translateY(-40px)'})
            break;
        }
    }


    //피터스 패스
    pass_inspector = new PassInspector();    

    // 페이지 인스턴스
    var home = new Home('#root_content', 'home');
    var calendar = new Calendar('#root_content', 'calendar');
    var ticket = new Ticket('#root_content', 'ticket');
    var lecture = new Lecture('#root_content', 'lecture');
    var member = new Member('#root_content', 'member');
    var menu = new Menu('#root_content', 'menu');
    var alarm = new Alarm('#root_content', 'alarm');
    var service = new Menu_service('#root_content', 'service');
    var settings = new Menu_settings('#root_content', 'settings');
    // 페이지 인스턴스

    // 팝업 인스턴스
    var plan_view_popup;
    var plan_add_popup;
    var plan_repeat_list_popup;
    var member_add_popup;
    var member_search_popup;
    var member_view_popup;
    var member_simple_view_popup;
    var member_edit_popup;
    var ticket_add_popup;
    var ticket_view_popup;
    var ticket_simple_view_popup;
    var ticket_edit_popup;
    var ticket_list_popup;
    var lecture_add_popup;
    var lecture_view_popup;
    var lecture_simple_view_popup;
    var lecture_edit_popup;
    var lecture_list_popup;

    var member_schedule_history;
    var member_ticket_history;
    var member_ticket_modify;
    var member_ticket_refund;
    var member_attend;
    var statistics_popup;
    var statistics_detail_popup;
    var mypage_popup;
    var mypage_modify_popup;
    var mypage_photo_update_popup;
    var password_modify_popup;

    var program_list_popup;
    var program_add_popup;
    var program_view_popup;

    var setting_calendar_popup;
    var setting_worktime_popup;
    var setting_autocomplete_popup;
    var setting_reserve_popup;
    var setting_alarm_popup;
    var setting_attendmode_popup;
    var service_notice_popup;
    var service_inquiry_menu_popup;
    var service_inquiry_popup;
    var service_inquiry_history_popup;
    var service_inquiry_faq_popup;
    var service_helper_popup;
    var service_about_us_popup;

    var pters_pass_main_popup;
    var pters_pass_pay_info_popup;
    var pters_pass_shop_popup;
    var pters_pass_shop_agreement_popup;
    var pters_pass_pay_cancel_popup;

    // 팝업 인스턴스

    // 범용 셀렉터 인스턴스
    var option_selector;
    var time_selector;
    var date_selector;
    var spinner_selector;
    var lecture_select;
    var ticket_select;
    var member_select;
    var color_select;
    var custom_selector;
    var password_4d_input;
    var board_writer;
    var board_reader;
    var drawing_board;
    
    var repeat_select;
    var day_select;
    var category_select;
    // 범용 셀렉터 인스턴스

    function root_content_quick_up(){
        $root_content.animate({scrollTop:1}, 100);
    }

    function sideGoPage(page){
        are_there_new_alarm();
        // current_page = page;
        current_page_text = page;
        $('#debug_toolbar').hide();

        try{
            let context_loc = document.getElementById(page).offsetLeft;
            // $('#nav_indicator').css({'transform':`translateX(${context_loc}px)`,'transition':'0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)'});
            
            $(`.nav_img > img`).each(function(e){
               let this_id = $(this).parents('.nav_item').attr('id');
                $(this).attr('src', `/static/common/icon/tab_bar/icon_${this_id}_off.png`) 
            });
            $(`#${page} .nav_img > img`).attr('src', `/static/common/icon/tab_bar/icon_${page}_on.png`);
        }
        catch(e){

        }
        try{
            $('.side_menu_selected').removeClass('side_menu_selected');
            $(`#side_${page}`).addClass('side_menu_selected');
        }catch(e){

        }
        try{
            //메뉴 이동시 팝업이 열려있으면 모두 닫고 이동
            $('#root_content').scrollTop(0);
            if(layer_popup.stack.length > 0){
                layer_popup.all_close_layer_popup()
            }
        }catch(e){
            console.log(e);
        }

        switch(page){
            case 'home':
                current_page = home;
                home.init();
            break;
            case 'calendar':
                current_page = calendar;
                calendar.init_new();
            break;
            case 'ticket_page_type':
                current_page = ticket;
                ticket.init();
            break;
            case 'lecture_page_type':
                current_page = lecture;
                lecture.init();
            break;
            case 'member':
                current_page = member;
                member.init();
            break;
            case 'alarm':
                current_page = alarm;
                alarm.init();
            break;
            case 'menu':
                current_page = menu;
                menu.init();
            break;
            case 'attend_mode':
                location.href = '/trainer/attend_mode/';
            break;
            case 'settings':
                current_page = settings;
                settings.init();
            break;
            case 'service':
                current_page = service;
                service.init();
            break;
        }
        
    }

    //PC사이드 메뉴 토글
    function toggle_sidemenu(context){
        $this = $(context);
        $sidemenu = $('#section_side');
        $sidemenu_button = $this.find('img');
        $sidemenu_text = $('.sidemenu_text');
        $toplogo = $('.top_logo');

        let status = $this.hasClass('sidemenu_off');

        if(status){
            $this.removeClass('sidemenu_off');
            $sidemenu.css('flex-basis', '200px');
            setTimeout(()=>{ 
                $sidemenu_text.show();
            }, 150);
            $toplogo.html(
                `<span style='color:#fe4e65; width:64px; font-size:25px; font-weight:bold; text-align:center;'>PTERS</span>`
                //`<img src="/static/common/icon/logo/PTERS_logo_full.png" alt="" style="width: 64px;" id="top_logo_image">`
            );
            $sidemenu_button.css('transform', 'rotate(90deg)');
        }else{
            $sidemenu.css('flex-basis', '70px');
            $this.addClass('sidemenu_off');
            $sidemenu_text.hide();
            $toplogo.html(
                `<img src="/static/common/icon/logo/PTERS_logo_short.png" alt="" style="width: 32px;vertical-align:middle" id="top_logo_image">`
            );
            $sidemenu_button.css('transform', 'rotate(-90deg)');
        }
    }

    function sideGoPopup(page){
        // current_page = page;
        $('#debug_toolbar').hide();

        switch(page){
            case 'ticket':
                // ticket.init();
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_TICKET_LIST, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    ticket_list_popup = new Ticket_list('.popup_ticket_list', 'ticket_list_popup')});
            break;
            case 'lecture':
                // lecture.init();
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_LECTURE_LIST, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    lecture_list_popup = new Lecture_list('.popup_lecture_list', 'lecture_list_popup')});
            break;
            case 'program':
                // menu.init();
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_PROGRAM_LIST, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    program_list_popup = new Program_list('.popup_program_list')});
            break;
            case 'setting_calendar':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SETTING_CALENDAR, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    setting_calendar_popup = new Setting_calendar('.popup_setting_calendar')});
            break;
            case 'setting_worktime':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SETTING_WORKTIME, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    setting_worktime_popup = new Setting_worktime('.popup_setting_worktime')});
            break;
            case 'setting_autocomplete':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SETTING_AUTOCOMPLETE, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    setting_autocomplete_popup = new Setting_autocomplete('.popup_setting_autocomplete')});
            break;
            case 'setting_reserve':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SETTING_RESERVE, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    setting_reserve_popup = new Setting_reserve('.popup_setting_reserve')});
            break;
            case 'setting_alarm':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SETTING_ALARM, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    setting_alarm_popup = new Setting_alarm('.popup_setting_alarm')});
            break;
            case 'setting_attendmode':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SETTING_ATTENDMODE, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    setting_attendmode_popup = new Setting_attendmode('.popup_setting_attendmode')});
            break;
            case 'service_notice':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SERVICE_NOTICE, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    service_notice_popup = new Service_notice('.popup_service_notice')});
            break;
            case 'service_inquiry_menu':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SERVICE_INQUIRY_MENU, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    service_inquiry_menu_popup = new Service_inquiry_menu('.popup_service_inquiry_menu')});
            break;
            case 'statistics':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_STATISTICS, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    statistics_popup = new Statistics('.popup_statistics')});
            break;
            case 'mypage':
                let popup_style = $root_content.width() > 650 ? POPUP_FROM_TOP : POPUP_FROM_RIGHT;
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_MYPAGE, 100, popup_style, null, ()=>{
                                                    mypage_popup = new Mypage('.popup_mypage')});
            break;
            case 'pters_pass_main':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_PTERS_PASS_MAIN, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    pters_pass_main_popup = new Pters_pass_main('.popup_pters_pass_main')});
            break;
            case 'helper':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SERVICE_HELPER, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    service_helper_popup = new Service_helper('.popup_service_helper')});
            break;
            case 'service_about_us':
                layer_popup.open_layer_popup(POPUP_BASIC, POPUP_ADDRESS_SERVICE_ABOUT_US, 100, POPUP_FROM_RIGHT, null, ()=>{
                                                    service_about_us_popup = new Service_about_us('.popup_service_about_us')});
            break;
        }
    }
    //페이지에 들어오면 홈화면을 띄우기
    $('#home').trigger('click');

    //튜토리얼을 본적이 없으면 튜토리얼을 띄우기
    // let tutorial_view = localStorage.getItem("tutorial_view");
    // if(tutorial_view != "1"){
    //     sideGoPopup("helper");
    // }

    //새로운 알림이 있을때 알림 아이콘에 표시해주기
    function are_there_new_alarm(){
        alarm.are_there_new_alarm((new_alarm_number)=>{
            if(new_alarm_number > 0){
                $('.new_alarm_indicator').show();
            }else{
                $('.new_alarm_indicator').hide();
            }
        });
    }
    

    //PC버전 상단 툴바에 사용자 정보 채우기
    function pc_top_toolbar_user_info_update(){
        Mypage_func.read((data)=>{
            let user_id = data.trainer_info.member_id;
            let user_name = data.trainer_info.member_name;
            let user_photo = data.trainer_info.member_profile_url;
            let target = document.getElementById('up_menu_user_info')
            target.innerHTML = `<img src="${user_photo}" alt="" class="up_menu_img" style="border-radius:50%"><span>${user_name}</span>`;
        });
    }

    pc_top_toolbar_user_info_update();
    are_there_new_alarm();

    // 구글 reCAPTCHA 보이지 않게 하기
    /*
    window.addEventListener('load', function () {
        $('.grecaptcha-badge').css('display', 'none');
    });
    */
    
</script>

</body>
</html>