<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}PTers-Trainer Mode {% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href={% static "common/css/bootstrap.min.css" %} rel="stylesheet">
        <script>


        </script>
        <link rel="stylesheet" href={% static "user/css/pters.base.set.css" %}>
        <link rel="stylesheet" href={% static "common/css/swiper.min.css"%}>
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

        {% block local_css %}
        {% endblock %}
    
    </head>
    <body>
    {% block navbar %}
    <div id="shade">
        </div>
        <nav class="navbar navbar-fixed-top navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button id="upbutton" class="navbar-toggle" aria-controls="navbar" onclick="javascript:history.back()">
                        <img src={% static "user/res/ptadd/btn-x.png" %} style="width:90%;">
                    </button>
                    {% block nav_center_img %}
                        <a id="uptext" class="navbar-brand">OFF 일정등록</a>
                    {% endblock %}
                    <button id="upbutton-alarm" class="navbar-toggle" aria-controls="navbar">
                        <img src={% static "user/res/ptadd/btn-complete.png" %} style="width:100%;">
                    </button>
                </div>
            </div><!-- /.container -->
        </nav><!-- /.navbar -->
        
    {% endblock %}
    
    {% block content %}
    {% endblock %}

    
    {% block footer %}
 
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src={% static "common/js/bootstrap.min.js" %}></script>
    <script type="text/javascript" src={% static "user/js/pters.base.set.js" %}></script>
    {% block local_js_footer %}
    {% endblock %}

    </body>
</html>

<!--

2017.8.3업데이트 내역

1.Navigation Bar의 Bell ,메뉴 버튼 크기 및 위치 조정
2.Navigation Bar의 Bell 이미지 변경

3.파일명 변경 및 코드 분리
    skstyle.css ->> pters.month.cal.css 월간 달력 css
    skcalendar.js ->> pters.month.cal.js 월간 달력 js
    sidebar.css ->> pters.base.set.css 상단바,사이드바 css
    skstyle.js ->> pters.base.set.js 상단바, 사이드바 js

-->



