{% extends "trainer_base_class_select.html" %}
{% load static_url %}

{% block local_css %}
    <style type="text/css">
        body{
            background: #171717;
        }
    </style>
{% endblock %}

{% block content %}



{% endblock %}

{% block local_js_footer %}
    <!-- for db by hk.kim 170805-->
    <script>

        open_lecture_select_popup()

        $('#pcver').css('background','#e2e2e2')
        $('.centermenu_text').css('color','#b1b1b1').attr('onclick','')
        $('#loginInfo').attr('onclick','')
        $('.button_close_popup').hide()

        $('#upbutton').attr('onclick','')
        $('#upbutton img').css('opacity','0.2')

    </script>

{% endblock %}

