{% extends "trainer_base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/pters.week.cal.css" %}>
{% endblock %}

{% block content %}

  <form action="/trainer/daily_pt_delete/" id="daily-pt-delete-form" method="post">
    <input type="hidden" name="schedule_id" id="id_schedule_id">
    <input type="hidden" name="member_name"   id="id_member_name">
    <input type="hidden" name="next_page" value = '{% url 'trainer:cal_week' %}'>
  </form>
  <form action="/trainer/daily_off_delete/" id="daily-off-delete-form" method="post">
    <input type="hidden" name="off_schedule_id" id="id_off_schedule_id">
    <input type="hidden" name="next_page" value = '{% url 'trainer:cal_week' %}'>
  </form>


  <!--팝업메뉴-->
    <div id="cal_popup">
      <div id="popup_img"><img src="/static/user/res/ptadd/icon-cal.png" id="img_cal"><img src="/static/user/res/ptadd/btn-x.png" id="btn_close"></div>
      <div id="popup_text1" class="popup_inner popup_inner_change"  onclick="location.href='{% url 'trainer:add_pt' %}'"><span>일정 변경</span></div>
      <div id="popup_text2" class="popup_inner popup_inner_delete"><span>일정 삭제</span></div>
    </div>
    <!--현재 클릭한 일정의 요소 보기: pters.day.cal.js 19행 console.log 주석 참고-->
  <!--팝업메뉴-->
    
  <!--플로팅 버튼-->
    <div id="float_btn">
      <img src={% static "user/res/floatbtn/btn-plus.png" %} alt="">  <!--2017.10.2-->
    </div>
    <div id="float_inner1" class="float_inner" onclick="location.href='{% url 'trainer:add_pt' %}'">
    <a href="{% url 'trainer:add_pt' %}">PT<br/>일정</a>
    <img src="" alt="">
    </div>
    <div id="float_inner2" class="float_inner" onclick="location.href='{% url 'trainer:add_off' %}'">
    <a href="{% url 'trainer:add_off' %}">OFF<br/>일정</a>
    <img src="" alt="">
    </div>

    <div id="shade">
    </div>
  <!--플로팅 버튼-->

     <div id="ymdText">
            <div class='arrowButton'>
              <a href="" ><img src={% static "user/res/daycal_arrow.png" %} alt="" style="width: 7px;"></a>
              <a href="" style="right: 0%"><img src={% static "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;"></a>
            </div>
            <img src={% static "user/res/bg.png" %} alt="bg-image" style="width: 100%;height:100%;position: relative;z-index: -1;">
            <div id="yearText">
            </div>
            <div id="monthText">
            </div>
          </div>

    <div id="gapbox">  
    </div>

    <div id="calendar" class="container" > <!-- Calendar container-->
        
          <div class="swiper-container">
            <div class="swiper-wrapper"> 
              <div class="swiper-slide" id="slide0"></div> <!--Index-1 2주전-->
              <div class="swiper-slide" id="slide1"></div> <!--Index0 1주전-->
              <div class="swiper-slide" id="slide2"></div> <!--Index1 이번주-->
              <div class="swiper-slide" id="slide3"></div> <!--Index2 1주후-->
              <div class="swiper-slide" id="slide4"></div> <!--Index3 2주후-->
            </div>  <!--Swiper-wrapper-->
          </div> <!--Swiper-container-->
  
<!--Swiper-->    
          <!-- <div class="swiper-pagination"></div> -->
          <div id="cal_box" class="cal_box"></div>    

    </div>
{% endblock %}

{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script>
        	var classTimeArray = new Array({% for daily_data in daily_lecture_data %}'{{ daily_data }}',{% endfor %});
            //var classTimeArray = new Array('2017_10_8_6_00_3_김선겸','2017_10_10_6_00_2_헬로우','2017_10_10_8_00_3_세시간','2017_10_12_14_00_2_두시간'); //김선겸 오프라인 디버깅용
            var scheduleIdArray = new Array({% for daily_lecture_schedule_id in daily_lecture_schedule_id %}'{{ daily_lecture_schedule_id }}',{% endfor %});
            var offTimeArray = new Array({% for daily_off in daily_off_data %}'{{ daily_off }}',{% endfor %});
            //var offTimeArray = new Array('2017_10_8_9_00_3_OFF','2017_10_9_8_00_12_OFF','2017_10_10_11_00_3_세시간','2017_10_12_14_00_1_한시간');
            var offScheduleIdArray = new Array({% for daily_class_schedule_id in class_schedule_data %}'{{ daily_class_schedule_id }}', {% endfor %});
        </script>
        <script type="text/javascript" src={% static "user/js/pters.week.cal.js" %}></script>
        <script>
            var myswiper = new Swiper('.swiper-container',{
                initialSlide : 2,
                speed : 300,
                preventClicks : true,
                keyboardControl : true,
                pagination : '.swiper-pagination'
            });
        </script>
{% endblock %}