
    {% autoescape off %}
    {
      "qa_id":
      [{% for qa_info in qa_data %}"{{ qa_info.qa_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "qa_type_cd":
      [{% for qa_info in qa_data %}"{{ qa_info.qa_type_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "qa_type_cd_name":
      [{% for qa_info in qa_data %}"{{ qa_info.qa_type_cd_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "title":
      [{% for qa_info in qa_data %}"{{ qa_info.title }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "contents":
      [{% for qa_info in qa_data %}"{{ qa_info.contents | linebreaks }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "status_type_cd":
      [{% for qa_info in qa_data %}"{{ qa_info.status_type_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "status_type_cd_name":
      [{% for qa_info in qa_data %}"{{ qa_info.status_type_cd_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "email_address":
      [{% for qa_info in qa_data %}"{{ qa_info.email_address }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "reg_dt":
      [{% for qa_info in qa_data %}"{{ qa_info.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "mod_dt":
      [{% for qa_info in qa_data %}"{{ qa_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
    {% endautoescape %}