




.pshade,.mshade{
	position: fixed;
	display: none;
	background: black;
	/*
	width: 100%;
	height: 100%;
	*/
	z-index: -100;
	top: 0;
	opacity: 0.7;

}
.mshade_popup{
	position: fixed;
	display: none;
	background: #f4f4f4;
	width: 100%;
/*	height: 100%;*/
	top: 0;
}

#shade_caution{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 400;
	background: black;
	opacity: 0.5;
	top: 0;
}
/*
	#pshade{
		z-index: 100;
	}
	#pshade2{
		z-index: 200;
	}
	#pshade3{
		z-index: 300;
	}

	#mshade{
		z-index: 100;
	}
	#mshade2{
		z-index: 200;
	}
	#mshade3{
		z-index: 300;
	}
*/




#alarm{
	position: fixed;
	width: 100%;
	height: 0;
	/*padding:10px 0 10px 0;*/
	padding: 0;
	top: 0;
	max-width: 500px;
	background: #f4f4f4;
	left: 50%;
	transform: translateX(-50%);
	overflow-y: hidden;
	transition: 1s;
	z-index: 1500;
	-webkit-overflow-scrolling: touch;
}
#alarm iframe{
	width: 100%;
	height: 100%;
	padding: 10px;
}
#alarm-iframe-div{
	height: 90%;

	overflow: auto;
}

.pcver-slide-menu_alarm, .pcver-slide-menu_class{
	display: none;
}

.popups{

}

#subject-selector{
	/*max-height: 300px;*/
	max-height: 250px;
	overflow-y: auto;
}
#popup_lecture_select .lecture_select_table_list{
	/*max-height: 300px;*/
	max-height: 250px;
	overflow-y: auto;
}


#cal_popup_planinfo{
	display: none;
	position: absolute;
	background: #ffffff;
	border:1px solid #cccccc;
	width: 	100%;
	max-width: 	330px;
	z-index: 150;
	text-align: center;
}
	#inner_shade_planinfo{
		display: none;
		position: absolute;
		width: 101%;
		height: 101%;
		background: black;
		z-index: 1;
		opacity: 0.7;
		top:-2px;
		left: -1px;
	}

#groupplan_participants_status{
	color: #fe4e65;
	font-size: 14px;
	font-weight: 400;
}
#planinfo_plan_color{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	vertical-align: top;
	margin-top: 3px;
	margin-right: 3px;
}
#planinfo_name_text{

}
#planinfo_type_text{
	font-size: 16px;
	font-weight: 400;
}

#popup_btn_viewGroupParticipants{
	display: none;
	text-align: left;
	height: 45px;
	margin-top: 0px;
	cursor: pointer;
	padding:0 20px 0 20px;
	border-top: 1px solid #cccccc;
}
#popup_btn_viewGroupParticipants:hover{
	background: #f1f1f1;
}
#popup_btn_viewGroupParticipants > span{
	line-height: 45px;
}
#popup_btn_viewGroupParticipants img{
	width: 12px;
	float: right;
	margin-top: 20px;
}
#groupParticipants_number_in_btn{
	display: inline-block;
	text-align: center;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #fe4e65;
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	vertical-align: middle;
	padding-right: 0px;
	padding-top: 1px;
}
#groupParticipants{
	/*height: 0px;*/
	display: none;
	max-height: 128px;
	width: 100%;
	background: #ffffff;
	overflow-y:auto;
	transition: 0.2s;
	border-top: 1px solid #cccccc;
}



.groupParticipantsRow{
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;
}
.groupParticipantsRow span{
	cursor: pointer;
}
.groupParticipantsRow span:hover{
	text-decoration: underline;
}
#groupParticipants img{
	width: 12px;
	margin-left: 10px;
	margin-right: 10px;
}
#groupParticipants span.group_member_absence, #groupParticipants span.group_member_complete{
	float: right;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 7px;
	padding: 0 5px 0 5px;
	border: 1px solid #cccccc;
	background-color: #f4f4f4;
}
#groupParticipants img.group_member_cancel{
	float: right;
	cursor: pointer;
	margin-top: 5px;
}
#groupParticipants img.add_groupmember_plan{
	width: 20px;
	cursor:pointer;
}

#subpopup_addByList_plan{

}

#subpopup_addByList_thisgroup{
	display: block;
}

#subpopup_addByList_whole{
	display: none;
}

#datepicker_refund{
	width: 100px;
	height: auto;
	border: 1px solid #fe4e65;
}



@media(max-height: 445px){
	#cal_popup_planinfo{
		position: absolute;
	}
}

.memberNameForInfoView{
	border-bottom: 1px solid #282828;
	cursor: pointer;
}
.memberNameForInfoView:hover, .memberNameForInfoView:focus, .memberNameForInfoView:active{
	color: #fe4e65;
	border-bottom-color: #fe4e65;
}

#cal_popup_plandelete, #cal_popup_repeatconfirm, #pay_cancel_confirm_popup{
	display: none;
	position: fixed;
	background: #ffffff;
	border:1px solid #cccccc;
	/*box-shadow: 0px 0px 1px 0px #cccccc;*/
	top: 50%;
	width: 	100%;
	max-width: 	330px;
	left: 50%;
	transform:translate(-50%, -50%);
	z-index: 450;
	text-align: center;
}

.popup_info_text{
	background: #ffffff;
	position: relative;
	margin : 0 auto;
	width: 100%;
	max-width: 330px;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
}

#popup_info{
	text-align: left;
	padding-left: 25px;
	font-size: 15px;
	font-weight: 500;
}


.popuptimetext{
	font-size: 13px;
	color: #565656;
}

#popup_info3_memo{
	color:#fe4e65;
	font-size:13px;
	margin-bottom: 3px;
	width: 100%;
	height:30px;
	border:1px solid #cccccc;
	font-weight: 400;
/*	-webkit-text-fill-color: #cccccc;*/
	text-align: left;
}
#popup_info3_memo_modify{
	display: none;
	width: 17px;
	cursor:pointer;
	margin-left: 5px;
	margin-bottom:5px;
}
.pt_memo_guide_popup{
	font-size:11px;
	color:#7d7d7d;
	text-align: left;
	padding-left: 33px;
	font-weight: 400;
}
#popup_delete_question{
	padding: 0 10px 15px 10px;
}
#popup_img{
/*	display: none;*/
	position: relative;
	background: #ffffff;
	height: 56px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.img_cal{
/*	display: none;*/
	position: absolute;
	top: 41%;
	left:41.5%;
	width: 25px;
	margin-right: 14.845px;
	margin-left: 14.845px;
}

#popup_sign_img{
	display: none;
	height: 45px;
	position: relative;/*
	background-color: #ffffff;*/
	border-top: 1px solid #cccccc;
}
#popup_sign_img span{
	position: absolute;
	left: 0;
	margin-left: 20px;
	line-height: 45px;
	color: #282828;
	font-size: 13px;
	font-weight: 400;
}

#id_sign_img{
	height:  100%;
	margin-right: 14.845px;
	margin-left: 14.845px;
	filter: invert(100);
}

#repeat_reg_list{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 100%;*/
	height: auto;
	z-index: 2;
	background-color:#ffffff;
}	
	.repeat_list_wrapper{
		height: 216px;
		width: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling:touch;
	}
	.repeat_reg_list_row{
		display: table;
		height: 35px;
		width:100%;
		border-bottom: 1px solid #f4f4f4;
	}
	.repeat_failed_bg{
		background-color: rgba(254, 78, 101, 0.2);
	}
	.repeat_reg_list_cell{
		display: table-cell;
		line-height: 35px;
	}
	.repeat_reg_list_cell:nth-child(1){
		width:65%;
		text-align: left;
		padding-left: 20px;
	}
	.repeat_reg_list_cell:nth-child(2){
		width:35%;
	}
		.repeat_reg_list_cell > img{
			width: 12px;
			margin-right: 5px;
			margin-bottom: 4px;
		}
#close_repeat_reg_list{
	position: relative;
	background-color:#f4f4f4;
	border-bottom: 1px solid #cccccc;
	height: 40px;
	line-height: 40px;
	padding-right:10px;
	text-align:center;
	font-weight: 500;
	cursor:pointer;
}
	#close_repeat_reg_list > span{
		position: absolute;
		right: 10px;
		font-weight:400;
		font-size: 12px;
	}

.popup_btn_wrap{
	display: table;
	width: 100%;
	border-collapse: collapse;
}

#popup_btn_complete{
	color: #282828;
}

.popup_inner{
	background: #ffffff;
	position: relative;
	height: 40px;
/*	border-top: 1px solid #a2a2a2;*/
	
	width: 50%;
	display: table-cell;
	border: 1px solid #cccccc;
	border-left: 0;
	border-bottom: 0;
	/*border-collapse: collapse;*/
}
.popup_inner:first-child{
	border-left: 0;
}
.popup_inner:last-child{
	border-right: 0;
}

.popup_inner_x3{
	width: 33.33%;
}
.popup_inner_x5{
	width: 20%;
}
.popup_inner:hover{
	box-shadow: 1px 1px 1px 1px #eaeaea;
}
.popup_inner:active{
	/*background: #f4f4f4 !important;
	-webkit-background:#f4f4f4 !important;*/
	box-shadow: 1px 1px 1px 1px #cccccc;
}

.popup_inner span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
}

.popup_inner_change{
	text-align: center;
}

.popup_inner_delete{
	text-align: center;
	color: #fe4e65;
}
	#popup_delete_btn_yes{
		color: #282828;
	}

#caution_popup, #caution_popup_yes_or_no{
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 300px;
	height: auto;
	z-index: 450;
	text-align: center;
	background: #ffffff;
	border:1px solid #cccccc;
}
	#caution_popup .caution_img, #caution_popup_yes_or_no .caution_img{
		height: 50px;
		padding: 10px;
	}
	#caution_popup .caution_img img, #caution_popup_yes_or_no .caution_img img{
		height: 100%;
	}
	#caution_popup .caution_message, #caution_popup_yes_or_no .caution_message{
		font-size: 13px;
	}
	#go_to_purchase{
		width:120px;
		height:25px;
		padding-top:3px;
		margin:0 auto;
		margin-top:5px;
		border:1px solid #cccccc;
		color:#fe4e65;
		font-size:12px;
		cursor: pointer;
	}
		#go_to_purchase:active{
			color:#ffffff;
			background-color: #fe4e65;
		}


/*월간달력 팝업*/
#cal_popup_plancheck{ /*강사 월간달력에서 날짜클릭했을때 일정 조회하는 팝업*/
	display: none;
	position: absolute;
	width: 300px;
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	z-index: -2;
	text-align: center;
	/*
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	*/
	z-index: 125;
	height: auto;
	max-height: 400px;
	overflow-y: hidden;
	overflow-x: hidden;
}

#cal_popup_plancheck .popup_inner:hover{
	background : white;
}

#countNum{
	position: absolute;
	font-size: 9px;
	background:#fe4e65;
	color: #ffffff;
	width: 13px;
	line-height: 13px;
	border-radius: 50%;
	text-align: center;
	font-weight: 500;
	top: 6px;
	left: 155px;
}

.plan_raw{
	height: 45px;
	vertical-align: middle;
	border-bottom: 1px solid #a2a2a2;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.plan_raw:active{
	background: #f4f4f4;
}
.plan_raw:hover{
	background-color: #eaeaea;
	transition: background-color 0.12s cubic-bezier(0.4,0,0.2,1);
}

.plan_raw > div{
	position: relative;
	top: unset;
	left: unset;
	transform: unset;
	line-height: 45px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	overflow:hidden;
}

.popup_inner_month{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;

	max-height: 325px;
	height: auto;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;
}

.plan_raw_blank{
	line-height: 45px;
	font-size: 13px;
	font-weight: bold;
}

.plancheckmorningday{
	display: table-cell;
	width: 14%;
	font-weight: bold;
}

.planchecktime{
	display: table-cell;
	width: 30%;
	text-align: left;
}

.plancheckname{
	display: table-cell;
	position: relative;
	width: 55%;
	text-align: left;
	
}
	.plancheckname > p{
		text-overflow: ellipsis;
		overflow:hidden;
		white-space: nowrap;
		width: 90%;
		margin: 0;
		padding-left:15px;
	}


.plancheckname img{
	width: 12px;
	position: absolute;
	left: 0;
	margin-top: 18px;
}

/*월간달력 팝업*/


#canvasWrap{
	position: absolute;
	display: none;
	/*top: 163px;*/
	top: 50%;
	width: 329px;
	transform: translate(-50%,-50%);
	left: 50%;
	z-index: 1;
}
#canvasWrap p{
	position: absolute;
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 13px;
	width:100%;
	color: #e6e6e6;
	z-index: 1500;
}

#canvas{
	display: none;
	width: 100%;
	position: relative;
	background:#282828;
	z-index: 1400;
	border: 2px solid #282828;
	margin-bottom: 1px;
}

#ng_popup{
	display: none;
	position: fixed;
	background: #ffffff;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 330px;
	border: 1px solid #a2a2a2;
	z-index: 103;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
}

/*plandelete 팝업 PC버전*/
.popup_title{
	display: inline;
	font-size: 19px;
	font-weight: 500;
	color: #282828;
}
/**/


@media(min-width:600px){
	.popup_btn_wrap{
		margin-top: 10px;
		display: block;
	}
	.popup_inner:first-child{
		border-left: 1px solid #a2a2a2;
	}
	.popup_inner:last-child{
		border-right: 1px solid #a2a2a2;
	}
	#popup_btn_complete{
		background-color: #282828;
		border-color: #282828;
		color: #ffffff;
	}
	#popup_btn_viewGroupParticipants{
		border-top: 0;
		border-bottom: 1px solid #cccccc;
	}
	#groupParticipants{
		border-top: 0;
		border-bottom: 1px solid #cccccc;
	}
	#popup_sign_img{
		border-top: 0;
		border-bottom: 1px solid #cccccc;
	}
	#alarm{
		/*height: 370px;*/
		height: 0px;
	}

	#loginInfo{
		cursor: pointer;
	}

	.pcver-slide-menu_alarm{
		position: absolute;
		top: 62px;
		right: 0px;
		width: 450px;
		height: auto;
		background: #ffffff;
		overflow: hidden;
		border:1px solid #e8e8e8;
	}

	.pcver-slide-menu_class{
		position: absolute;
		top: 62px;
		right: 0px;
		width: 360px;
		height: auto;
		background: #ffffff;
		overflow: hidden;
		border:1px solid #e8e8e8;
	}
	.groupParticipantsRow{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	#popup_triangle{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	#popup_triangle:after{
		content: '';
	    position: absolute;
	    border-bottom: 12px solid #ffffff;
	    border-right: 10px solid transparent;
	    border-left: 10px solid transparent;
	    bottom: -10px;
	    left: 5px;
	}
	#popup_triangle:before{
		content: '';
	    position: absolute;
	    border-bottom: 13px solid #cccccc;
	    border-right: 11px solid transparent;
	    border-left: 11px solid transparent;
	    bottom: -10px;
	    left: 4px;
	}
	@media(min-width:975px){
		#popup_triangle:after{
			content: '';
		    position: absolute;
		    border-bottom: 20px solid #ffffff;
		    border-right: 10px solid transparent;
		    border-left: 10px solid transparent;
		    bottom: -10px;
		    left: 5px;
		}
		#popup_triangle:before{
			content: '';
		    position: absolute;
		    border-bottom: 22px solid #cccccc;
		    border-right: 11px solid transparent;
		    border-left: 11px solid transparent;
		    bottom: -10px;
		    left: 4px;
		}
	}


	#myInfo{
		position: relative;
		margin-top: 5px;
		padding-left: 10px;
		border-bottom: 1px solid #cccccc;
	}
	#myInfo_center_name{
		font-size: 18px;
		color: #444444;
		font-weight: 500;
	}
	#myInfo_user_name{
		font-size: 18px;
		color:#444444;
		font-weight: 500;
	}
	#myInfo > p{
		font-size: 11px;
		color:#7d7d7d;
		margin-top:6px;
		font-weight: 500;
	}
	#myPageMove{
		border:1px solid #fe4e65;
		padding: 2px 5px 2px 5px;
		font-size: 10px;
		margin-left: 10px;
		color: #fe4e65;
		cursor: pointer;
	}
	#myPageMove:hover{
		background: #fe4e65;
		color: #ffffff;
	}
	#alarm-notify{
		height: 40px;
		margin-top: 10px;
		padding-left: 10px;
		border-bottom: 1px solid #cccccc;
		cursor: pointer;
	}
	#alarm-on-pc{
		width: 19px;
		margin: 0 3px 6px 6px;
		cursor: pointer;
	}
	#alarm-page-arrow{
		float: right;
		margin: 10px;
		width: 17px;
		cursor:pointer;
	}
	#alarm-iframe-div-pc{
		height: 300px;
		overflow-y: hidden;
	}
	.alarm_delete_pc{
		float:right;width:15px;margin:5px;margin-right:10px;
	}
	#alarm-close-pc {
		width: 100%;
		display: none;
		text-align: center;
		cursor: pointer;
	}
	#alarm-close-pc:hover{
		background:#cccccc;
	}
	#alarm-close-pc img{
		width: 25px;
		margin-left: 10px;
		transform: rotate(180deg);
	}
	#alarm_view_all, #class_view_all{
		height: 30px;
		font-size: 13px;
		padding-top: 5px;
		background: #282828;
		color:#ffffff;
		text-align: center;
		cursor: pointer;
	}

	#popup_img{
		position: relative;
		margin :0 auto;
		background: #ffffff;
		height: auto;
		padding:13px 15px 13px 15px;
		width: 100%;
		max-width: 330px;
		text-align: left;
	}

	.popup_info_text{
		height: auto;
		min-height: 62px;
		border-bottom: 1px solid #cccccc;
	}


	.img_cal{
		display: none;
		/*
		position: absolute;
		top: 30%;
		left:41.5%;
		width: 25px;
		margin-right: 14.845px;
		margin-left: 14.845px;
		*/
	}

	.popup_close_x_button{
		position: absolute;
		top: 13%;
		left: 85%;
		padding: 10px;
		width: 35px;
		float: right;
	}

	.popup_inner{
		display: inline-block;
		background: #ffffff;
		margin: 0 auto;
		margin-bottom: 10px;
		position: relative;
		height: 30px;
		border: 1px solid #a2a2a2;
		width: 100px;
		cursor: pointer;
	}
	.popup_inner_x3{
		width: 85px;
		margin-left: 3px;
		margin-right: 3px;
	}
	.popup_inner span{
		position: relative;
		left: unset;
		transform: unset;
		top: unset;
		font-size: 12px;
		font-weight: 400;
		line-height: 30px;
	}
	#popup_delete_btn_yes{
		background: #fe4e65;
		border-color: #fe4e65;
		color: #ffffff;
		margin-right: 10px;
	}
	#popup_delete_btn_no{
		background: #282828;
		border-color: #282828;
		color: #ffffff;
		margin-left: 10px;
	}



	.popup_inner_month{
		background: #ffffff;
		margin: 0 auto;
		position: relative;
		height: 50px;
		border-top: 1px solid #a2a2a2;
	}

	/*.popup_inner:hover{
		background: #f4f4f4 !important;
		-webkit-background:#f4f4f4 !important;
	}
	#popup_delete_btn_yes:hover, #popup_delete_btn_yes:active{
		background: #ff6478 !important;
	}

	#popup_delete_btn_no:hover, #popup_delete_btn_no:active{
		background: #3c3c3c !important;
	}*/


	/*월간 달력 팝업*/

	#countNum{
		left: 170px;
	}

	#cal_popup_plancheck{
		width: 330px;
	}

	#cal_popup_plancheck div{
		font-size: 15px;
	}
	/*팝업 css*/

	/*월간 달력 팝업*/
	#shade{
		z-index: 115;
	}

	#shade3{
		background: black;
		opacity: 0.8;
		z-index: 118;
	}



	

	/*일정창내 그룹원 리스트*/
	#groupParticipants{
		max-height: 130px;
	}
	/*일정창내 그룹원 리스트*/

	/*완료 사인 창*/
	#canvasWrap{
		position: fixed;

		background: #ffffff;
	}

	#inner_shade_planinfo{
		width: 330px;
		left: -1px;
	}

	#popup_btn_sign_complete, #popup_btn_sign_close{
		margin-bottom: 5px;
		margin-top: 5px;
	}
	/*완료 사인 창*/

}