@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
	padding-top: 50px;
	background-color: #f4f4f4;
	font-family: 'Noto Sans KR';
}

.ptaddbox{
	padding-right: 5%;
	padding-left: 5%;
	margin-top: 5%;
}

.ptaddboxtext{
	font-size: 14px;
	color: #3b3d3d;
}

.pters_dropdown_custom{
	width: 60%;
	font-family: 'Noto Sans KR';
}


.datepicktext{
	color: black;
}


.dropdown{
	width: 100%;
	height: 40px;
	margin-top: 10px;
}

.dropdown button{
	font-size: 15px;
	height: 100%;
}

.pters_dropdown_custom{
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.dropdown_selected{
	box-shadow: 0 1px 0 0 #fe4e65 !important;
	-webkit-box-shadow: 0 1px 0 0 #fe4e65 !important;
}

.dropdown-menu li{
	text-align: center;
	font-size: 15px;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 0 1px 0 0 #a2a2a2;
	-webkit-box-shadow: 0 1px 0 0 #a2a2a2;
}


.dropdown ul{
	padding-top: 0px;
	padding-bottom: 0px;
}

.btn-default{
	border: 0px;
	box-shadow: 0 1px 0 0 #a2a2a2;
	-webkit-box-shadow: 0 1px 0 0 #a2a2a2;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

#remainCount{
	position: relative;
}


#remainCount div:nth-child(2){
	background-color: #ffffff;
	box-shadow: 0 1px 0 0 #a2a2a2;
	-webkit-box-shadow: 0 1px 0 0 #a2a2a2;
	text-align: center;
}



#dateSelector p{
	box-shadow: 0 1px 0 0 #a2a2a2;
	-webkit-box-shadow: 0 1px 0 0 #a2a2a2;
}


.datepicktext input{
	width: 100%;
	height: 100%;
	border: 0px;
	
	text-align: center;
	font-size: 15px;
}

#ui-datepicker-div{
	left: 0px !important;
	width: 100%;
	z-index: 2000 !important;
}

#icons{
	width: 15px;
	padding-bottom: 4px;
}



.ui-datepicker-calendar tbody tr{
	height: 37px;
	border-bottom: 1px solid #a2a2a2;
}


.ui-datepicker-calendar tbody tr td a{
	background: #ffffff !important;
	border: 0px !important;
	text-align: center;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	color: #fe4e65 !important;
	font-weight: bold !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	color: green !important;
}


/*#fe4e65*/
