#shade{
    position: fixed;
    display: none;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 117;
    top: 0;
}


#shade3{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	display: none;
	z-index: 115;
}

#alarm{
	position: fixed;
	width: 100%;
	max-width: 550px;
	height: 500px;
	background: #f4f4f4;
	left: 50%;
	transform: translate(-50%,-200%);
	transition: 1s;
	z-index: 1500;
}


#cal_popup_planinfo{
	display: none;
	position: fixed;
	background: #ffffff;
	border:1px solid #cccccc;
	top: 50%;
	width: 	100%;
	max-width: 	330px;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 120;
	text-align: center;
}

@media(max-height: 445px){
	#cal_popup_planinfo{
		position: absolute;
	}
}

.memberNameForInfoView{
	border-bottom: 1px solid #282828;
	cursor: pointer;
}

#cal_popup_plandelete, #cal_popup_repeatconfirm{
	display: none;
	position: fixed;
	background: #ffffff;
	border-color: transparent;
	top: 50%;
	width: 	100%;
	max-width: 	330px;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 125;
	text-align: center;
}

.popup_info_text{
	background: #ffffff;
	position: relative;
	margin : 0 auto;
	width: 100%;
	max-width: 330px;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
}

#popup_info3_memo{
	color:#fe4e65;
	font-size:13px;
	margin-bottom: 3px;
	width: 200px;
	border:0;
}

#popup_img{
	position: relative;
	background: #ffffff;
	height: 56px;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
}

#img_cal{
	position: absolute;
	top: 41%;
	left:41.5%;
	width: 25px;
	margin-right: 14.845px;
	margin-left: 14.845px;
}

#popup_sign_img{
	display: none;
	position: relative;
	background: #ffffff;
}

.popup_close_x_button{
	position: absolute;
	top: 31%;
	left: 85%;
	padding: 10px;
	width: 35px;
	float: right;
	cursor: pointer;
}

.popup_inner{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
}

.popup_inner:hover{
	background: #a2a2a2;
	-webkit-background:#a2a2a2;
}

.popup_inner span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30%;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.popup_inner_change{
	text-align: center;
}

.popup_inner_delete{
	text-align: center;
	color: #fe4e65;
}


/*월간달력 팝업*/
#cal_popup_plancheck{ /*강사 월간달력에서 날짜클릭했을때 일정 조회하는 팝업*/
	display: none;
	position: fixed;
	width: 300px;
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	z-index: -2;
	text-align: center;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 117;
}

#cal_popup_plancheck .popup_inner:hover{
	background : white;
}

#countNum{
	position: absolute;
	font-size: 9px;
	background:#fe4e65;
	color: #ffffff;
	width: 13px;
	line-height: 13px;
	border-radius: 50%;
	text-align: center;
	font-weight: 500;
	top: 6px;
	left: 155px;
}

.plan_raw{
	height: 45px;
	vertical-align: middle;
	border-bottom: 1px solid #a2a2a2;
}

.plan_raw span{
	position: relative;
	top: unset;
	left: unset;
	transform: unset;
	line-height: 45px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.popup_inner_month{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
}

.plan_raw_blank{
	line-height: 45px;
	font-size: 13px;
	font-weight: bold;
}

.planchecktime,.plancheckname{
	display: inline-grid;
	width: 40%;
	text-align: left;
}

.plancheckname{
	position: relative;
	font-weight: bold;
}

.plancheckmorningday{
	display: inline-grid;
	width: 20%;
	font-weight: bold;
}

.plancheckname img{
	width: 12px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
/*월간달력 팝업*/


#canvasWrap{
	position: relative;
	width: 100%;
	height: 0px;
}
#canvasWrap span{
	position: absolute;
	display: none;
	width: 100%;
	left:50%;
	top:10px;
	transform: translateX(-50%);
	color: #e6e6e6;
	z-index: 1500;
}

#canvas{
	display: none;
	position: relative;
	background:#ffffff;
	z-index: 1400;
	border: 3px solid #282828;
}

#ng_popup{
	display: none;
	position: fixed;
	background: #ffffff;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 330px;
	border: 1px solid #a2a2a2;
	z-index: 103;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
}

/*plandelete 팝업 PC버전*/
.popup_title{
	display: none;
}
/**/


@media(min-width:600px){

	#popup_img{
		position: relative;
		margin :0 auto;
		background: #ffffff;
		height: 50px;
		padding:13px 13px 13px 24px;
		width: 100%;
		max-width: 330px;
		text-align: left;
	}

	.popup_info_text{
		height: auto;
		min-height: 62px;
		border-bottom: 1px solid #cccccc;
		margin-bottom: 10px;
	}


	#img_cal{
		display: none;
		/*
		position: absolute;
		top: 30%;
		left:41.5%;
		width: 25px;
		margin-right: 14.845px;
		margin-left: 14.845px;
		*/
	}

	.popup_close_x_button{
		position: absolute;
		top: 13%;
		left: 85%;
		padding: 10px;
		width: 35px;
		float: right;
	}

	.popup_inner{
		display: inline-block;
		background: #ffffff;
		margin: 0 auto;
		margin-bottom: 10px;
		position: relative;
		height: 30px;
		border: 1px solid #a2a2a2;
		width: 100px;
		cursor: pointer;
	}
		.popup_inner span{
			position: relative;
			left: unset;
			transform: unset;
			top: unset;
			font-size: 13px;
			font-weight: 400;
			line-height: 30px;
		}
		#popup_delete_btn_yes{
			background: #fe4e65;
			border-color: #fe4e65;
			color: #ffffff;
			margin-right: 10px;
		}
		#popup_delete_btn_no{
			background: #282828;
			border-color: #282828;
			color: #ffffff;
			margin-left: 10px;
		}
		#popup_btn_complete{
			margin-right: 10px;
		}
		#popup_btn_delete{
			margin-left: 10px;
		}



	.popup_inner_month{
		background: #ffffff;
		margin: 0 auto;
		position: relative;
		height: 50px;
		border-top: 1px solid #a2a2a2;
	}

	.popup_inner:hover{
		background: #a2a2a2;
		-webkit-background:#a2a2a2;
	}


	/*월간 달력 팝업*/

	#countNum{
		left: 170px;
	}
	
	#cal_popup_plancheck{
		width: 330px;
	}

	#cal_popup_plancheck div{
		font-size: 15px;
	}
	/*팝업 css*/
	
	/*월간 달력 팝업*/
	#shade{
		z-index: 115;
	}

	#shade3{
		background: black;
		opacity: 0.8;
		z-index: 118;
	}



	/*plandelete 팝업 PC버전*/
	.popup_title{
		display: inline;
		font-size: 19px;
		font-weight: 500;
		color: #282828;
	}
	/**/

}