@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
	padding-top: 50px;
	background-color: #f4f4f4;
	font-family: 'Noto Sans KR';
}

.ptaddbox{
	padding-right: 5%;
	padding-left: 5%;
	margin-top: 5%;
}

.ptaddboxtext{
	font-size: 14px;
	color: #3b3d3d;
}

.pters_dropdown_custom{
	width: 60%;
	font-family: 'Noto Sans KR';
}


.datepicktext{
	color: black;
}


.dropdown{
	width: 100%;
	height: 40px;
	margin-top: 10px;
}

.dropdown button{
	font-size: 15px;
	height: 100%;
}

.pters_dropdown_custom{
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.dropdown_selected{
	box-shadow: 0 0.5px 0 0 red !important;
	-webkit-box-shadow: 0 0.5px 0 0 red !important;
}

.dropdown-menu li{
	text-align: center;
	font-size: 15px;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 0 0.5px 0 0 #3b3d3d;
	-webkit-box-shadow: 0 0.5px 0 0 #3b3d3d;
}


.dropdown ul{
	padding-top: 0px;
	padding-bottom: 0px;
}

.btn-default{
	border: 0px;
	box-shadow: 0 0.5px 0 0 #3b3d3d;
	-webkit-box-shadow: 0 0.5px 0 0 #3b3d3d;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

#remainCount{
	position: relative;
}


#remainCount div:nth-child(2){
	background-color: #ffffff;
	box-shadow: 0 0.5px 0 0 #3b3d3d;
	-webkit-box-shadow: 0 0.5px 0 0 #3b3d3d;
	text-align: center;
}


#remainCount div:nth-child(2) div{
	border-bottom: 0.5px solid black;
}


#dateSelector{
	
}


.datepicktext input{
	width: 100%;
	height: 100%;
	border: 0px;
	box-shadow: 0 0.5px 0 0 #3b3d3d;
	-webkit-box-shadow: 0 0.5px 0 0 #3b3d3d;
	text-align: center;
	font-size: 15px;
}

#ui-datepicker-div{
	left: 0px !important;
	width: 100%;
}

#icons{
	width: 15px;
	padding-bottom: 4px;
}

