@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
	font-family: 'Noto Sans KR';
	padding-top: 50px;
	width: 100%;
}

.swiper-container{
	overflow-y: overlay;
	height: 100%;
}

span{
	cursor: pointer;
}


#shade{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: -1;
}

#float_btn{  /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
}

#float_btn img{ /*2017.10.2*/
	width: 100%;
	height: 100%;
	
}

.rotate_btn{
	-webkit-transform: rotate(47deg);
	transform: rotate(47deg);
}



#float_inner1{ /*2017.10.2*/
	background-color: #fe4e65;
}

#float_inner1 a{ /*2017.10.2*/
	color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
}

#float_inner2{ /*2017.10.2*/
	background-color: #ffffff;

}

#float_inner2 a{ /*2017.10.2*/
	color: #282828;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
}


.float_inner{ /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	background-color: grey;
	opacity: 0;
	border-radius: 50%;
	z-index: 9;	
	font-size: 13px;
	text-align: center; 
}
#date{
	position: relative;
	padding-top: 10px;
	padding-right: 35px;
	padding-left: 35px;
	height: auto;
	z-index: 3;
	background-color: transparent;
	border-bottom: 0px;
}



#ymdText{
	position: fixed;
	height: auto;
	z-index: 3;
	width: 100%;
}

#ymdTextWrap{
	width: 100%;
	text-align: center;
	margin-top: 2px;
}

#yearText{
	position: relative;
	display: inline;
	color : #ffffff;
	font-size: 15px;
	width: 100%;
	margin-right: 5px;
}

#monthText{
	position: relative;
	display: inline;
	color : #fe4e65;
	font-size: 19.5px;
	font-weight: 700;
	width: 100%;
}

#gapbox{
	width: 100%;
	height: 0px;
	position: relative;
	padding-bottom: 57px;
	overflow-y: hidden;
	background-color: transparent;
}


.week-style{ /*week 스타일*/
	background-color: transparent;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	font-size: 14.4px;
	height: 70px;
	padding-bottom: 7px;	
}

@media(min-width:570px){
	.week-style{ /*week 스타일*/
		background-color: transparent;
		position: relative;
		width: 100%;
		border-bottom: 1px solid #cccccc;
		height: 15%;
		padding-bottom: 7px;
		font-size: 16px;
		font-weight: bold;	

	}
}

.calendar-style{  /*week 스타일하위 */
	width: 100%;
	text-align: center;
	height: 98%;
}

.calendar-day-style{  /*왈화수목금토일 스타일 */
	font-size: 12px;
}

@media(min-width:570px){
	.calendar-day-style{  /*왈화수목금토일 스타일 */
		font-size: 15px;
	}
}

.calendar_image{
	width: 100%;
	margin: auto;
}

.weekday_style{
	font-weight: 600;
	font-size: 1em;
}


#calendar{
	position: fixed; /*2017.10.02*/
	width: 100%;
	height: 78%;
	background-color: rgba(0,0,0,0);
	padding-left: 20px;
	padding-right:20px;
	z-index: -1;
}


.cal_box{
	background-color: black;
	height: 0px;
	width: 100%;
	position: absolute;
	top:80%;
}

#calendar td{
	width: 14.3%;
	color : #282828;
}

.dateNum{
	z-index: 10;
}

.nextDates{
	color : #282828;
	opacity: 0.5;
}

.prevDates{
	color : #282828;
	opacity: 0.5;
}

.sunday{
	color : #d21245 !important;
}

.saturday{
	color : #115a8e !important;
}

.weekdays{
	color: #ffffff !important;
}

.dateDisabled{
	display:block;
	margin:auto;
	width: 30px;
	height: 30px;
	background: #f4f4f4;
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	border-radius: 50%;
	z-index: -1;
}

.dateMytime{
	position: absolute;
	display:block;
	margin:auto;
	width: 30px;
	height: 30px;
	background: #fddadf;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	border-radius: 50%;
	z-index: -1;
}

.greydateMytime{
	position: absolute;
	display:block;
	margin:auto;
	width: 30px;
	height: 30px;
	background: #e4e4e4;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	border-radius: 50%;
	z-index: -1;
}


.today{
	position:absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 3px solid #fe4e65;
	width: 90%;
	color: #fe4e65;
	font-weight: bold;
	font-size: 77%;
	width: 100%;
}

.holiday{
	color: red;
}

.balloon{
	position: absolute;
	background: #e4e4e4;
	height: 26%;
	width: 90%;
	bottom: -10%;
	border-radius: 1px;
	font-size: 12px;
	padding-top: 1px;
	z-index: -2;
	left: 50%;
	transform: translateX(-50%);
}

/*
.balloon:after{
	content: '';
	position: absolute;
	border-bottom: 10px solid #ccc;
	border-right:5px solid transparent;
	border-left: 5px solid transparent;
	top: -6px;
	left: 38%;
	z-index: -3;
}
*/

.blackballoon{
	position: absolute;
	color: #ffffff;
	background: #3b3d3d;
	height: 26%;
	width: 90%;
	bottom: -10%;
	border-radius: 1px;
	font-size: 12px;
	font-weight: 300;
	padding-top: 0.35px;
	z-index: -2;
	left: 50%;
	transform: translateX(-50%);
}

/*
.blackballoon:after{
	content: '';
	position: absolute;
	border-bottom: 10px solid #282828;
	border-right:5px solid transparent;
	border-left: 5px solid transparent;
	top: -6px;
	left: 38%;
	z-index: -3;
}
*/

@media(min-width:570px){
	.balloon{
		position: absolute;
		background: #e4e4e4;
		height: 18px;
		width: 40px;
		bottom: 0%;
		border-radius: 2px;
		font-size: 12px;
		padding-top: 1.5px;
		z-index: -2;
		left: 50%;
		transform: translateX(-50%);
	}

	.blackballoon{
		position: absolute;
		color: #ffffff;
		background: #3b3d3d;
		height: 18px;
		width: 40px;
		bottom: 0%;
		border-radius: 2px;
		font-size: 12px;
		font-weight: 300;
		padding-top: 1.5px;
		z-index: -2;
		left: 50%;
		transform: translateX(-50%);
	}
}



/*팝업 css*/
#ng_popup{
	display: none;
	position: fixed;
	background: #e4e4e4;
	top: 42%;
	left: 10%;
	width: 80%;
	border: 1px solid #a2a2a2;
	z-index: 103;
	text-align: center;
	font-weight: bold;
}


#cal_popup{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	top: 35%;
	left: 10%;
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: -2;
	text-align: center;
}

#cal_popup2{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	top: 35%;
	left: 10%;
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: -2;
	text-align: center;
}

#cal_popup3{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	top: 35%;
	left: 10%;
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: -2;
	text-align: center;
}

#popup_info,#popup_info2{
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
}


#popup_text2{
	color: #000ecc;
}


#popup_img{
	position: relative;
	background: #ffffff;
	height: 56px;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
}


#img_cal{
	position: absolute;
	top: 41%;
	left:41.5%;
	width: 25px;
	margin-right: 14.845px;
	margin-left: 14.845px;
}

#btn_close, #btn_close2, #btn_close3{
	position: absolute;
	top: 31%;
	left: 85%;
	padding: 10px;
	width: 35px;
	float: right;
}

.popup_inner{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
}

.popup_inner:hover{
	background: #a2a2a2;
	-webkit-background:#a2a2a2;
}


.popup_inner span{
	position: absolute;
	left: 41.5%;
	top: 30%;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.popup_inner_change{
	text-align: center;
}

.popup_inner_delete{
	text-align: center;
	color: #fe4e65;
}

#shade2{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	display: none;
	z-index: 101;
}

.available{
	border-top: 3px solid #88dfff;
	z-index: -1;
}

#addpopup{
	position: fixed;
	display: none;
	left: 5%;
	top: 25%;
	width: 90%;
	background: #ffffff;
	z-index: 105;
}

.admonth{
	height: 50%;
	opacity: 0.15;
	margin-top: 18px;
}


@media(min-width:415px){
	#cal_popup{
		display: none;
		position: fixed;
		background: transparent;
		border-color: transparent;
		top: 35%;
		left: 0;
		width: 100%;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		z-index: -2;
		text-align: center;
	}

	#cal_popup2{
		display: none;
		position: fixed;
		background: transparent;
		border-color: transparent;
		top: 35%;
		left: 0;
		width: 100%;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		z-index: -2;
		text-align: center;
	}

	#cal_popup3{
		display: none;
		position: fixed;
		background: transparent;
		border-color: transparent;
		top: 35%;
		left: 0;
		width: 100%;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		z-index: -2;
		text-align: center;
	}

	#popup_info,#popup_info2{
		background: #ffffff;
		position: relative;
		margin : 0 auto;
		width: 330px;
		text-align: center;
		color: #3b3d3d;
		font-size: 14px;
		font-weight: bold;
	}

	#popup_text2{
		color: #000ecc;
	}

	#popup_img{
		position: relative;
		margin :0 auto;
		background: #ffffff;
		height: 70px;
		padding-top: 22.5px;
		padding-bottom: 22.5px;
		width: 330px;
	}


	#img_cal{
		position: absolute;
		top: 30%;
		left:41.5%;
		width: 25px;
		margin-right: 14.845px;
		margin-left: 14.845px;
	}

	#btn_close, #btn_close2, #btn_close3{
		position: absolute;
		top: 22%;
		left: 85%;
		padding: 10px;
		width: 35px;
		float: right;
	}

	.popup_inner{
		background: #ffffff;
		margin: 0 auto;
		position: relative;
		height: 50px;
		border-top: 1px solid #a2a2a2;
		width: 330px;
	}

	.popup_inner:hover{
	background: #a2a2a2;
	-webkit-background:#a2a2a2;
	}
}

/*미디어 쿼리*/