.datepicktext{
	color: black;
}


div.ui-widget-header{
	background: #ffffff;
}


.datepicktext input{
	width: 100%;
	height: 100%;
	border: 0px;

	text-align: center;
	font-size: 13.5px;
	cursor: pointer;
}

@media(min-width: 600px){
	.datepicktext input{
		background-color: #f4f4f4;
	}
}



span.ui-datepicker-year{
	font-size: 14px;
}

span.ui-datepicker-month{
	display: inline;
	font-size: 19.3px;
	font-weight: bold;
	color: #fe4e65;
}

#ui-datepicker-div{
	left: 0px !important;
	width: 100%;
	z-index: 2000 !important;
	max-width: 452px;
	left: 50% !important;
	transform: translateX(-50%);
}


.ui-datepicker-calendar tr{
	height: 37px;
	border-bottom: 0.5px solid #cccccc;
}


.ui-datepicker-calendar tbody tr td a{
	background: #ffffff !important;
	border: 0px !important;
	text-align: center;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	color: #fe4e65 !important;
	font-weight: bold !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	color: white !important;
	background: black !important;
	border-radius: 24px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	text-align: center;
	height: auto;
	background-color: beige;
}
