/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*/
body{
	/*font-family: 'Noto Sans KR';*/
	padding-top: 50px;
	width: 100%;
	background: black;
}

.swiper-slide{
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;
}

.swiper-container{
	height: 100%;
}

#shade2{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	display: none;
	z-index: 101;
}

#cal_popup{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	top: 35%;
	left: 10%;
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: -2;
	text-align: center;
}

#popup_info{
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
}

#popup_img{
	position: relative;
	background: #ffffff;
	height: 56px;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
}


#img_cal{
	position: absolute;
	top: 41%;
	left:41.5%;
	width: 25px;
	margin-right: 14.845px;
	margin-left: 14.845px;
}

#btn_close{
	position: absolute;
	top: 31%;
	left: 85%;
	padding: 10px;
	width: 35px;
	float: right;
}

.popup_inner{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
}

.popup_inner span{
	position: absolute;
	left: 41.5%;
	top: 30%;
	font-size: 14px;
	font-weight: bold;
}

.popup_inner_change{
	text-align: center;
}

.popup_inner_delete{
	text-align: center;
	color: #fe4e65;
}


#float_btn{  /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	z-index: 105;
	cursor: pointer;
}

#float_btn img{ /*2017.10.2*/
	width: 100%;
	height: 100%;
	
}

.rotate_btn{
	-webkit-transform: rotate(47deg);
	transform: rotate(47deg);
}



#float_inner1{ /*2017.10.2*/
	background-color: #fe4e65;
}

#float_inner1 a{ /*2017.10.2*/
	color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
}

#float_inner2{ /*2017.10.2*/
	background-color: #ffffff;

}

#float_inner2 a{ /*2017.10.2*/
	color: #282828;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
}


.float_inner{ /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	background-color: grey;
	opacity: 0;
	border-radius: 50%;
	z-index: 103;	
	font-size: 13px;
	text-align: center; 
}

#monthText{
	color : #fe4e65;
	font-size: 19.5px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 44%;
}

#yearText{
	color : #ffffff;
	font-size: 15px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 10%;
}

#ymdText{
	position: fixed;
	height: 50px;
	z-index: 3;
	width: 100%;
}

#gapbox{
	width: 100%;
	height: 0px;
	position: relative;
	padding-bottom: 13.5%;
	overflow-y: hidden;
	background-color: #ffffff;
}

.slide-notice{
	height: 50px;
	padding-top: 50%;
	text-align: center;
}

.slide-notice span{
	display: block;
}


.calendar-style{  /*week ìŠ¤íƒ€ì¼í•˜ìœ„ */
	width: 100%;
	height: 100%;
	text-align: center;
}



.arrowButton{
	position: absolute;
	width: 100%;
	height: 100%;
}

.arrowButton a{
	position: absolute;
	top: 20%;
	font-size: 35px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
}

.time-style{ /*week ìŠ¤íƒ€ì¼*/
	background-color: transparent;
	position: relative;
	width: 100%;
	font-size: 14.4px;
	height: 30px;
}

.hour{
	text-align: center;
	width: 9.72%;
	border-bottom: 1px solid transparent;
	font-size: 13px;
}

td{
	position: relative;
	width: 12.5%;
	height: 15px;
	color : #282828;
	border-bottom: 0.5px solid #a2a2a2;
	border-right:  1px solid #ffffff;
	border-left:  1px solid #ffffff;
	padding-right: 1px;
	padding-left: 1px;
}

tr{
	height: 50%;
}


#calendar{
	position: fixed;
	width: 100%;
	padding-top: 100px;
	background-color: #f4f4f4;
	padding-right: 0;
	padding-left: 0;
	height: 90%;
}

@media(max-height: 568px){
	#calendar{
	position: fixed;
	padding-top: 100px;
	width: 100%;
	background-color: #f4f4f4;
	padding-right: 0;
	padding-left: 0;
	height: 90%;
	}
}

.classTime{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #fe4e65;
	opacity: 0.9;
	border: 0.5px solid #fe4e65;
	border-bottom: 0.5px solid #a2a2a2;
	z-index: 100;
}

.offTime{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #606363;
	opacity: 0.9;
	border: 0.5px solid #606363;
	z-index: 100;
}

.classTimeIndicator{
	position: absolute;
	top: 17.5px;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe4e65;
}

.memberName{
	position: absolute;
	left: 3%;
	margin-top: 0px;
	font-size: 13.5px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #282828;
}

.memberTime{
	position: absolute;
	right: 6%;
	margin-top: 17px;
	font-size: 11.5px;
	letter-spacing: -0.3px;
	color: #3b3d3d;
}


#week{
	position: fixed;

	z-index: 2;
	background-color: #f4f4f4;
	height: auto;
	padding-top: 50px;

}

#weekText span{
	display: block;
}

.weekToday-style{
	height: 18px;
	font-size: 14.1px;
}

.today-Number{
	font-weight: bold;
	font-size: 16px;
}


.today{
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 3px solid #fe4e65;
	color: #fe4e65;
	font-weight: 600;
	font-size: 78%;
}

.currentTimeBox{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;

}

.currentTimeIndicator{
	position: absolute;
	left: 9%;
	top: 37%;
	width: 9px;
	height: 9px;
	background-color: #fe4e65;
	border-radius: 4.5px;
	z-index: 101;
}


.currentTimeLine{
	position: absolute;
	border-top: 1px dotted #fe4e65;
	left: 9.5%;
	top: 52%;
	width: 90%;
	z-index: 101;
}



/*미디어 쿼리*/
@media(min-width:415px){
	#cal_popup{
		display: none;
		position: fixed;
		background: transparent;
		border-color: transparent;
		top: 35%;
		left: 0;
		width: 100%;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		z-index: -2;
		text-align: center;
	}

	#popup_info{
		background: #ffffff;
		position: relative;
		margin : 0 auto;
		width: 330px;
		text-align: center;
		color: #3b3d3d;
		font-size: 14px;
		font-weight: bold;
	}

	#popup_img{
		position: relative;
		margin :0 auto;
		background: #ffffff;
		height: 70px;
		padding-top: 22.5px;
		padding-bottom: 22.5px;
		width: 330px;
	}


	#img_cal{
		position: absolute;
		top: 30%;
		left:41.5%;
		width: 25px;
		margin-right: 14.845px;
		margin-left: 14.845px;
	}

	#btn_close{
		position: absolute;
		top: 22%;
		left: 85%;
		padding: 10px;
		width: 35px;
		float: right;
	}

	.popup_inner{
		background: #ffffff;
		margin: 0 auto;
		position: relative;
		height: 50px;
		border-top: 1px solid #a2a2a2;
		width: 330px;
	}
}

/*미디어 쿼리*/