@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
    font-family: 'Noto Sans KR' !important;
    background: #f4f4f4;
}

.navbar-default{ /*Nav bar 배경 색상*/
    background: #ffffff;
}

.navbar-default .navbar-brand{
    color:black;
}

a:focus, a:hover{
    text-decoration: none;
    color: grey;
}


.wrap{
    width: 100%;
    max-width: 1000px !important;
    left: 50% !important;
    transform: translateX(-50%);
}

.wraptrainer{
    width: 100%;
    max-width: 750px !important;
    left: 50% !important;
    transform: translateX(-50%);
}



/* Sidebar CSS */

#user_name{
    color: #fe4e65;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 57%;
    width: 100%;
}

#welcome{
    color: #fe4e65;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 68%;
    width: 100%;

}
.sidebar_upper img{
    width: 50px;
   
    margin: auto;
} 

.sidebar_upper div{
    width: 100%;
    position: absolute;
    top: 25%;
    text-align: center;
}

.outer_Sidenav{
    background-color: transparent !important;
}

.sidebar_text{
    color:#282828;
    font-weight: 600;
    text-align: center;
}

.sidebar_upper{
    height: 33%;
    background: transparent;
    position: relative;
}

.sidebar_icon{
    position:absolute;
    left: 33%;
    padding: 15px 30px 15px 0px;
    width: 50px;
}

.sidebar_div{
    height: 50px;
    border-top: 0.5px solid #cccccc;
    background-color: #ffffff;
}

.sidebar_text:focus{
    color: #fe4e65;
    background-color: #a2a2a2;
    -webkit-background-color: #a2a2a2;
}

.sidebar_text:hover{
    color: #fe4e65;
    background-color: #a2a2a2;
    -webkit-background-color: #a2a2a2;
}

.sidebar_div_last{
   position: absolute;
   bottom: 0%;
   width: 100%;
   border-top: 0px;
}

.sidebar_div_last1{
    width: 80%;
    border-top: 0.5px solid #cccccc
}

.sidebar_div_last2{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 16.7%;
    height: 50px;
    margin: auto;
    border-top: 0.5px solid #cccccc
}

.sidebar_icon_setting{
    left: 20.8%;
    padding: 15px 30px 15px 0px;
}

.sidebar_icon_info{
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.15s;
    padding-top: 0px;
}

.sidenav-size{
        width: 80%;
    }

.sidenav a {
    padding: 16px 8px 18px 57px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* Sidebar에서 선택했을때 선택된 Text 색상 변경
.sidenav a:hover, .offcanvas a:focus{
    color: #cccccc;
} 
*/

.sidenav .closebtn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 50px;
    color: #ffffff;
    z-index: 10;
}


#shade{
    position: fixed;
    display: none;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 상단 Navbar CSS */

#upbutton{
    float:left;
    left: 2%;
    border: 0px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#upbutton-x{
    float:left;
    left: 2%;
    border: 0px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#upbutton-alarm, #upbutton-check{
    float:right;
    right: 2%;
    border: 0px;
    margin-right: 0px;
    height: 40px;
    width: 40px;
}

#upbutton-alarm:active, #upbutton-check:active{
    background: #4e4c4c;
}

.uptext{
    position: absolute;
    color: black;
    text-decoration: none;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 250px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    max-height: 48px;
    padding-top: 17px;
}

#uptext1,#uptext2{
    color: black !important;
}


/* Bootstrap css direct access & editing 부트스트랩 css 직접 수정*/ 
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: black;
}

.navbar-toggle .icon-bar{
    height: 2.5px;
}

.navbar-toggle{
    margin-bottom: 1px;
}



/* Bootstrap css direct access & editing 부트스트랩 css 직접 수정(화면이 커져도 Navbar collapse 되지 않도록)*/ 
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse.collapse.in{
    display:block!important;
}

#loginInfo{
    display: block;
}

.pcwhere, .pcwho{
    display: none;
}

/*미디어 쿼리*/
@media(min-width:415px){
    .sidenav-size {
        width: 35%;
    }
}
/*미디어 쿼리*/

#page-base{
    display: block;
}

#page-base-addstyle{
    display: none;
}

#pcver{
    display: none;
}

.fixfooter{
    display: none;
}

.bottomfooter1{
    color: #7d7d7d;
    font-size: 12px;
    font-weight: 400;
    width: 512px;
    max-width: 1000px;
    margin:0 auto;
    height: 50px;
}

.bottomfooter1 span{
    line-height: 50px;
    margin-left: 0px;
}

.bottomfooter2{
    width: 512px;
    max-width: 1000px;
    margin:0 auto;
    color: #282828;
    font-size: 10px;
}

.bottomfooter2 p{
    margin-bottom:1px;
}

.footergap{

}







/*PC버전 상단네비바*/

.centermenu{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin:0 auto;   
}

.centermenu_box{
    position: fixed;
    width: 520px;
    top: 3px;
    text-align: center;
}

.centermenu_div{
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
}

.centermenu_text{
    line-height: 60px;
    font-size: 13.5px;
    font-weight: 600;
    color: #282828;
}

.centermenu_text:hover,.centermenu_text:focus{
    color:#fe4e65;
}

.centermenu_logo{
    display: none;
    height: 24px;
    margin-bottom: 6px;
    margin-top: 18px;
}

.pclogout{
    position: absolute;
    right: -57px;
    top: 20px;
    font-size: 9.5px;
    border:0.5px solid #fe4e65;
    background: transparent;
    padding: 4px;
    color: #fe4e65;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.pclogout:hover,.pclogout:active{
    background: #fe4e65;
    color: #ffffff;
}

.pcwho{
    color:#282828;
    font-size: 12.5px;
    margin-right: 10px;
    font-weight: 500;
    line-height: 62px;
}

.pcwhere{
    color: #282828;
    font-size: 12.5px;
    margin-right: 5px;
    font-weight: 500;
    line-height: 62px;
}



/*PC버전 상단,하단네비바*/


/*미디어 쿼리*/
@media(min-width:600px){
    #page-base{
        display: none;
    }
    
    #pcver{
        display: block;
        background: #ffffff;
        border-top: 3px solid #fe4e65;
        height: 65px;
    }

    body{
        padding-top: 65px !important;
    }
}

/*미디어 쿼리*/

@media(min-width:1024px){
    #loginInfo{
        display: inline-block;
    }

    .pcwhere, .pcwho{
        display: inline-block;
    }

    .fixfooter{
        display: block;
        position: relative;
        width: 100%;
        height: 132px;
        background: #ffffff;
        z-index: 1;
    }

    .centermenu_logo{
        display: inline-block;
    }
}

.pclogout{
    display: none;
}

@media(min-width: 1150px){
    .pclogout{
        display: inline-block;
    }
}