@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
    font-family: 'Noto Sans KR' !important;
}


/* Sidebar CSS */

#user_name{
    color: #fe4e65;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 57%;
    width: 100%;
}

#welcome{
    color: #fe4e65;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 68%;
    width: 100%;

}
.sidebar_upper img{
    width: 50px;
   
    margin: auto;
} 

.sidebar_upper div{
    width: 100%;
    position: absolute;
    top: 25%;
    text-align: center;
}

.outer_Sidenav{
    background-color: transparent !important;
    opacity: 0.8;
}

.sidebar_text{
    color:#282828;
    font-weight: 600;
    text-align: center;
}

.sidebar_upper{
    height: 33%;
    background: transparent;
    position: relative;
}


.sidebar_icon{
    position:absolute;
    left: 33%;
    padding: 15px 30px 15px 0px;
    width: 50px;
   
}

.sidebar_div{
    height: 50px;
    border-top: 0.5px solid #cccccc;
    background-color: #ffffff;
}

.sidebar_div_last{
   position: absolute;
   bottom: 0%;
   width: 100%;
   border-top: 0px;
}

.sidebar_div_last1{
    width: 80%;
    border-top: 0.5px solid #cccccc
}

.sidebar_div_last2{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 16.7%;
    height: 50px;
    margin: auto;
    border-top: 0.5px solid #cccccc
}

.sidebar_icon_setting{
    left: 20.8%;
    padding: 15px 30px 15px 0px;
}

.sidebar_icon_info{
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav-size{
        width: 80%;
    }

.sidenav a {
    padding: 16px 8px 18px 57px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* Sidebar에서 선택했을때 선택된 Text 색상 변경
.sidenav a:hover, .offcanvas a:focus{
    color: #cccccc;
} 
*/

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 50px;
    color: #ffffff;
    z-index: 10;
}


#shade{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 상단 Navbar CSS */

#upbutton{
    float:left;
    left: 2%;
    border: 0px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#upbutton-alarm{
    float:right;
    right: 2%;
    border: 0px;
    margin-right: 0px;
    height: 40px;
    width: 40px;
}

#uptext{
    color: black;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 250px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    max-height: 48px;
    padding-top: 17px;
}


/* Bootstrap css direct access & editing 부트스트랩 css 직접 수정*/ 
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: black;
}

.navbar-toggle .icon-bar{
    height: 2.5px;
}

.navbar-toggle{
    margin-bottom: 1px;
}



/* Bootstrap css direct access & editing 부트스트랩 css 직접 수정(화면이 커져도 Navbar collapse 되지 않도록)*/ 
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse.collapse.in{
    display:block!important;
}


/*미디어 쿼리*/
@media(min-width:415px){
    .sidenav-size {
        width: 35%;
    }
}

/*미디어 쿼리*/
