<!DOCTYPE html>
<html lang="en">
<head>
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}PTers-Trainer Mode {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href={% static_url "common/css/bootstrap.min.css" %} rel="stylesheet">
    <link rel="icon" href="/static/common/favicon.ico">
    <link rel="apple-touch-icon" href="/static/common/favicon-152.png">
    <link rel="shortcut icon" href="/static/common/favicon-152.png">
    <link rel="stylesheet" href={% static_url "user/css/pters.base.set.css" %}>
    <link rel="stylesheet" href={% static_url "common/css/swiper.min.css"%}>

    {% block local_css %}
    {% endblock %}

</head>
<body>
{% block navbar %}
    <div id="shade">
    </div>
    <nav class="navbar navbar-fixed-top navbar-default wrap">
        <div class="">
            <div class="navbar-header">
                <button id="upbutton" class="navbar-toggle" aria-controls="navbar" onclick="javascript:history.back()">
                    <img src={% static_url "user/res/ptadd/btn-x.png" %} style="width:90%;">
                </button>
                {% block nav_center_img %}
                    <a id="uptext" class="uptext navbar-brand">회원 레슨 일정등록</a>
                {% endblock %}
                <button id="upbutton-alarm" class="navbar-toggle" aria-controls="navbar">
                    <img src={% static_url "user/res/ptadd/btn-complete.png" %} style="width:100%;">
                </button>
            </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

{% endblock %}

{% block content %}
{% endblock %}


<footer class="fixfooter">
    <div class="bottomfooter1">
        <span>회사소개</span><span style="margin-left:10px;margin-right: 10px;">|</span>
        <span>이용안내</span><span style="margin-left:10px;margin-right: 10px;">|</span>
        <span>제휴제안</span><span style="margin-left:10px;margin-right: 10px;">|</span>
        <span>개인정보처리방침</span><span style="margin-left:10px;margin-right: 10px;">|</span>
        <span>고객센터</span><span style="margin-left:10px;margin-right: 10px;">|</span>
    </div>
    <div class="bottomfooter2">
        <p>스푸너(SPOONER) 통신판매업 신고 : 제 2017-서울동작-0672호, 사업자등록번호 : 463-56-00284, 대표자 : OOO,XXX</p>
        <p>Tel : xxxx-xxxx, Fax : xxxx-xxxx, 주소 : 서울특별시 동작구 신대방동 보라매로 50길 7가 캐릭터그린빌 오피스텔 x층 XXX호</p>
        <p>이용 및 제휴문의 : skkim.ku@gmail.com</p>
        <p>- </p>
        <p>Copyright(C) SPOONER All rights reserved.</p>
    </div>
</footer>


{% block footer %}

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src={% static_url "common/js/bootstrap.min.js" %}></script>
<script type="text/javascript" src={% static_url "common/js/jquery.swipe.js" %}></script>
<script type="text/javascript" src={% static_url "common/js/jquery.touch.js" %}></script>
<script type="text/javascript" src={% static_url "common/js/swiper.jquery.min.js" %}></script>
<script>
    ///********************* 회원 월간 달력 옵션*************************************///
    ///********************* 회원 월간 달력 옵션*************************************///
    var Options = {
        "language" : "{{ request.session.setting_language }}", //Korea, Japan, English, Chinese, Spanish
        "reserve":"enable", //회원 일정 기능을 enable/disable
        "stoptimeStart":21, //강사가 설정한 예약불가 시간 (시작)
        "stoptimeEnd":8,    //강사가 설정한 예약불가 시간 (종료)
        "limit":1,          //현재시간으로부터 몇시간뒤에 일정 추가가능하게 할지 셋팅 (ex: 1일경우, 15시 일정을 14시 이후에 추가 불가)
        "cancellimit":1,    //현재시간부터 몇시간 앞 일정 캔슬 가능하게 할지 셋팅 (ex: 1일경우, 15시 일정을 14시 이후에 삭제 불가)
    }
    ///********************* 회원 월간 달력 옵션*************************************///
    ///********************* 회원 월간 달력 옵션*************************************///
</script>
<script type="text/javascript" src={% static_url "user/js/pters.base.set.js" %}></script>
{% block local_js_footer %}
{% endblock %}

</body>
</html>