    {% load static_url %}
    {% autoescape off %}
{

      "product_id" :
      ["{{ payment_info.product_tb_id }}"],
      "name" :
      ["{{ payment_info.name }}"],
      "merchandise_type_cd" :
      ["{{ payment_info.merchandise_type_cd }}"],
      "merchant_uid" :
      ["{{ payment_info.merchant_uid }}"],
      "customer_uid" :
      ["{{ payment_info.customer_uid }}"],
      "start_date" :
      ["{{ payment_info.start_date }}"],
      "end_date" :
      ["{{ payment_info.end_date }}"],
      "paid_date" :
      ["{{ payment_info.paid_date }}"],
      "payment_type_cd" :
      ["{{ payment_info.payment_type_cd }}"],
      "price" :
      ["{{ payment_info.price }}"],
      "channel" :
      ["{{ payment_info.channel }}"],
      "card_name" :
      ["{{ payment_info.card_name }}"],
      "buyer_email" :
      ["{{ payment_info.buyer_email }}"],
      "status" :
      ["{{ payment_info.status }}"],
      "fail_reason" :
      ["{{ payment_info.fail_reason }}"],
      "currency" :
      ["{{ payment_info.currency }}"],
      "pay_method" :
      ["{{ payment_info.pay_method }}"],
      "pg_provider" :
      ["{{ payment_info.pg_provider }}"],
      "receipt_url" :
      ["{{ payment_info.receipt_url }}"],
      "buyer_name" :
      ["{{ payment_info.buyer_name }}"],
      "mod_dt" :
      ["{{ payment_info.mod_dt }}"],
      "auth_info" :
       [{{ auth_info }}],
    "messageArray" :
    [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}]
}

    {% endautoescape %}