<!DOCTYPE html>
<html lang="en" class="pters_light_mode">
<head>
    <title>피터스 - 레슨 일정 및 회원 관리 서비스</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer', 'GTM-WG2KK6D');</script>
    <!-- End Google Tag Manager -->
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
    <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="751903262384-dbtt6ho5imk5gssgn1rqpe3vs3linq15.apps.googleusercontent.com">
    <!-- <meta name="login" content="피터스 로그인"> -->
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 당구, 골프 등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PTERS 피터스">
    <meta property="og:description" content="레슨 회원, 일정 관리 서비스">
    <link rel="icon" href={% static_url "common/favicon.ico" %}>
    <link rel="apple-touch-icon" href={% static_url "common/favicon-48.png" %}>
    <link rel="shortcut icon" href={% static_url "common/favicon-48.png" %}>
    <!-- <meta property="og:image" content="http://www.mysite.com/myimage.jpg">
    <meta property="og:url" content="http://www.mysite.com"> -->
    <style type="text/css">
         /*폰트 임포트*/
         @import url(/static/common/fonts/notosanskr.css);
         html{
             font-family: 'Noto Sans KR', sans-serif !important;
             box-sizing: border-box !important;
         /* background-color: #f7f5f6;*/
         }

         a{
             text-decoration: none;
         }
    </style>
    <!-- <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.fundamental.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.object.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.base.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.base.css" %}> -->
    {% block local_css %}
    {% endblock %}
</head>
<body>
<div id="shade_for_popup_basic" style="position: absolute;top:0;left:0;height:100%;width:100%;background-color:#282828;opacity:0.5; display: none;"
onclick="layer_popup.close_layer_popup();"></div>
{% include 'popup/trainer_popup_basic.html' %}
{% block content %}
{% endblock %}
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.fundamental.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.const.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.base.js" %}></script>
    <script type="text/javascript" src="{% static_url "user/js/trainer/pters.trainer.popup.behavior.js" %}"></script>
    <script type="text/javascript">
        //기기종류 판단
        const varUA = navigator.userAgent.toLowerCase();
        let device = PC;
        let os = IOS;
        let browser = CHROME;
        if (varUA.match(/android/) != null) {
            device = MOBILE;
            os = ANDROID;
        }else if (varUA.match(/iphone/) != null || varUA.match(/ipad/) != null || varUA.match(/ipod/) != null) {
            device = MOBILE;
            os = IOS;
        }else if (varUA.match(/macintosh/) != null){
            device = PC;
            os = IOS;
        }else{
            device = PC;
            os = WINDOW;
        }

        if (varUA.match(/firefox/) != null) {
            browser = FIREFOX;
        }else if (varUA.match(/chrome/) != null || varUA.match(/chromium/) != null) {
            browser = CHROME;
        }else if (varUA.match(/safari/) != null) {
            browser = SAFARI;
        }else if (varUA.match(/edge/) != null) {
            browser = EDGE;
        }
    </script>
{% block local_js_footer %}
{% endblock %}

</body>



</html>