{% extends "base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/login/login.registration.css" %}>
    <style>
        #root_nav{
            display: none;
        }
        #root_content{
            background-color: #ffffff;
        }
        .login_content{
            background-image: url('/static/common/img/home_bg/bg_small.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;

            margin: 0;
            padding: 0 20px 40px;
            margin-bottom: 20px;
        }
        .social_login_box_wrapper{
            width: 100%;
            display:flex;
            margin-top: 8px;
            flex-direction: row;
        }
        .social_login_box_wrapper .social_login_box{
            /* display: flex; */
            flex: 1 1 0;
        }
        @media(max-width:340px){
            .social_login_box_wrapper{
                display:flex;
                flex-direction: column;
            }
            .social_login_box_wrapper .social_login_box{
                flex: 1 1 0;
            }
        }

        .front_page_section{
            min-height: 800px;
        }
        .front_page_section > .article_title_wrapper{
            display: block;
            padding: 20px;
            word-break: keep-all;
            text-align: center;
        }
        .front_page_section > .article_wrapper{
            display: flex;
            flex-direction: column;
        }
        .front_page_section .section_article_up{
            flex: 1 1 0;
            text-align: center;
        }
        .front_page_section .section_article_down{
            flex: 1 1 0;
            text-align: center;
        }
        .front_page_section .article_description_wrap{
            text-align: center;
            word-break: keep-all;
            padding: 10px 0;
        }
        .block_description{
            display:inline-block;
            width:150px;
            text-align:center;
            padding:20px 5px;
            vertical-align: top;
            font-size: 13px;
        }

        #mobile_button_for_show{
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            
        }
        #mobile_button_for_show img{
            width: 24px;
            vertical-align: middle;
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            90% {
                opacity: 0.3;
            }
        }
        #description_wrapper{
            display: none;
        }
        /* PC버전 화면 */
        @media(min-width:800px){
            #mobile_button_for_show{
                display: none;
            }
            #description_wrapper{
                display: block;
            }
            #root_nav{
                display: block;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
                width: 100%;
                height: 60px;
                background-color: #ffffff;
                z-index: 1;
            }
            #root_nav > div{
                display: flex;
                width: 100%;
                max-width: 1024px;
                margin: 0 auto;
                padding: 0 20px;
                box-sizing: border-box;
            }
            #login_wrapper{
                flex: 1 1 0;
                max-width: 150px;
                line-height: 60px;
                margin: 0 auto;
            }
                #logo{
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
                #logo_text{
                    font-size: 20px;
                    font-weight: 900;
                    letter-spacing: -1px;
                    color: #1f1d1e;
                    vertical-align: middle;
                }
            #menu_wrapper{
                flex: 1 1 0;
                text-align: right;
                line-height: 60px;
            }
                #menu_wrapper > ul{
                    list-style-type: none;
                    margin: 0;
                }
                #menu_wrapper > ul > li{
                    display: inline-block;
                    width: 90px;
                    float: right;
                    font-size: 14px;
                }
                #menu_wrapper > ul > li > a{
                    color: #1f1d1e;
                }


            #root_content{
                background-color: #f4f4f4;
                height: calc(100% - 60px);
            }

            .front_page_section > .article_wrapper{
                flex-direction: row;
                width: 100%;
                height: 100%;
                max-width: 1024px;
                margin:0 auto;
            }

            .front_page_section > .article_title_wrapper{
                width: 100%;
                height: 100%;
                max-width: 1024px;
                margin:0 auto;
            }
            .front_page_section .article_description_wrap{
                text-align: left;
                word-break: keep-all;
                padding: 10px 0;
            }



            #login_box{
                display: flex;
                max-width: 1024px;
                padding-top: 200px;
                box-sizing: border-box;
            }
            .login_content{
                flex: 3 1 0;
                height: 400px;
                background-size: contain;
                padding-top: 0;
                background-image: url('/static/common/img/home_bg/bg_big.png');

                margin: 0 20px;
                padding: 0;
                margin-bottom: unset;
            }
            .login_foot{
                flex: 2 1 0;
                min-width: 415px;
                height: 430px;
                background-color: #ffffff;
                padding: 40px;
                box-sizing: border-box;
                border-radius: 10px;
            }
        }


    </style>
{% endblock %}
{% block content %}
    <nav id="root_nav">
        <div>
            <div id="login_wrapper">
                <a href="/"><img src="/static/common/icon/logo/PTERS_logo_short.png" alt="PTERS 로고" id="logo"></a>
                <a href="/"><span id="logo_text">PTERS</span></a>
            </div>
            <div id="menu_wrapper">
                <ul>
                    <li><a onclick="go_to('app');" style="cursor: pointer;">앱</a></li>
                    <li><a onclick="go_to('feature')" style="cursor: pointer;">특징</a></li>
                </ul>
            </div>
        </div>
        
    </nav>

    <div id="root_content">
        <section class="front_page_section">
            <div id="login_box">

                <div class="login_content">
                    <!-- <div class="pters_logo">
                        <a href="/">
                            <img src="/static/common/icon/logo/PTERS_logo_short.png" alt="PTERS 피터스 로고" style="width:100%;">
                        </a>
                    </div> -->
                    <div class="pters_description">
                        <span style="font-weight:500;">쉽고 빠르게</span> <br/>
                        <span style="font-weight:bold;">레슨을 관리하는 방법</span> <br>
                        <span style="font-weight:bold;color:#fe4e65;font-size:22px">피터스 PTERS</span></div>
                </div>
                <div class="login_foot">
                    <form action="{% url 'login:login' %}" id="login-form" method="post">
                        <input type="hidden" name="auto_login_check" value="1">
                        <input type="hidden" name="next_page" value = '{% url 'index' %}'>
                        {% csrf_token %}

                        <!-- PTERS 로그인 입력 영역 -->
                        <div>
                            <input class="pters_login_input" type="text" name="username" id="username_id" placeholder="아이디" autofocus>
                        </div>
                        <div style="margin-top:8px;">
                            <input class="pters_login_input" type="password" name="password" id="password_id" placeholder="비밀번호" onkeyup="enter_key();">
                        </div>
                        <!-- PTERS 로그인 버튼 노출 영역 -->
                        <div class="social_login_box" onclick="document.getElementById('login-form').submit();" style="background-color: #fe4e65; margin-top:12px;">
                            <div class="social_login_img" style="display:none;"></div>
                            <span class="social_login_text" style="color:#ffffff; text-align:center;">로그인</span>
                            <div style="display:table-cell; width:60px;display:none;"></div>
                        </div>

                        <div style="width:100%;height:2px;background-color:#f5f2f3;margin-top:15px;margin-bottom:15px;">

                        </div>

                        <div class="social_login_box_wrapper">
                            <!-- 네이버 로그인 버튼 노출 영역 -->
                            <div class="social_login_box" onclick="location.href=naverLogin.generateAuthorizeUrl();" style="background-color: #0dd25a;">
                                <div class="social_login_img">
                                    <img src="/static/common/icon/icon_naver_logo.png" style="width: 24px; height: 24px; vertical-align:middle;" alt="PTERS 네이버로 로그인">
                                </div>
                                <span class="social_login_text">네이버 로그인</span>
                                <div class="social_login_arrow">
                                    <img src="/static/common/icon/icon_arrow_r_small_white.png" style="width: 24px; height: 24px; vertical-align:middle;">
                                </div>
                            </div>

                            <div style="flex-basis:8px;"></div>

                            <!-- 카카오톡 로그인 버튼 노출 영역 -->
                            <div class="social_login_box" id="custom-login-btn" onclick="loginWithKakao();" style="background-color: #ffeb00;">
                                <div class="social_login_img">
                                    <img src="/static/common/icon/icon_kakao_logo.png" style="width: 24px; height: 24px; vertical-align:middle;" alt="PTERS 카카오로 로그인">
                                </div>
                                <span class="social_login_text" style="color:#3a1c1d;">카카오 로그인</span>
                                <div class="social_login_arrow">
                                    <img src="/static/common/icon/icon_arrow_r_small_black.png" style="width: 24px; height: 24px; vertical-align:middle;">
                                </div>
                            </div>
                        </div>

                        <!-- 일반 로그인 버튼 노출 영역 -->
                        <!-- <div class="social_login_box" id="custom-login-btn" onclick="location.href='{% url 'login:index' %}';" style="background-color: #ffffff; margin-top:8px;  border:1px solid #ebe6e6;">
                            <div class="social_login_img">
                                <img src="/static/common/icon/icon_pters_logo.png" style="width: 24px; height: 24px; vertical-align:middle;" alt="PTERS 로그인">
                            </div>
                            <span class="social_login_text" style="color:#3a1c1d;">일반 로그인</span>
                            <div style="display:table-cell; width:60px; vertical-align: middle; text-align:right; padding-right:8px;">
                                <img src="/static/common/icon/icon_arrow_r_small_light_grey.png" style="width: 24px; height: 24px; vertical-align:middle;">
                            </div>
                        </div> -->

                        <!-- 구글아이디로그인 버튼 노출 영역 -->
                        <!--<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="width:179px;margin-bottom:8px;"></div>-->
                        <!-- 페이스북아이디로그인 버튼 노출 영역 -->
                        <!-- <fb:login-button
                        scope="public_profile, email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="text-align: center;display: block">
                        </fb:login-button> -->
                        <!--<div style="width:320px; height: 1px;background:#f5f2f3;margin-top: 16px; margin-bottom: 8px; opacity: 0.3"></div>-->
                        <!-- 회원가입, 일반 로그인 버튼 노출 영역역 -->
                        <!-- <div class="general_text" style="display:table; width:100%; height: 48px; margin-top:24px;color:#858282">
                            계정이 필요하지 않으십니까? &nbsp;&nbsp;&nbsp;<span onclick="location.href='{% url 'login:check_registration' %}'" style="color:#fe4e65;font-weight:bold;text-decoration: underline;">회원가입</span>
                        </div> -->
                        <div style="width:100%;height:2px;background-color:#f5f2f3;margin-top:15px;margin-bottom:0px;">

                        </div>
                        <div style="display:table; width:100%; height: 48px;">
                            <div class="general_text" style="color:#858282;" onclick="location.href='{% url 'login:check_registration' %}'">회원 가입</div>
                            <div class="general_text" style="color:#858282;" onclick="location.href='{% url 'login:reset_password' %}'">비밀번호 초기화</div>
                        </div>
                        <div style="width:100%;height:2px;background-color:#f5f2f3;margin-bottom:0px;">

                        </div>
                        <div style="display:table; width:100%; height: 28px;">
                            <div class="general_text" style="color:#858282; height:28px; font-size: 11px;">문의 : 070-8816-1010 / support@pters.co.kr</div>
                        </div>
                        <div style="display:table; width:100%; height: 28px; font-size: 10px;">
                            <div class="general_text" style="color:#858282; height:28px; font-size: 11px;">고객센터 운영시간 : 10:00 ~ 18:00(점심시간 13:00~14:00)</div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section id="mobile_button_for_show" onclick="show_description();">
            <p style="margin:0"><img src="/static/common/icon/icon_arrow_expand_pink.png" alt="">  더 알아보기</p>
        </section>

        <div id="description_wrapper">
            <section class="front_page_section" style="background-color:#f4f4f4;min-height:unset;" id="feature_first_page">
                <div class="article_title_wrapper">
                    <h2>레슨 관리를 스마트 하게</h2>
                    <p>복잡한 횟수 차감과 일정 관리 시간은 줄이고, 레슨에 집중할 수 있습니다.</p>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#ffffff;">
                <!-- <div class="article_title_wrapper">
                    <h2>레슨 관리를 스마트 하게</h2>
                    <p>복잡한 횟수 차감과 일정 관리 시간은 줄이고, 레슨에 집중할 수 있습니다.</p>
                </div> -->
                <div class="article_wrapper">
                    <article class="section_article_up">
                        <img src="/static/common/img/front_page/appstore_mobile_3.jpg" alt="">
                    </article>
                    <article class="section_article_down">
                        <div class="article_description_wrap">
                            <h3>일정 관리</h3>
                            <p>일정을 등록하고, 완료 처리를 하면 참석 회원님의 횟수가 자동 차감 됩니다.</p>
                        </div>
                        <div class="article_description_wrap">
                            <h3>실시간 예약</h3>
                            <p>수강 회원님께서 직접 예약이 가능한 시간에 예약할 수 있습니다.<br>그룹형 레슨과 개인 레슨을 지원합니다.</p>
                        </div>
                        <div class="article_description_wrap">
                            <h3>다양한 커스터마이징</h3>
                            <p>나만의 예약 규칙을 만들 수 있는 다양한 옵션 지원</p>
                            <div class="block_description">
                                <div><img src="/static/common/icon/icon_setting_worktime_black.png" alt=""></div>
                                <div>업무 시간을 지정하면, 그 안에서만 예약이 가능</div>
                            </div>
                            <div class="block_description">
                                <div><img src="/static/common/icon/icon_setting_worktime2_black.png" alt=""></div>
                                <div>예약 시 선택 가능한 시작 시간을 설정 <br>(매시각 정시, 20분 마다..)</div>
                            </div>
                            <div class="block_description">
                                <div><img src="/static/common/icon/icon_setting_autocomplete_black.png" alt=""></div>
                                <div>예약이 가능한 날짜 구간 <br>(1 ~ 14일 후까지)</div>
                            </div>
                            <div class="block_description">
                                <div><img src="/static/common/icon/icon_attend_check_black.png" alt=""></div>
                                <div>최소 예약 가능 시간 <br>(0분 전 ... 48시간 전)</div>
                            </div>
                            <div class="block_description">
                                <div><img src="/static/common/icon/icon_delete_black.png" alt=""></div>
                                <div>최소 예약 취소 가능 시간 <br>(0분 전 ... 48시간 전)</div>
                            </div>
                            <div class="block_description">
                                <div><img src="/static/common/icon/tab_bar/icon_member_off.png" alt=""></div>
                                <div>혹은 나 혼자 쓰기 <br>(예약 기능을 OFF)</div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            
            <div style="width:100%;height:50px;background-color:#ffffff;"></div>

            <section class="front_page_section" style="background-color:#f4f4f4;min-height:unset;" id="feature_first_page">
                <div class="article_title_wrapper">
                    <h2>나만의 상품 만들기</h2>
                    <p>수강권에 수업을 자유롭게 넣고 빼서, 상황에 맞는 운용이 가능합니다.</p>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#ffffff;">
                <!-- <div class="article_title_wrapper">
                    <h2>나만의 상품 만들기</h2>
                    <p>수강권에 수업을 자유롭게 넣고 빼서, 상황에 맞는 운용이 가능합니다.</p>
                </div> -->
                <div class="article_wrapper">
                        <article class="section_article_up">
                            <img src="/static/common/img/front_page/appstore_mobile_5.jpg" alt="">
                            <div class="article_description_wrap" style="text-align:center;">
                                <h3>다양한 옵션</h3>
                                <p>
                                    수업별 색상, 수업 진행 시간, 정원을 설정 할 수 있습니다.
                                    <br>
                                    한눈에 현재 진행중인 수업들을 확인하고, 
                                    <br>
                                    참가 중인 회원들을 확인해 보세요.
                                </p>
                            </div>
                        </article>
                        <article class="section_article_down">
                            <img src="/static/common/img/front_page/appstore_mobile_6.jpg" alt="">
                            <div class="article_description_wrap" style="text-align:center;">
                                <h3>상품 만들기</h3>
                                <p>
                                    수업을 묶어 수강권으로 만들고, 회원을 등록합니다.
                                    <br>
                                    언제라도 회원이 참가 가능한 수업을 수정할 수 있고,
                                    <br>
                                    시즌별로 수강권을 달리 운용하는 등으로 활용 해보세요.
                                </p>
                            </div>
                        </article>
                </div>
            </section>

            <div style="width:100%;height:50px;background-color:#ffffff;"></div>

            <section class="front_page_section" style="background-color:#f4f4f4;min-height:unset;" id="feature_first_page">
                <div class="article_title_wrapper">
                    <h2>한눈에 보는 현황</h2>
                    <p>내 활동에 따른 자동 실시간 매출과 회원 통계</p>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#ffffff;">
                    <!-- <div class="article_title_wrapper">
                        <h2>한눈에 보는 현황</h2>
                        <p>내 활동에 따른 자동 실시간 매출과 회원 통계</p>
                    </div> -->
                    <div class="article_wrapper">
                        <article class="section_article_up">
                            <img src="/static/common/img/front_page/appstore_mobile_7.jpg" alt="">
                        </article>
                        <article class="section_article_down">
                            <div class="article_description_wrap">
                                <h3>실시간 통계 데이터</h3>
                                <p>회원을 등록하고, 일정을 완료하고, 내가 활동하는 데이터가 자동으로 실시간 집계됩니다.
                                </p>
                            </div>
                            <div class="article_description_wrap">
                                <h3>기간별 조회</h3>
                                <p>과거 데이터를 다시 검색 해볼 수 있습니다. 현재 내 비즈니스 현황을 점검하고 새로운 전략을 도모해보세요.</p>
                            </div>
                            <div class="article_description_wrap">
                                <h3>다양한 분류</h3>
                                <p>다각도로 현황을 분석할 수 있습니다.</p>
                                <div class="block_description">
                                    <div><img src="/static/common/icon/icon_statistics_black.png" alt=""></div>
                                    <div>월별 매출 현황을 그래프로 한 눈에</div>
                                </div>
                                <div class="block_description">
                                    <div><img src="/static/common/icon/icon_ticket_black.png" alt=""></div>
                                    <div>회원등록 시 입력한 금액을 토대로 자동 매출 계산</div>
                                </div>
                                <div class="block_description">
                                    <div><img src="/static/common/icon/icon_member_card_black.png" alt=""></div>
                                    <div>월별 등록/ 환불 회원 현황</div>
                                </div>
                                <div class="block_description">
                                    <div><img src="/static/common/icon/icon_attend_check_black.png" alt=""></div>
                                    <div>월별 레슨 완료 횟수</div>
                                </div>
                            </div>
                        </article>
                    </div>
            </section>

            <div style="width:100%;height:50px;background-color:#ffffff;"></div>

            <section class="front_page_section" style="background-color:#f4f4f4;padding-top:50px;min-height:unset;padding-bottom:100px;" id="app_first_page">
                    <div class="article_title_wrapper">
                            <h2>사용하기</h2>
                            <p>클라우드 서비스로 웹브라우저, 앱 (iOS, 안드로이드)으로 언제 어디서나</p>
                        </div>
                        <div class="article_wrapper">
                            <article class="section_article_up">
                                <img src="/static/common/img/front_page/apple.svg" alt="PTERS 앱스토어 앱 다운로드" style="width:200px;">
                            </article>
                            <article class="section_article_down">
                                <img src="/static/common/img/front_page/android.svg" alt="PTERS 안드로이드 앱 다운로드" style="width:200px;">
                            </article>
                        </div>
            </section>
        </div>
    </div>
    <!--
    <div class="album_wrap_ie" id="IE_block_explain" style="display: none;">
        <div class="album_ie" id="promote_1">
            <div class="explain_wrap_ie">
                <div class="explain_main">
                    <h1>1:1 레슨 일정/회원 관리 시스템</h1>

                    <div class="logo_label"><a href="https://www.pters.co.kr"><img src="/static/user/res/PTERS_logo_pure.png?v2" alt="PTERS" class=""></a></div>

                    <p>일정 관리는 쉽고 빠르게</p>
                    <p>회원의 만족도는 업!</p>
                </div>
                <div class="gotoSignIn_pc">
                    <p><span class="pink_strong">MS 익스플로러</span>로 접속하신 분께서는 아래 브라우저를 설치후 이용을 부탁드립니다.</p>
                    <a href="https://www.microsoft.com/ko-kr/windows/microsoft-edge"><button class="brower_site"><img src="/static/user/res/login/browser/edge_icon.png">MS Edge</button></a>
                    <a href="https://www.mozilla.org/ko/firefox/"><button class="brower_site"><img src="/static/user/res/login/browser/firefox_icon.png">Firefox</button></a>
                    <a href="https://www.google.co.kr/chrome/index.html"><button class="brower_site"><img src="/static/user/res/login/browser/chrome_icon.png">Chrome</button></a>
                </div>
            </div>
            <div class="gotoSignIn" style="top: 65%;color: #ffffff;">
                <p><span class="pink_strong">MS 익스플로러</span>로 접속하신 분께서는 아래 브라우저를 설치후 이용을 부탁드립니다.</p>
                <a href="https://www.google.co.kr/chrome/index.html"><button class="brower_site"><img src="/static/user/res/login/browser/chrome_icon.png">Chrome</button></a>
                <a href="https://www.mozilla.org/ko/firefox/"><button class="brower_site"><img src="/static/user/res/login/browser/firefox_icon.png">Firefox</button></a>
                <a href="https://www.microsoft.com/ko-kr/windows/microsoft-edge"><button class="brower_site"><img src="/static/user/res/login/browser/edge_icon.png">MS Edge</button></a>
            </div>
        </div>
    </div>
    -->
{% endblock %}

{% block local_js_footer %}
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
<script type="text/javascript" src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript">

    /*
    var varUA = navigator.userAgent.toLowerCase();//useAgent값 얻기
    var device_text = '브라우저, iOS, Android 앱으로';
    var method_text = 'PC웹(크롬, 파이어폭스, 엣지, 사파리)과 스마트폰, 태블릿 등';
    if(varUA.match('android') != null){
        device_text = '브라우저, Android 앱으로';
        method_text = 'PC, 스마트폰, 태블릿 등';
    }else if(varUA.match('iphone') !=null || varUA.match('ipad')!=null || varUA.match('ipod')!=null){
        device_text = '브라우저, iOS 앱으로';
        method_text = 'PC, 스마트폰, 태블릿 등';
    }

    $('#connectedMethod').html(method_text);
    $('#connectedDevice').html(device_text);

    if(varUA.match('MSIE') != null || varUA.match('msie') != null || varUA.match('rv:11.0')){
        $('#album_wrap, .upperbar a, .pagination, .paginationMobile').css('display','none');
        $('#IE_block_explain').css('display','block');
    }
    */
    var kakao_login_test = true;

    $('#errorMessageBar span:nth-child(2)').click(function(){
        $('#errorMessageBar').fadeOut('fast')
    });

    window.addEventListener('load', function () {
        {% for message in messages %}
            {% if message.tags == "error" %}
                alert('{{ message }}');
            {% endif %}
        {% endfor %}
        kakao_login_test = true;
        var val = location.href.substr(
            location.href.lastIndexOf('=') + 1
        );
        if(val=='naver'){
            location.href = naverLogin.generateAuthorizeUrl();
        }
        $.ajax({
            url:'https://nid.naver.com/oauth2.0/token?grant_type=authorization_code&client_id={{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_ID }}&client_secret={{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_SECRET }}',
            type:'POST',
            dataType : 'json',

            beforeSend:function(){
                //beforeSend();
            },

            //통신성공시 처리
            success:function(data){
                var jsondata = JSON.parse(data);
            },

            //보내기후 팝업창 닫기
            complete:function(){
            },

            //통신 실패시 처리
            error:function(){

            }
        });
    });

    // <!-- 네이버아디디로로그인 초기화 Script -->
    var naverLogin = new naver.LoginWithNaverId(
        {
            clientId: "{{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_ID }}",
            callbackUrl: "http{% if request.is_secure %}s{% endif %}://{{ request.session.domain }}/login/login_simple_naver/",
            //callbackUrl: "https://www.pters.co.kr/login/login_simple_naver/",
            //clientId: "VM6zl0mLyBgjf9dgw1cC",
            //callbackUrl: "http://localhost:8000/login/login_simple_naver/",
            isPopup: false, /* 팝업을 통한 연동처리 여부 */
            callbackHandle: false,
            loginButton: {color: "white", type: 1, height: 39} /* 로그인 버튼의 타입을 지정 */
        }
    );
    /* 설정정보를 초기화하고 연동을 준비 */
    naverLogin.init();
    // <!--  네이버아이디로로그인 초기화 Script -->


    // <!-- 카카오 로그인  Script -->
    function loginWithKakao() {
        if(kakao_login_test){
            Kakao.init('4533bb10ac61e20907cd273f0941210a');
            kakao_login_test = false;
        }
        // 로그인 창을 띄웁니다.
        Kakao.Auth.login({
            success: function(authObj) {
                location.href = '/login/login_simple_kakao/?access_token='+authObj.access_token;
            },
            fail: function(err) {
                alert(JSON.stringify(err));
            }
        });
    }

// <!-- 구글 로그인  Script -->
/*
    var google_login_check = false;
    window.addEventListener('load', function () {
        google_signOut();
    });
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        if(google_login_check == true){
            var profile = googleUser.getBasicProfile();
                $('#id_new_sns_id').attr('value', profile.getId());
                $('#id_sns_username').attr('value', profile.getEmail());
                $('#id_sns_email').attr('value', profile.getEmail());
                $('#id_sns_last_name').attr('value', profile.getFamilyName() +profile.getGivenName());
                $('#id_sns_first_name').attr('value', );
                $('#id_sns_type').attr('value', 'Google');
                var id_token = googleUser.getAuthResponse().id_token;
                $('#id_social_accessToken').attr('value', id_token);
                document.getElementById('sns-form').submit();
                // The ID token you need to pass to your backend:
        }
      }
    function google_signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
        google_login_check = true;
      }
*/

function go_to(location){
    
    let loc;
    let $root_content = $('#root_content');
    switch(location){
        case 'feature':
            loc = $('#feature_first_page').offset().top - 60 + $root_content.scrollTop();
            $root_content.animate({scrollTop:loc}, 300);
            break;
        case 'app':
            loc = $('#app_first_page').offset().top + $('#app_first_page').height() + $root_content.scrollTop();
            $root_content.animate({scrollTop:loc}, 300);
            break;
    }
}

function show_description(){
    $('#description_wrapper').show();
    go_to("feature");
}
</script>
{% endblock %}
