<!DOCTYPE html>
<html lang="en">
<head>
    <title>피터스 - 레슨 일정 및 회원 관리 서비스</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer', 'GTM-WG2KK6D');</script>
    <!-- End Google Tag Manager -->
    <!--Google Adsense-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4554121851965192",
            enable_page_level_ads: true
        });
    </script>
    <!--Google Adsense-->
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
    <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 당구, 골프 등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">

    {% block local_css %}

        <meta name="login" content="trainer_login">
        <link rel="stylesheet" href={% static_url "user/css/login/pters.trainer.promote.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/login/pters.trainer.login.css" %}>
        <link rel="icon" href="/static/common/favicon.ico">
        <link rel="apple-touch-icon" href="/static/common/favicon-152.png">
        <link rel="shortcut icon" href="/static/common/favicon-152.png">

        <link rel="icon" href="/static/common/favicon.ico">
        <link rel="apple-touch-icon" href="/static/common/favicon-152.png">
        <link rel="shortcut icon" href="/static/common/favicon-152.png">
        <style type="text/css">
            .loginbox{
                display: block;
                left: 50%;
                transform: translateX(-50%);
            }
            #promote_1 .explain_wrap{
                top: 0;
                height: auto;
                max-width: 340px;
            }
            #promote_1 .explain_main{
                text-align: left;
                padding: 10px 20px 0 20px;
                height: 100%;
            }
            #promote_1 .gotoSignIn{
                height: auto;
                margin-bottom: 5px;
            }
            #promote_1 .gotoSignIn a{
                display: none;
            }
            #promote_1 .logo_label{
                margin-top: 10px;
                margin-bottom: 0px;
            }
            #promote_1 .loginbox{
                margin-top: 40px;
                margin-bottom: 40px;
                /*top: 30%;*/
                z-index: 1500;
            }
            
            #idimg, #pwimg{
                display: none;
            }
            #promote_1 .loginboxstyle{
                display: inline-block;
                width: 50%;
            }
            nav.upperbar span{
                display: none;
            }
            #errorMessageBar{
                display: block;
                width: 100%;
                position: sticky;
                top: 0;
                left: 0;
                height: 35px;
                text-align: center;
                background: red;
                color: #ffffff;
                font-size: 15px;
                font-weight: bold;
                z-index: 1500;
            }
            #errorMessageBar span{
                line-height: 35px;
            }
            #errorMessageBar span:nth-child(2){
                position: absolute;
                right: 0;
                margin-right: 10px;
                cursor: pointer;
            }
            @media(min-width:1024px){
               .loginbox{
                    display: block;
                    left: 50%;
                    transform: translateY(-50%);
                }
                #idimg, #pwimg{
                    display: inline-block;
                }
                #promote_1 .explain_wrap{
                    top: 50%;
                    height: unset;
                }
                #promote_1 .explain_main{
                    height: 305px;
                    padding-top: 0;
                }
                #promote_1 .logo_label{
                    margin-top: 25px;
                    margin-bottom: 5px;
                }
                #promote_1 .loginbox{
                    top: 50%;
                    margin-top: unset;
                    margin-bottom: unset;
                }
                .explain_main_sublabel{
                    display: block;
                    font-size: 16px !important;
                    font-weight: 300 !important;
                }
            }
        </style>

    {% endblock %}
</head>
{% block content %}
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG2KK6D"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="upperbar">
        <div>
            <img src="/static/user/res/PTERS_logo_pure.png">
            <a href="/login"><span>LOGIN</span></a>
        </div>
    </nav>

    <div class="pagination">
        <div id="page1" class="pagination_bar pagination_active"></div>
        <div id="page2" class="pagination_bar"></div>
        <div id="page3" class="pagination_bar"></div>
        <div id="page4" class="pagination_bar"></div>
        <div id="page5" class="pagination_bar"></div>
        <div id="page6" class="pagination_bar"></div>
    </div>

    <div class="socialnetwork">

    </div>

    <div id="tooltip"><span style="line-height: 30px;">서비스 안내</span></div>

    <div class="album_wrap" id="album_wrap">
        <div class="album" id="promote_1">
            <div class="explain_wrap">
                <div class="explain_main">
                    <h1 style="margin:0">누구나</h1>
                    <h3 style="margin:0;font-weight: 300;">쉽고 빠르게</h3>
                    <h1 style="margin:0">레슨<span style="font-size:17px;font-weight: 300;">을</span> 관리<span style="font-size:17px;font-weight: 300;">하는 방법</span></h1>

                    <div class="logo_label"><img src="/static/user/res/PTERS_logo_pure.png"><!-- <span class="pters_logo_text"> 피터스</span> --></div>

                    <p class="explain_main_sublabel">1:1, 그룹, GX등 레슨 관리</p>
                    <p class="explain_main_sublabel">더 알고 싶다면?</p>
                    <img id="go_to_service_explain" src="/static/user/res/login/arrow.png" style="width:35px;margin-top: 15px;cursor: pointer;">
                </div>
            </div>

            <div class="loginbox">
                {% for message in messages %}
                    {% if message.tags == "error" %}

                        <div id="errorMessageBar">
                            <span id="errorMessageText">{{ message }}</span><span>닫기</span>
                        </div>

                    {% endif %}
                {% endfor %}
                <!-- <div class="logintext">
                    <div><img src="/static/user/res/PTERS_logo_pure.png" id="pterstext" alt="피터스 로고"  onclick="location.href='{% url 'index' %}'"><span id="logintext">로그인</span></div>
                </div> -->
                <div id="loginboxbg">
                </div>
                <div>
                    <form action="{% url 'login:login' %}" id="login-form" method="post">
                        {% csrf_token %}
                        <div id="idinput" class="pters_login_input">
                            <img id="idimg" alt="피터스 아이디" src={% static_url "user/res/login/icon-user.png" %}>
                            <input type="text" class="loginboxstyle form-control" name="username" id="username_id" placeholder="아이디" autofocus>
                        </div>
                        <div id="pwinput" style="margin-top:5%;"  class="pters_login_input">
                            <img id="pwimg" alt="피터스 비밀번호" src={% static_url "user/res/login/icon-lock.png" %}>
                            <input type="password" class="loginboxstyle form-control" name="password" id="password_id" placeholder="비밀번호">
                        </div>
                        <div class="checkbox" style="margin-top:15px;margin-left:27px;text-align: left;"  class="pters_login_input">
                            <label><input type="checkbox" name="auto_login_check" value="1" checked>다음부터 자동 로그인</label>
                        </div>
                        

                        

                        <!-- 구글아이디로그인 버튼 노출 영역 -->
                        <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="width:179px;margin-bottom:8px;"></div> -->
                        <!-- //구글아이디로그인 버튼 노출 영역 -->

                        <!-- 페이스북아이디로그인 버튼 노출 영역 -->
                        <!-- <fb:login-button
                          scope="public_profile, email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="text-align: center;display: block">
                        </fb:login-button> -->
                        <!-- //페이스북아이디로그인 버튼 노출 영역 -->


                        <input type="hidden" name="keyword" id="keyword">
                        <div class="innerbox" style="display: inline-block;width: 70%;">
                            <a href="{% url 'registration_register' %}"><div id="registerButton">회원 가입</div></a>
                            <div class="seperate_bar"></div>
                            <a href="{% url 'auth_password_reset' %}"><div id="findIDPW">PW 초기화</div></a>
                        </div>
                        <div  class="pters_login_input" style="display: inline-block;width: auto;">
                                <button type="submit" class="" id="loginButton">로그인</button>
                            </div>
                        <input type="hidden" name="next_page" value = '{% url 'index' %}'>

                        <div style="width:95%;height: 1px;background:#ffffff;margin-top:30px;margin-bottom: 15px;">
                            
                        </div>
                        <!-- 네이버아이디로로그인 버튼 노출 영역 -->
                            <div id="naverIdLogin" style="display:none"></div>
                            <div id="naverLogin_img" onclick="location.href = naverLogin.generateAuthorizeUrl();" style="cursor: pointer;">
                                <img src="/static/user/res/login/naver.svg" style="width:18px;">
                                <span style="color:#ffffff;font-size: 16px;font-weight: 300;">네이버 아이디로 로그인</span>
                            </div>
                        <!-- //네이버아이디로로그인 버튼 노출 영역 -->
                    </form>
                </div>
            </div>
            <img src="/static/user/res/btn_next.png" class="next_page" style="display: none;">
        </div>

    </div>


    <div class="album_wrap" id="IE_block_explain" style="display: none;">
        <div class="album" id="promote_1">
            <div class="explain_wrap">
                <div class="explain_main">
                    <h2>세상에서 가장 쉬운</h2>
                    <h1>1:1 트레이닝 일정/회원 관리 시스템</h1>

                    <div class="logo_label"><img src="/static/user/res/PTERS_logo_pure.png"><!-- <span class="pters_logo_text"> 피터스</span> --></div>

                    <p>일정 관리는 쉽고 빠르게</p>
                    <p>회원의 만족도는 업!</p>
                </div>
                <div class="gotoSignIn_pc">
                    <p><span class="pink_strong">피터스</span>는 아래의 브라우저를 지원합니다.</p>
                    <p>MS 익스플로러로 접속하신 분께서는 아래 브라우저를 설치후 이용을 부탁드립니다.</p>
                    <a href="https://www.microsoft.com/ko-kr/windows/microsoft-edge"><button class="brower_site"><img src="/static/user/res/login/browser/edge_icon.png">MS Edge</button></a>
                    <a href="https://www.mozilla.org/ko/firefox/"><button class="brower_site"><img src="/static/user/res/login/browser/firefox_icon.png">Firefox</button></a>
                    <a href="https://www.google.co.kr/chrome/index.html"><button class="brower_site"><img src="/static/user/res/login/browser/chrome_icon.png">Chrome</button></a>
                </div>
            </div>
            <div class="gotoSignIn" style="top: 65%;color: #ffffff;">
                <p><span class="pink_strong">피터스</span>는 아래의 브라우저를 지원합니다.</p>
                <p>MS 익스플로러로 접속하신 분께서는 아래 브라우저를 설치후 이용을 부탁드립니다.</p>
                <a href="https://www.google.co.kr/chrome/index.html"><button class="brower_site"><img src="/static/user/res/login/browser/chrome_icon.png">Chrome</button></a>
                <a href="https://www.mozilla.org/ko/firefox/"><button class="brower_site"><img src="/static/user/res/login/browser/firefox_icon.png">Firefox</button></a>
                <a href="https://www.microsoft.com/ko-kr/windows/microsoft-edge"><button class="brower_site"><img src="/static/user/res/login/browser/edge_icon.png">MS Edge</button></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/login/pters.trainer.promote.js" %}></script>
{#    <script type="text/javascript" src={% static_url "common/js/push/push.min.js" %}></script>#}
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <script>
        var bodywidth = window.innerWidth;

        var varUA = navigator.userAgent.toLowerCase()//useAgent값 얻기
        if(varUA.match('android') != null){
            var devicetext = '브라우저, Android 앱으로';
            var methodtext = 'PC, 스마트폰, 태블릿 등';
        }else if(varUA.match('iphone') !=null || varUA.match('ipad')!=null || varUA.match('ipod')!=null){
            var devicetext = '브라우저, iOS 앱으로';
            var methodtext = 'PC, 스마트폰, 태블릿 등';
        }else{
            var devicetext = '브라우저, iOS, Android 앱으로';
            var methodtext = 'PC웹(크롬, 파이어폭스, 엣지, 사파리)과 스마트폰, 태블릿 등';
        }
        $('#connectedMethod').html(methodtext);
        $('#connectedDevice').html(devicetext);

        if(varUA.match('MSIE') != null || varUA.match('rv:11.0')){
            $('#album_wrap, .upperbar a, .pagination, .paginationMobile').css('display','none');
            $('#IE_block_explain').css('display','block');
        }


        function show_tooltip(bodywidth){
            $('#tooltip').css("display","none");
            if(bodywidth > 1024){
                $('#go_to_service_explain').mouseover(function(){
                    $('#tooltip').fadeIn('fast');
                    $('#tooltip').css({"top":$(this).offset().top,"left":$(this).offset().left+$(this).width()+20});
                    $(this).mouseleave(function(){
                        $('#tooltip').fadeOut('fast');
                    });
                });
            }else{
                var $go_to_service_explain = $('#go_to_service_explain');
                $('#tooltip').css({"display":"inline-block","top":$go_to_service_explain.offset().top,"left":$go_to_service_explain.offset().left+$go_to_service_explain.width()+20});
            }
        }

        show_tooltip(bodywidth);
        $(window).resize(function(){
            bodywidth = window.innerWidth;
            show_tooltip(bodywidth);
        });
        
        


        var page = 0;
        var scroll = true;
        var explain_mode;
        // $('html,body').on('mousewheel',function(e){
        //     var loc_1 = $('#promote_1').height()
        //     e.preventDefault()
        //     var direction = e.originalEvent.wheelDelta
        //     if(direction<0 && scroll == true){
        //         page++
        //         /*if(page > 5){
        //             page = 5
        //         }*/
        //         if(page > explain_mode){
        //             page = explain_mode
        //         }
        //         $('body, html').animate({scrollTop : loc_1*page},400)
        //         $('.pagination_active').removeClass('pagination_active')
        //         $('#page'+(page+1)).addClass('pagination_active')
        //         scroll = false
        //         setTimeout(function(){scroll = true}, 500)
        //     }else if(direction>0 && scroll == true){
        //         page--
        //         if(page < 0){
        //             page = 0
        //         }
        //         $('body, html').animate({scrollTop : loc_1*page},400)
        //         $('.pagination_active').removeClass('pagination_active')
        //         $('#page'+(page+1)).addClass('pagination_active')
        //         scroll = false
        //         setTimeout(function(){scroll = true}, 500)
        //     }
        // });


        var initX;
        var mobile_page = 0;
        var touch = true;
        $(document).on('touchstart','.album_wrap',function(e){
            initX = e.originalEvent.touches[0].clientX;

        });

        if($('body').width()<1025){
            $(document).on('touchend','.album_wrap',function(e){
                if($('#promote_2').css('display') == "block"){
                    var endX = e.originalEvent.changedTouches[0].clientX;
                    if(endX-initX > 5 && touch == true){
                        left_page();
                    }else if(initX-endX > 5 && touch == true){
                        right_page();
                    }
                }
               
            })
        }
        function left_page(){
            if(mobile_page <= 0){
                mobile_page = 1
            }
            $('#promote_'+(mobile_page+1)).css('left', 100+'%')
            $('#promote_'+(mobile_page)).css('left','0%')
            $('.paginationMobile_active').removeClass('paginationMobile_active')
            $('.pageMobile_'+mobile_page).addClass('paginationMobile_active')
            mobile_page--
            touch = false
            setTimeout(function(){touch = true}, 50)

        }

        function right_page(){
            mobile_page++
            if(mobile_page >= explain_mode+1){
                mobile_page = explain_mode
            }
            $('#promote_'+(mobile_page)).css('left', -100+'%')
            $('#promote_'+(mobile_page+1)).css('left','0%')
            $('.paginationMobile_active').removeClass('paginationMobile_active')
            $('.pageMobile_'+(mobile_page+1)).addClass('paginationMobile_active')
            touch = false
            setTimeout(function(){touch = true}, 50)

        }

        function show_explain_page_to_target(target, device){
            $('.__targetall').css('display','block')
            
            
            var loc_1 = $('#promote_1').height()
            if(device == "pc"){
                $('.pagination').css('display','block')
                $('body, html').animate({scrollTop : loc_1},700)
            }else if(device ="mobile"){
                $('.paginationMobile').css('display','table')
                right_page()
            }
            if(target == "__teacher"){
                explain_mode = 5;
                $('.__teacher').css('display','block')
                $('.__student').css('display','none')
                $('.paginationMobile #page6').css('display','table-cell')
                $('.pagination #page6').css('display','block')
            }else if(target == "__student"){
                explain_mode = 4;
                $('.__teacher').css('display','none')
                $('.__student').css('display','block')
                $('.paginationMobile #page6, .pagination #page6').css('display','none')
            }
        }

        function goPage(option){
            if(option == 0){
                location.href="/accounts/register/";
            }else if(option == 1){
                location.href="/accounts/password/reset/";
            }
        }

        function goSlide(offset){
            $('body, html').animate({scrollTop : offset},400)
        }

{#        Push.Permission.request(onGranted, onDenied);#}

{#        function onDenied() {#}
{#            console.log('알람 거절 상태')#}
{#        }#}
{#        function onGranted() {#}
{#            console.log('알람 승인 상태')#}
{#        }#}

        $('#errorMessageBar span:nth-child(2)').click(function(){
            $('#errorMessageBar').fadeOut('fast')
        })

{#        navigator.serviceWorker.getRegistrations().then(function(registrations) {#}
{#            registrations.forEach(function(v) {#}
{#                if(v.active){#}
{#                    if(v.scope=="{% url 'index' %}/static/user/js/push/" || v.scope=="{% url 'index' %}/static/user/js/push/"){#}
{#                        v.unregister('/static/user/js/push/firebase-messaging-sw.js?v=t80')#}
{#                    }#}
{#                }#}
{#            });#}
{#        });#}


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        window.addEventListener('load', function () {
            var val = location.href.substr(
                location.href.lastIndexOf('=') + 1
            );

            if(val=='naver'){
                location.href = naverLogin.generateAuthorizeUrl();

            }

            $.ajax({
                url:'https://nid.naver.com/oauth2.0/token?grant_type=authorization_code&client_id=VM6zl0mLyBgjf9dgw1cC&client_secret=gGI681B6TR',
                type:'POST',
                dataType : 'json',

                beforeSend:function(){
                    beforeSend();
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    console.log(jsondata);
                },

                //보내기후 팝업창 닫기
                complete:function(){
                },

                //통신 실패시 처리
                error:function(){

                }
            });
        });
// <!-- 네이버아디디로로그인 초기화 Script -->
	var naverLogin = new naver.LoginWithNaverId(
		{
			clientId: "h5MuvYzSFLlrFTs19g0V",
 			callbackUrl: "https://spooner-test.pters.co.kr/login/login_simple_naver/",
{#            clientId: "VM6zl0mLyBgjf9dgw1cC",#}
{#			callbackUrl: "http://localhost:8000/login/login_simple_naver/",#}
			isPopup: false, /* 팝업을 통한 연동처리 여부 */
            callbackHandle: false,
			loginButton: {color: "white", type: 1, height: 39} /* 로그인 버튼의 타입을 지정 */
		}
	);

	/* 설정정보를 초기화하고 연동을 준비 */
	naverLogin.init();
    // <!--  네이버아이디로로그인 초기화 Script -->

    </script>
{% endblock %}

</body>



</html>