{% extends "base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/login/login.registration.css" %}>
    <style>
        #root_nav{
            display: none;
        }
        #root_content{
            background-color: #ffffff;
        }
        .login_content{
            background-image: url('/static/common/img/home_bg/bg_big.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            margin: 0;
            padding: 20px 20px 40px;
            margin-bottom: 20px;
        }
        .social_login_box_wrapper{
            width: 100%;
            display:flex;
            margin-top: 8px;
            flex-direction: row;
        }
        .social_login_box_wrapper .social_login_box{
            /* display: flex; */
            flex: 1 1 0;
        }
        @media(max-width:340px){
            .social_login_box_wrapper{
                display:flex;
                flex-direction: column;
            }
            .social_login_box_wrapper .social_login_box{
                flex: 1 1 0;
            }
        }

        .front_page_section{
            min-height: 200px;
        }
        .front_page_section .article_wrapper{
            display: flex;
            flex-direction: column;
        }
        .front_page_section .article_wrapper .flex_2_divided_1{
            flex: 1 1 0;
            position: relative;
            padding: 40px 20px;
            text-align: center;
        }
        .front_page_section .article_wrapper .flex_2_divided_2{
            flex: 2 1 0;
            position: relative;
        }

        .front_page_section .tag_wrapper{
            position: relative;
            text-align: left;
        }
        .front_page_section .tag_wrapper > h1{
            font-size: 11px;
            font-weight: 500;
            color: #fe4e65;
            margin-top: 0;
            margin-bottom: 5px;
        }
        .front_page_section .tag_wrapper > h2{
            font-size: 16px;
            font-weight: bold;
            color: #3b3b3b;
            margin: 0;
        }


        #page_1{
            height: auto;
        }
        #page_1 .flex_2_divided_1{
            text-align: center;
        }
        #page1_description{
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: -1px;
            padding: 20px;
        }
        #page1_image{
            /* height: 100%; */
            width: 100%;
            height: auto;
        }
        .page_image{
            width: 60%;
            height: auto;
        }
     

        #mobile_button_for_show{
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            
        }
        #mobile_button_for_show img{
            width: 24px;
            vertical-align: middle;
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            90% {
                opacity: 0.3;
            }
        }
        #description_wrapper{
            display: none;
        }
        /* PC버전 화면 */
        @media(min-width:800px){
            #mobile_button_for_show{
                display: none;
            }
            #description_wrapper{
                display: block;

                /* max-width: 1024px; */
                /* margin: 0 auto; */
            }
            #root_nav{
                display: block;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
                width: 100%;
                height: 60px;
                background-color: #ffffff;
                z-index: 1;
            }
            #root_nav > div{
                display: flex;
                width: 100%;
                max-width: 1024px;
                margin: 0 auto;
                /* padding: 0 20px; */
                box-sizing: border-box;
            }
            #login_wrapper{
                flex: 1 1 0;
                max-width: 150px;
                line-height: 60px;
                margin: 0 auto;
            }
                #logo{
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
                #logo_text{
                    font-size: 20px;
                    font-weight: 900;
                    letter-spacing: -1px;
                    color: #1f1d1e;
                    vertical-align: middle;
                }
            #menu_wrapper{
                flex: 1 1 0;
                text-align: right;
                line-height: 60px;
            }
                #menu_wrapper > ul{
                    list-style-type: none;
                    margin: 0;
                }
                #menu_wrapper > ul > li{
                    display: inline-block;
                    width: 90px;
                    float: right;
                    font-size: 14px;
                }
                #menu_wrapper > ul > li > a{
                    color: #1f1d1e;
                }

            #root_content{
                background-color: #f4f4f4;
                height: calc(100% - 60px);
            }

            .front_page_section .article_wrapper{
                flex-direction: row;
                max-width: 1024px;
                margin: 0 auto;
                height: 600px;
            }
            .front_page_section .article_wrapper .flex_2_divided_1{
                flex: 4 1 0;
                padding: 40px 0;
                text-align: right;
            }
            .front_page_section .article_wrapper .flex_2_divided_2{
                flex: 2 1 0;
            }
            .front_page_section .tag_wrapper{
                position: absolute;
                top: 40px;
                left: 0;
            }

            #page_1{
                height: 500px;
            }
            #page1_description{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #ffffff;
                padding: 0;
                margin-left: 50px;
            }
            #page1_image{
                height: 100%;
                width: auto;
            }
            .page_image{
                height: 100%;
                width: auto;
            }
            

            #login_box{
                display: flex;
                max-width: 1024px;
                padding-top: 40px;
                box-sizing: border-box;
            }
            .login_content{
                flex: 3 1 0;
                height: 340px;
                background-size: contain;
                padding-top: 0;
                background-image: url('/static/common/img/home_bg/bg_big.png');
                background-size: 60%;
                background-position: right;
                margin: 0 20px;
                margin-left: 10px;
                padding: 0;
                margin-bottom: unset;
            }
            .login_foot{
                flex: 2 1 0;
                max-width: 360px;
                /* height: 430px; */
                background-color: #ffffff;
                padding: 20px;
                padding-bottom: 0;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }


    </style>
{% endblock %}
{% block content %}
    <nav id="root_nav">
        <div>
            <div id="login_wrapper">
                <a href="/"><img src="/static/common/icon/logo/PTERS_logo_short.png" alt="PTERS 로고" id="logo"></a>
                <a href="/"><span id="logo_text">PTERS</span></a>
            </div>
            <div id="menu_wrapper">
                <ul>
                    <li><a onclick="go_to('app');" style="cursor: pointer;">앱</a></li>
                    <li><a onclick="go_to('feature')" style="cursor: pointer;">특징</a></li>
                </ul>
            </div>
        </div>
        
    </nav>

    <div id="root_content">
        <section class="front_page_section" style="padding-bottom:40px;">
            <div id="login_box">
                <div class="login_content">
                    <div class="pters_description">
                        <span style="font-weight:normal;">프로 강사를 위한</span> <br/>
                        <span style="font-weight:normal;">운영/관리 서비스</span> <br>
                        <span style="font-weight:900;font-size:22px">피터스 PTERS</span></div>
                </div>
                <div class="login_foot">
                    <form action="{% url 'login:login' %}" id="login-form" method="post">
                        <input type="hidden" name="auto_login_check" value="1">
                        <input type="hidden" name="next_page" value = '{% url 'index' %}'>
                        {% csrf_token %}

                        <!-- PTERS 로그인 입력 영역 -->
                        <div>
                            <input class="pters_login_input" type="text" name="username" id="username_id" placeholder="아이디" autofocus>
                        </div>
                        <div style="margin-top:8px;">
                            <input class="pters_login_input" type="password" name="password" id="password_id" placeholder="비밀번호" onkeyup="enter_key();">
                        </div>
                        <!-- PTERS 로그인 버튼 노출 영역 -->
                        <div class="social_login_box" onclick="document.getElementById('login-form').submit();" style="background-color: #fe4e65; margin-top:12px;">
                            <div class="social_login_img" style="display:none;"></div>
                            <span class="social_login_text" style="color:#ffffff; text-align:center;font-weight: bold;">로그인</span>
                            <div style="display:table-cell; width:60px;display:none;"></div>
                        </div>

                        <div style="width:100%;height:2px;background-color:#f5f2f3;margin-top:15px;margin-bottom:15px;">

                        </div>

                        <div class="social_login_box_wrapper">
                            <!-- 네이버 로그인 버튼 노출 영역 -->
                            <div class="social_login_box" onclick="location.href=naverLogin.generateAuthorizeUrl();" style="background-color: #0dd25a;">
                                <div class="social_login_img">
                                    <img src="/static/common/icon/icon_naver_logo.png" style="width: 24px; height: 24px; vertical-align:middle;margin-bottom:5px;" alt="PTERS 네이버로 로그인">
                                </div>
                                <span class="social_login_text">네이버 로그인</span>
                                
                            </div>

                            <div style="flex-basis:8px;"></div>

                            <!-- 카카오톡 로그인 버튼 노출 영역 -->
                            <div class="social_login_box" id="custom-login-btn" onclick="loginWithKakao();" style="background-color: #ffeb00;">
                                <div class="social_login_img">
                                    <img src="/static/common/icon/icon_kakao_logo.png" style="width: 24px; height: 24px; vertical-align:middle;margin-bottom:5px;" alt="PTERS 카카오로 로그인">
                                </div>
                                <span class="social_login_text" style="color:#3a1c1d;">카카오 로그인</span>
                                
                            </div>
                        </div>
                        <div style="display:table; width:100%; height: 48px;margin-top:10px;">
                            <div class="general_text" style="color:#858282;" onclick="location.href='{% url 'login:check_registration' %}'">회원 가입</div>
                            <div class="general_text" style="color:#858282;" onclick="location.href='{% url 'login:reset_password' %}'">비밀번호 초기화</div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section id="mobile_button_for_show" onclick="show_description();">
            <p style="margin:0"><img src="/static/common/icon/icon_arrow_expand_pink.png" alt="">  더 알아보기</p>
        </section>

        <div id="description_wrapper">
            <section class="front_page_section" style="background-image: linear-gradient(to right, #fe4e65 25%, #ff869e);" id="feature_first_page">
                <div id="page_1" class="article_wrapper">
                    <article class="flex_2_divided_1">
                        <img id="page1_image" src="/static/common/img/front_page/pters_service_summary.png" alt="">
                    </article>
                    <article class="flex_2_divided_2">
                        <div id="page1_description">
                            <div style="width:16px;height:2px;background-color:#ffffff"></div>
                            <p>단 하나의 서비스를 통해<br>강사가 겪는 불편함을 해결합니다.</p>
                            <div style="width:16px;height:2px;background-color:#ffffff"></div>
                            <p>개인/단체 구분없이<br>피터스를 이용할 수 있습니다.</p>
                            <div style="width:16px;height:2px;background-color:#ffffff"></div>
                            <p>모든 기기를 지원하고 있어<br>언제 어디서든지 이용 가능합니다.</p>
                            <p style="font-size:12px;font-weight: 500;margin:0">(*회원용 예약 및 뷰어 서비스 지원)</p>
                        </div>
                    </article>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#fbfbfb;">
                <div id="page_2" class="article_wrapper">
                    <article class="flex_2_divided_1">
                        <div class="tag_wrapper">
                            <h1>주요 기능 01.</h1>
                            <h2>일정</h2>
                        </div>
                        <img class="page_image" src="/static/common/img/front_page/pters_calendar.png" alt="">
                    </article>
                    <article class="flex_2_divided_2">
                        <div id="page1_description" style="color:#3b3b3b">
                            <div style="width:16px;height:2px;background-color:#3b3b3b"></div>
                            <p>효율적인 업무 시간을 위해<br>꼼꼼하게 관리합니다.</p>
                        </div>
                    </article>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#ffffff;">
                <div id="page_3" class="article_wrapper">
                    <article class="flex_2_divided_1">
                        <div class="tag_wrapper">
                            <h1>주요 기능 02.</h1>
                            <h2>회원</h2>
                        </div>
                        <img class="page_image" src="/static/common/img/front_page/pters_member.png" alt="">
                    </article>
                    <article class="flex_2_divided_2">
                        <div id="page1_description" style="color:#3b3b3b">
                            <div style="width:16px;height:2px;background-color:#3b3b3b"></div>
                            <p>간편하게 정보를 조회하고<br>유연하게 관리합니다.</p>
                        </div>
                    </article>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#fbfbfb;">
                <div id="page_4" class="article_wrapper">
                    <article class="flex_2_divided_1">
                        <div class="tag_wrapper">
                            <h1>주요 기능 03.</h1>
                            <h2>수업</h2>
                        </div>
                        <img class="page_image" src="/static/common/img/front_page/pters_lecture.png" alt="">
                    </article>
                    <article class="flex_2_divided_2">
                        <div id="page1_description" style="color:#3b3b3b">
                            <div style="width:16px;height:2px;background-color:#3b3b3b"></div>
                            <p>다양한 설정을 통해<br>진행하게 될 수업을 관리합니다.</p>
                        </div>
                    </article>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#ffffff;">
                <div id="page_5" class="article_wrapper">
                    <article class="flex_2_divided_1">
                        <div class="tag_wrapper">
                            <h1>주요 기능 04.</h1>
                            <h2>수강권</h2>
                        </div>
                        <img class="page_image" src="/static/common/img/front_page/pters_ticket.png" alt="">
                    </article>
                    <article class="flex_2_divided_2">
                        <div id="page1_description" style="color:#3b3b3b">
                            <div style="width:16px;height:2px;background-color:#3b3b3b"></div>
                            <p>수업을 선택해<br>나만의 상품을 만듭니다.</p>
                        </div>
                    </article>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#fbfbfb;">
                <div id="page_6" class="article_wrapper">
                    <article class="flex_2_divided_1">
                        <div class="tag_wrapper">
                            <h1>주요 기능 05.</h1>
                            <h2>통계</h2>
                        </div>
                        <img class="page_image" src="/static/common/img/front_page/pters_statistics.png" alt="">
                    </article>
                    <article class="flex_2_divided_2">
                        <div id="page1_description" style="color:#3b3b3b">
                            <div style="width:16px;height:2px;background-color:#3b3b3b"></div>
                            <p>매달 발생하는 매출과<br>회원의 현황을 확인합니다.</p>
                        </div>
                    </article>
                </div>
            </section>

        </div>
    </div>

{% endblock %}

{% block local_js_footer %}
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
<script type="text/javascript" src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript">

    /*
    var varUA = navigator.userAgent.toLowerCase();//useAgent값 얻기
    var device_text = '브라우저, iOS, Android 앱으로';
    var method_text = 'PC웹(크롬, 파이어폭스, 엣지, 사파리)과 스마트폰, 태블릿 등';
    if(varUA.match('android') != null){
        device_text = '브라우저, Android 앱으로';
        method_text = 'PC, 스마트폰, 태블릿 등';
    }else if(varUA.match('iphone') !=null || varUA.match('ipad')!=null || varUA.match('ipod')!=null){
        device_text = '브라우저, iOS 앱으로';
        method_text = 'PC, 스마트폰, 태블릿 등';
    }

    $('#connectedMethod').html(method_text);
    $('#connectedDevice').html(device_text);

    if(varUA.match('MSIE') != null || varUA.match('msie') != null || varUA.match('rv:11.0')){
        $('#album_wrap, .upperbar a, .pagination, .paginationMobile').css('display','none');
        $('#IE_block_explain').css('display','block');
    }
    */
    var kakao_login_test = true;

    $('#errorMessageBar span:nth-child(2)').click(function(){
        $('#errorMessageBar').fadeOut('fast')
    });

    window.addEventListener('load', function () {
        {% for message in messages %}
            {% if message.tags == "error" %}
                alert('{{ message }}');
            {% endif %}
        {% endfor %}
        kakao_login_test = true;
        var val = location.href.substr(
            location.href.lastIndexOf('=') + 1
        );
        if(val=='naver'){
            location.href = naverLogin.generateAuthorizeUrl();
        }
        $.ajax({
            url:'https://nid.naver.com/oauth2.0/token?grant_type=authorization_code&client_id={{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_ID }}&client_secret={{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_SECRET }}',
            type:'POST',
            dataType : 'json',

            beforeSend:function(){
                //beforeSend();
            },

            //통신성공시 처리
            success:function(data){
                var jsondata = JSON.parse(data);
            },

            //보내기후 팝업창 닫기
            complete:function(){
            },

            //통신 실패시 처리
            error:function(){

            }
        });
    });

    // <!-- 네이버아디디로로그인 초기화 Script -->
    var naverLogin = new naver.LoginWithNaverId(
        {
            clientId: "{{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_ID }}",
            callbackUrl: "http{% if request.is_secure %}s{% endif %}://{{ request.session.domain }}/login/login_simple_naver/",
            //callbackUrl: "https://www.pters.co.kr/login/login_simple_naver/",
            //clientId: "VM6zl0mLyBgjf9dgw1cC",
            //callbackUrl: "http://localhost:8000/login/login_simple_naver/",
            isPopup: false, /* 팝업을 통한 연동처리 여부 */
            callbackHandle: false,
            loginButton: {color: "white", type: 1, height: 39} /* 로그인 버튼의 타입을 지정 */
        }
    );
    /* 설정정보를 초기화하고 연동을 준비 */
    naverLogin.init();
    // <!--  네이버아이디로로그인 초기화 Script -->


    // <!-- 카카오 로그인  Script -->
    function loginWithKakao() {
        if(kakao_login_test){
            Kakao.init('4533bb10ac61e20907cd273f0941210a');
            kakao_login_test = false;
        }
        // 로그인 창을 띄웁니다.
        Kakao.Auth.login({
            success: function(authObj) {
                location.href = '/login/login_simple_kakao/?access_token='+authObj.access_token;
            },
            fail: function(err) {
                alert(JSON.stringify(err));
            }
        });
    }

// <!-- 구글 로그인  Script -->
/*
    var google_login_check = false;
    window.addEventListener('load', function () {
        google_signOut();
    });
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        if(google_login_check == true){
            var profile = googleUser.getBasicProfile();
                $('#id_new_sns_id').attr('value', profile.getId());
                $('#id_sns_username').attr('value', profile.getEmail());
                $('#id_sns_email').attr('value', profile.getEmail());
                $('#id_sns_last_name').attr('value', profile.getFamilyName() +profile.getGivenName());
                $('#id_sns_first_name').attr('value', );
                $('#id_sns_type').attr('value', 'Google');
                var id_token = googleUser.getAuthResponse().id_token;
                $('#id_social_accessToken').attr('value', id_token);
                document.getElementById('sns-form').submit();
                // The ID token you need to pass to your backend:
        }
      }
    function google_signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
        google_login_check = true;
      }
*/

function go_to(location){
    
    let loc;
    let $root_content = $('#root_content');
    switch(location){
        case 'feature':
            loc = $('#feature_first_page').offset().top - 60 + $root_content.scrollTop();
            $root_content.animate({scrollTop:loc}, 300);
            break;
        case 'app':
            loc = $('#app_first_page').offset().top + $('#app_first_page').height() + $root_content.scrollTop();
            $root_content.animate({scrollTop:loc}, 300);
            break;
    }
}

function show_description(){
    $('#description_wrapper').show();
    go_to("feature");
}
</script>
{% endblock %}
