{% extends "base.html" %}
{% load static_url %}

{% block local_css %}
    <meta name="description" content="PTERS 피터스로 관리업무 시간은 줄이고 레슨과 수업에 집중해보세요.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PTERS 피터스 | 레슨관리 앱">
    <meta property="og:description" content="강사님들을 위한 레슨 관리 앱 PTERS 피터스로 관리업무 시간은 줄이고 레슨과 수업에 집중해보세요.">
    <meta property="og:image" content="/static/common/img/front_page/pters_service_summary.png">
    <link rel="stylesheet" href={% static_url "user/css/login/login.registration.css" %}>
    <style>
        p{
            word-break: keep-all;
        }
        #root_nav{
            /* display: none; */
            padding: 0 20px;
            height: 60px;
        }
        #root_nav > div{
                display: flex;
                width: 100%;
                max-width: 1024px;
                margin: 0 auto;
                /* padding: 0 20px; */
                box-sizing: border-box;
            }
            #login_wrapper{
                flex-basis: 40px;
                max-width: 150px;
                line-height: 60px;
                margin: 0 auto;
            }
                #logo{
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
            #menu_wrapper{
                flex: 1 1 0;
                text-align: left;
                line-height: 60px;
                overflow: hidden;
            }
                #menu_wrapper > ul{
                    overflow-x: auto;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                }
                #menu_wrapper > ul > li{
                    /* display: inline-block; */
                    flex: 1 1 0;
                    min-width: 90px;
                    width: 90px;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: -0.7px;
                }
                #menu_wrapper > ul > li > a{
                    color: #1f1d1e;
                }

        #root_content{
            /* background-color: #ffffff; */
            background-color: #fbfbfb;
            height: calc(100% - 60px);
        }
        #page_1{
            padding-top: 0;
        }

        .login_content{
            background-image: url('/static/common/img/home_bg/bg_big.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            margin: 0;
            padding: 20px 20px 40px;
            margin-bottom: 20px;
        }
        .social_login_box_wrapper{
            width: 100%;
            display:flex;
            margin-top: 8px;
            flex-direction: row;
        }
        .social_login_box_wrapper .social_login_box{
            /* display: flex; */
            flex: 1 1 0;
        }
        @media(max-width:340px){
            .social_login_box_wrapper{
                display:flex;
                flex-direction: column;
            }
            .social_login_box_wrapper .social_login_box{
                flex: 1 1 0;
                flex-basis: 52px;
            }
        }

        #front_page_login{
            padding-bottom: 20px;
        }

        .front_page_section{
            min-height: 200px;
        }
        .front_page_section .article_wrapper{
            display: flex;
            flex-direction: column;
            position: relative;
            padding:30px 0;
        }
        .front_page_section .article_wrapper .flex_2_divided_1{
            flex: 1 1 0;
            position: relative;
            padding: 40px 20px;
            text-align: center;
        }
        .front_page_section .article_wrapper .flex_2_divided_2{
            flex: 2 1 0;
            position: relative;
        }

        .front_page_section .tag_wrapper{
            position: relative;
            text-align: left;
        }
        .front_page_section .tag_wrapper > h1{
            font-size: 11px;
            font-weight: 500;
            color: #fe4e65;
            margin-top: 0;
            margin-bottom: 5px;
        }
        .front_page_section .tag_wrapper > h2{
            font-size: 16px;
            font-weight: bold;
            color: #3b3b3b;
            margin: 0;
        }


       
        #page1_description{
            /* color: #ffffff; */
            font-size: 20px;
            font-weight: bold;
            letter-spacing: -1px;
            padding: 20px;
        }
        .page_description{
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: -1px;
            padding: 20px;
        }
        .page_description_additional{
            font-size: 15px;
            font-weight:normal
        }
        #page1_image{
            /* height: 100%; */
            width: 100%;
            height: auto;
            background-image: url('/static/common/img/service_introduce/why_pters.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 500px;
        }
        .page_image{
            width: 100%;
            height: 100%;
            min-height: 500px;
            
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .price_product_wrap{
            display: inline-block;
            width: 100%;
            max-width: 230px;
            margin: 10px;
            padding: 20px;
            box-sizing: border-box;
            text-align: left;
        }
        .price_product_description_row{
            display: flex;
            color: #ffffff;
            font-size: 11px;
            padding: 5px 0;
        }
        .price_product_description_row > div:nth-of-type(1){
            flex-basis: 24px;
        }
        .price_product_description_row > div:nth-of-type(2){
            flex-basis: 52px;
        }
        .price_product_description_row > div:nth-of-type(3){
            flex: 1 1 0;
        }
     

        #mobile_button_for_show{
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            
        }
        #mobile_button_for_show img{
            width: 24px;
            vertical-align: middle;
            animation: blinker 1s linear infinite;
        }

        #IE_block_explain{
            display: none;
            width: 100%;
            min-height: 200px;
        }

        @keyframes blinker {
            90% {
                opacity: 0.3;
            }
        }
        #description_wrapper{
            /* display: none; */
        }

        .flex_wrap{
            display: flex;
            flex-direction: column;
        }
        .flex_children{
            flex: 1 1 0;
            padding: 10px 50px;
            box-sizing: border-box;
        }
        /* PC버전 화면 */
        @media(min-width:800px){
            #mobile_button_for_show{
                display: none;
            }
            #description_wrapper{
                /* display: block; */
            }
            #root_nav{
                display: block;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
                width: 100%;
                height: 60px;
                background-color: #ffffff;
                z-index: 1;
                box-sizing: border-box;
            }
            #root_nav > div{
                display: flex;
                width: 100%;
                max-width: 1024px;
                margin: 0 auto;
                /* padding: 0 20px; */
                box-sizing: border-box;
            }
            #login_wrapper{
                flex-basis: 40px;
                max-width: 150px;
                line-height: 60px;
                margin: 0 auto;
            }
                #logo{
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
            #menu_wrapper{
                flex: 1 1 0;
                text-align: left;
                line-height: 60px;
            }
                #menu_wrapper > ul{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                #menu_wrapper > ul > li{
                    flex: unset;
                    display: inline-block;
                    width: 90px;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: -0.7px;
                }
                #menu_wrapper > ul > li > a{
                    color: #1f1d1e;
                }

            #root_content{
                /* background-color: #f4f4f4; */
                height: calc(100% - 60px);
            }
            #front_page_login{
                padding-bottom: 40px;
            }
            .front_page_section .article_wrapper{
                flex-direction: row;
                max-width: 1024px;
                margin: 0 auto;
                /* height: 600px; */
                padding:50px 0;
            }
            .front_page_section .article_wrapper .flex_2_divided_1{
                flex: 4 1 0;
                /* padding: 40px 0; */
                text-align: right;
                /* background-image:url('/static/common/img/front_page/pters_service_summary.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center; */
            }
            .front_page_section .article_wrapper .flex_2_divided_2{
                flex: 2 1 0;
            }
            .front_page_section .tag_wrapper{
                position: absolute;
                top: 40px;
                left: 0;
            }
            .page_description{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #ffffff;
                padding: 0;
                margin-left: 50px; 
            }
            .page_description_additional{
                font-size: 15px;
                font-weight:normal
            }
            #page_1{
                padding-top: 30px;
            }

            #page1_description{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                /* color: #ffffff; */
                padding: 0;
                margin-left: 50px;
            }
            #page1_image{
                height: 100%;
                width: 100%;
                min-height: unset;
            }
            .page_image{
                height: 100%;
                width: auto;
                background-position: right;
            }
            

            #login_box{
                display: flex;
                max-width: 1024px;
                padding-top: 40px;
                box-sizing: border-box;
            }
            .login_content{
                flex: 3 1 0;
                height: 340px;
                background-size: contain;
                padding-top: 0;
                background-image: url('/static/common/img/home_bg/bg_big.png');
                background-size: 60%;
                background-position: right;
                margin: 0 20px;
                margin-left: 10px;
                padding: 0;
                margin-bottom: unset;
            }
            .login_foot{
                flex: 2 1 0;
                max-width: 360px;
                /* height: 430px; */
                background-color: #ffffff;
                padding: 20px;
                padding-bottom: 0;
                box-sizing: border-box;
                border-radius: 4px;
            }
            .flex_wrap{
                /* display: flex; */
                flex-direction: row;
            }
            .flex_children{
                padding: 40px;
            }
        }


    </style>
{% endblock %}
{% block content %}
    <nav id="root_nav">
        <div>
            <div id="login_wrapper">
                <a href="/"><img src="/static/common/icon/logo/PTERS_logo_short.png" alt="PTERS 로고" id="logo"></a>
            </div>
            <div id="menu_wrapper">
                <ul>
                    <li><a style="cursor: pointer;color:#fe4e65" href="/introduce/">피터스?</a></li>
                    <li><a style="cursor: pointer;" href="/for_tutor/">강사 기능</a></li>
                    <li><a style="cursor: pointer;" href="/for_tutee/">수강회원 기능</a></li>
                </ul>
            </div>
        </div>
        
    </nav>

    <div id="root_content">
        

        <div id="description_wrapper">
            <section class="front_page_section" style="background-color:#fbfbfb;" id="feature_page">
                <div id="page_1" class="article_wrapper">
                    <article class="flex_2_divided_2">
                        <div style="color:#3b3b3b;position: relative;top:unset;transform:unset" class="page_description">
                            <div style="width:16px;height:2px;background-color:#3b3b3b"></div>
                            <p>복잡한 관리 업무</p>
                            <div class="page_description_additional" style="font-size:16px;font-weight:500">
                                레슨에 집중하고 싶은데, 일정, 횟수, 매출 관리 등 해야할 일이 너무 많습니다.<br>
                                <span style="font-weight:bold;color:#fe4e65">낭비되고 있는 관리 업무 시간</span>을 레슨 품질 향상에 쓸수 있다면 얼마나 좋을까요?
                            </div>
                        </div>
                        <div style="text-align:center;margin-top:30px">
                            <img src="/static/common/img/service_introduce/why_pters.png" alt="피터스 기능들" style="width:90%;max-width:500px;">
                        </div>
                    </article>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#ffffff;" id="feature_page">
                <div id="page_2" class="article_wrapper">
                    <!-- <article class="flex_2_divided_1">
                        <div class="tag_wrapper">
                            <h1>주요 기능 01.</h1>
                            <h2>일정</h2>
                        </div>
                        <div id="page2_image" class="page_image" style="background-image:url('/static/common/img/front_page/pters_calendar.png')"></div>
                    </article> -->
                    <article class="flex_2_divided_2">
                        <div style="color:#3b3b3b;position: relative;top:unset;transform:unset" class="page_description">
                            <div style="width:16px;height:2px;background-color:#3b3b3b"></div>
                            <p>실시간 회원 예약부터 자동 매출 통계까지<br>레슨과 수업을 위해 최적화 된 올인원 서비스 입니다.</p>
                            <div class="page_description_additional">
                                하루에 낭비되고 있는 관리 업무 시간 <span style="font-weight:bold;color:#fe4e65">평균 약 3시간!</span><br>
                                소중한 시간을 레슨 품질향상과 개인시간으로 바꾸어보세요!
                            </div>
                        </div>
                        <div style="text-align:center;margin-top:50px">
                            <img src="/static/common/img/service_introduce/pters_functions.png" alt="피터스 기능들" style="width:90%;max-width:800px;">
                        </div>
                    </article>
                </div>
            </section>
            
            <section class="front_page_section" style="background-color:#fbfbfb;" id="feature_page">
                <div id="page_2" class="article_wrapper">
                    <!-- <article class="flex_2_divided_1">
                        <div class="tag_wrapper">
                            <h1>주요 기능 01.</h1>
                            <h2>일정</h2>
                        </div>
                        <div id="page2_image" class="page_image" style="background-image:url('/static/common/img/front_page/pters_calendar.png')"></div>
                    </article> -->
                    <article class="flex_2_divided_2">
                        <div style="color:#3b3b3b;position: relative;top:unset;transform:unset" class="page_description">
                            <div style="width:16px;height:2px;background-color:#3b3b3b"></div>
                            <p>언제 어디서나 편리하게!</p>
                            <div class="page_description_additional">
                                클라우드 기술로 시간과 공간의 제약없이 인터넷 접속만 된다면 간편하게 관리
                            </div>
                        </div>
                        <div style="text-align:center;margin-top:50px" class="flex_wrap">
                            <div class="flex_children">
                                <div style="height:150px;line-height:150px">
                                    <img src="/static/common/img/service_introduce/pters_is_connected.png" alt="피터스 공유 기능" style="width:100%;max-width:150px;vertical-align: middle;">
                                </div>
                                <p style="font-size:20px;font-weight:bold;">공유 관리</p>
                                <p style="font-size:15px;font-weight:normal">다른 피터스 강사를 검색하고, 프로그램을 공유하여, 함께 관리하는 비즈니스 환경 구축이 가능합니다.</p>
                            </div>
                            <div class="flex_children">
                                <div style="height:150px;line-height:150px">
                                    <img src="/static/common/img/service_introduce/pters_is_multi.png" alt="피터스 클라우드 기능" style="width:100%;max-width:150px;vertical-align: middle;">
                                </div>
                                <p style="font-size:20px;font-weight:bold;">다양한 기기</p>
                                <p style="font-size:15px;font-weight:normal">IOS, 안드로이드 앱 뿐만 아니라, PC와 모바일 브라우저에서 시간과 장소 제약없이 이용 가능합니다.</p>
                            </div>
                            <div class="flex_children">
                                <div style="height:150px;line-height:150px">
                                    <img src="/static/common/img/service_introduce/pters_uses_aws.png" alt="피터스 AWS" style="width:100%;max-width:150px;vertical-align: middle;">
                                </div>
                                <p style="font-size:20px;font-weight:bold;">Amazon Web Service</p>
                                <p style="font-size:15px;font-weight:normal">세계적인 기업과 기관에서 사용하며, 가장 권위있는 정보보호 인증을 받은 AWS에 데이터가 저장됩니다.</p>
                            </div>

                        </div>
                    </article>
                </div>
            </section>

            <section class="front_page_section" style="background-color:#ffffff;color:#5c5859">
                <div id="page_8" class="article_wrapper" style="display:block;height:auto;padding:40px 20px 0 20px;">
                    <div>
                        <p style="margin-top: 0;">
                            <span style="font-size:11px;font-weight:500">고객센터 / </span>
                            <span style="font-size:8px;">운영시간: 10:00 ~ 18:00 (점심시간: 13:00 ~ 14:00)</span>
                        </p>
                    </div>
                    <div style="font-size:11px">
                        <p style="text-decoration: underline;margin:5px 0">070-8816-1010</p>
                        <p style="text-decoration: underline;margin:5px 0">support@pters.co.kr</p>
                    </div>
                    <div style="font-size:11px;font-weight:bold;margin-top:25px">
                        ⓒ SPOONER
                    </div>
                </div>
            </section>

        </div>
    </div>

{% endblock %}

{% block local_js_footer %}
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
<script type="text/javascript" src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript">

    
    // var varUA = navigator.userAgent.toLowerCase();//useAgent값 얻기
    /*
    if(varUA.match('android') != null){
        $('#download_img_android').show();
    }else if(varUA.match('iphone') !=null || varUA.match('ipad')!=null || varUA.match('ipod')!=null){
        $('#download_img_ios').show();
    }else{
        $('#download_img_ios, #download_img_android').show();
    }
  */

    if(varUA.match('MSIE') != null || varUA.match('msie') != null || varUA.match('rv:11.0')){
        $('#root_nav, .login_foot, #description_wrapper').css('display','none');
        $('#IE_block_explain').css('display','block');
    }
    


    function enter_key() {
        if (window.event.keyCode == 13) {
             // 엔터키가 눌렸을 때 실행할 내용
             document.getElementById('login-form').submit();
        }
    }
    var kakao_login_test = true;

    $('#errorMessageBar span:nth-child(2)').click(function(){
        $('#errorMessageBar').fadeOut('fast')
    });

    window.addEventListener('load', function () {
        {% for message in messages %}
            {% if message.tags == "error" %}
                alert('{{ message }}');
            {% endif %}
        {% endfor %}
        kakao_login_test = true;

        setTimeout(()=>{
            $('#download_img_ios, #download_img_android').show();
            if(device == MOBILE){
                if(device_info == 'app'){
                    $('#download_img_ios, #download_img_android').hide();
                }
                else{
                    if(os == IOS){
                        $('#download_img_android').hide();
                    }else if(os == ANDROID){
                        $('#download_img_ios').hide();
                    }
                }
            }
            else{
                if(device_info == 'app'){
                    $('#download_img_ios, #download_img_android').hide();
                }
            }
        }, 3000);

        var val = location.href.substr(
            location.href.lastIndexOf('=') + 1
        );
        if(val=='naver'){
            location.href = naverLogin.generateAuthorizeUrl();
        }
        $.ajax({
            url:'https://nid.naver.com/oauth2.0/token?grant_type=authorization_code&client_id={{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_ID }}&client_secret={{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_SECRET }}',
            type:'POST',
            dataType : 'json',

            beforeSend:function(){
                //beforeSend();
            },

            //통신성공시 처리
            success:function(data){
                var jsondata = JSON.parse(data);
            },

            //보내기후 팝업창 닫기
            complete:function(){
            },

            //통신 실패시 처리
            error:function(){

            }
        });
    });

    // <!-- 네이버아디디로로그인 초기화 Script -->
    var naverLogin = new naver.LoginWithNaverId(
        {
            clientId: "{{ request.session.PTERS_NAVER_ID_LOGIN_CLIENT_ID }}",
            callbackUrl: "http{% if request.is_secure %}s{% endif %}://{{ request.session.domain }}/login/login_simple_naver/",
            //callbackUrl: "https://www.pters.co.kr/login/login_simple_naver/",
            //clientId: "VM6zl0mLyBgjf9dgw1cC",
            //callbackUrl: "http://localhost:8000/login/login_simple_naver/",
            isPopup: false, /* 팝업을 통한 연동처리 여부 */
            callbackHandle: false,
            loginButton: {color: "white", type: 1, height: 39} /* 로그인 버튼의 타입을 지정 */
        }
    );
    /* 설정정보를 초기화하고 연동을 준비 */
    naverLogin.init();
    // <!--  네이버아이디로로그인 초기화 Script -->


    // <!-- 카카오 로그인  Script -->
    function loginWithKakao() {
        if(kakao_login_test){
            Kakao.init('4533bb10ac61e20907cd273f0941210a');
            kakao_login_test = false;
        }
        // 로그인 창을 띄웁니다.
        Kakao.Auth.login({
            success: function(authObj) {
                location.href = '/login/login_simple_kakao/?access_token='+authObj.access_token;
            },
            fail: function(err) {
                alert(JSON.stringify(err));
            }
        });
    }

// <!-- 구글 로그인  Script -->
/*
    var google_login_check = false;
    window.addEventListener('load', function () {
        google_signOut();
    });
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        if(google_login_check == true){
            var profile = googleUser.getBasicProfile();
                $('#id_new_sns_id').attr('value', profile.getId());
                $('#id_sns_username').attr('value', profile.getEmail());
                $('#id_sns_email').attr('value', profile.getEmail());
                $('#id_sns_last_name').attr('value', profile.getFamilyName() +profile.getGivenName());
                $('#id_sns_first_name').attr('value', );
                $('#id_sns_type').attr('value', 'Google');
                var id_token = googleUser.getAuthResponse().id_token;
                $('#id_social_accessToken').attr('value', id_token);
                document.getElementById('sns-form').submit();
                // The ID token you need to pass to your backend:
        }
      }
    function google_signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
        google_login_check = true;
      }
*/

function go_to(location){
    
    let loc;
    let $root_content = $('#root_content');
    switch(location){
        case 'feature':
            loc = $('#feature_page').offset().top - 60 + $root_content.scrollTop();
            $root_content.animate({scrollTop:loc}, 300);
            break;
        case 'price':
            loc = $('#price_page').offset().top - 60 +  $root_content.scrollTop();
            $root_content.animate({scrollTop:loc}, 300);
            break;
        case 'what':
            loc = $('#what_page').offset().top - 60 +  $root_content.scrollTop();
            $root_content.animate({scrollTop:loc}, 300);
            break;
    }
}

</script>
{% endblock %}
