<!DOCTYPE html>
<html lang="en">
<head>
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
    <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 당구, 골프 등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>PTERS</title>

</head>
<body>
<div id="debug_toolbar" style="position: fixed;top:0;font-size:13px;background:#fe4e65;background-color:#fe4e65;color:#ffffff;width:100%;left:0;z-index:1500"></div>
{% for test_info in test %}
    <br/>
    {{ forloop.counter }}======={{ test_info }}=======
    <br/>
{#    {% for test_info_info in test_info %}#}
{#    -------{{ test_info_info }}-------#}
{#        {% for test_info_info_info in test_info_info %}#}
{#            {{ test_info_info }}#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{% endfor %}
</body>
</html>