    {
        "common_cd":
      [{% for common_cd_info in common_cd_data %}"{{ common_cd_info.common_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "common_cd_nm":
      [{% for common_cd_info in common_cd_data %}"{{ common_cd_info.common_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "upper_common_cd":
      [{% for common_cd_info in common_cd_data %}"{{ common_cd_info.upper_common_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}]
    }\