#calendar{
	top: 50px;
}
.timeindex_day .hour{
	text-align: center;
	width: 100%;
	height:150px;
	border-top: 1px solid #cccccc;
	border-bottom: unset;
	line-height: 29px;
	letter-spacing: -0.3px;
	background-color: #f7f7f7;
	color: #444444;
}

.timeindex_day{
	position: absolute;
	width:15%;
	z-index: 10;
	color:white;
	/*padding-top: 53px;*/
}

.timeindex_time{
	font-size: 12px;
}

.time-row{ /*week ìŠ¤íƒ€ì¼*/
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}
.slidegap_day{
	display: table-cell;
	width: 15%
}

.daycal_plan_window{
	position: relative;
	display: table-cell;
	width: 85%;
	height: 100%;
	background-image: url('/static/user/res/calendar_hour_day2.png');
	background-size: 100% 150px;
}

.classTime, .offTime, .groupTime{
	opacity: 0.8;
	padding:5px 0 0 12px;
}
.memberName{
	font-size: 20px;
	font-weight: 500;
}
.memberTime{
	display: block;
	color: black;
	font-size: 17px;
}
.groupnametag{
	display: inline;
	margin-right: 5px;
}

@media(min-width: 400px){
	.timeindex_time{
		font-size: 13.5px;
	}
}

@media(min-width: 600px){
	.timeindex_day{
		height: auto;
	}
	.timeindex_time{
		float: right;
		margin-right: 6px;
		font-size: 16px;
	}
	.daycal_plan_window{

		background-size: 120px 150px;
	}

}