<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href={% static "common/css/bootstrap.min.css" %} rel="stylesheet">
        <link rel="stylesheet" href={% static "common/css/pters.base.set.css" %}>
        <link rel="stylesheet" href={% static "common/css/swiper.min.css"%}>
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    </head>
    <body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">환영합니다!</div>
                </div>
                <div class="panel-body">
                    <form id="login-form">
                        <div>
                            <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
                        </div>
                        <div>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                       </div>
                        <div>
                            <button type="submit" class="form-control btn btn-primary">로그인</button>
                        </div>
                    </form>
                </div>
           </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src={% static "common/js/bootstrap.min.js" %}></script>
    <script type="text/javascript" src={% static "common/js/jquery.swipe.js" %}></script>
    <script type="text/javascript" src={% static "common/js/jquery.touch.js" %}></script>
    <script type="text/javascript" src={% static "common/js/swiper.jquery.min.js" %}></script>

    </body>
</html>

<!--

2017.8.3업데이트 내역

1.Navigation Bar의 Bell ,메뉴 버튼 크기 및 위치 조정
2.Navigation Bar의 Bell 이미지 변경

3.파일명 변경 및 코드 분리
    skstyle.css ->> pters.month.cal.css 월간 달력 css
    skcalendar.js ->> pters.month.cal.js 월간 달력 js
    sidebar.css ->> pters.base.set.css 상단바,사이드바 css
    skstyle.js ->> pters.base.set.js 상단바, 사이드바 js

-->



