{% extends "base.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "common/css/pters.manage.member.css" %}>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
{% endblock %}



{% block content %}
  
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-primary">진행 중 회원</a>
  <a href="#" class="btn btn-primary">종료된 회원</a>
</div> 

<hr>

<div>
  <div>
    회원 정렬 기준
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" id="menu1" data-toggle="dropdown">가나다순<span class="caret"></span></button>
    <hr>
    <ul class="dropdown-menu pters_dropdown_custom" role="menu" aria-labelledby="menu1">
      <!-- 회원명 DB연동 필요-->
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1">남은 횟수 많은 순</a></li>
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1">남은 횟수 적은 순</a></li>
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1">시작 일자 과거 순</a></li>
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1">시작 일자 최근 순</a></li>
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1">수정 일자 최근 순</a></li>
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1">회원명 가나다 순</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>회원명</th>
        <th>연락처</th>
        <th>남은횟수</th>
        <th>시작일자</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>김멍멍</td>
        <td>010-1234-6548</td>
        <td>15</td>
        <td>2017-07-07</td>
      </tr>
      <tr>
        <td>데이비드</td>
        <td>010-4848-6464</td>
        <td>60</td>
        <td>2017-08-22</td>
      </tr>
      <tr>
        <td>주윤발</td>
        <td>010-7777-1818</td>
        <td>5</td>
        <td>2017-01-03</td>
      </tr>
    </tbody>
  </table>
</div>


    


{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
         <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <script type="text/javascript" src={% static "common/js/pters.manage.member.js" %}></script>

        




{% endblock %}