    {
      "lectureIdArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.lecture_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "startArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.start_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "endArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.end_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "countArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.lecture_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "remCountArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.lecture_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "availCountArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.lecture_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lectureStateArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "lectureStateNameArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.state_cd_name.common_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberViewStateArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.member_view_state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "memberViewStateNameArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.member_view_state_cd_name.common_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "classInfoArray":
      ["{{ class_data.class_type_name.common_cd_nm}}"],
      "classIdArray":
      ["{{ class_data.class_id }}"],
      "trainerNameArray":
      ["{{ class_data.trainer_info.name }}"],
      "lectureCountsArray":
      ["{{ class_data.lecture_counts }}"],
      "npLectureCountsArray":
      ["{{ class_data.np_lecture_counts }}"],

      "messageArray" :
      [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
