{% extends "trainee_base_blank.html" %}
{% load static_url %}

{% block local_css %}

        <link rel="stylesheet" href={% static_url "user/css/trainee/pters.trainee.mypage.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
{% endblock %}

{% block content %}
<div id="blank_member_popup">
    <label>PTERS에 오신걸 환영합니다!</label>
      <p><br>담당 강사와 연결된 후부터 사용이 가능합니다.</p>
      <p>담당 강사에게 회원님의 아이디를 알려 드리고 등록을 요청해주세요.</p>
    <span>닫기</span>
</div>

<div id="ymdText">
  <!--
    <div class='arrowButton'>
     <a style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="width: 7px;"></a>
     <a style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;"></a>
    </div>
  -->
    <div id="ymdTextWrap">
         <div id="countRemain"><div style="position: absolute;width: 100%;height: 100%;background: #ffffff;opacity: 0.16;"></div>
            <span id="countRemainData"> 예약 가능 횟수 <span style="color:#fe4e65;font-weight: bold;font-size: 16px;">0 </span>회</span>
         </div>
        <div id="yearText">마이 페이지</div>
        <div id="monthText"></div>
        <div id="menuName">마이 페이지
        </div>
        <div id="menuDescription">나의 정보를 확인할 수 있습니다.
        </div>
    </div>
</div>

<div class="gap">
  
</div>

<div class="mode_switch_button_wrap"> 
  <div class="mode_switch_button mode_active" data-page="summary_wrap">정보</div>
  <div class="mode_switch_button" data-page="history_wrap">이력</div>
</div>

<div id="summary_wrap" class="mypage_page">
  <div class="mypage_label">
      <img src="/static/user/res/member/icon-user.png" alt=""><span>내 정보 개요</span>
  </div>

  <div id="regCountBoardWrap" class="boardWrap">
      <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">등록 횟수</p>
        <p class="countBoard_explain">현재까지 총 등록 횟수</p>
        <p><span>0</span>회</p>
      </div>
      <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">남은 횟수</p>
        <p class="countBoard_explain">아직 진행하지 않은 횟수</p>
        <p><span>0</span>회</p>
      </div>
  </div>

  <div id="countBoardWrap" class="boardWrap">
      <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">예약 가능</p>
        <p class="countBoard_explain">아직 일정을 예약하지 않은 횟수</p>
        <p><span>0</span>회</p>
      </div>
      <div class="countBoard"><p><img src="/static/user/res/member/icon-check.png" alt="">진행 완료</p>
        <p class="countBoard_explain">담당 강사와 진행완료한 횟수</p>
        <p><span>0 </span>회</p>
      </div>
  </div>

  <div id="planBoardWrap" class="boardWrap">
      <div class="planBoard _Next_Info"><p><img src="/static/user/res/member/icon-bell.png" alt="">다음 일정</p><p></p></div>
      <div class="planBoard _Repeat_Info"><p><img src="/static/user/res/member/icon-repeat.png" alt="">반복 일정</p><p style="margin:0;"></p><span></span></div>
  </div>

  <div id="dateBoardWrap" class="boardWrap">
      <div class="dateBoard"><div><p><img src="/static/user/res/member/icon-cal.png" alt="">레슨 시작일</p><p style="margin:0;"></p></div></div>
      <div class="dateBoard"><div><p><img src="/static/user/res/member/icon-cal.png" alt="">레슨 종료일</p><p style="margin:0;"></p></div></div>
  </div>

  <div class="mypage_label">
      <img src="/static/user/res/member/icon-user.png" alt=""><span>담당 강사 정보</span>
  </div>
  <div id="trainerInfoWrap" class="boardWrap">
      <div class="trainerInfo">
        <span> - </span>
        <a href='tel:{{ class_info.mem_info.phone }}'><img src="/static/user/res/member/icon-call.png"></a>
        <a href='sms:{{ class_info.mem_info.phone }}'><img src="/static/user/res/member/icon-message.png" alt=""></a>
      </div>
      <!--
      <div class="trainerWorkTimeInfo">
        <span>업무 시간</span><span></span>
      </div>
      -->
  </div>
</div>

<div id="history_wrap" class="mypage_page"> 
    <div class="mypage_label">
      <img src="/static/user/res/member/icon-user.png" alt=""><span>수강 이력</span>
{#      <p class="label_explain">{{ class_info.mem_info.name }} 강사에게 등록한 이력</p>#}
    </div>

    <div id="myRegHistory" class="boardWrap">
      <p>등록 후 사용 가능합니다.</p>
    </div>

    <div class="mypage_label">
      <img src="/static/user/res/member/icon-user.png" alt=""><span>레슨 이력</span>
{#      <p class="label_explain">{{ class_info.mem_info.name }} 강사에게 현재 등록된 강의의 수행 이력</p>#}
    </div>

    <div id="myActiveHistory" class="boardWrap">
      <p>등록 후 사용 가능합니다.</p>
    </div>

    

</div>

<!--
<div class="mypage_label _GRAPH_OPEN">
    <img src="/static/user/res/member/icon-user.png" alt=""><span>월별 활동 그래프</span>
</div>

<div id="mygraph" data-open="0">
    <div id="yyyyText">
        <a id="leftArrow" style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/icon-setting-arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 6px;"></a>
        <span id="yy"></span>
        <a id="rightArrow" style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/icon-setting-arrow.png" %} alt="" style="width: 6px;"></a>
    </div>

    <div id="graph" class="pters_graph">
      <div class="graph_main">
        <div class="graph_vertical">
          <div class="verti">30</div>
          <div class="verti">25</div>
          <div class="verti">20</div>
          <div class="verti">15</div>
          <div class="verti">10</div>
          <div class="verti">5</div>
          <div class="verti"></div>
        </div>
      </div>  
      <div class="graph_horizontal">
        <table>
          <tr>
            <td>1월</td>
            <td>2월</td>
            <td>3월</td>
            <td>4월</td>
            <td>5월</td>
            <td>6월</td>
            <td>7월</td>
            <td>8월</td>
            <td>9월</td>
            <td>10월</td>
            <td>11월</td>
            <td>12월</td>
          </tr>
        </table>
      </div>
    </div> 
</div>
-->

<div class="mypage_label button_trainee_logout">
  <span onclick="location.href='{% url 'login:logout' %}'">로그아웃</span>
</div>

{% endblock %}

{% block local_js_footer %}
        <!-- for db by hk.kim 170805-->
        <script>
            var krHolidayList =  [{% for holiday_day in holiday %}'{{ holiday_day.holiday_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];//대한민국 공휴일 (구정, 추석 제외)
        
            //여기를 가져다 써야함 - hkkim 171021;
            var classTimeArray_start_date = [{% for pt_schedule_start_datetime_info in pt_schedule_start_datetime %}'{{ pt_schedule_start_datetime_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        	var classTimeArray_end_date = [{% for pt_schedule_end_datetime_info in pt_schedule_end_datetime %}'{{ pt_schedule_end_datetime_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var scheduleIdArray = [{% for pt_schedule_id_info in pt_schedule_id %}'{{ pt_schedule_id_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var scheduleFinishArray =  [{% for pt_schedule_finish_check_info in pt_schedule_finish_check %}'{{ pt_schedule_finish_check_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var classTimeArray_member_name = [{% for pt_schedule_member_name_info in pt_schedule_member_name %}'{{ pt_schedule_member_name_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];


            var offTimeArray_start_date = [{% for off_schedule_start_datetime_info in off_schedule_start_datetime %}'{{ off_schedule_start_datetime_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var offTimeArray_end_date = [{% for off_schedule_end_datetime_info in off_schedule_end_datetime %}'{{ off_schedule_end_datetime_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];



            var classDateArray = [] //수업날짜 DB데이터 가공후 만들어지는 Array
            var classStartArray = [] //수업시간 DB데이터 가공후 만들어지는 Array

            var ptRepeatScheduleIdArray =  [{% for pt_repeat_schedule_id_info in pt_repeat_schedule_id_data %}'{{ pt_repeat_schedule_id_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var ptRepeatScheduleTypeArray =  [{% for pt_repeat_schedule_type_info in pt_repeat_schedule_type_data %}'{{ pt_repeat_schedule_type_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var ptRepeatScheduleWeekInfoArray =  [{% for pt_repeat_schedule_week_info_info in pt_repeat_schedule_week_info_data %}'{{ pt_repeat_schedule_week_info_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var ptRepeatScheduleStartDateArray =  [{% for pt_repeat_schedule_start_date_info in pt_repeat_schedule_start_date_data %}'{{ pt_repeat_schedule_start_date_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var ptRepeatScheduleEndDateArray =  [{% for pt_repeat_schedule_end_date_info in pt_repeat_schedule_end_date_data %}'{{ pt_repeat_schedule_end_date_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var ptRepeatScheduleStartTimeArray =  [{% for pt_repeat_schedule_start_time_info in pt_repeat_schedule_start_time_data %}'{{ pt_repeat_schedule_start_time_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
            var ptRepeatScheduleTimeDurationArray =  [{% for pt_repeat_schedule_time_duration_info in pt_repeat_schedule_time_duration_data %}'{{ pt_repeat_schedule_time_duration_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];


            var next_schedule = ['{{ next_schedule }}'];
            var lt_res_01 =  ['{{ lt_res_01 }}'];
            var lt_res_02 =  ['{{ lt_res_02 }}'];
            var lt_res_03 =  ['{{ lt_res_03 }}'];
            var lt_res_04 =  ['{{ lt_res_04 }}'];
            var class_id = ['{{ request.session.class_id }}'];
        </script>

        <!-- Placed at the end of the document so the pages load faster -->

        <script type="text/javascript" src={% static_url "user/js/trainee/pters.trainee.mypage.js" %}></script> <!--달력에 대한 JS-->
        <script>

            $('#uptext').text("마이페이지")
            $('#upbutton').attr('onclick',"location.href='{% url 'trainee:cal_month_blank'%}'")
            $('#upbutton img').attr('src','/static/user/res/icon-setting-arrow.png').css({'transform':'rotate(180deg)','height':'20px','width':'unset'})
            if('{{next_schedule_start_dt }}'.length>0){
              var trainee_next_schedule = date_format_to_user_hangul('{{next_schedule_start_dt }}')
            }else{
              var trainee_next_schedule = "일정이 없습니다."
            }
            $('.trainerWorkTimeInfo span:nth-child(2)').text(Options.workStartTime+'시 ~ '+Options.workEndTime+'시')
            
            /*
            $('._GRAPH_OPEN').click(function(){
              if($('#mygraph').attr('data-open') == '0'){
                  $('#mygraph').css('transform','translateY(0%)').attr('data-open','1')
                  //$('#summary_wrap').css('transform','translateY(0%)')
                  
              }else if($('#mygraph').attr('data-open') == "1"){
                  $('#mygraph').css('transform','translateX(-200%)').attr('data-open','0')
                  //$('#summary_wrap').css('transform','translateY(-48%)')

              }
            })
            */

            $('#blank_member_popup span').click(function(){
              $('#blank_member_popup').fadeOut()
            })
           
        </script>

{% endblock %}
