{% extends "trainee_base.html" %}
{% load static_url %}

{% block local_css %}

    <link rel="stylesheet" href={% static_url "user/css/trainee/pters.trainee.mypage.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
    <style type="text/css">
        .NAVER{
            font-weight: 500 !important;
            color: #2DB400; 
        }
        .Facebook{
            font-weight: 500 !important;
            color: #3b5998;
        }
        .Google{
            font-weight: 500 !important;
            color: #4285f4;
        }
    </style>

{% endblock %}
{% block content %}
    <div id="blank_member_popup" style="display: none;">
        <label>PTERS에 오신걸 환영합니다!</label>
        <p><br>담당 강사와 연결된 후부터 사용이 가능합니다.</p>
        <p>담당 강사에게 회원님의 아이디를 알려 드리고 등록을 요청해주세요.</p>
        <span>닫기</span>
    </div>

    <div id="popup_how_to_disconnect_sns_login" class="popups">
        <label style="text-align: center;font-size: 18px;margin-left: 15px;margin-top:10px;font-weight: 500;">SNS계정 연동 해제 방법</label><img src="/static/user/res/ptadd/btn-x.png" style="width:32px;padding:10px;float:right;margin:5px;cursor: pointer;" id="btn_close_how_to_disconnect_sns_login">
        <!-- <div id="" class="pters_selectbox_wrapper" style="margin-top: 15px;">
            <div id="how_to_disconnect_naver" onclick="" class="pters_selectbox_btn pters_selectbox_btn_selected">
                <span class="KRtext">네이버</span>
            </div>
            <div id="how_to_disconnect_facebook" onclick="" class="pters_selectbox_btn">
                <span class="KRtext">페이스북</span>
            </div>
        </div> -->
        <div id="how_to_disconnect_naver_explain" class="explain_page">
            <label>네이버 연동 해제 방법</label>
            <p style="color:#fe4e65;font-weight: bold;"><img src="/static/user/res/stopmark.png" style="width: 15px;">주의사항!<br>연동 해제 전 비밀번호를 초기화후 재설정하셔야, <br>연동 해제 후 피터스에 정상적으로 로그인이 가능합니다.</p>
            <p>1. 네이버 사이트에서 로그인 후, 내정보로 이동합니다.</p>
            <img src="/static/user/res/how_to_disconnect_sns/naver/1.png">
            <p>2. 보안 설정 탭으로 이동합니다.</p>
            <img src="/static/user/res/how_to_disconnect_sns/naver/2.png">
            <p>3. 외부 사이트 연결을 확인합니다.</p>
            <img src="/static/user/res/how_to_disconnect_sns/naver/3.png">
            <p>4. 목록에서 PTERS의 연결 여부를 설정합니다.</p>
            <img src="/static/user/res/how_to_disconnect_sns/naver/4.png">
        </div>
        <div id="how_to_disconnect_facebook_explain" class="explain_page">페이스북 연동 해제 방법</div>
    </div>

    <div id="ymdText">
        <!--
    <div class='arrowButton'>
     <a style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="width: 7px;"></a>
     <a style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;"></a>
    </div>
  -->
        <div id="ymdTextWrap">
            <div id="countRemain"><div style="position: absolute;width: 100%;height: 100%;background: #ffffff;opacity: 0.16;"></div>
                <span id="countRemainData"> 예약 가능 횟수 <span style="color:#fe4e65;font-weight: bold;font-size: 16px;">{{lecture_avail_count}} </span>회</span>
            </div>
            <div id="yearText">마이 페이지</div>
            <div id="monthText"></div>
            <div id="menuName">
            </div>
            <div id="menuDescription">나의 정보를 확인할 수 있습니다.
            </div>
        </div>
    </div>

    <div class="gap">

    </div>

    <div class="mode_switch_button_wrap">
        <div class="mode_switch_button mode_active" data-page="summary_wrap">정보</div>
        <div class="mode_switch_button" data-page="history_wrap">이력</div>
    </div>

    <div id="summary_wrap" class="mypage_page">
        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>내 정보 개요</span>
        </div>

        <div id="regCountBoardWrap" class="boardWrap">
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">총 등록 횟수</p>
                <p class="countBoard_explain">현재까지 총 등록 횟수</p>
                <p><span>{{lecture_reg_count}} </span>회</p>
            </div>
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">현재 남은 횟수</p>
                <p class="countBoard_explain">아직 진행하지 않은 횟수</p>
                <p><span><script type="text/javascript">document.write({{ lecture_rem_count }})</script></span>회</p>
            </div>
        </div>

        <div id="countBoardWrap" class="boardWrap">
            <div class="countBoard"><p><img src="/static/user/res/member/icon-able.png" alt="">예약 가능</p>
                <p class="countBoard_explain">아직 일정을 예약하지 않은 횟수</p>
                <p><span>{{lecture_avail_count}} </span>회</p>
            </div>
            <div class="countBoard"><p><img src="/static/user/res/member/icon-check.png" alt="">진행 완료</p>
                <p class="countBoard_explain">담당 강사와 진행완료한 횟수</p>
                <p><span>{{lecture_finish_count}} </span>회</p>
            </div>
        </div>

        <div id="planBoardWrap" class="boardWrap">
            <div class="planBoard _Next_Info"><p><img src="/static/user/res/member/icon-bell.png" alt="">다음 일정</p><p></p></div>
            <div class="planBoard _Repeat_Info"><p><img src="/static/user/res/member/icon-repeat.png" alt="">반복 일정</p><p style="margin:0;"></p><span></span></div>
        </div>

        <div id="dateBoardWrap" class="boardWrap">
            <div class="dateBoard"><div><p><img src="/static/user/res/member/icon-cal.png" alt="">레슨 시작일</p><p style="margin:0;">{{ pt_start_date }}</p></div></div>
            <div class="dateBoard"><div><p><img src="/static/user/res/member/icon-cal.png" alt="">레슨 종료일</p><p style="margin:0;">{{ pt_end_date }}</p></div></div>
        </div>





        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>가입 정보</span>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo" style="height: auto;">
                <div>
                    <span class="menuName">ID</span>
                    <div class="menuButton"><button onclick="goPage('delAccount')">탈퇴</button></div>
                </div>
                <span>{{ request.user.username }}</span>
                <div id="is_this_sns_login" style="display: none;padding-bottom: 7px;">
                    <div id="sns_type" style="display: inline-block;"></div>
                    <div class="menuButton" style="position: relative;margin-right: 10px;"><button onclick="naverLogout()" style="width: 40px;">연동해제</button></div>
                    <img src="/static/user/res/icon-info.png" style="width:15px;margin:0;opacity: 0.5;cursor: pointer;" id="btn_how_to_disconnect_sns_login">
                </div>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div><span class="menuName">비밀번호 변경</span></div>
                <button onclick="goPage(2)">변경</button>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">이름</span>
                    <div class="menuButton">
                        <button class="changeName changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelName cancelMemberInfo">취소</button>
                    </div>
                </div>
                <span class="_nameInfo _originalInfo">{{ member_info.name }}</span>
                <!-- <input type="" name="last_name" class="modifyInfoTool" placeholder="성" style="width:100px;"> -->
                <input type="" name="first_name" class="modifyInfoTool" placeholder="이름" style="width:200px;" maxlength="11">
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">연락처</span>
                    <div class="menuButton">
                        <button class="changePhone changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelPhone cancelMemberInfo">취소</button>
                    </div>
                </div>
                <input type="tel" name="newphone" class="modifyInfoTool" placeholder="'-'를 제외한 숫자만 입력">
                <span class="_phoneInfo _originalInfo">{{ member_info.phone }} </span>
            </div>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <div>
                    <span class="menuName">생일</span>
                    <div class="menuButton">
                        <button class="changeBirth changeMemberInfo" data-type="modify">변경</button>
                        <button class="cancelBirth cancelMemberInfo">취소</button>
                    </div>
                </div>
                <div class="outerbox modifyInfoTool" id="newbirthday">
                    <select class="login_dropdown" id="birth_year">
                    </select>
                    <select class="login_dropdown" id="birth_month">
                    </select>
                    <select class="login_dropdown" id="birth_date">
                    </select>
                    <span class="birth_confirm"></span>
                </div>
                <span class="_birthInfo _originalInfo">{{ member_info.birthday_dt }}</span>
            </div>
        </div>






        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>담당 강사 정보</span>
        </div>
        <div id="trainerInfoWrap" class="boardWrap">
            <div class="trainerInfo">
                <span>{{ class_info.mem_info.name }}님</span>
                <a href='tel:{{ class_info.mem_info.phone }}'><img src="/static/user/res/member/icon-call.png"></a>
                <a href='sms:{{ class_info.mem_info.phone }}'><img src="/static/user/res/member/icon-message.png" alt=""></a>
            </div>
            <!--
            <div class="trainerWorkTimeInfo">
              <span>업무 시간</span><span></span>
            </div>
            -->
        </div>
    </div>

    <div id="history_wrap" class="mypage_page">
        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>수강 이력</span>
            {#      <p class="label_explain">{{ class_info.mem_info.name }} 강사에게 등록한 이력</p>#}
        </div>

        <div id="myRegHistory" class="boardWrap">

        </div>

        <div class="mypage_label">
            <img src="/static/user/res/member/icon-user.png" alt=""><span>레슨 이력</span>
            {#      <p class="label_explain">{{ class_info.mem_info.name }} 강사에게 현재 등록된 강의의 수행 이력</p>#}
        </div>

        <div id="myActiveHistory" class="boardWrap">

        </div>



    </div>

    <!--
<div class="mypage_label _GRAPH_OPEN">
    <img src="/static/user/res/member/icon-user.png" alt=""><span>월별 활동 그래프</span>
</div>

<div id="mygraph" data-open="0">
    <div id="yyyyText">
        <a id="leftArrow" style="left: 6%;cursor: pointer;"><img src={% static_url "user/res/icon-setting-arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 6px;"></a>
        <span id="yy"></span>
        <a id="rightArrow" style="right: 6%;cursor: pointer;"><img src={% static_url "user/res/icon-setting-arrow.png" %} alt="" style="width: 6px;"></a>
    </div>

    <div id="graph" class="pters_graph">
      <div class="graph_main">
        <div class="graph_vertical">
          <div class="verti">30</div>
          <div class="verti">25</div>
          <div class="verti">20</div>
          <div class="verti">15</div>
          <div class="verti">10</div>
          <div class="verti">5</div>
          <div class="verti"></div>
        </div>
      </div>  
      <div class="graph_horizontal">
        <table>
          <tr>
            <td>1월</td>
            <td>2월</td>
            <td>3월</td>
            <td>4월</td>
            <td>5월</td>
            <td>6월</td>
            <td>7월</td>
            <td>8월</td>
            <td>9월</td>
            <td>10월</td>
            <td>11월</td>
            <td>12월</td>
          </tr>
        </table>
      </div>
    </div> 
</div>
-->

    <div class="mypage_label button_trainee_logout">
        <span onclick="location.href='{% url 'login:logout' %}'">로그아웃</span>
    </div>

    <form id="modify-member-id-form" method="post">
        {% csrf_token %}
        <div style="display: none">
            {{ form.as_p }}
        </div>
        <input type="hidden" name="id" id="userid" value="" >
        <input type="hidden" name="first_name" id="first_name" value="" >
        <input type="hidden" name="last_name" id="last_name" value="" >
        <input type="hidden" name="sex" id="newsex" value="" >
        <input type="hidden" name="birthday" id="newbirth" value="" >
        <input type="hidden" name="phone" id="newphone" value="" >
        <input type="hidden" name="contents" id="contents" value="" >
        <input type="hidden" name="next_page" id="id_next_page" value="{% url 'trainee:get_trainee_info' %}">
    </form>

{% endblock %}

{% block local_js_footer %}
    <!-- for db by hk.kim 170805-->
    <script>
        var krHolidayList =  [{% for holiday_day in holiday %}'{{ holiday_day.holiday_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];//대한민국 공휴일 (구정, 추석 제외)

        //여기를 가져다 써야함 - hkkim 171021;
        var classTimeArray_start_date = [{% for pt_schedule_info in pt_schedule_data %}'{{ pt_schedule_info.start_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var classTimeArray_end_date = [{% for pt_schedule_info in pt_schedule_data %}'{{ pt_schedule_info.end_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var scheduleIdArray = [{% for pt_schedule_info in pt_schedule_id %}'{{ pt_schedule_info.schedule_id }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var scheduleFinishArray =  [{% for pt_schedule_info in pt_schedule_data %}'{{ pt_schedule_info.finish_check }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var classTimeArray_member_name = [{% for pt_schedule_info in pt_schedule_data %}'{{ pt_schedule_info.member_name }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var scheduleNoteArray =  [{% for pt_schedule_info in pt_schedule_data %}'{{ pt_schedule_info.note }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var scheduleIdxArray =  [{% for pt_schedule_info in pt_schedule_data %}'{{ pt_schedule_info.idx }}'{%if forloop.last == False%},{% endif %}{% endfor %}];


        var offTimeArray_start_date = [{% for off_schedule_info in off_schedule_data %}'{{ off_schedule_info.start_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var offTimeArray_end_date = [{% for off_schedule_info in off_schedule_data %}'{{ off_schedule_info.end_dt }}'{%if forloop.last == False%},{% endif %}{% endfor %}];



        var classDateArray = [] //수업날짜 DB데이터 가공후 만들어지는 Array
        var classStartArray = [] //수업시간 DB데이터 가공후 만들어지는 Array

        var ptRepeatScheduleIdArray =  [{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.repeat_schedule_id }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleTypeArray =  [{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.repeat_type_cd }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleWeekInfoArray =  [{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.week_info }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleStartDateArray =  [{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.start_date }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleEndDateArray =  [{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.end_date }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleStartTimeArray =  [{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.start_time }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleEndTimeArray =  [{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.end_time }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleTimeDurationArray =  [{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.time_duration }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleGroupTypeNameArray =[{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.get_group_type_cd_name }}'{%if forloop.last == False%},{% endif %}{% endfor %}];
        var ptRepeatScheduleGroupNameArray =[{% for repeat_schedule_info in repeat_schedule_data %}'{{ repeat_schedule_info.get_group_name }}'{%if forloop.last == False%},{% endif %}{% endfor %}];

        var next_schedule = '{{ next_schedule }}';
        var lt_res_01 =  ['{{ lt_res_01 }}'];
        var lt_res_02 =  ['{{ lt_res_02 }}'];
        var lt_res_03 =  ['{{ lt_res_03 }}'];
        var lt_res_04 =  ['{{ lt_res_04 }}'];
        var lt_res_enable_time = ['{{ lt_res_enable_time }}'];
        var lt_res_cancel_time = ['{{ lt_res_cancel_time }}'];
        var lt_res_enable = ['{{ lt_res_enable }}'];
        var class_id = ['{{ request.session.class_id }}'];
        var trainee_next_schedule = "일정이 없습니다."
        $('#uptext').text("마이페이지")
        $('#upbutton').attr('onclick',"location.href='{% url 'trainee:cal_month'%}'")
        $('#upbutton img').attr('src','/static/user/res/icon-setting-arrow.png').css({'transform':'rotate(180deg)','height':'20px','width':'unset'})
        if(next_schedule.length>0){
            trainee_next_schedule = date_format_to_user_hangul(next_schedule)
        }
    </script>

    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src={% static_url "user/js/trainee/pters.trainee.mypage.js" %}></script> <!--달력에 대한 JS-->
    <script>
        $('.trainerWorkTimeInfo span:nth-child(2)').text(Options.workStartTime+'시 ~ '+Options.workEndTime+'시');

        birthChangeEventGroup();


        if(Number(social_login_check) == 0){

        }else if(Number(social_login_check) == 1){
            $('.changeEmail').parent('.menuButton').hide();
            $('#is_this_sns_login').show();
            $('#sns_type').html(`<span class="${social_login_type}" style="margin:0">${social_login_type}</span> 계정으로 로그인 중`);
        }
        

        $('#btn_how_to_disconnect_sns_login').click(function(){
            height_this_fit_to_display('#popup_how_to_disconnect_sns_login', 60);
            locate_this_to_center('#popup_how_to_disconnect_sns_login');

            $('body').css('overflow-y', 'hidden');
            $('#shade_caution').show();
        });

        $('#btn_close_how_to_disconnect_sns_login').click(function(){
            $('#popup_how_to_disconnect_sns_login').hide();
            $('body').css('overflow-y', 'unset');
            $('#shade_caution').hide();
        });


        $('button.changeMemberInfo').click(function(){
            if($(this).attr('data-type') == "modify"){
                $(this).attr('data-type', 'complete');
                $(this).siblings('button.cancelMemberInfo').show();
                $(this).parents('.trainerInfo').find('._originalInfo').hide();
                $(this).parents('.trainerInfo').find('.modifyInfoTool').show();
            }else if($(this).attr('data-type') == "complete"){
                $(this).attr('data-type', 'modify');
                $(this).siblings('button.cancelMemberInfo').hide();
                $(this).parents('.trainerInfo').find('._originalInfo').show();
                $(this).parents('.trainerInfo').find('.modifyInfoTool').hide();
                input_birth_to_form();
                send_modified_member_info();
            }
        });

        $('button.cancelMemberInfo').click(function(){
            $(this).hide();
            $(this).siblings('button.changeMemberInfo').attr('data-type','modify');
            $(this).parents('.trainerInfo').find('._originalInfo').show();
            $(this).parents('.trainerInfo').find('.modifyInfoTool').hide();
        });

        $('input').keyup(function(){
            var targetID = $('#'+$(this).attr('name'));
            targetID.val($(this).val());
        });


        send_modified_member_info();
        function send_modified_member_info(){
            $.ajax({
                url:'/trainee/update_trainee_info/',
                type:'POST',
                data : $('#modify-member-id-form').serialize(),
                dataType : 'html',

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    fill_recieved_member_info(jsondata);
                },

                //보내기후 팝업창 닫기
                complete:function(){
                },

                //통신 실패시 처리
                error:function(){

                },
            })
        }

        function fill_recieved_member_info(jsondata){
            $('span._nameInfo').text(jsondata.last_name+jsondata.first_name);
            $('span._phoneInfo').text(jsondata.phone);
            $('span._birthInfo').text(jsondata.birthday_dt);
            $('.pcwho').text('{{ request.session.class_type_name }}'+' - '+ jsondata.last_name+jsondata.first_name);
        }


        function birthChangeEventGroup(){
            var yearoption = ['<option>연도</option>'];
            for(var i=2018; i>=1908; i--){
                if(i == 1990){
                    yearoption.push('<option selected>'+i+'년</option>');
                }else{
                    yearoption.push('<option>'+i+'년</option>');
                }
            }
            var birth_year_options = yearoption.join('');
            $('#birth_year').html(birth_year_options);


            var monthoption = ['<option>월</option>'];
            for(var i=1; i<=12; i++){
                if(i == 10){
                    monthoption.push('<option data-month="'+i+'" selected>'+i+'월</option>');
                }else{
                    monthoption.push('<option data-month="'+i+'">'+i+'월</option>');
                }
            }
            var birth_month_options = monthoption.join('');
            $('#birth_month').html(birth_month_options);


            var dateoption = ['<option>일</option>'];
            for(var i=1; i<=31; i++){
                if(i == 10){
                    dateoption.push('<option selected>'+i+'일</option>');
                }else{
                    dateoption.push('<option>'+i+'일</option>');
                }

            }
            var birth_date_options = dateoption.join('');
            $('#birth_date').html(birth_date_options);


            $('#birth_month').change(function(){
                var dateoption = [];
                $('#birth_date').html("");
                var lastDay = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
                var month = $(this).val().replace(/월/gi, "");
                for(var i=1; i<=lastDay[month-1]; i++){
                    dateoption.push('<option>'+i+'일</option>');
                }
                var birth_date_options = dateoption.join('');
                $('#birth_date').html(birth_date_options);
            });

            $('#birth_year, #birth_month, #birth_date').change(function(){
                input_birth_to_form();
            });
        }

        function input_birth_to_form(){
            var year = $('#birth_year').val().replace(/년/gi, "");
            var month = $('#birth_month').val().replace(/월/gi, "");
            var date = $('#birth_date').val().replace(/일/gi, "");
            var birthdata = year+'-'+month+'-'+date;
            $('#newbirth').attr('value', birthdata);
        }

        function goPage(option){
            if(option == 2){
                if(Number(social_login_check) == 0){
                    location.href= "/accounts/password/change/";
                }else if(Number(social_login_check) == 1){
                    location.href= "/accounts/password/reset/";
                }
            }else if(option = "delAccount"){
                location.href="/trainee/delete_trainee_account/";
            }
        }


//         function naverLogout(){
//             $.ajax({

//                 url:'https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=h5MuvYzSFLlrFTs19g0V&client_secret=fL5b0bMvHH&access_token='+social_accessToken+'&service_provider=NAVER',
//                 type:'GET',
//                 dataType:'json',

//                 beforeSend:function(){
//                 },

//                 //통신성공시 처리
//                 success:function(data){

//                 },

//                 //보내기후 팝업창 닫기
//                 complete:function(){
//                 },

//                 //통신 실패시 처리
//                 error:function(){

//                 }
//             });

//             $.ajax({
//                 url:'/login/delete_sns_info/',
//                 type:'POST',
//                 data : {"sns_id":social_login_id, "sns_type":social_login_type},
//                 dataType : 'html',

//                 beforeSend:function(xhr, settings){
//                     if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
//                         xhr.setRequestHeader("X-CSRFToken", csrftoken);
//                     }
//                     beforeSend();
//                 },

//                 //통신성공시 처리
//                 success:function(data){
//                     var jsondata = JSON.parse(data);
//                     console.log(jsondata);
// {#                    window.location.reload();#}
//                 },

//                 //보내기후 팝업창 닫기
//                 complete:function(){
//                 },

//                 //통신 실패시 처리
//                 error:function(){

//                 }
//             });
//         }

        function naverLogout(){
            if(confirm("네이버 연동해제시 비밀번호를 초기화(변경)하셔야\n 정상적으로 재로그인이 가능합니다.")){
                $.ajax({

                    url:'https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=h5MuvYzSFLlrFTs19g0V&client_secret=fL5b0bMvHH&access_token='+social_accessToken+'&service_provider=NAVER',
                    type:'GET',
                    dataType:'json',

                    beforeSend:function(){
                    },

                    //통신성공시 처리
                    success:function(data){

                    },

                    //보내기후 팝업창 닫기
                    complete:function(){
                    },

                    //통신 실패시 처리
                    error:function(){

                    }
                });

                $.ajax({
                    url:'/login/delete_sns_info/',
                    type:'POST',
                    data : {"sns_id":social_login_id, "sns_type":social_login_type},
                    dataType : 'html',

                    beforeSend:function(xhr, settings){
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                        beforeSend();
                    },

                    //통신성공시 처리
                    success:function(data){
                        var jsondata = JSON.parse(data);
                        window.location.reload();
                    },

                    //보내기후 팝업창 닫기
                    complete:function(){

                    },

                    //통신 실패시 처리
                    error:function(){

                    }
                });
            }else{
                
            }
            
        }




    </script>

{% endblock %}
