{% extends "trainee_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/page/pters.trainee.page.main.css" %}>
{% endblock %}

{% block content %}
    <div class="trainee_main">
        <div class="wrapper_program_title obj_font_size_20_weight_bold">{% if request.session.program_title %}{{ request.session.program_title }}{% else %}선택 안됨{% endif %}</div>

        <div class="wrapper_sub_title obj_font_size_11_weight_bold obj_font_color_dark_grey">다음 일정</div>
        <div class="wrapper_box_next_plan obj_box_full">
        {% if next_schedule_info %}
            <div class="wrapper_tag">
                <div class="obj_tag obj_font_bg_white_pink">예약완료</div>
            </div>
            <div class="wrapper_lecture_title obj_font_size_16_weight_bold">({{ next_schedule_info.group_type_name }}) {{ next_schedule_info.group_name }}</div>
            <div class="wrapper_plan_info">
                <div class="obj_table_raw obj_font_size_11_weight_normal obj_font_color_light_grey">
                    <div class="obj_table_cell_x3">일자</div>
                    <div class="obj_table_cell_x3">요일</div>
                    <div class="obj_table_cell_x3">진행시간</div>
                </div>
                <div class="obj_table_raw obj_font_size_14_weight_500">
                    <div class="obj_table_cell_x3">{{ next_schedule_info.start_dt | date:'Y.m.d' }}</div>
                    <div class="obj_table_cell_x3">{{ next_schedule_info.start_dt | date:"l" }}</div>
                    <div class="obj_table_cell_x3">{{ next_schedule_info.start_dt | date:'H:i' }} ~ {{ next_schedule_info.end_dt | date:'H:i' }}</div>
                </div>
            </div>
            {% if next_schedule_info.note %}
            <div class="wrapper_teacher_memo_text obj_font_size_12_weight_normal"><span>"{{ next_schedule_info.note }}"</span></div>
            {% endif %}
            <div class="obj_table_raw wrapper_cancel_notice">
                <div class="obj_table_cell_x2 obj_font_size_11_weight_normal obj_font_color_dark_grey">취소 가능 시간까지 <span class="obj_font_color_pters_red">3시간 26분</span> 남았습니다.</div>
                <div class="obj_table_cell_x2 obj_button_gen obj_font_bg_white_grey">취소하기</div>
            </div>
        {% else %}
            <div class="wrapper_tag">
                <div class="obj_tag obj_font_bg_white_pink">예약없음</div>
            </div>
            <div class="wrapper_lecture_title obj_font_size_16_weight_bold">(없음) 수업명 없음</div>
            <div class="wrapper_plan_info">
                <div class="obj_table_raw obj_font_size_11_weight_normal obj_font_color_light_grey">
                    <div class="obj_table_cell_x3">일자</div>
                    <div class="obj_table_cell_x3">요일</div>
                    <div class="obj_table_cell_x3">진행시간</div>
                </div>
                <div class="obj_table_raw obj_font_size_14_weight_500">
                    <div class="obj_table_cell_x3">없음</div>
                    <div class="obj_table_cell_x3">없음</div>
                    <div class="obj_table_cell_x3">없음</div>
                    </div>
                </div>
            </div>
            <div class="wrapper_teacher_memo_text obj_font_size_12_weight_normal"><span>"메모 없음"</span></div>
            <div class="obj_table_raw wrapper_cancel_notice">
                <div class="obj_table_cell_x2 obj_font_size_11_weight_normal obj_font_color_dark_grey">취소 가능 시간까지 <span class="obj_font_color_pters_red">3시간 26분</span> 남았습니다.</div>
                <div class="obj_table_cell_x2 obj_button_gen obj_font_bg_white_grey">취소하기</div>
            </div>
        {% endif %}

        </div>
        <div class="wrapper_sub_title obj_font_size_11_weight_bold obj_font_color_dark_grey">내 수강권</div>
        <div class="obj_box_card">
            <div class="obj_table_raw wrapper_my_ticket_type">
                <div class="obj_table_cell_x2 obj_font_size_12_weight_500 obj_font_color_pters_red">개인/그룹</div>
                <img id="id_ticket_detail_expand" class="obj_table_cell_x2 obj_icon_expand" src="/static/common/icon/expand_more_black.png" data-open>
            </div>
            <div class="wrapper_my_ticket_title obj_font_size_16_weight_bold">냉혈한 김선생의 다가오는 여름 준비</div>

            <div id="wrapper_my_ticket_detail_close">
                <div class="obj_font_size_14_weight_500">2019.01.01 (화) ~ 2019.02.01 (금)</div>
                <div class="obj_font_size_11_weight_normal obj_font_color_dark_grey">수업이 <span class="obj_font_color_pters_red">12번</span> 남았습니다.</div>
            </div>

            <div id="wrapper_my_ticket_detail_open" style="display:none;">
                <div class="wrapper_my_ticket_detail_date">
                    <div class="obj_table_raw obj_font_size_11_weight_normal obj_font_color_light_grey">
                        <div class="obj_table_cell_x2">시작일</div>
                        <div class="obj_table_cell_x2">종료일</div>
                    </div>
                    <div class="obj_table_raw obj_font_size_14_weight_500">
                        <div class="obj_table_cell_x2">2019.01.01(화)</div>
                        <div class="obj_table_cell_x2">2019.02.01(금)</div>
                    </div>
                </div>
                <div class="obj_table_raw wrapper_my_ticket_detail_count">
                    <div class="obj_table_cell_x2 obj_font_size_11_weight_normal obj_font_color_light_grey">
                        <div class="obj_table_raw">총 등록 횟수</div>
                        <div class="obj_table_raw">잔여 횟수</div>
                        <div class="obj_table_raw">결석 횟수</div>
                        <div class="obj_table_raw">예약 가능 횟수</div>
                    </div>
                    <div class="obj_table_cell_x2 obj_font_size_14_weight_500" style="text-align: right;">
                        <div class="obj_table_raw">30 회</div>
                        <div class="obj_table_raw">12 회</div>
                        <div class="obj_table_raw">3 회</div>
                        <div class="obj_table_raw">12 회</div>
                    </div>
                </div>
                <div class="obj_table_raw wrapper_my_ticket_detail_teacher">
                    <div class="obj_table_cell_x3 obj_box_photo"></div>
                    <div class="obj_table_cell_x3 wrapper_teacher_name">
                        <div class="obj_font_size_14_weight_500">홍길동</div>
                        <div class="obj_font_size_11_weight_normal obj_font_color_light_grey">강사</div>
                    </div>
                    <div class="obj_table_cell_x3 text_button_phone obj_font_size_13_weight_500 obj_font_color_pters_red">000-0000-8888</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript">
    	//Nav바에 현재 페이지에 밑줄 표기
    	$('#nav_btn_home').addClass("nav_selected");

    	/*수강권 정보 열고 닫기*/
        $('#id_ticket_detail_expand').attr("data-open", CLOSE);
        $(document).on("click", '#id_ticket_detail_expand', function(){
        	let $this = $(this);
        	let option = $this.attr("data-open");
            let wrapper_my_ticket_detail_close = $('#wrapper_my_ticket_detail_close');
            let wrapper_my_ticket_detail_open = $('#wrapper_my_ticket_detail_open');

        	switch(option){
        		case OPEN:
        			$this.attr({"data-open": CLOSE,
                                "src": "/static/common/icon/expand_more_black.png"});
                    wrapper_my_ticket_detail_close.show();
                    wrapper_my_ticket_detail_open.hide();
        		break;

        		case CLOSE:
        			$this.attr({"data-open": OPEN,
                                "src": "/static/common/icon/expand_less_black.png"});
                    wrapper_my_ticket_detail_close.hide();
                    wrapper_my_ticket_detail_open.show();
        		break;
        	}
        });
    </script>

{% endblock %}
