<form action="{% url 'trainer:alarm_delete' %}" name="alarm-delete-form" id="alarm-delete-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="log_id_size" id="log_id_size">
    <input type="hidden" name="next_page" value = '{% url 'trainer:alarm' %}'>
    {% include page_template %}
</form>
{% load static_url %}

{% block js %}
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static_url "common/js/el-pagination.js" %}"></script>
    <script>

        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 10
        });

    </script>
{% endblock %}
