{% extends "trainee_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/page/pters.trainee.page.program.css" %}>
{% endblock %}

{% block content %}
    <div id="trainee_program">
    {% for class_info in class_data %}
        <div class="obj_box_card" onclick="func_program_select({{ class_info.class_tb.class_id }});">
            <div class="wrapper_program_name obj_font_size_16_weight_bold">{{ class_info.class_type_name }}</div>

            <div class="wrapper_ticket_count_info obj_font_size_11_weight_normal obj_font_color_grey">
                수업이 <span class="obj_font_color_pters_red">{{ class_info.lecture_rem_count }}번</span> 남았습니다.
            </div>
            <div class="wrapper_teacher_info obj_table_raw">
                <div class="obj_box_photo obj_table_cell_x2"></div>
                <div class="wrapper_teacher_name obj_table_cell_x2 obj_font_size_12_weight_500">{{ class_info.class_tb.member.name }} 강사</div>
            </div>
        </div>
    {% endfor %}
    {% if not total_class_num|divisibleby:2 %}
        <div class="obj_box_card" style="height:137px;vertical-align:top;">
            <img src="/static/user/res/PTERS_logo_pure.png" style="width: 50%;">
        </div>
    {% endif %}
    </div>

    <form id="form_program_select" action="{% url 'trainee:program_select' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="class_id" id="form_program_select_class_id">
        <input type="hidden" name="lecture_connection_check" id="form_program_select_lecture_connection_check">
        <input type="hidden" name="next_page" value="{% url 'trainee:trainee_main' %}">
    </form>

{% endblock %}

{% block popup %}
{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript" src={% static_url "user/js/trainee/page/pters.trainee.page.program.js" %}></script>
    <script type="text/javascript">
        // Nav 바에 현재 페이지에 밑줄 표기
        $('#nav_btn_program_select').addClass("nav_selected");

        function func_program_select(class_id){
            $('#form_program_select_class_id').val(class_id);
            $('#form_program_select_lecture_connection_check').val(PROGRAM_SELECT);
            $('#form_program_select').submit();
        }

    </script>
{% endblock %}
