<!DOCTYPE html>
<html lang="ko">
    <head>
        {% load static_url %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WG2KK6D');</script>
        <!-- End Google Tag Manager -->
        <!--Google Adsense-->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4554121851965192",
            enable_page_level_ads: true
          });
        </script>
        <!--Google Adsense-->

        <title>
            {% block title %}
                PTERS
            {% endblock %}
        </title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
        <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
        <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
        <meta name="description" content="PTERS 피터스 레슨 회원과 일정 관리툴">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="author" content="">

        <link rel="icon" href="/static/common/favicon.ico">
        <link rel="apple-touch-icon" href="/static/common/favicon-48.png">
        <link rel="shortcut icon" href="/static/common/favicon-48.png">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href={% static_url "user/css/trainee/pters.trainee.fundamental.css"%}>
        <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.plan.css"%}>
        <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.base.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/trainee/pters.trainee.object.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.mobile_side_menu.css" %}>
        {% block local_css %}
        {% endblock %}
        <script type="text/javascript">

            {% load background_trainee_data %}
            {% autoescape off %}
{#            let get_setting = {% get_setting_info request %};#}
{#            let auth_type_cd = {% get_function_auth_type_cd request %};#}
            let auth_product_type_name = '{{ request.session.product_type_name }}';
            {% endautoescape %}

            let setting_info = {'class_hour':'{{request.session.class_hour}}',
                                'class_type_name':'{{ request.session.class_type_name }}',
                                'class_type_code':'{{ request.session.class_type_code}}',
                                'class_center_name':'{{ request.session.class_center_name }}',
                                'setting_member_reserve_time_available':'{{ request.session.setting_member_reserve_time_available }}',
                                'setting_member_reserve_prohibition':'{{ request.session.setting_member_reserve_prohibition }}',
                                'setting_trainer_work_time_available':['{{ request.session.setting_trainer_work_sun_time_avail }}',
                                                                       '{{ request.session.setting_trainer_work_mon_time_avail }}',
                                                                       '{{ request.session.setting_trainer_work_tue_time_avail }}',
                                                                       '{{ request.session.setting_trainer_work_wed_time_avail }}',
                                                                       '{{ request.session.setting_trainer_work_ths_time_avail }}',
                                                                       '{{ request.session.setting_trainer_work_fri_time_avail }}',
                                                                       '{{ request.session.setting_trainer_work_sat_time_avail }}'],
                                'setting_member_reserve_date_available':'{{ request.session.setting_member_reserve_date_available }}',
                                'setting_member_reserve_enable_time':'{{ request.session.setting_member_reserve_enable_time }}',
                                'setting_member_reserve_cancel_time':'{{ request.session.setting_member_reserve_cancel_time }}',
                                'setting_member_time_duration':'{{ request.session.setting_member_time_duration }}',
                                'setting_member_start_time':'{{ request.session.setting_member_start_time }}'};
            </script>
    </head>

    <body>
        <script src={% static_url "user/js/trainee/pters.trainee.const.js" %}></script>
        <script src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
        <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG2KK6D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% block navbar %}
            <!--회원 상단 [홈/일정/프로그램선택/알림/메뉴버튼] 영역  -->
            <nav>
                <div class="nav_trainee_menu_box_l">
                    <a href="{% url 'trainee:trainee_main' %}"><div id="nav_btn_home">홈</div></a>
                    <a href="{% url 'trainee:trainee_calendar' %}"><div id="nav_btn_plan">일정</div></a>
                    <a href="{% url 'trainee:trainee_alarm' %}"><div id="nav_btn_alarm">알림</div></a>
                    <!-- <a href="{% url 'trainee:trainee_program' %}"><div id="nav_btn_program_select">프로그램</div></a>
                    <a href="{% url 'trainee:trainee_design_template' %}"><div id="nav_btn_guide" >가이드</div></a>
                    <a href="{% url 'trainee:test_page' %}"><div id="nav_btn_test" >테스트</div></a> -->
                </div>
                <div class="nav_trainee_menu_box_r">

                    <a><div id="nav_btn_menu" onclick="layer_popup.open_layer_popup(POPUP_INNER_HTML, 'pters_mobile_side_menu', 70, POPUP_FROM_RIGHT)"><img src="/static/common/icon/member_icon_menu_white.png" class="obj_icon_basic"></div></a>
                </div>
            </nav>
            <!-- 회원 mobile side menu 팝업 include -->
            {% include 'popup/trainee_mobile_side_menu.html' %}
        {% endblock %}
        <img src="/static/user/res/ajax/loading.gif" alt="" class="ajax_load_image">
        <div id="shade_for_popup_basic" style="position:fixed;top:0;height:100%;width:100%;background-color:#282828;opacity:0.5; display: none;" onclick="layer_popup.all_close_layer_popup();"></div>
        <div class="content_page">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'popup/trainee_popup_basic.html' %}
        {% block popup %}
        {% endblock %}

        <div class="popup_mobile">
            <link rel="stylesheet" href={% static_url "user/css/trainer/popup/pters.trainer.popup.mypage_photo_update.css" %}>
            <div class="popup_mypage_photo_update">
            </div>
        </div>


        <form action="{% url "trainee:add_trainee_schedule" %}" id="form_plan_add" method="post">
            {% csrf_token %}
            <input type="hidden" name="class_id" id="form_content_class_id">
            <input type="hidden" name="member_ticket_id" id="form_content_member_ticket_id">
            <input type="hidden" name="lecture_schedule_id" id="form_content_lecture_schedule_id">
            <input type="hidden" name="time_duration" id="form_content_time_duration">
            <input type="hidden" name="training_date" id="form_content_training_date">
            <input type="hidden" name="training_time" id="form_content_training_time">
            <input type="hidden" name="training_end_date" id="form_content_training_end_date">
            <input type="hidden" name="training_end_time" id="form_content_training_end_time">
        </form>

        <form action="{% url "trainee:delete_trainee_schedule" %}" id="form_plan_delete" method="post">
            {% csrf_token %}
            <input type="hidden" name="schedule_id" value="{{ next_schedule_info.schedule_id }}">
            <input type="hidden" name="next_page" value="{% url 'trainee:trainee_main' %}">
        </form>

        {% block footer %}
        {% endblock %}

        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src={% static_url "user/js/trainee/func/pters.trainee.func.option.inspector.js" %}></script>
        <script type="text/javascript" src={% static_url "user/js/trainee/pters.trainee.fundamental.js" %}></script>
        <script type="text/javascript" src={% static_url "user/js/trainee/pters.trainee.popup.behavior.js" %}></script>
        <script type="text/javascript">

            $("nav > .nav_trainee_menu_box_l > a").click(function(){
                $('.nav_selected').removeClass('nav_selected');
                $(this).find('div').addClass('nav_selected');
            });


            //기기 사이즈, 창사이즈 계산
            const windowWidth = $(window).width();
            const windowHeight = $(window).height();
            const varUA = navigator.userAgent.toLowerCase();

            //기기종류 판단
            let device = PC;
            let os = IOS;
            let browser = CHROME;
            if (varUA.match(/android/) != null) {
                device = MOBILE;
                os = ANDROID;
            }else if (varUA.match(/iphone/) != null || varUA.match(/ipad/) != null || varUA.match(/ipod/) != null) {
                device = MOBILE;
                os = IOS;
            }else if (varUA.match(/macintosh/) != null){
                device = PC;
                os = IOS;
            }else{
                device = PC;
                os = WINDOW;
            }

            if (varUA.match(/firefox/) != null) {
                browser = FIREFOX;
            }else if (varUA.match(/chrome/) != null || varUA.match(/chromium/) != null) {
                browser = CHROME;
            }else if (varUA.match(/safari/) != null) {
                browser = SAFARI;
            }else if (varUA.match(/edge/) != null) {
                browser = EDGE;
            }

            //content 높이와 스크롤 셋팅
            let $content = $('.content_page');
            $content.css("height", windowHeight-parseInt($('body').css("padding-top"), 10));
            // $content.scrollTop(1);
            // $content.scroll(function(){
            //     const popupHeight = $content.height();
            //     const scrollHeight = $content.prop('scrollHeight');
            //     const scrollLocation = $content.scrollTop();
            //     if(popupHeight + scrollLocation == scrollHeight){
            //         $content.animate({scrollTop : scrollLocation-1}, 10);
            //     }else if(popupHeight + scrollLocation == popupHeight){
            //         $content.animate({scrollTop : scrollLocation+1}, 10);
            //     }
            // });

            func_set_webkit_overflow_scrolling('.content_page');

            //Nav 팝업 PC버전
            if(windowWidth > 800){
                $('#nav_btn_menu').attr('onclick', "layer_popup.open_layer_popup(POPUP_INNER_HTML, 'pters_mobile_side_menu', 70, POPUP_FROM_RIGHT)")
            }
            $(window).resize(function(){
                let windowWidth_now = $(window).width();
                if(windowWidth <= 800 && windowWidth_now > 800){
                    location.reload();
                }else if(windowWidth > 800 && windowWidth_now <=800){
                    location.reload();
                }
            });

        </script>
        {% block local_js_footer %}
        {% endblock %}

        {% block popup_js_footer %}
        {% endblock %}
    </body>
</html>
