{% load el_pagination_tags %}
{% paginate 20 log_data %}
{% for log_info in log_data %}

    {# your code to show the entry #}
    <div>
        {% if log_info.log_read == 0 %}
            [안읽음]
        {% else %}
            [읽음]
        {% endif %}
        {{ log_info.from_member_name }}님이 {% if log_info.to_member_name %}{{ log_info.to_member_name }}님의{% endif %}
        {{ log_info.log_info }}를 {{ log_info.log_how }} 했습니다. {% if log_info.log_detail %}{{ log_info.log_detail }} {% endif %} <br/> {{ log_info.reg_dt }}
        <br/>
    </div>
    <input type="hidden" name="log_id_array[]" class="log_id_array" value ="{{ log_info.log_id }}">
    <br/>
{% endfor %}
{% show_more "더보기" %}