{% extends "trainee_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "common/css/croppie.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.component.common.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainee/page/pters.trainee.page.setting.css" %}>
{% endblock %}

{% block content %}

    <div class="trainee_setting">

        <div class="wrapper_box_basic_info">
            <div class="obj_box_full">
                <div class="wrapper_sub_title obj_font_size_18_weight_900">
                    설정
                    <span class="obj_font_size_12_weight_500 obj_font_color_pters_red" style="float:right" onclick="func_send_trainee_setting();">
                        저장
                    </span>
                </div>
            </div>
        </div>

        <section id="section_setting_alarm_personal_content" class="popup_content">
        {% if setting_to_trainee_lesson_alarm == 1 %}
            <article class="obj_box_full" style="padding: 10px 10px;">
                <div style="display:table;width:100%;">
                    <div style="display:table-cell;width:auto;vertical-align:middle">
                        <span id="text_button_ntd" style="cursor:pointer;padding:3px 0;font-size:15px;font-weight:500;letter-spacing:-0.8px">현재 지점 PUSH 알림 <span style="font-size:12px;">(앱 이용시)</span></span>
                    </div>
                    <div class="cell_icon" style="float:right;">
                        <select class="push_enable_selector obj_font_size_14_weight_500 obj_font_color_light_grey"
                                title="push_enable_select">
                            <option value="0" {% if setting_push_from_trainer_lesson_alarm == 0 %}selected{% endif %}>끄기</option>
                            <option value="1" {% if setting_push_from_trainer_lesson_alarm == 1 %}selected{% endif %}>켜기</option>
                        </select>
                    </div>
                </div>
                <span style="font-size:12px;color:var(--font-main);letter-spacing:-0.6px;font-weight:normal">
                    일정 변경 사항을 PUSH로 알려줍니다.
                </span>
            </article>
        {% endif %}
            <article class="obj_box_full" style="padding: 5px 10px;">
                <li class="create_row" id="c_r_setting_schedule_alarm_minute" style="">
                    <div style="display:flex;">
                        <div class="cell_title" style="display:none">
                        </div>
                        <div class="cell_content" style="flex:none;">
                            <div class="cell_text" style="text-overflow:unset;">일정 시작전 PUSH 알림 <span style="font-size:12px;">(앱 이용시)</span></div>
                        </div>
                        <div class="cell_icon">
                            <select class="schedule_push_selector obj_font_size_14_weight_500 obj_font_color_light_grey"
                                    title="schedule_push_select">
                                <option value="-1" {% if setting_schedule_alarm_minute == '-1' %}selected{% endif %}>설정 안함</option>
                                <option value="0" {% if setting_schedule_alarm_minute == '0' %}selected{% endif %}>시작</option>
                                <option value="5" {% if setting_schedule_alarm_minute == '5' %}selected{% endif %}>5분전</option>
                                <option value="10" {% if setting_schedule_alarm_minute == '10' %}selected{% endif %}>10분전</option>
                                <option value="15" {% if setting_schedule_alarm_minute == '15' %}selected{% endif %}>15분전</option>
                                <option value="30" {% if setting_schedule_alarm_minute == '30' %}selected{% endif %}>30분전</option>
                                <option value="60" {% if setting_schedule_alarm_minute == '60' %}selected{% endif %}>1시간 전</option>
                                <option value="120" {% if setting_schedule_alarm_minute == '120' %}selected{% endif %}>2시간 전</option>
                            </select>
                        </div>
                    </div>
                </li>
            </article>
        </section>
    </div>
    <form id="form_trainee_setting"  action="{% url 'trainee:update_trainee_setting_push' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="setting_push_from_trainer_lesson_alarm" id="id_setting_push_from_trainer_lesson_alarm" value="{{ setting_push_from_trainer_lesson_alarm }}">
        <input type="hidden" name="setting_schedule_alarm_minute" id="id_setting_schedule_alarm_minute" value="{{ setting_schedule_alarm_minute }}">
    </form>
{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript" src={% static_url "user/js/trainer/pters.trainer.component.common.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/trainer/popup/pters.trainer.popup.base.js" %}></script>
    <script type="text/javascript">
    	//Nav바에 현재 페이지에 밑줄 표기

        window.addEventListener('load', function () {
        {% for message in messages %}
            {% if message.tags == "error" %}
                alert('{{ message }}');
            {% endif %}
        {% endfor %}
        });

        $('.push_enable_selector').change(function(){
            $('#id_setting_push_from_trainer_lesson_alarm').val($(this).val());
        });
        $('.schedule_push_selector').change(function(){
            $('#id_setting_schedule_alarm_minute').val($(this).val());
        });

        function func_send_trainee_setting(){
            $.ajax({
                url : "/trainee/update_trainee_setting_push/",
                type:'POST',
                data: $('#form_trainee_setting').serialize(),
                dataType : 'json',

                beforeSend:function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },

                //보내기후 팝업창 닫기
                complete:function(){

                },

                //통신성공시 처리
                success:function(data){
                    if(data.messageArray != undefined){
                        if(data.messageArray.length > 0){
                            show_error_message({title:data.messageArray[0]});
                            return false;
                        }
                    }
                    // alert('문의 발송 완료');
                    show_error_message({title:"설정 완료"});
                },

                //통신 실패시 처리
                error:function(){
                    show_error_message({title:'통신 오류 발생', comment:'잠시후 다시 시도해주세요.'});
                    // location.reload();
                }
            });
        }

    </script>

{% endblock %}
