    {
      "regCountArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.lecture_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "countArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.lecture_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "startArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.start_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "endArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.end_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "trainerNameArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.trainer_info.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "availCountArray":
      [{% for lecture_info in lecture_data %}"{{ lecture_info.lecture_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
