<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static_url %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>PTERS</title>
        <link rel="stylesheet" href={% static_url "user/css/trainee/pters.trainee.fundamental.css" %}>
        <link rel="stylesheet" href={% static_url "user/css/trainee/pters.trainee.object.css" %}>
        <style type="text/css">
            /*폰트 임포트*/
                @import url(/static/common/fonts/notosanskr.css);

            /*기본 html, body스타일*/
                html{
                    font-family: 'Noto Sans KR', sans-serif !important;
                    background-color: #f7f5f6;
                }
                body{
                    padding-top: 50px;
                    margin: 0;
                }

            /* object 구분자 */
                .object_type_name{
                  margin-top: 40px;
                  margin-bottom: 10px;
                  font-size: 20px;
                  font-weight: 800;
                  border-top : 2px solid #e6e6e6;
                }
                .object_name {
                  margin-top: 30px;
                  font-size: 12px;
                  font-weight: 800;
                }
        </style>
    </head>

    <body>
        <a href="{% url 'trainee:trainee_main' %}"><div class="obj_button_gen obj_font_bg_white_grey" style="float:right;">돌아가기</div></a>


        <div class="object_type_name">box</div>

        <div class="object_name">1) obj_box_nav_bar</div>
        <div class="obj_box_nav_bar obj_font_bg_white_black"></div>
        <!--<div class="obj_box_nav_bar obj_font_bg_white_dark_grey"></div>-->

        <div class="object_name">2) obj_box_full</div>
        <div class="obj_box_full"></div>
        <!--<div class="obj_box_full obj_font_bg_white_dark_grey"></div>-->

        <div class="object_name">3) obj_box_full_grey</div>
        <div class="obj_box_full_grey"></div>
        <!--<div class="obj_box_full obj_font_bg_white_dark_grey"></div>-->

        <div class="object_name">4) obj_box_card</div>
        <div class="obj_box_card obj_font_bg_white_black"></div> <br/>
        <!--<div class="obj_box_card obj_font_bg_white_dark_grey"></div>-->

        <div class="object_name">5) obj_box_photo</div>
        <div class="obj_box_photo">basic</div>
        <!--<div class="obj_box_photo obj_font_bg_black_white">b/w</div>-->

        <div class="object_type_name">text</div>

        <div class="object_name">1) obj_font_size_20_weight_bold</div>
        <div class="obj_font_size_20_weight_bold">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">2) obj_font_size_18_weight_bold</div>
        <div class="obj_font_size_18_weight_bold">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">3) obj_font_size_16_weight_bold</div>
        <div class="obj_font_size_16_weight_bold">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">4) obj_font_size_16_weight_500</div>
        <div class="obj_font_size_16_weight_500">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">5) obj_font_size_15_weight_900</div>
        <div class="obj_font_size_15_weight_900">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">6) obj_font_size_15_weight_bold</div>
        <div class="obj_font_size_15_weight_bold">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">7) obj_font_size_15_weight_500</div>
        <div class="obj_font_size_15_weight_bold">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">8) obj_font_size_14_weight_500</div>
        <div class="obj_font_size_14_weight_500 ">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">9) obj_font_size_14_weight_normal</div>
        <div class="obj_font_size_14_weight_normal">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">10) obj_font_size_13_weight_bold</div>
        <div class="obj_font_size_13_weight_bold">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">11) obj_font_size_13_weight_500</div>
        <div class="obj_font_size_13_weight_500">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">12) obj_font_size_12_weight_500</div>
        <div class="obj_font_size_12_weight_500">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">13) obj_font_size_12_weight_normal</div>
        <div class="obj_font_size_12_weight_normal">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">14) obj_font_size_11_weight_bold</div>
        <div class="obj_font_size_11_weight_bold">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">15) obj_font_size_11_weight_500</div>
        <div class="obj_font_size_11_weight_500">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">16) obj_font_size_11_weight_normal</div>
        <div class="obj_font_size_11_weight_normal">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">17) obj_font_size_10_weight_900</div>
        <div class="obj_font_size_10_weight_900">가나다라마바사아자차카타파하0123456789</div>

        <div class="object_name">18) obj_font_size_10_weight_500</div>
        <div class="obj_font_size_10_weight_500">가나다라마바사아자차카타파하0123456789</div>


        <div class="object_type_name">text color</div>

        <div class="object_name">1) obj_font_color_black</div>
        <div class="obj_font_color_black">#000000</div>

        <div class="object_name">2) obj_font_color_light_black</div>
        <div class="obj_font_color_light_black">#333333</div>

        <div class="object_name">3) obj_font_color_dark_grey</div>
        <div class="obj_font_color_dark_grey">#737373</div>

        <div class="object_name">4) obj_font_color_grey</div>
        <div class="obj_font_color_grey">#999999</div>

        <div class="object_name">5) obj_font_color_light_grey</div>
        <div class="obj_font_color_light_grey">#b3b3b3</div>

        <div class="object_name">6) obj_font_color_white</div>
        <div class="obj_font_color_white">#ffffff</div>

        <div class="object_name">7) obj_font_color_pters_red</div>
        <div class="obj_font_color_pters_red">#fe4e65</div>

        <div class="object_name">8) obj_font_color_light_blue</div>
        <div class="obj_font_color_light_blue">#509cf2</div>

        <div class="object_name">9) obj_font_color_pters_dark_red</div>
        <div class="obj_font_color_pters_dark_red">#f25050</div>


        <div class="object_type_name">button</div>

        <div class="object_name">1) icon button</div>
        <img src="/static/common/icon/expand_more_black.png" class="obj_icon_basic">
        <img src="/static/common/icon/expand_less_black.png" class="obj_icon_basic">
        <img src="/static/common/icon/navigate_before_black.png" class="obj_icon_basic">
        <img src="/static/common/icon/navigate_next_black.png" class="obj_icon_basic">
        <img src="/static/common/icon/close_black.png" class="obj_icon_x">

        <div class="object_name">2) box button</div>
        <div class="obj_button_gen">obj_button_gen</div>
        <div class="obj_button_gen obj_font_bg_white_black">w/b</div><br/>
        <div class="obj_button_gen obj_font_bg_white_pink">w/p</div><br/>
        <div class="obj_button_gen obj_font_bg_pink_white">p/w</div><br/>
        <div class="obj_button_gen obj_font_bg_black_white">b/w</div><br/>
        <div class="obj_button_gen obj_font_bg_white_grey">w/g</div><br/>
        <div class="obj_button_big">obj_button_big</div><br/>
        <div class="obj_button_big obj_font_bg_white_black">w/b</div><br/>
        <div class="obj_button_big obj_font_bg_white_pink">w/p</div><br/>
        <div class="obj_button_big obj_font_bg_pink_white">p/w</div><br/>
        <div class="obj_button_big obj_font_bg_black_white">b/w</div><br/>
        <div class="obj_button_big obj_font_bg_white_grey">w/g</div><br/>

        <div class="object_name">2) round button</div>
        <div class="obj_tag">obj_tag</div><br/>
        <div class="obj_tag obj_font_bg_white_black">w/b</div><br/>
        <div class="obj_tag obj_font_bg_white_pink">w/p</div><br/>
        <div class="obj_tag obj_font_bg_trans_pink">t/p</div><br/>
        <div class="obj_tag obj_font_bg_pink_white">p/w</div><br/>
        <div class="obj_tag obj_font_bg_black_white">b/w</div><br/>
        <div class="obj_tag obj_font_bg_white_grey">w/g</div><br/>

        <br/>
        <br/>
    </body>
</html>
