{% extends "trainee_base_add_pt.html" %}
{% load static %}

{% block local_css %}
        <link rel="stylesheet" href={% static "user/css/pters.trainee.pt.add.weekly.css" %}>
{% endblock %}

{% block content %}

    <form action="{% url 'trainee:pt_add_array_logic' %}" id="pt-add-form" method="post">
        <input type="hidden" name="next_page" value="{% url 'trainee:cal_month'%}">
        <input type="hidden" name="add_pt_size" id="add-pt-count" value="0">
    </form>


  <!--팝업메뉴-->
    <div id="cal_popup">
      <div id="popup_img"><img src="/static/user/res/ptadd/icon-cal.png" id="img_cal"><img src="/static/user/res/ptadd/btn-x.png" id="btn_close"></div><div id="popup_info"></div>
      <div id="popup_text1" class="popup_inner popup_inner_change"  onclick="location.href='{% url 'trainee:add_pt' %}'"><span>일정 변경</span></div>
      <div id="popup_text2" class="popup_inner popup_inner_delete"><span>일정 삭제</span></div>
    </div>
    <!--현재 클릭한 일정의 요소 보기: pters.day.cal.js 19행 console.log 주석 참고-->
  <!--팝업메뉴-->
    


    <div id="ymdText" class="wrap">
      <div class='arrowButton'>
        <a href="" ><img src={% static "user/res/daycal_arrow.png" %} alt="" style="width: 7px;"></a>
        <a href="" style="right: 0%"><img src={% static "user/res/daycal_arrow.png" %} alt="" style="-webkit-transform:rotate(180deg);width: 7px;"></a>
      </div>
      <img src={% static "user/res/bg.png" %} alt="bg-image" style="width: 100%;height:100%;position: relative;z-index: -1;">
      <div id="yearText">
      </div>
      <div id="countRemain" style="position: absolute;top: 2px;right: 2px;color: #ffffff;font-size: 13.5px;font-weight: 300;">예약가능횟수: <span id="countRemainData"> {{lecture_reg_count}}회</span></div>
      <div id="monthText">
      </div>
    </div>
    
    <div id="week" class="time-style wrap">
      <table class="calendar-style">
        <tbody>
          <tr id="weekText">
            <td class="hour" style="background: #ffffff;"><img src="/static/user/res/PTERS_logo.jpg" alt=""></td>
            <td id="weekNum_1"><span class="weekDay-style _day1date"></span><span class="weekDate-style _day1"></span></td>
            <td id="weekNum_2"><span class="weekDay-style _day2date"></span><span class="weekDate-style _day2"></span></td>
            <td id="weekNum_3"><span class="weekDay-style _day3date"></span><span class="weekDate-style _day3"></span></td>
            <td id="weekNum_4"><span class="weekDay-style _day4date"></span><span class="weekDate-style _day4"></span></td>
            <td id="weekNum_5"><span class="weekDay-style _day5date"></span><span class="weekDate-style _day5"></span></td>
          </tr>
        </tbody>
      </table>
    </div>


    <div id="calendar" class="wrap" > <!-- Calendar container-->
          <div class="swiper-container">
            <div class="swiper-wrapper"> 
              <div class="swiper-slide" id="slide1"></div> <!--Index1 2주전-->
              <div class="swiper-slide" id="slide2"></div> <!--Index2 1주전-->
              <div class="swiper-slide" id="slide3"></div> <!--Index3 이번주-->
              </div> <!--마지막 페이지 안내-->
            </div>  <!--Swiper-wrapper-->
    </div> <!--Swiper-container-->
  
<!--Swiper-->    
          <!-- <div class="swiper-pagination"></div> -->
          <div id="cal_box" class="cal_box"></div>    

{% endblock %}

{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script>
          //front-end에서 다뤄야하는 데이터
          

          var classTimeArray_start_date = [{% for daily_data_start_date in daily_lecture_data_start_date %}'{{ daily_data_start_date }}',{% endfor %}];
          var classTimeArray_end_date = [{% for daily_data_end_date in daily_lecture_data_end_date %}'{{ daily_data_end_date }}',{% endfor %}];
          var classTimeArray_member_name = [{% for member_name in daily_lecture_data_member %}'{{ member_name }}',{% endfor %}];
          var offTimeArray_start_date = [{% for daily_off_start_date in daily_off_data_start_date %}'{{ daily_off_start_date }}',{% endfor %}];
          var offTimeArray_end_date = [{% for daily_off_end_date in daily_off_data_end_date %}'{{ daily_off_end_date }}',{% endfor %}];
          var classTimeArray = [];
          var offTimeArray = [];
        
        </script>
        <script type="text/javascript" src={% static "user/js/pters.trainee.pt.add.weekly.js" %}></script>
        <script>
            var myswiper = new Swiper('.swiper-container',{
                initialSlide : 0,
                speed : 300,
                preventClicks : true,
                keyboardControl : true,
                pagination : '.swiper-pagination'
            });
        </script>
{% endblock %}