{% extends "trainee_base.html" %}
{% load static_url %}

{% block local_css %}
    <!-- <link rel="stylesheet" href={% static_url "user/css/trainee/page/pters.trainee.page.inquiry.css" %}> -->
    <style type="text/css">
        .trainee_inquiry{
            background-color: #f2f2f2;
        }
        .wrapper_inquiry_title_box{
            padding: 15px 20px 20px 20px;
            background-image: linear-gradient(4deg, #fb767d, #ff3b44);
            border: 1px solid #e6e6e6;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        .wrapper_inquiry_select_box{
            padding: 15px 20px 20px 20px;
            background-color: #ffffff;
            border: 1px solid #e6e6e6;
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;
        }
        textarea{
            font-family: 'Noto Sans KR', sans-serif !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="trainee_inquiry">
        <div class="wrapper_inquiry_title_box">
            <div class="obj_font_size_15_weight_900 obj_font_color_white">시스템 문의하기</div>
        </div>
        <div class="wrapper_inquiry_select_box">
            <div class="obj_font_size_13_weight_500 obj_font_color_black"
                 onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_inquiry_history', 90, POPUP_FROM_BOTTOM, {});">
                내 문의 내역
            </div>
        </div>
        <div class="wrapper_inquiry_select_box">
            <div class="obj_font_size_13_weight_500 obj_font_color_black"
                 onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_inquiry', 90, POPUP_FROM_BOTTOM, {});">
                문의 하기
            </div>
        </div>
    </div>



{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript">
    	//Nav바에 현재 페이지에 밑줄 표기
        let device_height = $(window).height();
        let select_box_height = 115;
        let button_height = 55;
        let margins = 15;
        let nav_bar_height = parseInt($('body').css('padding-top'));
        let iphone_scroll_vibe_margin = 2;


        window.addEventListener('load', function () {
            {% for message in messages %}
                {% if message.tags == "error" %}
                    alert('{{ message }}');
                {% endif %}
            {% endfor %}

            $('.wrapper_trainee_iquiry_textarea').css('height', device_height-nav_bar_height-select_box_height-button_height-margins-iphone_scroll_vibe_margin);

            func_set_webkit_overflow_scrolling('.wrapper_trainee_iquiry_textarea');
        });

    </script>

{% endblock %}
