{% extends "trainee_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/pters.trainee.object.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/trainee/page/pters.trainee.page.program.css" %}>
{% endblock %}

{% block content %}
    <div id="trainee_program">
        <div class="obj_box_card">
            <div class="wrapper_program_name obj_font_size_16_weight_bold">웨이트 트레이닝</div>
            <div class="wrapper_ticket_count_info obj_font_size_11_weight_normal obj_font_color_grey">
                수업이 <span class="obj_font_color_pters_red">12번</span> 남았습니다.
            </div>
            <div class="wrapper_teacher_info obj_table_raw">
                <div class="obj_box_photo obj_table_cell_x2"></div>
                <div class="wrapper_teacher_name obj_table_cell_x2 obj_font_size_12_weight_500">김현기 강사</div>
            </div>
        </div>
        <div class="obj_box_card">
            <div class="wrapper_program_name obj_font_size_16_weight_bold">필라테스</div>
            <div class="wrapper_ticket_count_info obj_font_size_11_weight_normal obj_font_color_grey">
                수업이 <span class="obj_font_color_pters_red">999번</span> 남았습니다.
            </div>
            <div class="wrapper_teacher_info obj_table_raw">
                <div class="obj_box_photo obj_table_cell_x2"></div>
                <div class="wrapper_teacher_name obj_table_cell_x2 obj_font_size_12_weight_500">김현기 강사</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block popup %}
{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript">
        // Nav 바에 현재 페이지에 밑줄 표기
        $('#nav_btn_program_select').addClass("nav_selected");
    </script>
{% endblock %}
