    {
      "classTimeArray_start_date" :
      [{% for pt_schedule_start_datetime_info in pt_schedule_start_datetime %}"{{ pt_schedule_start_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_end_date" : 
      [{% for pt_schedule_end_datetime_info in pt_schedule_end_datetime %}"{{ pt_schedule_end_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleIdArray" :
      [{% for pt_schedule_id_info in pt_schedule_id %}"{{ pt_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleFinishArray":
      [{% for pt_schedule_finish_check_info in pt_schedule_finish_check %}"{{ pt_schedule_finish_check_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_member_name" :
      [{% for pt_schedule_member_name_info in pt_schedule_member_name %}"{{ pt_schedule_member_name_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "scheduleNoteArray":
      [{% for pt_schedule_note_info in pt_schedule_note %}"{{ pt_schedule_note_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleIdxArray":
      [{% for pt_schedule_idx_info in pt_schedule_idx %}"{{ pt_schedule_idx_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "offTimeArray_start_date" :
      [{% for off_schedule_start_datetime_info in off_schedule_start_datetime %}"{{ off_schedule_start_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "offTimeArray_end_date" :
      [{% for off_schedule_end_datetime_info in off_schedule_end_datetime %}"{{ off_schedule_end_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "group_schedule_id":
      [{% for group_schedule_id_info in group_schedule_id %}"{{ group_schedule_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_group_id":
      [{% for group_schedule_group_id_info in group_schedule_group_id %}"{{ group_schedule_group_id_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_group_name":
      [{% for group_schedule_name_info in group_schedule_name %}"{{ group_schedule_name_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_max_member_num":
      [{% for group_schedule_max_member_num_info in group_schedule_max_member_num %}"{{ group_schedule_max_member_num_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_current_member_num":
      [{% for group_schedule_current_member_num_info in group_schedule_current_member_num %}"{{ group_schedule_current_member_num_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_start_datetime":
      [{% for group_schedule_start_datetime_info in group_schedule_start_datetime %}"{{ group_schedule_start_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_end_datetime":
      [{% for group_schedule_end_datetime_info in group_schedule_end_datetime %}"{{ group_schedule_end_datetime_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_finish_check":
      [{% for group_schedule_finish_check_info in group_schedule_finish_check %}"{{ group_schedule_finish_check_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_note":
      [{% for group_schedule_note_info in group_schedule_note %}"{{ group_schedule_note_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "lecture_avail_count" :
      [{{ lecture_avail_count }}],
      "lecture_reg_count" :
      [{{ lecture_reg_count }}],
      "lecture_finish_count" :
      [{{ lecture_finish_count }}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
