html{
	height: 100%;
	background-repeat: no-repeat;
	background-position-x:center;
	background-size:100%;
	background-size: cover;
}

body{
	padding-top: 0px;
	overflow-y: hidden;
	background-color: transparent;
	
	/*background-repeat: no-repeat;
	background-position-x:center;
	background-size:100%;
	background-size: cover;*/
}

.bg_weight{
	background-image: url("/static/user/res/main/bg-image-weight-mobile.jpg")
}

.bg_ballet{
	background-image: url("/static/user/res/main/bg-image-ballet-mobile.jpg")
}
.bg_yoga{
	background-image: url("/static/user/res/main/bg-image-yoga-mobile.jpg")
}
.bg_pilates{
	background-image: url("/static/user/res/main/bg-image-pilates-mobile.jpg")
}
.bg_billiard{
	background-image: url("/static/user/res/main/bg-image-billiards-mobile.jpg")
}
.bg_golf{
	background-image: url("/static/user/res/main/bg-image-golf-mobile.jpg")
}
.bg_brick{
	background-image: url("/static/user/res/main/bg-image-brick-mobile.jpg")
}
.bg_basic{
	background-image: url("/static/user/res/main/bg-image-basic-mobile.jpg")
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
}

#main_content{
	padding: 0px;
}

#main_content img{
	position: fixed;
	left: 0;
}

.center_box{
	width: 66.67%;
	height: 48.39%;
	background-color: rgba(254, 78, 101, 0.72);
	position: absolute;
	top: 15.8%;
	left: 16.67%;
	right: 16.67%;
	text-align: center;
	max-width: 600px !important;
}

.lower_box{
	width: 66.67%;
	height: 11.3%;
	position: absolute;
	top: 71.04%;
	left:0;
	max-width: 800px !important;

	display: table;
}

.lower_box_child{
	position: relative;
	display: table-cell;
	width: 30%;
	height: 100%;
	background-color: #ffffff;
	opacity: 0.8;
	text-align: center;
	color: black;
	font-size: 14px;
	cursor: pointer;
}

.lower_box_child_inner{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.lower_box_child_inner div{
	top: 18%;
}

.lower_box_child div div{
	margin-bottom: 6%;
}


.lower_box_num{
	font-size: 18.2px;
	color: #fe4e65;
	font-weight: 600;
}
.lower_box_num:hover{
	color: #fe4e65;
}
.lower_box_num:focus{
	color: #fe4e65;
}

.center_box_text{
	width: 91.67%;
	height: 50%;
	margin: auto;
	position: relative;
}

.center_box_text_up{
	border-bottom: 0.5px solid #ffffff;
}

.center_box_day{
	position: relative;
	top: 38%;
	font-size: 24.8px;
	color: #ffffff;
	letter-spacing: 3px;
}

.center_box_day p{
	cursor: pointer;
}

.center_box_monthyear{
	position: relative;
	top: 33.33%;
	font-size: 14.5px;
	color: #ffffff;
}

.center_box_monthyear{
	cursor: pointer;
}

.center_box_plan{
	position: absolute;
	top: 20%;
	width: 100%;
	font-size: 14px;
	color: #ffffff;
}

.center_box_plan{
	cursor: pointer;
}

.center_box_num{
	width: 100%;
	font-size: 50px;
	color: #ffffff;
	font-weight: 600;
}

.center_box_num{
	cursor: pointer;
}

.center_box_gun{
	position: absolute;
	bottom: 19%;
	width: 100%;
	font-size: 14px;
	color: #ffffff;
}

.center_box_gun{
	cursor: pointer;
}

.fixfooter{
	display: block;
	position: fixed;
	width: 100%;
	/*height: 150px;*/
	padding-bottom: 15px;
	background: #ffffff;
	z-index: 1;
	background: rgba(40, 40, 40, 0.50);
	bottom: 0;

	border-top: 0 !important;
    border-bottom: 0 !important;
}

.bottomfooter1{
	color:#ffffff;
}

.bottomfooter2{
	color: #ffffff;
	font-size: 10px;
}

.bottomfooter2 a{
	color: #ffffff;
}
.bottomfooter3 {
	display: none;
}
.bottomfooter3 p{
	color: #cccccc;
}

._company, ._businessfooter, ._manualfooter{
	display: none !important;
}

/*
@media(min-height: 800px) and (max-width: 380px){
	body{
		background-position-y:50px;
	}
}
*/
@media(max-height:630px) and (min-width:600px){
	/*html,body{
		height: auto;
	}*/
}

@media(max-width:600px){
	.bottomfooter2{
		display:block;
	}
	.bottomfooter3{
		display:none;
	}
}

@media(min-width: 600px){
	body{
		/*background-image: url("/static/user/res/main/bg-image-pc.jpg");*/
		background-size: auto;
		background-size: cover;
	}

	.bg_weight{
		background-image: url("/static/user/res/main/bg-image-weight-pc.jpg")
	}

	.bg_ballet{
		background-image: url("/static/user/res/main/bg-image-ballet-pc.jpg")
	}
	.bg_yoga{
		background-image: url("/static/user/res/main/bg-image-yoga-pc.jpg")
	}
	.bg_pilates{
		background-image: url("/static/user/res/main/bg-image-pilates-pc.jpg")
	}
	.bg_billiard{
		background-image: url("/static/user/res/main/bg-image-billiards-pc.jpg")
	}
	.bg_golf{
		background-image: url("/static/user/res/main/bg-image-golf-pc.jpg")
	}
	.bg_brick{
		background-image: url("/static/user/res/main/bg-image-brick-pc.jpg")
	}
	.bg_basic{
		background-image: url("/static/user/res/main/bg-image-basic-pc.png")
	}

	#main_content{
		height: 100%;
	}


	#main_content img{
		position: relative;
	}

	.center_box{
		position: relative;
		width: 35%;
		height: 350px;
		max-width: 460px !important;
		min-width: 350px;
		/*max-height: 350px;
		min-height: 300px;*/
		margin-top: 7%;
	}

	.lower_box{
		position: relative;
		width: 35%;
		max-width: 460px !important;
		min-width: 350px;
		height: 105px;
		margin-top: 22px;

		display: table;
	}

	body{
		overflow-y: auto;
	}

	.center_box_day{
		top: 30%;
		font-size: 40px
	}

	.center_box_monthyear{
		font-size: 22px;
	}

	.center_box_plan{
		font-size: 30px;
	}

	.center_box_gun{
		font-size: 25px;
	}

	.lower_box_child{
		font-size: 18px;
	}

	.lower_box_num{
		font-size: 27px;
	}

	#pcver{
		background:transparent;
	}

	.centermenu_text{
		color:#ffffff;
		font-weight: 500;
		font-size: 13.5px;
	}

	.pcwhere,.pcwho{
		color:#ffffff;
	}

	._company, ._businessfooter, ._manualfooter{
		display: inline-block !important;
	}

}

@media(max-height:750px) and (min-width: 600px){
	html{
		height: auto;
	}
	.lower_box{
		margin-bottom: 100px;
	}
	.fixfooter{
		position: relative;
	}
}





