
#calendar{
	overflow-y: hidden;
}
	#calendar > .box_full{
		padding: 0;
	}
#pters_month_cal_upper_tool_box{
	height: 70px;
	padding-top: 35px;
}
	#pters_month_cal_tool_year_text{
		line-height: 20px;
		height: 20px;
		width: 80px;
	}
	#pters_month_cal_tool_month_text{
		line-height: 30px;
		height: 30px;
		width: 80px;
	}
	#go_prev_month, #go_next_month{
		display:inline-block;
		vertical-align:middle;
		padding: 13px 20px 13px 20px;

	}
		#go_prev_month > img{
			transform: rotate(180deg);
			height: 12px;

		}
		#go_next_month > img{
			height: 12px;

		}

#pters_month_cal_content_wrapper{
	top: 155px;
	width: 100%;
	padding-top: 0;

	overflow-y: auto;
	-webkit-overflow-scrolling:auto;
}
::-webkit-scrollbar{
	width: 0;
}
	#pters_month_cal_day_name_box{
		height: 40px;
		line-height: 40px;
		background-color: #ffffff;
		border-bottom: 1px solid #f5f5f5;
	}
	#pters_month_cal_content_box{
		height: auto;
	}

.week_row{
	/*height: 90px;*/
	display:table;
	width:100%;
	background-color:#ffffff;
	border-bottom: 1px solid #f5f5f5;
}