#calendar{
	overflow-y: hidden;
}

	#calendar .obj_font_size_12_weight_500{
		line-height: 20px;
		height: 20px;
	}
	#calendar > .obj_box_full{
		padding: 0;
	}
	#calendar .obj_table_cell_x7{
		text-align: center;
		vertical-align: top;
		border-bottom: 1px solid #f5f5f5;
	}

#pters_month_cal_day_name_box{
	height: 40px;
	line-height: 40px;
}

#pters_month_cal_upper_tool_box{
	height: 70px;
	padding-top: 35px;
	width: 100%;
	text-align: center;
}
	#pters_month_cal_tool_year_text{
		width: 80px;
	}
	#pters_month_cal_tool_month_text{
		line-height: 30px;
		height: 30px;
		width: 80px;
	}
	#go_prev_month, #go_next_month{
		display:inline-block;
		vertical-align:middle;
		padding: 13px 20px 13px 20px;

	}
		#go_prev_month > img{
			transform: rotate(180deg);
			height: 12px;

		}
		#go_next_month > img{
			height: 12px;

		}

#pters_month_cal_content_wrapper{
	top: 155px;
	/*width: 100%;*/
	/*padding-top: 0;*/
	overflow-y: auto;
	/*-webkit-overflow-scrolling: touch;*/
	/*-webkit-overflow-scrolling:auto;*/
}

	#pters_month_cal_content_box{
		top: 155px;
		height: auto;
		overflow-y: auto;
        /*-webkit-overflow-scrolling: touch;*/
		/*-webkit-overflow-scrolling:auto;*/
	}

	#pters_month_cal_content_wrapper .obj_table_raw{
		height: 90px;
		text-align: center;
		vertical-align: top;
	}

::-webkit-scrollbar{
	width: 0;
}