#program_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.program_upper_box{
		position: relative;
		height: 50px;
		line-height: 50px;
		background-color: #ffffff;
		/* border-bottom: 1px solid #cccccc; */
		padding: 0 16px;
		box-sizing: border-box;
	}
	.program_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}
	.program_tools_wrap > .search_program{
		display: table-cell;
		height: 100%;
		/* background-image: url("/static/common/icon/icon_search.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px; */
	}
	.program_tools_wrap > .add_program{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_add.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}



.program_wrapper{
	width: 100%;
	padding: 10px 20px;
	margin: 0px auto;
	box-sizing: border-box;
}
.program_data_u{
	display: table;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	font-weight: 500;
	margin-bottom: 8px;
	font-size: 16px;
}
	.program_data_u > div{
		display: table-cell;
		vertical-align: middle;
	}
	.program_data_u > div:first-child{
		font-weight: bold;
		width: auto;
	}
	.program_data_u > div:last-child{
		font-weight: 500;
		width: 80px;
		text-align: right
	}

.program_data_b{
	display: block;
	width: 100%;
	color: #858282;
	font-size: 13px;
	font-weight: 500;
}
