#alarm_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.alarm_upper_box{
		position: relative;
		height: 68px;
		line-height: 28px;
		background-color: #ffffff;
		/* border-bottom: 1px solid #cccccc; */
		padding: 20px 16px;
		box-sizing: border-box;
	}
	.alarm_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}



.alarm_wrapper{
	width: 100%;
	padding: 15px 20px;
	margin: 0px auto;
	font-size: 14px;
	box-sizing: border-box;
}
.alarm_data_u{
	display: table;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	font-weight: 500;
	margin-bottom: 8px;
}
.alarm_data_u > div{
	display: table-cell;
	vertical-align: middle;
}
.alarm_data_u > div:first-child{
	width: 35px;
}
	.alarm_data_u > div:first-child > img{
		width: 20px;
		vertical-align: middle
	}
.alarm_data_u > div:nth-of-type(2){
	
}
.alarm_data_u > div:last-child{
	width: 70px;
	text-align: right;
}

.alarm_data_b{
	display: table;
	width: 100%;
	color: #3d3b3b;
}
	.alarm_data_b > div{
		display: table-cell;
		vertical-align: middle;
	}
	.alarm_data_b > div:first-child{
		width: 35px;
	}
	.alarm_data_b > div:last-child{
		width: calc(100% - 55px);
	}
