#menu_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.menu_upper_box{
		position: relative;
		height: 50px;
		line-height: 50px;
		background-color: #ffffff;
		border-bottom: 1px solid #cccccc;
		padding: 0 20px;
		box-sizing: border-box;
	}

	
	.menu_element_wrap{
		width: 95%;
		height: 55px;
		padding: 10px 20px;
		box-sizing: border-box;
		background-color: #ffffff;
		margin: 10px auto;
		border: 1px solid #f1f1f1;
		cursor: pointer;
	}
	.menu_element_wrap > span{
		vertical-align: middle;
		line-height: 33px;
	}
	.menu_element_wrap > img{
		width: 30px;
		vertical-align: middle;
		margin-right: 10px;
	}