#cal_display_panel{
	position: absolute;
	height: 102px;
	z-index: 10;
	width: 100%;
	/* text-align: center; */
}
	.cal_upper_box{
		position: relative;
		height: 50px;
		line-height: 50px;
		background-color: #ffffff;
		border-bottom: 1px solid #cccccc;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.cal_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}
	.cal_tools_wrap > .add_plan{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_add.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	.cal_tools_wrap > .swap_cal{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_swap.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	
	.display_year{
		/* font-size: 20px;
		margin-right: 10px; */
		font-size: 18px;
	}
	.display_month{
		/* font-size: 35px;
		line-height: 40px;
		font-weight: bold;
		color: #fe4e65; */
		font-size: 18px;
		color: #fe4e65;
	}
	.display_week{
		font-size: 18px;
	}
.pages{
	position: absolute;
	top: 85px;
	width: 100%;
	transition: 0.2s ease-in-out;
	background-color: #ffffff;
	z-index: 1;
}


.cal_week_line{
	display: table;
	width: 100%;
	text-align: center;
	height: 58px;
	line-height: 40px;
	border-bottom: 1px solid #cccccc;
	border-collapse: collapse;
	table-layout: fixed;
}
.cal_week_line > div{
	display: table-cell;
	/* width: 14.285%; */
	width: 12.5%;
	padding: 0px 10px;
}
.cal_week_line_dates{
	display: table;
	width: 100%;
	text-align: center;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
	border-collapse: collapse;
	table-layout: fixed;
	font-size: 11px;
}
.cal_week_line_dates > div{
	display: table-cell;
	/* width: 14.285%; */
	width: 12.5%;
}


.week_time_line{
	width: 100%;
	display: table;
}
.week_time_line > div{
	display: table;
	width: 12.5%;
}

.week_cal_time_text{
	font-size: 11px;
}
.week_row{
	width: 100%;
	display: table;
	border-collapse: collapse;
}
.week_row > div{
	position: relative;
	display: table-cell;
	width: 12.5%;
	background-image: url("/static/user/res/calendar_hour.png");
	background-size: 30px 60px;
	background-position: top;
}
.week_row article{
	height: 60px;
	text-align: center;
	font-size: 12px;
	/* border-top: 1px solid #fe4e65; */
	box-sizing: border-box;
}
.week_row article:first-child{
	border-color: transparent
}

.cal_font_color_grey{
	color: #cccccc;
}
.cal_font_color_black{
	color: #1e1e1e;
}
.cal_font_color_pink{
	color: #fe4e65;
}
.cal_fw_bd{
	font-weight: bold;
}


/* 스케쥴 표시 */
.calendar_schedule_display_month{
	font-size: 12px;
	height: 15px;
	line-height: 15px;
	width: 15px;
	margin: 0 auto;
	border: 1px solid transparent;
}
.has_schedule{
	/* border-color: #fe4e65;
	border-radius: 50%; */
}

.calendar_schedule_display_week{
	position: absolute;
	background-color: #fe4e65;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	
	padding-left: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 10px;
	letter-spacing: -0.3px;
}
.week_group_schedule{
	background-color: #fe4e65;
}
.week_private_schedule{
	background-color: green;
}
/* 스케쥴 표시 */

.week_indicator{
	position:absolute;
	width:100%;
	height:60px;
	background:linear-gradient(-45deg, #fd8494, #fe4e655e);
	box-sizing: border-box;
	border: 1px solid #1e1e1e;
}