#lecture_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.lecture_upper_box{
		position: relative;
		height: 60px;
		line-height: 28px;
		background-color: #ffffff;
		/* border-bottom: 1px solid #cccccc; */
		padding: 20px 16px 12px;
		box-sizing: border-box;
	}
	.lecture_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}
	.lecture_tools_wrap > .search_lecture{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_search_black.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	.lecture_tools_wrap > .search_lecture > .search_input{
		position: absolute;
		display: none;
		-webkit-appearance: none;
		width: 200%;
		height: 50px;
		left: -200%;
		border: 1px solid #cccccc;
		background-color: #ffffff;
		border-radius: 0;
		transform: translateY(-50px);
		box-sizing: border-box;
		transition: 0.25s;
	}
	.lecture_tools_wrap > .add_lecture{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_plus_pink.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	/* .lecture_tools_wrap > .swap_list{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_swap.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	} */
	.lecture_bottom_tools_wrap{
		background-color: #ffffff;
		/*border-bottom: 1px solid #cccccc;*/
		padding: 6px 16px;
		font-size: 13px;
		height: 24px;
		line-height: 24px;
	}
	.lecture_search_tool{
		background-color: #ffffff;
		padding-bottom: 5px;
		text-align: center;
	}
	.lecture_search_tool > input{
		width: 95%;
		height: 35px;
		border: 1px solid #cccccc;
		border-radius: 2px;
	}



.lecture_wrapper{
	display: block;
	width: 100%;
	height: 60px;
	padding: 5px 16px;
	background-color: #ffffff;
	margin: 0px auto;
	box-sizing: border-box;
	cursor: pointer;
}
.lecture_wrapper > div{
	display: table;
	width: 100%;
}
@media(min-width:651px){
    .lecture_wrapper{
		display: inline-block;
		vertical-align: top;
		width: 48%;
		margin: 1%;
		padding: 10px;
		box-shadow:0 0 16px 0 #e6e6e6;
	}
	.lecture_wrapper:hover{
		box-shadow:0 0 16px 0 #28282850;
		transition:0.1s;
		transform: scale(1.03);
	}
}
@media(min-width:1024px){
    .lecture_wrapper{
		width: 31%;
	}
}

.lecture_wrapper:active{
	background-color: #e8e8e8;
}

.lecture_data_l{
	display: table-cell;
	vertical-align: middle;
	width: 12px;
	text-align: left;
	position: relative;
}
.lecture_data_c{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

.lecture_data_r{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

.lecture_name{
	font-size: 16px;
	font-weight: 500;
}
.lecture_member_number{
	float: right;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.8px;
}
.lecture_note{
	/* margin-bottom: 5px; */
	height: 20px;
	color: #858282;
	font-size: 11px;
	font-weight: 500;
	box-sizing: border-box;
}

.lecture_tag{
	width: 4px;
	height: 32px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 16px;
}


/* 
  .lecture_tag_body {
	position: absolute;
	background:#282828;
	display: inline-block;
	height: 12px;
	width: 12px;
	top: 15px;
  }
  .lecture_tag_head{
	position: absolute;
	border-left: 5px solid #282828;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	height: 0;
	left: 12px;
	top: 15px;
	width: 0;
  } */