#ticket_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.ticket_upper_box{
		position: relative;
		height: 50px;
		line-height: 50px;
		background-color: #ffffff;
		/* border-bottom: 1px solid #cccccc; */
		padding: 0 16px;
		box-sizing: border-box;
	}
	.ticket_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}
	.ticket_tools_wrap > .search_ticket{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_search.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	.ticket_tools_wrap > .add_ticket{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_add.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	.ticket_tools_wrap > .swap_list{
		/* display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_swap.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px; */
		display: none;
	}

	.ticket_bottom_tools_wrap{
		background-color: #ffffff;
		border-bottom: 1px solid #cccccc;
		padding: 0 16px;
		font-size: 14px;
	}



.ticket_wrapper{
	width: 100%;
	padding: 10px 15px;
	background-color: #ffffff;
	border: 1px solid #f4f4f4;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0px #dedede;
	margin: 10px auto;
	box-sizing: border-box;
	
}

.ticket_data_u{
	position: relative;
	border-bottom: 2px solid #f4f4f4;
	padding: 5px 0px;
}
.ticket_data_b{
	padding: 10px 0px;
}
.ticket_name{
	font-size: 14px;
	font-weight: bold;
}
/* .ticket_member_number_wrap, .ticket_lectures_wrap{
	display: table;
	width: 100%;
	font-size: 13px;
	min-height: 22px;
} */
.ticket_data_title{
	display: table-cell;
	width: 80px;
	color: #9c9c9c;
}
.ticket_member_number{
	float: right;
	width: auto;
	font-size: 14px;
	font-weight: 500;
}
.ticket_lectures{
	font-size: 12px;
	font-weight: 500;
	color: #3d3b3b;
}
.ticket_lectures > div{
	padding: 5px 0;
}
.ticket_note{
	margin-bottom: 5px;
	font-size: 12px;
	color: #797979;
}
.ticket_lecture_color{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 11px;
}
