/*폰트 임포트*/
    @import url(/static/common/fonts/notosanskr.css);

/*기본 html, body스타일*/
    html{
        font-family: 'Noto Sans KR', sans-serif !important;
        background-color: #f7f5f6;
    }
    body{
        padding-top: 50px;
        margin: 0;
        /*height: 100%;*/
    }

/*OS 기본요소 편집*/
    a{
        text-decoration: none;
    }
        a:-webkit-any-link{
            color: unset;
        }

/*Nav bar 관련 CSS*/
    nav{
        position:fixed;
        width: 100%;
        height: 40px;
        top: 0;
        left: 0px;
        background-color: #ffffff;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.03);
        z-index: 1;

        /*Nav바 폰트스타일*/
        font-size: 13px;
        font-weight: bold;
        letter-spacing: -0.3px;
        padding-top: 10px;
    }
        nav > div{
            line-height: 37px;
        }
            nav > div > a >  div{
                display: inline-block;
                /*padding: 0 5px 0 5px;*/
                border-bottom: 3px solid transparent;
                text-align: center;
                /*cursor: pointer;*/
            }
    .nav_trainee_menu_box_l{
        position: absolute;
        left: 20px;
    }
    .nav_trainee_menu_box_r{
        position: absolute;
        right: 20px;
    }
    .nav_selected{
        border-bottom-color: #fe4e65;
        color: #fe4e65;
    }
    .nav_disabled{
        color: #999999;
    }
    /* nav 버튼 */
    #nav_btn_home{
        width: 30px;
        margin-right: 10px;
    }
    #nav_btn_plan{
        width: 40px;
        margin-right: 10px;
    }
    #nav_btn_program_select{
        width: 90px;
    }
    .nav_btn_img{
        width: 18px;
        vertical-align: middle;
    }
    #nav_btn_alarm{

    }
        #nav_btn_alarm > img{
            padding: 11px;
        }
    #nav_btn_menu{

    }
        #nav_btn_menu > img{
            padding: 11px 0 11px 11px;
        }

/*모바일 팝업 페이지 기본 요소*/
    .popup_mobile{
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: fixed;
        transform: translateX(100%);
        top: 0;
        z-index: 1500;
    }
        .popup_mobile .wrapper_top{
            margin-top: 16px;
            padding: 0 20px;
            height: 24px;
            line-height: 24px;
        }
            .popup_mobile .wrapper_top .logo_pters{
                width: 80px;
                vertical-align: top;
            }
            .popup_mobile .wrapper_top .obj_button_x{
                float: right;
            }

/*일정 박스 조립*/
    .obj_box_full .obj_font_size_16_weight_bold{
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    .obj_box_full .obj_font_size_12_weight_normal{
        text-align: center;
        height: 40px;
        line-height: 40px;
    }
    .obj_box_full .obj_font_size_11_weight_normal{
        height: 20px;
        line-height: 20px;
    }
    .obj_box_full .obj_font_size_14_weight_500{
        height: 25px;
        line-height: 25px;
    }

    .wrapper_plan_info{
        padding: 15px 0;
        margin: 15px 0;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }
        .wrapper_plan_info .obj_table_raw{
            text-align: center;
        }

    .wrapper_cancel_notice{
        height: 30px;
        line-height: 30px;
        margin-top: 15px;
    }
        .wrapper_cancel_notice .obj_table_cell_x2{
            width: auto;
        }
        .wrapper_cancel_notice .obj_button_gen{
            width: 90px;
            float: right;
        }

    .wrapper_tag{
        text-align: center;
        height: 21px;
    }
