@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);



/*그래프 ↓↓↓↓↓↓↓↓*/
.pters_graph{
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	min-height: 230px;
	max-width: 600px;
}

.graph_main table{
	width: 100%;
	height: 100%;
}

.graph_main td{
	border-top :0.5px dotted #cccccc;
}

.graph_main{
	position: absolute;
	width: 92%;
	height: 200px;
	border: 1px solid black;
	left: 24px;
	background: #ffffff;
}

.graph_horizontal{
	position: absolute;
	width: 92.1%;
	height: 22px;
	top: 200px;
	left: 22px;
}

.verti{
	font-size: 11px;
	text-align: right;
}

.graph_vertical div:nth-child(1){
	height: 34px;
}

.graph_vertical div:nth-child(2){
	height: 33px;
}

.graph_vertical div:nth-child(3){
	height : 33px;
}

.graph_vertical div:nth-child(4),.graph_vertical div:nth-child(5){
	height: 33px;
}

.graph_vertical{
	position: absolute;
	width: 8%;
	height: 230px;
	left: -10%;
	top: -8.5px;
}

.graphunit{
	border-top: 0.5px solid #ff93a1 !important;
}


.graph_horizontal table{
	width: 100%;
	height: 100%;
}

.graph_horizontal td{
	height: 100%;
	width: 8.33%;
	margin:0;
	text-align: center;
	vertical-align: top;
	font-size: 12px;
}

.graphcoloring{
	background: #fe4e65;
}

/*그래프 ↑↑↑↑↑↑↑↑*/

.subjectbar{
	width: 100%;
	height: 45px;
	background: #ffffff;
}

.subjectbar span{
	margin-left: 15px;
	line-height: 45px;
	font-size: 15px;
	font-weight: 500;
	color: #282828;
}

.iconimg{
	width: 20px;
	display: block;
	margin:0 auto;
}


#ymdText{
	width: 100%;
	margin-top: 10px;
	text-align: center;
}

#yy{
	font-size: 14.5px;
	font-weight: bold;
	color: #fe4e65;
	vertical-align: middle;
	margin-right: 25px;
	margin-left: 25px;
}

.mm{
	font-size: 12.5px;
	font-weight: bold;
	color: #fe4e65;
}

#countBoardWrap,#dateBoardWrap{
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
	padding-left:15px;
	padding-right:15px;
}

#planBoardWrap{
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
	padding-left:16px;
	padding-right:16px;
}

#trainerInfoWrap{
	text-align: center;
	margin-top:5px;
	margin-bottom: 10px;
	padding-left:16px;
	padding-right:16px;
}

.countBoard{
	display: inline-grid;
	width: 47.7%;
	height: 100px;
	text-align: center;
	background:#282828;
	color: #ffffff;
}

.dateBoard{
	display: inline-grid;
	width: 47.7%;
	height: 80px;
	text-align: center;
	background:#ffffff;
	color: #282828;
}

.planBoard{
	display: inline-grid;
	width: 100%;
	height: 80px;
	text-align: center;
	background:#ffffff;
	color: #282828;
}

.trainerInfo{
	width: 100%;
	height: 40px;
	text-align: center;
	background:#ffffff;
	color: #282828;
}

.countBoard:first-child,.dateBoard:first-child{
	margin-right: 5px;
}

.countBoard:last-child,.dateBoard:last-child{
	margin-left: 5px;
}

.planBoard{
	margin-top: 5px;
	margin-bottom:10px;
}

.countBoard img,.planBoard img{
	width: 12px;
	margin-bottom: 3px;
	margin-right: 3px;
}

.dateBoard img{
	width: 13px;
	margin-bottom: 4px;
	margin-right: 3px;
}

.trainerInfo img{
	width: 15px;
	margin-bottom: 4px;
	margin-right: 10px;
	margin-left: 10px;
}

.countBoard p:first-child{
	margin-top: 18px;
	margin-bottom: 0px;
}

 .dateBoard p:first-child,.planBoard p:first-child{
 	margin-top: 15px;
 	margin-bottom: 5px;
 }

.countBoard span{
	font-size: 38px;
	font-weight: 500;
}

.dateBoard p:last-child, .planBoard p:last-child{
	font-size: 15px;
	font-weight: 500;
}

.planBoard span{
	font-size:12px;
	color: #666666;
}

.trainerInfo span{
	line-height: 40px;
	margin-right: 10px;
	font-weight: 500;
}

#trainerInfoTap{
	margin-top:10px;
	padding-left: 16px;
}

#trainerInfoTap img{
	width: 14px;
	margin-bottom: 4px;
	margin-right: 3px;
}





@media(min-width: 600px){
	.subjectbar{
		text-align: center;
	}
}