@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body{
	background: #f7f7f7;
}
body{
	padding-top: 50px;
	height: 300px;
}

@media(max-width:599px){
	.bottomfooter2{
		display:none;
	}
	.bottomfooter3{
		display:block;
	}
	.fixfooter{
		position:fixed;
	}
}

.pshade, .mshade{
	position: fixed;
	display: none;
	background: black;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.7;
	z-index: -100
}


#ymdTextWrap{
	padding: 0;
}

.fixfooter{
	position: relative !important;
}

#blank_member_popup{
	position: absolute;
	width: 90%;
	max-width: 500px;
	height: 50%;
	max-height: 400px;
	background: #f4f4f4;
	border:1px solid #cccccc;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
}
#blank_member_popup label{
	margin-top: 20px;
	width: 100%;
	font-size: 19px;
	color: #fe4e65;
}
#blank_member_popup p{
	margin-top: 30px;
	width: 100%;
	font-size: 15px;
	color: #282828;
}
#blank_member_popup span{
	position:absolute;
	bottom: 0;
	right: 0;
	margin:10px;
	font-size: 14px;
	color: #282828;
	cursor: pointer;
}

#ymdText{
	position: fixed;
	height: auto;
	z-index: 4;
	width: 100%;
}

#ymdTextWrap{
	width: 100%;
	text-align: center;
}

.gap{
	height: 80px;
}

.mode_switch_button_wrap{
	text-align: left;
	max-width: 700px;
	margin:0 auto;
}

.mode_switch_button{
	display: table-cell;
	width: 	70px;
	height: 25px;

	border-top-right-radius: 8px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	padding-top: 3px;
	background:#cccccc;
	color: 	#ffffff;
}
.mode_active{
	background:#fe4e65;
	color: 	#ffffff;
}



#mygraph{
	transform:translateY(0%);
	transition: 1s;
}

.mypage_page{
	max-width: 700px;
}

#summary_wrap{
	margin:0 auto;
	border: 1px solid #cccccc;
}

#history_wrap{
	display: none;
	margin:0 auto;
	border: 1px solid #cccccc;
	background: #ffffff;

}
.label_explain{
	padding-left: 5px;
	color: #676767;
}
.lecture_history_table_header{
	display: table;
	width: 100%;
	background: #e8e8e8;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 12px;
}
.lecture_history_table_header div{
	display: table-cell;
	border: #f4f4f4;
}
.lecture_history_table_row{
	display: table;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12.5px;
}
.lecture_history_table_row div{
	display: table-cell;
}
.cell1{
	width: 7%;
}
.cell2{
	/*width: 40%;*/
	width: 18%;
}
.cell3{
	/*width: 20%;*/
	width: 14%;
}
.cell4{
	/*width: 15%;*/
	width: 10%;
}
.cell5{
	width: 30%;
}
.state_PE{
	color: green;
}
.state_NP{
	color: #fe4e65;
}
.state_IP{
	color: #fe4e65;
}

#yearText{
	position: relative;
	display: inline;
	color : transparent;
	font-size: 15px;
	width: 100%;
	margin-right: 5px;
}

#monthText{
	position: relative;
	display: inline;
	color : #fe4e65;
	font-size: 19.5px;
	font-weight: 700;
	width: 100%;
}

#countRemain{
	position: relative;
	height: 24px;
	color: #ffffff;
	font-size: 13.5px;
	font-weight: 300;
	margin-bottom: 3px;
}


#countRemainData{
	line-height: 24px;
	vertical-align: middle;
}

.arrowButton{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.arrowButton a{
	position: absolute;
	top: 70%;
	font-size: 35px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
	width: 25px;
	height: 25px;
	text-align: center;
}

/*
#menuName{
	display: none;
}

.menuName{
	display: block;
	font-size:14px;
	font-weight: bold;
	color: #fe4e65;
}

#menuDescription{
	display: none;
}

#menuName{
	display: none;
}
*/

.menuName{
	display: inline;
	font-size:14px;
	font-weight: bold !important;
	color: #282828;
}

.menuButton{
	display: inline-block;
	position: absolute;
	line-height: 28px;
	margin-left: 7px;
}


#menuDescription{
	display: none;
}

.trainerInfo{
	width: 100%;
	height: 60px;
	text-align: center;
	background:#ffffff;
	color: #282828;
	border-right:5px solid #f4f4f4;
	border-left:5px solid #f4f4f4;
}
.trainerInfo img{
	width: 15px;
	margin-bottom: 4px;
	margin-right: 10px;
	margin-left: 10px;
}
.trainerInfo span{
	line-height: 30px;
	margin-right: 10px;
	font-weight: 400;
}

.trainerInfo button{
	background: #ffffff;
	border:1px solid #282828;
	color: #282828;
	font-size: 10px;
	line-height: 12px;
	width: 25px;
	padding-left: 0;
	padding-right: 0;
}
.modifyInfoTool{
	display: none;
}
.cancelMemberInfo{
	display: none;
}

.trainerWorkTimeInfo{
	width: 100%;
	height: 40px;
	text-align: center;
	background:#ffffff;
	color: #282828;
	border-right:5px solid #f4f4f4;
	border-left:5px solid #f4f4f4;
}
.trainerWorkTimeInfo span{
	line-height: 40px;
	margin-right: 10px;
	font-weight: 500;
}
.trainerInfo img{
	width: 15px;
	margin-bottom: 4px;
	margin-right: 10px;
	margin-left: 10px;
}


/*그래프 ↓↓↓↓↓↓↓↓*/
.pters_graph{
	margin:0 auto;
	margin-top: 10px;
	text-align: center;
	position: relative;
	min-height: 230px;
	max-width: 580px;
}

.graph_main table{
	width: 100%;
	height: 100%;
}

.graph_main td{
	border-top :0.5px dotted #cccccc;
}

.graph_main{
	position: absolute;
	width: 92%;
	height: 200px;
	border: 1px solid black;
	left: 24px;
	background: #ffffff;
}

.graph_horizontal{
	position: absolute;
	width: 92.1%;
	height: 22px;
	top: 200px;
	left: 22px;
}

.verti{
	font-size: 11px;
	text-align: right;
}

.graph_vertical div:nth-child(1){
	height: 34px;
}

.graph_vertical div:nth-child(2){
	height: 33px;
}

.graph_vertical div:nth-child(3){
	height : 33px;
}

.graph_vertical div:nth-child(4),.graph_vertical div:nth-child(5){
	height: 33px;
}

.graph_vertical{
	position: absolute;
	width: 8%;
	height: 230px;
	left: -10%;
	top: -8.5px;
}

.graphunit{
	border-top: 0.5px solid #ff93a1 !important;
}


.graph_horizontal table{
	width: 100%;
	height: 100%;
}

.graph_horizontal td{
	height: 100%;
	width: 8.33%;
	margin:0;
	text-align: center;
	vertical-align: top;
	font-size: 12px;
}

.graphcoloring{
	background: #fe4e65;
}

/*그래프 ↑↑↑↑↑↑↑↑*/

.iconimg{
	width: 20px;
	display: block;
	margin:0 auto;
}


#yyyyText{
	width: 100%;
	text-align: center;
}

#yy{
	font-size: 14.5px;
	font-weight: bold;
	color: #fe4e65;
	vertical-align: middle;
	margin-right: 25px;
	margin-left: 25px;
}

.mm{
	font-size: 12.5px;
	font-weight: bold;
	color: #fe4e65;
}

.boardWrap{
	display: table;
	text-align: center;
	padding-left:15px;
	padding-right:15px;
	width: 100%;
	max-width: 700px;
	margin:0 auto;
	padding-bottom: 15px;
}

.countBoard{
	display: table-cell;
	width: 50%;
	height: 100px;
	text-align: center;
	background:#282828;
	color: #ffffff;
	border-left:5px solid #f4f4f4;
	border-right:5px solid #f4f4f4;
}

.dateBoard{
	display: table-cell;
	width: 50%;
	height: 80px;
	text-align: center;
	background:#ffffff;
	color: #282828;
	border-left:5px solid #f4f4f4;
	border-right:5px solid #f4f4f4;
	vertical-align: middle;
}

.planBoard{
	width: 100%;
	height: 80px;
	text-align: center;
	background:#ffffff;
	color: #282828;
	border-left: 5px solid #f4f4f4;
	border-right: 5px solid #f4f4f4;
	padding-top: 10px;
	vertical-align: middle;
}



.countBoard:first-child,.dateBoard:first-child{
	margin-right: 5px;
}

.countBoard:last-child,.dateBoard:last-child{
	margin-left: 5px;
}

.planBoard:first-child{
	margin-top: 10px;
	margin-bottom:10px;
}

.planBoard:last-child{
	margin-bottom:10px;
	height: auto;
}

.countBoard img,.planBoard img{
	width: 12px;
	margin-bottom: 3px;
	margin-right: 3px;
}

.dateBoard img{
	width: 13px;
	margin-bottom: 4px;
	margin-right: 3px;
}



.countBoard p:first-child{
	margin-top: 18px;
	margin-bottom: 0px;
}

.dateBoard p:first-child,.planBoard p:first-child{
	margin-bottom: 5px;
}

.countBoard span{
	font-size: 38px;
	font-weight: 500;
}

.countBoard_explain{
	margin: 0;
	font-size: 10px;
	color: #cccccc;
}

.planBoard p:last-child{
	font-size: 20px;
	font-weight: 500;
}

.dateBoard p:last-child{
	font-size: 15px;
	font-weight: 500;
}

.planBoard span{
	font-size:12px;
	color: #666666;
}

.mypage_label{
	margin:0 auto;
	width: 100%;
	max-width: 700px;
	padding-left: 16px;
	padding-top: 10px;
	margin-bottom: 7px;
}
.mypage_label img{
	width: 16px;
	margin-bottom: 4px;
	margin-right: 3px;
	margin-left: 10px;
}

.mypage_label span{
	font-size: 15px;
	font-weight: 500;
}

.button_trainee_logout{
	color: #fe4e65;
	margin-top: 40px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.button_trainee_logout span{
	cursor: pointer;
}






@media(min-width: 600px){

	#ymdText{
		height: 100px;
	}

	.gap{
		height: 110px;
	}

	#yearText{
		display: block;
		font-size: 26px;
		top: 15%;
	}

	#monthText{
		display: none;
		font-size: 21.5px;
		top: 60%;
	}

	#countRemain{
		margin-bottom: 0px;
	}

	.arrowButton{
		display:none;
	}

	.lecture_history_table_header, .lecture_history_table_row{
		font-size: 13px;
	}

	#menuName{
		display: block;
		color : #fe4e65;
		font-size: 24px;
		top: 30%;
		width: 100%;
		text-align: center;
		position: absolute;
	}

	#menuDescription{
		display: block;
		color : #ffffff;
		font-size: 15px;
		top: 70%;
		width: 100%;
		text-align: center;
		position: absolute;
	}

	.fixfooter{
		position: fixed;
		margin-top: 50px;
		padding-bottom: 10px;
		padding-top: 10px;
		/*background: #f7f7f7;*/
	}

	.bottomfooter2{
		display:block;
	}
	.bottomfooter3{
		display:none;
	}
}

.bottomfooter2 {
	color: #ffffff;
}

.bottomfooter3 {
	color: #ffffff;
}