@import url(/static/common/fonts/notosanskr.css);

body{
	padding-top: 50px;
	background-color: #eeeeee;
	font-family: 'Noto Sans KR';
}

button:focus{
	outline: 0;
}

#shade{
	z-index: 106;
}

#shade3{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	display: none;
	z-index: 100;
}

.confirmPopup{
	display: none;
	position: fixed;
	background: #ffffff;
	border-color: transparent;
	width: 80%;
	max-width: 300px;
	z-index: 110;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.confirmText{
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	padding-top: 5px;
}

.popup_inner{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
}

.popup_inner:hover{
	background: #a2a2a2;
	-webkit-background:#a2a2a2;
}

.popup_inner span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.popup_inner_change{
	text-align: center;
}

.popup_inner_delete{
	text-align: center;
	color: #fe4e65;
}

#page_addmember{
	display: none;
	position: absolute;
	top: 50px;
	width:100%;
	max-width: 700px !important;
	background: #f4f4f4;
	z-index: 105;
}

#selectBox{
	border-top: 1px solid black;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}


table{
	font-size: 81%;
	text-align: center;
	table-layout: fixed;
}

#tableThead{
	width: 91.6%;
	margin:0 auto;
	max-width: 800px;
}

tbody{
	background-color: #ffffff;
}

th{
	text-align: center;
	background:#eeeeee;
}

._countnum,._id,._email,._finday{
	display: none;
}


._countnum{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._tdname, ._tdnamee{
	width: 23%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._id{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._email{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._regcount{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._remaincount{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._startdate{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._finday{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._contact{
	width: 25%;
}

._manage{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 25%;
}


.memberline:hover{
	background:#eaeaea;
	color: #fe4e65 !important;
	font-weight: bold;
}


#currentMemberList,#finishedMemberList{
	width: 91.6%;
	margin: 0 auto;
	max-width: 800px;
}







._tdname,._tdnamee{
	font-size: 105%;
	cursor: pointer;
}

#memberDelete{
	text-align: center;
	background: grey;
	margin-bottom: 30px;
	width: 50%;
	height: 35px;
}

.memberNum{
	float: right;
}

#finishMemberNum{
	display: none;
}

.phonesms{
	display: inline;
	width: 16px;
	margin-left: 5px;
	margin-right: 5px;
}

.phonenum{
	display:none;
	color: #282828;
}

.phonenum:hover{
	color: #fe4e65;
}

.sms{
	margin-top: 1.5px;
}

.nameimg{
	width: 6px;
	float: right;
	margin-top: 4px;
}

.pcmanageicon{
	height: 15px;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}

#pcBtn{
	display: none;
}

#upperImg{
	display: none;
}

.instructPopup{
	display: none;
}

.forscroll{
	width: 0;
}

.ymdText-pc-add{
	display: none;
}

.input_disabled_color{
	background:#eee !important;
}

#infoMemberModify{
	display: none;
}

#infoMemberDelete, #infoMemberModify{
	float: right;
	margin-right: 2%;
	border: 0;
	background: transparent;
	width: 40px;
	height: 40px;
	padding: 11px;
}
#infoMemberDelete img, #infoMemberModify img{
	width: 100%;
}

.history_view{
	width: 100%;
}

@media(min-width: 600px){
	#float_btn_wrap{
		display: none !important;
	}

	._regcount{
		display: table-cell;
	}

	.phonenum{
		display:block;
		cursor: pointer;
	}

	.phonesms{
		display:none;
	}

	#shade3{
		background-color: #282828;
		opacity: 0.8;
	}

	#pcBtn{
		display:block;
	}

	#upperImg{
		display: block;
		background-image:url(/static/user/res/bg.png);
		background-size: 100%;
		margin:0 auto;
		height: 100px;
		width: 100%;
		text-align: center;
	}

	#upperImg span{
		font-size: 20px;
		color: #fe4e65;
		font-weight: 500;
		line-height: 100px;
	}

	.instructPopup{
		position: absolute;
		width: 200px;
		height: auto;
		min-height: 40px;
		border:1px solid #282828;
		background: #d7f3ff;
	}

	#page_addmember,#memberInfoPopup{
		top: 75px;
	}

	.ymdText-pc-add{
		display: inline;
		line-height: 33px;
		position: relative;
		margin-left: 10px;
	}

	.ymdText-pc-add-member{
		display: inline;
		margin-left: 5px;
		padding:3px 13px 3px 13px;
		color: #fe4e65;
		font-size: 14px;
		border:1px solid #cccccc;
		cursor: pointer;
	}
	.ymdText-pc-add-member:hover{
		background-color: #fe4e65;
		color: #ffffff;
	}

	#float_btn{
		display: none !important;
	}

	#infoMemberModify{
		display: inline;
		float: right;
		margin-right: 2%;
		border: 0;
		background: transparent;
		width: 40px;
		height: 40px;
		padding: 11px;
	}
	#infoMemberModify img{
		width: 100%;
	}

}

@media(min-width: 1000px){

	#tableThead{
		width: 1080px;

	}

	.centeralign{
		max-width: 1080px !important;
	}

	.forscroll{
		width: 10px;
		padding:0 !important;
		background: #ffffff;
	}

	#page_managemember{
		background:#ffffff;
	}


	#currentMemberList, #finishedMemberList{
		width: 1080px;
		height: 600px;
		overflow-y: overlay;
	}

	._countnum,._id,._email,._finday,._manage{
		display: table-cell;
	}

	._countnum{
		width: 30px;
	}

	._tdname,._tdnamee{
		width: 85px;
		font-size: 14px;
	}

	._id{
		width: 70px;
	}

	._email{
		width: 115px;
	}

	._regcount{
		width: 45px;
	}

	._remaincount{
		width: 45px;
		line-height: 19px;
		vertical-align: middle !important;
	}

	._startdate{
		width: 50px;
	}

	._finday{
		width: 50px;
	}

	._contact{
		width: 70px;

	}

	._manage{
		width: 50px;
	}

	table,td{
		border:0 !important;
	}

	tr{
		border-bottom:0.5px solid #cccccc;
	}

	td{
		font-size : 13px;
	}

	th{
		border:0 !important;
		font-size: 13.5px;
		border-left:0.5px solid #ffffff !important;
		border-right: 0.5px solid #ffffff !important;
		font-weight: 500;
	}

	.nameimg{
		display: none;
	}

	.alignSelect{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0 !important;
		margin-right: 20px;
		border:1px solid #eeeeee;
		width: 160px !important;
		height: 30px !important;
		font-size: 13px;
		color: #afafaf;
		padding-left: 29px;
		text-align-last: unset;
	}

	.btn-default{
		box-shadow: 0 0 0 0 !important;
	}

	#alignBox{
		position: relative;
		max-width: 1080px;
		width: 1080px;
		height: 30px;
		margin-bottom: 5px;
		padding-right: 190px;
	}

	.memberNum{
		float:left;
		line-height: 30px;
	}

	.memberAlign{
		float: right;
		line-height: 30px;
	}

	#selectBox{
		border:1px solid #cccccc;
		width: 350px;
		height: 45px;
	}

	#upperImg{
		margin-bottom: 20px;
	}

}

