@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


body{
	font-family: 'Noto Sans KR';
	padding-top: 50px;
	width: 100%;
	background-color: #ffffff;
}

#gap{
	height:50px;
}

#ymdTextWrap{
	padding: 0;
}

.pshade, .mshade{
	position: fixed;
	display: none;
	background: black;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.7;
	z-index: -100
}


.dropdown-backdrop{
	background-color: transparent !important;
}
.pters_dropdown_custom_list{
	width: 100% !important;
	min-width: 150px;
	position: relative !important;
	top: unset !important;
	background:#ffffff !important;
}

#blank_member_popup{
	position: absolute;
	width: 90%;
	max-width: 500px;
	height: 50%;
	max-height: 400px;
	background: #f4f4f4;
	border:1px solid #cccccc;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
}
#blank_member_popup label{
	margin-top: 20px;
	width: 100%;
	font-size: 19px;
	color: #fe4e65;
}
#blank_member_popup p{
	margin-top: 30px;
	width: 100%;
	font-size: 15px;
	color: #282828;
}
#blank_member_popup span{
	position:absolute;
	bottom: 0;
	right: 0;
	margin:10px;
	font-size: 14px;
	color: #282828;
	cursor: pointer;
}

.swiper-container{
	overflow-y: auto;
	height: 100%;
}

img,a,div,span,p{
	-webkit-user-select: none;
	user-select: none;
}

#cal_popup_mini_selector{
	position: absolute;
	display: none;
	border: 1px solid #fe4e65;
	background: #282828;
	z-index: 100;
}
#cal_popup_mini_selector:after{
	content: '';
	position: absolute;
	border-top: 10px solid #282828;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	bottom: -9px;
	left: 5px;
}
#cal_popup_mini_selector:before{
	content: '';
	position: absolute;
	border-top: 10px solid #fe4e65;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	bottom: -11px;
	left: 5px;
}
#cal_popup_mini_selector div{
	display: table-cell;
	border:2px solid #282828;
	width: 40px;
	height: 25px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}
#cal_popup_mini_selector img{
	float: unset;
	width: 11px;
	margin: 0;
	margin-bottom: 2px;
}
#mini_selector_close{
	float: unset;
	margin-left: 0;
}
.addpopupinner{
	position: relative;
	height: 40px;
}
.ptaddboxtext_trainee_popup{
	line-height: 40px;
}
#shade{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: -1;
}

#float_btn{  /*2017.10.2*/
	display: none;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
}

#float_btn img{ /*2017.10.2*/
	width: 100%;
	height: 100%;

}

.rotate_btn{
	-webkit-transform: rotate(47deg);
	transform: rotate(47deg);
}



#float_inner1{ /*2017.10.2*/
	background-color: #fe4e65;
}

#float_inner1 a{ /*2017.10.2*/
	color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
}

#float_inner2{ /*2017.10.2*/
	background-color: #ffffff;

}

#float_inner2 a{ /*2017.10.2*/
	color: #282828;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
}


.float_inner{ /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	background-color: grey;
	opacity: 0;
	border-radius: 50%;
	z-index: 9;
	font-size: 13px;
	text-align: center;
}
#date{
	position: fixed;
	top: 104px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 35px;
	height: auto;
	z-index: 3;
	background-color: #f7f7f7;
	max-width: 1080px;
}



.arrowButtonPC{
	display: none;
}



.arrowButton{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#leftArrowButtonImg{
	width: 7px;
}

#rightArrowButtonImg{
	-webkit-transform:rotate(180deg);
	transform: rotate(180deg);
	width: 7px;
}

.arrowButton span{
	font-weight: 600;
}

.arrowButton a{
	position: absolute;
	top: 5px;
	font-size: 35px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}



#ymdText{
	position: fixed;
	height: auto;
	z-index: 4;
	width: 100%;
}
#ymdText-pc{
	display: none;
}


#ymdTextWrap{
	width: 100%;
	text-align: center;
}

#yearText{
	position: relative;
	display: inline;
	color : #ffffff;
	font-size: 15px;
	width: 100%;
	margin-right: 5px;
}

#countRemain{
	position: relative;
	height: 24px;
	color: #ffffff;
	font-size: 13.5px;
	font-weight: 300;
	margin-bottom: 3px;
}


#countRemainData{
	line-height: 24px;
	vertical-align: middle;
}

#monthText{
	position: relative;
	display: inline;
	color : #fe4e65;
	font-size: 19.5px;
	font-weight: 700;
	width: 100%;
}

#gapbox{
	width: 100%;
	height: 0px;
	position: relative;
	padding-bottom: 57px;
	overflow-y: hidden;
	background-color: transparent;
}



.week-style{ /*week 스타일*/
	background-color: transparent;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	font-size: 14.4px;
	height: 70px;
}


.calendar-style{  /*week 스타일하위 */
	width: 100%;
	text-align: center;
	height: 100%;
}

.calendar-day-style{  /*왈화수목금토일 스타일 */
	font-size: 12px;
	line-height: 30px;
}


.calendar_image{
	/*width: 100%;*/
	margin: auto;
}

.weekday_style{
	font-weight: 600;
	font-size: 1em;
}


#calendar{
	position: relative; /*2017.10.02*/
	width: 100%;
	height: 72.5%;
	background-color: #ffffff;
	padding-left: 20px;
	padding-right:20px;
	z-index: 2;
	top: 93px;
}


.cal_box{
	background-color: black;
	height: 0px;
	width: 100%;
	position: absolute;
	top:80%;
}

#calendar td{
	width: 14.3%;
	/*color : #282828;*/
}

.dateNum{
	z-index: 10;
}

.nextDates{
	color : #282828;
	opacity: 0;
}

.prevDates{
	color : #282828;
	opacity: 0;
}

.sunday{
	color : #d21245 !important;
}

.saturday{
	color : #115a8e !important;
}

.weekdays{
	color: #282828 !important;
}

.dateDisabled{
	display:block;
	margin:auto;
	width: 30px;
	height: 30px;
	background: #f4f4f4;
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	border-radius: 50%;
	z-index: -1;
}

.dateMytime{
	position: absolute;
	display:block;
	margin:0 auto;
	width: 28px;
	height: 28px;
	/*background: #fddadf;*/
	background: #fddadf;
	top: 21px;
	bottom:0;
	left: 0px;
	right: 0;
	border-radius: 50%;
	z-index: -1;
}

.greydateMytime{
	position: absolute;
	display:block;
	margin:0 auto;
	width: 28px;
	height: 28px;
	background: #e8e8e8;
	top: 21px;
	bottom:0;
	left: 0px;
	right: 0;
	border-radius: 50%;
	z-index: -1;
}

.today{
	position:absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 3px solid #fe4e65;
	width: 90%;
	color: #fe4e65;
	font-weight: bold;
	font-size: 60%;
	width: 100%;
}

.holiday{
	color: #d21245 !important;
}

.holidayName{
	display: none;
	font-size: 12px;
	margin-right: 5px;
}

.memo{
	display: none;
}

.balloon{
	position: absolute;
	background: transparent;
	color: #6f6f6f;
	height: 16px;
	width: 90%;
	bottom: 5px;
	border-radius: 1px;
	font-size: 9.5px;
	padding-top: 0.5px;
	z-index: -2;
	left: 50%;
	transform: translateX(-50%);
}

.balloon_trainer{
	position: absolute;
	background: #e4e4e4;
	color: #333;
	height: 16px;
	width: 16px;
	bottom: 1px;
	border-radius: 1px;
	font-size: 12px;
	z-index: -2;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}

.blackballoon{
	position: absolute;
	color: #282828;
	background: transparent;
	height: 16px;
	-ms-height: 100%;
	width: 90%;
	bottom: 5px;
	border-radius: 1px;
	font-size: 9.5px;
	font-weight: 300;
	z-index: -2;
	left: 50%;
	transform: translateX(-50%);
}

.blackballoon_trainer{
	position: absolute;
	color: #ffffff;
	background: #3b3d3d;
	height: 16px;
	-ms-height: 100%;
	width: 16px;
	bottom: 1px;
	border-radius: 1px;
	font-size: 12px;
	font-weight: 400;
	padding-top: 0px;
	z-index: -2;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}

.monthplans{
	display: none;
}
.monthplans_count{
	display: block;
	margin-top: 4px;
}
._classTime img{
	width: 10px;
	margin-bottom: 2px;
	margin-right: 1.5px;
}

.group_plan_indicate{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top:15px;
	width: 10px;
}
.group_plan_indicate_past{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top:15px;
	width: 10px;
	opacity: 0.5;

}





#cal_popup_plancheck .popup_inner:hover{
	background : white;
}




/*팝업 css*/
#ng_popup{
	display: none;
	position: fixed;
	background: #ffffff;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 330px;
	border: 1px solid #a2a2a2;
	z-index: 103;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
}

.paddingside15px{
	padding-left:20px;
	padding-right: 20px;
}


#cal_popup{
	display: none;
	position: fixed;
	background: #ffffff;
	border-color: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: 200;
	text-align: center;
}

#cal_popup2{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	top: 35%;
	left: 10%;
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: 200;
	text-align: center;
}

#cal_popup3{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	top: 35%;
	left: 10%;
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: 200;
	text-align: center;
}

#addpopup{
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	background: #ffffff;
	z-index: 150;
}

.groupreserve, .classreserve{
	display: none;
	min-height: 180px;
}




/*월간달력 팝업*/
#cal_popup_plancheck{ /*강사 월간달력에서 날짜클릭했을때 일정 조회하는 팝업*/
	display: none;
	position: fixed;
	width: 90%;
	max-width: 300px;
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	text-align: center;

	z-index: 125;
}

#cal_popup_plancheck .popup_inner:hover{
	background : white;
}

.img_cal{
	position: relative;
	width: 25px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

#btn_close5{
	position: absolute;
	top: 10%;
	left: 85%;
	padding: 10px;
	width: 35px;
	float: right;
	cursor: pointer;
}

#countNum{
	position: absolute;
	font-size: 9px;
	background:#fe4e65;
	color: #ffffff;
	width: 13px;
	line-height: 13px;
	border-radius: 50%;
	text-align: center;
	font-weight: 500;
	top: 6px;
	left: 155px;
}

.popup_ymdText{
	margin-top:9px;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
}

.plan_raw{
	height: 45px;
	vertical-align: middle;
	border-bottom: 1px solid #a2a2a2;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.plan_raw > div{
	position: relative;
	top: unset;
	left: unset;
	transform: unset;
	line-height: 45px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
}

.popup_inner_month{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
}

.plan_raw_blank{
	line-height: 45px;
	font-size: 13px;
	font-weight: bold;
}


.planchecktime{
	display: table-cell;
	text-align: left;
	width: 30%;
}

.plancheckname{
	display: table-cell;
	text-align: left;
	width: 55%;
}
	.plancheckname > p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: 90%;
		margin: 0;
		padding-left: 15px;
	}

.plancheckmorningday{
	display: table-cell;
	width: 14%;
}

.plancheckname img{
	width: 12px;
	position: absolute;
	left:0;
	margin-top:18px;
}
/*월간달력 팝업*/







#popup_info,#popup_info2,#popup_info3,#popup_info4,#popup_info3_memo{
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
}
#popup_info2{
	height: 40px;
}

#popup_info3_memo{
	color: #fe4e65 !important;
	height: auto;
	padding-bottom: 10px;
}


#popup_text2{
	color: #000ecc;
}


#popup_img{
	position: relative;
	background: #ffffff;
	height: 56px;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
}


#img_cal{
	position: absolute;
	top: 41%;
	left:41.5%;
	width: 25px;
	margin-right: 14.845px;
	margin-left: 14.845px;
}

#btn_close, #btn_close2, #btn_close3, #btn_close4{
	position: absolute;
	top: 31%;
	left: 85%;
	padding: 10px;
	width: 35px;
	float: right;
	cursor: pointer;
}

.popup_inner{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
	cursor: pointer;
}

.popup_inner:hover{
	background: #a2a2a2;
	-webkit-background:#a2a2a2;
}


.popup_inner span{
	margin:0 auto;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
}

.limited{
	color: #cccccc;
}

.popup_inner_change{
	text-align: center;
}

.popup_inner_delete{
	text-align: center;
	color: #fe4e65;
}


.available{
	background:  #ffebee;
	z-index: 0;
	/*opacity: 1;*/
}

.notavailable{
	background: #dadada;
	z-index: -1;
}

.option_notavailable{
	z-index: -1;
}



.admonth{
	height: 50%;
	opacity: 0.15;
	margin-top: 18px;
}

#menuName{
	display: none;
}

#menuDescription{
	display: none;
}


.ptersCheckbox{
	display: inline-block;
	margin-right: 4px !important;
}

.plan_list_row{
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;
	width: 90%;
}


@media(min-width:450px){
	#cal_popup{
		display: none;
		position: fixed;
		background: #ffffff;
		border-color: transparent;
		top: 50%;
		left: 50%;
		max-width: 330px;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		transform: translate(-50%, -50%);
		z-index: 200;
		text-align: center;
	}

	#cal_popup2{
		display: none;
		position: fixed;
		background: transparent;
		border-color: transparent;
		top: 50%;
		left: 50%;
		width: 100%;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		transform: translate(-50%, -50%);
		z-index: 200;
		text-align: center;
	}

	#cal_popup3{
		display: none;
		position: fixed;
		background: transparent;
		border-color: transparent;
		top: 50%;
		left: 50%;
		width: 100%;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		transform: translate(-50%, -50%);
		z-index: 200;
		text-align: center;
	}

	#addpopup{
		position: fixed;
		display: none;
		width: auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: transparent;
		z-index: 250;
	}

	#dateSelector, #offStartTime, #offDuration, #submitBtn, .mode_switch_button_wrap_cal{
		position: relative;
		background: #ffffff;
		margin : 0 auto;
		width: 450px;
	}

	#timeGraph.personalreserve, .groupreserve, .classreserve{
		position: relative;
		background: #f4f4f4;
		margin : 0 auto;
		width: 450px;
	}

	

	#popup_info,#popup_info2,#popup_info3,#popup_info4, #popup_info3_memo{
		background: #ffffff;
		position: relative;
		margin : 0 auto;
		width: 330px;
		text-align: center;
		color: #3b3d3d;
		font-size: 14px;
		font-weight: bold;
	}

	#popup_text2{
		color: #000ecc;
	}

	#popup_img{
		position: relative;
		margin :0 auto;
		background: #ffffff;
		height: 50px;
		padding-top: 22.5px;
		padding-bottom: 22.5px;
		width: 330px;
	}

	#popup_sign_img{
		display: none;
		margin :0 auto;
		position: relative;
		background: #ffffff;
		width: 330px;

	}

	#img_cal{
		position: absolute;
		top: 30%;
		left:41.5%;
		width: 25px;
		margin-right: 14.845px;
		margin-left: 14.845px;
	}

	#btn_close, #btn_close2, #btn_close3, #btn_close4{
		position: absolute;
		top: 22%;
		left: 85%;
		padding: 10px;
		width: 35px;
		float: right;
	}

	#btn_close4{
		left: 100%;
	}

	.popup_inner{
		background: #ffffff;
		margin: 0 auto;
		position: relative;
		height: 50px;
		border-top: 1px solid #a2a2a2;
		width: 330px;
	}

	.popup_inner:hover{
		background: #a2a2a2;
		-webkit-background:#a2a2a2;
	}
}

.fixfooter{
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	/*padding-bottom: 15px;*/
	z-index: 1;
}

.bottomfooter2 {
	color: #ffffff;
}

.bottomfooter3 {
	color: #ffffff;
}

@media(max-width:599px){
	.bottomfooter2{
		display:none;
	}
	.bottomfooter3{
		display:block;
	}
	.fixfooter{
		position:fixed;
	}
}
/*미디어 쿼리*/

@media(min-width: 600px){
	.pters_dropdown_custom_list{
		background:#ffffff;
	}

	.ptaddboxtext{
		display: block !important;
	}

	.bottomfooter2{
		display:block;
	}
	.bottomfooter3{
		display:none;
	}
	.fixfooter{
		position:relative;
	}
	.pcwho:hover{
		color: #fe4e65;
	}

	.centermenu_text:hover,.centermenu_text:active,.centermenu_text:focus{
		color: #282828;
	}

	#calendar{
		background-color: 	#ffffff;
		padding-left: 0;
		padding-right: 0;
		margin-top: 192px;
		margin-bottom: 100px;
		top: 0;
	}

	#calendar td:hover{
		background : #fffcfc;
		opacity: 0.9;
	}

	#ymdText{

		height: 100px;
	}

	#yearText{
		display: none;
		font-size: 26px;
		top: 15%;
	}

	#monthText{
		display: none;
		font-size: 21.5px;
		top: 60%;
	}

	#ymdText-pc{
		display: block;
		position: fixed;
		margin-top: 100px;
		width:100%;
		height: 50px;
		text-align: center;
		z-index: 5;
		vertical-align: middle;
		background-color: #ffffff;
	}

	#ymdText-pc div{
		line-height: 50px;
	}

	#ymdText-pc img{
		width: 20px;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 5px;
		cursor: pointer;
	}

	.ymdText-pc-year{
		font-size: 17px;
		font-weight: 500;
	}

	.ymdText-pc-date{
		display: inline;
		font-size: 20px;
		font-weight: 500;
	}

	.ymdText-pc-add{
		display: none;
	}

	#menuName{
		display: block;
		color : #fe4e65;
		font-size: 24px;
		top: 30%;
		width: 100%;
		text-align: center;
		position: absolute;
	}

	#menuDescription{
		display: block;
		color : #ffffff;
		font-size: 15px;
		top: 70%;
		width: 100%;
		text-align: center;
		position: absolute;
	}

	.weekday_style{
		margin-right: 8px;
	}

	#gapbox{
		padding-bottom: 0px;
	}

	#countRemain{
		margin-bottom: 0px;
	}

	#calendar td{
		border-left:0.5px solid #cccccc;
		border-right: 0.5px solid #cccccc;
	}

	.arrowButtonPC{
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	.arrowButtonPC a:first-child{
		height: 100%;
		width: 25%;
		float: left;
		cursor: pointer;
	}

	.arrowButtonPC a:last-child{
		height: 100%;
		width: 25%;
		float: right;
		cursor: pointer;
	}

	.arrowButtonPC a:first-child:active{
		background: #cccccc;
	}

	.arrowButtonPC a:last-child:active{
		background: #cccccc;
	}

	.arrowButtonPC img{
		position: fixed;
		top: 50%;
	}

	.arrowButton{
		display:none;
	}

	.prevDates, .nextDates{
		opacity: 0 !important;
		/*opacity: 0.2;*/
		background:grey;
	}

	.greydateMytime,.dateMytime{
		width: 	38px;
		height: 38px;
		top: 	31px;
	}

	.admonth{
		margin-top: 25px;
	}

	.memo{
		display: block;
		position: absolute;
		top: 75px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		text-align: center;
		color: #282828;
		font-size: 13px;
	}

	.greymemo{
		color: #868686 !important;
	}

	.group_plan_indicate{
		position: unset;
		left: unset;
		transform: unset;
		display: inline;
		float: left;
		margin-top: 3px;
		margin-left: 3px;
		width: 20px;
	}
	.group_plan_indicate_past{
		position: unset;
		left: unset;
		transform: unset;
		display: inline;
		float: left;
		opacity: 0.5;
		margin-top: 3px;
		margin-left: 3px;
		width: 20px;
	}

	.balloon{
		/*background: #e4e4e4;
		width: 40px;*/
		height: auto;
		width: 95%;
		font-size: 12.5px;
		font-weight: 400;
		padding-top: 10px;
		z-index: -2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.balloon div{
		background: #e4e4e4;
		margin: 1px;
		border-radius: 2px;
	}

	.blackballoon{
		color: #ffffff;
		/*background: #3b3d3d;
		width: 40px;*/
		height: auto;
		width: 95%;
		font-size: 12.5px;
		font-weight: 300;
		padding-top: 10px;
		z-index: -2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.blackballoon div{
		background: #3b3d3d;
		margin: 1px;
		border-radius: 2px;
	}

	.monthplans{
		display: block;
		height: 19px;
		text-overflow: ellipsis;
		overflow: hidden;
		/*white-space: nowrap;*/
	}
	.monthplans_count{
		display: none;
	}

	.holidayName{
		display: inline;
	}

	.dateMytime{
		display: none;

	}

	.greydateMytime{
		display: none;

	}

	.calendar-day-style{  /*왈화수목금토일 스타일 */
		font-size: 15px;
	}

	.arrowButton a{
		position: absolute;
		top: 78%;
		font-size: 35px;
		font-weight: 600;
		color: #ffffff;
		text-decoration: none;
		width: 25px;
		height: 25px;
		text-align: center;
	}


	#countRemain{
		margin-bottom: 0px
	}

	#gapbox{
		padding-bottom: 0px;
	}

	.week-style{ /*week 스타일*/
		background-color: transparent;
		position: relative;
		width: 100%;
		border-bottom: 1px solid #cccccc;
		height: 110px;
		min-height: 42px;
		font-size: 18px;
		font-weight: 400;
		padding-left: 0px;
		padding-right: 0px;
	}

	#date{
		position: fixed;
		padding: 0;
		top: 0;
		height: 42px;
		background-color: #f7f7f7;
		margin-top: 215px;
		z-index: 5;
	}
	#date td{
		width: 14.3%;
		text-align: center;
		border: 1px solid #cccccc;
	}


	.blackballoon_trainer,.balloon_trainer{
		position: relative;
		color :#282828;
		background-color: transparent;
		font-size: 15px;
		font-weight: 500;
		width:27px;
		margin-top: 20px;
		left:58%;
	}

	._classTime img{
		position: relative;
		display: inline;
		width: 12px;
		margin-left: 1px;
		margin-right: 1px;
		left: unset;
		top: unset;
		height: unset;
	}

	.calendar-style{
		text-align: right;
	}

	#calendar td{
		vertical-align: unset;
		height: 100%;
		padding-top: 3px;
		cursor: pointer;
	}
	#calendar td span:nth-of-type(2){
		margin-right: 10px;
	}

	.today{
		color: transparent;
	}

}


#popup_sign_img{
	display: none;
	position: relative;
	background: #ffffff;
}

#id_sign_img{
	width: 100px;
	margin-right: 14.845px;
	margin-left: 14.845px;
	filter: invert(100);
}
