


/*(공통) 모든 페이지에서 사용할 수 있는 오브젝트, 폰트스타일*/
.content_page{
    position: fixed;
    top: 50px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    /*height: 100%;*/
}
.box_full{
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.box_card{
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.textbox_title{
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: bold;
}
    

.textbox_subtitle{
    height: 20px;
    line-height: 20px;
    padding: 0 20px 0 20px;

    font-size:11px;
    color: #808080;
    font-weight: bold;
}
    
.textbox_boxtitle{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #000000;
}
    



.tag_wrapper{
    text-align: center;
    height: 21px;
}
    .tag{
        display: inline-block;
        width: 58px;
        height: 21px;
        line-height: 21px;
        border-radius: 11px;
        text-align: center;
        vertical-align: top;

        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }


.textbox_article{
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    color: #b3b3b3;
}

.textbox_data{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    letter-spacing: -0.5px;
}


.textbox_plancomment{
    height: 40px;
    line-height: 40px;

    font-size: 12px;
    letter-spacing: -0.5px;
    color: #000000;
}


.textbox_notice{
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    color: #666666;
}
    .textbox_notice > span{
        color: #fe4e65;
    }


.textbox_card_type{
    height: 24px;
    line-height: 24px;
    color: #fe4e65;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.textbox_phone{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    font-weight: 500;
    color: #fe4e65;
}

.photobox{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 2px solid #fe4e65;
    border-radius: 50%;
}


.button_gen{
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}

.button_big{
    width: 100%;
    height: 55px;
    line-height: 45px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border: 5px solid #f0f0f0;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.button_x{

}

.icon_arrow{
    height: 6px;
    padding: 9px;
}

.fontbg_white_pink{
    color: #ffffff;
    background-color: #fe4e65;
}
.fontbg_white_black{
    color: #ffffff;
    background-color: #282828;
}
.fontbg_black_white{
    color: #282828;
    background-color: #ffffff;
}
.fontbg_white_grey{
    color: #ffffff;
    background-color: #656565;
}




.tablecell_x2{
    display: table-cell;
    width: 50%;
}
.tablecell_x3{
    display: table-cell;
    width: 33.33%;
}
.tablecell_x4{
    display: table-cell;
    width: 25%;
}
.tablecell_x5{
    display: table-cell;
    width: 20%;
}



/*(공통) 모든 페이지에서 사용할 수 있는 오브젝트, 폰트스타일*/