/*(공통) 모든 페이지에서 사용할 수 있는 오브젝트, 폰트스타일*/
.textbox_title{ 
    height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px 0 20px;
}
    .fontstyle_title{
        font-size: 20px;
        letter-spacing: -0.5px;
        font-weight: bold;
    }

.textbox_subtitle{
    height: 20px;
    padding: 0 20px 0 20px;
}
    .fontstyle_subtitle{
        font-size:11px;
        color: #808080;
        font-weight: bold;
    }

.fullbox_mb{
    height: 270px;
    background-color: #ffffff;
    padding: 20px;
}

.shadowbox_mb{
    height: 158px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
/*(공통) 모든 페이지에서 사용할 수 있는 오브젝트, 폰트스타일*/