/*(공통) 모든 페이지에서 사용할 수 있는 오브젝트, 폰트스타일*/
    .content_page{
        position: fixed;
        top: 50px;
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        /*height: 100%;*/
    }

/* 박스 */
    .obj_box_nav_bar{
        width: 100%;
        height: 50px;
        top: 0;
        left: 0px;
        background-color: #ffffff;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.03);
        z-index: 1;
    }

    .obj_box_full{
        height: auto;
        background-color: #ffffff;
        padding: 20px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
    }
    .obj_box_card{
        height: auto;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }
    .obj_box_schedule{
        height: auto;
        background-color: #ffffff;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }
    .obj_box_photo{
        display: inline-block;
        height: 40px;
        width: 40px;
        border: 2px solid #fe4e65;
        border-radius: 50%;
    }

/* 텍스트 박스 */
    .obj_font_size_20_weight_bold{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    .obj_font_size_16_weight_bold{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    .obj_font_size_16_weight_500{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }
    .obj_font_size_14_weight_500{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }
    .obj_font_size_14_weight_normal{
        font-size: 14px;
        letter-spacing: -0.5px;
    }
    .obj_font_size_13_weight_bold{
        font-size: 13px;
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    .obj_font_size_13_weight_500{
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }
    .obj_font_size_12_weight_bold{
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    .obj_font_size_12_weight_500{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }
    .obj_font_size_12_weight_normal{
        font-size: 12px;
        letter-spacing: -0.5px;
    }
    .obj_font_size_11_weight_bold{
        font-size:11px;
        font-weight: bold;
        letter-spacing: -0.3px;
    }
    .obj_font_size_11_weight_500{
        font-size:11px;
        font-weight: 500;
        letter-spacing: -0.3px;
    }
    .obj_font_size_11_weight_normal{
        font-size: 11px;
        letter-spacing: -0.3px;
    }

/* 글자 색상 */
    .obj_font_color_black{
        color: #000000;
    }
    .obj_font_color_light_black{
        color: #333333;
    }
    .obj_font_color_dark_grey{
        color: #737373;
    }
    .obj_font_color_grey{
        color: #999999;
    }
    .obj_font_color_light_grey{
        color: #b3b3b3;
    }
    .obj_font_color_white{
        color: #ffffff;
    }
    .obj_font_color_pters_red{
        color: #fe4e65;
    }
    .obj_font_color_light_blue{
        color: #509cf2;
    }
    .obj_font_color_pters_dark_red{
        color: #f25050;
    }

/* 버튼 */
    .obj_icon_x{
        width: 24px;
        height: 24px;
    }
    .obj_icon_expand{
        width: 24px;
        height: 24px;
    }
    .obj_icon_arrow{
        width: 24px;
        height: 24px;
    }

    .obj_button_gen{
        display: inline-block;
        width: 90px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        border-radius: 2px;
        cursor: pointer;
    }
    .obj_button_big{
        width: 100%;
        height: 55px;
        line-height: 45px;
        text-align: center;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        border: 5px solid #f0f0f0;
        border-radius: 2px;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }

    .obj_tag{
        display: inline-block;
        width: 58px;
        height: 21px;
        line-height: 21px;
        border-radius: 11px;
        text-align: center;
        vertical-align: top;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }


/* 버튼 글자, 배경 색상 */
    .obj_font_bg_white_pink{
        color: #ffffff;
        background-color: #fe4e65;
    }
    .obj_font_bg_white_black{
        color: #ffffff;
        background-color: #282828;
    }
    .obj_font_bg_black_white{
        color: #282828;
        background-color: #ffffff;
    }
    .obj_font_bg_white_grey{
        color: #ffffff;
        background-color: #656565;
    }
    .obj_font_bg_white_dark_grey{
        color: #ffffff;
        background-color: #464646;
    }

/* table */
    .obj_table_raw{
        display: table;
        width: 100%;
        vertical-align: middle;
    }
    .obj_table_cell_x2{
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
    .obj_table_cell_x3{
        display: table-cell;
        width: 33.33%;
        vertical-align: middle;
    }
    .obj_table_cell_x4{
        display: table-cell;
        width: 25%;
        vertical-align: middle;
    }
    .obj_table_cell_x5{
        display: table-cell;
        width: 20%;
        vertical-align: middle;
    }
    .obj_table_cell_x7{
        display: table-cell;
        width: 14.28%;
        vertical-align: middle;
    }

/*(공통) 모든 페이지에서 사용할 수 있는 오브젝트, 폰트스타일*/