/*기본 html, body스타일*/
        html{
            font-family: 'Noto Sans KR',sans-serif !important;
            background-color: #f7f5f6;
        }
        body{
            padding-top: 50px;
            margin: 0;
            /*height: 100%;*/
        }

/*Navbar 관련 CSS*/

    /*폰트 임포트*/
        @import url(/static/common/fonts/notosanskr.css);

    

    /*NavBar 스타일*/
        nav{
            /*Nav바 스타일*/
            position:fixed; 
            width: 100%;
            height: 50px;
            top: 0; 
            left: 0px; 
            background-color: #ffffff;
            box-shadow: 0 0 10px 0 rgba(130, 130, 130, 0.2);
            z-index: 1;

            /*Nav바 폰트스타일*/
            font-size: 13px;
            font-weight: bold;
        }
            nav > div{
                line-height: 37px;
                margin-top: 10px;
            }
            .nav_trainee_menubox_l{
                position: absolute;
                left: 20px;
            }
            .nav_trainee_menubox_r{
                position: absolute;
                right: 20px;
            }
                nav > div > a >  div{
                    display: inline-block;
                    /*padding: 0 5px 0 5px;*/
                    border-bottom: 3px solid transparent;
                    text-align: center;
                    /*cursor: pointer;*/
                }
                #nav_btn_home{
                    width: 30px;
                    margin-right: 10px;
                }
                #nav_btn_plan{
                    width: 40px;
                    margin-right: 10px;
                }
                #nav_btn_programselect{
                    width: 90px;
                }
                #nav_btn_alarm{

                }
                #nav_btn_menu{

                }
                

        .nav_selected{
            border-bottom-color: #fe4e65;
            color: #fe4e65;
        }
        .nav_disabled{
            color: #999999;
        }

    /*모바일 사이드 메뉴*/
    #pters_mobile_menu{
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: fixed;
        transform: translateX(100%);
        top: 0;
        z-index: 1500;
    }
        #pters_mobile_menu .wrapper_top{
            margin-top: 38px;
            margin-bottom:  47px;
            padding: 0 20px;
        }
            #pters_mobile_menu .wrapper_top .logo_pters{
                width: 80px;
                vertical-align: top;
            }
            #pters_mobile_menu .wrapper_top .button_x{
                width: 15px;
                padding: 4px;
                float: right;
            }
        #pters_mobile_menu .wrapper_sidemenu_items{
            padding: 0 20px;
        }
        #pters_mobile_menu .wrapper_sidemenu_items .textbox_title{
            margin-bottom: 15px;
        }
        #pters_mobile_menu .wrapper_sidemenu_items .textbox_boxtitle{
            text-align: left;
            margin-bottom: 10px;
        }
        .textbox_menu_inquiry{
            padding: 20px 0;
            color: #fe4e65;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            margin-top: 20px;
            margin-bottom: 20px;
        }


    /*OS 기본요소 편집*/
        a{
            text-decoration: none;
        }
            a:-webkit-any-link{
                color: unset;
            }
/*Navbar 관련 CSS*/


/*(공통) 모든 페이지에서 사용할 수 있는 오브젝트, 폰트스타일*/
.content_page{
    position: fixed;
    top: 50px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    /*height: 100%;*/
}
.box_full{
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.box_card{
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.textbox_title{
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: bold;
}
    

.textbox_subtitle{
    height: 20px;
    line-height: 20px;
    padding: 0 20px 0 20px;

    font-size:11px;
    color: #808080;
    font-weight: bold;
}
    
.textbox_boxtitle{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #000000;
}
    



.tag_wrapper{
    text-align: center;
    height: 21px;
}
    .tag{
        display: inline-block;
        width: 58px;
        height: 21px;
        line-height: 21px;
        border-radius: 11px;
        text-align: center;
        vertical-align: top;

        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }


.textbox_article{
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    color: #b3b3b3;
}

.textbox_data{
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    letter-spacing: -0.5px;
}


.textbox_plancomment{
    height: 40px;
    line-height: 40px;
    text-align: center;

    font-size: 12px;
    letter-spacing: -0.5px;
    color: #000000;
}


.textbox_notice{
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    color: #666666;
}
    .textbox_notice > span{
        color: #fe4e65;
    }


.textbox_card_type{
    height: 24px;
    line-height: 24px;
    color: #fe4e65;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.textbox_phone{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    font-weight: 500;
    color: #fe4e65;
    text-align: center;
}

.photobox{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 2px solid #fe4e65;
    border-radius: 50%;
}


.button_gen{
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
}

.button_x{

}

.icon_arrow{
    height: 6px;
    padding: 9px;
}

.fontbg_white_pink{
    color: #ffffff;
    background-color: #fe4e65;
}
.fontbg_white_black{
    color: #ffffff;
    background-color: #282828;
}
.fontbg_black_white{
    color: #282828;
    background-color: #ffffff;
}
.fontbg_white_grey{
    color: #ffffff;
    background-color: #656565;
}




.tablecell_x2{
    display: table-cell;
    width: 50%;
}
.tablecell_x3{
    display: table-cell;
    width: 33.33%;
}
.tablecell_x4{
    display: table-cell;
    width: 25%;
}
.tablecell_x5{
    display: table-cell;
    width: 20%;
}



/*(공통) 모든 페이지에서 사용할 수 있는 오브젝트, 폰트스타일*/