<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Pters by Bebep {% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "common/css/bootstrap.min.css" %}">
    <script src="{% static "common/js/jquery-3.1.1.min.js" %} "></script>
    <script src="{% static "common/js/bootstrap.min.js" %} "></script>

</head>

<body>
    <div id="navbar">
        {% block navbar %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            <footer class="container-fluid text-center">
              <p>© 2017 BEBEP Project</p>
            </footer>
        {% endblock %}
    </div>
</body>

</html>
