{% extends "base.html" %}
{% load static %}
{% block navbar %}
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button id="upbutton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="uptext" class="navbar-brand" href="#">유재석 회원님 월간 일정</a>
                <button id="upbutton-alarm" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-alarm" aria-expanded="false" aria-controls="navbar">
                    <img src={% static "common/res/bell.png" %} style="width:30px;">
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><img src={% static "common/res/profile.jpg" %} alt="profile" style="display: block;width: 150px; margin-left: auto; margin-right: auto;margin-top: 10px;margin-bottom: 20px;"></li>
                    <li><a href="./page_month/PTers_month.html" class="navbar-listcustom" id="month">오늘 일정</a></li>
                    <li><a href="#" class="navbar-listcustom">일정 관리</a></li>
                    <li><a href="#" class="navbar-listcustom">회원 명단</a></li>
                    <li><a href="#" class="navbar-listcustom">운동 목록</a></li>
                    <li><a href="#" class="navbar-listcustom">설정</a></li>
                </ul>
            </div>
            <div id="navbar-alarm" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-listcustom" style="background-color: transparent;">새로운 알림이 없습니다.</a></li>

                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
{% endblock %}

{% block content %}
    <!--Swiper-->

    <div id="ymdText">
        <img src={% static "common/res/bg.png" %} alt="bg-image" style="width: 100%;height:auto;position: relative;z-index: -1;">
        <div id="yearText">
        </div>
        <div id="monthText">
        </div>
    </div>

    <div id="calendar" class="container" > <!-- Calendar container-->
        <div id="date" class="container-fluid week-style"> <!--월화수목금토일-->
            <table class="calendar-style calendar-day-style">
                <tr>
                    <td id="sunday"><p class="calendar_image weekday_style sunday">일</p></td>
                    <td id="monday"><p class="calendar_image weekday_style">월</p></td>
                    <td id="tuesday"><p class="calendar_image weekday_style">화</p></td>
                    <td id="wednesday"><p class="calendar_image weekday_style">수</p></td>
                    <td id="thursday"><p class="calendar_image weekday_style">목</p></td>
                    <td id="friday"><p class="calendar_image weekday_style">금</p></td>
                    <td id="saturday"><p class="calendar_image weekday_style saturday">토</p></td>
                </tr>
            </table>
        </div> <!--월화수목금토일-->

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="slide0"></div> <!--Index0-->
                <div class="swiper-slide"></div> <!--Index1-->
                <div class="swiper-slide" id="slide2"></div> <!--Index2-->
            </div>  <!--Swiper-wrapper-->
        </div> <!--Swiper-container-->
        <!--Swiper-->
        <div class="swiper-pagination"></div>
        <div id="cal_box" class="cal_box"></div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src={% static "common/js/bootstrap.min.js" %}></script>
        <script type="text/javascript" src={% static "common/js/skstyle.js" %}></script>
        <script type="text/javascript" src={% static "common/js/skcalendar.js" %}></script>
        <script type="text/javascript" src={% static "common/js/jquery.swipe.js" %}></script>
        <script type="text/javascript" src={% static "common/js/jquery.touch.js" %}></script>
        <script type="text/javascript" src={% static "common/js/swiper.jquery.min.js" %}></script>
        <script>
            var myswiper = new Swiper('.swiper-container',{
                initialSlide : 1,
                speed : 50,
                preventClicks : true,
                pagination : '.swiper-pagination'
            });
        </script>
    </div>
{% endblock %}
