{% extends "base.html" %}
{% load static_url %}
{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/login/login.registration.css" %}>
{% endblock %}
{% block content %}
    <div id="root_content">

        <div id="registration_box">

            <div class="registration_top" style="border-bottom: 0">
                <div class="registration_left" onclick="location.href='/'"><img src="/static/common/icon/icon_arrow_l_black.png" style="width:24px; height:24px;"></div>
                <div class="registration_title"></div>
                <div class="registration_right"></div>
            </div>
            <div class="registration_content" style="min-height: calc(100% - 340px);">
                <!--<div class="pters_logo"></div>-->
            </div>
            <div class="registration_foot">
                <form action="{% url 'login:login' %}" id="login-form" method="post">
                    <input type="hidden" name="keyword" id="keyword">
                    <input type="hidden" name="auto_login_check" value="1">
                    <input type="hidden" name="next_page" value = '{% url 'login:index' %}'>
                    {% csrf_token %}
                    <!-- 네이버 로그인 버튼 노출 영역 -->
                    <!--
                    <div class="social_login_box" onclick="location.href=naverLogin.generateAuthorizeUrl();" style="background-color: #0dd25a;">
                        <div class="social_login_img"><img src="/static/user/res/login/naver.svg" style="width: 16px; height: 14.7px; vertical-align:middle;"></div>
                        <span class="social_login_text">네이버 로그인</span>
                        <div style="display:table-cell; width:60px;"></div>
                    </div>
                    -->
                    <!-- 카카오톡 로그인 버튼 노출 영역 -->
                    <!--
                    <div class="social_login_box" id="custom-login-btn" onclick="javascript:loginWithKakao();" style="background-color: #ffeb00; margin-top:12px;">
                        <div class="social_login_img"><img src="/static/user/res/login/naver.svg" style="width: 16px; height: 14.7px; vertical-align:middle;"></div>
                        <span class="social_login_text" style="color:#3a1c1d;">카카오톡 로그인</span>
                        <div style="display:table-cell; width:60px;"></div>
                    </div>
                    -->
                    <!-- 구글 로그인 버튼 노출 영역 -->
                    <!--<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="width:179px;margin-bottom:8px;"></div>-->
                    <!-- 페이스북 로그인 버튼 노출 영역 -->
                    <!-- <fb:login-button
                      scope="public_profile, email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="text-align: center;display: block">
                    </fb:login-button> -->

                    <!--<div style="width:320px; height: 1px;background:#f5f2f3; margin-top: 20px; margin-bottom: 20px;"></div>-->

                    <!-- PTERS 로그인 입력 영역 -->
                    <div>
                        <input class="pters_login_input" type="text" name="username" id="username_id" placeholder="아이디" autofocus>
                    </div>
                    <div style="margin-top:8px;">
                        <input class="pters_login_input" type="password" name="password" id="password_id" placeholder="비밀번호" onkeyup="enter_key();">
                    </div>
                    <!-- PTERS 로그인 버튼 노출 영역 -->
                    <div class="social_login_box" onclick="document.getElementById('login-form').submit();" style="background-color: #fe4e65; margin-top:12px;">
                        <div class="social_login_img"></div>
                        <span class="social_login_text" style="color:#ffffff; text-align:center;">로그인</span>
                        <div style="display:table-cell; width:60px;"></div>
                    </div>


                    <div style="width:320px; height: 1px;background:#f5f2f3; margin-top: 16px; margin-bottom: 8px;"></div>
                    <!-- 회원가입, 비밀번호 재설정 버튼 노출 영역 -->
                    <div style="display:table; width:100%; height: 48px; margin-bottom:20px;">
                        <div class="general_text" style="color:#858282;" onclick="location.href='{% url 'login:check_registration' %}'">회원 가입</div>
                        <div class="general_text" style="color:#858282;" onclick="location.href='{% url 'login:reset_password' %}'">비밀번호 초기화</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block local_js_footer %}
<script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
<script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
<script type="text/javascript" src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<!--<script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>-->
<script type="text/javascript">
    var kakao_login_test = true;

    function enter_key() {
        if (window.event.keyCode == 13) {
             // 엔터키가 눌렸을 때 실행할 내용
             document.getElementById('login-form').submit();
        }
    }

    $('#errorMessageBar span:nth-child(2)').click(function(){
        $('#errorMessageBar').fadeOut('fast')
    });

    window.addEventListener('load', function () {
        {% for message in messages %}
            {% if message.tags == "error" %}
                show_error_message('{{ message }}');
            {% endif %}
        {% endfor %}
        kakao_login_test = true;
        var val = location.href.substr(
            location.href.lastIndexOf('=') + 1
        );
        if(val=='naver'){
            location.href = naverLogin.generateAuthorizeUrl();
        }
        $.ajax({
            url:'https://nid.naver.com/oauth2.0/token?grant_type=authorization_code&client_id=VM6zl0mLyBgjf9dgw1cC&client_secret=gGI681B6TR',
            type:'POST',
            dataType : 'json',

            beforeSend:function(){
                //beforeSend();
            },

            //통신성공시 처리
            success:function(data){
                var jsondata = JSON.parse(data);
            },

            //보내기후 팝업창 닫기
            complete:function(){
            },

            //통신 실패시 처리
            error:function(){

            }
        });
    });

    //네이버아디디로로그인 초기화 Script
    var naverLogin = new naver.LoginWithNaverId(
        {
            clientId: "h5MuvYzSFLlrFTs19g0V",
            callbackUrl: "https://www.pters.co.kr/login/login_simple_naver/",
            //clientId: "VM6zl0mLyBgjf9dgw1cC",
            //callbackUrl: "http://localhost:8000/login/login_simple_naver/",
            isPopup: false, /* 팝업을 통한 연동처리 여부 */
            callbackHandle: false,
            loginButton: {color: "white", type: 1, height: 39} /* 로그인 버튼의 타입을 지정 */
        }
    );
    /* 설정정보를 초기화하고 연동을 준비 */
    naverLogin.init();
    // <!--  네이버아이디로로그인 초기화 Script -->


    // <!-- 카카오 로그인  Script -->
    function loginWithKakao() {
        if(kakao_login_test){
            Kakao.init('4533bb10ac61e20907cd273f0941210a');
            kakao_login_test = false;
        }
        // 로그인 창을 띄웁니다.
        Kakao.Auth.login({
            success: function(authObj) {
                location.href = '/login/login_simple_kakao/?access_token='+authObj.access_token;
            },
            fail: function(err) {
                alert(JSON.stringify(err));
            }
        });
    }

// <!-- 구글 로그인  Script -->
/*
    var google_login_check = false;
    window.addEventListener('load', function () {
        google_signOut();
    });
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        if(google_login_check == true){
            var profile = googleUser.getBasicProfile();
                $('#id_new_sns_id').attr('value', profile.getId());
                $('#id_sns_username').attr('value', profile.getEmail());
                $('#id_sns_email').attr('value', profile.getEmail());
                $('#id_sns_last_name').attr('value', profile.getFamilyName() +profile.getGivenName());
                $('#id_sns_first_name').attr('value', );
                $('#id_sns_type').attr('value', 'Google');
                var id_token = googleUser.getAuthResponse().id_token;
                $('#id_social_accessToken').attr('value', id_token);
                document.getElementById('sns-form').submit();
                // The ID token you need to pass to your backend:
        }
      }
    function google_signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
        google_login_check = true;
      }
*/
</script>
{% endblock %}
