
{% load static_url %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

{% block local_css %}

    <meta name="registertrainer" content="trainer_register">
    <link rel="stylesheet" href={% static_url "user/css/trainer/pters.trainer.register.css" %}>

    <link rel="icon" href="/static/common/favicon.ico">
    <link rel="apple-touch-icon" href="/static/common/favicon-152.png">
    <link rel="shortcut icon" href="/static/common/favicon-152.png">

{% endblock %}

{% block content %}
    <body>

    <form action="{% url 'login:add_member_info' %}" id="add-center-member-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="name" id="newname" value="" >
        <input type="hidden" name="sex" id="newsex" value="" >
        <input type="hidden" name="id" id="newid" value="" >
        <input type="hidden" name="password" id="newpw" value="" >
        <input type="hidden" name="email" id="newemail" value="" >
        <input type="hidden" name="birthday" id="newbirth" value="" >
        <input type="hidden" name="address" id="newregion" value="" >
        <input type="hidden" id="id_duplicate_check" value="" >
        <input type="hidden" name="group_type" value="center">
        <input type="hidden" name="next_page" value="{% url 'login:login' %}" >
    </form>


    <div class="registerbox">
        <p class="registerbox_label"><span>PTERS </span>센터 사업자 신규 가입</p>

        <div class="outerbox">
            <input type="text" name="" maxlength="5" placeholder="성" id="familyname_input">
            <input type="text" name="" maxlength="5" placeholder="이름" id="lastname_input">
            <button class="selector_button" data-type="M">남</button>
            <button class="selector_button" data-type="W">여</button>
        </div>

        <div class="outerbox">
            <input type="text" name="" placeholder="새로운 ID" id="id_input">
            <button class="register_button" onclick="javascript:check_id();">중복 확인</button>
            <span class="id_confirm"></span>
        </div>

        <div class="outerbox">
            <input type="password" name="" placeholder="새 비밀번호"  id="pw_input">
            <input type="password" name="" placeholder="비밀번호 확인" id="pw_input_re"><span class="pw_confirm"></span>
        </div>

        <div class="outerbox">
            <input type="" name="" placeholder="이메일"  id="email_input"> @
            <input type="" name="" placeholder="이메일 뒷부분"  id="email_input_re" readonly>
            <select class="login_dropdown" id="email_option">
                <option id="optionnone">선택</option>
                <option id="gmail">gmail.com</option>
                <option id="naver">naver.com</option>
                <option id="daum">daum.net</option>
                <option id="self">직접 입력</option>
            </select>
        </div>

        <div class="outerbox">
            <select class="login_dropdown" id="birth_year">
            </select>
            <select class="login_dropdown" id="birth_month">
            </select>
            <select class="login_dropdown" id="birth_date">
            </select>
            <span class="birth_confirm"></span>
        </div>

        <div class="outerbox">
            <span>지역</span>
            <select class="login_dropdown"  id="region_input">
                <option>서울특별시</option>
                <option>부산광역시</option>
                <option>인천광역시</option>
                <option>대구광역시</option>
                <option>대전광역시</option>
                <option>광주광역시</option>
                <option>울산광역시</option>
                <option>세종특별자치시</option>
                <option>제주특별자치도</option>
                <option>강원도</option>
                <option>경기도</option>
                <option>충청남도</option>
                <option>충청북도</option>
                <option>전라남도</option>
                <option>전라북도</option>
                <option>경상남도</option>
                <option>경상북도</option>
            </select>
        </div>

        <p class="registerbox_smalllabel">개인정보 약관</p>
        <div class="contractread">
            개인정보 약관
        </div>
        <div  class="contractread_check">
            <input type="checkbox" name="" id="checkbox1"><span style="font-size: 12px;">위 약관에 동의합니다.</span>
        </div>

        <p class="registerbox_smalllabel">가입 약관</p>
        <div class="contractread">
            가입 약관
        </div>
        <div class="contractread_check">
            <input type="checkbox" name="" id="checkbox2"><span style="font-size: 12px;">위 약관에 동의합니다.</span>
        </div>


        <div class="buttongroup">
            <button id="registerMember">
                <span>등록</span>
            </button>
            <button id="cancelMember" onclick="goHome()">
                <span>취소</span>
            </button>
        </div>


    </div>

    <footer class="fixfooter">
        <div class="bottomfooter1">
            <span><img src="/static/user/res/spooner.png" style="width: 60px;margin-right: 20px;vertical-align: middle;"></span>
            <span>회사소개</span><span style="margin-left:10px;margin-right: 10px;">|</span>
            <span>이용안내</span><span style="margin-left:10px;margin-right: 10px;">|</span>
            <span>제휴제안</span><span style="margin-left:10px;margin-right: 10px;">|</span>
            <span>개인정보처리방침</span><span style="margin-left:10px;margin-right: 10px;">|</span>
            <span>고객센터</span><span style="margin-left:10px;margin-right: 10px;">|</span>
        </div>
        <div class="bottomfooter2">
            <p>스푸너(SPOONER) 통신판매업 신고 : 제 2017-서울동작-0672호, 사업자등록번호 : 463-56-00284, 대표자 : OOO,XXX</p>
            <p>Tel : xxxx-xxxx, Fax : xxxx-xxxx, 주소 : 서울특별시 동작구 신대방동 보라매로 5가길 7 캐릭터그린빌 오피스텔 x층 XXX호</p>
            <p>이용 및 제휴문의 : skkim@spooner.co.kr</p>
            <p>- </p>
            <p>Copyright(C) SPOONER All rights reserved.</p>
        </div>
    </footer>


{% endblock %}

{% block local_js_footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>

        $('#id_input').keyup(function(){
            var userinput = $(this).val()
            $('#newid').attr('value',userinput)
        })

        $('#pw_input_re').keyup(function(){
            if($('#pw_input').val().length > 0){
                if($(this).val().length==0){
                    $('.pw_confirm').css({'display':'none'})
                    $('#newpw').attr('value',"")
                }else if($(this).val() != $('#pw_input').val()){
                    $('.pw_confirm').text('비밀번호 불일치').css({'display':'inline','color':'#fe4e65'})
                    $('#newpw').attr('value',"")
                }else{
                    $('.pw_confirm').text('비밀번호 일치').css({'display':'inline','color':'green'})
                    $('#newpw').attr('value',$(this).val())
                }
            }else{
                $('.pw_confirm').css({'display':'none'})
                $('#newpw').attr('value',"")
            }
        })


        var yearoption = ['<option>연도</option>']
        for(var i=2018; i>=1908; i--){
            yearoption.push('<option>'+i+'년</option>')
        }
        var birth_year_options = yearoption.join('')
        $('#birth_year').html(birth_year_options)


        var monthoption = ['<option>월</option>']
        for(var i=1; i<=12; i++){
            monthoption.push('<option data-month="'+i+'">'+i+'월</option>')
        }
        var birth_month_options = monthoption.join('')
        $('#birth_month').html(birth_month_options)


        var dateoption = ['<option>일</option>']
        for(var i=1; i<=31; i++){
            dateoption.push('<option>'+i+'일</option>')
        }
        var birth_date_options = dateoption.join('')
        $('#birth_date').html(birth_date_options)


        $('#birth_month').change(function(){
            var dateoption = []
            $('#birth_date').html("")
            var lastDay = [31,29,31,30,31,30,31,31,30,31,30,31];
            var month = $(this).val().replace(/월/gi,"")
            for(var i=1; i<=lastDay[month-1]; i++){
                dateoption.push('<option>'+i+'일</option>')
            }
            var birth_date_options = dateoption.join('')
            $('#birth_date').html(birth_date_options)
        })


        $('.selector_button').click(function(){
            $(this).addClass('selector_button_checked')
            $(this).siblings().removeClass('selector_button_checked')
            $('#newsex').attr('value',$(this).attr('data-type'))
        })

        $('#familyname_input').keyup(function(){
            if($(this).val().length>0 && $('#lastname_input').val().length>0){
                $('#newname').attr('value', $(this).val() + '' + $('#lastname_input').val())
            }else{
                $('#newname').attr('value',"")
            }
        })

        $('#lastname_input').keyup(function(){
            if($(this).val().length>0 && $('#familyname_input').val().length>0){
                $('#newname').attr('value', $('#familyname_input').val() + '' + $(this).val())
            }else{
                $('#newname').attr('value',"")
            }
        })

        $('#email_input').keyup(function(){
            if($('#email_input_re').val().length>0){
                $('#newemail').attr('value', $(this).val()+'@'+$('#email_input_re').val())
            }else{
                $('#newemail').attr('value',"")
            }
        })

        $('#email_option').change(function(){
            if($(this).val() =="직접 입력"){
                $('#email_input_re').attr('readonly',false).val("")
                $('#email_input_re').keyup(function(){
                    if($('#email_input').val().length>0){
                        $('#newemail').attr('value', $('#email_input').val()+'@'+$('#email_input_re').val())
                    }else{
                        $('#newemail').attr('value',"")
                    }
                })
            }else if($(this).val()!="선택"){
                $('#email_input_re').val($(this).val())
                $('#email_input_re').attr('readonly',true)
            }else{
                $('#email_input_re').attr('readonly',true).val("")
            }

            if($('#email_input').val().length>0){
                $('#newemail').attr('value', $('#email_input').val()+'@'+$('#email_input_re').val())
            }else{
                $('#newemail').attr('value',"")
            }
        })

        $('#birth_year, #birth_month, #birth_date').change(function(){
            var year = $('#birth_year').val().replace(/년/gi,"")
            var month = $('#birth_month').val().replace(/월/gi,"")
            var date = $('#birth_date').val().replace(/일/gi,"")
            var birthdata = year+'-'+month+'-'+date
            $('#newbirth').attr('value',birthdata)
        })

        $('#region_input').change(function(){
            $('#newregion').attr('value',$(this).val())
        })

        $('#registerMember').click(function(){
            if($('#checkbox1').is(':checked') && $('#checkbox2').is(':checked')){
                alert('정상 : 테스트 페이지 입니다.')
                document.getElementById('add-center-member-form').submit();
            }else{
                alert('약관 동의필요 : 테스트 페이지 입니다.')
            }
        })


        function goHome(){
            location.href="{% url 'login:register_type' %}"
        }

        function check_id(){
            $.ajax({
                url:'/login/check_member_id/',
                type:'GET',
                data:{"id" : $('#id_input').val() },
                dataType : 'html',
                async: false,

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    var id_check_message = jsondata.id_check_result
                    if(id_check_message[0].length>0){
                        var error_msg = id_check_message[0]
                        $('.id_confirm').text(error_msg).css({'display':'inline','color':'#fe4e65'})
                    }else{
                        $('.id_confirm').text('사용 가능').css({'display':'inline','color':'green'})
                    }
                },

                //보내기후 팝업창 닫기
                complete:function(){

                },

                //통신 실패시 처리
                error:function(){
                    alert("에러: 서버 통신 실패")
                },
            })
        }

    </script>
{% endblock %}

</body>



