<!DOCTYPE html>
<html lang="en">
<head>
    <title>피터스 - 레슨 일정 및 회원 관리 서비스</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WG2KK6D');</script>
    <!-- End Google Tag Manager -->
    <!--Google Adsense-->
    {#        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4554121851965192",
            enable_page_level_ads: true
        });
    </script>
    <!--Google Adsense-->
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
    <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 피아노, 과외등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 피아노, 과외등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="751903262384-dbtt6ho5imk5gssgn1rqpe3vs3linq15.apps.googleusercontent.com">

    {% block local_css %}

        <meta name="login" content="trainer_login">
        <link rel="stylesheet" href={% static_url "user/css/login/pters.trainer.login.css" %}>
        <link rel="stylesheet" href={% static_url "common/css/bootstrap.min.css" %} >
        <link rel="icon" href="/static/common/favicon.ico">
        {#        <link rel="apple-touch-icon" href="/static/common/favicon-152.png">#}
        {#        <link rel="shortcut icon" href="/static/common/favicon-152.png">#}

        {#        <link rel="icon" href="/static/common/favicon.ico">#}
        {#        <link rel="apple-touch-icon" href="/static/common/favicon-152.png">#}
        {#        <link rel="shortcut icon" href="/static/common/favicon-152.png">#}
        <style type="text/css">
            #errorMessageBar{
                display: block;
                width: 100%;
                position: sticky;
                top: 0;
                left: 0;
                height: 35px;
                text-align: center;
                background: red;
                color: #ffffff;
                font-size: 15px;
                font-weight: bold;
                z-index: 1500;
            }
            #errorMessageBar span{
                line-height: 35px;
            }
            #errorMessageBar span:nth-child(2){
                position: absolute;
                right: 0;
                margin-right: 10px;
                cursor: pointer;
            }

            @media(min-width: 600px){
                #errorMessageBar span:nth-child(2){
                    margin-right: 85px;
                }
            }

        </style>

    {% endblock %}
</head>
{% block content %}
    <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG2KK6D"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% for message in messages %}
        {% if message.tags == "error" %}

            <div id="errorMessageBar">
                <span id="errorMessageText">{{ message }}</span><span>닫기</span>
            </div>

        {% endif %}
    {% endfor %}

    <div class="pters_login_promote_box">
        <!--
        <nav class="main_nav">   
            <div class="main_nav_bg">   
            </div>
            <div class="main_nav_content">
                <h1><img src="/static/user/res/PTERS_logo_pure.png" alt="피터스 로고"></h1>
                <div class="login_form_nav">
{#                    <form action="{% url 'login:login' %}" id="login-form_nav" method="post">#}
{#                        {% csrf_token %}#}
                        <div id="idinput_nav">
{#                            <img src={% static_url "user/res/login/icon-user.png" %} id="idimg" alt="피터스 아이디">#}
                            <input type="text" class="loginboxstyle_nav form-control" name="username" placeholder="아이디" autofocus>
                        </div>
                        <div id="pwinput_nav" style="margin-top:5%;">
{#                            <img src={% static_url "user/res/login/icon-lock.png" %} id="pwimg" alt="피터스 비밀번호">#}
                            <input type="password" class="loginboxstyle_nav form-control" name="password" placeholder="비밀번호">
                        </div>
                        <div id="checkbox_nav" class="checkbox" style="margin-top:15px;margin-left:27px;">
                            <label><input type="checkbox" name="auto_login_check" value="1" >자동 로그인</label>
                        </div>
                        <div id="login-button_nav">
                            <button type="submit" class="form-control btn btn-primary" id="loginButton">로그인</button>
                        </div>
                        <input type="hidden" name="keyword" id="keyword_pc">
                        <input type="hidden" name="next_page" value = '{% url 'index' %}'>
                    </form>
                    <a href="/accounts/password/reset/"><div class="forgotPW">비밀번호를 잊으셨나요?</div></a>
                </div>
            </div>
        </nav>
        -->

        <div class="loginbox">
            <div class="logintext">
                <div><img src="/static/user/res/PTERS_logo_pure.png" id="pterstext" alt="피터스 로고"  onclick="location.href='{% url 'index' %}'"><span id="logintext">로그인</span></div>
            </div>
            <div id="loginboxbg">

            </div>
            <div>
                <form action="{% url 'login:login' %}" id="login-form" method="post">
                    {% csrf_token %}
                    <div id="idinput" class="pters_login_input">
                        <img id="idimg" alt="피터스 아이디" src={% static_url "user/res/login/icon-user.png" %}>
                        <input type="text" class="loginboxstyle form-control" name="username" id="username_id" placeholder="아이디" autofocus>
                    </div>
                    <div id="pwinput" style="margin-top:5%;"  class="pters_login_input">
                        <img id="pwimg" alt="피터스 비밀번호" src={% static_url "user/res/login/icon-lock.png" %}>
                        <input type="password" class="loginboxstyle form-control" name="password" id="password_id" placeholder="비밀번호">
                    </div>
                    <div class="checkbox" style="margin-top:15px;margin-left:27px;"  class="pters_login_input">
                        <label><input type="checkbox" name="auto_login_check" value="1" checked>다음부터 자동 로그인</label>
                    </div>
                    <div  class="pters_login_input">
                        <button type="submit" class="form-control btn btn-primary" id="loginButton">로그인</button>
                    </div>
                    <!-- 네이버아이디로로그인 버튼 노출 영역 -->
                    <div id="naverIdLogin"></div>
                    <!-- //네이버아이디로로그인 버튼 노출 영역 -->

                    <!-- 구글아이디로그인 버튼 노출 영역 -->
                    <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="width:179px;margin-bottom:8px;"></div> -->
                    <!-- //구글아이디로그인 버튼 노출 영역 -->

                    <!-- 페이스북아이디로그인 버튼 노출 영역 -->
                    <!-- <fb:login-button
                      scope="public_profile, email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="text-align: center;display: block">
                    </fb:login-button> -->
                    <!-- //페이스북아이디로그인 버튼 노출 영역 -->


                    <input type="hidden" name="keyword" id="keyword">
                    <div class="innerbox">
                        <a href="{% url 'registration_register' %}"><div id="registerButton">회원 가입</div></a>
                        <div class="seperate_bar"></div>
                        <a href="{% url 'auth_password_reset' %}"><div id="findIDPW">PW 초기화</div></a>
                    </div>
                    <input type="hidden" name="next_page" value = '{% url 'index' %}'>
                </form>
            </div>

            

        </div>

        <!--
        <div class="main_title">
            <div class="main_title_up">
                <h2><p>세상에서 가장 쉬운 일대일 PT 회원/일정 관리 시스템 </p></h2>
                <p><span><img src="/static/user/res/PTERS_logo_pure.png" alt="피터스 로고"></span><span>·피터스</span></p>
            </div>
            <div class="main_title_separate">
                <div></div>
            </div>
            <div class="main_title_down">
                <p>일정 관리는 쉽고 빨라지고, 회원의 만족도는 높아집니다.</p>
            </div>
            <button onclick="goPage(0)" class="singup_button">가입하기</button>
            <p style="font-size:13px;margin-top: 10px;color:#f4f4f4;">피터스는 누구에게나 무료입니다.</p>
        </div>


        <div class="button_next_view"><img src="/static/user/res/btn_next.png" style="transform: rotate(90deg);" onclick="goSlide(780)"></div>
        -->
    </div>
    <!--
    <div class="pters_login_promote_box_sub bg-light">
        <div>
            <img src="/static/user/res/login/promote/pters_weekcal_pc_mobile.png" alt="피터스 주간달력 예시">
        </div>
        <h3><label>24시간 언제든 레슨 일정 관리</label></h3>
        <div class="main_title_separate">
            <div></div>
        </div>
        <p>종이와 볼펜, 수정펜은 넣어두세요.</p>
        <p>언제 어디서라도 간편하게 나의 수업일정을 확인하세요!</p>
    </div>

    <div class="pters_login_promote_box_sub bg-dark">
        <div>
            <img src="/static/user/res/login/promote/pters_weekcal_add_pc_mobile.png" alt="피터스 일정 추가 예시">
            <img src="/static/user/res/login/promote/pters_sign_pc_mobile.png" alt="피터스 일정 완료 예시" style="height: 480px;">
        </div>
        <h3><label>스케쥴과 회원 관리를 간편하게</label></h3>
        <div class="main_title_separate">
            <div></div>
        </div>
        <p>간편하게 클릭과 터치로 일정을 등록하세요.</p>
        <p>일정을 완료하면 횟수도 자동으로 차감 계산됩니다.</p>
    </div>
    
    <div class="pters_login_promote_box_sub bg-light">
        <div>
            <img src="/static/user/res/login/promote/pters_trainee_calendar_pc_mobile.png" alt="피터스 회원 화면 예시">
        </div>
        <h3><label>일정 약속도 간편하게</label></h3>
        <div class="main_title_separate">
            <div></div>
        </div>
        <p>회원님이 트레이너의 예약 가능한 시간을 확인하고 선택하면 예약 끝</p>
        <p>트레이너는 업무시간과 OFF시간 설정등 다양한 설정으로 나만의 예약 가능시간을 만들 수 있습니다.</p>
    </div>

    <div class="pters_login_promote_box_sub bg-dark">
        <div>
            <img src="/static/user/res/login/promote/pters_trainer_push_notification_pc_mobile.png" alt="피터스 푸시 기능 예시">
        </div>
        <h3><label>다양한 기기에서 접속</label></h3>
        <div class="main_title_separate">
            <div></div>
        </div>
        <p>피터스는 PC 웹브라우저(크롬, 파이어폭스, 엣지, 사파리)와 스마트폰, 태블릿 등 다양한 기기에서 접속이 가능합니다.</p>
        <p style="margin-bottom: 20px;">브라우저, iOS, 안드로이드 앱을 사용하면 일정변경사항을 실시간 푸시로 알림을 받을 수 있습니다.</p>
    </div>
    -->

    <!--
        <a href="https://play.google.com/store/apps/details?id=kr.co.spooner.pters"><img src="/static/user/res/pters_android_download.png" style="width: 150px;" alt="pters 안드로이드 다운로드"></a>
        <p style="font-size: 12px;color:#cccccc">※iOS앱 4월중 출시 예정</p>
    -->

    <!--
    <div class="pters_login_promote_box_sub bg-light">
        <div>
            <img src="/static/user/res/login/promote/header.jpg" alt="피터스 무료 설명 background">
        </div>
        <label>피터스는 누구에게나 무료로 제공됩니다.</label>
        <div class="main_title_separate">
            <div></div>
        </div>
        <p>트레이너와 회원 모두에게 무료로 제공됩니다.</p>
        <p>여러분의 시간을 효율적으로 활용해 보세요.</p>
        <p>일정과 회원관리는 피터스에 맡기고 비즈니스의 생산성을 향상 시키세요.</p>

        <a href="/accounts/register/"><button class="singup_button">가입하기</button></a>
        <div class="button_next_view" style="position: relative;margin-top: 40px;bottom: 0;">
            <img src="/static/user/res/btn_next.png" style="transform: rotate(-90deg);" onclick="goSlide(0)">
        </div>
    </div>
    -->


    <footer class="fixfooter bottomzero">
        <div class="bottomfooter1">
            <!--
                <span>English</span><span style="margin-left:10px;margin-right: 10px;">|</span>
                <span>한국어</span><span style="margin-left:10px;margin-right: 10px;">|</span>
                <span>日本語</span><span style="margin-left:10px;margin-right: 10px;">|</span>
            -->
        </div>
        <div class="bottomfooter2">
            <span><img src="/static/user/res/spooner.png" style="width: 60px;margin-right: 20px;vertical-align: middle;"></span>
            <a href="http://www.spooner.co.kr" class="_company">회사소개</a><span style="margin-left:10px;margin-right: 10px;">|</span>
            <!--<a href="">제휴제안</a><span style="margin-left:10px;margin-right: 10px;">|</span>-->
            <a href='{% url 'policy' %}'>이용약관</a><span style="margin-left:10px;margin-right: 10px;">|</span>
            <a href='{% url 'privacy' %}'>개인정보처리방침</a><span style="margin-left:10px;margin-right: 10px;">|</span>
            <!--<a href="">고객센터</a><span style="margin-left:10px;margin-right: 10px;">|</span>-->
            <span style="line-height: 0; font-size:11px;">문의/제휴 support@pters.co.kr</span>
        </div>
    </footer>
    <!--
    <footer class="fixfooter">
            <div class="bottomfooter1">
                <span><img src="/static/user/res/spooner.png" style="width: 60px;margin-right: 20px;vertical-align: middle;"></span>
                <span>회사소개</span><span style="margin-left:10px;margin-right: 10px;">|</span>
                <span>이용안내</span><span style="margin-left:10px;margin-right: 10px;">|</span>
                <span>제휴제안</span><span style="margin-left:10px;margin-right: 10px;">|</span>
                <span>개인정보처리방침</span><span style="margin-left:10px;margin-right: 10px;">|</span>
                <span>고객센터</span><span style="margin-left:10px;margin-right: 10px;">|</span>
            </div>
            <div class="bottomfooter2">
                <p>스푸너(SPOONER) 통신판매업 신고 : 제 2017-서울동작-0672호, 사업자등록번호 : 463-56-00284, 대표자 : OOO,XXX</p>
                <p>Tel : xxxx-xxxx, Fax : xxxx-xxxx, 주소 : 서울특별시 동작구 신대방동 보라매로 5가길 7 캐릭터그린빌 오피스텔 x층 XXX호</p>
                <p>이용 및 제휴문의 : skkim@spooner.co.kr</p>
                <p>- </p>
                <p>Copyright(C) SPOONER All rights reserved.</p>
                <p> </p>
            </div>
    </footer>
-->
{% endblock %}

{% block local_js_footer %}

    <form action="{% url 'login:login_simple_sns' %}" id="sns-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" id="id_sns_username">
        <input type="hidden" name="email" id="id_sns_email">
        <input type="hidden" name="last_name" id="id_sns_last_name">
        <input type="hidden" name="first_name" id="id_sns_first_name">
        <input type="hidden" name="sns_id" id="id_new_sns_id">
        <input type="hidden" name="sns_type" id="id_sns_type" >
        <input type="hidden" name="sex" id="id_sns_sex">
    </form>
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/login/pters.trainer.login.js" %}></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

{#    <script type="text/javascript" src={% static_url "common/js/push/push.min.js" %}></script>#}
    <script>
{#        delete_token('pc');#}
        var varUA = navigator.userAgent.toLowerCase();
        if(varUA.match('android') != null){
            $('._company').css('display','none');
        }else if(varUA.match('iphone') !=null || varUA.match('ipad')!=null || varUA.match('ipod')!=null){
            $('._company').css('display','none');
        }else{
            $('#keyword').val('PC');
        }


        function goPage(option){
            if(option == 0){
                location.href="/accounts/register/";
            }else if(option == 1){
                location.href="/accounts/password/reset/";
            }
        }

        function goSlide(offset){
            $('body, html').animate({scrollTop : offset},400)
        }


        $('#errorMessageBar span:nth-child(2)').click(function(){
            $('#errorMessageBar').fadeOut('fast')
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

// <!-- 네이버아디디로로그인 초기화 Script -->
	var naverLogin = new naver.LoginWithNaverId(
		{
			clientId: "h5MuvYzSFLlrFTs19g0V",
			callbackUrl: "http://localhost:8000/login/login_simple_naver/",
{# 			callbackUrl: "https://spooner-test.pters.co.kr/login/login_simple_naver/",#}
			isPopup: false, /* 팝업을 통한 연동처리 여부 */
			loginButton: {color: "green", type: 3, height: 39} /* 로그인 버튼의 타입을 지정 */
		}
	);

	/* 설정정보를 초기화하고 연동을 준비 */
	naverLogin.init();
    // <!--  네이버아이디로로그인 초기화 Script -->


// <!-- 페이스북 로그인  Script -->
window.fbAsyncInit = function() {
    FB.init({
      appId      : '291762354974046',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1',
        status  : true
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.1';
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


function checkLoginState() {
    console.log('checkLoginState function ');
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  }, true);

}

function statusChangeCallback(response) {
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    console.log('statusChangeCallback function '+response.status);
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
            checkFacebookPermission();
        } else {
          // The person is not logged into your app or we are unable to tell.
{#          document.getElementById('status').innerHTML = 'Please log ' +#}
{#            'into this app.';#}
        }
  }

    // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');

    FB.api('/me', {fields: 'id, email, last_name, first_name'}, function(response) {
        $('#id_new_sns_id').attr('value', response.id);
        $('#id_sns_username').attr('value', response.email);
        $('#id_sns_email').attr('value', response.email);
        $('#id_sns_last_name').attr('value', response.last_name);
        $('#id_sns_first_name').attr('value', response.first_name);
        $('#id_sns_type').attr('value', 'Facebook');
{#        document.getElementById('sns-form').submit();#}
        $('#sns-form').submit();
{#      document.getElementById('status').innerHTML =#}
{#        'Thanks for logging in, ' + response.name + '!';#}
    });
  }
    function checkFacebookPermission() {
        var check_val = true;
        FB.api('/me/permissions', function(response) {
            console.log(response.data.length)

            for(var i=0; i<response.data.length; i++){
                if(response.data[i].status=='declined'){
                    check_val = false;
                }
            }

            if (check_val==false){
                FB.login(
                  function(response) {
                    console.log(response);
                  },
                  {
                    scope: 'email',
                    auth_type: 'rerequest'
                  }
                );
            }
            else{
                facebook_login_check = true;
                testAPI();
            }
    {#      console.log('permission for: ' + );#}
    {#      document.getElementById('status').innerHTML =#}
    {#        'Thanks for logging in, ' + response.name + '!';#}
        });
    }

// <!-- 페이스북 로그인  Script -->


// <!-- 구글 로그인  Script -->
{#    var google_login_check = false;#}
{#    window.addEventListener('load', function () {#}
{#        google_login_check = true;#}
{#        google_signOut();#}
{#    });#}
{#    function onSignIn(googleUser) {#}
{#        // Useful data for your client-side scripts:#}
{#        if(google_login_check == true){#}
{#        var profile = googleUser.getBasicProfile();#}
{#            $('#id_new_sns_id').attr('value', profile.getId());#}
{#            $('#id_sns_username').attr('value', profile.getEmail());#}
{#            $('#id_sns_email').attr('value', profile.getEmail());#}
{#            $('#id_sns_last_name').attr('value', profile.getFamilyName());#}
{#            $('#id_sns_first_name').attr('value', profile.getGivenName());#}
{#            $('#id_sns_type').attr('value', 'Google');#}
{#            document.getElementById('sns-form').submit();#}
{#            // The ID token you need to pass to your backend:#}
{#            var id_token = googleUser.getAuthResponse().id_token;#}
{#        }#}
{#        console.log("ID Token: " + id_token);#}
{#      }#}
{#    function google_signOut() {#}
{#        var auth2 = gapi.auth2.getAuthInstance();#}
{#        auth2.signOut().then(function () {#}
{#          console.log('User signed out.');#}
{#        });#}
{#      }#}
    </script>

{% endblock %}

<!--

2017.8.3업데이트 내역

1.Navigation Bar의 Bell ,메뉴 버튼 크기 및 위치 조정
2.Navigation Bar의 Bell 이미지 변경

3.파일명 변경 및 코드 분리
    skstyle.css ->> pters.month.cal.css 월간 달력 css
    skcalendar.js ->> pters.month.cal.js 월간 달력 js
    sidebar.css ->> pters.base.set.css 상단바,사이드바 css
    skstyle.js ->> pters.base.set.js 상단바, 사이드바 js

-->
</body>



</html>