<!DOCTYPE html>
<html lang="kr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NaverLoginSDK</title>
</head>

<body>

    <form action="." id="add-member-id-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="email" id="id_email" value="{{ email }}">
        <input type="hidden" name="sns_id" id="id_sns_id"  value="{{ sns_id }}">
        <input type="hidden" name="sns_type" id="id_sns_type"  value="{{ sns_type }}">
    </form>

    <form action="{% url 'login:login' %}" id="login-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" id="id_username" value="{{ username }}">
        <input type="hidden" name="social_login_check" id="id_social_login_check" value="1">
        <input type="hidden" name="auto_login_check" value="1">
        <input type="hidden" name="next_page" value = '{% url 'index' %}'>
    </form>

    <form action="{% url 'login:new_member_sns_info' %}" id="new-member-sns-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" id="id_sns_username" value="{{ username }}">
        <input type="hidden" name="email" id="id_sns_email" value="{{ email }}">
        <input type="hidden" name="last_name" id="id_sns_last_name" value="{{ last_name }}">
        <input type="hidden" name="first_name" id="id_sns_first_name" value="{{ first_name }}">
        <input type="hidden" name="name" id="id_sns_name" value="{{ name }}">
        <input type="hidden" name="sns_id" id="id_new_sns_id" value="{{ sns_id }}">
        <input type="hidden" name="sns_type" value="{{ sns_type }}">
        <input type="hidden" name="sex" id="id_sns_sex" value="{{ sex }}">
    </form>

    <form action="{% url 'login:add_old_member_sns_info' %}" id="old-member-sns-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" id="id_sns_username2" value="{{ username }}">
        <input type="hidden" name="email" id="id_sns_email2" value="{{ email }}">
        <input type="hidden" name="last_name" id="id_sns_last_name2" value="{{ last_name }}">
        <input type="hidden" name="first_name" id="id_sns_first_name2" value="{{ first_name }}">
        <input type="hidden" name="name" id="id_sns_name2" value="{{ name }}">
        <input type="hidden" name="sns_id" id="id_new_sns_id2" value="{{ sns_id }}">
        <input type="hidden" name="sns_type" value="{{ sns_type }}">
        <input type="hidden" name="sex" id="id_sns_sex2" value="{{ sex }}">
        <input type="hidden" name="next_page" value = '{% url 'index' %}'>
    </form>

{#	callback 처리중입니다. 이 페이지에서는 callback을 처리하고 바로 main으로 redirect하기때문에 이 메시지가 보이면 안됩니다.#}

	<!-- (1) LoginWithNaverId Javscript SDK -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!-- (2) LoginWithNaverId Javscript 설정 정보 및 초기화 -->
	<script>

        var sns_type_name = "페이스북";
		/* (4) Callback의 처리. 정상적으로 Callback 처리가 완료될 경우 main page로 redirect(또는 Popup close) */
		window.addEventListener('load', function () {
					/* (5) 필수적으로 받아야하는 프로필 정보가 있다면 callback처리 시점에 체크 */
            check_sns_member_info();

            if($('#id_sns_type').val()=='facebook'){
                sns_type_name = "페이스북";

            }else if($('#id_sns_type').val()=='google'){
                sns_type_name = "구글";
            }

		});

        function check_sns_member_info(){
            var $form = $('#add-member-id-form');
            var serializeArray = $form.serializeArray();
            $.ajax({
                url:'/login/check_sns_member_info/',
                type:'GET',
                data:serializeArray,
                dataType : 'html',

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    var id_check_message = jsondata.id_check_result;
                    var id_username = jsondata.id_username;
                    if(id_check_message == '0'){
{#                        console.log('회원 아님');#}
                        document.getElementById('new-member-sns-form').submit();
                    }else if(id_check_message == '1'){
{#                        console.log('SNS 회원');#}
                        $('#id_username').attr('value', id_username);
                        document.getElementById('login-form').submit();
                    }
                    else{
                        $('#id_username2').attr('value', id_username);
{#                        console.log('기존 회원');#}
                        if (confirm('기존 PTERS ID와 '+sns_type_name+' 아이디와 연동하시겠습니까?')) {
                            document.getElementById('old-member-sns-form').submit();
                        } else {
                            window.location.replace('/login/');
                        }
                    }
                },

                //보내기후 팝업창 닫기
                complete:function(){

                },

                //통신 실패시 처리
                error:function(){
                    alert("에러: 서버 통신 실패")
                }
            })
        }

	</script>
</body>

</html>