{% extends "base.html" %}
{% load static_url %}
{% block local_css %}
    <meta name="registertrainer" content="trainer_register">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="751903262384-dbtt6ho5imk5gssgn1rqpe3vs3linq15.apps.googleusercontent.com">
    <link rel="stylesheet" href={% static_url "user/css/login/login.registration.css" %}>
    <style type="text/css">
        #root_content{
            overflow-y:hidden;
        }
        .contract{
            width: calc(100% - 8px);
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Google reCapcha v3 -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Lednq8UAAAAAPNCsPianArQHAITuhgzf-dkX03-"></script>
    <script stype="text/javascript">
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lednq8UAAAAAPNCsPianArQHAITuhgzf-dkX03-', {action: 'homepage'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
                console.log(token);
            });
        });
    </script>
    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

    <div id="root_content">
        <div id="registration_box">
            <!-- 헤더 영역 -->
            <div class="registration_top" style="border-bottom:0px;">
                <div class="registration_left" onclick="location.href='{% url "login:index" %}'">X</div>
                <div class="registration_title" style="display:none;">인증을 완료해주세요.</div>
                <div class="registration_right"></div>
            </div>

            <!-- 입력 영역 -->
            <div class="registration_content" style="min-height: calc(100% - 190px);">
                <form action="{% url "login:authenticated_member_logic" %}" id="id_add_member_form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next_page" id="id_next_page" value="{% url 'index' %}">
                    <input type="hidden" name="member_id" value="{{ member.member_id }}">
                    <!-- 회원가입 제목 영역 -->
                    <div class="wrapper_registration_content_title" style="margin-bottom:40px; height:24px;">
                        <div class="registration_content_title" style="font-size: 20px; font-weight: bold; color: #1f1d1e; letter-spacing: -1px; text-align: center;">인증을 완료해주세요.</div>
                    </div>

                    <!-- 아이디 입력 영역 -->
                   <div style="margin-top:8px;">
                        <input class="pters_login_input" type="text" name="username" id="id_username" title="아이디" value="아이디 : {{ member.user.username }}" data-valid="true" disabled>
                    </div>

                    <!-- 휴대폰 번호 입력 영역 -->
                    <div style="margin-top:8px;">
                        <input class="pters_login_input" type="text" name="phone" id="id_phone" placeholder="휴대폰 번호" minlength="10" maxlength="11" title="휴대폰 번호"
                               autocomplete="off" style="width:225px;" pattern="[0-9]{10,11}" onkeyup="limit_char_auto_correction(event); check_sms_activation_button(event);" data-valid="false">
                        <div class="activation_button" id="id_activation_button" onclick="activate_sms();" style="pointer-events:none;">인증</div>
                    </div>

                    <!-- 인증 번호 입력 영역 -->
                    <div style="margin-top:8px;">
                        <div id="wrapper_id_activation" style="width: 225px; border: solid 1px #d6d2d2; display:inline-block">
                            <input class="pters_login_input" type="text" name="activation_code" id="id_activation_code" placeholder="인증 번호" minlength="3" maxlength="8" title="휴대폰 인증"
                                   style="width:70%; border:0" pattern="[0-9]{3,8}" onkeyup="limit_char_auto_correction(event);" data-valid="false">
                            <div id="activation_timer" style="display:none; width:20%; text-align:right; padding-right:12px; color: #ff001f; font-size: 13px; font-weight: 500; letter-spacing: -0.5px;">
                                03:00
                            </div>
                        </div>
                        <div class="activation_button" id="id_activation_confirm_button" onclick="check_activation_code();" style="pointer-events:none;">확인</div>
                        <div class="input_description">
                            <div class="input_description_text" id="id_activation_confirm"></div>
                        </div>
                    </div>

                </form>
            </div>

            <!-- 인증 완료 버튼 영역 -->
            <div class="registration_foot" style="margin-top:40px; transform: initial; padding-bottom:0px;">
                <div class="social_login_box" onclick="registration_member_info();" style="width:100%; background-color: #fe4e65; margin-top:12px; margin-bottom:20px;">
                    <div class="social_login_img"></div>
                    <span class="social_login_text" style="color:#ffffff;">인증 완료</span>
                    <div style="display:table-cell; width:60px;"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript" src="{% static_url "/user/js/login/login.registration.js" %}"></script>
    <script type="text/javascript">
        // 구글 reCAPTCHA 보이지 않게 하기
        window.addEventListener('load', function () {
            $('.grecaptcha-badge').css('display', 'none');
        });

        let did_scroll; // 스크롤시에 사용자가 스크롤했다는 것을 알림
        let delta = 4; // 스크롤시 감도 (낮으면 자주 발생)
        let last_scroll_top = 0; // 마지막 스크롤된 위치 저장
        let $scoll_event = $('#registration_box');
        // 스크롤 이벤트 처리
        $scoll_event.scroll(function () {
            // 중복되지 않도록 semaphore
            did_scroll = true;
            if (did_scroll) {
                checkScrolled();
            }
            did_scroll = false;
        });

        // 스크롤 방향을 검사해서 회원가입 명칭 띄워주기
        function checkScrolled() {
            let current_scroll_top = $scoll_event.scrollTop();
            if($scoll_event.scrollTop() == 0){
                $scoll_event.scrollTop(1);
            }
            // 스크롤 변화량이 delta 값이 넘지 않으면 return
            if (Math.abs(last_scroll_top - current_scroll_top) < delta) {
                return;
            }

            if (current_scroll_top > last_scroll_top) {
                // 스크롤 다운(아래로)
                if (current_scroll_top > 10) {
                    $('.registration_title').css('display', 'table-cell');
                    $('.registration_content_title').css('display', 'none');
                }
            } else {
                // 스크롤 다운(위로)
                if (current_scroll_top < 24) {
                    $('.registration_title').css('display', 'none');
                    $('.registration_content_title').css('display', 'block');
                }
            }
            last_scroll_top = current_scroll_top;
        }

        function registration_member_info(){
            // form 안에 있는 값 검사
            let inputs = document.getElementById("id_add_member_form").elements;
            let error_info = '';

            for(let i=0; i<inputs.length; i++){
                if (inputs[i].nodeName === "INPUT" && (inputs[i].type === "text" || inputs[i].type === "password")) {
                    // Update text input
                    if(inputs[i].getAttribute('data-valid') == 'false'){
                        error_info = inputs[i].getAttribute('title');
                        break;
                    }
                }
            }
            if(error_info!=''){
                alert(error_info+'를 확인해주세요.');
            }else{
                add_member_info();
            }
        }

        function add_member_info(){
            let $id_add_member_form = $('#id_add_member_form');
            $.ajax({
                url:$id_add_member_form.attr('action'),
                type:$id_add_member_form.attr('method'),
                data: $id_add_member_form.serializeArray(),
                dataType : 'html',

                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },

                //통신성공시 처리
                success:function(data){
                    let jsondata = JSON.parse(data);
                    if(jsondata.messageArray.length > 0){
                        let error_message = '';
                        for(let i=0; i<jsondata.messageArray.length; i++){
                            error_message += jsondata.messageArray[i] + '<br/>';
                        }
                        alert(error_message);
                    }else{
                        alert('회원 인증이 완료되었습니다.');
                        location.href = $('#id_next_page').val();
                    }
                },
                complete:function(){

                },
                error:function(){

                }
            });
        }
    </script>
{% endblock %}
