{% extends "base.html" %}
{% load static_url %}
{% block local_css %}
    <meta name="registertrainer" content="trainer_register">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="751903262384-dbtt6ho5imk5gssgn1rqpe3vs3linq15.apps.googleusercontent.com">
    <link rel="stylesheet" href={% static_url "user/css/login/login.registration.css" %}>

{% endblock %}

{% block content %}
    <div id="root_content">
        <div id="registration_box">
            <div class="registration_top" style="border-bottom:0px;">
                <div class="registration_left" onclick="location.href='{% url "login:check_registration" %}'">
                    <img src="/static/common/icon/icon_x_black.png" style="width:24px; height:24px;">
                </div>
                <div class="registration_title" style="display:none;">{% if sns_type == "KAKAO"%}카카오톡으로 {% elif sns_type == "NAVER"%}네이버로 {% else %}소셜 {% endif %}회원가입</div>
                <div class="registration_right"></div>
            </div>

            <div class="registration_content" style="margin-top:20px; min-height:calc(100% - 181px);">

                <!-- 회원가입 제목 영역 -->
                <div class="wrapper_registration_content_title" style="margin-bottom:40px;">
                    <div style="text-align: center;"><img src="/static/common/icon/icon_pters_logo.png" style="width:32px; height:32px;"></div>
                    <div class="registration_content_title" style=" height:24px;font-size: 20px; font-weight: bold; color: #1f1d1e; letter-spacing: -1px; text-align: center;">
                        {% if sns_type == "KAKAO"%}카카오톡으로 {% elif sns_type == "NAVER"%}네이버로 {% else %}소셜 {% endif %}회원가입
                    </div>
                </div>
                <!-- 그룹 타입 선택 영역 -->
                <div class="group_select_box_on" id="group_select_trainer_box" onclick="check_group_select('trainer');">
                    강사
                </div>
                <div class="group_select_box_off" id="group_select_trainee_box" onclick="check_group_select('trainee');" style="float:right;">
                    회원
                </div>
                <div style="height: 1px;background:#f5f2f3; margin-top: 20px; margin-bottom: 20px;"></div>

                <!-- 약관 동의 영역 -->
                <div class="contract">
                    <span class="all_contract">전체 약관에 동의</span>
                    <div class="contract_select_box" onclick="select_contract('all_contract');">
                        <span class="contract_select_check" id="all_contract" data-valid="false"></span>
                    </div>
                </div>
                <div class="contract">
                    <span class="detail_contract" onclick="location.href='/privacy/'">가입 약관</span>
                    <div class="contract_select_box" onclick="select_contract('policy');">
                        <span class="contract_select_check contract_detail_select_check" id="policy" data-valid="false"></span>
                    </div>
                </div>
                <div class="contract">
                    <span class="detail_contract" onclick="location.href='/policy/'">개인 정보 처리 방침</span>
                    <div class="contract_select_box" onclick="select_contract('privacy');">
                        <span class="contract_select_check contract_detail_select_check" id="privacy" data-valid="false"></span>
                    </div>
                </div>
            </div>

            <!-- 가입 완료 버튼 노출 영역 -->
            <div class="registration_foot">
                <div class="social_login_box" onclick="sns_add_member();" style="background-color: #fe4e65; margin-top:12px; margin-bottom:20px;">
                    <div class="social_login_img"></div>
                    <span class="social_login_text" style="color:#ffffff; text-align: center;">가입 완료</span>
                    <div style="display:table-cell; width:60px;"></div>
                </div>
            </div>
        </div>
    </div>

    <form action="{% url 'login:add_social_member_info' %}" id="sns-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" id="id_sns_username" value="{{ username }}">
        <input type="hidden" name="email" id="id_sns_email" value="{{ email }}">
        <input type="hidden" name="last_name" id="id_sns_last_name" value="{{ last_name }}">
        <input type="hidden" name="first_name" id="id_sns_first_name" value="{{ first_name }}">
        <input type="hidden" name="name" id="id_sns_name" value="{{ name }}">
        <input type="hidden" name="sns_id" id="id_sns_id" value="{{ sns_id }}">
        <input type="hidden" name="sns_type" value="{{ sns_type }}">
        <input type="hidden" name="sex" id="id_sns_sex" value="{{ sex }}">
        <input type="hidden" name="social_accessToken" id="id_social_accessToken" value="{{ social_accessToken }}">
        <input type="hidden" name="group_type" id="id_group_type" value="trainer">
        <input type="hidden" name="next_page" value="{% url 'login:registration_social' %}">
    </form>

{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript" src="{% static_url "user/js/login/login.registration.js" %}"></script>
    <script type="text/javascript">
        function sns_add_member() {
            if($('#all_contract').attr('data-valid')=='true'){
                document.getElementById('sns-form').submit();
            }
            else{
                alert('약관에 동의해주세요.')
            }
        }

        let did_scroll; // 스크롤시에 사용자가 스크롤했다는 것을 알림
        let delta = 4; // 스크롤시 감도 (낮으면 자주 발생)
        let last_scroll_top = 0; // 마지막 스크롤된 위치 저장
        let $scoll_event = $('#registration_box');
        // 스크롤 이벤트 처리
        $scoll_event.scroll(function () {
            // 중복되지 않도록 semaphore
            did_scroll = true;
            if (did_scroll) {
                checkScrolled();
            }
            did_scroll = false;
        });

        // 스크롤 방향을 검사해서 회원가입 명칭 띄워주기
        function checkScrolled() {
            let current_scroll_top = $scoll_event.scrollTop();
            if($scoll_event.scrollTop() == 0){
                $scoll_event.scrollTop(1);
            }
            // 스크롤 변화량이 delta 값이 넘지 않으면 return
            if (Math.abs(last_scroll_top - current_scroll_top) < delta) {
                return;
            }

            if (current_scroll_top > last_scroll_top) {
                // 스크롤 다운(아래로)
                if (current_scroll_top > 10) {
                    $('.registration_title').css('display', 'table-cell');
                    $('.registration_content_title').css('display', 'none');
                }
            } else {
                // 스크롤 다운(위로)
                if (current_scroll_top < 24) {
                    $('.registration_title').css('display', 'none');
                    $('.registration_content_title').css('display', 'block');
                }
            }
            last_scroll_top = current_scroll_top;
        }
    </script>
{% endblock %}
