{% extends "base.html" %}
{% load static_url %}
{% block local_css %}
    <meta name="registertrainer" content="trainer_register">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="751903262384-dbtt6ho5imk5gssgn1rqpe3vs3linq15.apps.googleusercontent.com">
    <link rel="stylesheet" href={% static_url "user/css/login/login.registration.css" %}>
    <style type="text/css">
        #root_content{
            overflow-y:hidden;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Google reCapcha v3 -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Lednq8UAAAAAPNCsPianArQHAITuhgzf-dkX03-"></script>
    <script stype="text/javascript">
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lednq8UAAAAAPNCsPianArQHAITuhgzf-dkX03-', {action: 'homepage'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
                console.log(token);
            });
        });
    </script>
    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

    <div id="root_content">
        <div id="registration_box">
            <!-- 헤더 영역 -->
            <div class="registration_top" style="border-bottom:0px;">
                <div class="registration_left" onclick="location.href='{% url "login:reset_password" %}'">
                    <img src="/static/common/icon/icon_arrow_l_black.png" style="width:24px; height:24px;">
                </div>
                <div class="registration_title" style="display:none;">비밀번호 재설정(2/3)</div>
                <div class="registration_right"></div>
            </div>

            <!-- 입력 영역 -->
            <div class="registration_content" style="min-height: calc(100% - 250px);">
                <form action="{% url "login:reset_password3" %}" id="id_reset_password_member_form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next_page" id="id_next_page" value="{% url 'login:reset_password3' %}">
                    <input type="hidden" name="member_id" id="id_member_id" value="{{ member.member_id }}">
                    <input type="hidden" name="activation_type" id="id_activation_type" value="{% if member.phone != "" %}phone{% else %}email{% endif %}">
                    <!-- 회원가입 제목 영역 -->
                    <div class="wrapper_registration_content_title" style="margin-bottom:40px; height:24px;">
                        <div class="registration_content_title" style="font-size: 20px; font-weight: bold; color: #1f1d1e; letter-spacing: -1px; text-align: center;">비밀번호 재설정(2/3)</div>
                    </div>
                    {% if member.phone != "" and member.email != "" %}
                    02. 비밀번호를 찾을 방법을 선택해 인증을 해주세요.<br/><br/>
                    {% else %}
                    02. 인증을 해주세요.<br/><br/>
                    {% endif %}

                    {% if member.phone != "" %}
                    <div class="group_select_box_on" id="group_select_phone_box" onclick="check_activation_select('phone');">
                        휴대폰 인증
                    </div>
                    {% endif %}

                    {% if member.email != "" %}
                    <div class="group_select_box_{% if member.phone != "" %}off{% else %}on{% endif %}" id="group_select_email_box" onclick="check_activation_select('email');" style="{% if member.phone != "" %}float:right;{% endif %}">
                        이메일 인증
                    </div>
                    {% endif %}

                    {% if member.phone == "" and member.email == "" %}
                        인증하실수 있는 수단이 없습니다. <br/>PTERS에 문의 해주세요.
                    {% endif %}

                    <!-- 휴대폰 인증 영역 -->
                    {% if member.phone != "" %}
                        <div id="group_select_phone_input_box">
                            <!-- 휴대폰 번호 입력 영역 -->
                            <div style="margin-top:8px;">
                                <div style="margin-top:25px; margin-bottom:5px;">
                                    {{ member.phone }}
                                </div>
                                <input class="pters_login_input" type="text" name="phone" id="id_phone" placeholder="휴대폰 번호" minlength="10" maxlength="11" title="휴대폰 번호"
                                       autocomplete="off" style="width:225px;" pattern="[0-9]{10,11}" onkeyup="limit_char_auto_correction(event.target); check_reset_activation_button(event.target, 'phone');" data-valid="false">
                                <div class="activation_button" id="id_activation_button_phone" onclick="reset_activate('phone');" style="pointer-events:none;">인증</div>
                            </div>

                            <!-- 인증 번호 입력 영역 -->
                            <div style="margin-top:8px;">
                                <div id="wrapper_id_activation" style="width: 225px; border: solid 1px #d6d2d2; display:inline-block">
                                    <input class="pters_login_input" type="text" name="activation_code_phone" id="id_activation_code_phone" placeholder="인증 번호" minlength="3" maxlength="8" title="휴대폰 인증"
                                           style="width:70%; border:0" pattern="[0-9]{3,8}" onkeyup="limit_char_auto_correction(event.target);" data-valid="false">
                                    <div id="activation_timer_phone" style="display:none; width:20%; text-align:right; padding-right:12px; color: #ff001f; font-size: 13px; font-weight: 500; letter-spacing: -0.5px;">
                                        03:00
                                    </div>
                                </div>
                                <div class="activation_button" id="id_activation_confirm_button_phone" onclick="reset_check_activation_code('phone');" style="pointer-events:none;">확인</div>
                                <div class="input_description">
                                    <div class="input_description_text" id="id_activation_confirm_phone"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <!-- 이메일 인증 영역 -->
                    {% if member.email != "" %}
                        <div id="group_select_email_input_box" style="{% if member.phone != "" %}display:none;{% endif %}">
                            <!-- 이메일 입력 영역 -->
                            <div style="margin-top:8px;">
                                <div style="margin-top:25px; margin-bottom:5px;">
                                    {{ member.email }}
                                </div>
                                <input class="pters_login_input" type="text" name="email" id="id_email" placeholder="이메일 주소" minlength="10" maxlength="30" title="이메일 주소"
                                       autocomplete="off" style="width:225px;" onkeyup="check_reset_activation_button(event.target, 'email');" data-valid="false">
                                <div class="activation_button" id="id_activation_button_email" onclick="reset_activate('email');" style="pointer-events:none;">인증</div>
                            </div>

                            <!-- 인증 번호 입력 영역 -->
                            <div style="margin-top:8px;">
                                <div id="wrapper_id_activation" style="width: 225px; border: solid 1px #d6d2d2; display:inline-block">
                                    <input class="pters_login_input" type="text" name="activation_code_email" id="id_activation_code_email" placeholder="인증 번호" minlength="3" maxlength="8" title="이메일 인증"
                                           style="width:70%; border:0" pattern="[0-9]{3,8}" onkeyup="limit_char_auto_correction(event.target);" data-valid="false">
                                    <div id="activation_timer_email" style="display:none; width:20%; text-align:right; padding-right:12px; color: #ff001f; font-size: 13px; font-weight: 500; letter-spacing: -0.5px;">
                                        10:00
                                    </div>
                                </div>
                                <div class="activation_button" id="id_activation_confirm_button_email" onclick="reset_check_activation_code('email');" style="pointer-events:none;">확인</div>
                                <div class="input_description">
                                    <div class="input_description_text" id="id_activation_confirm_email"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>

            <!-- 비밀번호 변경 (3/3)으로 넘어가는 버튼 영역 -->
            <div class="registration_foot" style="margin-top:40px; transform: initial; padding-bottom:0px;">
                <div class="social_login_box" onclick="check_reset_password2();" style="width:100%; background-color: #fe4e65; margin-top:12px; margin-bottom:20px;">
                    <div class="social_login_img"></div>
                    <span class="social_login_text" style="color:#ffffff; text-align: center;">다음</span>
                    <div style="display:table-cell; width:60px;"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript" src="{% static_url "user/js/login/login.registration.js" %}"></script>
    <script type="text/javascript" src="{% static_url "user/js/login/login.reset_password.js" %}"></script>
    <script type="text/javascript">
        // 구글 reCAPTCHA 보이지 않게 하기
        window.addEventListener('load', function () {
            $('.grecaptcha-badge').css('display', 'none');
            let error_check = false;
            {% for message in messages %}
                {% if message.tags == "error" %}
                    alert('{{ message }}');
                    error_check = true;
                {% endif %}
            {% endfor %}
            if(error_check){
                location.href = "{% url 'login:reset_password'%}";
            }
        });

        let did_scroll; // 스크롤시에 사용자가 스크롤했다는 것을 알림
        let delta = 4; // 스크롤시 감도 (낮으면 자주 발생)
        let last_scroll_top = 0; // 마지막 스크롤된 위치 저장
        let $scoll_event = $('#registration_box');
        // 스크롤 이벤트 처리
        $scoll_event.scroll(function () {
            // 중복되지 않도록 semaphore
            did_scroll = true;
            if (did_scroll) {
                checkScrolled();
            }
            did_scroll = false;
        });

        // 스크롤 방향을 검사해서 회원가입 명칭 띄워주기
        function checkScrolled() {
            let current_scroll_top = $scoll_event.scrollTop();
            if($scoll_event.scrollTop() == 0){
                $scoll_event.scrollTop(1);
            }
            // 스크롤 변화량이 delta 값이 넘지 않으면 return
            if (Math.abs(last_scroll_top - current_scroll_top) < delta) {
                return;
            }

            if (current_scroll_top > last_scroll_top) {
                // 스크롤 다운(아래로)
                if (current_scroll_top > 10) {
                    $('.registration_title').css('display', 'table-cell');
                    $('.registration_content_title').css('display', 'none');
                }
            } else {
                // 스크롤 다운(위로)
                if (current_scroll_top < 24) {
                    $('.registration_title').css('display', 'none');
                    $('.registration_content_title').css('display', 'block');
                }
            }
            last_scroll_top = current_scroll_top;
        }

    </script>
{% endblock %}
