<!DOCTYPE html>
<html lang="en">
<head>
    <title>피터스 - 레슨 일정 및 회원 관리 서비스</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WG2KK6D');</script>
    <!-- End Google Tag Manager -->
    <!--Google Adsense-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4554121851965192",
            enable_page_level_ads: true
        });
    </script>
    <!--Google Adsense-->
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
    <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 당구, 골프 등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">

    {% block local_css %}

        <meta name="login" content="trainer_login">
        <link rel="stylesheet" href={% static_url "common/css/swiper.min.css"%}>
        <link rel="stylesheet" href={% static_url "user/css/login/pters.trainer.promote.new.css" %}><!-- 
        <link rel="stylesheet" href={% static_url "user/css/login/pters.trainer.login.css" %}> -->
        <link rel="icon" href="/static/common/favicon.ico">
        <link rel="apple-touch-icon" href="/static/common/favicon-152.png">
        <link rel="shortcut icon" href="/static/common/favicon-152.png">

        <link rel="icon" href="/static/common/favicon.ico">
        <link rel="apple-touch-icon" href="/static/common/favicon-152.png">
        <link rel="shortcut icon" href="/static/common/favicon-152.png">

    {% endblock %}
</head>
{% block content %}
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG2KK6D"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="upperbar">
        <a href="/"><img src="/static/user/res/PTERS_logo_pure.png"></a>
        <!-- <a href="/login"><span>LOGIN</span></a> -->
        <a href="/login/service_info/"><span style="color:#fe4e65;font-weight: 500">서비스 소개</span></a>
        <!-- <a href="/login/service_price_info/"><span>가격</span></a> -->
        <!-- <a href="/login/service_test_login/"><span>체험하기</span></a> -->
    </nav>

    <div id="upper_title_wrap">
        <div id="upper_title_left">
            <p><a href="/"><img src="/static/user/res/PTERS_logo_pure.png" style="height: 40px;"></a>는</p>
            <p>누구나 <span>무료</span>로 <span>이용</span>이 가능합니다.</p>
        </div>
        <div id="upper_title_right">
            <p>무료로 회원가입 후 체험해보세요.</p>
            <p>시간을 효율적으로 사용할 수 있습니다.</p>
            <p>레슨 일정과 회원을 PTERS로 쉽게 관리하고</p>
            <p>비즈니스의 생산성을 향상 시키세요!</p>
        </div>
    </div>

    <div id="pagination_pc">
        <div class="pagination_pc_element pagination_pc_element_selected pagination_1" data-page="1">PTERS만의 차별화 기능</div>
        <div class="pagination_pc_element pagination_2" data-page="2">다양한 기기 호환</div>
        <div class="pagination_pc_element pagination_3" data-page="3">일정 관리</div>
        <div class="pagination_pc_element pagination_4" data-page="4">회원 관리</div>
        <div class="pagination_pc_element pagination_5" data-page="5">그룹 레슨</div>
        <div class="pagination_pc_element pagination_6" data-page="6">회원 연동</div>
        <div class="pagination_pc_element pagination_7" data-page="7">매출 및 통계</div>
    </div>

    <div id="pagination_mobile">
        <div data-page="1" class="pagination_m1 pagination_mobile_selected"></div>
        <div data-page="2" class="pagination_m2"></div>
        <div data-page="3" class="pagination_m3"></div>
        <div data-page="4" class="pagination_m4"></div>
        <div data-page="5" class="pagination_m5"></div>
        <div data-page="6" class="pagination_m6"></div>
        <div data-page="7" class="pagination_m7"></div>
    </div>

    <!-- <div id="content_wrap">
        <div class="content_page page_1">
            <div class="content_page_left">
                <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
            </div>
            <div class="content_page_right">
                <div class="content_page_right_wrapper">
                    <label>내 맘대로<br>커스터마이징</label>
                    <div>
                       <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                    </div>
                    <div>
                        <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                        <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                        <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                        <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                        <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                        <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                        <p>등</p>
                    </div>
                    <div>
                        <p>자유롭게 설정하고 관리해보세요.</p>
                        <p>PTERS 하나로</p>
                        <p>오직 나만을 위한</p>
                        <p>맞춤 정책을 만들어보세요.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_page page_2">22</div>
        <div class="content_page page_3">33</div>
        <div class="content_page page_4">44</div>
        <div class="content_page page_5">55</div>
        <div class="content_page page_6">66</div>
        <div class="content_page page_7">77</div>
    </div> -->

    <div class="swiper-container" id="content_wrap">
        <div id="timeIndicatorBar"></div>
        <div class="timeindex">
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide page_1" data-page="page_1">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>내 맘대로<br>커스터마이징</label>
                        <div>
                           <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                        </div>
                        <div>
                            <p><span class="text_pink">업무 시간 설정</span><span> (레슨, 레슨외 시간, 업무 시간 설정)</span></p>
                            <p><span class="text_pink">레슨 단위 설정</span><span> (5분, 30분, 1시간단위로 자유롭게 사용)</span></p>
                            <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span><span> (OFF시 회원이 예약할 수 없는 시간)</span></p>
                            <p><span class="text_pink">예약 가능 시간 설정</span><span> (회원이 내가 확인할 수 있는 시간대에만 예약)</span></p>
                            <p><span class="text_pink">근접한 예약/취소 금지 설정</span><span> (1시간~ 3일 설정 가능)</span></p>
                            <p><span class="text_pink">푸시알림</span><span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</span></p>
                            <p>등</p>
                        </div>
                        <div>
                            <p>자유롭게 설정하고 관리해보세요.</p>
                            <p>PTERS 하나로</p>
                            <p>오직 나만을 위한</p>
                            <p>맞춤 정책을 만들어보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_2" data-page="page_2">
                <div class="content_page_left">
                    <p style="color:#ffffff;">다양한 기기에서<br>호환가능</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>언제 어디서나 편리한<br>클라우드 레슨 관리</label>
                        <div>
                            <p>넘쳐나는 회원 리스트 장부<br>빡빡한 시간표<br>레슨 메모 등</p> 
                        </div>
                        <div>   
                            <p>모든 데이터를 PTERS에 옮기기만 하세요.</p>
                        </div>
                        <div>
                            <p>언제 어디서든</p>
                            <p>나의 레슨 일정을 확인하고</p>
                            <p>쉽게 관리할 수 있습니다.</p>
                        </div>
                        <div class="text_pink">
                            <p>PTERS는</p>
                            <p>클라우드 방식으로 데이터를 저장하여</p>
                            <p>PC, Mobile, Tablet 등</p>
                            <p>다양한 기기에서 호환이 가능합니다.</p>
                        </div>
                        <div><p>PTERS로 어디서든 관리해보세요!</p></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_3" data-page="page_3">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>세상에서 제일 쉬운<br>레슨일정관리</label>
                        <div>
                           <p>주간 시간표와 월간 달력으로<br>나의 레슨 일정을 쉽게 확인할 수 있습니다.</p> 
                        </div>
                        <div>
                            <p class="text_pink" style="font-weight: bold;">레슨 ON</p>
                            <p>요일 별로 설정된 각 일정을 등록하고 관리합니다.</p>
                            <p>레슨 일정을 완료하고</p>
                            <p>회원의 사인을 저장하여 언제든 다시 확인이 가능합니다.</p>
                        </div>
                        <div>
                            <p class="text_pink" style="font-weight: bold;">레슨 OFF</p>
                            <p>레슨 시간 외 개인 시간도 등록하여 활용해보세요.</p>
                        </div>
                        <div>
                            <p>모든 나의 스케쥴은</p>
                            <p>PTERS로 통합됩니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_4" data-page="page_4">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>한명 한명 소중한<br>나의 회원 관리</label>
                        <div>
                           <p class="text_pink">각 회원별 정보(레슨, 수강이력)을<br>회원 카드 형태로 살펴볼 수 있습니다.</p> 
                        </div>
                        <div>
                            <p>수강 정보를 등록 및 수정하고,</p>
                            <p>회원님과 달력을 공유하도록 연결 요청을 보낼 수도 있습니다.</p>
                        </div>
                        <div>
                            <p>회원님의 레슨 횟수가 모두 차감되면</p>
                            <p>자동으로 종료 회원으로 분류되고</p>
                            <p>종료된 회원도 지속적으로 관리할 수 있습니다.</p>
                        </div>
                        <div class="text_pink">
                            <p>회원님께서도 레슨이 종료되더라도</p>
                            <p>과거 이력을 언제든 다시 살펴볼 수 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_5" data-page="page_5">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>1:1, 그룹, GX등<br>모든 형태의 레슨을 커버!</label>
                        <div>
                            <p>1:1 개인레슨부터<br>그룹레슨, 선착순 신청형 수업까지<br>다양한 형태의 레슨관리를 지원합니다.</p> 
                        </div>
                        <div>
                            <p class="text_pink">수강권 기능</p>
                            <p>하나의 수강권으로 여러개 수업을 수강하는</p>
                            <p>패키지 형태도 피터스로 간단하게 만들어보세요!</p>
                        </div>
                        <div>
                            <p class="text_pink">그룹 일정 관리</p>
                            <p>그룹형 레슨 일정을 완료하면,</p>
                            <p>자동으로 참여회원의 레슨 횟수가 차감됩니다.</p>
                            <p>결석 및 개별참여 완료 기능도 지원합니다!</p>
                        </div>
                        <div class="text_pink">
                            <p>그룹형 레슨관리,</p>
                            <p>PTERS와 함께라면 더이상 복잡하지 않습니다.</p>
                            <p>여러분의 비즈니스의 폭을</p>
                            <p>한발짝 더 늘려보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_6" data-page="page_6">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>전화나 메시지 없이<br>회원의 일정은 회원이 직접!</label>
                        <div class="text_pink">
                           <p>매번 각 회원마다 일정 조율하는 시간..<br>PTERS로 절약해보세요.</p> 
                        </div>
                        <div>
                            <p>회원과 연동되어</p>
                            <p>개설된 레슨일정 혹은 1:1 레슨 가능 시간을 확인하고</p>
                            <p>직접 회원이 시간을 선택하면 예약 끝!</p>
                        </div>
                        <div>
                            <p>OFF시간 설정, 기타 예약 설정으로</p>
                            <p>회원 예약에 대한 규칙도 만들어보세요.</p>
                            <p>또한 회원 예약 기능은 언제든 활성화 및 비활성화가 가능합니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_7" data-page="page_7">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>한 눈에 확인하는<br>매출과 회원 통계</label>
                        <div>
                           <p>월별 매출 현황 그래프로</p>
                           <p>등록, 환불 이력을 상세하게 확인할 수 있습니다.</p>
                        </div>
                        <div>
                            <p>회원 등록 현황을 통계 그래프로 쉽게 확인하고</p>
                            <p>현재 비즈니스의 현황 및 분석을 토대로</p>
                            <p>앞으로의 경영에 대해 구상할 수 있습니다.</p>
                        </div>
                        <div class="text_pink">
                            <p>PTERS는</p>
                            <p>매출과 통계 그래프를 입력한 데이터를 기반으로 제공하며,</p>
                            <p>통계항목을 지속적으로 추가해 나갈 예정입니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/login/pters.trainer.promote.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/swiper.jquery.min.js" %}></script>
{#    <script type="text/javascript" src={% static_url "common/js/push/push.min.js" %}></script>#}
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <script>
        var myswiper = new Swiper('.swiper-container', {
            // initialSlide : 1,
            //speed : 150,
            preventClicks : true,
            keyboardControl : true,
            preventClicksPropagation : true,
            threshold : 40,
            resistance: 1
            // onlyExternal: true
        });

        myswiper.on('onSlideNextEnd', function(){
            var pagenum = $('.swiper-slide-active').attr('data-page').split('_')[1];
            $('.pagination_pc_element_selected').removeClass('pagination_pc_element_selected');
            $('.pagination_mobile_selected').removeClass('pagination_mobile_selected');
            $(`.pagination_${pagenum}`).addClass('pagination_pc_element_selected');
            $(`.pagination_m${pagenum}`).addClass('pagination_mobile_selected');
        });

        //이전페이지로 슬라이드 했을때 액션
        myswiper.on('onSlidePrevEnd', function(){
            var pagenum = $('.swiper-slide-active').attr('data-page').split('_')[1];
            $('.pagination_pc_element_selected').removeClass('pagination_pc_element_selected');
            $('.pagination_mobile_selected').removeClass('pagination_mobile_selected');
            $(`.pagination_${pagenum}`).addClass('pagination_pc_element_selected');
            $(`.pagination_m${pagenum}`).addClass('pagination_mobile_selected');
        });

        $('.pagination_pc_element').click(function(e){
            e.stopPropagation();
            var index = Number($(this).attr('data-page'))-1;
            myswiper.slideTo(index, 800);
        });


        var varUA = navigator.userAgent.toLowerCase()//useAgent값 얻기
        if(varUA.match('android') != null){
            var devicetext = '브라우저, Android 앱으로';
            var methodtext = 'PC, 스마트폰, 태블릿 등';
        }else if(varUA.match('iphone') !=null || varUA.match('ipad')!=null || varUA.match('ipod')!=null){
            var devicetext = '브라우저, iOS 앱으로';
            var methodtext = 'PC, 스마트폰, 태블릿 등';
        }else{
            var devicetext = '브라우저, iOS, Android 앱으로';
            var methodtext = 'PC웹(크롬, 파이어폭스, 엣지, 사파리)과 스마트폰, 태블릿 등';
        }
        $('#connectedMethod').html(methodtext);
        $('#connectedDevice').html(devicetext);

        if(varUA.match('MSIE') != null || varUA.match('rv:11.0')){
            
        }

    </script>
{% endblock %}

</body>



</html>