<!DOCTYPE html>
<html lang="en">
<head>
    <title>피터스 - 레슨 일정 및 회원 관리 서비스</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WG2KK6D');</script>
    <!-- End Google Tag Manager -->
    <!--Google Adsense-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4554121851965192",
            enable_page_level_ads: true
        });
    </script>
    <!--Google Adsense-->
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
    <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 당구, 골프 등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">

    {% block local_css %}

        <meta name="login" content="trainer_login">
        <link rel="stylesheet" href={% static_url "common/css/swiper.min.css"%}>
        <link rel="stylesheet" href={% static_url "user/css/login/pters.trainer.promote.new.css" %}><!-- 
        <link rel="stylesheet" href={% static_url "user/css/login/pters.trainer.login.css" %}> -->
        <link rel="icon" href="/static/common/favicon.ico">
        <link rel="apple-touch-icon" href="/static/common/favicon-152.png">
        <link rel="shortcut icon" href="/static/common/favicon-152.png">

        <link rel="icon" href="/static/common/favicon.ico">
        <link rel="apple-touch-icon" href="/static/common/favicon-152.png">
        <link rel="shortcut icon" href="/static/common/favicon-152.png">

    {% endblock %}
</head>
{% block content %}
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG2KK6D"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="upperbar">
        <a href="/"><img src="/static/user/res/PTERS_logo_pure.png"></a>
        <!-- <a href="/login"><span>LOGIN</span></a> -->
        <a href="/login/service_info/"><span style="color:#fe4e65;font-weight: 500">서비스 소개</span></a>
        <!-- <a href="/login/service_price_info/"><span>가격</span></a> -->
        <!-- <a href="/login/service_test_login/"><span>체험하기</span></a> -->
    </nav>

    <div id="upper_title_wrap">
        <div id="upper_title_left">
            <p><img src="/static/user/res/PTERS_logo_pure.png" style="height: 40px;">는</p>
            <p>누구나 <span>무료</span>로 <span>이용</span>이 가능합니다.</p>
        </div>
        <div id="upper_title_right">
            <p>무료로 회원가입 후 체험해보세요.</p>
            <p>시간을 효율적으로 사용할 수 있습니다.</p>
            <p>레슨 일정과 회원을 PTERS로 쉽게 관리하고</p>
            <p>비즈니스의 생산성을 향상 시키세요!</p>
        </div>
    </div>

    <div id="pagination_pc">
        <div class="pagination_pc_element pagination_pc_element_selected">PTERS만의 차별화 기능</div>
        <div class="pagination_pc_element">다양한 기기 호환</div>
        <div class="pagination_pc_element">일정 관리</div>
        <div class="pagination_pc_element">회원 관리</div>
        <div class="pagination_pc_element">그룹 레슨</div>
        <div class="pagination_pc_element">회원 연동</div>
        <div class="pagination_pc_element">매출 및 통계</div>
    </div>

    <!-- <div id="content_wrap">
        <div class="content_page page_1">
            <div class="content_page_left">
                <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
            </div>
            <div class="content_page_right">
                <div class="content_page_right_wrapper">
                    <label>내 맘대로<br>커스터마이징</label>
                    <div>
                       <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                    </div>
                    <div>
                        <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                        <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                        <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                        <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                        <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                        <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                        <p>등</p>
                    </div>
                    <div>
                        <p>자유롭게 설정하고 관리해보세요.</p>
                        <p>PTERS 하나로</p>
                        <p>오직 나만을 위한</p>
                        <p>맞춤 정책을 만들어보세요.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_page page_2">22</div>
        <div class="content_page page_3">33</div>
        <div class="content_page page_4">44</div>
        <div class="content_page page_5">55</div>
        <div class="content_page page_6">66</div>
        <div class="content_page page_7">77</div>
    </div> -->

    <div class="swiper-container" id="content_wrap">
        <div id="timeIndicatorBar"></div>
        <div class="timeindex">
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide page_1">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>내 맘대로<br>커스터마이징</label>
                        <div>
                           <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                        </div>
                        <div>
                            <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                            <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                            <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                            <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                            <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                            <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                            <p>등</p>
                        </div>
                        <div>
                            <p>자유롭게 설정하고 관리해보세요.</p>
                            <p>PTERS 하나로</p>
                            <p>오직 나만을 위한</p>
                            <p>맞춤 정책을 만들어보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_2">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>내 맘대로<br>커스터마이징</label>
                        <div>
                           <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                        </div>
                        <div>
                            <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                            <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                            <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                            <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                            <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                            <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                            <p>등</p>
                        </div>
                        <div>
                            <p>자유롭게 설정하고 관리해보세요.</p>
                            <p>PTERS 하나로</p>
                            <p>오직 나만을 위한</p>
                            <p>맞춤 정책을 만들어보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_3">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>내 맘대로<br>커스터마이징</label>
                        <div>
                           <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                        </div>
                        <div>
                            <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                            <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                            <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                            <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                            <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                            <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                            <p>등</p>
                        </div>
                        <div>
                            <p>자유롭게 설정하고 관리해보세요.</p>
                            <p>PTERS 하나로</p>
                            <p>오직 나만을 위한</p>
                            <p>맞춤 정책을 만들어보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_4">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>내 맘대로<br>커스터마이징</label>
                        <div>
                           <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                        </div>
                        <div>
                            <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                            <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                            <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                            <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                            <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                            <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                            <p>등</p>
                        </div>
                        <div>
                            <p>자유롭게 설정하고 관리해보세요.</p>
                            <p>PTERS 하나로</p>
                            <p>오직 나만을 위한</p>
                            <p>맞춤 정책을 만들어보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_5">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>내 맘대로<br>커스터마이징</label>
                        <div>
                           <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                        </div>
                        <div>
                            <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                            <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                            <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                            <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                            <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                            <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                            <p>등</p>
                        </div>
                        <div>
                            <p>자유롭게 설정하고 관리해보세요.</p>
                            <p>PTERS 하나로</p>
                            <p>오직 나만을 위한</p>
                            <p>맞춤 정책을 만들어보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_6">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>내 맘대로<br>커스터마이징</label>
                        <div>
                           <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                        </div>
                        <div>
                            <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                            <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                            <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                            <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                            <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                            <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                            <p>등</p>
                        </div>
                        <div>
                            <p>자유롭게 설정하고 관리해보세요.</p>
                            <p>PTERS 하나로</p>
                            <p>오직 나만을 위한</p>
                            <p>맞춤 정책을 만들어보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page_7">
                <div class="content_page_left">
                    <p>오직<br><img src="/static/user/res/PTERS_logo_pure.png" style="height:35px;">에서만!</p>
                </div>
                <div class="content_page_right">
                    <div class="content_page_right_wrapper">
                        <label>내 맘대로<br>커스터마이징</label>
                        <div>
                           <p>당신의 레슨 일정<br>케이스 by 케이스<br>모두 맞춰 보세요</p> 
                        </div>
                        <div>
                            <p><span class="text_pink">업무 시간 설정</span> (레슨, 레슨외 시간, 업무 시간 설정)</p>
                            <p><span class="text_pink">레슨 단위 설정</span> (5분, 30분, 1시간단위로 자유롭게 사용)</p>
                            <p><span class="text_pink">회원 예약 기능 ON/OFF 설정</span> (OFF시 회원이 예약할 수 없는 시간)</p>
                            <p><span class="text_pink">예약 가능 시간 설정</span> (회원이 내가 확인할 수 있는 시간대에만 예약)</p>
                            <p><span class="text_pink">근접한 예약/취소 금지 설정</span> (1시간~ 3일 설정 가능)</p>
                            <p><span class="text_pink">푸시알림</span> (앱 사용시 일정 변경 알림을 받을 수 있습니다.)</p>
                            <p>등</p>
                        </div>
                        <div>
                            <p>자유롭게 설정하고 관리해보세요.</p>
                            <p>PTERS 하나로</p>
                            <p>오직 나만을 위한</p>
                            <p>맞춤 정책을 만들어보세요.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}

{% block local_js_footer %}
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/login/pters.trainer.promote.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/swiper.jquery.min.js" %}></script>
{#    <script type="text/javascript" src={% static_url "common/js/push/push.min.js" %}></script>#}
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <script>
        var myswiper = new Swiper('.swiper-container', {
            // initialSlide : 1,
            //speed : 150,
            preventClicks : true,
            keyboardControl : true,
            preventClicksPropagation : true,
            threshold : 40,
            resistance: 1
            // onlyExternal: true
        });

        var varUA = navigator.userAgent.toLowerCase()//useAgent값 얻기
        if(varUA.match('android') != null){
            var devicetext = '브라우저, Android 앱으로';
            var methodtext = 'PC, 스마트폰, 태블릿 등';
        }else if(varUA.match('iphone') !=null || varUA.match('ipad')!=null || varUA.match('ipod')!=null){
            var devicetext = '브라우저, iOS 앱으로';
            var methodtext = 'PC, 스마트폰, 태블릿 등';
        }else{
            var devicetext = '브라우저, iOS, Android 앱으로';
            var methodtext = 'PC웹(크롬, 파이어폭스, 엣지, 사파리)과 스마트폰, 태블릿 등';
        }
        $('#connectedMethod').html(methodtext);
        $('#connectedDevice').html(devicetext);

        if(varUA.match('MSIE') != null || varUA.match('rv:11.0')){
            
        }

    </script>
{% endblock %}

</body>



</html>