
	.popup_calendar_plan_reserve_complete{
		/*min-height: 100%;*/
	}
		.popup_calendar_plan_reserve_complete > .obj_font_size_20_weight_bold{
			padding: 0 20px;
			height: 35px;
			line-height: 35px;
		}
		.popup_calendar_plan_reserve_complete > .obj_font_size_14_weight_500{
			padding: 0 20px;
			height: 20px;
			line-height: 20px;
		}
		.popup_calendar_plan_reserve_complete > .obj_box_full{
			margin-top: 30px;
			margin-bottom: 30px;
		}
