    .popup_calendar_plan_reserve > .obj_font_size_20_weight_bold{
        padding: 0 20px;
        height: 35px;
        line-height: 35px;
    }
	.popup_calendar_plan_reserve > .obj_font_size_14_weight_500{
		padding: 0 20px;
		height: 20px;
		line-height: 20px;
	}
	.popup_calendar_plan_reserve > .obj_box_full{
		margin-top: 30px;
		margin-bottom: 35px;
		padding: 10px 20px;
	}
	.popup_calendar_plan_reserve > .obj_box_full > .obj_table_raw{
		height: 24px;
	}
	.popup_calendar_plan_reserve > .obj_box_full .obj_icon_arrow{
		height: 25px;
		filter: invert(100);
		float: right;
	}

	.wrapper_ticket_info{
		border-top: 1px solid #b6b6b6;
		margin-top: 10px;
	}
	.wrapper_ticket_info > .obj_table_raw:nth-of-type(1){
		height: 30px;
	}
	.wrapper_ticket_info > .obj_table_raw:nth-of-type(2){
		height: 35px;
	}
	.wrapper_ticket_info > .obj_table_raw > .obj_table_cell_x2:nth-of-type(1){
		width: auto;
	}
	.wrapper_ticket_info > .obj_table_raw > .obj_table_cell_x2:nth-of-type(2){
		text-align: center;
		width: 70px;
	}

	.wrapper_reserve_form{
		margin-right: 20px;
		margin-left: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #b4b4b4;
	}
	.wrapper_reserve_form > .obj_table_raw{
		height: 35px;
		margin-bottom: 20px;
	}
	.wrapper_reserve_form > .obj_table_raw > .obj_table_cell_x2:nth-of-type(1){
		width: 95px;
	}
	.wrapper_reserve_form > .obj_table_raw > .obj_table_cell_x2:nth-of-type(2){
		position: relative;
		width: auto;
	}
	.wrapper_reserve_form > .obj_table_raw > .obj_table_cell_x2:nth-of-type(2) > .obj_icon_arrow{
		position: absolute;
		top: 5px;
		right: 0;
		height: 25px;
		filter: opacity(50%);
		z-index: -1;
	}
	.wrapper_reserve_form > .obj_table_raw select{
		-webkit-appearance:none;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #e6e6e6;
		border-radius: 0;
		padding: 6px 0;
		background-color: transparent;
	}
	.wrapper_reserve_form > .obj_table_raw input{
		-webkit-appearance:none;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #e6e6e6;
		border-radius: 0;
		padding: 6px 0;
		background-color: transparent;
	}
		.wrapper_reserve_form > .obj_table_raw input::placeholder{
			color: #b6b6b6;
		}

	.wrapper_reserve_caution{
		margin-top: 15px;
		margin-right: 20px;
		margin-left: 20px;
	}
	.wrapper_reserve_caution > p{
		margin: 0;
		height: 25px;
	}

