#popup_plan_daily_record .popup_mobile.popup_full{
	background-color: #f2f2f2;
	border-bottom-left-radius: 0;
}
	#popup_plan_daily_record .popup_mobile .wrapper_top{
		/* height: 50px; */
		margin-bottom: 10px;
	}

	#popup_plan_daily_record .wrapper_plan_daily_record_title{

	}
	#popup_plan_daily_record .wrapper_popup_title_text{
		height: 35px;
		line-height: 35px;
	}

	.popup_plan_daily_record{
		/*min-height: 100%;*/
	}	

	.popup_plan_daily_record .obj_box_full{
		padding: 10px 20px;
		margin-bottom: 5px;
		box-sizing: border-box;
	}
	#daily_record_content_wrap img, #daily_record_content_wrap iframe{
		width: 100% !important;
	}

		

		.popup_plan_daily_record > .obj_box_full{
			margin-top: 30px;
			margin-bottom: 30px;
		}
