.popup_mobile_content{
	overflow-y: auto;
	height: 100%;
}
	.popup_mobile_content > .textbox_title{
		padding: 0 20px;
	}
	.popup_mobile_content > .textbox_data{
		height: 20px;
		line-height: 20px;
		text-align: left;
		padding: 0 20px;
	}
		.popup_mobile_content > .textbox_data > span{
			color: #fe4e65;
		}
	.popup_mobile_content > .box_full{
		margin-top: 30px;
		margin-bottom: 30px;
	}

.popup_mobile > .button_big{
	position: absolute;
	bottom: 0;
}