#popup_member_shop_history .popup_mobile.popup_full{
	background-color: #f2f2f2;
	border-bottom-left-radius: 0;
}

	.popup_member_shop_history .obj_font_size_18_weight_bold{
		height: 30px;
		line-height: 30px;
	}
	.popup_member_shop_history .obj_font_size_12_weight_500{
		height: 20px;
		line-height: 20px;
	}
	.popup_member_shop_history .obj_font_size_11_weight_normal{
		height: 30px;
		line-height: 30px;
	}
	.popup_member_shop_history .obj_box_full{
		margin-top: 5px;
		padding: 10px 20px;
		border-color: #ebebeb;
		box-sizing: border-box;
	}

	.popup_member_shop_history #wrapper_my_history_detail{
		background-color: #ffffff;
		margin-top: 5px;
	}

	.popup_member_shop_history .wrapper_my_ticket_tab{
		margin-top: 15px;
		height: 35px;

	}
		.popup_member_shop_history .wrapper_my_ticket_tab >  div{
			display:inline-block;
			text-align: center;
			width:80px;
			line-height: 32px;
			border-bottom: 3px solid transparent;
			margin-right:10px;
		}

		.popup_member_shop_history .wrapper_my_ticket_tab .ticket_info_selected{
			border-bottom-color: #ffffff;
			color: #ffffff;
			font-weight: bold;
		}

	.popup_member_shop_history .wrapper_my_ticket_title{
		margin-bottom: 10px;
	}

	.popup_member_shop_history .wrapper_my_ticket_detail_date{
		padding:0 20px;
	}
		.popup_member_shop_history .wrapper_my_ticket_detail_date .obj_table_raw{
			height: 30px;
			line-height: 30px;
		}
	.popup_member_shop_history .wrapper_my_ticket_detail_date_title{
		display: inline-block;
		vertical-align: top;
		width: 70px;
		height: auto;
	}
	.popup_member_shop_history .wrapper_my_ticket_detail_date_info{
		display: inline-block;
		/* width: 100px; */
		width: auto;
		height: auto;
	}

	.popup_member_shop_history .wrapper_my_ticket_detail_count{
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		padding: 20px 0;
		height: 120px;
	}
		.popup_member_shop_history .wrapper_my_ticket_detail_count .obj_table_raw{
			height: 30px;
			line-height: 30px;
		}
	.popup_member_shop_history .wrapper_my_ticket_detail_count_title{
		display: inline-block;
		width: 70px;
		height: auto;
	}
	.popup_member_shop_history .wrapper_my_ticket_detail_count_info{
		display: inline-block;
		width: 50px;
		height: auto;
	}

	.popup_member_shop_history .wrapper_my_ticket_detail_teacher{
		padding-top: 15px;
		height: 36px;

	}
		.popup_member_shop_history .wrapper_my_ticket_detail_teacher .obj_table_cell_x3{
			width: auto;
		}
		.popup_member_shop_history .wrapper_my_ticket_detail_teacher .obj_box_photo{
			width: 30px;
		}
		.popup_member_shop_history .wrapper_my_ticket_detail_teacher .wrapper_teacher_name{
			padding-left: 10px;
		}
		.popup_member_shop_history .wrapper_my_ticket_detail_teacher .wrapper_teacher_name .obj_font_size_12_weight_500{
			height: 20px;
			line-height: 20px;
		}
		.popup_member_shop_history .wrapper_my_ticket_detail_teacher .wrapper_teacher_name .obj_font_size_11_weight_normal{
			height: 16px;
			line-height: 16px;
		}
		.popup_member_shop_history .wrapper_my_ticket_detail_teacher .text_button_phone{
			text-align: right;
			height: 36px;
			line-height: 36px;
		}

	.popup_member_shop_history .wrapper_my_history_detail_title{
		height: 20px;
		padding-bottom:5px;
		border-bottom: 1px solid #eeeeee;
		text-align: center;
	}

	.popup_member_shop_history .wrapper_my_history_detail_info{
		height: 30px;
		text-align: center;
		padding-top:10px;
		padding-bottom:10px;
		border-top:1px solid #eeeeee;
	}

	.popup_member_shop_history .wrapper_my_history_detail_member_shop_count{
		width: 7%;
	}
	.popup_member_shop_history .wrapper_my_history_detail_member_shop_start_date{
		width: 18%;
	}
	.popup_member_shop_history .wrapper_my_history_detail_member_shop_name{
		width: 50%;
	}
	.popup_member_shop_history .wrapper_my_history_detail_member_shop_price{
		width: 25%;
	}
