	#popup_my_password_change .popup_mobile .wrapper_top{
		height: 30px;
		margin-bottom: 10px;
	}

	.popup_my_password_change{
		/*min-height: 100%;*/
	}	

		.popup_my_password_change .wrapper_popup_title{
				padding: 0px;
			}
			.popup_my_password_change .wrapper_popup_title_text{
				position: absolute;
				top: 20px;

				padding: 0 20px;
				height: 35px;
				line-height: 35px;
			}
			.popup_my_password_change .obj_font_size_14_weight_500{

				padding: 0 20px;
				height: 20px;
				line-height: 20px;
			}
			.popup_my_password_change .wrapper_calendar_plan_view_title .wrapper_popup_title_date{
				position: absolute;
				top: 55px;
			}

		.popup_my_password_change > .obj_box_full{

			margin-bottom: 10px;
			padding: 20px;
		}

		.popup_my_password_change > .obj_box_full article{
			margin-bottom: 15px;
		}
		.popup_my_password_change > .obj_box_full .wrapper_my_info_change_input_box{
			-webkit-appearance:none;
			width: 100%;
			border: 0;
			border-bottom: 1px solid #f2f2f2;
			-webkit-text-fill-color: #000000;
			/*line-height: 35px;*/
			height: 35px;
			padding: 0;
		}

		.popup_my_password_change > .obj_box_full .wrapper_password_change_input{
			-webkit-appearance:none;
			width: 60%;
			border: 0;
			border-bottom: 1px solid #f2f2f2;
			-webkit-text-fill-color: #000000;
			/*line-height: 35px;*/
			background-color: #ffffff;
			height: 35px;
			padding: 0;
		}

		.popup_my_password_change > .obj_box_full .wrapper_auth_input{
			-webkit-appearance:none;
			width: 70%;
			border: 0;
			border-bottom: 1px solid #f2f2f2;
			-webkit-text-fill-color: #000000;
			/*line-height: 35px;*/
			background-color: #ffffff;
			height: 35px;
			padding: 0;
		}

		.popup_my_password_change > .obj_box_full .wrapper_password_change_button{
			width: 140px;
			display: inline-block;
			float: right;
			border: 1px solid #ff3b44;
		}

		.popup_my_password_change > .obj_box_full .wrapper_auth_button{
			width: 140px;
			display: inline-block;
			float: right;
			border: 1px solid #ff3b44;
		}