{% extends 'popup/trainee_base_popup.html' %}
{% load static_url %}
{% block popup_base_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.plan_reserve.css" %}>
{% endblock %}
<!-- pters.trainee.popup.plan_reserve.css -->
{% block popup_base_contents %}
    <div class="popup_calendar_plan_reserve popup_mobile_content">
        <div class="obj_font_size_20_weight_bold">일정 예약</div>
        <div class="obj_font_size_14_weight_500">2019년 1월 17일 (목)</div>
    </div>
    <div class="obj_button_big obj_font_bg_white_pink" onclick="layer_popup('open', 'popup_calendar_plan_reserve_complete')">예약하기</div>
{% endblock %}

{% block popup_base_js %}
    <script type="text/javascript">
        window.addEventListener('load', function() {
            $('.popup_calendar_plan_reserve').parents('.popup_mobile').attr('id', 'popup_calendar_plan_reserve');
        });
    </script>
{% endblock %}