{% extends "popup/trainee_base_popup.html" %}
{% load static_url %}
{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.myinfo_change.css" %}>
{% endblock %}
{% block popup_base_contents %}
    <div class="popup_my_info_change">
        <div class="wrapper_popup_title">
            <div class="wrapper_popup_title_text obj_font_size_18_weight_900">내 정보 </div>
        </div>

        <div class="obj_box_full">
            <form id="form_my_info">
                {% csrf_token %}
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                <div style="display: none">
                    {{ form.as_p }}
                </div>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">아이디</div>
                    <input type="text" name="username" class="wrapper_password_change_input obj_font_size_14_weight_500" placeholder="{{ member_info.user.username }}" disabled>
                    <div class="wrapper_password_change_button obj_button_gen obj_font_bg_coral_white" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_my_password_change', 90, POPUP_FROM_BOTTOM, {} )">비밀번호 재설정 하기</div>
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">이름</div>
                    <input type="text" name="first_name" class="wrapper_my_info_change_input_box obj_font_size_14_weight_500" placeholder="{{ member_info.name }}">
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">생년월일</div>
                    <input type="date" name="birthday" class="wrapper_my_info_change_input_box obj_font_size_14_weight_500" value="{{ member_info.birthday_dt }}" max="2025-12-31" min="1919-01-01">
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">휴대폰 번호 <span class="obj_font_color_coral">({% if not member_info.phone_is_active %}미인증{% else %}인증완료{% endif %})</div>
                    <div style="margin-top:5px;">
                        <input type="tel" name="phone" id="id_phone" class="pters_login_input" minlength="10" maxlength="11" placeholder="{{ member_info.phone }}" title="휴대폰"
                                style="width: 225px;" pattern="[0-9]{10,11}" onkeyup="limit_char_auto_correction(event.target); check_sms_activation_button(event.target);"
                                data-error-message="" data-valid="false">
                        <div class="activation_button" id="id_activation_button" onclick="activate_sms();" style="pointer-events:none;">인증</div>
                    </div>
                    <!-- 인증 번호 입력 영역 -->
                    <div style="margin-top:8px;">
                        <div id="wrapper_id_activation" style="width: 225px; border: solid 1px #d6d2d2; display:inline-block">
                            <input class="pters_login_input" type="text" name="activation_code" id="id_activation_code" placeholder="인증 번호" minlength="3" maxlength="8" title="휴대폰 인증"
                                   style="width:70%; border:0" pattern="[0-9]{3,8}" onkeyup="limit_char_auto_correction(event.target);"
                                    data-error-message="" data-valid="false">
                            <div id="activation_timer" style="display:none; width:20%; text-align:right; padding-right:12px; color: #ff001f; font-size: 13px; font-weight: 500; letter-spacing: -0.5px;">
                                03:00
                            </div>
                        </div>
                        <div class="activation_button" id="id_activation_confirm_button" onclick="trainee_info_check_activation_code();" style="pointer-events:none;">확인</div>
                        <div class="input_description">
                            <div class="input_description_text" id="id_activation_confirm"></div>
                        </div>
                    </div>

                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">이메일</div>
                    <input type="email" name="email" id="id_email" class="wrapper_auth_input obj_font_size_14_weight_500"
                           value="{{ member_info.user.email }}">
{#                    {% if member_info.user.email == '' and not request.user.is_active %}#}
{#                    <div class="wrapper_auth_button obj_button_gen obj_font_bg_coral_white" onclick="func_send_activation_email()">인증하기</div>#}
{#                    {% elif member_info.user.email != '' and not request.user.is_active %}#}
{#                    <div class="wrapper_auth_button obj_button_gen obj_font_bg_coral_white" onclick="func_send_activation_email()">재인증 하기</div>#}
{#                    {% else %}#}
{#                    <div class="wrapper_auth_button obj_button_gen obj_font_bg_white_coral">인증완료</div>#}
{#                    {% endif %}#}
                </article>
                <span class="email_confirm obj_font_size_11_weight_500"></span>


                <!-- <input type="hidden" name="last_name" id="last_name" value="" >
                <input type="hidden" name="sex" id="newsex" value="" >
                <input type="hidden" name="contents" id="contents" value="" > -->
                <input type="hidden" name="next_page" id="id_next_page" value="{% url 'trainee:get_trainee_info' %}">
                <input type="hidden" name="member_id" value="{{ request.user.id }}">
                <input type="hidden" name="email_duplicate_check" id="id_email_duplicate_check" value="0">

            </form>
        </div>
    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    <div class="obj_button_big obj_font_bg_white_coral" onclick="func_send_my_info_change()">저장하기</div>
{% endblock %}

{% block popup_base_js %}
    <script type="text/javascript" src="{% static_url "user/js/login/login.registration.js" %}"></script>
    <script type="text/javascript">

        function func_send_my_info_change(){
            let tel_validation = func_check_tel_format_validity();
            if(tel_validation == false){
                show_error_message('전화번호는 숫자만 입력해주세요.');
                return false;
            }

            $.ajax({
                url:'/trainee/update_trainee_info/',
                type:'POST',
                data : $('#form_my_info').serialize(),
                dataType : 'html',

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){

                    let jsondata = JSON.parse(data);
                    console.log(jsondata);
                    let error_message = jsondata.messageArray;
                    if(error_message.length > 0){
                        layer_popup.close_layer_popup();
                        show_error_message(error_message[0]);
                    }else{
                        layer_popup.close_layer_popup();
                        show_error_message("정보를 변경했습니다.");
                        location.reload(true);
                    }
                    
                },

                //보내기후 팝업창 닫기
                complete:function(){
                },

                //통신 실패시 처리
                error:function(){

                }
            });
        }

        function func_check_tel_format_validity(){
            let $input_tel = $('input[name="phone"]');
            let special_pattern = /[`~!@#$%^&*+|\\\'\";:\/?\-\_ ]/gi;

            if(special_pattern.test($input_tel.val()) == true){
                return false;
            }else{
                return true;
            }
        }


    function trainee_info_check_activation_code(){
        let $id_activation_code = $('#id_activation_code');
        let $id_phone = $('#id_phone');
        $.ajax({
            url:'/login/activate_sms_confirm/',
            type:'POST',
            data: {'user_activation_code': $id_activation_code.val(), 'phone':$id_phone.val()},
            dataType : 'html',

            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },

            //통신성공시 처리
            success:function(data){
                let jsondata = JSON.parse(data);
                if(jsondata.messageArray.length > 0){
                    $('#id_activation_confirm').text(jsondata.messageArray).css({'display':'block','color':'#fe4e65'});
                    $id_activation_code.attr('data-valid', 'false');
                }else{
                    clearInterval(activation_time_interval);
                    $('#id_activation_button').text('인증').css({'color':'#b8b4b4', 'border':'solid 1px #d6d2d2', 'pointer-events':'none'});
                    $('#id_activation_confirm').text('변경 완료').css({'display':'block','color':'green'});
                    $('#id_activation_confirm_button').css({'color':'#b8b4b4', 'border':'solid 1px #d6d2d2', 'pointer-events':'none'});
                    $id_activation_code.attr('data-valid', 'true');
                    $('#activation_timer').text("");
                    show_error_message('휴대폰 번호가 변경되었습니다.');
                    location.reload(true);
                }
            },
            complete:function(){

            },
            error:function(){

            }
        });
    }
    </script>
{% endblock %}
