{% extends "popup/trainee_base_popup.html" %}
{% load static_url %}
{% load background_trainee_data %}

{% block popup_base_css %}
    <!-- pters.trainee.popup.inquiry_history_info.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.inquiry_history_info.css" %}>
{% endblock %}
{% block popup_base_contents %}
    <div class="popup_inquiry_history_info">
        {% if qa_info %}
            <div class="wrapper_inquiry_history_info_title">
                <div class="wrapper_popup_title_text obj_font_size_18_weight_900">
                    문의 유형 : {{ qa_info.get_qa_type_cd_name }}
                </div>
                <div class="wrapper_popup_title_date obj_font_size_13_weight_500">
{#                    <div class="obj_box_full">#}
                        <div class="obj_table_raw">
{#                            <div class="obj_table_cell_x3" style="width:60px;">#}
{#                                <div class="obj_font_size_12_weight_500">작성자 : </div>#}
{#                            </div>#}
                            <div class="obj_table_cell_x2" style="width:auto;">
                                - PTERS {{ qa_info.get_status_type_cd_name }}
                            </div>
                            <div class="obj_table_cell_x2" style="width:auto;">
{#                                <div class="obj_font_size_12_weight_500">{{ qa_info.member.name }}</div>#}
                            </div>
                        </div>
{#                    </div>#}
                </div>
            </div>
            <div class="wrapper_inquiry_history_info_content obj_font_size_14_weight_500">
                <div class="obj_table_raw obj_box_full">
                        <div style="height:35px">
                            <div>
                                    문의 내용 :
                            </div>
                            <div class="obj_font_color_grey obj_font_size_12_weight_normal">
                                {{ qa_info.reg_dt | date:'Y.m.d (l)'|cut:"요일" }} {{ qa_info.reg_dt | time:'H:i' }}
                            </div>
                        </div>
                        <div style="width:auto; margin-top:30px;" class="inquiry_history_info_content_wrap">
                            {% autoescape off %}
                                {{ qa_info.contents }}
                            {% endautoescape %}
                        </div>
                </div>
                    {% if qa_comment_info %}
                        <div class="obj_table_raw obj_box_full" style="margin-top:20px;">
                            <div style="height:35px">
                                <div>
                                    PTERS 답변 :
                                </div>
                                <div class="obj_font_color_grey obj_font_size_12_weight_normal">
                                    {{ qa_comment_info.reg_dt | date:'Y.m.d (l)'|cut:"요일" }} {{ qa_comment_info.reg_dt | time:'H:i' }}
                                </div>
                            </div>
                            <div style="width:auto; margin-top:30px;" class="inquiry_history_info_content_wrap">
                                {% autoescape off %}
                                    {{ qa_comment_info.contents }}
                                {% endautoescape %}
                            </div>
                        </div>
                    {% else %}
                        {% if qa_info.status_type_cd == 'QA_COMPLETE' %}
                            <div class="obj_table_raw obj_box_full" style="margin-top:20px;">
                                <div style="height:35px">
                                    <div>
                                        PTERS 답변 :
                                    </div>
                                </div>
                                <div style="width:auto; margin-top:30px;" class="inquiry_history_info_content_wrap">
                                    고객님의 Email 로 답변이 전달 되었습니다.
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
            </div>

        {% else %}
            작성된 문의사항이 없습니다.
        {% endif %}
    </div>
{% endblock %}

{% block popup_base_js %}
{% endblock %}
