{% extends "popup/trainee_base_popup_noajax.html" %}
{% load static_url %}
{% block popup_base_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.mobile_side_menu.css" %}>
{% endblock %}
{% block popup_base_wrapper_top_left %}
    <img src="/static/user/res/PTERS_logo_pure.png" class="logo_pters">
{% endblock %}

{% block popup_base_contents %}
    <div class="pters_mobile_side_menu">
        <div class="wrapper_side_menu_main obj_font_size_20_weight_bold" onclick="location.href='{% url 'trainee:trainee_mypage' %}'">마이페이지</div>
        <!-- <div class="wrapper_side_menu_main obj_font_size_20_weight_bold">설정</div> -->
        <div class="wrapper_side_menu_main wrapper_menu_inquiry obj_font_size_20_weight_bold obj_font_color_pters_red">피터스에게 문의하기</div>
        <div class="wrapper_side_menu_sub obj_font_size_16_weight_bold">서비스 소개</div>
        <div class="wrapper_side_menu_sub obj_font_size_16_weight_bold">이용약관</div>
        <div class="wrapper_side_menu_sub obj_font_size_16_weight_bold">개인정보처리방침</div>
        <div class="wrapper_side_menu_sub obj_font_size_16_weight_bold obj_font_color_grey" onclick="location.href='{% url 'login:logout' %}'">로그아웃</div>
    </div>
{% endblock %}

{% block popup_base_wrapper_bottom %}
{% endblock %}

{% block popup_base_js %}
{% endblock %}
