{% extends 'popup/trainee_base_popup.html' %}
{% load static_url %}
{% block popup_base_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.plan_reserve.css" %}>
{% endblock %}
<!-- pters.trainee.popup.plan_reserve.css -->
{% block popup_base_contents %}
    <div class="popup_basic_user_select">
        <div></div>
        <div>
            <div>취소</div>
            <div>확인</div>
        </div>
    </div>

{% endblock %}

{% block popup_base_js %}
    <script type="text/javascript">

    </script>
{% endblock %}