{% extends 'popup/trainee_base_popup.html' %}
{% load static_url %}
{% block popup_base_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.plan_reserve.css" %}>
{% endblock %}
<!-- pters.trainee.popup.plan_reserve.css -->
{% block popup_base_contents %}
    <div class="popup_calendar_plan_reserve">
        <div class="wrapper_calendar_plan_reserve_title">
            <div class="wrapper_popup_title_text obj_font_size_18_weight_900">일정 예약</div>
            <div class="wrapper_popup_title_date obj_font_size_13_weight_500">{{ select_date | date:'Y.m.d (l)'|cut:"요일" }}</div>
        </div>
        <div class="func_tab_wrap obj_font_size_13_weight_500">
            <div class="func_tab_element func_tab_selected" data-tab="personal">개인 수업</div>
            {% if group_data %}
                <div class="func_tab_element" data-tab="group">그룹 수업</div>
            {% endif %}
        </div>

        <!-- <div class="obj_box_full obj_font_bg_white_dark_grey" style="display: none;">
            <div class="obj_table_raw">
                <div class="obj_table_cell_x2 obj_font_size_13_weight_500">나의 예약 가능 횟수 보기</div>
                <div class="obj_table_cell_x2"><img src="/static/common/icon/expand_more_black.png" class="obj_icon_expand" id="id_ticket_detail_expand_in_reserve" data-open></div>
            </div>
            <div id="wrapper_ticket_info" class="wrapper_ticket_info">
                <div class="obj_table_raw obj_font_size_11_weight_normal obj_font_color_light_grey">
                    <div class="wrapper_ticket_name obj_table_cell_x2">수강권명</div>
                    <div class="wrapper_ticket_reserve_avail_count obj_table_cell_x2">예약 가능 횟수</div>
                </div>
                <div class="obj_table_raw">
                    <div class="wrapper_ticket_name obj_table_cell_x2 obj_font_size_12_weight_500 obj_font_color_white">냉혈한 김선생의 다가오는 여름준비</div>
                    <div class="wrapper_ticket_reserve_avail_count obj_table_cell_x2 obj_font_size_12_weight_bold obj_font_color_pters_red">12 회</div>
                </div>
            </div>    
        </div> -->

        <div class="wrapper_reserve_form _target_link_to_tab" id="reserve_form_personal">
            <div class="obj_box_full">
                <div class="obj_table_raw wrapper_ticket_info">
                    <div class="wrapper_ticket_icon_personal obj_table_cell_x3"><img src="/static/common/icon/person_black.png"></div>
                    <div class="wrapper_ticket_name obj_table_cell_x3 obj_font_size_15_weight_normal ">개인 수업</div>
                    <div class="wrapper_ticket_reserve_avail_count obj_table_cell_x3 obj_font_size_12_weight_normal">(예약 가능:{{ lecture_avail_count }}  번)</div>
                </div>
                <div class="wrapper_reserve_form_data">
                    <div class="obj_table_raw">
                        <select class="obj_font_size_14_weight_500 obj_font_color_light_grey" title="time_select">
                            <option selected disabled>예약 시간 선택</option>
                            <option data-start="2019-03-04 08:00" data-end="2019-03-04 09:00">08:00 ~ 09:00</option>
                            <option data-start="2019-03-04 11:00" data-end="2019-03-04 13:00">11:00 ~ 13:00</option>
                            <option data-start="2019-03-04 21:00" data-end="2019-03-04 22:00">21:00 ~ 22:00</option>
                        </select>
                        <img src="/static/common/icon/expand_more_black.png" class="obj_icon_arrow">
                    </div>
                </div>
                <div class="wrapper_reserve_caution obj_font_size_11_weight_500 obj_font_color_grey">
                    <p><span class="obj_font_color_coral"> {% widthratio request.session.class_hour 1 request.session.setting_member_time_duration %}분 단위로 예약</span> 할 수 있습니다.</p>
                    <p><span class="obj_font_color_coral">수업 시작 {% widthratio request.session.setting_member_reserve_enable_time 60 1 %}시간 전까지 예약</span> 할 수 있습니다.</p>
                    <p><span class="obj_font_color_coral">수업 시작 {% widthratio request.session.setting_member_reserve_cancel_time 60 1 %}시간 전까지 취소</span> 할 수 있습니다.</p>
                </div>
            </div>
        </div>

        {% if group_data %}
            <div class="wrapper_reserve_form _target_link_to_tab" id="reserve_form_group">
                {% for group_info in group_data %}
                    <div class="obj_box_full">
                        <div class="obj_table_raw wrapper_ticket_info">
                            <div class="wrapper_ticket_icon_personal obj_table_cell_x3"><img src="/static/common/icon/people_black.png"></div>
                            <div class="wrapper_ticket_name obj_table_cell_x3 obj_font_size_15_weight_normal ">{{ group_info.group_name }}</div>
                            <div class="wrapper_ticket_reserve_avail_count obj_table_cell_x3 obj_font_size_12_weight_normal">(예약 가능: {{ group_info.group_lecture_avail_count }} 번)</div>
                        </div>
                        <div class="wrapper_reserve_form_data">
                            <div class="func_radio_wrap wrapper_group_reserve_select">
                                {% for group_schedule_info in group_schedule_data %}
                                    {% if group_info.group_id == group_schedule_info.group_tb.group_id %}
                                        <div class="func_radio_element obj_font_size_14_weight_500" data-group-schedule-id="{{ group_schedule_info.schedule_id }}" data-date="{{ select_date | date:'Y-m-d' }}" data-start-time="{{ group_schedule_info.start_dt | date:'H:i'}}" data-end-time="{{ group_schedule_info.end_dt | date:'H:i'}}">
                                            <div class="func_radio_element_title">{{ group_schedule_info.start_dt | date:'H:i'}} ~ {{ group_schedule_info.end_dt | date:'H:i'}}  ({{ group_schedule_info.group_current_member_num }}/{{ group_schedule_info.group_tb.member_num }}명)</div>
                                            <div class="func_radio_element_button"><div class="func_radio_element_button_outer"><div class="func_radio_element_button_inner"></div></div></div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="wrapper_reserve_caution obj_font_size_11_weight_500 obj_font_color_grey">
                            <p><span class="obj_font_color_coral">수업 시작 {% widthratio request.session.setting_member_reserve_enable_time 60 1 %}시간 전까지 예약</span> 할 수 있습니다.</p>
                            <p><span class="obj_font_color_coral">수업 시작 {% widthratio request.session.setting_member_reserve_cancel_time 60 1 %}시간 전까지 취소</span> 할 수 있습니다.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block popoup_base_wrapper_bottom_inside %}
    <div class="obj_button_big obj_font_bg_white_coral" onclick="cancel_enable_check_func();">예약하기</div>
{% endblock %}

{% block popup_base_js %}
    <script type="text/javascript" src={% static_url "user/js/trainee/popup/pters.trainee.popup.calendar_plan_reserve.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#form_plan_add').find('input').val('');
            let selected_date = `{{ select_date }}`.split(' ')[0];
            func_get_ajax_schedule_data_temp(selected_date.replace(/\./gi, '-'), function(schedule_json){
                func_start_time_dom_draw('select[title="time_select"]', selected_date, schedule_json, setting_info);
                {#                func_group_time_dom_draw('#reserve_form_group', selected_date, schedule_json, setting_info);#}
            });
        });

        function cancel_enable_check_func(){
            //let input_data = ;
            let reserve_cancel_time = '{{ request.session.setting_member_reserve_cancel_time }}';
            let date = new Date();
            let current_time = add_time(date.getHours()+':'+date.getMinutes(),'00:'+reserve_cancel_time);
            current_time = current_time.split(':')[0]%24 + ':' + current_time.split(':')[1];
            let select_time = $('#form_content_training_time').val();
            if(!compare_time(current_time, select_time)){
                func_schedule($('#form_plan_add').serialize(), CALL_AJAX, ADD);
            }else{
                layer_popup.open_layer_popup(POPUP_BASIC, 'popup_basic_user_select', POPUP_SIZE_WINDOW, POPUP_FROM_PAGE,
                                                                               {'popup_title':'', 'popup_comment':'취소가 불가능한 시간입니다.<br/> 정말 등록하시겠습니까?',
                                                                               'onclick_function':`func_schedule('${$('#form_plan_add').serialize()}', ${CALL_AJAX}, '${ADD}')`});

            }
        }
    </script>
{% endblock %}