{% extends "popup/trainee_base_popup.html" %}
{% load static_url %}
{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.my_password_change.css" %}>
{% endblock %}
{% block popup_base_contents %}
    <div class="popup_my_password_change">
        <div class="wrapper_popup_title">
            <div class="wrapper_popup_title_text obj_font_size_18_weight_900">비밀번호 변경 </div>
        </div>

        <div class="obj_box_full">
            <form id="form_my_password_change">
                {% csrf_token %}
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">현재 비밀번호</div>
                    <input type="password" name="old_password" id="old_pw" class="wrapper_my_info_change_input_box obj_font_size_14_weight_500">
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">새로운 비밀번호</div>
                    <input type="password" name="new_password1" id="id_password1" class="wrapper_my_info_change_input_box obj_font_size_14_weight_500">
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">새로운 비밀번호 재입력</div>
                    <input type="password" name="new_password2" id="id_password2" class="wrapper_my_info_change_input_box obj_font_size_14_weight_500">
                </article>
                <span class="pw_confirm obj_font_size_11_weight_500"></span>


                <!-- <input type="hidden" name="last_name" id="last_name" value="" >
                <input type="hidden" name="sex" id="newsex" value="" >
                <input type="hidden" name="contents" id="contents" value="" > -->
                <input type="hidden" name="next_page" id="id_next_page" value="{% url 'trainee:get_trainee_info' %}">
                <input type="hidden" name="member_id" value="{{ request.user.id }}">
                <input type="hidden" name="password_check" id="id_password_check" value="0">

            </form>
        </div>
    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    <div class="obj_button_big obj_font_bg_white_coral" onclick="func_send_password_change()">저장하기</div>
{% endblock %}

{% block popup_base_js %}
    <script type="text/javascript">

        $('#id_password1').keyup(function(){
            $('#id_password2').val("");
            $('.pw_confirm').css({'display':'none'});
            // check_password();
            if($(this).val().length<8) {
                $('.pw_confirm').text('8자 이상 입력').css({'display':'inline','color':'#fe4e65'});
                $('#id_password_check').val('0');
            }
        });

        $('#id_password2').keyup(function(){
            let selector_pw_input = $('#id_password1');
            if(selector_pw_input.val().length > 7){
                if($(this).val().length==0){
                    $('.pw_confirm').css({'display':'none'});
                }else if($(this).val() != selector_pw_input.val()){
                    $('.pw_confirm').text('비밀번호 불일치').css({'display':'inline','color':'#fe4e65'});
                    $('#id_password_check').val('0');
                }else{
                    $('.pw_confirm').text('비밀번호 일치').css({'display':'inline','color':'green'});
                    $('#id_password_check').val('1');
                }
            }else{
                $('.pw_confirm').text('8자 이상 입력').css({'display':'inline','color':'#fe4e65'});
                $('#id_password_check').val('0');
            }
        });

        function check_password(){
            var $form = $('#form_my_password_change');
            var serializeArray = $form.serializeArray();
            $.ajax({
                url:'/login/check_member_password_form_validation/',
                type:'POST',
                data:serializeArray,
                dataType : 'html',

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    var id_check_message = jsondata.id_check_result;
                    if(id_check_message[0].length>0){
                        $('.pw_confirm').text(id_check_message[0]).css({'display':'inline','color':'#fe4e65'});

                    }else{
                        $('.pw_confirm').text('사용 가능 비밀번호').css({'display':'inline','color':'green'});

                    }
                },

                //보내기후 팝업창 닫기
                complete:function(){

                },

                //통신 실패시 처리
                error:function(){
                    alert("에러: 서버 통신 실패");
                }
            })
        }

        function func_send_password_change(){
            let password_check = $('#id_password_check').val();
            let old_pw = $('#old_pw').val();
            if(old_pw.length>0){
                if(password_check == '1'){
                    var $form = $('#form_my_password_change');
                    var serializeArray = $form.serializeArray();
                    $.ajax({
                        url:'/login/password_change/',
                        type:'POST',
                        data:serializeArray,
                        dataType : 'html',

                        beforeSend:function(){
                        },

                        //통신성공시 처리
                        success:function(data){
                            let jsondata = JSON.parse(data);
                            let id_check_message = jsondata.messageArray;
                            if(id_check_message.length>0){
                                let error_msg = id_check_message[0];
                                alert(error_msg);
                                $('#id_password_check').val('0');
                                $('#old_pw').val('');
                                $('#id_password1').val('');
                                $('#id_password2').val('');
                                $('.pw_confirm').text('');
                            }else{
                                alert('비밀번호 변경이 완료되었습니다.');
                                layer_popup.close_layer_popup()
                            }
                        },

                        //보내기후 팝업창 닫기
                        complete:function(){

                        },

                        //통신 실패시 처리
                        error:function(){
                            alert("에러: 서버 통신 실패");
                        }
                    });
                }
                else{
                    alert('새로운 비밀번호 오류가 발생했습니다.')
                }

            }else{
                alert('현재 비밀번호를 입력해주세요.')
            }
        }


    </script>
{% endblock %}
