{% extends "popup/trainee_base_popup.html" %}
{% load static_url %}
{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.myinfo_change.css" %}>
{% endblock %}
{% block popup_base_contents %}
    <div class="popup_my_info_change">
        <div class="wrapper_popup_title">
            <div class="wrapper_popup_title_text obj_font_size_18_weight_900">내 정보 </div>
        </div>

        <div class="obj_box_full">
            <form id="form_my_info">
                {% csrf_token %}
                <div style="display: none">
                    {{ form.as_p }}
                </div>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">아이디</div>
                    <input type="text" name="username" class="wrapper_password_change_input obj_font_size_14_weight_500" placeholder="{{ member_info.user.username }}" disabled>
                    <div class="wrapper_password_change_button obj_button_gen obj_font_bg_coral_white" onclick="layer_popup.open_layer_popup(POPUP_AJAX_CALL, 'popup_my_password_change', 90, POPUP_FROM_BOTTOM, {} )">비밀번호 재설정 하기</div>
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">이름</div>
                    <input type="text" name="first_name" class="wrapper_my_info_change_input_box obj_font_size_14_weight_500" placeholder="{{ member_info.name }}">
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">생년월일</div>
                    <input type="date" name="birthday" class="wrapper_my_info_change_input_box obj_font_size_14_weight_500" value="{{ member_info.birthday_dt }}" max="2025-12-31" min="1919-01-01">
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">연락처</div>
                    <input type="tel" name="phone" class="wrapper_my_info_change_input_box obj_font_size_14_weight_500" placeholder="{{ member_info.phone }}">
                </article>
                <article>
                    <div class="wrapper_sub_title obj_font_size_11_weight_500 obj_font_color_dark_grey">이메일</div>
                    <input type="email" name="email" id="id_email" class="wrapper_auth_input obj_font_size_14_weight_500"
                           value="{{ member_info.user.email }}" {% if member_info.user.email != '' and request.user.is_active %} disabled {% endif %}>
                    {% if member_info.user.email == '' and not request.user.is_active %}
                    <div class="wrapper_auth_button obj_button_gen obj_font_bg_coral_white" onclick="func_send_activation_email()">인증하기</div>
                    {% elif member_info.user.email != '' and not request.user.is_active %}
                    <div class="wrapper_auth_button obj_button_gen obj_font_bg_coral_white" onclick="func_send_activation_email()">재인증 하기</div>
                    {% else %}
                    <div class="wrapper_auth_button obj_button_gen obj_font_bg_white_coral">인증완료</div>
                    {% endif %}
                </article>
                <span class="email_confirm obj_font_size_11_weight_500"></span>


                <!-- <input type="hidden" name="last_name" id="last_name" value="" >
                <input type="hidden" name="sex" id="newsex" value="" >
                <input type="hidden" name="contents" id="contents" value="" > -->
                <input type="hidden" name="next_page" id="id_next_page" value="{% url 'trainee:get_trainee_info' %}">
                <input type="hidden" name="member_id" value="{{ request.user.id }}">
                <input type="hidden" name="email_duplicate_check" id="id_email_duplicate_check" value="0">

            </form>
        </div>
    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    <div class="obj_button_big obj_font_bg_white_coral" onclick="func_send_my_info_change()">저장하기</div>
{% endblock %}

{% block popup_base_js %}
    <script type="text/javascript">

        function func_send_my_info_change(){
            let tel_validation = func_check_tel_format_validity();
            if(tel_validation == false){
                show_error_message('전화번호는 숫자만 입력해주세요.');
                return false;
            }

            $.ajax({
                url:'/trainee/update_trainee_info/',
                type:'POST',
                data : $('#form_my_info').serialize(),
                dataType : 'html',

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){

                    let jsondata = JSON.parse(data);
                    console.log(jsondata)
                    let error_message = jsondata.messageArray;
                    if(error_message.length > 0){
                        layer_popup.close_layer_popup();
                        show_error_message(error_message[0]);
                    }else{
                        layer_popup.close_layer_popup();
                        alert("정보를 변경하였습니다.");
                        location.reload(true);
                    }
                    
                },

                //보내기후 팝업창 닫기
                complete:function(){
                },

                //통신 실패시 처리
                error:function(){

                }
            });
        }

        function func_check_tel_format_validity(){
            let $input_tel = $('input[name="phone"]');
            let special_pattern = /[`~!@#$%^&*+|\\\'\";:\/?\-\_ ]/gi;

            if(special_pattern.test($input_tel.val()) == true){
                return false;
            }else{
                return true;
            }
        }

        $('#id_email').keyup(function(){
            $('#id_email_duplicate_check').val('0');
            let email_input = $('#id_email').val();
            let email_data = email_input.split('@');
            let email_domain_data;
            if(email_data.length==2){
                email_domain_data = email_data[1].split('.');
            }

            if(email_data.length==2 && email_domain_data.length>1){
                check_email();
            }else{
                $('#id_email_duplicate_check').val('0');
                $('.email_confirm').text('');
            }
        });

        function check_email(){
            var $form = $('#form_my_info');
            var serializeArray = $form.serializeArray();
            $.ajax({
                url:'/login/check_member_email/',
                type:'GET',
                //data:{"email" : $('#id_email').val() },
                data:serializeArray,
                dataType : 'html',

                beforeSend:function(){
                },

                //통신성공시 처리
                success:function(data){
                    var jsondata = JSON.parse(data);
                    var id_check_message = jsondata.id_check_result;
                    if(id_check_message[0].length>0){
                        var error_msg = id_check_message[0];
                        $('.email_confirm').text(error_msg).css({'display':'block','color':'#fe4e65'});
                        $form.find('#id_email_duplicate_check').val('0');
                    }else{
                        $('.email_confirm').text('사용 가능').css({'display':'block','color':'green'});
                        $form.find('#id_email_duplicate_check').val('1');
                    }
                },

                //보내기후 팝업창 닫기
                complete:function(){

                },

                //통신 실패시 처리
                error:function(){
                    alert("에러: 서버 통신 실패");
                }
            });
        }

        function func_send_activation_email(){
            let email_duplication_check = $('#id_email_duplicate_check').val();
            if(email_duplication_check == '1'){

                var $form = $('#form_my_info');
                var serializeArray = $form.serializeArray();
                $.ajax({
                    url:'/login/change_resend_email_authentication/',
                    type:'POST',
                    data:serializeArray,
                    dataType : 'html',

                    beforeSend:function(){
                    },

                    //통신성공시 처리
                    success:function(data){
                        let jsondata = JSON.parse(data);
                        let id_check_message = jsondata.messageArray;
                        if(id_check_message.length>0){
                            let error_msg = id_check_message[0];
                            alert(error_msg);
                            $('#id_email_duplicate_check').val('0');
                        }else{
                            $('.wrapper_auth_button').text('재인증 하기');
                            alert('인증 메일이 발송되었습니다.');
                        }
                    },

                    //보내기후 팝업창 닫기
                    complete:function(){

                    },

                    //통신 실패시 처리
                    error:function(){
                        alert("에러: 서버 통신 실패");
                    }
                });
            }
        }


    </script>
{% endblock %}
