{% extends "popup/trainee_base_popup.html" %}
{% load static_url %}
{% load humanize %}
{% block popup_base_css %}
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.ticket_info.css" %}>
{% endblock %}
{% block popup_base_wrapper_top %}
{% endblock %}
    <!-- pters.trainee.popup.plan_view.css -->

{% block popup_base_contents %}
    <div class="popup_ticket_info">
        <div class="obj_box_popup_topper">
{#            <div class="obj_font_size_12_weight_500 obj_font_color_white">{{ lecture_info.package_tb.package_type_cd_nm }}</div>#}
            <div class="wrapper_my_ticket_title">
                <div class="obj_font_size_18_weight_bold obj_font_color_white">{{ package_info.name }}</div>
            </div>

            <div class="wrapper_my_ticket_tab obj_font_color_white obj_font_size_13_weight_normal">
                <div id="ticket_basic_info" class="wrapper_my_ticket_basic_info" onclick="ticket_basic_info();">기본 정보</div>
                <div id="ticket_lesson_history" class="wrapper_my_ticket_lesson_history" onclick="ticket_lesson_history();">수강권 내역</div>
            </div>
        </div>
        <div class="">
            <div id="wrapper_my_ticket_detail" class="obj_box_full">
             {% for package_group_info in package_info.package_group_data %}
                <div class="wrapper_my_ticket_detail_date">
                    <div class="wrapper_my_ticket_detail_date_title obj_font_size_11_weight_normal obj_font_color_light_grey">
                        <div class="obj_table_raw">수업 종류</div>
                        <div class="obj_table_raw">수업명</div>
                    </div>
                    <div class="wrapper_my_ticket_detail_date_info obj_font_size_14_weight_500">
                        <div class="obj_table_raw">{{ package_group_info.group_type_cd_nm }}</div>
                        <div class="obj_table_raw">{{ package_group_info.group_tb.name }}</div>
                    </div>
                </div>
            {% endfor %}
                {% for lecture_info in lecture_data %}
                {% if forloop.first %}
                    <div class="obj_table_raw wrapper_my_ticket_detail_teacher">
                        <div class="obj_table_cell_x3" style="width:30px;">
                            <div class="obj_box_photo"></div>
                        </div>
                        <div class="obj_table_cell_x3 wrapper_teacher_name">
                            <div class="obj_font_size_12_weight_500">{{ lecture_info.class_tb.member.name }}</div>
                            <div class="obj_font_size_11_weight_normal obj_font_color_light_grey">강사</div>
                        </div>
                        <div class="obj_table_cell_x3 text_button_phone obj_font_size_13_weight_500">{{ lecture_info.class_tb.member.phone }}</div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>

            <div id="wrapper_my_history_detail" style="display:none;">
                <div class="wrapper_my_history_detail_title obj_table_raw obj_font_size_11_weight_normal obj_font_color_light_grey">
                    <div class="wrapper_my_history_detail_lecture_count obj_table_cell_x7">회차</div>
                    <div class="wrapper_my_history_detail_lecture_start_date obj_table_cell_x7">시작일</div>
                    <div class="wrapper_my_history_detail_lecture_end_date obj_table_cell_x7">종료일</div>
                    <div class="wrapper_my_history_detail_lecture_reg_count obj_table_cell_x7">등록횟수</div>
                    <div class="wrapper_my_history_detail_lecture_rem_count obj_table_cell_x7">남은횟수</div>
                    <div class="wrapper_my_history_detail_lecture_price obj_table_cell_x7">등록금</div>
                    <div class="wrapper_my_history_detail_lecture_status obj_table_cell_x7">상태</div>
                </div>
                {% for lecture_info in lecture_data %}
                <div class="wrapper_my_history_detail_info obj_table_raw obj_font_size_11_weight_500">
                    <div class="wrapper_my_history_detail_lecture_count obj_table_cell_x7">{{ forloop.revcounter }}</div>
                    <div class="wrapper_my_history_detail_lecture_start_date obj_table_cell_x7">{{ lecture_info.lecture_tb.start_date | date:"Y.m.d(l)"|cut:"요일"  }}</div>
                    <div class="wrapper_my_history_detail_lecture_end_date obj_table_cell_x7">{{ lecture_info.lecture_tb.end_date | date:"Y.m.d(l)"|cut:"요일"  }}</div>
                    <div class="wrapper_my_history_detail_lecture_reg_count obj_table_cell_x7">{{ lecture_info.lecture_tb.lecture_reg_count }}</div>
                    <div class="wrapper_my_history_detail_lecture_rem_count obj_table_cell_x7">{{ lecture_info.lecture_tb.lecture_rem_count }}</div>
                    <div class="wrapper_my_history_detail_lecture_price obj_table_cell_x7">{{ lecture_info.lecture_tb.price | intcomma }}원</div>
                    <div class="wrapper_my_history_detail_lecture_status obj_table_cell_x7">{{ lecture_info.status }}</div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block popoup_base_wrapper_bottom_inside %}
    <div class="obj_button_big obj_font_bg_coral_white" onclick="layer_popup.close_layer_popup()">확인</div>
{% endblock %}
{% block popup_base_js %}
<script type="text/javascript">
    $('#ticket_basic_info').addClass('ticket_info_selected');
    //popup_ticket_info_swipe_close();
    function ticket_basic_info(){
        $('#ticket_basic_info').addClass('ticket_info_selected');
        $('#ticket_lesson_history').removeClass('ticket_info_selected');
        $('#wrapper_my_ticket_detail').show();
        $('#wrapper_my_history_detail').hide();
    }
    function ticket_lesson_history(){
        $('#ticket_basic_info').removeClass('ticket_info_selected');
        $('#ticket_lesson_history').addClass('ticket_info_selected');
        $('#wrapper_my_ticket_detail').hide();
        $('#wrapper_my_history_detail').show();

    }
    function popup_ticket_info_swipe_close(){
        let ts;
        let tsy;
        let selector_body = $('.popup_ticket_info');
        selector_body.bind("touchstart", function(e){
            ts = e.originalEvent.touches[0].clientX;
            tsy = e.originalEvent.touches[0].clientY;
        });

        /**
         * @param e.originalEvent.changedTouches 터치 변화.
         */
        selector_body.bind("touchend", function(e){
            let te = e.originalEvent.changedTouches[0].clientX;
            let tey = e.originalEvent.changedTouches[0].clientY;
            if(Math.abs(ts - te) < 100){
               if(tsy>tey+50){
                    console.log('test1');
                }else if(tsy<tey-50){
                    layer_popup.close_layer_popup();
                }
            }
        });
    }
</script>
{% endblock %}
