{% load static_url %}
<link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.mobile_side_menu.css" %}>
<div id="pters_mobile_side_menu">
    <div class="wrapper_top">
        <img src="/static/user/res/PTERS_logo_pure.png" class="logo_pters">
        <img src="/static/user/res/ptadd/btn-x.png" onclick="side_menu('close')" class="button_x">
    </div>

    <div class="wrapper_side_menu_items">
        <div class="wrapper_side_menu_main textbox_size_20_weight_bold">마이페이지</div>
        <div class="wrapper_side_menu_main textbox_size_20_weight_bold">설정</div>
        <div class="wrapper_side_menu_main wrapper_menu_inquiry textbox_size_20_weight_bold font_color_pters_red">피터스에게 문의하기</div>
        <div class="wrapper_side_menu_sub textbox_size_16_weight_bold">서비스 소개</div>
        <div class="wrapper_side_menu_sub textbox_size_16_weight_bold">이용약관</div>
        <div class="wrapper_side_menu_sub textbox_size_16_weight_bold">개인정보처리방침</div>
        <div class="wrapper_side_menu_sub textbox_size_16_weight_bold font_color_grey" onclick="location.href='{% url 'login:logout' %}'">로그아웃</div>
    </div>
</div>

<script type="text/javascript">
    function side_menu(option){
        switch(option){
            case "open":
                $('#pters_mobile_side_menu').css({"transform":"translateX(0)", "transition":"transform 0.3s ease-in-out"});
                // $('#pters_mobile_side_menu').css({"transform":"translateX(0)", "transition":"0.5s"});
            break;
            case "close":
                $('#pters_mobile_side_menu').css({"transform":"translateX(100%)"});
            break;
        }
    }
</script>
