{% extends "popup/trainee_base_popup.html" %}
{% load static_url %}
{% block popup_base_css %}
    <!-- pters.trainee.popup.plan_view.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.plan_view.css" %}>
{% endblock %}
{% block popup_base_contents %}
    <div class="popup_calendar_plan_view">
        <div class="obj_font_size_20_weight_bold">{{ date_format | date:'Y년 m월 d일' }} ({{ date_format | date:"l" }})</div>
        <div class="obj_font_size_14_weight_500"><span class="obj_font_color_pters_red">{{ schedule_data | length }}개</span>의 일정이 있습니다.</div>
            {% if schedule_data %}
                {% for schedule_info in schedule_data %}
                <div class="wrapper_box_next_plan obj_box_full">
                    <div class="wrapper_tag">
                        <div class="obj_tag obj_font_bg_white_pink">예약완료</div>
                    </div>
                    <div class="wrapper_lecture_title obj_font_size_16_weight_bold">({{ schedule_info.group_type_name }}) {{ schedule_info.group_name }}</div>
                    <div class="wrapper_plan_info">
                        <div class="obj_table_raw obj_font_size_11_weight_normal obj_font_color_light_grey">
                            <div class="obj_table_cell_x3">일자</div>
                            <div class="obj_table_cell_x3">요일</div>
                            <div class="obj_table_cell_x3">진행시간</div>
                        </div>
                        <div class="obj_table_raw obj_font_size_14_weight_500">
                            <div class="obj_table_cell_x3">{{ schedule_info.start_dt | date:'Y.m.d' }}</div>
                            <div class="obj_table_cell_x3">{{ schedule_info.start_dt | date:"l" }}</div>
                            <div class="obj_table_cell_x3">{{ schedule_info.start_dt | date:'H:i' }} ~ {{ schedule_info.end_dt | date:'H:i' }}</div>
                        </div>
                    </div>
                    {% if schedule_info.note %}
                    <div class="wrapper_teacher_memo_text obj_font_size_12_weight_normal"><span>"{{ schedule_info.note }}"</span></div>
                    {% endif %}
                    <div class="obj_table_raw wrapper_cancel_notice">
                        <div class="obj_table_cell_x2 obj_font_size_11_weight_normal obj_font_color_dark_grey">취소 가능 시간까지 <span class="obj_font_color_pters_red">3시간 26분</span> 남았습니다.</div>
                        <div class="obj_table_cell_x2 obj_button_gen obj_font_bg_white_grey">취소하기</div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="wrapper_box_next_plan obj_box_full">
                <div class="wrapper_tag">
                    <div class="obj_tag obj_font_bg_white_pink">예약완료</div>
                </div>
                <div class="wrapper_lecture_title obj_font_size_16_weight_bold">(X) {{ next_schedule_info.group_name }}</div>
                <div class="wrapper_plan_info">
                    <div class="obj_table_raw obj_font_size_11_weight_normal obj_font_color_light_grey">
                        <div class="obj_table_cell_x3">일자</div>
                        <div class="obj_table_cell_x3">요일</div>
                        <div class="obj_table_cell_x3">진행시간</div>
                    </div>
                    <div class="obj_table_raw obj_font_size_14_weight_500">
                        <div class="obj_table_cell_x3">{{ next_schedule_info.start_dt | date:'Y.m.d' }}</div>
                        <div class="obj_table_cell_x3">{{ next_schedule_info.start_dt | date:"l" }}</div>
                        <div class="obj_table_cell_x3">{{ next_schedule_info.start_dt | date:'H:i' }} ~ {{ next_schedule_info.end_dt | date:'H:i' }}</div>
                    </div>
                </div>
                <div class="wrapper_teacher_memo_text obj_font_size_12_weight_normal"><span>"{{ next_schedule_info.note }}"</span></div>
                <div class="obj_table_raw wrapper_cancel_notice">
                    <div class="obj_table_cell_x2 obj_font_size_11_weight_normal obj_font_color_dark_grey">취소 가능 시간까지 <span class="obj_font_color_pters_red">3시간 26분</span> 남았습니다.</div>
                    <div class="obj_table_cell_x2 obj_button_gen obj_font_bg_white_grey">취소하기</div>
                </div>
            </div>
            {% endif %}
    </div>
    <div class="obj_button_big obj_font_bg_white_pink" onclick="layer_popup('open', 'popup_calendar_plan_reserve', AJAX_CALL)">예약 추가하기</div>
{% endblock %}

{% block popup_base_js %}
{% endblock %}
