{% load static_url %}
<link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.plan_reserve.css" %}>
<!-- pters.trainee.popup.plan_reserve.css -->
<div id="popup_calendar_plan_reserve" class="popup_mobile">
    <div class="popup_mobile_content">
        <div class="wrapper_top">
            <img src="/static/user/res/PTERS_logo_pure.png" class="logo_pters" style="visibility: hidden;">
            <img src="/static/user/res/ptadd/btn-x.png" onclick="layer_popup('close', 'popup_calendar_plan_reserve')" class="obj_button_x">
        </div>
        <div class="obj_font_size_20_weight_bold">일정 예약</div>
        <div class="obj_font_size_14_weight_500">2019년 1월 17일 (목)</div>
    </div>
    <div class="obj_button_big obj_font_bg_white_pink">예약하기</div>
</div>