{% extends "popup/trainee_base_popup.html" %}
{% load static_url %}
{% load background_trainee_data %}

{% block popup_base_css %}
    <!-- pters.trainee.popup.program_notice.css -->
    <link rel="stylesheet" href={% static_url "user/css/trainee/popup/pters.trainee.popup.program_notice.css" %}>
{% endblock %}
{% block popup_base_contents %}
    <div class="popup_program_notice">
        {% if program_notice_info %}
            <div class="wrapper_program_notice_title">
                <div class="wrapper_popup_title_text obj_font_size_18_weight_900">
                    {{ program_notice_info.reg_dt | date:'Y.m.d (l)'|cut:"요일" }} {{ program_notice_info.reg_dt | time:'H:i' }}
                </div>
                <div class="wrapper_popup_title_date obj_font_size_13_weight_500">
{#                    <div class="obj_box_full">#}
                        <div class="obj_table_raw">
{#                            <div class="obj_table_cell_x3" style="width:60px;">#}
{#                                <div class="obj_font_size_12_weight_500">작성자 : </div>#}
{#                            </div>#}
                            <div class="obj_table_cell_x2" style="width:40px;">
                                <img src="{{ program_notice_info.member.profile_url }}" class="obj_box_photo">
                            </div>
                            <div class="obj_table_cell_x2" style="width:auto;">
                                <div class="obj_font_size_12_weight_500">{{ program_notice_info.member.name }}</div>
                            </div>
                        </div>
{#                    </div>#}
                </div>
            </div>
            <div class="wrapper_program_notice_content obj_font_size_14_weight_500">
                <div class="obj_box_full">
                        <div class="obj_table_cell_x2" style="width:auto;">
                            {{ program_notice_info.title }}
                        </div>
                </div>
                <div class="obj_table_raw obj_box_full">
                        <div class="obj_table_cell_x2" style="width:auto;" id="daily_record_content_wrap">
                            {% autoescape off %}
                                {{ program_notice_info.contents }}
                            {% endautoescape %}
                        </div>
                </div>
            </div>

        {% else %}
            작성된 공지사항이 없습니다.
        {% endif %}
    </div>
{% endblock %}

{% block popup_base_js %}
{% endblock %}
