.gap{
	margin-top: 10px;
}
.popup_lecture_view{
	-webkit-overflow-scrolling: touch;
}

.popup_lecture_view .obj_box_full{
	padding: 0 16px;
}

.popup_lecture_view .popup_toolbox{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.popup_ticket_view .popup_content{
	padding-top: 1px;
}

/* 간단보기 */
.popup_lecture_simple_view{
}
.popup_lecture_simple_view .obj_box_full{
	padding: 0 16px;
}