.about_us_upper_box{
	position: relative;
	height: auto;
	line-height: 28px;
	background-color: var(--bg-main);
	/* border-bottom: 1px solid #cccccc; */
	/*padding: 14px 20px;*/
	box-sizing: border-box;
}

.about_us_tools_wrap{
	display: table;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
}

#section_about_us_list_content .obj_input_box_full{
	padding: 8px 20px;
}

.popup_service_about_us .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 16px 20px;
	z-index: 1;
}

.popup_service_about_us .about_us_tag{
	font-size: 12px;
	color: var(--font-sub-normal);
	margin-right: 5px;
}

.popup_service_about_us .about_us_name{
	font-size: 12px;
	color: var(--font-main);
	margin-right: 10px;
}
