.helper_upper_box{
	position: relative;
	height: 28px;
	line-height: 28px;
	background-color: #ffffff;
	/* border-bottom: 1px solid #cccccc; */
	/*padding: 14px 20px;*/
	box-sizing: border-box;
}
.helper_tools_wrap{
	display: table;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
}


.popup_service_helper .popup_toolbox{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	/* padding: 8px 16px 16px 20px; */
	z-index: 1;
}

.popup_service_helper .content_image_wrapper{

}

.popup_service_helper .content_image_wrapper > img{
	width: 100%;
}

.popup_service_helper .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	position: fixed;
	bottom: 0;
}
