.gap{
	margin-top: 10px;
}
.popup_ticket_view{
	-webkit-overflow-scrolling: touch;
}

.popup_ticket_view .obj_box_full{
	padding: 0px 16px;
}

.popup_ticket_view #wrapper_ticket_info_basic{
	padding: 20px 0px;
}
.popup_ticket_view #wrapper_ticket_info_dates{
	padding: 10px 0 15px 0;
	border-top: 1px solid #f4f4f4;
}

.popup_ticket_view #wrapper_ticket_lectures_list{
	overflow: hidden;
}

	.popup_ticket_view #wrapper_ticket_lectures_list ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
		.popup_ticket_view #wrapper_ticket_lectures_list li{
			display: table;
			width: 100%;
			line-height: 40px;
			height: 40px;
			padding: 5px 16px;
			border-bottom: 1px solid #f7f5f6;
			box-sizing: border-box;
		}
		.popup_ticket_view .lecture_name, .popup_ticket_view .lecture_member_number{
			font-weight: unset;
		}
		.popup_ticket_view .lecture_member_number{
			font-size: 11px;
			line-height: 20px;
		}

#toggle_ticket_lectures_list, #toggle_ticket_members_list{
	height: 45px;
	line-height: 45px;
}
	#toggle_ticket_lectures_list > .obj_icon_expand, #toggle_ticket_members_list > .obj_icon_expand{
		margin-top: 12px;
		float: right;
	}


.popup_ticket_view #wrapper_ticket_members_list{
	overflow: hidden;
}

	.popup_ticket_view #wrapper_ticket_members_list ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

		.popup_ticket_view #wrapper_ticket_members_list li{
			display: table;
			width: 100%;
			line-height: 40px;
			height: 40px;
			padding: 5px 16px;
			border-bottom: 1px solid #f7f5f6;
			box-sizing: border-box;
		}
		.popup_ticket_view #wrapper_ticket_members_list li .member_data_l img{
			width: 25px;
		}
		.popup_ticket_view .member_name{
			font-weight: unset;
			font-size: 16px;
		}