/* 예/아니오 등 기본 팝업 CSS */
.popup_mobile_basic{
    background-color:transparent;
}
.popup_mobile_basic > div{
    /*display: none;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    /*transform:translateX(100%);*/
    background-color: #ffffff;

    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.wrapper_popup_basic_comment{
    position: relative;
    height: 65px;
    /*line-height: 65px;*/
    text-align: center;
    
}
.wrapper_popup_basic_comment > p{
    margin: 0;
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
    width:  100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.wrapper_popup_basic_buttons{
    text-align: center;
    border-top: 1px solid #cccccc;
    height: 45px;
}

    .wrapper_popup_basic_buttons .popup_basic_cancel{
        cursor: pointer;
        border-right: 1px solid #cccccc;
    }

    .wrapper_popup_basic_buttons .popup_basic_confirm{
        cursor: pointer;
    }