/* 페이지 타입일때 (PC버전) 이 클래스 하위지정된 것은 page type에만 적용되는 css*/
#ticket_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
#ticket_content_wrap{
	top:unset;
	left:unset;
	background-color:unset;
	position:relative;
	min-height:calc(100% - 68px);
	padding-top:6px; 
	padding-bottom:20px;
	box-sizing: border-box;
}
/* 페이지 타입일때 (PC버전) */
	.ticket_upper_box{
		position: relative;
		height: 28px;
		line-height: 28px;
		background-color: #ffffff;
		/* border-bottom: 1px solid #cccccc; */
		/*padding: 14px 20px;*/
		box-sizing: border-box;
	}
	#ticket_display_panel .ticket_upper_box{
		padding: 20px 16px 12px;
		height: 60px;
	}
	.ticket_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}
	.ticket_tools_wrap > .search_ticket{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_search_black.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
		cursor: pointer;
	}
	.ticket_tools_wrap > .add_ticket{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_plus_pink.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
		cursor: pointer;
	}
	.ticket_tools_wrap > .swap_list{
		display: none;
	}

	.ticket_bottom_tools_wrap{
		background-color: #ffffff;
		font-size: 14px;
		height: 24px;
		line-height: 24px;
		/* padding: 6px 16px; */
		padding: 14px 0 0;
	}



.ticket_wrapper{
	width: calc(100% - 32px);
	padding: 16px 20px;
	background-color: #ffffff;
	border: 1px solid #f5f5f5;
	border-radius: 8px;
	box-shadow: 0 0 16px 0 #e6e6e6;
	margin: 16px;
	box-sizing: border-box;
	cursor: pointer;
}
@media(min-width:651px){
    .ticket_wrapper{
		display: inline-block;
		vertical-align: top;
		width: 48%;
		margin: 1%;
		padding: 10px;
		box-shadow:0 0 16px 0 #e6e6e6;
	}
	.ticket_wrapper:hover{
		box-shadow:0 0 16px 0 #28282850;
		transition:0.1s;
		transform: scale(1.03);
	}
}
@media(min-width:1024px){
    .ticket_wrapper{
		width: 31%;
	}
}

.ticket_wrapper:active{
	background-color: #e8e8e8;
}

.ticket_data_u{
	position: relative;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ticket_data_b{
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ticket_name{
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.8px;
	height: 24px;
	line-height: 24px;
	padding-bottom: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* .ticket_member_number_wrap, .ticket_lectures_wrap{
	display: table;
	width: 100%;
	font-size: 13px;
	min-height: 22px;
} */
.ticket_data_title{
	display: table-cell;
	width: 80px;
	color: #9c9c9c;
}
.ticket_member_number{
	float: right;
	width: auto;
	font-weight: 500;
}
.ticket_lectures{
	font-size: 12px;
	font-weight: 500;
	color: #3d3b3b;
	letter-spacing: -0.5px;
}
.ticket_lectures > div{
	padding-top: 12px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ticket_note{
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.6px;
	color: #858282;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ticket_lecture_color{
	width: 8px;
	height: 8px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
	line-height: 20px;
}

.popup_ticket_list .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 4px 20px;
	z-index: 1;
}


.popup_ticket_list .search_bar{
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	top: 0;
	background-color: #ffffff;
	text-align: center;
	padding-bottom: 5px;
	z-index: 10;
}
.popup_ticket_list .search_bar > input{
	width: 95%;
	height: 35px;
	border: 1px solid #cccccc;
	border-radius: 2px;
}

#ticket_display_panel .search_bar{
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	top: 0;
	background-color: #ffffff;
	text-align: center;
	padding-bottom: 5px;
	z-index: 10;
}
#ticket_display_panel .search_bar > input{
	width: 95%;
	height: 35px;
	-webkit-appearance: none;
	border: 1px solid #cccccc;
	border-radius: 2px;
}