
.inquiry_history_upper_box{
	position: relative;
	height: auto;
	line-height: 28px;
	background-color: #ffffff;
	/* border-bottom: 1px solid #cccccc; */
	/*padding: 14px 20px;*/
	box-sizing: border-box;
}
.inquiry_history_tools_wrap{
	display: table;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
}

#section_inquiry_history_list_content .obj_input_box_full{
	padding: 8px 20px;
}

.popup_service_inquiry_history .popup_toolbox{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding: 8px 16px 16px 20px;
	z-index: 1;
}


.popup_service_inquiry_history .inquiry_wrapper{
	width: 100%;
	height: auto;
	padding: 14px 20px;
	background-color: #ffffff;
	margin: 0 auto;
	border-bottom: 1px solid #f5f2f3;
	box-sizing: border-box;
	cursor: pointer;
}
.popup_service_inquiry_history .inquiry_subject{
	display: flex;
	height: 30px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.8px;
	color: #1f1d1e;
}

.popup_service_inquiry_history .inquiry_subject .inquiry_title{
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.popup_service_inquiry_history .inquiry_subject .inquiry_qa_type{
	color: #858282;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 70px;
	font-size: 13px;
	font-weight: normal;
}

.popup_service_inquiry_history .inquiry_subject .inquiry_status{
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50px;
	text-align: right;
}

.popup_service_inquiry_history .inquiry_date{
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.6px;
	color: #858282;
	text-align: right;
}
