
.member_search_upper_box{
	position: relative;
	height: auto;
	line-height: 28px;
	background-color: #ffffff;
	/* border-bottom: 1px solid #cccccc; */
	/*padding: 14px 20px;*/
	box-sizing: border-box;
}
.member_search_tools_wrap{
	display: table;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
}

#section_member_search_content .obj_input_box_full{
	padding: 8px 20px;
}

.popup_member_search .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 16px 20px;
	z-index: 1;
}
