
.popup_password_modify{
	-webkit-overflow-scrolling: touch;
}

.popup_password_modify .obj_box_full{
	padding: 15px 20px;
	border: 0;
}

.popup_password_modify .obj_input_box_full{
	padding: 15px 20px;
	/* border: 0; */
}

.popup_password_modify .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 4px 20px;
	/* border-bottom: 1px solid #f5f5f5; */
	z-index: 1;
}

.popup_password_modify #basic_info_wrap{
	padding: 8px 20px;
}


.popup_password_modify .popup_content{
	/* padding-top: 20px; */
}
