/* #notice_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
} */
.notice_upper_box{
	position: relative;
	height: 28px;
	line-height: 28px;
	background-color: var(--bg-main);
	/* border-bottom: 1px solid #cccccc; */
	/*padding: 14px 20px;*/
	box-sizing: border-box;
}
.notice_tools_wrap{
	display: table;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
}


.notice_wrapper{
	display: table;
	width: 100%;
	height: 72px;
	padding: 14px 20px;
	background-color: var(--bg-main);
	margin: 0 auto;
	border-top: var(--border-article);
	box-sizing: border-box;
	cursor: pointer;
}

.notice_subject{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.8px;
	color: var(--font-base);
}

.notice_date{
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.6px;
	color: var(--font-sub-normal);
}

.popup_service_notice .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 16px 20px;
	z-index: 1;
}
