.popup_ticket_add{
	-webkit-overflow-scrolling: touch;
}

.popup_ticket_add .obj_box_full{
	padding: 15px 16px;
}

.popup_ticket_add .popup_toolbox{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding: 0 16px 20px 60px;
}

.popup_ticket_add .ticket_add_upper_box{
	height: 24px;
	line-height: 24px;
}

.popup_ticket_add .popup_content{
	padding-top: 1px;
	padding-bottom: 20px;
}