
.popup_program_view{
	/* -webkit-overflow-scrolling: touch; */
}

.popup_program_view .obj_box_full{
	padding: 15px 16px;
	border: 0;
}

.popup_program_view .obj_input_box_full{
	padding: 15px 16px;
	/* border: 0; */
}

.popup_program_view .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 0 20px 24px 60px;
	border-bottom: var(--border-article);
}

.popup_program_view .popup_content{
	/* padding-top: 20px; */
}

