
.popup_setting_time_input_method{
	/* -webkit-overflow-scrolling: touch; */
}

.popup_setting_time_input_method .obj_box_full{
	padding: 15px 20px;
	border: 0;
}

.popup_setting_time_input_method .obj_input_box_full{
	padding: 15px 20px;
	/* border: 0; */
}

.popup_setting_time_input_method .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 4px 20px;
	/* border-bottom: 1px solid #f5f5f5; */
	z-index: 1;
}

.popup_setting_time_input_method .popup_content{
	/* padding-top: 20px; */
}

.popup_setting_time_input_method .select_wrap{
	padding: 20px;
	border: 1px solid #f5f2f2;
	border-radius: 5px;
	margin-bottom: 15px;
	/* cursor: pointer; */
}
.popup_setting_time_input_method .select_wrap img{
	width: 100%;
	border-radius: 8px;
}
.popup_setting_time_input_method .select_indicator{
	margin-bottom: 10px;
}
.popup_setting_time_input_method .select_indicator > p{
	padding-left: 25px;
	font-size: 12px;
	margin-top: 0;
}
.popup_setting_time_input_method .selected{
	background-color: #fe4e6530;
	border-color: #fe4e65;
}
