#lecture_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.lecture_upper_box{
		position: relative;
		height: 28px;
		line-height: 28px;
		background-color: #ffffff;
		/* border-bottom: 1px solid #cccccc; */
		/*padding: 14px 20px;*/
		box-sizing: border-box;
	}
	.lecture_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}
	.lecture_tools_wrap > .search_lecture{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_search.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	.lecture_tools_wrap > .add_lecture{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_add.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	.lecture_tools_wrap > .swap_list{
		/* display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_swap.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px; */
		display: none;
	}

	.lecture_bottom_tools_wrap{
		background-color: #ffffff;
		/*border-bottom: 1px solid #cccccc;*/
		padding: 14px 0 0;
		font-size: 14px;
		height: 24px;
		line-height: 24px;
	}



.lecture_wrapper{
	display: table;
	width: 100%;
	height: 60px;
	padding: 8px 20px 8px 24px;
	background-color: #ffffff;
	margin: 0 auto;
	box-sizing: border-box;
}

.lecture_data_l{
	display: table-cell;
	vertical-align: middle;
	width: 12px;
	text-align: left;
	position: relative;
}
.lecture_data_c{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

.lecture_data_r{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

.lecture_name{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.8px;
}
.lecture_member_number{
	float: right;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.8px;
}
.lecture_note{
	/* margin-bottom: 5px; */
	height: 20px;
	color: #858282;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.6px;
	box-sizing: border-box;
}

.lecture_tag{
	width: 4px;
	height: 32px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
	/*margin-bottom: 2px;*/
	margin-right: 12px;
}

.popup_lecture_list .popup_toolbox{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding: 8px 16px 16px 20px;
	z-index: 1;
}

.popup_lecture_list .search_bar{
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	top: 0;
	background-color: #ffffff;
	text-align: center;
	padding-bottom: 5px;
	z-index: 10;
}
.popup_lecture_list .search_bar > input{
	width: 95%;
	height: 35px;
	-webkit-appearance: none;
	border: 1px solid #cccccc;
	border-radius: 2px;
}