
.popup_setting_supervisor{
	/* -webkit-overflow-scrolling: touch; */
}

.popup_setting_supervisor .obj_box_full{
	padding: 15px 20px;
	border: 0;
}

.popup_setting_supervisor .obj_input_box_full{
	padding: 15px 20px;
	/* border: 0; */
}

.popup_setting_supervisor .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 4px 20px;
	/* border-bottom: 1px solid #f5f5f5; */
	z-index: 1;
}

.popup_setting_supervisor .popup_content{
	/* padding-top: 20px; */
}

.popup_setting_supervisor .shared_members_auth_name_wrapper{
	font-size: 16px;
	font-weight: 500;
}

.popup_setting_supervisor .shared_members_auth_wrapper{
	margin: 10px 0;
}

.popup_setting_supervisor .shared_member_auth{
	display: flex;
	font-size: 12px;
	padding: 3px 5px;
}

.popup_setting_supervisor .auth_title{
	flex-basis: 60px;
	color: var(--font-sub-dark);
}
.popup_setting_supervisor .auth_setting{
	flex: 1 1 0;
	color: var(--font-sub-dark);
	text-align: right;
}




