
.popup_pters_pass_shop_agreement{
	/* -webkit-overflow-scrolling: touch; */
}

.popup_pters_pass_shop_agreement .obj_box_full{
	padding: 15px 20px;
	border: 0;
}

.popup_pters_pass_shop_agreement .obj_input_box_full{
	padding: 10px 20px;
	/* border: 0; */
}

.popup_pters_pass_shop_agreement .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 4px 20px;
	/* border-bottom: 1px solid #f5f5f5; */
	z-index: 1;
}

.popup_pters_pass_shop_agreement .popup_content{
	/* padding-top: 20px; */
}

.popup_pters_pass_shop_agreement .agreement_wrapper{
	font-size: 12px;
}

.popup_pters_pass_shop_agreement .caution_wrapper{
	font-size: 12px;
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #f2f2f2;
}
.popup_pters_pass_shop_agreement .caution_wrapper p{
	margin: 8px 0;
}
