.popup_member_view{
	-webkit-overflow-scrolling: touch;
}

.popup_member_view .obj_box_full{
	padding: 15px 16px;
}

.popup_member_view .popup_toolbox{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding: 0px 16px 10px 50px;
}

.popup_member_view .popup_content{
	padding-top: 1px;
}


/* 간단 보기 */
.popup_member_simple_view{
}
.popup_member_simple_view .obj_box_full{
	padding: 0 16px;
}