#program_board_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
#program_board_content_wrap{
	top:unset;
	left:unset;
	background-color:unset;
	position:relative;
	min-height:calc(100% - 68px);
	padding-top:6px;
	padding-bottom:20px;
	box-sizing: border-box;
}


	.program_board_upper_box{
		position: relative;
		height: 28px;
		line-height: 28px;
		background-color: var(--bg-main);
		/* border-bottom: 1px solid #cccccc; */
		/*padding: 14px 20px;*/
		box-sizing: border-box;
	}

	#program_board_display_panel .program_board_upper_box{
		padding: 20px 16px 12px;
		height: 60px;
	}

	.program_board_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}
	.program_board_tools_wrap > .search_program_board{
		display: table-cell;
		height: 100%;
		cursor: pointer;
		vertical-align: middle;
		text-align: center;
	}
	.program_board_tools_wrap > .search_program_board > svg{
		vertical-align: middle;
		margin-bottom: 4px;
	}
	.program_board_tools_wrap > .add_program_board{
		display: table-cell;
		height: 100%;
		cursor: pointer;
		vertical-align: middle;
		text-align: center;
	}
	.program_board_tools_wrap > .add_program_board > svg{
		vertical-align: middle;
		margin-bottom: 4px;
	}
	.program_board_tools_wrap > .swap_list{
		display: none;
	}

	.program_board_bottom_tools_wrap{
		background-color: var(--bg-main);
		font-size: 14px;
		height: 24px;
		line-height: 24px;
		/* padding: 6px 16px; */
		padding: 14px 0 0;
	}



.program_board_wrapper{
	display: block;
	width: 100%;
	height: 60px;
	padding: 8px 20px 8px 24px;
	background-color: var(--bg-main);
	margin: 0 auto;
	box-sizing: border-box;
	cursor: pointer;
}
.program_board_wrapper > div{
	/* display: table; */
	display: flex;
	width: 100%;
}
@media(min-width:651px){
    .program_board_wrapper{
		display: inline-block;
		vertical-align: top;
		width: 48%;
		margin: 1%;
		padding: 10px;
		box-shadow:var(--box-shadow-article);
		background-color: var(--bg-article);
	}
	.program_board_wrapper:hover{
		box-shadow:0 0 16px 0 #28282850;
		transition:0.1s;
		transform: scale(1.03);
	}
}
@media(min-width:1024px){
    .program_board_wrapper{
		width: 31%;
	}
}


.popup_program_board_list .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	padding: 8px 16px 16px 20px;
	z-index: 1;
}

.popup_program_board_list .search_bar{
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	top: 0;
	background-color: var(--bg-main);
	text-align: center;
	padding-bottom: 5px;
	z-index: 10;
}
.popup_program_board_list .search_bar > input{
	width: 95%;
	height: 35px;
	-webkit-appearance: none;
	border: var(--border-article-dark);
	border-radius: 2px;
	padding: 0 10px;
	box-sizing: border-box;
}

#program_board_display_panel .search_bar{
	position: sticky;
	position: -webkit-sticky;
	width: 100%;
	top: 0;
	background-color: var(--bg-main);
	text-align: center;
	padding-bottom: 5px;
	z-index: 10;
}
#program_board_display_panel .search_bar > input{
	width: 95%;
	height: 35px;
	-webkit-appearance: none;
	border: var(--border-article-dark);
	border-radius: 2px;
	padding: 0 10px;
	box-sizing: border-box;
}

	/*.notice_upper_box .notice_right_button{*/
		/*float: right;*/
		/*width: 30px;*/
		/*height: 30px;*/
	/*}*/
	/*.notice_upper_box .notice_right_button > img{*/
		/*width: 100%;*/
		/*border-radius: 50%;*/
	/*}*/
	/*.notice_tools_wrap > .add_program_board{*/
		/*display: table-cell;*/
		/*height: 100%;*/
		/*background-image: url("/static/common/icon/icon_plus_pink.png");*/
		/*background-repeat: no-repeat;*/
		/*background-position: center;*/
		/*background-size: 23px;*/
		/*cursor: pointer;*/
	/*}*/


/*#notice_content_wrap .contents{*/
	/*border-radius: 4px;*/
	/*box-shadow: var(--box-shadow-article);*/
	/*border: var(--border-article);*/
	/*background-color: var(--bg-main);*/
	/*margin-bottom: 12px;*/
	/*padding: 4px 0;*/
/*}*/



#section_program_board_content .program_board_article_wrapper{
	display: flex;
	flex-direction: column-reverse;
}

#section_program_board_content .program_board_article{
	padding: 10px 16px;
	box-sizing: border-box;
	border-bottom: var(--border-article-dark);
	cursor: pointer;
}

#section_program_board_content .program_board_article_upper{
	display: flex;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
#section_program_board_content .program_board_article_bottom{
	display: flex;
	font-size: 13px;
}
#section_program_board_content .program_board_contents{
	font-size: 13px;
	margin-top: 10px;
}
#section_program_board_content .program_board_contents > div:first-child{
	padding: 10px 5px;
	background-color: var(--bg-light);
}

#section_program_board_content .program_board_article_id{
	flex-basis: 40px;
}
#section_program_board_content .program_board_article_title{
	flex: 1 1 0;
}

#section_program_board_content .program_board_article_use{
 	flex-basis: 50px;
}

#section_program_board_content .program_board_article_target{
	flex: 1 0 0;
}
#section_program_board_content .program_board_article_type{
	flex-basis: 80px;
}

#section_program_board_content .program_board_article_reg_date{
	flex-basis: 150px;
	text-align: right;
}


