#lecture_display_panel{
	position: sticky;
	position: -webkit-sticky;
	height: auto;
	z-index: 10;
	width: 100%;
	top: 0;
	/* text-align: center; */
}
	.lecture_upper_box{
		position: relative;
		height: 28px;
		line-height: 28px;
		background-color: #ffffff;
		/* border-bottom: 1px solid #cccccc; */
		/*padding: 14px 20px;*/
		box-sizing: border-box;
	}
	.lecture_tools_wrap{
		display: table;
		position: absolute;
		right: 0;
		top: 0;
		width: 100px;
		height: 100%;
	}
	.lecture_tools_wrap > .search_lecture{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_search.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	.lecture_tools_wrap > .add_lecture{
		display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_add.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px;
	}
	.lecture_tools_wrap > .swap_list{
		/* display: table-cell;
		height: 100%;
		background-image: url("/static/common/icon/icon_swap.png?v2");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px; */
		display: none;
	}

	.lecture_bottom_tools_wrap{
		background-color: #ffffff;
		/*border-bottom: 1px solid #cccccc;*/
		padding: 14px 0 0;
		font-size: 14px;
		height: 24px;
		line-height: 24px;
	}



.lecture_wrapper{
	display: table;
	width: 100%;
	height: 60px;
	padding: 8px 20px 8px 24px;
	background-color: #ffffff;
	margin: 0 auto;
	box-sizing: border-box;
}

.lecture_data_l{
	display: table-cell;
	vertical-align: middle;
	width: 12px;
	text-align: left;
	position: relative;
}
.lecture_data_c{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

.lecture_name{
	font-size: 16px;
	font-weight: 500;
}
.lecture_member_number{
	float: right;
	font-size: 18px;
	font-weight: 500;
}
.lecture_note{
	/* margin-bottom: 5px; */
	height: 20px;
	color: #858282;
	font-size: 11px;
	font-weight: 500;
	box-sizing: border-box;
}

.lecture_tag{
	width: 4px;
	height: 32px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 16px;
}

.popup_lecture_list .popup_toolbox{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding: 0 16px 16px 20px;
	z-index: 1;
}
/* 
  .lecture_tag_body {
	position: absolute;
	background:#282828;
	display: inline-block;
	height: 12px;
	width: 12px;
	top: 15px;
  }
  .lecture_tag_head{
	position: absolute;
	border-left: 5px solid #282828;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	height: 0;
	left: 12px;
	top: 15px;
	width: 0;
  } */