
.popup_mypage{
	-webkit-overflow-scrolling: touch;
}

.popup_mypage .obj_box_full{
	padding: 15px 20px;
	border: 0;
}

.popup_mypage .obj_input_box_full{
	padding: 15px 20px;
	/* border: 0; */
}

.popup_mypage .popup_toolbox{
	/* position: sticky;
	position: -webkit-sticky; */
	position: relative;
	top: 0;
	/* padding: 8px 16px 4px 20px; */
	padding: 0;
	/* border-bottom: 1px solid #f5f5f5; */
	z-index: 1;
}

.popup_mypage #basic_info_wrap{
	padding: 8px 20px;
}

.popup_mypage #pass_info_wrap{
	padding: 8px 20px;
	border-top: 1px solid #f5f2f3;
	border-bottom: 1px solid #f5f2f3;
}

.popup_mypage .photo_wrap{
	width: 100px;
	height: 100px;
	margin:0 auto;
}

.popup_mypage #edit_info_wrap{
	padding: 8px 20px;
}

.popup_mypage .popup_content{
	/* padding-top: 20px; */
}
