.popup_ticket_view{
	-webkit-overflow-scrolling: touch;
}

.popup_ticket_view .obj_box_full{
	padding: 15px 0 15px 16px;
}

.popup_ticket_view .obj_input_box_full{
	padding: 4px 0px 4px 18px;
}

.popup_ticket_view .popup_toolbox{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding: 0px 16px 10px 60px;
}

.popup_ticket_view .popup_content{
	padding-top: 1px;
}

/* 간단보기 */
.popup_ticket_simple_view{
}
.popup_ticket_simple_view .obj_box_full{
	padding: 0 16px;
}