{
    "db_id" :
    [{% for member_info in member_data %}"{{ member_info.user.id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "member_id" :
    [{% for member_info in member_data %}"{{ member_info.user }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "email" :
    [{% for member_info in member_data %}"{{ member_info.user.email }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "name" :
    [{% for member_info in member_data %}"{{ member_info.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "first_name" :
    [{% for member_info in member_data %}"{{ member_info.user.first_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "last_name" :
    [{% for member_info in member_data %}"{{ member_info.user.last_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "phone" :
    [{% for member_info in member_data %}"{{ member_info.phone }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "birthday" :
    [{% for member_info in member_data %}"{{ member_info.birthday_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "sex" :
    [{% for member_info in member_data %}"{{ member_info.sex }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "email_activation" :
    [{% for member_info in member_data %}"{{ member_info.user.is_active }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "price":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.price }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "option":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.option_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "note":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "start_date":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.start_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "end_date":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.end_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "reg_count":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.lecture_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "rem_count":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.lecture_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "avail_count":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.lecture_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "reg_dt":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "mod_dt":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "lecture_id":
    [{% for member_info in member_data %}"{{ member_info.lecture_tb.lecture_available_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "messageArray" :
    [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
}
