    {
      "group_id":
      [{% for group_info in group_data %}"{{ group_info.group_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_type_cd":
      [{% for group_info in group_data %}"{{ group_info.group_type_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_type_cd_nm":
      [{% for group_info in group_data %}"{{ group_info.group_type_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "member_num":
      [{% for group_info in group_data %}"{{ group_info.member_num  }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_name":
      [{% for group_info in group_data %}"{{ group_info.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_note":
      [{% for group_info in group_data %}"{{ group_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_reg_dt":
      [{% for group_info in group_data %}"{{ group_info.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_mod_dt":
      [{% for group_info in group_data %}"{{ group_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "state_cd":
      [{% for group_info in group_data %}"{{ group_info.state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "state_cd_name":
      [{% for group_info in group_data %}"{{ group_info.state_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_member_num":
      [{% for group_info in group_data %}"{{ group_info.group_member_num }}"{% if forloop.last == False %},{% endif %}{% endfor %}],

    "db_id" :
    [{% for member_info in member_data %}"{{ member_info.user.id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "member_id" :
    [{% for member_info in member_data %}"{{ member_info.user }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "email" :
    [{% for member_info in member_data %}"{{ member_info.user.email }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "name" :
    [{% for member_info in member_data %}"{{ member_info.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "first_name" :
    [{% for member_info in member_data %}"{{ member_info.user.first_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "last_name" :
    [{% for member_info in member_data %}"{{ member_info.user.last_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "phone" :
    [{% for member_info in member_data %}"{{ member_info.phone }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "birthday" :
    [{% for member_info in member_data %}"{{ member_info.birthday_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "sex" :
    [{% for member_info in member_data %}"{{ member_info.sex }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "note" :
    [{% for member_info in member_data %}"{{ member_info.contents }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "email_activation" :
    [{% for member_info in member_data %}"{{ member_info.user.is_active }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "lectureCountsArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_counts }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "npLectureCountsArray" :
    [{% for member_info in member_data %}"{{ member_info.np_lecture_counts }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "rjLectureCountsArray" :
    [{% for member_info in member_data %}"{{ member_info.rj_lecture_counts }}"{%if forloop.last == False%},{% endif %}{% endfor %}],


    "start_date" :
    [{% for member_info in member_data %}"{{ member_info.start_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "mod_dt" :
    [{% for member_info in member_data %}"{{ member_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "end_date" :
    [{% for member_info in member_data %}"{{ member_info.end_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "reg_count" :
    [{% for member_info in member_data %}"{{ member_info.lecture_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "avail_count" :
    [{% for member_info in member_data %}"{{ member_info.lecture_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "rem_count" :
    [{% for member_info in member_data %}"{{ member_info.lecture_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "lesson_reg_count" :
    [{% for member_info in member_data %}"{{ member_info.lesson_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "lesson_avail_count" :
    [{% for member_info in member_data %}"{{ member_info.lesson_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "lesson_rem_count" :
    [{% for member_info in member_data %}"{{ member_info.lesson_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "group_reg_count" :
    [{% for member_info in member_data %}"{{ member_info.group_reg_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "group_avail_count" :
    [{% for member_info in member_data %}"{{ member_info.group_avail_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "group_rem_count" :
    [{% for member_info in member_data %}"{{ member_info.group_rem_count }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "yetCountArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_rem_count_yet }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "yetRegCountArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_reg_count_yet }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "yetAvailCountArray" :
    [{% for member_info in member_data %}"{{ member_info.lecture_avail_count_yet }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "activationArray" :
    [{% for member_info in member_data %}"{{ member_info.is_active }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "groupInfoArray" :
    [{% for member_info in member_data %}"{{ member_info.group_info }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

    "lecture_id" :
    [{% for member_info in member_data %}"{{ member_info.lecture_available_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}]
    
    }


