    {
      "package_id":
      [{% for package_info in package_data %}"{{ package_info.package_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_name":
      [{% for package_info in package_data %}"{{ package_info.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_note":
      [{% for package_info in package_data %}"{{ package_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_type_cd":
      [{% for package_info in package_data %}"{{ package_info.package_type_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_type_cd_nm":
      [{% for package_info in package_data %}"{{ package_info.package_type_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_reg_dt":
      [{% for package_info in package_data %}"{{ package_info.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_mod_dt":
      [{% for package_info in package_data %}"{{ package_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_state_cd":
      [{% for package_info in package_data %}"{{ package_info.state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_state_cd_name":
      [{% for package_info in package_data %}"{{ package_info.state_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_group_num":
      [{% for package_info in package_data %}"{{ package_info.package_group_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_ing_member_num":
      [{% for package_info in package_data %}"{{ package_info.ing_package_member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_end_member_num":
      [{% for package_info in package_data %}"{{ package_info.end_package_member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "package_group_name":
      [{% for package_info in package_data %} {% if package_info.package_group_data == None %}""{% endif %} {% for package_group_info in package_info.package_group_data  %}"{{ package_group_info.group_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}{%if forloop.last == False%} {% if package_info.package_group_data %},{% endif %}{% endif %}{% endfor %}],
      "package_group_ing_color_cd":
      [{% for package_info in package_data %} {% if package_info.package_group_data == None %}""{% endif %} {% for package_group_info in package_info.package_group_data  %}"{{ package_group_info.group_tb.ing_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}{%if forloop.last == False%} {% if package_info.package_group_data %},{% endif %}{% endif %}{% endfor %}],
      "package_group_end_color_cd":
      [{% for package_info in package_data %} {% if package_info.package_group_data == None %}""{% endif %} {% for package_group_info in package_info.package_group_data  %}"{{ package_group_info.group_tb.end_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}{%if forloop.last == False%} {% if package_info.package_group_data %},{% endif %}{% endif %}{% endfor %}],
      "package_group_ing_font_color_cd":
      [{% for package_info in package_data %} {% if package_info.package_group_data == None %}""{% endif %} {% for package_group_info in package_info.package_group_data  %}"{{ package_group_info.group_tb.ing_font_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}{%if forloop.last == False%} {% if package_info.package_group_data %},{% endif %}{% endif %}{% endfor %}],
      "package_group_end_font_color_cd":
      [{% for package_info in package_data %} {% if package_info.package_group_data == None %}""{% endif %} {% for package_group_info in package_info.package_group_data  %}"{{ package_group_info.group_tb.end_font_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}{%if forloop.last == False%} {% if package_info.package_group_data %},{% endif %}{% endif %}{% endfor %}],

{#      "package_group_tb_id"#}
{#      [{% for package_info in package_data %}"{{ package_info.group_tb_id }}"{% if forloop.last == False %},{% endif %}{% endfor %}],#}
      "total_package_num":
      ["{{ total_package_num }}"],
      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
