    {
      "package_id":
      [{% for package_info in package_data %}"{{ package_info.package_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_name":
      [{% for package_info in package_data %}"{{ package_info.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_note":
      [{% for package_info in package_data %}"{{ package_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_reg_dt":
      [{% for package_info in package_data %}"{{ package_info.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_mod_dt":
      [{% for package_info in package_data %}"{{ package_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_state_cd":
      [{% for package_info in package_data %}"{{ package_info.state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "package_state_cd_name":
      [{% for package_info in package_data %}"{{ package_info.state_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
