{  
"2019-05-07":[ 
                {"start":"08:00", "end":"09:00", "finished":false, "type":"private"},
                {"start":"09:00", "end":"10:00", "finished":false, "type":"private"},
                {"start":"11:00", "end":"12:00", "finished":false, "type":"private"},
                {"start":"13:00", "end":"14:00", "finished":false, "type":"private"},
                {"start":"15:00", "end":"16:00", "finished":true, "type":"private"},
                {"start":"17:00", "end":"18:00", "finished":false, "type":"group", "reserved":5, "max":5},
                {"start":"19:00", "end":"20:00", "finished":false, "type":"group", "reserved":3, "max":5} 
            ],
"2019-05-19":[ 
            {"start":"06:00", "end":"07:00", "finished":false, "type":"private"},
            {"start":"5:00", "end":"13:00", "finished":false, "type":"private"} 
        ],
"2019-05-22":[ 
                {"start":"08:00", "end":"09:00", "finished":false, "type":"private"},
                {"start":"11:00", "end":"13:00", "finished":false, "type":"private"} 
            ],
"2019-05-24":[ 
                {"start":"06:00", "end":"08:00", "finished":false, "type":"private"},
                {"start":"08:00", "end":"11:00", "finished":false, "type":"private"},
                {"start":"20:00", "end":"21:00", "finished":false, "type":"private"}
            ],
"2019-06-05":[ 
                {"start":"08:00", "end":"09:00", "finished":false, "type":"private"},
                {"start":"11:00", "end":"13:00", "finished":false, "type":"private"} 
            ],
"2019-06-17":[ 
                {"start":"06:00", "end":"08:00", "finished":false, "type":"private"},
                {"start":"08:00", "end":"11:00", "finished":false, "type":"private"},
                {"start":"20:00", "end":"21:00", "finished":false, "type":"private"}
            ],
"2019-07-05":[ 
            {"start":"06:00", "end":"08:00", "finished":false, "type":"private"},
            {"start":"08:00", "end":"11:00", "finished":false, "type":"private"},
            {"start":"20:00", "end":"21:00", "finished":false, "type":"private"}
        ],
"2019-07-10":[ 
            {"start":"08:00", "end":"09:00", "finished":false, "type":"private"},
            {"start":"11:00", "end":"13:00", "finished":false, "type":"private"} 
        ],
"2019-07-29":[ 
            {"start":"06:00", "end":"08:00", "finished":false, "type":"private"},
            {"start":"08:00", "end":"11:00", "finished":false, "type":"private"},
            {"start":"20:00", "end":"21:00", "finished":false, "type":"private"}
        ],
"messageArray":[]
}
