    {
      "offScheduleIdArray" :
      [],
      "offTimeArray_start_date" :
      [],
      "offTimeArray_end_date" :
      [],
      "offScheduleNoteArray":
      [],
      "scheduleIdArray" :
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classArray_lecture_id" :
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.lecture_tb_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_member_name" :
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.lecture_tb.member.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_member_id" :
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.lecture_tb.member_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_start_date" : 
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "classTimeArray_end_date" : 
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleFinishArray":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.finish_check }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "schedulePermissionStateArray":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.permission_state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleNoteArray":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ pt_schedule_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "scheduleIdxArray":
      [{% for pt_schedule_info in pt_schedule_data %}"{{ forloop.counter }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "group_schedule_id":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.schedule_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_group_id":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.group_id }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_group_name":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_max_member_num":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_ing_color_cd":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.ing_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_end_color_cd":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.end_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_ing_font_color_cd":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.ing_font_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_end_font_color_cd":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_tb.end_font_color_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "group_schedule_current_member_num":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_current_member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_group_type_cd_name":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.group_type_cd_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_start_datetime":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.start_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_end_datetime":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.end_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_finish_check":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.finish_check }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
      "group_schedule_note":
      [{% for group_schedule_info in group_schedule_data %}"{{ group_schedule_info.note }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}],
      "RepeatDuplicationDateArray" :
      [{% for message in messages %}"{% if message.tags == "info" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "repeatArray" :
      ["{{ request.session.repeat_schedule_id }}"],
      "repeatScheduleCounterArray" :
      ["{{ request.session.repeat_schedule_input_counter }}"]

    }
