<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>

    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script', 'dataLayer', 'GTM-WG2KK6D');

    </script>
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="EPm2stOoq7M_LaK0htEQNqbitGznovZCakPO78TPtsk" />
    <meta name="naver-site-verification" content="919ceda7d377b0d22cf390ca79de5dc21dc3d0fa"/>
    <meta name="description" content="PTERS 피터스 PT, 요가, 필라테스, 당구, 골프 등 레슨 회원관리와 일정을 관리하는 서비스 프로그램">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}PTERS{% endblock %}</title>

    <link rel="icon" href={% static_url "common/favicon.ico" %}>
    <link rel="apple-touch-icon" href={% static_url "common/favicon-48.png" %}>
    <link rel="shortcut icon" href={% static_url "common/favicon-48.png" %}>

    <link rel="stylesheet" href={% static_url "user/css/admin/page/pters.admin.func.home.css" %}>
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <style>
        html, body{
            height: 100%;
        }
        body{
            margin: 0;
        }
    </style>

    {% block local_css %}
    {% endblock %}
</head>
<body>


{% block navbar %}
{% endblock %}
<div id="debug_toolbar" style="position:fixed;top:0;font-size:13px;background-color:#fe4e65ba;color:#ffffff;width:100%;left:0;z-index:1500"></div>


{% block content %}
{% endblock %}


{% block footer %}

{% endblock %}

{% block local_js_footer %}
{% endblock %}


<!-- 페이지 스크립트 로드-->
<script type="text/javascript" src={% static_url "user/js/admin/page/pters.admin.func.home.js" %}></script>
<!-- 페이지 스크립트 로드-->

<!-- POPUP Behavior -->
<script type="text/javascript" src={% static_url "user/js/admin/pters.admin.popup.behavior.js" %}></script>
<!-- POPUP Behavior -->


<script>
   var page_qa = new Page_QA('#main_content');
</script>

</body>
</html>