@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
	font-family: 'Noto Sans KR' !important;
	margin: 0;
	background-image: url("/static/user/res/main/bg-image.png");
	background-repeat: no-repeat;
	background-position-x:center;
	background-position-y:center;
	background-size:100%;
	background-color: black !important;
}

.registerbox{
	background-color: #ffffffde;
	border: 5px solid #fe4e65;
	max-width: 800px;
	padding: 30px;
	margin: 0 auto;
}
	.registerbox_label{
		font-weight: bold;
		font-size: 21px;
		margin-top: 0;
		margin-bottom: 20px;
	}
		.registerbox_label span{
			color: #fe4e65;
		}
		.registerbox_label img{
			width: 15px;
			float: right;
			margin-top: 7px;
			cursor: pointer;
		}

	.registerbox_sublabel{
		font-size: 15px;
	}
	
	.outerbox{
		margin-top: 15px;
	}
		.outerbox input{
			line-height: 21px;
			width: 170px;
		}

	.outerbox_horizontal{
		display: inline-block;
		width: 100%;
		margin:10px 0 10px 0;
		text-align:center;
	}
		.outerbox_horizontal button{
			width: 20%;
			min-width: 78px;
			height: 40px;
			border: 0;
			border-radius: 5px;
			font-size: 13px;
			font-weight: bold;
			font-family: 'Noto Sans KR' !important;
			cursor: pointer;
			opacity: 0.9;
			box-shadow: 1px 1px 0px 0px #cccccc;
			margin: 0 5px 0 5px;
		}
		.outerbox_horizontal button:hover{
			opacity: 1;
		}
		.outerbox_horizontal div{
			border: 0;
			border-radius: 5px;
			font-size: 13px;
			font-weight: bold;
			font-family: 'Noto Sans KR' !important;
			box-shadow: 1px 1px 0px 0px #cccccc;
			margin: 0 50px 0 50px;
		}

	.selector_button{
		background-color: #ffffff;
		border: 1px solid rgb(238, 238, 238);
		line-height: 23px;
	}
		.selector_button_checked{
			background-color: #fe4e65;
			color: #ffffff;
		}

	.pw_confirm,.id_confirm{
		display: none;
		font-size: 12px;
	}

	.register_button{
		margin-left: 5px;
		line-height: 21px;
	}

	.login_dropdown{
		height: 27px;
	}

	.registerbox_smalllabel{
		margin:0 auto;
		width: 100%;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	.contractread{
		width: 100%;
		margin: 0 auto;
		height: 200px;
		font-size: 11px;
		border: 1px solid #282828;
		overflow-y: scroll;
	}
		.contractread_check{
			font-size: 13px;
		}

.explainbox{
	display: none;
	background-color: #f1f1f1;
	width: 210px;
	height: 500px;
	margin: 0 16px 0 16px !important;
	word-break: break-all;
	padding: 10px;
}

.buttongroup{
	text-align: center;
	margin-top: 30px;
}

.bg-pink{
	background-color: #fe4e65;
	color: #ffffff;
}
.bg-yellow{
	background-color: #ffe466;
}
.bg-grey{
	background-color: #282828;
	color: #ffffff;
}
.font-pink{
	color: #fe4e65;
}


.fixfooter{
	display: none;
}

.bottomzero{
	bottom: 0;
}

@media(min-width: 600px){
	body{
		background-image: url("/static/user/res/main/bg-image-pc-login.png");
		background-position-y:unset;
		background-size: auto;
	}

	.registerbox{
		width: 800px;
		margin-top: 50px;
		margin-bottom: 45px;
	}

	.outerbox_horizontal{
		display: inline-block;
		width: 800px;
		margin:10px 0 10px 0;
		text-align:center;
	}
		.outerbox_horizontal button{
			width: 140px;
			height: 40px;
			margin: 0 52px 0 52px;
		}

	.explainbox{
		display: inline-block;
		background-color: #f1f1f1;
		width: 210px;
		height: 500px;
		margin: 0 8px 0 8px !important;
	}
	.fixfooter{
		position: relative;
	    display: block;
	    background: rgba(40, 40, 40, 0.50);
	    width: 100%;
	    left: 50%;
	    transform: translateX(-50%);
	}
		.bottomfooter1{
		    color: #7d7d7d;
		    color:#ffffff;
		    font-size: 12px;
		    font-weight: 400;
		    width: 535px;
		    max-width: 1000px;
		    margin:0 auto;
		    height: 50px;
		}
			.bottomfooter1 span{
			    line-height: 50px;
			    margin-left: 0px;
			}
		.bottomfooter2{
		    width: 535px;
		    max-width: 1000px;
		    margin:0 auto;
		    color: #282828;
		    color: #ffffff;
		    font-size: 10px;
		}
			.bottomfooter2 p{
			    margin-bottom:1px;
			}
}