@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
	padding-top: 50px;
	background-color: #eeeeee;
	font-family: 'Noto Sans KR';
}

#shade{
	z-index: 106;
}

#shade3{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	display: none;
	z-index: 100;
}

.confirmPopup{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	width: 80%;
	max-width: 300px;
	z-index: 110;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.confirmText{
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
	height: 32px;

	padding-top: 5px;
}

.popup_inner{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
}

.popup_inner:hover{
	background: #a2a2a2;
	-webkit-background:#a2a2a2;
}

.popup_inner span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30%;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.popup_inner_change{
	text-align: center;
}

.popup_inner_delete{
	text-align: center;
	color: #fe4e65;
}

#page_addmember{
	display: none;
	position: absolute;
	top: 50px;
	width:100%;
	max-width: 700px !important;
	background: #f4f4f4;
	z-index: 105;
}

#selectBox{
	border-top: 1px solid black;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#alignBox{
	margin-top: 15.5px;
	margin-bottom: 16.5px;
	margin-right: auto;
	margin-left: auto;
	width: 91.6%;
	max-width: 800px;
}

.centeralign{
	max-width: 1200px !important;
}


.btn{
	border-radius: 0;
}

.btn-primary{
	color: #282828;
	background-color: #ffffff;
	border-color: #ffffff;
}

.btn.active, .btn:active{
	box-shadow: none;
	-webkit-box-shadow:none;	
}

.btn-primary:hover, .btn-primary:active:hover,.btn-primary:active,.btn-primary:focus {
	background-color: #ffffff;
	color: #282828;
	border-color: transparent;
}

.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover{
	z-index: 1;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-color: #ffffff;
	color: #fe4e65;
	font-weight: bold;
	border-top: 3px solid #fe4e65;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
	background-color: #ffffff;
	color: #fe4e65;
	font-weight: bold;
	border-top: 3px solid #fe4e65;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}


table{
	font-size: 81%;
	text-align: center;
	table-layout: fixed;
}

#tableThead{
	width: 91.6%;
	margin:0 auto;
}

tbody{
	background-color: #ffffff;
}

th{
	text-align: center;
	background:#eeeeee;
}

._countnum,._email,._finday,._manage{
	display: none;
}

._countnum{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._tdname{
	width: 23%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._email{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._regcount{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._remaincount{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._startdate{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._finday{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._contact{
	width: 25%;
}

._manage{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}




.memberline:hover{
	background:#eaeaea;
	color: #fe4e65 !important;
	font-weight: bold;
}


#currentMemberList,#finishedMemberList{
	width: 91.6%;

}


#finishedMemberList{
	display: none;
}

#float_btn{  /*2017.10.2*/
	display: block;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
}

#float_btn img{ /*2017.10.2*/
	width: 100%;
	height: 100%;
}

.rotate_btn{
	-webkit-transform: rotate(47deg);
	transform: rotate(47deg);
}

.infopopup{
	display: none;
	position: absolute;
	background: #f4f4f4;
	width: 100%;
	z-index: 105;
	max-width: 700px !important;
	top: 50px;
	left: 5%;
}


._tdname, ._tdnamee{
	cursor: pointer;
}

._tdname{
	font-size: 105%;
}

#memberDelete{
	text-align: center;
	background: grey;
	margin-bottom: 30px;
	width: 50%;
	height: 35px;
}

.memberNum{
	float: right;
}

#finishMemberNum{
	display: none;
}

.phonesms{
	display: inline;
	width: 16px;
	margin-left: 5px;
	margin-right: 5px;
}

.phonenum{
	display:none;
	color: #282828;
}

.phonenum:hover{
	color: #fe4e65;
}

.sms{
	margin-top: 1.5px;
}

.nameimg{
	width: 6px;
	float: right;
	margin-top: 4px;
}

.pcmanageicon{
	height: 15px;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}

#pcBtn{
	display: none;
}

#upperImg{
	display: none;
}

.instructPopup{
	display: none;
}

.forscroll{
	width: 0;
}

.ymdText-pc-add{
	display: none;
}

.input_disabled_color{
	background:#eee !important;
}

@media(min-width: 600px){

	._regcount{
		display: table-cell;
	}

	.phonenum{
		display:block;
		cursor: pointer;
	}

	.phonesms{
		display:none;
	}
	
	#shade3{
		background-color: #282828;
		opacity: 0.8;
	}

	#pcBtn{
		display:block;
	}

	#upperImg{
		display: block;
		background-image:url(/static/user/res/bg.png);
		background-size: 100%;
		margin:0 auto;
		height: 100px;
		width: 100%;
		text-align: center;
	}

	#upperImg span{
		font-size: 20px;
		color: #fe4e65;
		font-weight: 500;
		line-height: 100px;
	}
	
	.instructPopup{
		position: absolute;
		width: 200px;
		height: auto;
		min-height: 40px;
		border:1px solid #282828;
		background: #d7f3ff;
	}

	#page_addmember,#memberInfoPopup{
		top: 75px;
	}

	.ymdText-pc-add{
		display: inline;
		line-height: 33px;
		position: relative;
		margin-left: 10px;
	}

	.ymdText-pc-add-member{
		display: inline;
		margin-left: 5px;
		padding:3px 13px 3px 13px;
		color: #fe4e65;
		font-size: 14px;
		border:1px solid #cccccc;
		cursor: pointer;
	}
		.ymdText-pc-add-member:hover{
			background-color: #fe4e65;
			color: #ffffff;
		}

	#float_btn{
		display: none !important;
	}

}

@media(min-width: 1000px){

	#tableThead{
		width: 1200px;
		
	}

	.forscroll{
		width: 10px;
		padding:0 !important;
		background: #ffffff;
	}
	
	#page_managemember{
		background:#ffffff;
	}

	
	#currentMemberList, #finishedMemberList{
		width: 1200px;
		height: 600px;
		overflow-y: overlay;
	}

	._countnum,._email,._finday,._manage{
		display: table-cell;
	}

	._countnum{
		width: 30px;
	}

	._tdname{
		width: 85px;
		font-size: 14px;
	}
	
	._email{
		width: 140px;
	}

	._regcount{
		width: 45px;
	}

	._remaincount{
		width: 45px;
		line-height: 19px;
		vertical-align: middle !important;
	}

	._startdate{
		width: 50px;
	}

	._finday{
		width: 50px;
	}

	._contact{
		width: 100px;

	}

	._manage{
		width: 50px;
	}

	table,td{
		border:0 !important;
	}

	tr{
		border-bottom:0.5px solid #cccccc;
	}
	
	td{
		font-size : 13px;
	}

	th{
		border:0 !important;
		font-size: 13.5px;
		border-left:0.5px solid #ffffff !important;
		border-right: 0.5px solid #ffffff !important;
		font-weight: 500;
	}

	.nameimg{
		display: none;
	}
	
	.alignSelect{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0 !important;
		margin-right: 20px;
		border:1px solid #eeeeee;
		width: 160px !important;
		height: 30px !important;
		font-size: 13px;
		color: #afafaf;
	}

	.btn-default{
		box-shadow: 0 0 0 0 !important;
	}

	#alignBox{
		position: relative;
		max-width: 1200px;
		height: 30px;
		margin-bottom: 5px;
		padding-right: 190px;
	}

	.memberNum{
		float:left;
		line-height: 30px;
	}

	.memberAlign{
		float: right;
		line-height: 30px;
	}

	#selectBox{
		border:1px solid #cccccc;
		width: 350px;
		height: 45px;
	}

	.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
		border-color:#282828;
		background:#282828;
		color: #ffffff;
	}

	.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
		border-color:#282828;
		background:#282828;
		color: #ffffff;
	}

	.btn-primary{
		color: #cccccc;
	}
	
	#upperImg{
		margin-bottom: 20px;
	}

}

