.pters_light_mode {
    --base-font-color: #3b3b3b;
    --root-content-bg-color: #ffffff;
    --root_content-font-color: #3b3b3b;
    --root-nav-bg-color: #fdfdfd;
    --root-nav-border: 1px solid #cccccc;
    --pc-side-nav-bg-color: #f5f2f3;
    --pc-content-wrap-shadow:0 0 24px 0 #e6e6e6;

    /* Page 공통 */
    --page-displaypanel-bg-color: #ffffff;
    --page-contentwrap-bg-color: #ffffff;

    /* img */
    --img-main: #5c5859;
    --img-sub1: #999696;
    --img-highlight: #fe4e65;

    /* Font */
    --font-base: #1e1d1d;
    --font-invisible: #ffffff;
    --font-highlight: #fe4e65;
    --font-red: #ff0022;
    --font-main: #3b3b3b;
    --font-sub-dark: #5c5859;
    --font-sub-normal: #858282;
    --font-sub-light: #999696;
    --font-inactive: #b8b4b4;
    --font-domtag: #d6d2d2;

    /* Background */
    --bg-main: #ffffff;
    --bg-sub-dark: #5c5859;
    --bg-sub-normal: #858282;
    --bg-sub-light: #999696;
    --bg-inactive: #b8b4b4;
    --bg-domtag: #d6d2d2;
    --bg-light: #f5f2f3;

    /* Element */
    --border-article: 1px solid #f5f2f3;
    --border-article-dark: 1px solid #cccccc;
    --box-shadow-article: 0 0 16px 0 #e6e6e6;
    
}

.pters_dark_mode {
    --base-font-color: #ffffff;
    --root-content-bg-color: #1e1e1e;
    --root_content-font-color: #ffffff;
    --root-nav-bg-color: #1e1e1e;
    --root-nav-border: 1px solid #282828;

    /* Page 공통 */
    --page-displaypanel-bg-color: #1e1e1e;
    --page-contentwrap-bg-color: #1e1e1e;

    /* img */
    --img-main: #f5f2f3;
    --img-sub1: #b8b4b4;
    --img-highlight: #fe4e65;

    /* Font */
    --font-base: #ffffff;
    --font-invisible: #1e1e1e;
    --font-highlight: #fe4e65;
    --font-red: #ff0022;
    --font-main: #ffffff;
    --font-sub-dark: #f5f2f3;
    --font-sub-normal: #b8b4b4;
    --font-sub-light: #5c5859;
    --font-inactive: #999696;
    --font-domtag: #f5f2f3;

    /* Background */
    --bg-main: #1e1e1e;
    --bg-sub-dark: #999696;
    --bg-sub-normal: #b8b4b4;
    --bg-sub-light: #5c5859;
    --bg-inactive: #5c5859;
    --bg-domtag: #f5f2f3;
    --bg-light: #282828;

    /* Element */
    --border-article: 1px solid #5c5859;
    --border-article-dark: 1px solid #f5f2f3;
    --box-shadow-article: 0 0 16px 0 #1e1e1e;
}

#root_progress{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    z-index: 1500;
}
progress {
    display:inline-block;
    width:100%;
    height:6px;
    margin:0;
    background:none;
    border: 0;
    border-radius: 1px;
    text-align: left;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    vertical-align: top;
}
progress::-webkit-progress-bar {
    height:3px;
    width:100%;
    margin:0 auto;
    background-color: #FFF;
    border-radius: 1px;
    /* box-shadow:0px 0px 6px #777 inset; */
}
progress::-webkit-progress-value {
    /* display:inline-block; */
    float:left;
    height:3px;
    margin:0px -3px 0 0;
    background: #ff3b44;
    border-radius: 1px;
    /* box-shadow:0px 0px 6px #777 inset; */
}

#root_content{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0); */

    position: relative;
    max-width: 1024px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    background-color: #ffffff;
    color: #3b3b3b;
    height: 100%;
    margin: 0 auto;
}


#root_nav{
    position: absolute;
    width: 100%;
    /* max-width: 800px; */
    max-width: 1024px;
    height: 56px;
    background-color: #fdfdfd;
    border-top:  1px solid #cccccc;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    text-align: center;
    transition: 0.2s;
}
    .nav_img{
        position: relative;
        width: 40px;
        height: 30px;
        margin: 0 auto;
        line-height: 30px;
    }
        .nav_img>img{
            height: 25px;
            vertical-align: middle;
        }
        .new_alarm_indicator{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 5px;
            height:5px;
            border-radius: 50%;
            background-color: #fe4e65;
        }
    .nav_text{
        /* display: none; */
        height: 15px;
        line-height: 15px;
        font-size:10px;
        color: #858282;
    }
#root_nav_quick{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 16px;
    bottom: 0px;
    transform: translateY(40px);
    text-align: center;
    transition: 0.2s;
    opacity: 0.8;
}
    #root_nav_quick > div {
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border: 1px solid #f5f5f5;
        border-radius: 50%;
    }
    #root_nav_quick > div > img {
        width: 100%;
    }
.ajax_loading_image{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    z-index: 1500;
}
.gap{
    margin-top: 10px;
}

/*PC버전 Wrapper 코드 시작 */
html, body{
    height: 100%;
    color: #3b3b3b;
}
#base{
    display: flex;
    height: 100%;
}
    #section_side{
        flex:0 0 200px;
        background-color: #f5f2f3;
        transition: 0.2s;
        overflow: hidden;
    }
    #section_center{
        position: relative;
        flex: 1 0 0;
        width: 100%;
    }
    #section_content{
        position: relative;
        flex: 1 1 auto;
        padding: 36px;
        /* padding-top: 96px; */
        padding-top: 76px;
        box-sizing: border-box;
        height: 100%;
    }
        #content_wrapper{
            position: relative;
            max-width: 1024px;
            box-shadow: 0 0 24px 0 #ebebeb;
            height: 100%;
        }
    #section_up_menu{
        position: absolute;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #f5f2f3;
        z-index: 2;
    }
    .top_logo{
        /* padding: 16px 22px; */
        padding: 0 22px;
        height: 60px;
        line-height: 60px;
        cursor: pointer;
    }
    .side_menu{
        list-style: none;
    }
    .side_menu_item{
        width: 90%;
        margin: 0 auto;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.5px;
        padding: 10px 0 10px 22px;
        box-sizing: border-box;
        cursor: pointer;
        color: #3d3b3b;
    }
    .side_menu_item:hover{
        background-color: #fe4e6510
    }
    .side_menu_item > img{
        width: 24px;
        vertical-align: middle;
        margin-right: 18px;
    }
    .side_menu_selected{
        background-color: #d4233a !important;
        color: #ffffff;
        filter: brightness(2);
    }
    
@media(max-width:650px){
    #section_side{
        display: none;
    }
    #section_up_menu{
        display: none;
    }
    #section_content{
        padding: 0;
    }
    #root_nav{
        display: block;
    }
    #root_nav_quick{
        display: block;
    }
}
@media(min-width:651px){
    #root_nav{
        display: none;
    }
    #root_nav_quick{
        display: none;
    }
}

.up_menu_tool{
    display:flex;
    float:right;
    font-size: 12px;
    font-weight: 500;
    width: 220px;
    line-height: 60px;
    padding: 0 20px;
}
.up_menu_tool > div{
    cursor: pointer;
}
.up_menu_tool > div:active{
    background-color: #e8e8e8;
}
.up_menu_img{
    width: 24px;
    vertical-align: middle;
    margin: 0 8px 4px 8px;
}

::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-track {background-color:#ffffff;}
::-webkit-scrollbar-thumb {background-color:#cccccc;border-radius: 6px;}
::-webkit-scrollbar-thumb:hover {background: #fe4e65;}