 /*폰트 임포트*/
 @import url(/static/common/fonts/notosanskr.css);
 html{
     font-family: 'Noto Sans KR', sans-serif !important;
     box-sizing: border-box !important;
     /* color: #1f1d1e; */
     letter-spacing: -0.5px;
 }

 html, body{
     overflow: hidden;
     margin: 0;
     user-select: none !important;
     -webkit-user-select: none !important;
 }

 iframe{
     width: 100%;
 }

 /* 안드로이드 input 필드 키보드 가림현상 보정 */
 .input_focused{
	position: fixed;
	/* top: 50%; */
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	box-shadow: 0px 0px 5px 0px #cccccc;
	background-color: #ffffff;
    z-index: 10;
    transition: 0.3s;
}

input{
    -webkit-appearance: none;
	border: 0;
	border-radius: 0;
}
textarea{
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
}

textarea::-webkit-input-placeholder{
	color: #b8b4b4;
}
textarea::-moz-placeholder{
	color: #b8b4b4;
}
textarea:-ms-input-placeholder{
	color: #b8b4b4;
}

input::-webkit-input-placeholder{
	color: #b8b4b4;
}
input::-moz-placeholder{
	color: #b8b4b4;
}
input:-ms-input-placeholder{
	color: #b8b4b4;
}

#android_input_shade{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#282828;
    opacity:0.5;
    z-index:1
}

/* 페이지들의 공통 css 요소들*/

/* 페이지 상단 메뉴명 */
.page_title{
    font-size: 23px;
}
@media(max-width:370px){
    .page_title{
        font-size: 20px;
    }
}
@media(max-width:340px){
    .page_title{
        font-size: 17px;
    }
}