@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


body{
	padding-top: 50px;
	background-color: #f7f7f7;
	font-family: 'Noto Sans KR';
}

#page_managemember table{
	font-size: 81%;
	text-align: center;
	table-layout: fixed;
}

#page_managemember #tableThead{
	width: 91.6%;
	margin:0 auto;
}

#page_managemember tbody{
	background-color: #ffffff;
}

#page_managemember th{
	text-align: center;
	background:#eeeeee;
}

#page_managemember button:focus{
	outline: 0;
}

.resendPopup{
	display: none;
	position: fixed;
	background: #ffffff;
	border-color: transparent;
	width: 80%;
	max-width: 330px;
	z-index: 350;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.lectureStateChangePopup, .lectureConnectStateChangePopup{
	display: none;
	position: fixed;
	background: #ffffff;
	box-shadow: 1px 1px 5px 1px #cccccc;
	width: 80%;
	max-width: 330px;
	z-index: 350;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.confirmText{
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	padding-top: 5px;
}


#page_addmember{
	display: none;
	position: absolute;
	top: 50px;
	width:100%;
	max-width: 450px !important;
	background: #f4f4f4;
	z-index: 350;
}

#selectBox{
	border-top: 1px solid black;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.alignSelect{
	width: 100%;
	height: 35px;
	margin-top: 10px;
	background: #ffffff;
	border:1px solid #a2a2a2;
	border-radius: 0;
	-webkit-appearance:none;
	text-align-last:center;
	-webkit-text-align: center;
}

select:focus > option:checked { 
    color: #fe4e65 !important;
}

#alignBox{
	position: relative;
	margin-top: 15.5px;
	margin-bottom: 16.5px;
	margin-right: auto;
	margin-left: auto;
	width: 91.6%;
	max-width: 800px;
}

.btn{
	border-radius: 0;
}

.btn-primary{
	color: #282828;
	background-color: #ffffff;
	border-color: #ffffff;
}

.btn.active, .btn:active{
	box-shadow: none;
	-webkit-box-shadow:none;	
}

.btn-primary:hover, .btn-primary:active:hover,.btn-primary:active,.btn-primary:focus {
	background-color: #ffffff;
	color: #282828;
	border-color: transparent;
}

.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover{
	z-index: 1;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-color: #ffffff;
	color: #fe4e65;
	font-weight: bold;
	border-top: 3px solid #fe4e65;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
	background-color: #ffffff;
	color: #fe4e65;
	font-weight: bold;
	border-top: 3px solid #fe4e65;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}


._countnum,._id,._email,._finday,._manage{
	display: none;
}

._countnum{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._tdname, ._tdnamee{
	position: relative;
	width: 23%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._id{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._email{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._regcount{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._remaincount{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._startdate{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._finday{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._contact{
	width: 25%;
}

._manage{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}


.memberline{
	cursor: pointer;
}

.memberline:hover{
	background:#fdfdfd;
	color: #fe4e65 !important;
	font-weight: bold;
}


#currentMemberList,#finishedMemberList{
	width: 91.6%;
}


#finishedMemberList{
	display: none;
}

#float_btn_wrap{
	display: block;
}

#float_btn{  /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	z-index: 121;
	cursor: pointer;
}

#float_btn img{ /*2017.10.2*/
	width: 100%;
	height: 100%;
}

#float_inner1{ /*2017.10.2*/
	background-color: #fe4e65;
}

#float_inner1 a{ /*2017.10.2*/
	color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

#float_inner2{ /*2017.10.2*/
	background-color: #ffffff;
}

#float_inner2 a{ /*2017.10.2*/
	color: #282828;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}


.float_inner{ /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	background-color: grey;
	opacity: 0;
	border-radius: 50%;
	z-index: 120;	
	font-size: 13px;
	text-align: center; 
}

.rotate_btn{
	-webkit-transform: rotate(47deg);
	transform: rotate(47deg);
}

.infopopup{
	display: none;
	position: absolute;
	background: #f4f4f4;
	width: 100%;
	z-index: 150;
	max-width: 700px !important;
	top: 50px;
	left: 5%;
}



/*-----------------PC 회원정보 팝업-----------------------*/
.infopopup_pc{
	display: none;
	position: fixed;
	background: #ffffff;
	padding: 10px;
	width: 600px;
	z-index:250;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 3px;
	border: 1px solid #cccccc;
}

.infopopup_pc > label{
	font-size: 17px;
	width: 100%;
}
	.infopopup_pc > label img:nth-child(1){
		width: 17px;
		margin:0 5px 5px 0;
	}
	.infopopup_pc > label img:nth-child(2){
		width: 15px;
		float: right;
		margin-top: 5px;
		cursor: pointer;
	}
		.member_info_PC_wrap{
			display: inline-block;
			width: 47%;
			font-size: 14px;
		}
		#memberRegHistory_info_PC_wrap{
			width: 100%;
		}
		#memberLectureHistory_info_PC_wrap{
			max-height: 190px;
			overflow-y: auto;
		}
			.member_info_PC_wrap label{
				display: inline-block;
				width: 120px;
				color: #7d7d7d;
				font-size: 13px;
				font-weight: 500;
				margin-bottom: 0px;
			}
			#memberBirth_Year_info_PC{
				/*width: 29%;*/
			
				width: 100%:;
			}
			#memberBirth_Month_info_PC,#memberBirth_Date_info_PC{
				width: 20%;
				margin-left: 1px;

				display: none;
			}
			.member_info_PC_wrap input, .member_info_PC_wrap span, .member_info_PC_wrap > div{
				display: inline-block;
				width: 190px;
				border:1px solid #ffffff;
				background: #ffffff;
				color: #282828;
				font-weight: 500;
				margin-top: 0px;
				margin-bottom: 10px;
				text-align: left;
				cursor: initial;
				padding-left: 10px;
			}
			.member_info_wrap input{
				display: inline-block;
				border:0;
				background: #f4f4f4;
				color: #282828;
				font-weight: 500;
				margin-top: 0px;
				margin-bottom: 10px;
				text-align: left;
				cursor: initial;
				padding-left: 10px;
				font-size: 10px;
				word-spacing: -0.4px;
			}
			#memberRegCount_info_PC, #memberRemainCount_info_PC, #memberAvailCount_info_PC, #memberFinishCount_info_PC{
				width: 45px;
			}

			.member_info_PC_wrap >label img{
				width: 15px;
				margin:0 5px 4px 0;
			}
			#memberRegHistory_info_PC, #memberRegHistory_info, #memberRepeat_info_PC{
				display: block;
				font-size:12px;
				width: 100%;
				padding: 0;
			}
			#memberRegHistory_info_PC > div, #memberRegHistory_info > div {
				display: table;
				width: 100%;
				padding: 0;
				margin: 0;
				border: 0;
			}
			#memberRegHistory_info_PC input, #memberRegHistory_info input{
				width: 100%;
				text-align: center;
				padding: 0;
				line-height: 19px;
				-webkit-text-fill-color:#282828;
				-webkit-opacity:1;
			}
			#memberRegHistory_info_PC img, #memberRegHistory_info img{
					width: 12px;
					cursor: pointer;
				}
				#memberRegHistory_info_PC > div > div{
					display: table-cell;
					height: 20px;
					padding: 0;
					text-align: center;
					border: 0;
					border-right:1px solid #cccccc;
				}
				#memberRegHistory_info_PC > div > div:nth-child(1){
					width: 12.5%;
				}
				#memberRegHistory_info_PC > div > div:nth-child(2){
					width: 12.5%;
				}
				#memberRegHistory_info_PC > div > div:nth-child(3){
					width: 9%;
				}
				#memberRegHistory_info_PC > div > div:nth-child(4){
					width: 9%;
				}
				#memberRegHistory_info_PC > div > div:nth-child(5){
					width: 14%;
				}
				#memberRegHistory_info_PC > div > div:nth-child(6){
					width: 12.5%;
				}
				#memberRegHistory_info_PC > div > div:nth-child(7){
					width: 12.5%;
				}
				#memberRegHistory_info_PC > div > div:nth-child(8){
					width: 12.5%;
				}
				#memberRegHistory_info_PC > div > div:nth-child(9){
					width: 12.5%;
					border-right: 0;
				}



				#memberRegHistory_info > div > div{
					display: table-cell;
					width: 15.6%;
					padding: 0;
					text-align: center;
					border-right:1px solid #cccccc;
				}
					#memberRegHistory_info > div > div:nth-child(1){
						width: 18%;
					}
					#memberRegHistory_info > div > div:nth-child(2){
						width: 18%;
					}
					#memberRegHistory_info > div > div:nth-child(3){
						width: 10%;
					}
					#memberRegHistory_info > div > div:nth-child(4){
						width: 10%;
					}
					#memberRegHistory_info > div > div:nth-child(5){
						width: 20%;
					}
					#memberRegHistory_info > div > div:nth-child(6){
						display: none;
					}
					#memberRegHistory_info > div > div:nth-child(7){
						width: 15%
					}
					#memberRegHistory_info > div > div:nth-child(8){
						display: none;
					}
					#memberRegHistory_info > div > div:nth-child(9){
						
					}



				#memberRegHistory_info_PC_wrap > label, #memberRegHistory_info_wrap > label, #memberRepeat_info_PC_wrap >label{
					display: inline;
				}

			#memberLectureHistory_info_PC, #memberLectureHistory_info{
				display: block;
				font-size:12px;
				width: 100%;
				padding: 0;
			}
				#memberLectureHistory_info_PC div, #memberLectureHistory_info div{
					display: table;
					width: 100%;
					padding: 0;
					margin: 0;
					border: 0;
				}
					#memberLectureHistory_info_PC > div > div:nth-child(1), #memberLectureHistory_info > div > div:nth-child(1){
						display: table-cell;
						width: 32%;
						height: 20px;
						padding: 0;
						text-align: center;
						border: 0;
						border-right:1px solid #cccccc;
					}
					#memberLectureHistory_info_PC > div > div:nth-child(2), #memberLectureHistory_info > div > div:nth-child(2){
						display: table-cell;
						width: 15%;
						height: 20px;
						padding: 0;
						text-align: center;
						border: 0;
						border-right:1px solid #cccccc;
					}
					#memberLectureHistory_info_PC > div > div:nth-child(3), #memberLectureHistory_info > div > div:nth-child(3){
						display: table-cell;
						width: 13%;
						height: 20px;
						padding: 0;
						text-align: center;
						border: 0;
						border-right:1px solid #cccccc;
					}
					#memberLectureHistory_info_PC > div > div:nth-child(4), #memberLectureHistory_info > div > div:nth-child(4){
						display: table-cell;
						width: 40%;
						height: 20px;
						padding: 0;
						text-align: center;
						border: 0;
					}
					.historyState_PE{
						color: green;
					}
					.historyState_NP,.historyState_IP{
						color: #fe4e65;
					}

			#memberRepeat_info_PC > div{
				position: relative;
				display: block;
				color: #282828;
				border-bottom:1px solid #cccccc;
			}
			#memberRepeat_info_PC p:nth-child(1){
				color: #fe4e65;
				margin: 0;
				line-height: unset;
				font-size: unset;
			}
			#memberRepeat_info_PC p:nth-child(2){
				color: #444444;
				margin: 0;
				line-height: unset;
				font-size: unset;
			}
			.deleteBtn{
				position: absolute;
				line-height: 35px;
				width: 15px !important;
				margin-left: 15px;
				padding-left: 3px !important;
				top: 0;
				right: 0;
				text-align: center;
				background: #cccccc !important;
				cursor: pointer;
			}

			.deleteBtnBin img{
				display: none;
				margin: 9px 10px 10px 13px;
			}

			.deleteBtnBin{
				position: absolute;
				top: 0;
				right: 0px;
				width: 0px;
				height: 35px;
				background:#fe4e65;
				z-index: 100;
			}
				
			span.summaryInnerBoxText_Repeatendtext{
				width: 50px;
				padding: 0;
				margin-bottom: 0;
			}
			.lectureType_VIEW{
				color: green !important;
				text-decoration: underline;
				cursor: pointer !important;
			}
			.lectureType_WAIT{
				color: orange !important;
				text-decoration: underline;
				cursor: pointer !important;
			}
			.lectureType_DELETE{
				color: red !important;
				text-decoration: underline;
				cursor: pointer !important;
			}
			.lecConnectType_IP{
				color: green !important;
				text-decoration: underline;
				cursor: pointer !important;
			}
			.lecConnectType_PE{
				color: #282828 !important;
				cursor: pointer !important;
			}
			.lecConnectType_RF{
				color: orange !important;
				cursor: pointer !important;
			}
			.regHistoryDateInfo{
				font-size: 11px;
			}


	.member_info_PC_buttons_wrap button{
		display: inline-block;
		font-size: 13px;
		border: 0.5px solid #282828;
		margin-left: 5px !important;
		margin-right: 5px !important;
	}
	.member_info_PC_buttons_wrap button:nth-child(1){
		background:#ffffff;
		color: #282828;
	}
		.member_info_PC_buttons_wrap button:nth-child(1):active{
			background:#fe4e65;
			color: #ffffff;
		}

.input_available{
	background: #ffffff !important;
	color: #fe4e65 !important;
	border-color: #282828 !important;
}

#member_info_type_select{
	position: relative;
}

.button_shift_info{
	display: table-cell;
	background:#cccccc;
	color: #ffffff;
	border-bottom: 0;
	border-top-right-radius: 9px;
	height: 22px;
	width: 70px;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
}
	.button_shift_info:active{
		background: #fe4e65;
		color: #ffffff;
	}
	.button_active{
		background: #fe4e65;
		color: #ffffff;
	}

.info_shift_wrap{
	border:1px solid #cccccc;
	padding-left: 10px;
	overflow:auto;
}

#info_shift_schedule,#info_shift_history{
	display: none;
	width: 100%;
}
	#memberRepeat_info_PC_wrap,#memberLectureHistory_info_PC_wrap{
		height: 190px;
		overflow-y: auto;
	}

#info_shift_lecture, #info_shift_schedule, #info_shift_history{
	height: 230px;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#info_shift_base{
	padding-top: 10px;
	margin-bottom: 10px;
}


/*-----------------PC 회원정보 팝업-----------------------*/




._tdname,._tdnamee{
	font-size: 105%;
}

#memberDelete{
	text-align: center;
	background: grey;
	margin-bottom: 30px;
	width: 50%;
	height: 35px;
}

.memberNum{
	float: right;
}

#finishMemberNum{
	display: none;
}

.npCountImg_wait{
	display: none;
	width:12px;
	position:absolute;
	margin-top:2px;
	margin-left:0px;
}

.npCountImg_x{
	width:10px;
	position:absolute;
	margin-top:3px;
	margin-left:2px;
}

.newRegImg{
	display: none;
	width: 35px;
	position: absolute;
	left: 0;
	margin-left: 5px;
}


.phonesms{
	display: inline;
	width: 16px;
	margin-left: 5px;
	margin-right: 5px;
}

.phonenum{
	display:none;
	color: #282828;
}

.phonenum:hover{
	color: #fe4e65;
}

.sms{
	margin-top: 1.5px;
}

.nameimg{
	width: 6px;
	float: right;
	margin-top: 4px;
}

.pcmanageicon{
	height: 18px;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
}


#upperImg{
	display: none;
}

.instructPopup{
	display: none;
}

.forscroll{
	width: 0;
}

.ymdText-pc-add-member-wrap{
	display: none;
}

.input_disabled_color{
	background:#eee !important;
}

#infoMemberModify{
	display: none;
}

#infoMemberDelete, #infoMemberModify{
	float: right;
	margin-right: 2%;
	border: 0;
	background: transparent;
	width: 40px;
	height: 40px;
	padding: 11px;
}
	#infoMemberDelete img, #infoMemberModify img{
		width: 100%;
	}

.history_view{
	width: 100%;
}

@media(min-width: 600px){
	.newRegImg{
		display: block;
	}

	#page_addmember{

	}

	#float_btn_wrap{
		display: none !important;
	}

	._regcount{
		display: table-cell;
	}

	.phonenum{
		display:block;
		cursor: pointer;
	}

	.phonesms{
		display:none;
	}
	

	#upperImg{
		display: block;
		background-image:url(/static/user/res/bg.png);
		background-size: 100%;
		margin:0 auto;
		height: 100px;
		width: 100%;
		text-align: center;
	}

	#upperImg span{
		font-size: 20px;
		color: #fe4e65;
		font-weight: 500;
		line-height: 100px;
	}
	
	.instructPopup{
		position: absolute;
		width: 200px;
		height: auto;
		min-height: 40px;
		border:1px solid #282828;
		background: #d7f3ff;
	}

	#page_addmember,#memberInfoPopup{
		top: 75px;
	}

	.ymdText-pc-add-member-wrap{
		display: inline;
		line-height: 33px;
		position: relative;
		margin-left: 10px;
	}

	.ymdText-pc-add-member{
		display: inline;
		margin-left: 5px;
		padding:3px 13px 3px 13px;
		color: #fe4e65;
		font-size: 14px;
		border:1px solid #cccccc;
		cursor: pointer;
	}
	.ymdText-pc-add-member-again{
		display: inline;
		margin-left: 5px;
		padding:3px 13px 3px 13px;
		color: #282828;
		font-size: 14px;
		border:1px solid #cccccc;
		cursor: pointer;
	}
		.ymdText-pc-add-member:hover{
			background-color: #fe4e65;
			color: #ffffff;
		}
		.ymdText-pc-add-member-again:hover{
			background: #282828;
			color: #ffffff;
		}
	.button_add_member_lecture{
		font-weight: bold !important;
		border: 1px solid #cccccc !important;
		color:#fe4e65 !important;
		width: 15px !important;
		line-height: 15px !important;
		text-align:center !important;
		padding:0 !important;
		cursor: pointer !important;
	}

	#float_btn{
		display: none !important;
	}

	#infoMemberModify{
		display: inline;
		float: right;
		margin-right: 2%;
		border: 0;
		background: transparent;
		width: 40px;
		height: 40px;
		padding: 11px;
	}
		#infoMemberModify img{
			width: 100%;
		}

}

@media(min-width: 1000px){

	#tableThead{
		width: 1080px;
		
	}

	.centeralign{
		max-width: 1080px !important;
	}

	.forscroll{
		width: 10px;
		padding:0 !important;
		background: #ffffff;
	}
	
	#page_managemember{
		background:#ffffff;
	}

	
	#currentMemberList, #finishedMemberList{
		/*width: 1080px;*/
		height: 600px;
		overflow-y: overlay;
	}

	.npCountImg_wait{
		width:17px;
		position:absolute;
		margin-top:7px;
		margin-left:5px;
	}

	.npCountImg_x{
		width:14px;
		position:absolute;
		margin-top:4px;
		margin-left:6px;
	}

	._countnum,._id,._email,._finday,._manage{
		display: table-cell;
	}

	img._info_view,img._info_modify{
		display: none;
	}

	._countnum{
		width: 30px;
	}

	._tdname,._tdnamee{
		width: 85px;
		font-size: 14px;
	}

	._id{
		width: 90px;
	}

	._email{
		width: 115px;
		display: none;
	}

	._regcount{
		width: 45px;
	}

	._remaincount{
		width: 45px;
		line-height: 19px;
		vertical-align: middle !important;
	}

	._startdate{
		width: 50px;
	}

	._finday{
		width: 50px;
	}

	._contact{
		width: 70px;

	}

	._manage{
		width: 50px;
	}

	#page_managemember table,#page_managemember td{
		border:0 !important;
	}

	#page_managemember tr{
		border-bottom:0.5px solid #cccccc;
	}
	
	#page_managemember td{
		font-size : 13px;
	}

	#page_managemember th{
		border:0 !important;
		font-size: 13.5px;
		border-left:0.5px solid #ffffff !important;
		border-right: 0.5px solid #ffffff !important;
		font-weight: 500;
	}

	.nameimg{
		display: none;
	}
	
	.alignSelect{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0 !important;
		margin-right: 20px;
		border:1px solid #eeeeee;
		width: 160px !important;
		height: 30px !important;
		font-size: 13px;
		color: #afafaf;
		padding-left: 29px;
		text-align-last: unset;
	}

	.btn-default{
		box-shadow: 0 0 0 0 !important;
	}

	#alignBox{
		position: relative;
		max-width: 1080px;
		height: 30px;
		margin-bottom: 5px;
		padding-right: 190px;
	}

	.memberNum{
		float:left;
		line-height: 30px;
	}

	.memberAlign{
		float: right;
		line-height: 30px;
	}

	#selectBox{
		border:1px solid #cccccc;
		width: 350px;
		height: 45px;
	}

	.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
		border-color:#282828;
		background:#282828;
		color: #ffffff;
	}

	.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
		border-color:#282828;
		background:#282828;
		color: #ffffff;
	}

	.btn-primary{
		color: #cccccc;
	}
	
	#upperImg{
		margin-bottom: 20px;
	}

}

