body{
	padding-top: 50px;
	background-color: #282828;
}

.small_arrow{
	border: solid #ffffff;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 10px;
}
.big_arrow{
	position: absolute;
	right: 0px;
	margin: 30px;

	border: solid #fe4e65;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 6px;
	margin-left: 10px;
	margin-right: 25px;
	margin-top: 40px;
}
	.big_arrow:after{
		content: "";
		border: solid #fe4e65;
		border-width: 25px 0 0 1px;
		position: absolute;
		top: -10.5px;
		left: 2px;
		transform: rotate(-45deg);

	}
.right{
	transform: rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

@media(min-width:730px){
	.big_arrow{
		margin-right: 30px;
		margin-top: 70px;
		padding: 8px;
	}
		.big_arrow:after{
			border-width: 28px 0 0 1px;
			top: -8px;
			left: 6px;
		}
}


/*새 디자인*/
#page-base-addstyle{
	background-color: #282828;
	border-color: #282828;
}
	#uptext2{
		color: #ffffff !important;
	}
	#upbutton-x > img{
		filter: invert(90);
	}
#my_status > p{
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 5px;
}
	.my_status_text{
		font-size: 22px;
		font-weight: 600;
	}
	.pters_pink_text{
		color: #fe4e65 !important;
	}
#my_auth{
	display: table;
	color: #ffffff;
	background-color: #353535;
	padding: 15px 25px 10px 25px;
	margin: 0 auto;
	margin-top: 15px;
	width: 95%;
}
	.my_auth_tb{
		display: table;
		table-layout: fixed;
		width: 100%;
		margin-top: 5px;
		font-size: 14px;
	}
		.my_auth_tbc1{
			display: table-cell;
			width: 35%;
			font-weight: 500;
		}
		.my_auth_tbc2{
			display: table-cell;
			width: 65%;
			font-weight: 300;
		}
	.my_auth_inner_block{
		display: inline-block;
		vertical-align: middle;
	}
	#my_status{
		width: 100%;
	}
	#my_status_auth{
		width: 100%;
		border-top: 0.5px solid #ffffff;
		border-bottom: 0.5px solid #ffffff;
		padding: 10px 10px 15px 15px;
	}
	@media(min-width:600px){
		#my_status{
			width: 40%;
		}
		#my_status_auth{
			width: 60%;
		}
	}
	
.under_construction{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: black;
	opacity: 0.8;
	color:#ffffff;
}
	.under_construction span{
		position: absolute;
		transform: rotate(-35deg);
		left: 11%;
		top: 41%;
		font-size: 20px;
	}

#product_list_wrap{
	width: 100%;
}
	.product_wrap{
		margin-bottom: 25px;
		text-align: center;
	}
	.product{
		position: relative;
		display: inline-block;
		text-align: center;
		height: 190px;
		width: 45%;
		min-width: 150px;
		margin-left: 5px;
		margin-right: 5px;
		border: 1px solid transparent;
		cursor: pointer;
	}
		.product_name_tag{
			color:#ffffff;
			font-weight: 300;
			font-size: 15px;
			margin: 0;
			margin-top: 23px;
		}
		.product_name{
			color:#fe4e65;
			font-weight: 700;
			font-size: 19px;
			margin: 0;
		}
		.product_price_tag{
			color:#ffffff;
			font-weight: 300;
			font-size: 14px;
			margin: 0;
			margin-top: 20px;
		}
		.product_price{
			color:#ffffff;
			font-weight: 500;
			font-size: 19px;
			margin-bottom: 20px;		
		}
		.product_name_background{
			position: absolute;
			width: 100%;
			text-align: center;
			bottom: -9px;
			margin:0;
			font-size: 27px;
			font-weight: 1000;
			color:#ffffff;
			opacity: 0.1;
		}
		.productstyle_standard{
			background-color: #353535;
		}
			.productstyle_standard:hover{
				border: 1px solid #fe4e65;
			}
		.productstyle_premium{
			background-color: #353535
		}
			.productstyle_premium:hover{
				border: 1px solid #fdb056;
			}
		.product_selected{
			background-color: #151515;
		}
		.textstyle_standard{
			color: #fe4e65 !important;
		}
		.textstyle_premium{
			color: #fdb056 !important;
		}
@media(min-width:730px){
	.product{
		position: relative;
		display: inline-block;
		text-align: center;
		height: 220px;
		max-width: 290px;
		margin-left: 15px;
		margin-right: 15px;
		border: 1px solid transparent;
		cursor: pointer;
	}
	.product_name{
		font-size: 28px;
	}
	.product_price{
		font-size: 24px;
	}
	.product_name_background{
		font-size: 45px;
		bottom: -13px;
		line-height: 65px
	}
	.under_construction{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: black;
		opacity: 0.8;
		color:#ffffff;
	}
		.under_construction span{
			position: absolute;
			transform: rotate(-35deg);
			left: 24%;
			top: 41%;
			font-size: 25px;
		}
}
.ticket_wrap{
	display: table;
	width: 90%;
	margin: 0 auto;
}
	.ticket_left, .ticket_right{
		position: relative;
		display: block;
		background-color: #151515;
		color: #ffffff;
		height: 85px;
		border-top: 1px solid #353535;
		border-bottom: 1px solid #353535;
		cursor: pointer;
		padding-left: 5%;
	}
	.ticket_left:hover, .ticket_right:hover{
		background-color: #282828;
	}
	.ticket_left{
		width: 100%;
	}
	.ticket_right{
		width: 100%;
	}
	.ticket_right:after{
		content: '';
	    position: absolute;
	    top: -21px;
	    left: 0;
	    border-radius: 0 20px 20px 0;
	    width: 20px;
	    height: 40px;
	    background-color: #353535;
	}
	.ticket_right:before{
		content: '';
	    position: absolute;
	    top: -21px;
	    right: 0;
	    border-radius: 20px 0px 0px 20px;
	    width: 20px;
	    height: 40px;
	    background-color: #353535;
	}
	.ticket_comment1{
		margin: 0;
		margin-top: 20px;
		padding-left: 10px;
	}
	.ticket_original_price{
		display: inline-block;
		font-size: 14px;
		padding-left: 10px;
	}
	.ticket_new_price{
		display: inline-block;
		font-size: 19px;
		padding-left: 10px;
	}
	.ticket_name_background{
		display: none;
		position: absolute;
		width: 100%;
		text-align: left;
		bottom: 1px;
		margin:0;
		font-size: 27px;
		font-weight: 1000;
		color:#ffffff;
		opacity: 0.1;
		line-height: 21px;
	}
@media(max-width:450px){
	.ticket_original_price{
		display: inline-block;
		font-size: 12px;
		padding-left: 10px;
	}
	.ticket_new_price{
		display: inline-block;
		font-size: 15px;
		padding-left: 10px;
	}
}
@media(min-width:730px){
	.ticket_left, .ticket_right{
		position: relative;
		display: table-cell;
		background-color: #151515;
		color: #ffffff;
		height: 180px;
		border-left: 1px solid #353535;
		border-right: 1px solid #353535;
		padding-left: 0px;
		cursor: pointer;
	}
	.ticket_left:hover, .ticket_right:hover{
		background-color: #282828;
	}
	.ticket_left{
		width: 49%;
	}
	.ticket_right{
		width: 49%;
	}
	.ticket_right:after{
		content: '';
	    position: absolute;
	    top: 0;
	    left: -21px;
	    border-radius: 0 0 40px 40px;
	    width: 40px;
	    height: 20px;
	    background-color: #353535;
	}
	.ticket_right:before{
		content: '';
	    position: absolute;
	    top: unset;
	    right: unset;
	    bottom: 0;
	    left: -21px;
	    border-radius: 40px 40px 0 0;
	    width: 40px;
	    height: 20px;
	    background-color: #353535;
	}



	.ticket_name_background{
		display: block;
		font-size: 45px;
		bottom: 1px;
		line-height: 38px;
	}
	.ticket_comment1{
		padding-left: 30px;
	}
	.ticket_original_price{
		display: block;
		font-size: 12px;
		padding-left: 30px;
	}
	.ticket_new_price{
		display: block;
		font-size: 17px;
		padding-left: 30px;
	}
}


.product_detail{
	display: none;
	position: relative;
	margin: 0 auto;
	width: 95%;
	margin-top: 40px;
	background-color: #353535;
	padding-bottom: 10px;
	text-align: left;
}
	.product_detail_upper{
		/*background-color: #353535;*/
		display: table;
		margin: 0 auto;
		width: 100%;
		padding: 15px 25px 10px 25px;
		color: #ffffff;
		
	}
	.product_detail_triangle{
		display: block;
		position: absolute;
	}
	.product_detail_triangle:after{
		content: '';
	    position: absolute;
	    border-bottom: 12px solid #353535;
	    border-right: 10px solid transparent;
	    border-left: 10px solid transparent;
	    top: -12px;
	}
	


#ymdText{
	display: none;
	position: fixed;
	height: auto;
	z-index: 4;
	width: 100%;
	/*
	background-image: url('/static/user/res/bg.png');
	background-size: 100%;
	*/
}

#ymdTextWrap{
	width: 100%;
	text-align: center;
	min-height: 50px;
	padding-top: 5px;
}

#payment_contents_wrap{
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 70px;
	width: 88%;
	max-width: 650px;
}
.payment_function_wrap{
	margin-bottom: 50px;
	padding: 5px 10px 5px 10px;
}
.payment_monthly{
	position: relative;
	margin-top: 20px;
	height: 50px;
}
.payment_instant{
	position: relative;
	margin-top: 5px;
	height: 50px;
}

.price_before{
	color:#9c9c9c;
	font-size: 15px;
	text-decoration: line-through;
}
.price_after{
	font-weight:bold;
	font-size: 16px;
	color:#fe4e65;
}
.price_instant{
	font-weight:500;
	font-size: 14px;
	color:#5f5f5f;
}
@media(min-width: 600px){
	.price_before{
		font-size: 20px;
	}
	.price_after{
		font-size: 21px;
	}
	.price_instant{
		font-size: 15px;
	}
}

.seperator{
	width: 100%;
	height: 2px;
	background: #e2e2e2;
	margin-top: 10px;

}
.payment_monthly button, .payment_instant button{
	position: absolute;
	top: 0;
	right: 0;
	width: 135px;
	font-size: 16px;
	font-weight: 500;
}
	.payment_monthly button{
		height: 50px;
		background: #fe4e65;
		color: #ffffff;
		border: 1px solid #fe4e65;
	}
	.payment_instant button{
		height: 40px;
		background: #efefef;
		color: #282828;
		border: 1px solid #cccccc;
	}
	@media(max-width: 390px){
		.payment_monthly button, .payment_instant button{
			position: absolute;
			top: 0;
			right: 0;
			width: 100px;
			font-size: 14px;
			font-weight: 500;
		}
	}
.function_label{
	font-size: 20px;
	margin-bottom: 0;
}
.inner_label{
	font-size: 16px;
}

#yearText{
	position: relative;
	display: inline;
	color : #ffffff;
	font-size: 15px;
	width: 100%;
	margin-right: 5px;
}

#monthText{
	position: relative;
	display: inline;
	color : #fe4e65;
	font-size: 19.5px;
	font-weight: 700;
	width: 100%;
}

#countRemain{
	position: relative;
	height: 24px;
	color: #ffffff;
	font-size: 13.5px;
	font-weight: 300;
	margin-bottom: 3px;
}


#countRemainData{
	line-height: 24px;
	vertical-align: middle;
}

.arrowButton{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.arrowButton a{
	position: absolute;
	top: 70%;
	font-size: 35px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
	width: 25px;
	height: 25px;
	text-align: center;
}

#menuName{
	display: none;
	color : #fe4e65;
	font-size: 15px;
}

.menuName{
	display: inline;
	font-size:14px;
	font-weight: bold !important;
	color: #282828;
}

.menuButton{
	display: inline-block;
	position: absolute;
	line-height: 28px;
	margin-left: 7px;
}


#menuDescription{
	color: #ffffff;
	font-size: 14px;
	line-height: 40px;
}



.iconimg{
	width: 20px;
	display: block;
	margin:0 auto;
}


#yyyyText{
	width: 100%;
	text-align: center;
}

#yy{
	font-size: 14.5px;
	font-weight: bold;
	color: #fe4e65;
	vertical-align: middle;
	margin-right: 25px;
	margin-left: 25px;
}

.mm{
	font-size: 12.5px;
	font-weight: bold;
	color: #fe4e65;
}

.boardWrap{
	display: table;
	text-align: center;
	padding-left:15px;
	padding-right:15px;
	width: 100%;
	max-width: 600px;
	margin:0 auto;
	border-bottom: 10px solid #f4f4f4;
}

.countBoard{
	display: table-cell;
	width: 50%;
	height: 100px;
	text-align: center;
	background:#282828;
	color: #ffffff;
	border-left:5px solid #f4f4f4;
	border-right:5px solid #f4f4f4;
}

.dateBoard{
	display: table-cell;
	width: 50%;
	height: 80px;
	text-align: center;
	background:#ffffff;
	color: #282828;
	border-left:5px solid #f4f4f4;
	border-right:5px solid #f4f4f4;
	vertical-align: middle;
}

.planBoard{
	width: 100%;
	height: auto;
	min-height: 80px;
	text-align: center;
	background:#ffffff;
	color: #282828;
	border-left: 5px solid #f4f4f4;
	border-right: 5px solid #f4f4f4;
	padding-top: 10px;
	padding-bottom: 5px;
	vertical-align: middle;
}

.trainerInfo{
	width: 100%;
	height: 60px;
	text-align: center;
	background:#ffffff;
	color: #282828;
	border-right:5px solid #f4f4f4;
	border-left:5px solid #f4f4f4;
}
.trainerInfo img{
	width: 15px;
	margin-bottom: 4px;
	margin-right: 10px;
	margin-left: 10px;
}
.trainerInfo span{
	line-height: 30px;
	margin-right: 10px;
	font-weight: 400;
}

.trainerInfo button{
	background: #ffffff;
	border:1px solid #282828;
	color: #282828;
	font-size: 10px;
	line-height: 12px;
	width: 25px;
	padding-left: 0;
	padding-right: 0;
}



#purchase_popup{
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background:#ffffff;
	padding: 10px;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 150;
	overflow: auto;
	-webkit-overflow-scrolling:touch;
}

.popupBtn_mini{
	display: block !important;
}
	.popupBtn_mini button{
		display: inline-block !important;
		border: 0.5px solid #cccccc;
		width: 100px;
		height: 30px;
	}
	._button_Next{
		background: #282828;
		color: #ffffff;
	}


#purchase_popup_page1{
	display: block;
}	
 	#purchase_price_preview{
 		padding: 10px;
 		margin-top: 10px;
 		margin-bottom: 10px;
 		border-top: 2px solid #282828;
 		border-bottom: 2px solid #282828;
 		text-align: center;
 	}
	#purchase_price_preview label{
		font-size: 16px;
	}
	#price_preview{
		font-size: 22px;
	}
	#price_preview_vat{
		font-size: 12px;
		color: #444444;
	}


	#purchase_appointment{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	#view_appointment_btn{
		display: inline-block;
		margin-left: 7px;
		border: 1px solid #cccccc;
		vertical-align: top;
		font-size: 13px;
		cursor: pointer;
	}
	#view_appointment_btn:hover{
		background: #282828;
		color: #ffffff;
	}


#purchase_caution{
	margin-top: 30px;
	padding:15px;
	font-size: 12px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #f7f7f7;
}
.appoint_checked{
	background: #fe4e65 !important;
}



#purchase_popup_page2{
	display: none;
}
#view_purchase_summary{
	border:  1px solid #cccccc;
	padding: 10px;
}
	.purchase_popup_content_wrap{
		width: 100%;
		display: table;
		height: 40px;
	}
		.purchase_popup_innerlabel{
			display: table-cell;
			width: 35%;
			vertical-align: middle;
		}
		.purchase_popup_innercontent{
			display: table-cell;
			width: 65%;
			vertical-align: middle;
		}
#select_method_wrap{
	margin-top: 30px;
	padding: 10px;
}
.select_method_table_cell{
	display: table-cell;
	width: 30%;
}
.ptersCheckbox{
	display: inline-block;
}
.purchase_method_name{
	display: inline-block;
	vertical-align: middle;
}





.fixfooter {
	display: block;
	position: relative;
	background: #282828;
	border-color: #282828;
}
.bottomfooter3 span{
	display: inline-block;
	color: #ffffff;
}
.bottomfooter3 span.footercontent{
	color: #cccccc;
}
.bottomfooter2{
	color: #cccccc;
}


@media(min-width: 600px){
	#purchase_popup{
		position: fixed;
		width: 600px;
		height: 400px;
		border: 1px solid #cccccc;
		z-index: 250;
		padding: 20px;
		margin-top: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#payment_contents_wrap{
		margin-top: 40px;
	}

	.function_label{
		font-size: 30px;
	}
	.inner_label{
		font-size: 16px;
	}

	#ymdText{
		height: 100px;
	}

	.gap{
		height: 110px;
	}

	#yearText{
		display: none;
		font-size: 26px;
		top: 15%;
	}

	#monthText{
		display: none;
		font-size: 21.5px;
		top: 60%;
	}

	#countRemain{
		margin-bottom: 0px;
	}

	.arrowButton{
		display:none;
	}

	#menuName{
		display: block;
		color : #fe4e65;
		font-size: 24px;
		top: 20%;
		width: 100%;
		text-align: center;
		position: absolute;
	}

	#menuDescription{
		display: block;
		color : #ffffff;
		font-size: 15px;
		top: 60%;
		width: 100%;
		text-align: center;
		position: absolute;
		line-height: unset;
	}


	.fixfooter{
		position: relative;
		margin-top: 50px;
	}
	.bottomfooter3 span{
		color: #ffffff;
	}
}