.setting_row{
	cursor: pointer;
}


.create_row, .create_input_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;
}
.create_input_row{
	cursor: unset;
}
.create_input_row input{
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	color: inherit;
	height: 40px;
	width: 100%;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}
.create_input_row textarea{
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	color: inherit;
	height: 100px;
	width: 100%;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}
.create_input_textarea_row{
	height: auto;
}

.create_row .obj_table_raw > div, .create_input_row .obj_table_raw > div{
	display: table-cell;
}

.create_row .cell_title{
	width: 150px;
}

.create_input_row .cell_title{
	width: 32px;
}
.create_input_row .cell_content{
	width: auto;
}

.create_row .cell_title > img, .create_input_row .cell_title > img{
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.create_row .cell_value, .create_input_row .cell_value{
	width: auto;
	max-width: 150px;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #585858;
}

.create_row .cell_icon, .create_input_row .cell_icon{
	width: 30px;
	text-align: right;
}
.create_row .cell_icon > img, .create_input_row .cell_icon > img{
	vertical-align: middle;
	margin-bottom: 4px;
	width: 16px;
	height: 16px;
}


.select_ticket_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;

	border-bottom: 1px solid #cccccc;
	padding: 5px 16px;
}

.select_ticket_row .cell_ticket_color{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}

.select_ticket_row .cell_ticket_color .ticket_color_bar{
	width: 3px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.select_ticket_row .cell_ticket_info{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

.select_ticket_row .cell_ticket_info > div{
	height: 25px;
	line-height: 25px;
}

.select_ticket_row .cell_ticket_selected{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}
.select_ticket_row .cell_ticket_selected img{
	display: none;
}
.select_ticket_row .cell_ticket_selected .ticket_selected{
	display: block !important;
}




.select_lecture_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;

	border-bottom: 1px solid #cccccc;
	padding: 5px 16px;
}

.select_lecture_row .cell_lecture_color{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}

.select_lecture_row .cell_lecture_color .lecture_color_bar{
	width: 3px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.select_lecture_row .cell_lecture_info{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

.select_lecture_row .cell_lecture_info > div{
	height: 25px;
	line-height: 25px;
}

.select_lecture_row .cell_lecture_selected{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}
.select_lecture_row .cell_lecture_selected img{
	display: none;
}
.select_lecture_row .cell_lecture_selected .lecture_selected{
	display: block !important;
}

.select_member_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;

	border-bottom: 1px solid #cccccc;
	padding: 5px 16px;
}

.select_member_row .cell_member_name{
	display: table-cell;
	width: 100px;
	vertical-align: middle;
}

.select_member_row .cell_member_info{
	display: table-cell;
	width: auto;
	vertical-align: middle;
	text-align: right;
}

.select_member_row .cell_member_selected{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}
.select_member_row .cell_member_selected img{
	display: none;
}
.select_member_row .cell_member_selected .member_selected{
	display: block !important;
	float: right;;
}

.no_data_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;

	border-bottom: 1px solid #cccccc;
	padding: 5px 16px;
}
.no_data_row .cell_no_data_row_text > img{
	width:30px;
	height:30px;
	vertical-align:middle;
	margin-bottom:4px;
}


/* 탭 */
.list_type_tab_wrap{
	display: inline-block;
	width: 140px;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
}
.list_type_tab_wrap > div{
	display: table-cell;
	width: 55px;
	font-size: 13px;
	line-height: 33px;
	text-align: left;
	padding-left: 5px;
	border-bottom: 2px solid transparent;
}
.list_sort_select_wrap{
	float: right;
	width: 90px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
}
.list_sort_select_wrap select{
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	width: 100%;
	height: 35px;
	line-height: 35px;
	vertical-align: top;
	font-size: inherit;
}
.tab_selected{
	font-weight: bold;
	border-bottom-color: #fe4e65 !important;
}
/* 탭 */



