body{
	padding-top: 50px;
	font-family: 'Noto Sans KR';
}

#page-base-addstyle{ /*20180426*/
	/*z-index: 351; 20180727*/
}

#how_to_add_member{
	position: absolute;
	z-index: 300;
	width: 90%;
	height: 195px;
	background:#f4f4f4;
	border:3px solid #fe4e65;
	border-radius: 5px;
	top: 100px;
	right: 30px;
	padding: 20px 10px 0px 10px;
	box-shadow: 1px 1px 1px 1px #fe4e65;
	display: none;
}

#menuDescription{
  line-height: 40px;
}

.pters_selectbox_wrapper{
	margin-top: 50px;
}


@media(min-width: 600px){
	#how_to_add_member{
		position: absolute;
		z-index: 300;
		width: 90%;
		height: 195px;
		background:#f4f4f4;
		border:3px solid #fe4e65;
		border-radius: 5px;
		top: 100px;
		right: 30px;
		padding: 20px 30px 0px 30px;
		box-shadow: 1px 1px 1px 1px #fe4e65;
		display: none;
	}

	
	#menuDescription{
	  line-height: unset;
	}
}

#please_add_member{
	position: absolute;
	width: 230px;
	height: 120px;
	background:#f4f4f4;
	border:3px solid #fe4e65;
	border-radius: 5px;
	z-index: 100;
	bottom: 100px;
	right: 30px;
	display: none;
}
#please_add_member_pc{
	display: none;
}
#please_add_member:after{
	content:'';
	position: absolute;
	border-top:30px solid #f4f4f4;
	border-right:15px solid transparent;
	border-left:15px solid transparent;
	bottom: -23px;
	right: 5px;
}
#please_add_member:before{
	content:'';
	position: absolute;
	border-top:30px solid #fe4e65;
	border-right:15px solid transparent;
	border-left:15px solid transparent;
	bottom: -30px;
	right: 5px;
}
#please_add_member p{
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	padding-left: 12px;
	height: 25px;
}
#please_add_member p img{
	height: 17px;
	margin-bottom:5px;
}

#page_managemember{
	overflow-x: hidden;
	overflow-y: hidden;
}


#page_managemember table{
	font-size: 81%;
	text-align: center;
	table-layout: fixed;
}

#page_managemember #tableThead{
	width: 91.6%;
	margin:0 auto;
}

#page_managemember tbody{
	background-color: #ffffff;
}

#page_managemember th{
	text-align: center;
	background:#eeeeee;
	vertical-align: middle;
}

#page_managemember button:focus{
	outline: 0;
}

.resendPopup{
	display: none;
	position: fixed;
	background: #ffffff;
	border-color: transparent;
	width: 80%;
	max-width: 330px;
	z-index: 400;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	box-shadow: 1px 1px 5px 1px #cccccc;
}

.lectureRefundPopup, .lectureStateChangeSelectPopup, .lectureConnectStateChangePopup{
	display: none;
	position: fixed;
	background: #ffffff;
	box-shadow: 1px 1px 5px 1px #cccccc;
	width: 80%;
	max-width: 330px;
	z-index: 400;
	text-align: center;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.confirmText{
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	padding-top: 5px;
}


#page_addmember{
	display: none;
	position: absolute;
	top: 50px;
	width:100%;
	max-width: 600px !important;
	background: #f4f4f4;
	z-index: 350;
}


.alignSelect{
	width: 100%;
	height: 35px;
	margin-top: 10px;
	background: #ffffff;
	border:1px solid #a2a2a2;
	border-radius: 0;
	-webkit-appearance:none;
	-moz-appearance:none;
	text-align-last:center;
	-webkit-text-align: center;
}
#align_select_dropdown_arrow{
	right: 5%;
}

select:focus > option:checked {
	color: #fe4e65 !important;
}

#alignBox{
	position: relative;
	margin-top: 15.5px;
	margin-bottom: 16.5px;
	margin-right: auto;
	margin-left: auto;
	width: 91.6%;
	max-width: 800px;
}
#align_type_text{
	display: none;
	/*
    font-size:14px;
    position: absolute;
    left: 0;
    */
}
#alignBox div._info_download{
	display: none;
}

/*
.btn{
	border-radius: 0;
}

.btn-primary{
	color: #282828;
	background-color: #ffffff;
	border-color: #ffffff;
}

.btn.active, .btn:active{
	box-shadow: none;
	-webkit-box-shadow:none;
}

.btn-primary:hover, .btn-primary:active:hover,.btn-primary:active,.btn-primary:focus {
	background-color: #ffffff;
	color: #282828;
	border-color: transparent;
}

.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover{
	z-index: 1;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-color: #ffffff;
	color: #fe4e65;
	font-weight: bold;
	border-top: 3px solid #fe4e65;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
	background-color: #ffffff;
	color: #fe4e65;
	font-weight: bold;
	border-top: 3px solid #fe4e65;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
*/

._GROUP_THEAD{
	
}

._countnum,._id,._email,._finday,._manage,._startdate{
	display: none;
}

._countnum{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._tdname, ._tdnamee{
	position: relative;
	width: 40%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._grouptype{
	display: none;
}

._id{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._email{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._regcount{
	width: 23%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._remaincount{
	width: 23%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._startdate{
	width: 25%;
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._finday{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

._contact{
	width: 25%;
}

._manage{
	line-height: 19px;
	vertical-align: middle !important;
	padding-top: 8px;
	padding-bottom: 8px;
}


.memberline{
	cursor: pointer;
	height: 40px;
}

.memberline:hover{
	background:#f4f4f4 !important;
	transition: background-color 0.12s cubic-bezier(0.4,0,0.2,1);

}


#currentMemberList, #finishedMemberList, #currentGroupList, #finishedGroupList, #currentPackageList, #finishedPackageList{
	width: 91.6%;
	margin-bottom: 40px;
}

#finishedMemberList, #finishedGroupList{
	display: none;
}

#currentGroupList, #finishedGroupList{
	width: 91.6%;
}

#finishedGroupList{
	display: none;
}



/*-----------------모바일 회원정보 팝업-----------------------*/
.infopopup{
	display: none;
	height: -webkit-fill-available;
	position: absolute;
	background: #f4f4f4;
	width: 100%;
	z-index: 150;
	max-width: 700px !important;
	top: 50px;

	height: auto;
}

#mobile_basic_info{
	position: relative;
	background: #ffffff;
	width: 97%;
	border:1px solid #cccccc;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 10px 0px 10px 0px;
}
.mobileinfo_wrap{
	display: inline-block;
	width: 47%;
	margin-bottom: 10px;
	margin-left: 5px;
}
.mobileinfo{
	position: relative;
}
.mobileinfo_input{
	border:0;
	background:transparent;
	text-align: left;
	padding-left: 20px;
	width: 80%;
	-webkit-appearance:none;
	border-radius: 0;
	color: #282828 !important;
	-webkit-text-fill-color:#282828 !important;
	-webkit-opacity:1;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mobileinfo_birth{
	border: 0;
	background:#f4f4f4;
	width: 30%;
	-webkit-appearance:none;
	border-radius: 0;
	text-align-last: center;
}

#memberName_info{

}
#memberName_info_lastName, #memberName_info_firstName{
	display: none;
	width: 80%;
	background: #ffffff;
}


#memberSex_info{
	position: absolute;
	display: inline-block;
	min-width: 40px;
	height: 22px;
	right: 0px;
	top: 0;
}
#memberSex_info_PC{
	position: relative;
	display: inline-block;
	width: auto;
	height: 28px;
	right: 0px;
	top: 0;
	padding-top: 8px;

}
#memberSex_info_PC img{
	width: 20px;
	height: 20px;
}
#memberSex_info	.selectboxopt{
	line-height: 22px;
	border-bottom: 1.5px solid #cccccc;
	border-top:0;
	border-left:0;
	border-right:0;
}
#memberSex_info_PC	.selectboxopt{
	line-height: 22px;
	border:0;
	background: #ffffff;
}

#mobile_lecture_info{
	background: #ffffff;
	width: 97%;
	border:1px solid #cccccc;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 10px 0px 10px 0px;
}
#mobile_lecture_info div.mobileinfo_wrap{
	display: none;
}

#mobile_repeat_info,#mobile_history_info{
	display: none;
	background: #ffffff;
	width: 97%;
	border:1px solid #cccccc;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 10px 0px 10px 0px;
}

#memberRegHistory_info_wrap{
	padding: 0 5px 0 5px;
}
#memberRegHistory_info{
	display: block;
	font-size:13px;
	width: 100%;
	padding: 0;
	/*border:1px solid #cccccc;*/
	margin:0 auto;
	margin-top: 6px;
}
	.wraps{
		margin-bottom: 15px;
		border: 1px solid #cccccc;
	}
#memberRegHistory_info > div > div {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}
#memberRegHistory_info input{
	width: 100%;
	text-align: center;
	padding: 0;
	line-height: 19px;
	-webkit-text-fill-color:#282828;
	-webkit-opacity:1;
	margin-bottom: 0;
}
.howManyReg{
	font-weight:bold;
	font-size:14px;
	color:#fe4e65;
	width: 25% !important;
	text-align: left !important;
	padding-left: 10px !important;
	border: 0 !important;
}
.whatGroupType{
	font-weight:bold;
	font-size:12px;
	color:#fe4e65;
	width: 50% !important;
	text-align: left !important;
	border: 0 !important;
}
.whatGroupType select{
	border: 0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	text-align-last: center;
}
.mobile_member_note{
	color: #7d7d7d;
	padding-left: 6px !important;
	margin-bottom: 7px !important;
	/*border-bottom: 1px solid #cccccc !important;*/
	padding-bottom: 8px !important;
}
#memberRegHistory_info img{
	width: 16px;
	margin: 5px;
	cursor: pointer;
}
.regHistory_table_title{
	font-weight: bold;
	height: 22px !important;
}
#memberRegHistory_info > div > div > div{
	display: table-cell;
	width: 15.6%;
	padding: 0;
	height: 30px;
	text-align: center;
}
#memberRegHistory_info > div > div > div:nth-child(1){
	width: 25%;
	border-right:1px solid #cccccc;
}
#memberRegHistory_info > div > div > div:nth-child(2){
	width: 25%;
	border-right:1px solid #cccccc;
}
#memberRegHistory_info > div > div > div:nth-child(3){
	width: 25%;
	border-right:1px solid #cccccc;
}
#memberRegHistory_info > div > div > div:nth-child(4){
	width: 25%;
}
.member_info_wrap input{
	display: inline-block;
	border:0;
	background: #ffffff;
	color: #282828;

	margin-top: 0px;
	margin-bottom: 10px;
	text-align: left;
	cursor: initial;
	padding-left: 10px;
	font-size: 13px;
	word-spacing: -0.4px;
}


/*-----------------모바일 회원정보 팝업-----------------------*/


/*-----------------PC 회원정보 팝업-----------------------*/
.infopopup_pc{ /*memberInfoPopup_PC*/
	display: none;
	position: absolute;
	background: #ffffff;
	padding: 10px;
	width: 600px;
	z-index:250;
	/*
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	*/
	border-radius: 3px;
	border: 1px solid #cccccc;
	overflow-y: auto;
}
	#memberInfoPopup_PC input{
		-webkit-text-fill-color:#282828;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

.infopopup_pc > label{
	font-size: 17px;
	width: 100%;
}
.infopopup_pc > label img:nth-child(1){
	width: 17px;
	margin:0 5px 5px 5px;
}
.infopopup_pc > label > img{
	width: 15px;
	float: right;
	margin-top: 5px;
	cursor: pointer;
}
#memberName_info_PC{
	border:0;
	background: #ffffff;
	width: auto;
	max-width: 300px;
	text-align: left;
	padding-left:10px;
}
#memberName_info_lastName_PC, #memberName_info_firstName_PC{
	width: 200px;
	background: #ffffff;
	display: none;
}


.member_info_PC_wrap{
	display: inline-block;
	width: 47%;
	font-size: 14px;
}

#memberRegCount_info_PC_wrap, #memberRemainCount_info_PC_wrap, #memberAvailCount_info_PC_wrap, #memberFinishCount_info_PC_wrap{
	display: none;
}

#memberRegHistory_info_PC_wrap{
	width: 100%;
}
#memberLectureHistory_info_PC_wrap{
	max-height: 255px;
	overflow-y: auto;
}
.member_info_PC_wrap label{
	display: inline-block;
	width: 100px;
	color: #7d7d7d;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 0px;
}

.howManyReg_PC{
	font-weight:bold;
	font-size:12px;
	color:#fe4e65;
	width: 5% !important;
	text-align: left !important;
	padding-left: 10px !important;
	border: 0 !important;
}
.whatGroupType_PC{
	font-weight:bold;
	font-size:12px;
	color:#fe4e65;
	width: 25% !important;
	text-align: left !important;
	border: 0 !important;
}
.whatGroupType_PC select{
	border: 0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background:transparent;
}
#memberBirth_select_wrap{
	display: inline-block;
	width: 275px;
}
#memberBirth_select_wrap select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	/*border-color:#ffffff;*/
	padding-left: 8px;
	background:#ffffff;
	border:0;
}
#memberBirth_Year_info_PC{
	width: 25%;
}
#memberBirth_Month_info_PC,#memberBirth_Date_info_PC{
	width: 18%;
	margin-left: 1px;
}
.member_info_PC_wrap input, .member_info_PC_wrap> span, .member_info_PC_wrap > div{
	display: inline-block;
	width: 190px;
	border:1px solid #ffffff;
	background: #ffffff;
	color: #282828;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: left;
	cursor: initial;
	padding-left: 10px;
}

#memberRegCount_info_PC, #memberRemainCount_info_PC, #memberAvailCount_info_PC, #memberFinishCount_info_PC{
	width: auto;
}

.member_info_PC_wrap >label img{
	width: 15px;
	margin:0 5px 4px 0;
}
#memberRegHistory_info_PC, #memberRepeat_info_PC{
	display: block;
	font-size:12px;
	width: 100%;
	padding: 0;
	margin-top: 5px;
}
#memberRegHistory_info_PC > div{
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}
#memberRegHistory_info_PC input{
	width: 100%;
	text-align: center;
	padding: 0;
	line-height: 19px;
	-webkit-text-fill-color:#282828;
	-webkit-opacity:1;
	margin-bottom: 0;
}
.pc_member_note{
	color: #7d7d7d;
	padding-left: 6px !important;
	margin-bottom: 4px !important;
	margin-top: 2px !important;
	/*border-bottom: 1px solid #cccccc !important;*/
}
#memberRegHistory_info_PC img{
	width: 12px;
	cursor: pointer;
}
#memberRegHistory_info_PC > div > div{
	display: table-cell;
	height: 20px;
	padding: 0;
	text-align: center;
	border: 0;
	border-right:1px solid #cccccc;
	vertical-align: middle;
}
#memberRegHistory_info_PC > div > div:nth-child(1){
	width: 12.5%;
}
#memberRegHistory_info_PC > div > div:nth-child(2){
	width: 12.5%;
}
#memberRegHistory_info_PC > div > div:nth-child(3){
	width: 9%;
}
#memberRegHistory_info_PC > div > div:nth-child(4){
	width: 9%;
}
#memberRegHistory_info_PC > div > div:nth-child(5){
	width: 14%;
}
#memberRegHistory_info_PC > div > div:nth-child(6){
	width: 12.5%;
}
#memberRegHistory_info_PC > div > div:nth-child(7){
	width: 12.5%;
}
#memberRegHistory_info_PC > div > div:nth-child(8){
	width: 12.5%;
}
#memberRegHistory_info_PC > div > div:nth-child(9){
	width: 12.5%;
	border-right: 0;
}


#memberRegHistory_info_PC_wrap > label, #memberRegHistory_info_wrap > label, #memberRepeat_info_PC_wrap >label{
	display: inline;
}



#memberLectureHistory_info_PC, #memberLectureHistory_info{
	display: block;
	font-size:12px;
	width: 100%;
	padding: 0;
}
#memberLectureHistory_info_PC div, #memberLectureHistory_info div{
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	height: 25px;
}
#memberLectureHistory_info_PC > div > div:nth-child(1), #memberLectureHistory_info > div > div:nth-child(1){
	display: table-cell;
	width: 7%;
	height: 20px;
	padding: 0;
	text-align: center;
	border: 0;
	border-right:1px solid #cccccc;
}
#memberLectureHistory_info_PC > div > div:nth-child(2), #memberLectureHistory_info > div > div:nth-child(2){
	display: table-cell;
	width: 27%;
	height: 20px;
	padding: 0;
	text-align: center;
	border: 0;
	border-right:1px solid #cccccc;
}
#memberLectureHistory_info_PC > div > div:nth-child(3), #memberLectureHistory_info > div > div:nth-child(3){
	display: table-cell;
	width: 15%;
	height: 20px;
	padding: 0;
	text-align: center;
	border: 0;
	border-right:1px solid #cccccc;
}
#memberLectureHistory_info_PC > div > div:nth-child(4), #memberLectureHistory_info > div > div:nth-child(4){
	display: table-cell;
	width: 13%;
	height: 20px;
	padding: 0;
	text-align: center;
	border: 0;
	border-right:1px solid #cccccc;
}
#memberLectureHistory_info_PC > div > div:nth-child(5), #memberLectureHistory_info > div > div:nth-child(5){
	display: table-cell;
	width: 40%;
	height: 20px;
	padding: 0;
	text-align: center;
	border: 0;
}
.historyState_PE{
	color: green;
}
.historyState_PC{
	color: red;
}
.historyState_NP,.historyState_IP{
	color: #fe4e65;
}
#lectureNote{
	display: inline-block;
	width: 85% !important;
	text-align: left !important;
}

#memberRepeat_info_PC > div, #memberRepeat_info > div{
	position: relative;
	display: block;
	color: #282828;
	border-bottom:1px solid #cccccc;
	height: 55px;
	margin-top: 1px;
}
#memberRepeat_info_PC p:nth-child(1), #memberRepeat_info p:nth-child(1){
	color: #fe4e65;
	margin: 0;
	line-height: unset;
	font-size: unset;
}
#memberRepeat_info_PC p:nth-child(2), #memberRepeat_info p:nth-child(2){
	color: #444444;
	margin: 0;
	line-height: unset;
	font-size: 13px;
}
#memberRepeat_info_PC p:nth-child(3), #memberRepeat_info p:nth-child(3){
	color: #777777;
	margin: 0;
	line-height: unset;
	font-size: 13px;
}

.deleteBtn{
	position: absolute;

	width: 15px !important;
	margin-left: 15px;
	padding-left: 3px !important;
	top: 0;
	right: 0;
	text-align: center;
	background: #cccccc !important;
	cursor: pointer;
	height: 100%;
}
.deleteBtn img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.deleteBtnBin img{
	display: none;
}

.deleteBtnBin{
	position: absolute;
	top: 0;
	right: 0px;
	width: 0px;
	height: 100%;
	background:#fe4e65;
	z-index: 100;
}

span.summaryInnerBoxText_Repeatendtext{
	width: 50px;
	padding: 0;
	margin-bottom: 0;
}
.lectureType_VIEW{
	color: green !important;
	text-decoration: underline;
	cursor: pointer !important;
}
.lectureType_WAIT{
	color: orange !important;
	text-decoration: underline;
	cursor: pointer !important;
}
.lectureType_DELETE{
	color: red !important;
	text-decoration: underline;
	cursor: pointer !important;
}
.lecConnectType_IP{
	color: green !important;
	text-decoration: underline;
	cursor: pointer !important;
}
.lecConnectType_PE{
	color: #282828 !important;
	text-decoration: underline;
	cursor: pointer !important;
}
.lecConnectType_RF{
	color: orange !important;
	text-decoration: underline;
	cursor: pointer !important;
}
.regHistoryDateInfo{
	font-size: 11px;
}

._delete{
	width: 100%;
}
@media(min-width:600px){
	._delete{
		width:50px;
	}
}


.member_info_PC_buttons_wrap button{
	display: inline-block;
	font-size: 13px;
	border: 0.5px solid #282828;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.member_info_PC_buttons_wrap button:nth-child(1){
	background:#ffffff;
	color: #282828;
}
.member_info_PC_buttons_wrap button:nth-child(1):active{
	background:#fe4e65;
	color: #ffffff;
}

.input_available{
	background: #f4f4f4 !important;
	color: #fe4e65 !important;
	border: 1px solid #282828 !important;
}

#member_info_type_select{
	position: relative;
}

.button_shift_info{
	display: table-cell;
	background:#cccccc;
	color: #ffffff;
	border-bottom: 0;
	border-top-right-radius: 9px;
	height: 30px;
	width: 80px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #f7f7f7;
	vertical-align: middle;
}

.button_active{
	background: #fe4e65;
	color: #ffffff;
}

.info_shift_wrap{
	border:1px solid #cccccc;
	padding-left: 10px;
	overflow:auto;
}

#info_shift_schedule,#info_shift_history{
	display: none;
	width: 100%;
}
#memberRepeat_info_PC_wrap, #memberLectureHistory_info_PC_wrap{
	height: 280px;
	overflow-y: auto;
}

#info_shift_lecture, #info_shift_schedule, #info_shift_history{
	height: 280px;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#info_shift_base{
	position: relative;
	padding-top: 10px;
	margin-bottom: 10px;
}
.member_info_tool{
	position: absolute;
	width: 30%;
	height: 30px;
	text-align: right;
	right: 0;
	bottom: 0;
}


/*-----------------PC 회원정보 팝업-----------------------*/


._tdname,._tdnamee{
	font-size: 105%;
}

#memberDelete{
	text-align: center;
	background: grey;
	margin-bottom: 30px;
	width: 50%;
	height: 35px;
}

.memberNum{
	float: right;
}

#finishMemberNum{
	display: none;
}

.npCountImg_wait{
	display: none;
	width:12px;
	position:absolute;
	margin-top:2px;
	margin-left:0px;
}

.npCountImg_x{
	width:10px;
	position:absolute;
	margin-top:3px;
	margin-left:2px;
}

.newRegImg{
	display: none;
	width: 17px;
	position: absolute;
	left: 0;
	margin-left: 2px;
}


.phonesms{
	display: inline;
	width: 16px;
	margin: 7px;
}

.phonenum{
	display:none;
	color: #282828;
}

.phonenum:hover{
	color: #fe4e65;
}



.nameimg{
	width: 6px;
	float: right;
	margin-top: 4px;
}

.pcmanageicon{
	height: 18px;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
}
._info_cancel{
	display: none;
	height: 14px;
}


#upperImg{
	display: none;
}

.instructPopup{
	display: none;
}

.forscroll{
	width: 0;
}

.ymdText-pc-add-member-wrap{
	/*display: none;*/
	display: inline-block;
}
#search_member_input, #search_lecture_input{
	height: 33px;
	width: 150px;
	border: 1px solid #cccccc;
}

.input_disabled_color{
	background:#eee !important;
}

#infoMemberModify{
	display: none;
}

#infoMemberDelete, #infoMemberModify{
	float: right;
	margin-right: 2%;
	border: 0;
	background: transparent;
	width: 40px;
	height: 40px;
	padding: 11px;
}
#infoMemberDelete img, #infoMemberModify img{
	width: 100%;
}

.history_view{
	width: 100%;
}

.ymdText-pc-add-member{
	display:none;
}
.ymdText-pc-add-member-again{
	display:none;
}

.button_add_member_lecture{
	font-weight: 400 !important;
	margin-left: 5px;
	border: 1px solid #cccccc !important;
	color:#fe4e65 !important;
	width: 15px !important;
	line-height: 15px !important;
	text-align:center !important;
	padding:0 6px 0 3px;
	font-size: 12px;
	cursor: pointer !important;
}

@media(min-width: 600px){
	.pters_selectbox_wrapper{
		margin-top: 20px;
	}

	.input_available{
		background: #ffffff !important;
		color: #fe4e65 !important;
		border-color: #282828 !important;
	}

	.newRegImg{
		display: block;
	}

	#page_addmember{
		top: unset;
		max-width: 600px !important;
		background-color: 	#ffffff;
	}

	#page_addmember_input_wrap{
		background-color: 	white;
		overflow-y: auto;
		position: relative;
		border-top: 2px solid #cccccc;
		border-bottom: 2px solid #cccccc;
	}


	.memberline{
		height: 35px;
	}

	._grouptype{
		display: table-cell;
		width: 25%;
	}

	._regcount, ._remaincount{
		display: table-cell;
		width: 20%;
	}

	.phonenum{
		display:block;
		cursor: pointer;
	}

	.phonesms{
		display:none;
	}


	#upperImg{
		display: block;
		/*
		background-image:url(/static/user/res/bg.png);
		background-size: 100%;
		*/
		margin:0 auto;
		height: 100px;
		width: 100%;
		text-align: center;
	}

	#upperImg span{
		font-size: 20px;
		color: #fe4e65;
		font-weight: 500;
		line-height: 100px;
	}

	.instructPopup{
		position: absolute;
		width: 200px;
		height: auto;
		min-height: 40px;
		border:1px solid #282828;
		background: #d7f3ff;
	}

	#page_addmember, #memberInfoPopup{
		/*
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		*/
		margin-bottom: 50px;
	}

	.ymdText-pc-add-member-wrap{
		display: inline-block;
		line-height: 33px;
		position: relative;
		width: auto;
	}
	#search_member_input, #search_lecture_input{
		height: 100%;
		width: 130px;
		margin-left: 10px;
	}

	#please_add_member_pc{
		position: absolute;
		width: 230px;
		height: 120px;
		background:#f4f4f4;
		border:3px solid #fe4e65;
		border-radius: 5px;
		z-index: 150;
		bottom: -140px;
		display: none;
	}
	#please_add_member_pc:after{
		content:'';
		position: absolute;
		border-bottom:30px solid #f4f4f4;
		border-right:15px solid transparent;
		border-left:15px solid transparent;
		top: -23px;
		left: 5px;
	}
	#please_add_member_pc:before{
		content:'';
		position: absolute;
		border-bottom:30px solid #fe4e65;
		border-right:15px solid transparent;
		border-left:15px solid transparent;
		top: -30px;
		left: 5px;
	}
	#please_add_member_pc p{
		margin: 0;
		font-size: 14px;
		font-weight: bold;
		padding-left: 12px;
		height: 25px;
	}
	#please_add_member_pc p img{
		height: 17px;
		margin-bottom:5px;
	}


	.ymdText-pc-add-member{
		display: inline;
		margin-left: 2px;
		padding:3px 13px 3px 13px;
		color: #fe4e65;
		font-size: 14px;
		border:1px solid #cccccc;
		cursor: pointer;
	}
	.ymdText-pc-add-member-again{
		display: inline;
		margin-left: 5px;
		padding:3px 13px 3px 13px;
		color: #282828;
		font-size: 14px;
		border:1px solid #cccccc;
		cursor: pointer;
	}
	.ymdText-pc-add-member:hover{
		background-color: #fe4e65;
		border-color: #fe4e65;
		color: #ffffff;
		transition: background-color 0.17s cubic-bezier(0.4,0,0.2,1);
	}
	.ymdText-pc-add-member-again:hover{
		background: #282828;
		border-color: #282828;
		color: #ffffff;
		transition: background-color 0.17s cubic-bezier(0.4,0,0.2,1);
	}



	#infoMemberModify{
		display: inline;
		float: right;
		margin-right: 2%;
		border: 0;
		background: transparent;
		width: 40px;
		height: 40px;
		padding: 11px;
	}
	#infoMemberModify img{
		width: 100%;
	}

	.button_shift_info{
		height: 22px;
		width: 70px;
		font-size: 13px;
		border: 0;
	}
	.button_shift_info:active{
		background: #fe4e65;
		color: #ffffff;
	}

}

@media(min-width: 1000px){

	#align_type_text{
		display: inline;
		right: 290px;
	}

	#align_select_dropdown_arrow{
		right: 130px;
	}

	.tableThead{
		width: 1080px;
		display: table;
	}

	._MEMBER_THEAD{

	}

	._GROUP_THEAD{
		
	}

	.centeralign{
		max-width: 1080px !important;
	}

	.forscroll{
		width: 10px;
		padding:0 !important;
		background: #ffffff;
	}

	#page_managemember{
		background:#ffffff;
	}


	#currentMemberList, #finishedMemberList, #currentGroupList, #finishedGroupList, #currentPackageList, #finishedPackageList{
		/*width: 1080px;*/
		/*height: 600px;*/
		height: auto;
		overflow-y: overlay;
	}

	.npCountImg_wait{
		width:17px;
		position:absolute;
		margin-top:7px;
		margin-left:5px;
	}

	.npCountImg_x{
		width:14px;
		position:absolute;
		margin-top:4px;
		margin-left:6px;
	}

	._countnum, ._id, ._email, ._startdate, ._finday, ._manage{
		display: table-cell;
	}

	._manage img._info_view,._manage img._info_modify{
		display: none;
	}

	._countnum{
		width: 30px;
	}

	._grouptype{
		width: 60px;
	}

	._tdname,._tdnamee{
		width: 85px;
	}

	._id{
		width: 65px;
	}

	._email{
		width: 115px;
		display: none;
	}

	._regcount{
		width: 45px;
	}

	._remaincount{
		width: 45px;
		line-height: 19px;
		vertical-align: middle !important;
	}

	._startdate{
		width: 50px;
	}

	._finday{
		width: 50px;
	}

	._contact{
		width: 70px;

	}

	._manage{
		width: 55px;
	}

	#page_managemember table, #page_managemember td{
		vertical-align: middle;
		border:0 !important;
	}

	#page_managemember tr{
		border-bottom:0.5px solid #cccccc;
	}

	#page_managemember td{
		font-size : 13px;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#page_managemember th{
		border:0 !important;
		font-size: 13.5px;
		border-left:0.5px solid #ffffff !important;
		border-right: 0.5px solid #ffffff !important;
		font-weight: 500;
	}

	.nameimg{
		display: none;
	}

	.alignSelect{
		position: absolute;
		top: 0;
		right: 120px;
		margin-top: 0 !important;
		border:1px solid #eeeeee;
		width: 160px !important;
		height: 29px !important;
		font-size: 13px;
		color: #afafaf;
		padding: 2px 0 0 29px;
		text-align-last: unset;
	}

	.btn-default{
		box-shadow: 0 0 0 0 !important;
	}

	#alignBox{
		position: relative;
		max-width: 1080px;
		height: 30px;
		margin-bottom: 5px;
		margin-top: 20px;
		padding-right: 190px;
	}
	#alignBox div._info_download{
		display: inline;
	}

	.memberNum{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		line-height: 24px;
	}

	.memberAlign{
		float: right;
		line-height: 30px;
	}

	
/*
	.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
		border-color:#282828;
		background:#282828;
		color: #ffffff;
	}

	.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
		border-color:#282828;
		background:#282828;
		color: #ffffff;
	}

	.btn-primary{
		color: #cccccc;
	}
*/

	#upperImg{
		margin-bottom: 20px;
	}

}

