body{
	padding-top: 50px;
	margin:0 auto;
}

#help_setting{
	padding: 15px;
	margin-top:10px;
}
#help_setting label>img, #go_to_faq label>img{
	width: 20px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.fixfooter{
	position: relative;
}

.label_explain{
	margin-bottom: 15px;
}
.label_explain p{
	padding-left: 0px;
}

.inquire_type_wrap{
	max-width: 600px;
	margin-bottom: 10px;
}
.inquire_type_wrap input{
	width: 100%;
	text-align: left;
	font-weight: bold;
	border:1px solid #cccccc;
}

.textarea_wrap{
	margin-top: 15px;
}
.textarea{
	width: 100%;
	max-width: 600px;
	min-height: 300px;
	resize: none;
	border:1px solid #cccccc;
}

._mylist{
	display: none;
}
#myquestion_history, #myquestion_history_return{
	border:1px solid #cccccc;
	display: inline-block;
	background:#ffffff;
	font-size:11px;
	font-weight: 400;
	padding:2px;
	margin-left: 5px;
	cursor: pointer;
}
	#myquestion_history:hover, #myquestion_history_return:hover{
		background: #fe4e65;
		color: #ffffff;
	}
	.myquestion_history_table_title{
		table-layout: fixed;
		display: table;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background: #f1f1f1;
		text-align: center;
		color: #282828;
		font-size: 13px;
		font-weight: 500;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
	}
	.myquestion_history_table_cell_title{
		display: table-cell;
	}

	.myquestion_history_table{
		table-layout: fixed;
		display: table;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background: #ffffff;
		text-align: center;
		color: #282828;
		font-weight: 400;
		border-bottom: 1px solid #9c9c9c;
		cursor: pointer;
	}
		.myquestion_history_table:hover{
			background: #f3f3f3;
		}
	.myquestion_history_table_cell{
		display: table-cell;
	}
	.myquestion_history_table_content{
		display: none;
		width: 100%;
		height: auto;
		min-height: 40px;
		padding: 20px;
		background: #ffffff;
		border-bottom: 1px solid #9c9c9c;
	}

	._qatable_no{
		width: 5%;
		display: none;
	}
	._qatable_type{
		display: none;
		width: 10%;
	}
	._qatable_title{
		width: 50%;
		
	}
		._qatable_title p{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin: 0;
		}
	._qatable_regdt{
		width: 25%;
		display: none;
	}
	._qatable_status{
		
		width: 10%;
	}

	@media(min-width:600px){
		._qatable_no{
			display: table-cell;
		}
		._qatable_type{
			display: table-cell;
		}
		._qatable_regdt{
			display: table-cell;
		}
	}



.pters_dropdown_setting_custom{
	display: inline-flex;
	width: 26.4% !important;
	height: 100%;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

li a{
	cursor: pointer;
}


.dropdown ul{
	width: 100%;
	min-width: 80px;
}



.settingMenu{
	position: relative;
	height: 60.5px;
	background: #ffffff;
	font-size: 14.9px;
	font-weight: 500;
	color: #282828;
	padding-top: 10px;
}

.settingBox{
	position: relative;
	height: auto;
}

.settingText{
	margin: 0;
	margin-left: 14.5px;
}

.settingText2{
	margin: 0;
	font-weight: 400;
	font-size: 13px;
	margin-left: 14.5px;
	margin-top: 4px;
}

.settingText3{
	margin-left: 14.5px;
	line-height: 60.5px;
	vertical-align: middle;
}


.iconText{
	position: relative;
	font-size: 13.9px;
	color: #3b3d3d;
	margin-left: 14.5px;
	margin-top: 10px;
	height:35px;
}

.iconText span{
	line-height: 35px;
	vertical-align: middle;
}


.ulTimes{
	height: 123px;
	overflow-y: overlay;
}

.dropdown-menu li{
	padding-top: 6.5px !important;
	padding-bottom: 6.5px !important;
}


