html, body{
	background-color: #f7f7f7;
}

body{
	padding-top: 50px;
}


.fixfooter {
	display: none;
}

.bottomfooter2 a{
	color: #7d7d7d;
}

.settingMenu{
	width: 100%;
	height: 50px;
	background:#ffffff;
	font-size: 13.9px;
	color: #3b3d3d;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 0.5px solid #a2a2a2;
	max-width: 600px;
	margin:0 auto;
	cursor: pointer;
}
.settingMenu:hover,.settingMenu:focus,.settingMenu:active{
	color: #fe4e65 !important;
	background: #eaeaea !important;
}

.settingImg{
	width: 20px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 10px;
}

.settingArrow{
	width: 5px;
	float: right;
	margin-right: 22.5px;
	margin-top: 5px;
}

.settingText{
	cursor: pointer;
}

#about_us{

}

#logout{
	width:100%;
	position: relative;
	font-size: 15px;
	font-weight: bold;
	color: #282828;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 50px;
}

#logout span{
	cursor: pointer;
}

.logoutArrow{
	width: 5px;
	margin-bottom: 2.5px;
	margin-left: 10px;
}

#upperImg{
	display: none;
}




@media(min-width: 600px){
	#logout{
		position: relative;
		margin-top: 50px;
		margin-bottom: 100px;
	}

	#logout:hover{
		color: #fe4e65;
	}

	#settingMenuBox{
		text-align: center;
		margin-top: 50px;
	}

	.settingMenu{
		display: inline-table;
		cursor:pointer;
		width: 180px;
		height: 180px;
		margin: 15px;
		border:0;
		border-top:3px solid #ffffff;
	}

	.settingMenu:hover{

		color: #fe4e65;
		font-weight: bold;
		border-top:3px solid #fe4e65;
	}

	.settingImg{
		width: 50px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 32px;
	}
	
	#about_us{
		display: none;	
	}
	
	#from_pters_team img:first-child{
		height: 50px;
		width: 160px;
		opacity: 0.3;
	}

	#salesSetting .settingImg{
		height: 50px;
		width: 37.5px;
	}
	#paymentSetting .settingImg{
		height: 50px;
		width: auto;
	}

	.settingText{
		display: block;
	}

	.settingArrow{
		width: 6px;
		margin-top: -15px;
		margin-right: 17.5px;
	}

	#upperImg{
		display: block;
		/*
		background-image:url(/static/user/res/bg.png);
		background-size: 100%;
		*/
		margin:0 auto;
		height: 65px;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	#upperImg span{
		font-size: 20px;
		color: #fe4e65;
		font-weight: 500;
		line-height: 65px;
	}
	.fixfooter{
		position: fixed;
	}
}
