@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
	font-family: 'Noto Sans KR';
	padding-top: 50px;
	width: 100%;
	background: black;
}

img,a,div,span,p{
 	-webkit-user-select: none;
   	user-select: none;
}

table{
	table-layout: fixed;
	
}


#filterPopup_mini{
	position:fixed;
	display: none;
	width:250px;
	height: 100px;
	background:#ffffff;
	border:1px solid black;
	top:50%;left: 15%;
	transform: translateY(-50%);
	z-index: 500;
	text-align:  center;
}

.swiper-slide{
	height: 100%;
	/* 가속도 스크롤
	-webkit-overflow-scrolling:touch;
	*/
}

#slide_first,#slide_last{
	background: #ffffff;
}

.slide-notice{
	height: 50px;
	padding-top: 40%;
	text-align: center;
}


.slide-notice img{
	width: 35px;
}

.slide-notice span{
	display: block;
	margin-top: 35px;
	letter-spacing: -0.3px;
}

.swiper-container{
	height: 100%;
	z-index: 1;
}

.slide-notice{
	background: #ffffff;
}

.slide-notice img{
	width: 35px;
}

.slide-notice span{
	margin-top: 35px;
	letter-spacing: -0.3px;
}

.loaders{
	position: absolute;
	top: 40%;
	left: 20%;
	width: 200px;
	height: 200px;
 }


#cal_popup{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	top: 35%;
	left: 10%;
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: -2;
	text-align: center;
}

#cal_popup3{
	display: none;
	position: fixed;
	background: transparent;
	border-color: transparent;
	top: 35%;
	left: 10%;
	width: 80%;
	/*
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	*/
	z-index: -2;
	text-align: center;
}

#popup_info,#popup_info2,#popup_info3{
	background: #ffffff;
	position: relative;
	width: 100%;
	text-align: center;
	color: #3b3d3d;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
}

#popup_img{
	position: relative;
	background: #ffffff;
	height: 56px;
	padding-top: 22.5px;
	padding-bottom: 22.5px;
}


#img_cal{
	position: absolute;
	top: 41%;
	left:41.5%;
	width: 25px;
	margin-right: 14.845px;
	margin-left: 14.845px;
}

#btn_close,#btn_close3{
	position: absolute;
	top: 31%;
	left: 85%;
	padding: 10px;
	width: 35px;
	float: right;
}

.popup_inner{
	background: #ffffff;
	position: relative;
	height: 50px;
	border-top: 1px solid #a2a2a2;
}

.popup_inner:hover{
	background: #a2a2a2;
	-webkit-background:#a2a2a2;
}


.popup_inner span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30%;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.popup_inner_change{
	text-align: center;
}

.popup_inner_delete{
	text-align: center;
	color: #fe4e65;
}


#float_btn{  /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	border-radius: 50%;
	z-index: 105;
	cursor: pointer;
}

#float_btn img{ /*2017.10.2*/
	width: 100%;
	height: 100%;
	
}

.rotate_btn{
	-webkit-transform: rotate(47deg);
	transform: rotate(47deg);
}



#float_inner1{ /*2017.10.2*/
	background-color: #fe4e65;
}

#float_inner1 a{ /*2017.10.2*/
	color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

#float_inner2{ /*2017.10.2*/
	background-color: #ffffff;

}

#float_inner2 a{ /*2017.10.2*/
	color: #282828;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 70%;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}


.float_inner{ /*2017.10.2*/
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	background-color: grey;
	opacity: 0;
	border-radius: 50%;
	z-index: 103;	
	font-size: 13px;
	text-align: center; 
}

#monthText{
	color : #fe4e65;
	font-size: 19.5px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	position: absolute;
	/*top: 48%;*/
	top: 42%; /*today 표식있을때*/
}

#yearText{
	color : #ffffff;
	font-size: 15px;
	width: 100%;
	text-align: center;
	position: absolute;
	/*top: 13%;*/
	top:5%; /*today 표식있을때*/
}

.todayindi{
	border-top:1.5px solid #fe4e65;
}

.nottodayindi{
	border-top: 1.5px solid #121212;
}

#ymdText{
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 4;
}

#ymdText img{
	position: relative;
	width: 100%;
	z-index: -1;
}


.calendar-style{  /*week ìŠ¤íƒ€ì¼í•˜ìœ„ */
	width: 100%;
	height: 100%;
	text-align: center;
}



.arrowButton{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.setunVisible{
	visibility: hidden;
}

.arrowButton span{
	font-weight: 600;
	line-height: 14px;
}

.arrowButtonPC{
	display: none;
}

.arrowButton a{
	position: absolute;
	top: 0%;
	font-size: 35px;
	font-weight: 600;
	color: #ffffff;
	text-decoration: none;
}


.time-style{ /*week ìŠ¤íƒ€ì¼*/
	background-color: #ffffff;
	position: relative;
	width: 100%;
	font-size: 14.4px;
	height: 35px;
	border-bottom:0.5px solid #eaeaea;
}

.hour{
	text-align: center;
	width: 21.5%;
	height: 35px;
	background-color: #f4f4f4;
	/*border: 0.5px solid #f4f4f4;*/
	font-size: 13px;
	letter-spacing: -0.3px;
	color: #3b3d3d;
}

.slidegap{
	width: 21.5%;
	color: transparent;
	background: #ffffff;
	border: 0;
}

.timeindex{
	position: absolute;
	height: 100%;
	width:21.5%;
	z-index: 10;
	color:white;
	background-color: #f4f4f4;
}

.morningtext{
	display:none;
}

.daytd{
	position: relative;
	width: 78.5%;
	height: 34px;
	color : #282828;
}


#calendar{
	/*position: fixed;*/
	position: relative;
	width: 100%;
	padding-top: 50px;
	background: transparent;
	padding-right: 0;
	padding-left: 0;
	height: 92%;
	z-index: 3;
	max-width: 1000px;
	overflow-scrolling:touch;
	-webkit-overflow-scrolling:touch;
}

.classTime{
	position: absolute;
	top: -1px;
	left: 0px;
	width: 100%;
	background: #fe4e65;
	border: 0.5px solid #fe4e65;
	z-index: 100;
	cursor: pointer;
	opacity: 0.9;
}

.classTime_re{
	background: #ff3b00a6;
	border: 0.5px solid #ff3b00a6;
}

.offTime{
	position: absolute;
	top: -1px;
	left: 0px;
	width: 100%;
	background: #cccccc;
	border: 0.5px solid #cccccc;
	z-index: 99;
	cursor: pointer;
}

.classTime:focus{
	background: #f3b5bd;
	-webkit-background: #f3b5bd;
}

.offTime:focus{
	background: #3b3d3d;
	-webkit-background: #3b3d3d;
	color:white !important;
}


/*
.classTimeIndicator{
	position: absolute;
	top: 17.5px;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fe4e65;
}
*/

.memberName1{
	position: absolute;
	left: 9%;
	line-height: 35px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #ffffff;
	cursor: pointer;
}

.memberTime1{
	position: absolute;
	right: 6%;
	line-height: 35px;
	vertical-align: middle;
	font-size: 12px;
	letter-spacing: -0.3px;
	color: #ffffff;
	cursor: pointer;
}

.offTimeText1{
	position: absolute;
	right: 6%;
	line-height: 35px;
	vertical-align: middle;
	font-size: 12px;
	letter-spacing: -0.3px;
	color: #3b3d3d;
	cursor: pointer;
}

.memberName2{
	position: absolute;
	left: 9%;
	line-height: 70px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #ffffff;
	cursor: pointer;
}

.memberTime2{
	position: absolute;
	right: 6%;
	line-height: 70px;
	vertical-align: middle;
	font-size: 12px;
	letter-spacing: -0.3px;
	color: #ffffff;
	cursor: pointer;
}

.offTimeText2{
	position: absolute;
	right: 6%;
	line-height: 70px;
	vertical-align: middle;
	font-size: 12px;
	letter-spacing: -0.3px;
	color: #3b3d3d;
	cursor: pointer;
}

.memberName3{
	position: absolute;
	left: 9%;
	line-height: 105px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -0.3px;
	color: #ffffff;
	cursor: pointer;
}

.memberTime3{
	position: absolute;
	right: 6%;
	line-height: 105px;
	vertical-align: middle;
	font-size: 12px;
	letter-spacing: -0.3px;
	color: #ffffff;
	cursor: pointer;
}

.offTimeText3{
	position: absolute;
	right: 6%;
	line-height: 105px;
	vertical-align: middle;
	font-size: 12px;
	letter-spacing: -0.3px;
	color: #3b3d3d;
	cursor: pointer;
}


.currentTimeBox{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.currentTimeIndicator{
	position: absolute;
	left: 24%;
	top: 37%;
	width: 9px;
	height: 9px;
	background-color: #fe4e65;
	border-radius: 4.5px;
	z-index: 101;
}

.currentTimeLine{
	position: absolute;
	border-top: 1px dotted #fe4e65;
	left: 25%;
	top: 49%;
	width: 75%;
	z-index: 101;
}

.currentTimeBlackBox{
	background: black;
	border-color: black;
	color: #ffffff;
}


/*미디어 쿼리*/
@media(min-width:415px){
	#cal_popup{
		display: none;
		position: fixed;
		background: transparent;
		border-color: transparent;
		top: 35%;
		left: 0;
		width: 100%;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		z-index: -2;
		text-align: center;
	}

	#cal_popup3{
		display: none;
		position: fixed;
		background: transparent;
		border-color: transparent;
		top: 35%;
		left: 0;
		width: 100%;
		/*
		background-color: #ffffff;
		border: 1px solid #a2a2a2;
		*/
		z-index: -2;
		text-align: center;
	}

	#popup_info,#popup_info2,#popup_info3{
		background: #ffffff;
		position: relative;
		margin : 0 auto;
		width: 330px;
		text-align: center;
		color: #3b3d3d;
		font-size: 14px;
		font-weight: bold;
	}

	#popup_img{
		position: relative;
		margin :0 auto;
		background: #ffffff;
		height: 70px;
		padding-top: 22.5px;
		padding-bottom: 22.5px;
		width: 330px;
	}


	#img_cal{
		position: absolute;
		top: 30%;
		left:41.5%;
		width: 25px;
		margin-right: 14.845px;
		margin-left: 14.845px;
	}

	#btn_close,#btn_close3{
		position: absolute;
		top: 22%;
		left: 85%;
		padding: 10px;
		width: 35px;
		float: right;
	}

	.popup_inner{
		background: #ffffff;
		margin: 0 auto;
		position: relative;
		height: 50px;
		border-top: 1px solid #a2a2a2;
		width: 330px;
	}

	.popup_inner:hover{
	background: #a2a2a2;
	-webkit-background:#a2a2a2;
	}
}

/*페이지 popup*/


#page-weekcal{
	display: block;
	position: absolute;
}


/*미디어 쿼리*/

@media(min-width: 600px){
	#calendar{
		position: relative;
		margin:0 auto;
		left: 0 !important;
		transform: none;
		padding-top: 100px;
	}

	.slide-notice{
		height: 600px;
		padding:0;
	}


	.slide-notice img{
		margin-top: 200px;
	}
	
	.hour{
		font-size: 14px;
		font-weight: 400;
		width: 13.5%;
	}

	#ymdText{
		height: 100px;
	}

	#yearText{
		font-size: 26px;
		top: 15%;
	}

	#monthText{
		font-size: 21.5px;
		top: 60%;
	}


	.classTime{
		background: #fe4e65;
		opacity: 0.8;
		border:0.5px solid #ffbbbb;
	}

	.offTime{
		background: #3b3d3d;
		opacity: 0.8;
	}

	.classTime:active,.classTime:hover{
		background: #fe4e65;
		-webkit-background: #fe4e65;
		opacity: 1;
	}

	.offTime:active,.offTime:hover{
		background: #3b3d3d;
		-webkit-background: #3b3d3d;
		opacity: 1;
		color: white;
	}

	table{
		
	}

	.timeindex{
		width:15%;
	}
	
	.daytd{
		border:none;
		width: 85%;
	}

	.slidegap{
		width: 15%;
	}

	.hour{
		border-left:0.5px solid #cccccc;
	}


	.memberName1{
		position: absolute;
		left: 4%;
		line-height: 35px;
		vertical-align: middle;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.memberTime1{
		position: absolute;
		left: 15%;
		right: unset;
		line-height: 35px;
		vertical-align: middle;
		font-size: 15px;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.offTimeText1{
		position: absolute;
		left: 15%;
		right: unset;
		line-height: 35px;
		vertical-align: middle;
		font-size: 15px;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.memberName2{
		position: absolute;
		left: 4%;
		line-height: 70px;
		vertical-align: middle;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.memberTime2{
		position: absolute;
		left: 15%;
		right: unset;
		line-height: 70px;
		vertical-align: middle;
		font-size: 15px;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.offTimeText2{
		position: absolute;
		left: 15%;
		right: unset;
		line-height: 70px;
		vertical-align: middle;
		font-size: 15px;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.memberName3{
		position: absolute;
		left: 4%;
		line-height: 105px;
		vertical-align: middle;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.memberTime3{
		position: absolute;
		left: 15%;
		right: unset;
		line-height: 105px;
		vertical-align: middle;
		font-size: 15px;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.offTimeText3{
		position: absolute;
		left: 15%;
		right: unset;
		line-height: 105px;
		vertical-align: middle;
		font-size: 15px;
		letter-spacing: -0.3px;
		color: #ffffff;
		cursor: pointer;
	}

	.arrowButtonPC{
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	#leftarrowPC{
		height: 100%;
		width: 25%;
		float: left;
		cursor: pointer;
		color: #282828;
	}

	#rightarrowPC{
		height: 100%;
		width: 25%;
		float: right;
		cursor: pointer;
		color: #282828;
	}

	#leftarrowPC:active,#rightarrowPC:last-child:active{
		background: #cccccc;
		color: #fe4e65;
	}

	#leftarrowPC:hover,#rightarrowPC:last-child:hover{
		background: #e1e1e1;
		color: #fe4e65;
	}

	.arrowButtonPC img{
		position: fixed;
		top: 50%;
	}

	#leftarrowPC span{
		position: fixed;
		top: 50.1%;
		left: 1.5%;
		font-weight: bold;
	}

	#rightarrowPC span{
		position: fixed;
		top: 50.6%;
		right: 1.5%;
		font-weight: bold;
	}
	

	.arrowButton{
		display:none;
	}

	#rightarrowPC img:nth-child(2){
		right: 14px;
		margin-top: 5px;
	}

	#rightarrowPC img:nth-child(3){
		right: 28px;
		margin-top: 5px;
	}

	#leftarrowPC img:nth-child(2){
		left: 14px;
		margin-top: 5px;
	}

	#leftarrowPC img:nth-child(3){
		left: 28px;
		margin-top: 5px;
	}
}

@media(min-width:900px){
	.morningtext{
		display:inline;
		position: absolute;
		left: 21px;
		font-weight: bold;
	}
}

@media(max-width: 1130px) and (min-width: 600px){
	.arrowButtonPC{
		display: none;
	}

	.arrowButton{
		display: block;
	}
	
	.arrowButton a{
		width: auto;
		top: 47%;
		height: 50px;
	}

}



