.setting_row{
	cursor: pointer;
}
.dom_tag{
	font-size: 11px;
	font-weight: normal;
	color: #d6d2d2;
	letter-spacing: -0.5px;
	height: 16px;
	padding: 12px 42px 0;
}
/* input{
	color: #282828 !important;
	-webkit-text-fill-color: #282828 !important;
	opacity: 1;
} */

input:disabled{
	/* color: #282828 !important;
	-webkit-text-fill-color: #282828 !important;
	opacity: 1; */
}

.create_row, .create_input_row, .cell_text{
	vertical-align: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.create_row{
	list-style: none;
	line-height: 24px;
	height: 24px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.7px;
	padding-top:12px;
	padding-bottom: 12px;
}

.create_input_row{
	list-style: none;
	/* line-height: 24px;
	height: 24px; */
	line-height: 28px;
	height: 28px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.7px;
	padding-top:12px;
	padding-bottom: 12px;
	/* box-sizing: border-box; */
}

.create_row:active{
	background-color: #e8e8e8;
}
.create_input_row{
	cursor: unset;
}
.create_input_row input{
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	color: inherit;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.create_input_row textarea{
	/* -webkit-appearance: none;
	border: 0;
	border-radius: 0; */
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	color: inherit;
	height: 100px;
	width: 100%;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

/* .create_input_row input::-webkit-input-placeholder, .create_input_row textarea::-webkit-input-placeholder{
	color: #b8b4b4;
}
.create_input_row input::-moz-placeholder, .create_input_row textarea::-moz-placeholder{
	color: #b8b4b4;
}
.create_input_row input:-ms-input-placeholder, .create_input_row textarea:-ms-input-placeholder{
	color: #b8b4b4;
} */

.create_input_textarea_row{
	height: auto;
}

.create_row .obj_table_raw > div, .create_input_row .obj_table_raw > div{
	/* display: table-cell; */
	vertical-align: inherit;
}

.create_row .cell_title{
	flex-basis: 42px;
}
.create_row .cell_content{
	/* flex: 2 1 0; */
	flex: 1 1 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.create_input_row .cell_title{
	flex-basis: 42px;
}
.create_input_row .cell_content{
	flex: 1 1 0;
}

.create_row .cell_title > img, .create_input_row .cell_title > img{
	margin-right: 18px;
	width: 24px;
	height: 24px;
	float: left;
}


.create_row .cell_icon{
	/* flex-basis:120px; */
	flex: 1 1 0;
	/* max-width: 120px; */
	padding-right: 1px;
	font-size: 13px;
	text-align: right;
	color: #858282;
	white-space: nowrap;
}
.create_row .cell_icon > img{
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.create_input_row .cell_icon{
	flex-basis: 120px;
	font-size: 13px;
	text-align: right;
	color: #858282;
	white-space: nowrap;
}
.create_input_row .cell_icon > img{
	width: 24px;
	height: 24px;
	/* float: right; */
	vertical-align: middle;
}


.select_ticket_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.5px;

	/* border-bottom: 1px solid #cccccc; */
	padding: 5px 20px;
}
.select_ticket_row > div{
	height: 50px;
}

.select_ticket_row .cell_ticket_color{
	/* display: table-cell; */
	/* width: 30px; */
	/* vertical-align: middle; */
	display: none;
}

.select_ticket_row .cell_ticket_color .ticket_color_bar{
	width: 3px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.select_ticket_row .cell_ticket_info{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

.select_ticket_row .cell_ticket_info > div{
	height: 25px;
	line-height: 25px;
}

.select_ticket_row .cell_ticket_selected{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}
.select_ticket_row .cell_ticket_selected img{
	display: none;
}
.select_ticket_row .cell_ticket_selected .ticket_selected{
	display: block !important;
}




.select_lecture_row{
	list-style: none;
	line-height: 36px;
	height: 36px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;

	/* border-bottom: 1px solid #cccccc; */
	padding: 10px 20px;
}

.select_lecture_row .cell_lecture_color{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}

.select_lecture_row .cell_lecture_color .lecture_color_bar{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	display: inline-block;
	vertical-align: middle;
}

.select_lecture_row .cell_lecture_info{
	display: table-cell;
	width: auto;
	vertical-align: middle;
	height:16px;
	line-height:16px;
}

.select_lecture_row .cell_lecture_info > .lecture_name_info{
	font-size: 13px;
	font-weight: 500;
	color: #1f1d1e;
	height:16px;
	line-height:16px;
}

.select_lecture_row .cell_lecture_info > .lecture_additional_info{
	font-size: 11px;
	font-weight: 500;
	color: #5c5859;
	height:16px;
	line-height:16px;
	margin-top:4px;
}

.select_lecture_row .cell_lecture_info > div{
	height: 25px;
	line-height: 25px;
}

.select_lecture_row .cell_lecture_selected{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}
.select_lecture_row .cell_lecture_selected img{
	display: none;
}
.select_lecture_row .cell_lecture_selected .lecture_selected{
	display: block !important;
}

.select_member_max_num{
	margin-left:20px;
	margin-top:16px;
	margin-bottom:16px;
	font-size:11px;
	font-weight:bold;
	letter-spacing: -0.5px;
	color:#858282;
}

.select_member_row{
	list-style: none;
	/*line-height: 56px;*/
	height: 36px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;
	color: #1f1d1e;
	/*border-bottom: 1px solid #cccccc;*/
	padding: 10px 20px;
}

.select_member_row .cell_member_name{
	width: 100%;
	vertical-align: middle;
	height: 16px;
	line-height: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.select_member_row .cell_member_info{
	width: auto;
	vertical-align: middle;
	font-size: 11px;
	color: #5c5859;
	height: 16px;
	line-height: 16px;
	margin-top: 4px;
	/*text-align: right;*/
}

.select_member_row .cell_member_fix{
	display: table-cell;
	width: 44px;
	text-align: right;
	padding-right:16px;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: -0.5px;
	color: #fe4e65;
	opacity: 0.7;
	vertical-align: middle;
}

.select_member_row .cell_member_selected{
	display: table-cell;
	width: 24px;
	vertical-align: middle;
}
.select_member_row .cell_member_selected img{
	display: none;
}
.select_member_row .cell_member_selected .member_selected{
	display: block !important;
	float: right;;
}


.select_color_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;

	border-bottom: 1px solid #cccccc;
	padding: 5px 16px;
}

.select_color_row .cell_color_name{
	display: table-cell;
	width: 40px;
	vertical-align: middle;
}

.select_color_row .cell_color_info{
	display: table-cell;
	width: auto;
	vertical-align: middle;
	text-align: left;
}

.select_color_row .cell_color_selected{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
}
.select_color_row .cell_color_selected img{
	display: none;
}
.select_color_row .cell_color_selected .color_selected{
	display: block !important;
	float: right;;
}

.schedule_history_row{
	list-style: none;
	/*height: 70px;*/
	/*line-height: auto;*/
	line-height: inherit;
	cursor: pointer;
	font-size: 12px;
  	font-weight: 500;
  	letter-spacing: -0.6px;
	color: #1f1d1e;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:14px;
	/* border-bottom: 1px solid #cccccc; */
	/*padding: 10px 4px;*/
}

.schedule_history_row .cell_schedule_num{
	display: table-cell;
	width: 32px;
	height: 20px;
	vertical-align: middle;
	padding-right: 14px;
}

.schedule_history_row .cell_schedule_info{
	display: table-cell;
	width: auto;
	height: 20px;
	vertical-align: middle;
}

.schedule_history_row .cell_schedule_attend{
	display: table-cell;
	width: auto;
	height: 20px;
	vertical-align: middle;
	text-align: right;
	padding-right: 20px;
}

.schedule_history_row .table_date_info, .schedule_history_row .table_memo_info{
	padding-top:4px;
	height: 16px;
	font-size: 11px;
  	font-weight: 500;
  	letter-spacing: -0.5px;
	color: #858282;
}

.ticket_history_row{
	list-style: none;
	height: auto;
	/*line-height: auto;*/
	line-height: inherit;
	cursor: pointer;
	font-size: 12px;
  	font-weight: 500;
  	letter-spacing: -0.6px;
	color: #1f1d1e;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:14px;
	/* border-bottom: 1px solid #cccccc; */
}
/*.ticket_history_row > div{*/
	/*margin-bottom: 4px;*/
/*}*/

.ticket_history_row .cell_ticket_num{
	display: table-cell;
	width: 45px;
	height: 20px;
	vertical-align: middle;
	padding-right: 14px;
}

.ticket_history_row .cell_ticket_info{
	display: table-cell;
	width: auto;
	height: 20px;
	vertical-align: middle;
}

.ticket_history_row .cell_ticket_attend{
	display: table-cell;
	width: 70px;
	height: 20px;
	vertical-align: middle;
	text-align: right;
	padding-right: 20px;
}


.ticket_history_row .table_date_info, .ticket_history_row .table_memo_info{
	padding-top:4px;
	height: 16px;
	font-size: 11px;
  	font-weight: 500;
  	letter-spacing: -0.5px;
	color: #858282;
}



.select_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.5px;

	border-bottom: 1px solid #f5f2f3;
}

.select_row .cell_select_icon{
	display: table-cell;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	padding-right: 18px;
}

.select_row .cell_select_title{
	display: table-cell;
	width: auto;
	vertical-align: middle;
	text-align: left;
}

.select_row .cell_select_selected{
	display: table-cell;
	width: 40px;
	vertical-align: middle;
}
.select_row .cell_select_selected img{
	display: none;
}
.select_row .cell_select_selected .option_selected{
	display: block !important;
	
}

.select_attend_row{
	list-style: none;
	line-height: 52px;
	height: 52px;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.5px;
	/* border-bottom: 1px solid #f5f2f3; */
	padding: 0 20px;
}

.select_attend_row .cell_member_name{
	/* display: table-cell; */
	/* width: 150px; */
	/* vertical-align: middle; */
	/* flex-basis: 150px; */
	flex:1 1 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.select_attend_row .cell_attend_select{
	/* display: table-cell;
	width: auto;
	vertical-align: middle; */
	flex: 1 1 0;
	min-width: 150px;
	text-align: right;
}
.select_attend_row .cell_attend_select > div{
	display: inline-block;
	width: 56px;
	font-size: 13px;
	color: #858282;
	cursor: pointer;
	letter-spacing: -0.5px;
	margin-left: 12px;
}
.select_attend_row .cell_attend_select > div > span{
	margin-right: 8px;
}
.pters_checkbox{
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 2px solid #858282;
	border-radius: 50%;
	/*margin-bottom: 2px;*/
	vertical-align: middle;
}
.checkbox_selected{
	border-color: #fe4e65;
}
.checkbox_selected_inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #fe4e65;
	vertical-align: middle;
}

.toggle_button{
	position: relative;
	width: 48px;
	height: 28px;
	border-radius: 16px;
	border: 2px solid #f5f2f3;
	background-color: #ffffff;
	box-sizing: border-box;
	cursor: pointer;
}

.toggle_button_ball{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 14px;
	box-shadow: 0 1px 4px 0 rgba(112, 112, 112, 0.5);
	background-color: #ffffff;
}
.toggle_button_active{
	background-color: #fe4e65;
}
.toggle_button_ball_active{
	left: 50%;
}

.radio_button{
	position: relative;
	width: 16px;
	height: 16px;
	border-radius:50%;
	border: 2px solid #d6d2d2;
	background-color: #ffffff;
	box-sizing: border-box;
}
.radio_button_ball{
	position: absolute;
	width: 70%;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.radio_button_active{
	border-color: #fe4e65;
}
.radio_button_ball_active{
	background-color: #fe4e65;
}

.password_4d_input_bar{
	display:inline-block;
	width:40px;
	height:2px;
	background-color:#fe4e65;
	margin: 0 6px;
	vertical-align: top;
}

.no_data_row{
	list-style: none;
	line-height: 50px;
	height: 50px;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.5px;

	border-bottom: 1px solid #cccccc;
	padding: 5px 16px;
}
.no_data_row .cell_no_data_row_text > img{
	width:30px;
	height:30px;
	vertical-align:middle;
	margin-bottom:4px;
}


/* 탭 */
.list_type_tab_wrap{
	display: inline-block;
	width: 140px;
	height: 24px;
	line-height: 24px;
	/*vertical-align: middle;*/
}
.list_type_tab_wrap > .list_tab_content{
	position: relative;
	display: inline-block;
	min-width: 36px;
	width: auto;
	font-size: 13px;
	color: #b8b4b4;
	font-weight: bold;
	line-height: 24px;
	text-align: left;
	/*padding-bottom: 12px;*/
	letter-spacing: -0.6px;
	vertical-align: middle;
	cursor: pointer;
}
.list_type_tab_wrap > .list_tab_divider{
	position: relative;
	display: inline-block;
	width: 2px; 
	height: 12px;
	line-height: 24px;
	letter-spacing: -0.6px;
	vertical-align: middle;
	background-color: #f5f2f3; 
	margin:8px;
}
.list_sort_select_wrap{
	float: right;
	max-width: 140px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	color: #b8b4b4;
	text-align: right;
	cursor: pointer;
}
.list_sort_select_wrap select{
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	width: 100%;
	height: 28px;
	line-height: 28px;
	vertical-align: top;
	font-size: inherit;
}
.tab_selected{
	color: #1f1d1e !important;
}
.tab_selected_bar{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 16px;
	height: 4px;
	border-radius: 2px;
	background-color: #fe4e65;
}
/* 탭 */



