
.nav_img:active{
    animation-name: pulse-strong;
    animation-duration: 0.4s;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: 1; 
    animation-timing-function: ease-out;
}

.anim_pulse{
	animation-name: pulse;
	animation-duration: 0.4s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-out;
}

.anim_pulse_strong{
    animation-name: pulse-strong;
	animation-duration: 0.4s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-out;
}

@keyframes pulse{
    0%{
        transform:scale(1)  
    }
    20%{
        transform:scale(1.05)  
    }
    30%{
        transform:scale(1.1)
    }
    80%{
        transform:scale(1);
    }
}

@keyframes pulse-strong{
    0%{
        transform:scale(1.1)  
    }
    20%{
        transform:scale(1.2)  
    }
    30%{
        transform:scale(1.15)
    }
    100%{
        transform:scale(1);
    }
}

.anim_fade_in_vibe_top{
	animation-name: fade-in-vibe-top;
	animation-duration: 0.4s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-out;
}

@keyframes fade-in-vibe-top{
    0%{opacity: 0;
        transform:translateY(-10px);    
    }
    100%{opacity: 1;
        transform:translateY(0px);
    }
}

.anim_fade_in{
    animation-name: fade-in;
	animation-duration: 0.3s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-out;
}

@keyframes fade-in{
    0%{opacity: 0;  
    }
    100%{opacity: 1;
    }
}

.anim_fade_out{
    animation-name: fade-out;
	animation-duration: 0.3s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-out;
}

@keyframes fade-out{
    0%{opacity: 1;  
    }
    100%{opacity: 0;
    }
}


.anim_page_to_right{
    animation-name: appear-to-right;
	animation-duration: 0.3s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-out;
}

@keyframes appear-to-right{
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

.anim_page_to_left{
    animation-name: appear-to-left;
	animation-duration: 0.3s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-out;
}

@keyframes appear-to-left{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-50px);
    }
}

.anim_paging_next{
    animation-name: paging-next;
	animation-duration: 0.2s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-in-out;
}

@keyframes paging-next{
    0%{
        transform: scale(1);
        z-index: 1500;
        opacity: 0.3;
        right:8%;
    }
    100%{
        transform: scale(1.2);
        z-index: 0;
        opacity: 0;
        right:1%;
    }
}

.anim_paging_prev{
    animation-name: paging-prev;
	animation-duration: 0.2s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1; 
	animation-timing-function: ease-in-out;
}

@keyframes paging-prev{
    0%{
        transform: scale(1);
        z-index: 1500;
        opacity: 0.3;
        left: 8%;
    }
    100%{
        transform: scale(1.2);
        z-index: 0;
        opacity: 0;
        left: 1%;
    }
}

.anim_blink{
    position: relative;
    /* animation-name: border-bg-blink;
	animation-duration: 1s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; */
}
.anim_blink::before{
    content:"";
    border:6px solid orange;
    position: absolute;
    bottom:0px;
    right:0px;
    border-top-color: transparent;
    border-left-color: transparent;
    z-index: 1;
    animation-name: border-bg-blink;
	animation-duration: 1.5s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
}
.anim_blink::after{
    content:"";
    border:7px solid var(--bg-main);
    position: absolute;
    bottom:0px;
    right:0px;
    border-top-color: transparent;
    border-left-color: transparent;
    z-index: 0;
    /* animation-name: border-bg-blink;
	animation-duration: 1s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; */
}

@keyframes border-bg-blink{
    0%{
        opacity: 1;
    }
    60%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes heart-beat {
	0% { transform: scaleX(1.1) scaleY(1.0) }
	50% { transform: scaleX(1.2) scaleY(1.1) }
	100% { transform: scaleX(1.1) scaleY(1.0) }
}
.anim_heartbeat{
	animation: heart-beat 0.8s infinite;
	border: 2px solid var(--bg-highlight);
	z-index: 3;
}




#shade_for_popup_basic{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: var(--bg-for-only-shade);
    opacity:0.5;
    display: none;
    /* transition: 0.1s; */
}
#shade_for_popup_preventing_touch{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: transparent;
    /* opacity:0.1;
    background-color: red; */
    display: none;
}

#root_content{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0); */

    position: relative;
    max-width: 1024px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    background-color: var(--root-content-bg-color);
    color: var(--root_content-font-color);
    height: 100%;
    margin: 0 auto;
}


#root_nav{
    position: absolute;
    width: 100%;
    /* max-width: 800px; */
    max-width: 1024px;
    height: 56px;
    background-color: var(--root-nav-bg-color);
    border-top: var(--root-nav-border);
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    text-align: center;
    transition: 0.2s;
}
    .nav_img{
        position: relative;
        width: 40px;
        height: 30px;
        margin: 0 auto;
        line-height: 30px;
    }
        .nav_img>img{
            height: 25px;
            vertical-align: middle;
        }
        .new_alarm_indicator{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 5px;
            height:5px;
            border-radius: 50%;
            background-color: #fe4e65;
        }
    .nav_text{
        /* display: none; */
        height: 15px;
        line-height: 15px;
        font-size:10px;
        color: #858282;
    }
#root_nav_quick{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 16px;
    bottom: 0px;
    transform: translateY(40px);
    text-align: center;
    transition: 0.2s;
    opacity: 0.8;
}
    #root_nav_quick > div {
        width: 40px;
        height: 40px;
        background-color: var(--bg-main);
        border: var(--border-article);
        border-radius: 50%;
    }
    #root_nav_quick > div > img {
        width: 100%;
    }
.ajax_loading_image{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    z-index: 1500;
}
.gap{
    margin-top: 10px;
}

/*PC버전 Wrapper 코드 시작 */
html, body{
    height: 100%;
    color: var(--font-main);
}
#base{
    display: flex;
    height: 100%;
}
    #section_side{
        flex:0 0 200px;
        display: inline-block;
        width: 200px;
        background-color: var(--bg-light);
        transition: 0.2s;
        overflow: hidden;
    }
    #section_center{
        position: relative;
        /* flex: 1 0 0; */
        display: inline-block;
        width: calc(100% - 200px);
    }
    #section_content{
        position: relative;
        flex: 1 1 auto;
        padding: 36px;
        /* padding-top: 96px; */
        padding-top: 76px;
        box-sizing: border-box;
        height: 100%;
        background-color: var(--bg-main);
    }
        #content_wrapper{
            position: relative;
            max-width: 1024px;
            /* box-shadow: 0 0 24px 0 #ebebeb; */
            box-shadow: var(--box-shadow-article);
            height: 100%;
        }
    #section_up_menu{
        position: absolute;
        width: 100%;
        height: 60px;
        border-bottom: var(--border-article);
        background-color: var(--bg-main);
        z-index: 2;
    }
    .top_logo{
        /* padding: 16px 22px; */
        padding: 0 5px;
        height: 60px;
        line-height: 60px;
        cursor: pointer;
        text-align: center;
    }
    
@media(max-width:650px){
    #section_side{
        display: none;
    }
    #section_center{
        width: 100%;
    }
    #section_up_menu{
        display: none;
    }
    #section_content{
        padding: 0;
    }
    #root_nav{
        display: block;
    }
    #root_nav_quick{
        display: block;
    }
}
@media(min-width:651px){
    #root_nav{
        display: none;
    }
    #root_nav_quick{
        display: none;
    }
}

.up_menu_tool{
    display:flex;
    float:right;
    font-size: 12px;
    font-weight: 500;
    width: 220px;
    line-height: 60px;
    padding: 0 20px;
}
.up_menu_tool > div{
    cursor: pointer;
}

.up_menu_img{
    width: 24px;
    vertical-align: middle;
    margin: 0 8px 4px 8px;
}

::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-track {background-color:var(--bg-main);}
::-webkit-scrollbar-thumb {background-color:var(--bg-inactive);border-radius: 6px;}
::-webkit-scrollbar-thumb:hover {background: var(--bg-highlight);}