{
    "memberNameArray":
  [{% for member_info in member_data %}"{{ member_info.member.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "memberPhoneArray":
  [{% for member_info in member_data %}"{{ member_info.member.phone }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "memberPhoneArray":
  [{% for member_info in member_data %}"{{ member_info.member.age }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "memberBirthdayDateArray":
  [{% for member_info in member_data %}"{{ member_info.member.birthday_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "memberAddressArray":
  [{% for member_info in member_data %}"{{ member_info.member.address }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "memberJobArray":
  [{% for member_info in member_data %}"{{ member_info.member.job }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "memberContentsArray":
  [{% for member_info in member_data %}"{{ member_info.member.contents }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "memberRegDtArray":
  [{% for member_info in member_data %}"{{ member_info.member.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
    "memberModDtArray":
  [{% for member_info in member_data %}"{{ member_info.member.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

  "messageArray" :
  [{% for message in messages %}"{% if message.tags == "error" %}{{ message }}{% endif %}"{%if forloop.last == False%},{% endif %}{% endfor %}]
}
