    {
        "centerNameArray":
      [{% for class_info in class_data %}"{{ class_info.center_tb.center_name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "trainerNameArray":
      [{% for class_info in class_data %}"{{ class_info.member.name }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "subjectCodeArray":
      [{% for class_info in class_data %}"{{ class_info.subject_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "subjectNameArray":
      [{% for class_info in class_data %}"{{ class_info.subject_type_name.common_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "startDateArray":
      [{% for class_info in class_data %}"{{ class_info.start_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "endDateArray":
      [{% for class_info in class_data %}"{{ class_info.end_date }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "stateCodeArray":
      [{% for class_info in class_data %}"{{ class_info.state_cd }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "stateNameArray":
      [{% for class_info in class_data %}"{{ class_info.state_cd_name.common_cd_nm }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "classHourArray":
      [{% for class_info in class_data %}"{{ class_info.class_hour }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "classHourUnitArray":
      [{% for class_info in class_data %}"{{ class_info.start_hour_unit }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "classMemberNumArray":
      [{% for class_info in class_data %}"{{ class_info.class_member_num }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "modDtArray":
      [{% for class_info in class_data %}"{{ class_info.mod_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],
        "regDtArray":
      [{% for class_info in class_data %}"{{ class_info.reg_dt }}"{%if forloop.last == False%},{% endif %}{% endfor %}],

      "messageArray" :
      [{% for message in messages %}{% if message.tags == "error" %}"{{ message }}"{% endif %}{%if forloop.last == False%},{% endif %}{% endfor %}]
    }
