<!--피터스 상단 셀렉트 박스 모듈-->
    <div id="" class="pters_selectbox_wrapper">
        <div id="" onclick="" class="pters_selectbox_btn pters_selectbox_btn_selected">
            <span class="KRtext">관리메뉴1</span>
        </div>
        <div id="" onclick="" class="pters_selectbox_btn">
            <span class="KRtext">관리메뉴2</span>
        </div>
        <div id="" onclick="" class="pters_selectbox_btn">
            <span class="KRtext">관리메뉴3</span>
        </div>
    </div>
<!--피터스 상단 셀렉트 박스 모듈-->

<!--피터스 On/Off 스위치-->
<span class="pters_switch_label">스위치이름</span>
<div id="" class="pters_switch">
    <div class="switchback"></div>
    <div class="switchball switchoff"></div>
</div>
<!--피터스 On/Off 스위치-->

<!--피터스 seekbar 모듈-->
<div class="pters_seekbar_wrapper" id="worktimeset_seekbar">
    <div class="pters_seekbar_bar">
        <div class="pters_seekbar_segment"><span>0</span></div>
        <div class="pters_seekbar_segment"><span>1</span></div>
        <div class="pters_seekbar_segment"><span>2</span></div>
        <div class="pters_seekbar_segment"><span>3</span></div>
        <div class="pters_seekbar_segment"><span>4</span></div>
        <div class="pters_seekbar_segment"><span>5</span></div>
        <div class="pters_seekbar_segment"><span>6</span></div>
        <div class="pters_seekbar_segment"><span>7</span></div>
        <div class="pters_seekbar_segment"><span>8</span></div>
        <div class="pters_seekbar_segment"><span>9</span></div>
        <div class="pters_seekbar_segment"><span>10</span></div>
        <div class="pters_seekbar_segment"><span>11</span></div>
        <div class="pters_seekbar_segment"><span>12</span></div>
        <div class="pters_seekbar_segment"><span>13</span></div>
        <div class="pters_seekbar_segment"><span>14</span></div>
        <div class="pters_seekbar_segment"><span>15</span></div>
        <div class="pters_seekbar_segment"><span>16</span></div>
        <div class="pters_seekbar_segment"><span>17</span></div>
        <div class="pters_seekbar_segment"><span>18</span></div>
        <div class="pters_seekbar_segment"><span>19</span></div>
        <div class="pters_seekbar_segment"><span>20</span></div>
        <div class="pters_seekbar_segment"><span>21</span></div>
        <div class="pters_seekbar_segment"><span>22</span></div>
        <div class="pters_seekbar_segment"><span>23</span></div>
    </div>
    <div class="pters_seekbar_start_ball"></div>
    <div class="pters_seekbar_end_ball"></div>
    <div class="pters_seekbar_length_bar"></div>
    <div class="pters_seekbar_mobile_guide"></div>
</div>
<!--피터스 seekbar 모듈-->