{% extends "center_base.html" %}
{% load static_url %}

{% block local_css %}

    <link rel="stylesheet" href={% static_url "user/css/center/pters.center.reserve.setting.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
{% endblock %}



{% block content %}


    <form action="{% url 'center:update_setting_push' %}" id="update-setting-push-form" method="post">
        {% csrf_token %}
        
        <!--<input type="hidden" name="setting_trainee_schedule_confirm1" id="id_setting_trainee_schedule_confirm1" value="09:00"> min 00:00 max 23:59  -->
        <!--<input type="hidden" name="setting_trainee_schedule_confirm2" id="id_setting_trainee_schedule_confirm2" value="16:00"> min 00:00 max 23:59  -->
        <!--<input type="hidden" name="setting_trainee_no_schedule_confirm"   id="id_setting_trainee_no_schedule_confirm" value="7">시간 숫자-->
        <!--<input type="hidden" name="setting_center_schedule_confirm"   id="id_setting_center_schedule_confirm" value="08:00-22:00"> min 00:00 max 23:59  -->
        <!--<input type="hidden" name="setting_center_no_schedule_confirm1"   id="id_setting_center_no_schedule_confirm1" value="08:00-22:00"> min 00:00 max 23:59  -->
        <!--<input type="hidden" name="setting_center_no_schedule_confirm2"   id="id_setting_center_no_schedule_confirm2" value="5"> 시간 숫자-->
        <input type="hidden" name="setting_trainee_todaylesson_notice"   id="id_setting_trainee_todaylesson_notice" value=""> <!-- 숫자 -->
        <input type="hidden" name="setting_trainee_lessonfinish_alert"   id="id_setting_trainee_lessonfinish_alert" value=""> <!-- 숫자 -->
        <input type="hidden" name="setting_to_trainee_lesson_alarm"   id="id_setting_to_trainee_lesson_alarm" value=""> <!-- On/Off -->
        <input type="hidden" name="setting_from_trainee_lesson_alarm"   id="id_setting_from_trainee_lesson_alarm" value=""> <!-- On/Off -->

        <input type="hidden" name="next_page" value = '{% url 'center:push_setting' %}'>
    </form>

    <div id="ymdText">
        <div id="ymdTextWrap">
            <div id="menuName">푸시 설정
            </div>
            <div id="menuDescription">(앱을 설치한 경우) 푸시 알림 설정을 합니다.
            </div>
        </div>
    </div>
<!--
    <div id="memberLessonNoticeSettingText" class="settingMenu wrap800">
        <p class="settingText">[회원에게] 당일 레슨일정 확인 알림</p>
        <p class="settingText2">회원에게 당일 예약된 레슨 일정 안내 알림을 전송합니다.</p>
        <div id="switch1" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
    </div>
    <div id="memberLessonNoticeSetting" class="settingBox wrap800" style="display: none;">
        <div class="iconText" style="width: 100%;">
            <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 전송 시간 설정</span>
            <div id="timeSelect" class="dropdown">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="ulTimes1" class="dropdown-menu pters_dropdown_custom ulTimes">
                    <li><a data-time="1">1시간 전</a></li>
                    <li><a data-time="2">2시간 전</a></li>
                    <li><a data-time="3">3시간 전</a></li>
                    <li><a data-time="4">4시간 전</a></li>
                    <li><a data-time="5">5시간 전</a></li>
                    <li><a data-time="6">6시간 전</a></li>
                    <li><a data-time="7">7시간 전</a></li>
                    <li><a data-time="8">8시간 전</a></li>
                    <li><a data-time="9">9시간 전</a></li>
                    <li><a data-time="10">10시간 전</a></li>
                    <li><a data-time="11">11시간 전</a></li>
                    <li><a data-time="12">12시간 전</a></li>
                    <li><a data-time="24">1일 전</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="memberFinishAlertSettingText" class="settingMenu wrap800">
        <p class="settingText">[회원에게] 레슨등록 종료 임박 알림 전송</p>
        <p class="settingText2">레슨 횟수 종료가 임박한 회원에게 자동으로 알림을 전송합니다.</p>
        <div id="switch2" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
    </div>
    <div id="memberFinishAlertSetting" class="settingBox wrap800" style="display: none;">
        <div class="iconText" style="width: 100%;">
            <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 알림 발송 설정</span>
            <div id="timeSelect2" class="dropdown">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="ulTimes2" class="dropdown-menu pters_dropdown_custom ulTimes">
                    <li><a data-time="1">종료 1회 전</a></li>
                    <li><a data-time="2">종료 2회 전</a></li>
                    <li><a data-time="3">종료 3회 전</a></li>
                    <li><a data-time="4">종료 4회 전</a></li>
                    <li><a data-time="5">종료 5회 전</a></li>
                    <li><a data-time="1d">수강종료 1일 전</a></li>
                    <li><a data-time="2d">수강종료 2일 전</a></li>
                    <li><a data-time="3d">수강종료 3일 전</a></li>
                    <li><a data-time="4d">수강종료 4일 전</a></li>
                    <li><a data-time="5d">수강종료 5일 전</a></li>
                    <li><a data-time="6d">수강종료 6일 전</a></li>
                    <li><a data-time="7d">수강종료 7일 전</a></li>
                </ul>
            </div>
        </div>
    </div>
-->

    <div id="memberlessonChangeAlarmSettingText" class="settingMenu wrap800">
        <p class="settingText">[회원에게] 레슨 일정 변경 알림</p>
        <p class="settingText2">내가 일정 등록/취소/완료 하면 해당 회원에게 <br>변경내용 푸시알림 보내기</p>
        <div id="switch3" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
    </div>

    <div id="lessonChangeAlarmSettingText" class="settingMenu wrap800">
        <p class="settingText">[나에게] 레슨 일정 변경 알림</p>
        <p class="settingText2">회원이 레슨을 예약/취소 하면 푸시알림 받기</p>
        <div id="switch4" class="pters_switch"><div class="switchback"></div><div class="switchball switchoff"></div></div>
    </div>

    <div class="popupBtn_mini">
        <button class="submitBtn _button_Prev">이전</button>
        <button class="submitBtn _button_Next">등록</button>
    </div>



{% endblock %}




{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        if($('body').width()<600){
            $('#page-base-addstyle').css('display','block');
            $('#page-base').css('display','none');
            $('#uptext2').text("푸시 알림 설정");
        }

        //DB에 저장된 옵션값
        /*
{#        var lt_pus_01 =  ['{{ lt_pus_01 }}'];#}
{#        var lt_pus_02 =  ['{{ lt_pus_02 }}'];#}
{#        var lt_pus_03 =  ['{{ lt_pus_03 }}'];#}
{#        var lt_pus_04 =  ['{{ lt_pus_04 }}'];#}
{#        var lt_pus_05 =  ['{{ lt_pus_05 }}'];#}
{#        var lt_pus_06 =  ['{{ lt_pus_06 }}'];#}
        */
        var lt_pus_01 =  [0];
        var lt_pus_02 =  [3];
        var lt_pus_to_trainee_lesson_alarm =  '{{ request.session.setting_to_trainee_lesson_alarm }}';
        var lt_pus_from_trainee_lesson_alarm =  '{{ request.session.setting_from_trainee_lesson_alarm }}';

        var select_all_check = false;

        /*모듈 기본 동작*/
        $('.pters_switch').click(function(){
            if($(this).find('.switchball').hasClass('switchoff')){
                $(this).addClass('sw_on').removeClass('sw_off');
                $(this).find('.switchball').removeClass('switchoff').addClass('switchon');
                $(this).find('.switchback').addClass('switchon-back');
            }else{
                $(this).addClass('sw_off').removeClass('sw_on');
                $(this).find('.switchball').removeClass('switchon').addClass('switchoff');
                $(this).find('.switchback').removeClass('switchon-back');
            }
        });

        $('ul.pters_dropdown_custom li a').click(function(){
            $(this).parents('ul').siblings('button').val( 
                                                            $(this).val()
                                                        )
                                                    .text(
                                                            $(this).text()
                                                        );
        });
        /*모듈 기본 동작*/


        $('#switch1').click(function(){
            if($(this).hasClass('sw_on')){
                console.log('ononon')
                //스위치 켰을때 To-Do
                $('#memberLessonNoticeSetting').css('display','block');
            }else if($(this).hasClass('sw_off')){
                console.log('ofofof')
                $('#memberLessonNoticeSetting').css('display','none');
                //수위치 껐을때 To-Do
            }
        });

        $('#switch2').click(function(){
            if($(this).hasClass('sw_on')){
                console.log('ononon')
                //스위치 켰을때 To-Do
                $('#memberFinishAlertSetting').css('display','block');
            }else if($(this).hasClass('sw_off')){
                console.log('ofofof')
                //수위치 껐을때 To-Do
                $('#memberFinishAlertSetting').css('display','none');
            }
        });

        $('#switch3').click(function(){
            if($(this).hasClass('sw_on')){
                console.log('ononon')
                //스위치 켰을때 To-Do
                $('#id_setting_to_trainee_lesson_alarm').val(1);
            }else if($(this).hasClass('sw_off')){
                console.log('ofofof')
                //수위치 껐을때 To-Do
                $('#id_setting_to_trainee_lesson_alarm').val(0);
            }
        });

        $('#switch4').click(function(){
            if($(this).hasClass('sw_on')){
                console.log('ononon')
                //스위치 켰을때 To-Do
                $('#id_setting_from_trainee_lesson_alarm').val(1);
            }else if($(this).hasClass('sw_off')){
                console.log('ofofof')
                //수위치 껐을때 To-Do
                $('#id_setting_from_trainee_lesson_alarm').val(0);
            }
        });

        $('#memberLessonNoticeSetting #ulTimes1 li a').click(function(){
            $('#id_setting_trainee_todaylesson_notice').val(
                                                                $(this).attr('data-time')
                                                            );
        });

        $('#memberFinishAlertSetting #ulTimes2 li a').click(function(){
            $('#id_setting_trainee_lessonfinish_alert').val(
                                                                $(this).attr('data-time')
                                                            );
        })

        /*DB저장값으로 초기 셋팅 해주기*/
        $('#id_setting_trainee_todaylesson_notice').val(Number(lt_pus_01[0]));
        if(Number(lt_pus_01[0]) != 0){
            var db_value = Number(lt_pus_01[0]);

            $('#switch1').addClass('sw_on');
            $('#switch1 .switchback').addClass('switchon-back');
            $('#switch1 .switchball').addClass('switchon').removeClass('switchoff');

            $('#memberLessonNoticeSetting').css('display','block');
            $('#memberLessonNoticeSetting button').text(
                                                            $('#ulTimes1 li a[data-time="'+db_value+'"]').text()
                                                        )
                                                   .val(
                                                            $('#ulTimes1 li a[data-time="'+db_value+'"]').attr('data-time')
                                                        );
        };

        $('#id_setting_trainee_lessonfinish_alert').val(Number(lt_pus_02[0]));
        if(Number(lt_pus_02[0]) != 0){
            var db_value = Number(lt_pus_02[0]);

            $('#switch2').addClass('sw_on');
            $('#switch2 .switchback').addClass('switchon-back');
            $('#switch2 .switchball').addClass('switchon').removeClass('switchoff');

            $('#memberFinishAlertSetting').css('display','block');
            $('#memberFinishAlertSetting button').text(
                                                            $('#ulTimes2 li a[data-time="'+db_value+'"]').text()
                                                        )
                                                   .val(
                                                            $('#ulTimes2 li a[data-time="'+db_value+'"]').attr('data-time')
                                                        );
        };

        $('#id_setting_to_trainee_lesson_alarm').val(Number(lt_pus_to_trainee_lesson_alarm));
        if(Number(lt_pus_to_trainee_lesson_alarm) != 0){
            var db_value = Number(lt_pus_to_trainee_lesson_alarm);
            $('#switch3').addClass('sw_on');
            $('#switch3 .switchback').addClass('switchon-back');
            $('#switch3 .switchball').addClass('switchon').removeClass('switchoff');
        };

        $('#id_setting_from_trainee_lesson_alarm').val(Number(lt_pus_from_trainee_lesson_alarm));
        if(Number(lt_pus_from_trainee_lesson_alarm) != 0){
            var db_value = Number(lt_pus_from_trainee_lesson_alarm);
            $('#switch4').addClass('sw_on');
            $('#switch4 .switchback').addClass('switchon-back');
            $('#switch4 .switchball').addClass('switchon').removeClass('switchoff');
        };


        /*DB저장값으로 초기 셋팅 해주기*/
    

        $("#upbutton-check, ._button_Next").click(function(){
            //if(select_all_check==true){
            document.getElementById('update-setting-push-form').submit();
            //}else{

            //입력값 확인 메시지 출력 가능
            //}
        });

        $('#upbutton-x, ._button_Prev').click(function(){
            location.href="/center/center_setting/"
        });

        function check_dropdown_selected(){ //회원명, 날짜, 진행시간, 시작시간을 모두 선택했을때 상단 Bar의 체크 아이콘 활성화(색상변경: 검은색-->초록색)
            
            var trainee_todaylesson_notice = $('#id_setting_trainee_todaylesson_notice');
            var trainee_lessonfinish_alert = $('#id_setting_trainee_lessonfinish_alert');
            var trainee_lessonchanged_alarm = $('#id_setting_to_trainee_lesson_alarm');
            var center_lessonchanged_alarm = $('#id_setting_from_trainee_lesson_alarm');

            if(trainee_todaylesson_notice != lt_pus_01[0] || trainee_lessonfinish_alert != lt_pus_02[0] || trainee_lessonchanged_alarm != lt_pus_to_trainee_lesson_alarm || center_lessonchanged_alarm != lt_pus_from_trainee_lesson_alarm  ){
                $("#upbutton-check").html("<img src='/static/user/res/ptadd/btn-complete-checked.png' style='width:100%;'>");
                select_all_check=true;
            }else{
                select_all_check=false;
            };
        };
    </script>

{% endblock %}