{% extends "center_base.html" %}
{% load static_url %}

{% block local_css %}
    <link rel="stylesheet" href={% static_url "user/css/center/pters.center.language.setting.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/pters.add.style.css" %}>
{% endblock %}



{% block content %}


    <form action="/center/update_setting_language/" id="update-setting-language-form" method="post">
        {% csrf_token %}
        <input type="hidden" name="setting_member_language" id="id_setting_language" value="">
        <input type="hidden" name = "next_page" value="/center/">
    </form>


    <div id="language_setting_label" class="settingMenu wrap800">
        <p class="settingText">언어 설정</p>
        <p class="settingText2">PTERS 언어설정</p>
    </div>
    <div id="language_setting" class="settingBox wrap800">
        <div class="iconText">
            <img src="/static/user/res/icon-start.png" alt="" class="icons"><span> 언어/Language/言語</span>
            <div id="languageSelect" class="dropdown pters_dropdown_setting_custom" style="margin-left:62px;">
                <button class="btn btn-default dropdown-toggle pters_dropdown_custom" type="button" data-toggle="dropdown">선택<span class="caret"></span></button>
                <ul id="language_list" class="dropdown-menu pters_dropdown_custom ulTimes">
                    <li><a data-lang="KOR">한국어</a></li>
                    <li><a data-lang="ENG">English</a></li>
                    <li><a data-lang="JPN">日本語</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="popupBtn_mini">
        <button class="submitBtn _button_Prev">이전</button>
        <button class="submitBtn _button_Next">등록</button>
    </div>


{% endblock %}


{% block local_js_footer %}
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        $('a.__setting').css('color','#fe4e65;')

        if($('body').width()<600){
            $('#page-base-addstyle').css('display','block')
            $('#page-base').css('display','none')
            $('#uptext2').text("Language/언어/言語")
        }



        initial_language_setting_value()
        var select_all_check = false;


        $('ul li a').click(function(){
            $(this).parents('ul').siblings('button').addClass("dropdown_selected").text($(this).text()).val($(this).attr('data-lang'))
            $('#id_setting_language').val($(this).attr('data-lang'))
            console.log($(this).attr('data-lang'))
            check_dropdown_selected();
        })

        $("#upbutton-check, ._button_Next").click(function(){
            if(select_all_check==true){
                document.getElementById('update-setting-language-form').submit();
            }else{

            }
        })

        $('#upbutton-x, ._button_Prev').click(function(){
            location.href="/center/center_setting/"
        })

        function check_dropdown_selected(){ //회원명, 날짜, 진행시간, 시작시간을 모두 선택했을때 상단 Bar의 체크 아이콘 활성화(색상변경: 검은색-->초록색)
            if($('#languageSelect button').val() != Options.language){
                select_all_check=true;
                $("#upbutton-check").html("<img src='/static/user/res/ptadd/btn-complete-checked.png' style='width:100%;'>");
            }else{
                select_all_check=false;
                $("#upbutton-check").html("<img src='/static/user/res/ptadd/btn-complete.png' style='width:100%;'>");
            }
        }

        function initial_language_setting_value(){
            var init_value = Options.language;
            var text = $('a[data-lang='+init_value+']').text()
            $('#id_setting_language').val(init_value)
            $('#languageSelect button').addClass("dropdown_selected").text(text).val(init_value)
        }


    </script>
    <script type="text/javascript" src={% static_url "user/js/center/pters.center.setting.language.js" %}></script>

{% endblock %}