/* 예/아니오 등 기본 팝업 CSS */
.popup_mobile_basic{
    background-color:transparent;
    box-shadow: unset;
}
.popup_mobile_basic > div{
    /*display: none;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    /*transform:translateX(100%);*/
    background-color: var(--bg-main);

    width: 300px;
    border: var(--border-article-dark);
    border-radius: 5px;
}

.wrapper_popup_basic_comment{
    position: relative;
    text-align: center;
    /* height: 65px; */
    height: auto;
    min-height: 65px;
    /* 아래  .wrapper_popup_basic_comment > p 주석처리랑 쌍으로 묶임, 아래 주석지우면 height 65px로 */
    
    display: table;
    width: 100%;
}
.wrapper_popup_basic_comment > div{
    margin: 0;
    width:  100%;
    /* padding: 0 15px; */
    padding: 25px 15px;
    box-sizing: border-box;
    /* position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%); */
    display: table-cell;
    vertical-align: middle;
}

.wrapper_popup_basic_buttons{
    text-align: center;
    border-top: var(--border-article-dark);
    cursor: pointer;
    height: 65px;
    line-height: 65px;
    /* height: 52px;
    line-height: 52px; */
    /* padding-top:8px;
    padding-bottom:8px; */
}

    .wrapper_popup_basic_buttons .popup_basic_cancel{
        cursor: pointer;
        /*border-right: 1px solid #cccccc;*/
    }

    .wrapper_popup_basic_buttons .popup_basic_confirm{
        cursor: pointer;
    }

.popup_basic_user_input_text, .popup_basic_user_input_number{
    text-align: center;
}
    .popup_basic_user_input_data{
        -webkit-appearance: none;
        width: 85%;
        height: 40px;
        font-size: 16px;
        background-color: var(--bg-main);
        margin: 10px 0;
        border-radius: 0px;
        border: 0;
        border-bottom: var(--border-article-dark);
        box-sizing: border-box;
        text-align: center;
    }